Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(components): a plain component is state a handler writes to (ADR-033 S1+S2)
  changelog.d/adr-033-component-state.changed.md
  docs/adr/033-plain-component-state-and-identity.md
  python/djust/change_detection.py
  python/djust/components/base.py
  python/djust/components/components/bar_chart.py
  python/djust/components/components/data_grid.py
  python/djust/components/components/data_table.py
  python/djust/components/components/line_chart.py
  python/djust/components/components/pie_chart.py
  python/djust/components/components/sparkline.py
  python/djust/components/components/virtual_list.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/serialization.py
  python/djust/tests/test_component_state_adr033.py
  python/djust/tests/test_component_state_persistence_adr033.py
  python/tests/test_decimal_converters_2239.py
Due: pytest

feat(components): Component.event_attrs — typed dj-value-* params and per-instance name (ADR-033 S3, framework half)
  python/djust/components/base.py
  python/djust/tests/test_component_event_attrs_adr033.py
  python/djust/tests/test_component_typed_events_sweep_adr033.py
Due: pytest

test: update pins ADR-033 moves — setattr whitelist lines, the one public key in a Component's dict, slot-content triggers in the sweep pin
  python/djust/tests/test_component_typed_events_sweep_adr033.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/tests/test_object_attribute_resolution_2501.py
Due: pytest

feat(theming): storybook usage and demo handlers follow ADR-033 (S4); docs carry the state-written-through form
  changelog.d/storybook-usage.changed.md
  docs/website/core-concepts/components.md
  docs/website/guides/components.md
  python/djust/components/components/model_selector.py
  python/djust/components/components/segmented_progress.py
  python/djust/tests/test_storybook_preview_fidelity.py
  python/djust/tests/test_storybook_ux.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/storybook.py
Due: pytest

docs(adr): ADR-033 — record M8, the 10k-row table snapshot pair (15 µs narrowed vs 16 ms walked)
  docs/adr/033-plain-component-state-and-identity.md
Due: none

docs(adr): carry ADR-031's file, which ADR-032 and ADR-033 link to but main never received
  docs/adr/031-class-level-component-rendering.md
Due: none

fix(utils): get_template_dirs() follows override_settings(TEMPLATES) in and out
  python/djust/tests/test_template_dirs_cache_setting_changed.py
  python/djust/utils.py
Due: pytest

fix(components): review of #2925 — form-field `name` is not an identity, typed ids compare as text, non-JSON values render as str (ADR-033 S3)
  python/djust/change_detection.py
  python/djust/components/base.py
  python/djust/components/components/accordion.py
  python/djust/components/components/combobox.py
  python/djust/components/components/file_tree.py
  python/djust/components/components/kanban_board.py
  python/djust/components/components/multi_select.py
  python/djust/components/components/notification_center.py
  python/djust/components/components/org_chart.py
  python/djust/components/components/rich_select.py
  python/djust/components/components/table_of_contents.py
  python/djust/components/components/tabs.py
  python/djust/components/components/timeline.py
  python/djust/components/components/tree_view.py
  python/djust/live_view.py
  python/djust/serialization.py
  python/djust/tests/test_component_event_attrs_adr033.py
  python/djust/tests/test_component_state_persistence_adr033.py
  python/djust/tests/test_component_typed_events_sweep_adr033.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/validation.py
Due: pytest

docs(adr): ADR-033 — record the name-identity rule for form-field components and the compatibility notes
  changelog.d/adr-033-component-state.changed.md
  docs/adr/033-plain-component-state-and-identity.md
Due: none

fix(utils): the template-dirs setting_changed receiver accepts a bare signal send
  python/djust/utils.py
Due: pytest

fix(theming): review of #2926 — plain-form usage for descriptor-backed components, the detail view gated, chips validated, highlighted playground code, names in index state
  python/djust/tests/test_storybook_liveview.py
  python/djust/tests/test_storybook_ux.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/storybook.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs(adr): ADR-033 — Accepted (S1–S3 #2925, S4 #2926)
  docs/adr/033-plain-component-state-and-identity.md
Due: none

docs(adr): ADR-033 — Accepted (S1–S3 #2925, S4 #2926) (#2927)
  docs/adr/033-plain-component-state-and-identity.md
Due: none

fix(theming): register four missing components, narrow three data-holders, resolve QRCode in the sweep pin (ADR-033 audit)
  changelog.d/adr-033-audit-gaps.fixed.md
  python/djust/components/components/dependent_select.py
  python/djust/components/components/masonry_grid.py
  python/djust/components/components/treemap.py
  python/djust/tests/test_component_typed_events_sweep_adr033.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(theming): register four missing components, narrow three data-holders, resolve QRCode in the sweep pin (ADR-033 audit) (#2928)
  changelog.d/adr-033-audit-gaps.fixed.md
  python/djust/components/components/dependent_select.py
  python/djust/components/components/masonry_grid.py
  python/djust/components/components/treemap.py
  python/djust/tests/test_component_typed_events_sweep_adr033.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(theming): follow the catalogue rename through the editor, gallery and duration pins
  .test_durations
  python/djust/tests/test_theming_editor_view.py
  python/djust/tests/test_theming_gallery_view.py
  python/djust/theming/templates/djust_theming/catalogue/_assets.html
  python/djust/theming/templates/djust_theming/catalogue/_document.html
  python/djust/theming/templates/djust_theming/catalogue/base.html
  python/djust/theming/templates/djust_theming/catalogue/category.html
  python/djust/theming/templates/djust_theming/catalogue/detail.html
  python/djust/theming/templates/djust_theming/catalogue/index.html
Due: pytest

feat(theming): describe_component carries parameter docs, the Python class, and stable defaults
  changelog.d/components-catalogue-rename.changed.md
  python/djust/tests/test_catalogue_integration.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

docs: say when not to use dj-navigate
  changelog.d/components-catalogue-rename.changed.md
  docs/website/guides/components.md
  docs/website/guides/navigation.md
Due: none

fix(theming): index cards render python components, not just contracted ones
  changelog.d/components-catalogue-rename.changed.md
  python/djust/tests/test_catalogue_integration.py
  python/djust/tests/test_catalogue_ux.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

fix(theming): a card thumbnail cannot contain a link
  changelog.d/components-catalogue-rename.changed.md
  python/djust/tests/test_catalogue_integration.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

fix(theming): an icon style must not repaint a component's artwork
  changelog.d/components-catalogue-rename.changed.md
  python/djust/components/components/gauge.py
  python/djust/components/components/progress_circle.py
  python/djust/tests/test_catalogue_integration.py
  python/djust/theming/pack_css_generator.py
Due: pytest

fix(client): the back/forward cache closing the socket is not an error
  changelog.d/bfcache-reconnect.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/bfcache-reconnect.test.js
Due: npm-test

fix(theming): gauge and calendar heatmap previews had nothing to show
  changelog.d/catalogue-chart-examples.fixed.md
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(client): keep quiet about the bfcache close until the socket is back
  changelog.d/bfcache-reconnect.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/bfcache-reconnect.test.js
Due: npm-test

fix(client): one dj-navigate click, one history entry, and back goes back
  changelog.d/navigate-binds-once.fixed.md
  docs/website/guides/navigation.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/18-navigation.js
  tests/js/initial-history-stamp.test.js
  tests/js/navigate-bind-once.test.js
  tests/js/navigation.test.js
Due: npm-test

fix(websocket): flush what mount() queued after a live_redirect mount
  changelog.d/redirect-mount-flushes-metadata.fixed.md
  python/djust/websocket.py
Due: pytest

feat(theming): nav items can opt into navigating over the socket
  changelog.d/nav-components-opt-into-navigate.added.md
  python/djust/theming/templates/djust_theming/components/breadcrumb.html
  python/djust/theming/templates/djust_theming/components/nav_group.html
  python/djust/theming/templates/djust_theming/components/nav_item.html
Due: none

feat(theming): the catalogue navigates over the socket, and says its title
  changelog.d/catalogue-navigates-over-the-socket.changed.md
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_catalogue_integration.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/templates/djust_theming/catalogue/_document.html
  python/djust/theming/templates/djust_theming/catalogue/category.html
  python/djust/theming/templates/djust_theming/catalogue/detail.html
  python/djust/theming/templates/djust_theming/catalogue/index.html
Due: pytest

fix(ci): upload a shard's durations even when that shard fails
  .github/workflows/test.yml
  changelog.d/durations-upload-on-failure.fixed.md
Due: none

fix(client): decide back by pathname, and stop swallowing modified clicks
  changelog.d/modified-clicks-on-navigate-links.fixed.md
  changelog.d/navigate-binds-once.fixed.md
  docs/website/guides/navigation.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/tests/test_catalogue_integration.py
  python/djust/tests/test_redirect_mount_flushes_queued.py
  python/djust/theming/templates/djust_theming/catalogue/_assets.html
  python/djust/theming/templates/djust_theming/components/nav_group.html
  tests/js/initial-history-stamp.test.js
  tests/js/navigate-bind-once.test.js
  tests/js/popstate-redirect-vs-patch.test.js
Due: npm-test, pytest

chore(ci): rebuild .test_durations, and let the gate guard read always()
  .test_durations
  tests/test_ci_python_test_shards.py
Due: pytest

docs(client): say why the popstate returns may leave the tracker behind
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/theming/gallery/live_views.py
Due: npm-test, pytest

fix(components): stop the lazy loader recursing on a missing name
  changelog.d/components-getattr-recursion.fixed.md
  python/djust/components/__init__.py
  python/djust/tests/test_components_getattr_recursion.py
  python/djust/tests/test_module_getattr_hooks.py
Due: pytest

test: probe in a subprocess instead of clearing sys.modules
  python/djust/tests/test_components_getattr_recursion.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
