Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat: implement debug panel search, RedisStateBackend.delete_all(), fix stale test assertion
  docs/DEBUG_PANEL.md
  python/djust/state_backends/base.py
  python/djust/state_backends/redis.py
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_panel_harness.test.js
  tests/unit/test_state_backend.py
Due: npm-test, pytest

feat: implement debug panel search, RedisStateBackend.delete_all(), fix stale test assertion (#527)
  docs/DEBUG_PANEL.md
  python/djust/state_backends/base.py
  python/djust/state_backends/redis.py
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_panel_harness.test.js
  tests/unit/test_state_backend.py
Due: npm-test, pytest

fix: add maturin develop to python-tests CI job, bust stale venv cache
  .github/workflows/test.yml
Due: none

fix: correct delete_all() in RedisStateBackend to match test expectations
  python/djust/state_backends/redis.py
Due: pytest

fix: remove duplicate delete_all() stub from StateBackend base class
  python/djust/state_backends/base.py
Due: pytest

chore: apply ruff-format to python/ and tests/ directories
  python/tests/test_typescript_definitions.py
Due: pytest

fix(ci): update uv install path from .cargo/bin to .local/bin
  .github/workflows/test.yml
  python/djust/static/djust/debug-panel.js
Due: npm-test

deps: bump @vitest/ui from 4.0.18 to 4.1.0
  package-lock.json
  package.json
Due: none

fix: address follow-up items from issues #522 #523 #526 #529 #531
  CHANGELOG.md
  python/tests/test_regression_397.py
  python/tests/test_typescript_definitions.py
  tests/unit/test_state_backend.py
Due: pytest

fix: batch Redis pipeline in delete_all() to cap memory usage (#528)
  python/djust/state_backends/redis.py
Due: pytest

fix: document lazy import in websocket.py (#524)
  python/djust/websocket.py
Due: pytest

refactor: address PR review findings for delete_all() batching
  python/djust/state_backends/redis.py
  tests/unit/test_redis_state_backend_delete_all.py
Due: pytest

fix: address follow-up cleanups from issues #522–#531 (#540)
  CHANGELOG.md
  python/djust/state_backends/redis.py
  python/djust/websocket.py
  python/tests/test_regression_397.py
  python/tests/test_typescript_definitions.py
  tests/unit/test_redis_state_backend_delete_all.py
  tests/unit/test_state_backend.py
Due: pytest

feat: implement debug panel search for network/state tabs, add overlap tests
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/07-tab-state.js
  tests/js/debug_search_overlap.test.js
Due: npm-test

fix: address PR #541 review findings
  CHANGELOG.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/07-tab-state.js
Due: npm-test

docs: add sync-warning comments to replicated filter functions in overlap tests
  tests/js/debug_search_overlap.test.js
Due: npm-test

feat: debug panel search for network/state tabs (#520 #530 #532) (#541)
  CHANGELOG.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/07-tab-state.js
  tests/js/debug_search_overlap.test.js
Due: npm-test

Bump version to 0.3.6rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: skip redundant mount() on WebSocket connect when page is pre-rendered
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/websocket.py
Due: pytest

test: update tests for WS state restoration behavior
  python/tests/test_http_fallback.py
  python/tests/test_vdom_cache_key.py
Due: pytest

fix: address PR #542 review findings
  CHANGELOG.md
  python/djust/websocket.py
  python/tests/test_http_fallback.py
Due: pytest

fix: remove redundant t_save_components initialisation (CodeQL warning)
  python/djust/mixins/request.py
Due: pytest

fix: skip redundant mount() on WS connect for pre-rendered pages (#542)
  CHANGELOG.md
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/websocket.py
  python/tests/test_http_fallback.py
  python/tests/test_vdom_cache_key.py
Due: pytest

Bump version to 0.3.6rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

Bump version to 0.3.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix: remove unconditional form reset and add forced render after submit
  python/djust/forms.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/websocket.py
Due: npm-test, pytest

fix: FormMixin serialization, event handling, and ModelForm support
  python/djust/forms.py
  tests/unit/test_forms.py
Due: pytest

fix: address PR #545 review findings
  CHANGELOG.md
  python/djust/forms.py
  python/djust/websocket.py
  tests/unit/test_forms.py
Due: pytest

fix: FormMixin serialization, event handling, and ModelForm support (#545)
  CHANGELOG.md
  python/djust/forms.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  tests/unit/test_forms.py
Due: npm-test, pytest

Bump version to 0.3.7rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix: sync __version__ in Python source files with package version
  Makefile
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: call updateHooks() after html_update and html_recovery DOM replacements
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/hooks.test.js
Due: npm-test

fix: add updateHooks() to all remaining DOM replacement paths
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

fix: call updateHooks() after html_update and html_recovery (#548)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/17-streaming.js
  tests/js/hooks.test.js
Due: npm-test

refactor: extract reinitAfterDOMUpdate() to DRY up post-DOM-update calls
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

refactor: extract reinitAfterDOMUpdate() to DRY up post-DOM-update calls (#550)
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

refactor: DRY up JS event context, WS connection checks, and optimistic cleanup
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/18-navigation.js
Due: npm-test

refactor: DRY up Python config access, backend registries, and model list checks
  CHANGELOG.md
  python/djust/backends/registry.py
  python/djust/config.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/pwa/manifest.py
  python/djust/pwa/mixins.py
  python/djust/pwa/service_worker.py
  python/djust/pwa/storage.py
  python/djust/state_backends/registry.py
  python/djust/tenants/backends.py
  python/djust/tenants/mixin.py
  python/djust/tenants/resolvers.py
  python/djust/utils.py
Due: pytest

fix: replace 2 remaining inline clearOptimisticPending patterns
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
Due: npm-test

docs: require closing keywords on separate lines in PR descriptions
  docs/PULL_REQUEST_CHECKLIST.md
Due: none
