Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Bump version to 0.9.6
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

test(vdom): cluster carryovers — proptest sync_ids, HTML round-trip, dj-update=ignore × dj-if, deep-cascade dj-if, patch-batch ordering (#1413, #1416, #1417, #1418, #1420)
  Cargo.lock
  crates/djust_vdom/tests/proptest_round_trip_with_sync.rs
  crates/djust_vdom/tests/test_dj_update_ignore_dj_if_sync_ids_1417.rs
  crates/djust_vdom/tests/torture_deep_cascade_dj_if_1418.rs
  crates/djust_vdom/tests/torture_html_round_trip.rs
  crates/djust_vdom/tests/torture_patch_batch_ordering_1420.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): VDOM cluster carryovers (#1413, #1416, #1417, #1418, #1420)
  CHANGELOG.md
Due: none

test(vdom): address Stage 11 finding 2 (#1454) — replace if-let tautology with expect()
  CHANGELOG.md
  crates/djust_vdom/tests/torture_patch_batch_ordering_1420.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(vdom): cluster carryovers (#1413, #1416, #1417, #1418, #1420) (#1454)
  CHANGELOG.md
  Cargo.lock
  crates/djust_vdom/tests/proptest_round_trip_with_sync.rs
  crates/djust_vdom/tests/test_dj_update_ignore_dj_if_sync_ids_1417.rs
  crates/djust_vdom/tests/torture_deep_cascade_dj_if_1418.rs
  crates/djust_vdom/tests/torture_html_round_trip.rs
  crates/djust_vdom/tests/torture_patch_batch_ordering_1420.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(tooling): deferral-pattern-aware depth-N call-graph walker for bundle init-order lint (#1449)
  scripts/check-bundle-init-order.mjs
  tests/js/check-bundle-init-order-1449.test.js
Due: npm-test

docs(changelog): deferral-pattern-aware depth-N bundle init-order walker (#1449)
  CHANGELOG.md
Due: none

feat(tooling): deferral-pattern-aware depth-N bundle init-order walker (#1449) (#1455)
  CHANGELOG.md
  scripts/check-bundle-init-order.mjs
  tests/js/check-bundle-init-order-1449.test.js
Due: npm-test

test(wire-protocol): pin 8 highest-value Python-emitted frame shapes (#1448 starter)
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

docs(changelog): wire-protocol snapshot pinning (#1448 starter)
  CHANGELOG.md
Due: none

test(wire-protocol): fix page_metadata line citation (Stage 11 #1457 minor)
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

test(wire-protocol): pin 8 highest-value Python-emitted frame shapes (#1448 starter) (#1457)
  CHANGELOG.md
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

docs(retro): milestone v0.9.6-2 + Action Tracker updates
  RETRO.md
Due: none

docs(roadmap): plan v0.9.7-1 — 3 P2 tech-debt items from v0.9.6-2 retro
  ROADMAP.md
Due: none

docs(canon): empirical canary for tooling/lint PRs (#1459)
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(canon): empirical canary for tooling/lint PRs (#1459) (#1460)
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(retro): close Action #251 (investigation-class on #1458)
  RETRO.md
Due: none

test(wire-protocol): pin 5 lifecycle frames (#1456 Batch 1)
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

docs(changelog): wire-protocol snapshots Batch 1 lifecycle frames (#1456)
  CHANGELOG.md
Due: none

test(wire-protocol): pin 5 optional-feature frames (#1456 Batch 2)
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

docs(changelog): wire-protocol snapshots Batch 2 optional-features (#1456)
  CHANGELOG.md
Due: none

test(wire-protocol): pin 5 optional-feature frames (#1456 Batch 2) (#1462)
  CHANGELOG.md
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

test(wire-protocol): pin remaining 12 frames (#1456 Batch 3 FINAL)
  python/djust/tests/test_wire_protocol_snapshots.py
Due: pytest

docs(changelog): wire-protocol snapshots Batch 3 FINAL — closes #1456
  CHANGELOG.md
Due: none

docs(retro): milestone v0.9.7-1 + Action Tracker updates
  RETRO.md
Due: none

Bump version to 0.9.7rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): plan v0.9.7-2 — WS-reconnect state continuity redo of #1429
  ROADMAP.md
Due: none

feat(websocket): persist LiveView state on WS event for reconnect continuity (#1465)
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

docs(changelog): WS-reconnect state continuity (#1465)
  CHANGELOG.md
Due: none

fix(websocket): address Stage 11 findings on PR #1466
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

docs(changelog): clarify gating language for WS-reconnect state (#1466 Stage 11 finding 1)
  CHANGELOG.md
Due: none

feat(websocket): persist LiveView state on WS event for reconnect continuity (#1465) (#1466)
  CHANGELOG.md
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

docs(retro): milestone v0.9.7-2 + Action Tracker updates
  RETRO.md
Due: none

Bump version to 0.9.7rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

chore(cargo): refresh Cargo.lock for 0.9.7rc2
  Cargo.lock
Due: none

docs(roadmap): plan v0.9.7-3 — 3 P2 follow-ups from v0.9.7-1/v0.9.7-2 retros
  ROADMAP.md
Due: none

docs(canon): gate-the-change-off tautology self-test (#1468)
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(canon): gate-the-change-off tautology self-test (#1468) (#1469)
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

feat(tooling): pre-commit auto-restage wrapper script (#1464)
  CONTRIBUTING.md
  Makefile
  scripts/git-commit-with-precommit.sh
  tests/test_git_commit_with_precommit.py
Due: pytest

docs(changelog): note pre-commit wrapper (#1464)
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
