Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: badge ships no CSS; changelog fragments for v1.2.1-14
  changelog.d/3018.fixed.md
  changelog.d/3019.fixed.md
  changelog.d/3020.fixed.md
  changelog.d/3024.fixed.md
  changelog.d/3025.documentation.md
  changelog.d/3026.fixed.md
  changelog.d/3030.fixed.md
  changelog.d/3031.fixed.md
  changelog.d/3043.fixed.md
  changelog.d/3044.fixed.md
  changelog.d/3045.fixed.md
  docs/website/guides/components.md
Due: none

test: re-pin the setattr whitelist and template-bound normaliser inventory (#3046, #3036)
  python/djust/tests/test_mount_chokepoint_structural.py
  python/tests/test_decimal_converters_2239.py
Due: pytest

fix: address PR #3052 review (skip response cache id, title render cost, bench frame timing)
  changelog.d/3036.fixed.md
  changelog.d/3038.fixed.md
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/tests/test_http_skip_render_3038.py
  python/djust/tests/test_live_redirect_title_3036.py
  python/djust/websocket.py
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/benchmarks/test_model_backed_table_2532.py
Due: pytest

fix: address Code Review of #3053 (render-context scope, #3031 deferred, close walk, hl-w before newline)
  changelog.d/3031.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/parser.rs
  python/djust/components/components/code_snippet.py
  python/djust/template_libraries.py
  python/djust/tests/test_root_locator_parity_3030.py
  python/tests/lib2547/templatetags/lib3053_state.py
  python/tests/test_bridge_render_context_scope_3044.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: #3031 moves to 1.3; update the #3030 and #3044 fragments after review
  ROADMAP.md
  changelog.d/3030.fixed.md
  changelog.d/3044.fixed.md
Due: none

fix: runtime and client follow-ups batch (v1.2.1-15): failed-mount tick, theming E001 severity, live-nav title, HTTP _skip_render, offline body classes, restore hardening, render-scoped bench (#3052)
  ROADMAP.md
  changelog.d/3027.fixed.md
  changelog.d/3028.changed.md
  changelog.d/3036.fixed.md
  changelog.d/3038.fixed.md
  changelog.d/3041.fixed.md
  changelog.d/3046.security.md
  docs/website/guides/error-codes.md
  docs/website/guides/navigation.md
  docs/website/guides/pwa.md
  examples/demo_project/demo_project/settings.py
  python/djust/live_view.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/scaffolding/templates.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/52-offline-state.js
  python/djust/tests/test_http_skip_render_3038.py
  python/djust/tests/test_live_redirect_title_3036.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_mount_failure_stops_tick_3027.py
  python/djust/tests/test_restore_hardening_3046.py
  python/djust/tests/test_theming_checks.py
  python/djust/theming/checks.py
  python/djust/websocket.py
  python/tests/test_decimal_converters_2239.py
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/benchmarks/test_model_backed_table_2532.py
  tests/js/offline-body-classes-3041.test.js
Due: npm-test, pytest

docs(retro): v1.2.1-15 runtime and client follow-ups retro; mark the batch's rows shipped (#3052)
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): v1.2.1-15 runtime and client follow-ups retro; mark the batch's rows shipped (#3052) (#3055)
  RETRO.md
  ROADMAP.md
Due: none

fix: template and rendering follow-ups (v1.2.1-14): body close, masker, T018 literals, inclusion tags, form tags, bridged live_tags, root locator quotes, raw-text serialization (#3053)
  ROADMAP.md
  changelog.d/3018.fixed.md
  changelog.d/3019.fixed.md
  changelog.d/3020.fixed.md
  changelog.d/3024.fixed.md
  changelog.d/3025.documentation.md
  changelog.d/3026.fixed.md
  changelog.d/3030.fixed.md
  changelog.d/3043.fixed.md
  changelog.d/3044.fixed.md
  changelog.d/3045.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_core/src/raw_text.rs
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  docs/website/guides/components.md
  python/djust/components/base.py
  python/djust/components/components/code_snippet.py
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_badge_unstyled_3025.py
  python/djust/forms.py
  python/djust/frameworks.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/mixins/post_processing.py
  python/djust/mixins/template.py
  python/djust/template_libraries.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_body_close_and_masker_3018_3019.py
  python/djust/tests/test_catalogue_ux.py
  python/djust/tests/test_live_form_tags_safe_3043.py
  python/djust/tests/test_live_tags_bridged_3044.py
  python/djust/tests/test_root_locator_parity_3030.py
  python/djust/tests/test_rust_renderer_v1_2_1_9.py
  python/tests/lib2547/templatetags/lib3053_state.py
  python/tests/test_bridge_render_context_scope_3044.py
  python/tests/test_checks_t018_literals_3020.py
  python/tests/test_inclusion_tag_django_backend_3024.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(retro): v1.2.1-14 template and rendering follow-ups retro; mark the bucket's rows shipped (#3053)
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): v1.2.1-14 template and rendering follow-ups retro; mark the bucket's rows shipped (#3053) (#3056)
  RETRO.md
  ROADMAP.md
Due: none

fix(pwa): offline indicator and banner show when offline; indicator text and class follow the network state (#3051)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/52-offline-state.js
  python/djust/templates/djust/pwa/offline_banner.html
  python/djust/templates/djust/pwa_head.html
  python/djust/templatetags/djust_pwa.py
  tests/js/offline-indicator-3051.test.js
  tests/unit/test_pwa.py
  tests/unit/test_pwa_offline_indicator_3051.py
Due: npm-test, pytest

docs(pwa): offline indicator behaviour, changelog fragment and ROADMAP row (#3051)
  ROADMAP.md
  changelog.d/3051.fixed.md
  docs/website/guides/pwa.md
Due: none

fix(pwa): address #3057 review: keep the indicator selector class, correct the pre-1.2.1 dj-offline-show claim (#3051)
  changelog.d/3041.fixed.md
  changelog.d/3051.fixed.md
  docs/website/guides/pwa.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/52-offline-state.js
  tests/js/offline-indicator-3051.test.js
Due: npm-test

fix(pwa): offline indicator and banner show when offline; indicator text and class follow the network state (#3051) (#3057)
  ROADMAP.md
  changelog.d/3041.fixed.md
  changelog.d/3051.fixed.md
  docs/website/guides/pwa.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/52-offline-state.js
  python/djust/templates/djust/pwa/offline_banner.html
  python/djust/templates/djust/pwa_head.html
  python/djust/templatetags/djust_pwa.py
  tests/js/offline-indicator-3051.test.js
  tests/unit/test_pwa.py
  tests/unit/test_pwa_offline_indicator_3051.py
Due: npm-test, pytest

docs(retro): #3051 offline indicator retro; close Action Tracker #361 and strike the ROADMAP row (#3057)
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): #3051 offline indicator retro; close Action Tracker #361 and strike the ROADMAP row (#3057) (#3058)
  RETRO.md
  ROADMAP.md
Due: none

fix(forms): call a callable field initial at mount and in reset_form
  changelog.d/form-callable-initial.fixed.md
  python/djust/forms.py
  python/djust/tests/test_form_callable_initial.py
  python/tests/test_deploy_cli.py
Due: pytest

fix(forms): same callable-initial fix in WizardMixin; isolate test git calls
  changelog.d/form-callable-initial.fixed.md
  python/djust/forms.py
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_form_callable_initial.py
  python/djust/wizard.py
  python/tests/test_deploy_cli.py
  tests/test_changelog_tagged_sections.py
Due: pytest

test: strip inherited GIT_* for the code under test in init/changelog tests
  python/djust/tests/test_djust_init.py
  python/tests/test_deploy_cli.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix(forms): call a callable field initial at mount and in reset_form (#3062)
  changelog.d/form-callable-initial.fixed.md
  python/djust/forms.py
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_form_callable_initial.py
  python/djust/wizard.py
  python/tests/test_deploy_cli.py
  tests/test_changelog_tagged_sections.py
Due: pytest

chore(release): 1.2.1rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/form-callable-initial.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(auth): spec + ADR-039 for pluggable account backends and a shared page kit
  docs/adr/039-pluggable-account-backends.md
  docs/superpowers/specs/2026-09-24-accounts-backends-design.md
Due: none

docs(auth): implementation plan for pluggable account backends (ADR-039)
  docs/superpowers/plans/2026-09-24-accounts-backends.md
Due: none

feat(auth): allauth optional extra; BackendRegistry can skip the in-memory fallback warning
  changelog.d/accounts-registry-flag.changed.md
  pyproject.toml
  python/djust/tests/accounts/__init__.py
  python/djust/tests/accounts/test_registry_flag.py
  python/djust/utils.py
  uv.lock
Due: pytest

feat(auth): AccountBackend contract, provider metadata and account signals
  changelog.d/accounts-contract.added.md
  python/djust/auth/accounts/__init__.py
  python/djust/auth/accounts/backends/__init__.py
  python/djust/auth/accounts/base.py
  python/djust/auth/accounts/providers.py
  python/djust/auth/accounts/registry.py
  python/djust/auth/signals.py
  python/djust/tests/accounts/test_contract_base.py
Due: pytest

feat(auth): the auth context and {% load djust_auth %} components
  examples/demo_project/demo_project/settings.py
  python/djust/auth/accounts/context.py
  python/djust/auth/templates/djust_auth/components/divider.html
  python/djust/auth/templates/djust_auth/components/errors.html
  python/djust/auth/templates/djust_auth/components/field.html
  python/djust/auth/templates/djust_auth/components/links.html
  python/djust/auth/templates/djust_auth/components/providers.html
  python/djust/auth/templatetags/__init__.py
  python/djust/auth/templatetags/djust_auth.py
  python/djust/tests/accounts/test_components.py
Due: pytest

feat(auth): the account page kit (layout, pages, styles, progressive-enhancement script)
  python/djust/auth/static/djust_auth/auth.css
  python/djust/auth/static/djust_auth/auth.js
  python/djust/auth/templates/djust_auth/layouts/auth.html
  python/djust/auth/templates/djust_auth/pages/inactive.html
  python/djust/auth/templates/djust_auth/pages/login.html
  python/djust/auth/templates/djust_auth/pages/logout.html
  python/djust/auth/templates/djust_auth/pages/password_reset.html
  python/djust/auth/templates/djust_auth/pages/password_reset_confirm.html
  python/djust/auth/templates/djust_auth/pages/password_reset_done.html
  python/djust/auth/templates/djust_auth/pages/password_reset_sent.html
  python/djust/auth/templates/djust_auth/pages/signup.html
  python/djust/auth/templates/djust_auth/pages/social_error.html
  python/djust/auth/templates/djust_auth/pages/social_signup.html
  python/djust/auth/templates/djust_auth/pages/verify_done.html
  python/djust/auth/templates/djust_auth/pages/verify_email.html
  python/djust/auth/templates/djust_auth/pages/verify_sent.html
  python/djust/tests/accounts/test_pages.py
Due: npm-test, pytest

feat(auth): the django account backend and the single accounts include; fix djust.auth's missing templates
  changelog.d/accounts-missing-templates.fixed.md
  python/djust/auth/accounts/backends/django.py
  python/djust/auth/accounts/urls.py
  python/djust/auth/templates/djust_auth/login.html
  python/djust/auth/templates/djust_auth/signup.html
  python/djust/auth/views.py
  python/djust/tests/accounts/test_contract_base.py
  python/djust/tests/accounts/test_django_backend.py
  python/djust/tests/accounts/urls_accounts.py
Due: pytest

chore(release): 1.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

chore(release): 1.1.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(auth): the allauth account backend with secure defaults, skinned by the djust kit
  changelog.d/accounts-allauth.added.md
  examples/demo_project/demo_project/settings.py
  python/djust/auth/accounts/backends/allauth.py
  python/djust/auth/static/djust_auth/auth.js
  python/djust/auth/templates/allauth/elements/alert.html
  python/djust/auth/templates/allauth/elements/button.html
  python/djust/auth/templates/allauth/elements/button_group.html
  python/djust/auth/templates/allauth/elements/field.html
  python/djust/auth/templates/allauth/elements/fields.html
  python/djust/auth/templates/allauth/elements/form.html
  python/djust/auth/templates/allauth/elements/h1.html
  python/djust/auth/templates/allauth/elements/h2.html
  python/djust/auth/templates/allauth/elements/hr.html
  python/djust/auth/templates/allauth/elements/p.html
  python/djust/auth/templates/allauth/elements/panel.html
  python/djust/auth/templates/allauth/elements/provider.html
  python/djust/auth/templates/allauth/elements/provider_list.html
  python/djust/auth/templates/allauth/layouts/base.html
  python/djust/auth/templates/allauth/layouts/entrance.html
  python/djust/auth/templates/allauth/layouts/manage.html
  python/djust/auth/templatetags/djust_auth.py
  python/djust/tests/accounts/conftest.py
  python/djust/tests/accounts/test_allauth_backend.py
  python/djust/tests/accounts/test_components.py
  python/djust/tests/accounts/test_pages.py
  python/djust/tests/accounts/urls_accounts_allauth.py
Due: npm-test, pytest

feat(auth): apply allauth secure defaults at startup and align its client-IP proxy count with djust
  python/djust/auth/apps.py
  python/djust/tests/accounts/test_allauth_defaults.py
Due: pytest

feat(checks): djust.A100-A106 account backend misconfiguration checks
  changelog.d/accounts-checks.added.md
  docs/website/guides/error-codes.md
  python/djust/checks/__init__.py
  python/djust/checks/accounts.py
  python/djust/tests/accounts/test_checks.py
  python/djust/tests/accounts/urls_double_include.py
Due: pytest

test(auth): the account backend contract suite (django, allauth, custom); strict allauth redirects
  python/djust/auth/accounts/backends/allauth.py
  python/djust/tests/accounts/magic_backend.py
  python/djust/tests/accounts/test_allauth_backend.py
  python/djust/tests/accounts/test_contract_suite.py
Due: pytest

fix(theming): theme_*_page tags take form= and render the account kit bound to real fields; deprecate social_auth_providers' old format
  changelog.d/accounts-social-providers.deprecated.md
  changelog.d/accounts-theme-pages.fixed.md
  python/djust/auth/social.py
  python/djust/auth/templates/djust_auth/components/card_only.html
  python/djust/tests/accounts/test_compat.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

docs(auth): accounts guide, ADR-039 accepted, spec amendments; demo project mounts accounts
  changelog.d/accounts-guide.documentation.md
  docs/adr/039-pluggable-account-backends.md
  docs/superpowers/specs/2026-09-24-accounts-backends-design.md
  docs/website/guides/accounts.md
  docs/website/guides/authentication.md
  examples/demo_project/demo_project/urls.py
  python/djust/tests/accounts/test_docs.py
Due: pytest

fix(auth): browser-check fixes for the account kit
  docs/website/guides/accounts.md
  python/djust/auth/static/djust_auth/auth.css
  python/djust/auth/templates/allauth/elements/button.html
  python/djust/auth/templates/djust_auth/components/field.html
  python/djust/auth/templatetags/djust_auth.py
  python/djust/tests/accounts/test_allauth_backend.py
  python/djust/tests/accounts/test_components.py
  python/djust/tests/accounts/test_docs.py
  python/djust/tests/accounts/test_pages.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

fix(auth): final-review fixes for account backends
  changelog.d/accounts-proxy-count-inf.fixed.md
  docs/website/guides/accounts.md
  docs/website/guides/error-codes.md
  examples/demo_project/demo_project/settings.py
  python/djust/_client_ip.py
  python/djust/auth/accounts/backends/allauth.py
  python/djust/auth/accounts/backends/allauth_integration.py
  python/djust/auth/accounts/backends/django.py
  python/djust/auth/templates/djust_auth/emails/password_reset_email.txt
  python/djust/auth/templates/djust_auth/emails/password_reset_subject.txt
  python/djust/auth/templates/djust_auth/pages/signup_closed.html
  python/djust/auth/views.py
  python/djust/checks/accounts.py
  python/djust/tests/accounts/test_docs.py
  python/djust/tests/accounts/test_final_review_fixes.py
Due: pytest
