Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

test(adr-037): pin the directive table against the attributes the client reads
  python/djust/_template_bindings.py
  python/djust/tests/test_adr037_binding_checks.py
Due: pytest

test(adr-037): decorated handlers, managed objects and authorized querysets
  changelog.d/adr-037-binding-checks.added.md
  python/djust/tests/test_adr037_binding_checks.py
Due: pytest

docs(adr-037): correct the binding-check case count
  changelog.d/adr-037-binding-checks.added.md
Due: none

perf: djust.layers.InMemoryChannelLayer with a rate-limited expiry sweep (#3074 5/7) (#3101)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-layer.added.md
  docs/website/guides/deployment.md
  python/djust/layers.py
  python/djust/tests/test_inmemory_layer_3074.py
  python/djust/tests/test_object_perm_render_paths.py
  tests/integration/test_dj_root_in_script_comment_2663.py
Due: pytest

docs(retro): #3074 PR 5/7 retro entry; mark its ROADMAP row shipped
  RETRO.md
  ROADMAP.md
Due: none

fix(adr-037): allowlist the binding check module and guard its module read
  python/djust/_template_bindings.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

docs(adr-037): record rows 9-17 and the addendum rows as owner decisions
  docs/adr/037-event-contract-checks-and-executable-documentation.md
Due: none

feat(adr-037): shared handler_metadata and published_handlers, pinned to the dir walk
  python/djust/_parameter_metadata.py
  python/djust/tests/test_adr037_shared_discovery.py
Due: pytest

refactor(adr-037): runtime handler metadata through the shared discovery
  python/djust/mixins/handlers.py
Due: pytest

fix(adr-037): the debug panel lists the handlers dispatch resolves
  changelog.d/adr-037-debug-panel-handlers.fixed.md
  python/djust/mixins/post_processing.py
  python/djust/tests/test_adr037_shared_discovery.py
Due: pytest

refactor(adr-037): the API registry lists handlers through the shared discovery
  python/djust/api/registry.py
Due: pytest

refactor(adr-037): hot view replacement lists handlers through the shared discovery
  python/djust/hot_view_replacement.py
Due: pytest

docs: guide — scaling a djust process across cores (#3074)
  changelog.d/3074-scaling-guide.documentation.md
  docs/website/_config.yaml
  docs/website/guides/deployment.md
  docs/website/guides/scaling-across-cores.md
Due: none

refactor(adr-037)!: LiveViewSmokeTest fuzzes the handlers dispatch resolves
  changelog.d/adr-037-smoke-test-fuzz-scope.changed.md
  python/djust/_parameter_metadata.py
  python/djust/checks/parameters.py
  python/djust/testing.py
  python/djust/tests/test_parameter_contract_checks.py
  python/tests/test_smoke_test.py
Due: pytest

refactor(adr-037): find_handlers_for_template on the binding scan
  changelog.d/adr-037-find-handlers-for-template.changed.md
  docs/website/guides/mcp-server.md
  python/djust/checks/bindings.py
  python/djust/mcp/server.py
  python/djust/tests/test_find_handlers_for_template.py
Due: pytest

ci: review fixes — 3.14t release cells non-fatal, maturin -i python, sturdier release-matrix pin, SYSTEMROOT passthrough (#3074)
  .github/workflows/release.yml
  .github/workflows/test.yml
  changelog.d/3074-cp314t.added.md
  python/djust/tests/test_free_threaded_contract_3074.py
Due: pytest

refactor(adr-037): catalogue component_events on the binding parser
  changelog.d/adr-037-binding-checks.added.md
  python/djust/_template_bindings.py
  python/djust/tests/test_adr037_binding_checks.py
  python/djust/theming/gallery/catalogue.py
Due: pytest

refactor(adr-037): the interactive reference generator lists actions through the shared discovery
  scripts/generate-interactive-reference.py
Due: pytest

ci: free-threaded cp314t wheels and a blocking 3.14t job with the GIL asserted off (#3074 6/7) (#3102)
  .github/workflows/release.yml
  .github/workflows/test.yml
  RETRO.md
  ROADMAP.md
  changelog.d/3074-cp314t.added.md
  pyproject.toml
  python/djust/tests/test_free_threaded_contract_3074.py
Due: pytest

docs(retro): #3074 PR 6/7 retro entry; mark its ROADMAP row shipped
  RETRO.md
  ROADMAP.md
Due: none

refactor(adr-037): recovery targets from the template binding scan
  changelog.d/adr-037-recovery-targets.changed.md
  python/djust/_template_bindings.py
  python/djust/checks/bindings.py
  python/djust/tests/test_recovery_handler_policy.py
  python/djust/validation.py
Due: pytest

refactor(adr-037): derive the live_render stamp list from the directive table
  examples/demo_project/djust_demos/templates/demos/embedded_directives.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/embedded_directives_demo.py
  python/djust/_template_bindings.py
  python/djust/templatetags/live_tags.py
  tests/playwright/test_embedded_directives.py
  tests/unit/test_live_render_event_attrs_invariant.py
Due: pytest

test(adr-037): pin the AI schema's event directives to the directive table
  changelog.d/adr-037-binding-checks.added.md
  python/djust/tests/test_adr037_binding_checks.py
Due: pytest

docs(adr-037): D1 record: rows 18-23, retirement commits, findings
  docs/adr/037-event-contract-checks-and-executable-documentation.md
  docs/adr/component-conventions-implementation.md
Due: none

fix(adr-037): dj-paste carries owner context
  changelog.d/adr-037-dj-paste-owner.fixed.md
  docs/adr/037-event-contract-checks-and-executable-documentation.md
  docs/adr/component-conventions-implementation.md
  python/djust/_template_bindings.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-paste.test.js
  tests/playwright/test_embedded_directives.py
Due: npm-test, pytest

docs: scaling guide review fixes — offload scope, pool sizes as measured, server_push wording, source-built deps, 3.12 attribution (#3074)
  docs/website/guides/scaling-across-cores.md
Due: none

docs: name the dependencies that build from source on 3.14t (#3074 review)
  docs/website/guides/scaling-across-cores.md
Due: none

docs: guide — scaling a djust process across cores (#3074 7/7) (#3105)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-scaling-guide.documentation.md
  docs/website/_config.yaml
  docs/website/guides/deployment.md
  docs/website/guides/scaling-across-cores.md
Due: none

docs(retro): v1.3.0-3 multi-core rendering bucket retro (#3074); mark the last row shipped
  RETRO.md
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

docs(retro): review nits on the v1.3.0-3 summary (#3074)
  RETRO.md
Due: none

docs(retro): v1.3.0-3 multi-core rendering bucket retro (#3074) (#3106)
  RETRO.md
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

chore(release): 1.3.0rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/3004.added.md
  changelog.d/3061.fixed.md
  changelog.d/3068.fixed.md
  changelog.d/3074-cp314t.added.md
  changelog.d/3074-gil.changed.md
  changelog.d/3074-layer.added.md
  changelog.d/3074-offload.changed.md
  changelog.d/3074-scaling-guide.documentation.md
  changelog.d/3074-thread-safety.fixed.md
  changelog.d/3074-worker-pool.added.md
  changelog.d/3075.fixed.md
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/accounts-a102-adapter.changed.md
  changelog.d/accounts-flash-gutter.fixed.md
  changelog.d/accounts-skin-head.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs: replace the dead Discord invite with a permanent one
  CONTRIBUTING.md
  changelog.d/discord-invite.documentation.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  docs/state-management/STATE_MANAGEMENT_QUICKSTART.md
  docs/website/index.md
Due: none

docs: replace the dead Discord invite with a permanent one (#3111)
  CONTRIBUTING.md
  changelog.d/discord-invite.documentation.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  docs/state-management/STATE_MANAGEMENT_QUICKSTART.md
  docs/website/index.md
Due: none

fix(deploy): fail clearly without a TTY; refresh expired tokens in status
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs(changelog): fragment for the deploy CLI no-TTY and status refresh fix
  changelog.d/3112.fixed.md
Due: none

fix: presence broadcasts respect push_scope (#3095)
  python/djust/presence.py
  python/djust/push.py
  python/djust/runtime.py
  python/djust/tests/test_presence_scoped_broadcast_3095.py
  python/djust/websocket.py
Due: pytest

docs: presence broadcasts and push_scope; ROADMAP v1.3.0-5 (#3095)
  ROADMAP.md
  changelog.d/3095.changed.md
  docs/website/advanced/server-push.md
  docs/website/guides/presence.md
  docs/website/guides/scaling-across-cores.md
Due: none

fix: presence scope group only for PresenceMixin views; viewers follow push_scope; catch up a join missed at mount (#3095)
  changelog.d/3095.changed.md
  python/djust/push.py
  python/djust/tests/test_presence_scoped_broadcast_3095.py
Due: pytest

fix: join the presence-scope group only when the view's broadcast is scoped (#3095)
  changelog.d/3095.changed.md
  docs/website/guides/presence.md
  python/djust/push.py
  python/djust/tests/test_presence_scoped_broadcast_3095.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
