Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(templates): the falsiness rule knows BOTH Display modes (#2344)
  crates/djust_templates/src/filters.rs
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: the two Display modes in the #2344 falsiness rule
  CHANGELOG.md
Due: none

fix(templates): stringformat with an empty spec, and a panic boundary at PyO3 (#2343) (#2354)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_stringformat_empty_spec_2343.rs
  python/tests/test_panic_boundary_2343.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): True / False / None are context builtins, so they resolve (#2347)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_builtins_2347.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): True / False / None are builtins, not literals (#2347)
  docs/RUST_TEMPLATE_API.md
Due: none

docs(changelog): True / False / None resolve as context builtins (#2347)
  CHANGELOG.md
Due: none

docs(changelog): non-finite float comparison (#2349)
  CHANGELOG.md
Due: none

fix(templates): inf and nan compare as Python compares them (#2349)
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_numeric_comparison_2244.py
  python/tests/test_incomparable_ordering_2338.py
  python/tests/test_non_finite_floats_2349.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): correct the non-finite matrix cell count to the mechanical 570 (#2349)
  CHANGELOG.md
Due: none

fix(templates): True / False / None are context builtins, so they resolve (#2347) (#2360)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  docs/RUST_TEMPLATE_API.md
  python/tests/test_template_builtins_2347.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): inf and nan compare as Python compares them (#2349) (#2367)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_numeric_comparison_2244.py
  python/tests/test_incomparable_ordering_2338.py
  python/tests/test_non_finite_floats_2349.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: CHANGELOG for the post-#2354 scope of the manifest (#2345)
  CHANGELOG.md
Due: none

fix(templates): converge the three copies of "a dict iterates its keys" (#2339)
  crates/djust_core/src/context.rs
  crates/djust_core/src/object_key.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_dict_iteration_and_sequence_equality_2334_2335.py
  python/tests/test_dict_keys_keep_their_type_2339.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: CHANGELOG for the typed dict key (#2339)
  CHANGELOG.md
Due: none

fix(templates): a dict key keeps its Python type (#2339)
  crates/djust_core/benches/context.rs
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_core/src/serialization.rs
  crates/djust_core/tests/test_bigint_value_2260.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/benches/loop_render_cache.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_bigint_loop_cache_2260.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/djust/tests/test_number_localization_2221.py
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_dict_iteration_and_sequence_equality_2334_2335.py
  python/tests/test_dict_keys_keep_their_type_2339.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: CHANGELOG for the dict-view model (#2340)
  CHANGELOG.md
Due: none

fix(templates): d.items is a VIEW, not a list (#2340)
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_dict_iteration_and_sequence_equality_2334_2335.py
  python/tests/test_dict_views_are_views_2340.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): the four or-pattern sites rustc could not ask about (#2340)
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  python/tests/test_dict_views_are_views_2340.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): dictsort sorts a view, and two pins stop reading comments (#2340)
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  python/tests/test_dict_views_are_views_2340.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): a dict key keeps its Python type (#2339) (#2353)
  CHANGELOG.md
  crates/djust_core/benches/context.rs
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_core/src/serialization.rs
  crates/djust_core/tests/test_bigint_value_2260.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/benches/loop_render_cache.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_bigint_loop_cache_2260.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/djust/tests/test_number_localization_2221.py
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_dict_iteration_and_sequence_equality_2334_2335.py
  python/tests/test_dict_keys_keep_their_type_2339.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tools): a clock-dependent ARGUMENT cell records its agreement, not its length (#2345)
  python/tests/test_differential_reachability_manifest_2345.py
  scripts/filter-parity-differential.py
Due: pytest

fix(tools): the parity corpus declares its axes and reports what it cannot reach (#2345) (#2357)
  CHANGELOG.md
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  scripts/filter-parity-differential.py
Due: pytest

test(templates): pin the #2360 context-builtins interaction (#2340)
  python/tests/test_dict_views_are_views_2340.py
Due: pytest

docs: note the #2360 builtins interaction in the #2340 entry
  CHANGELOG.md
Due: none

fix(tools): the manifest could not see this PR's own new argument error (#2346)
  python/tests/test_argument_axis_divergences_2346.py
  python/tests/test_differential_reachability_manifest_2345.py
  scripts/filter-parity-differential.py
Due: pytest

test(core): guard the flag read in an_exponent_form_decimal_expands_for_display
  crates/djust_core/tests/test_decimal_value_2214.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(tools): the corpus could not reach this PR's new argument error (#2344)
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_timesince_comparison_instant_2344.py
  scripts/filter-parity-differential.py
Due: pytest

fix(templates): d.items is a dict VIEW, not a list (#2340) (#2370)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  python/tests/test_dict_iteration_and_sequence_equality_2334_2335.py
  python/tests/test_dict_views_are_views_2340.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tools): a clock cell is compared by its RAISE BIT, not its exception text (#2344)
  python/tests/test_timesince_comparison_instant_2344.py
  scripts/filter-parity-differential.py
Due: pytest

fix(templates): urlizetrunc's ellipsis, divisibleby's zero divisor, floatformat's empty argument (#2346) (#2364)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  python/tests/test_argument_axis_divergences_2346.py
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_filter_argument_contract_2328.py
  python/tests/test_floatformat_parity_2253.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): an empty dict VIEW is falsy to timesince too (#2344, #2340)
  crates/djust_templates/src/filters.rs
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: the final #2344 numbers, and the three the manifest reported
  CHANGELOG.md
Due: none

fix(templates): timesince/timeuntil measure against their argument (#2344) (#2362)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_filter_argument_contract_2328.py
  python/tests/test_timesince_comparison_instant_2344.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): a safety grant travels with the value across a binding (#2361, #2363)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_safety_survives_a_binding_2361_2363.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): a safety grant travels with the value across a binding (#2361, #2363)
  CHANGELOG.md
  python/tests/test_safety_survives_a_binding_2361_2363.py
Due: pytest

fix(templates): a safety grant travels with the value across a binding (#2361, #2363) (#2378)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_safety_survives_a_binding_2361_2363.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit
