Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(core): wire the ADR-027 lazy resolution sink behind an OFF flag (#2539 movement 2)
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_django_lookup_sink_2539.rs
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/djust/components/base.py
  python/djust/config.py
  python/djust/render_env.py
  python/djust/tests/test_timezone_render_2209.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the lazy package init and the templates-only import cost (#2559)
  CHANGELOG.md
  docs/TEMPLATE_BACKEND.md
Due: none

docs(checks): document C016 and backfill the C013–C015 rows (#2562)
  CHANGELOG.md
  docs/system-checks.md
Due: none

test(checks): pin every emitted C0xx id to a row in docs/system-checks.md (#2562)
  python/djust/tests/test_c0xx_docs_table_pin_2562.py
Due: pytest

fix(core): scope the ADR-027 ignore_failures substitution and wire the teardown (#2539)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/components/base.py
  python/djust/render_env.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/websocket.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record ADR-027 movement 2, link every remaining v1.2.0 row, add the ADR erratum (#2539)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/027-template-variable-resolution-follows-django.md
Due: none

test(templates): re-point two structural pins at the split resolver (#2539)
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_template_builtins_2347.py
Due: pytest

docs(changelog): use the merged-head flag-on numbers and cite the review follow-ups (#2539 review)
  CHANGELOG.md
Due: none

feat(make): `make worktree-env` — a checkout-local venv + extension for any worktree (#2526)
  .pipeline-templates/README.md
  Makefile
  scripts/run-with-venv-python.sh
  tests/test_run_with_venv_python.py
Due: pytest

feat(hooks): scope the pre-push pytest and cargo runs to the pushed range (#2526)
  .pre-commit-config.yaml
  scripts/pre-push-cargo-test.sh
  scripts/pre-push-pytest.sh
  scripts/select-tests.py
  tests/unit/test_select_tests.py
Due: pytest

feat(pipeline): conformance-state.json — a loop-shaped pipeline for Django-suite families
  .pipeline-templates/README.md
  .pipeline-templates/conformance-state.json
Due: none

docs(roadmap): order v1.2.0-3 by scoreboard cells per PR; #2549 as its own P1 row
  ROADMAP.md
Due: none

docs(changelog): record the velocity tooling (#2526)
  CHANGELOG.md
Due: none

feat(core): ADR-027 movement 2 — wire the lazy Django-lookup sink behind an OFF flag (#2539) (#2569)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_django_lookup_sink_2539.rs
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  docs/adr/027-template-variable-resolution-follows-django.md
  python/djust/_rust.pyi
  python/djust/components/base.py
  python/djust/config.py
  python/djust/render_env.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/websocket.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_template_builtins_2347.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(checks): name both admin apps in the C016 fallback message; cite the docs-pin test file (#2562 review)
  CHANGELOG.md
  python/djust/checks/configuration.py
Due: pytest

fix(checks): walk the URLconf before __subclasses__ so non-routed LiveViews are always checked (#2559)
  python/djust/__init__.py
  python/djust/checks/components.py
  python/djust/tests/test_check_liveviews_urlconf_order_2559.py
  python/djust/tests/test_check_ws_parity_2059.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

docs(changelog): correct the live_view collision contract and record the check-order fix (#2559)
  CHANGELOG.md
  python/djust/__init__.py
Due: pytest

fix(hooks): engine-crate changes run the full suite; the cargo selector says when it falls back (#2575 review)
  scripts/pre-push-cargo-test.sh
  scripts/select-tests.py
  tests/unit/test_select_tests.py
Due: pytest

chore(ci): shard python-tests four ways with pytest-split
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .test_durations
  Makefile
  pyproject.toml
  requirements-dev.txt
  tests/test_ci_python_test_shards.py
Due: pytest

docs(ci): document the python-tests shards and .test_durations upkeep
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

fix(live): state the real msgpack restore contract for lazy handles and pin it (#2570)
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/tests/test_restore_round_trip_contract_2570.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the restore round-trip contract pin (#2570)
  CHANGELOG.md
Due: none

fix(live): drop state keys the context no longer carries (#2564)
  crates/djust_live/src/lib.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/tests/test_changed_tracking.py
  python/tests/test_date_format_injection.py
  python/tests/test_static_assigns.py
  python/tests/test_update_state_removes_absent_keys_2564.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the update_state key-removal fix (#2564)
  CHANGELOG.md
Due: none

feat(package): lazy package init so the template backend imports without the LiveView stack (#2559) (#2573)
  CHANGELOG.md
  docs/TEMPLATE_BACKEND.md
  python/djust/__init__.py
  python/djust/checks/components.py
  python/djust/tests/test_check_liveviews_urlconf_order_2559.py
  python/djust/tests/test_check_ws_parity_2059.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

fix(templates): parse at construction and raise TemplateSyntaxError where Django does (#2549)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/template/__init__.py
  python/djust/template/exceptions.py
  python/djust/template/rendering.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_panic_boundary_2343.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record #2549 parse-at-construction, rewrite the suite baseline, file the grammar-gap follow-ups
  CHANGELOG.md
  ROADMAP.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

feat(templates): implement the {% autoescape %} tag on the Rust engine (#2556, PR A)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/checks/templates.py
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_needs_autoescape_2284.py
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(checks): C016 system check for the TEMPLATES shape (#2562) (#2574)
  CHANGELOG.md
  docs/system-checks.md
  python/djust/checks/configuration.py
  python/djust/tests/test_c016_templates_shape_2562.py
  python/djust/tests/test_c0xx_docs_table_pin_2562.py
Due: pytest

docs(changelog): record the {% autoescape %} tag and its measured scoreboard delta (#2556 PR A)
  CHANGELOG.md
  ROADMAP.md
Due: none

feat(templates): {% load app_tags %} imports the Django library and bridges its tags and filters (#2547)
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/template_libraries.py
  python/djust/template_tags/__init__.py
  python/djust/test_isolation.py
  python/tests/lib2547/__init__.py
  python/tests/lib2547/templates/lib2547_base.html
  python/tests/lib2547/templates/lib2547_child.html
  python/tests/lib2547/templates/lib2547_inc.html
  python/tests/lib2547/templates/lib2547_incl.html
  python/tests/lib2547/templatetags/__init__.py
  python/tests/lib2547/templatetags/lib2547_builtin.py
  python/tests/lib2547/templatetags/lib2547_extra.py
  python/tests/lib2547/templatetags/lib2547_rawblock.py
  python/tests/lib2547/templatetags/lib2547_tags.py
  python/tests/test_load_imports_django_libraries_2547.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(ci): shard python-tests four ways with pytest-split (19 min to ~8 min wall-clock) (#2583)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .test_durations
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  requirements-dev.txt
  tests/test_ci_python_test_shards.py
Due: pytest

fix(templates): refuse a raw block-consuming library tag per TAG, at parse time (#2547)
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  python/djust/template_libraries.py
  python/tests/lib2547/templates/lib2547_base.html
  python/tests/lib2547/templates/lib2547_child.html
  python/tests/lib2547/templates/lib2547_inc.html
  python/tests/lib2547/templatetags/lib2547_rawblock.py
  python/tests/test_load_imports_django_libraries_2547.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): document {% load app_tags %} library bridging (#2547)
  CHANGELOG.md
  ROADMAP.md
  docs/TEMPLATE_BACKEND.md
Due: none

feat(templates): the five remaining built-in tags — filter, cycle/resetcycle, lorem, debug, querystring (#2556)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/checks/templates.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/djust/template_tags/__init__.py
  python/djust/template_tags/_django_expr.py
  python/djust/template_tags/debug.py
  python/djust/template_tags/lorem.py
  python/djust/template_tags/querystring.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_checks.py
  python/tests/test_context_item_safety_2287.py
  python/tests/test_remaining_builtin_tags_2556.py
  python/tests/test_tag_operand_axis_2355_2356.py
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
  tests/unit/test_rust_custom_filters_1121.py
  tests/unit/test_rust_firstof_cycle_named_safe_1692.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(live): pin the state-backend round-trip contract for handle-bearing values (#2570) (#2585)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/tests/test_restore_round_trip_contract_2570.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): CHANGELOG, ROADMAP and backend notes for the five remaining built-in tags (#2556)
  CHANGELOG.md
  ROADMAP.md
  docs/TEMPLATE_BACKEND.md
Due: none

feat(changelog): changelog.d/ fragments — one file per PR, compiled into [Unreleased] at the release cut
  .pre-commit-config.yaml
  Makefile
  changelog.d/changelog-fragments.changed.md
  scripts/changelog-fragments.py
  scripts/check-changelog-test-counts.py
  tests/test_changelog_fragments.py
Due: pytest

docs(changelog): point pipelines, CLAUDE.md, PR checklist and CONTRIBUTING at changelog.d/ fragments
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
  CLAUDE.md
  CONTRIBUTING.md
  changelog.d/README.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

feat(templates): implement i18n tags and named cycle state advancement (#2558)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/render_env.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/template_libraries.py
  python/djust/template_tags/__init__.py
  python/tests/test_i18n_tags_2558.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
