Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(data-table): only sort, filter and group on declared columns
  python/djust/components/mixins/data_table.py
  python/djust/tests/test_data_table_handler_contracts.py
  python/tests/test_data_table_declared_columns.py
Due: pytest

fix(uploads): require AzureBlockBlobWriter to be opened before building its blob client
  python/djust/contrib/uploads/azure.py
Due: pytest

fix(admin-ext): apply the ModelAdmin permission hooks to views, save and delete
  docs/website/guides/admin-widgets.md
  python/djust/admin_ext/options.py
  python/djust/admin_ext/sites.py
  python/djust/admin_ext/views.py
  python/djust/tests/test_admin_model_permissions.py
Due: pytest

fix(components): escape class, id and label values in the Rust component renderers
  crates/djust_components/src/html.rs
  crates/djust_components/src/simple/alert.rs
  crates/djust_components/src/simple/avatar.rs
  crates/djust_components/src/simple/badge.rs
  crates/djust_components/src/simple/button.rs
  crates/djust_components/src/simple/card.rs
  crates/djust_components/src/simple/icon.rs
  crates/djust_components/src/simple/modal.rs
  crates/djust_components/src/simple/progress.rs
  crates/djust_components/src/simple/range.rs
  crates/djust_components/src/simple/spinner.rs
  crates/djust_components/src/simple/textarea.rs
  crates/djust_components/src/simple/toast.rs
  crates/djust_components/src/ui/alert.rs
  crates/djust_components/src/ui/card.rs
  crates/djust_components/src/ui/dropdown.rs
  crates/djust_components/src/ui/modal.rs
  crates/djust_components/src/ui/tabs.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

chore(scripts): prefer the checkout's own .venv in run-with-venv-python.sh
  scripts/run-with-venv-python.sh
  tests/test_run_with_venv_python.py
Due: pytest

fix(observability): serve only direct local requests that carry the project token
  docs/PULL_REQUEST_CHECKLIST.md
  docs/SECURE_DEFAULTS.md
  docs/website/guides/mcp-server.md
  python/djust/management/commands/djust_observability_token.py
  python/djust/mcp/server.py
  python/djust/observability/__init__.py
  python/djust/observability/middleware.py
  python/djust/observability/views.py
  python/djust/tests/conftest.py
  python/djust/tests/test_observability_dry_run.py
  python/djust/tests/test_observability_eval_handler.py
  python/djust/tests/test_observability_foundation.py
  python/djust/tests/test_observability_localhost_gate.py
  python/djust/tests/test_observability_log_tail.py
  python/djust/tests/test_observability_reset_view.py
  python/djust/tests/test_observability_sql.py
  python/djust/tests/test_observability_timings.py
  python/djust/tests/test_observability_tracebacks.py
  python/djust/tests/test_observability_view_assigns.py
Due: pytest

fix(components): escape model-derived labels in relation selects
  python/djust/components/forms/foreign_key.py
  python/djust/tests/test_relation_select_escaping.py
Due: pytest

fix(components): escape remaining values in component tags and Rust tag handlers
  python/djust/components/rust_handlers.py
  python/djust/components/templatetags/_advanced.py
  python/djust/components/templatetags/djust_components.py
  python/djust/tests/test_component_tags_escaping.py
  python/djust/tests/test_rust_handlers_escaping.py
Due: pytest

fix(templates): keep custom filter output escaped unless its input was safe
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/renderer.rs
  docs/website/core-concepts/templates.md
  python/djust/_rust.pyi
  python/tests/test_custom_filter_is_safe_requires_safe_input.py
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(theming): resolve unregistered pack and layout names to defaults, encode theme_css_link
  python/djust/tests/test_theming_cookie_state_values.py
  python/djust/tests/test_theming_v082_drain.py
  python/djust/theming/manager.py
  python/djust/theming/templatetags/theme_tags.py
  tests/unit/test_theming_cookie_namespace_1158.py
Due: pytest

fix(uploads): record the owning session on resumable uploads
  python/djust/tests/test_upload_resume_owner_session.py
  python/djust/uploads/__init__.py
  python/djust/uploads/resumable.py
  python/djust/websocket.py
  tests/unit/test_security_upload_resumable.py
Due: pytest

fix(components): keep rich-text editor formatting by cleaning its value instead of escaping it
  python/djust/components/components/rich_text_editor.py
  python/djust/components/templatetags/djust_components.py
  python/djust/components/utils.py
  python/djust/tests/test_component_tags_escaping.py
  python/djust/tests/test_components_escaping_p_z.py
  python/djust/tests/test_rich_text_editor_value.py
Due: pytest

fix(state-snapshot): bind snapshots to a keyed digest of the session key
  docs/SECURE_DEFAULTS.md
  python/djust/security/state_snapshot.py
  python/djust/tests/test_runtime_mount_state_restore_1913.py
  python/djust/tests/test_state_snapshot_signing.py
Due: pytest

fix(runtime): join channel groups only after the mount is admitted
  python/djust/runtime.py
  python/djust/tests/test_mount_group_membership.py
  python/djust/websocket.py
Due: pytest

fix(live-render): re-run child auth checks when reusing a sticky child
  python/djust/mixins/sticky.py
  python/djust/templatetags/live_tags.py
  tests/unit/test_sticky_child_reuse_authorization.py
Due: pytest

docs(changelog): record the 1.1 maintenance fixes under Unreleased
  CHANGELOG.md
Due: none

chore(release): bump to 1.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(changelog): 1.2.0 security section
  CHANGELOG.md
Due: none

chore(release): bump to 1.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(scripts): pre-push pytest strips inherited git variables (#2608)
  scripts/pre-push-pytest.sh
Due: none

test(admin-ext): clear the template-dirs cache around the permission tests
  python/djust/tests/test_admin_model_permissions.py
Due: pytest

fix(deps): lock patched anyio, autobahn, click, Django, anyhow and brace-expansion
  Cargo.lock
  docs/TEMPLATE_BACKEND.md
  package-lock.json
  uv.lock
Due: none

ci(release): gate publishing on the pre-release security audit
  .cargo/audit.toml
  .github/SECURITY_AUDIT_TEMPLATE.md
  .github/security/pip-audit-ignore.txt
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Makefile
  RELEASING.md
  changelog.d/release-audit-gate.security.md
  scripts/codeql-alert-gate.sh
  scripts/pip-audit-gate.py
  tests/test_release_audit_gate.py
Due: pytest

ci(release): gate publishing on the pre-release security audit (#2989)
  .cargo/audit.toml
  .github/SECURITY_AUDIT_TEMPLATE.md
  .github/security/pip-audit-ignore.txt
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  Cargo.lock
  Makefile
  RELEASING.md
  changelog.d/release-audit-gate.security.md
  docs/TEMPLATE_BACKEND.md
  package-lock.json
  scripts/codeql-alert-gate.sh
  scripts/pip-audit-gate.py
  tests/test_release_audit_gate.py
  uv.lock
Due: pytest

fix(security): remove the pickle-backed SerializerCache and stop skipping B301/B102/B324
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  changelog.d/bandit-skip-narrowing.security.md
  changelog.d/serializer-cache-removed.removed.md
  docs/templates/ORM_JIT_ARCHITECTURE.md
  docs/templates/ORM_JIT_IMPLEMENTATION.md
  examples/demo_project/benchmarks/benchmark_jit.py
  pyproject.toml
  python/djust/mixins/rust_bridge.py
  python/djust/optimization/__init__.py
  python/djust/optimization/cache.py
  python/djust/optimization/codegen.py
  python/djust/runtime.py
  python/djust/tests/test_codegen_identifier_validation.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_cache.py
  tests/test_bandit_skip_lists_agree.py
Due: pytest

fix(security): remove the pickle-backed SerializerCache and stop skipping B301/B102/B324 (#2992)
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  changelog.d/bandit-skip-narrowing.security.md
  changelog.d/serializer-cache-removed.removed.md
  docs/templates/ORM_JIT_ARCHITECTURE.md
  docs/templates/ORM_JIT_IMPLEMENTATION.md
  examples/demo_project/benchmarks/benchmark_jit.py
  pyproject.toml
  python/djust/mixins/rust_bridge.py
  python/djust/optimization/__init__.py
  python/djust/optimization/cache.py
  python/djust/optimization/codegen.py
  python/djust/runtime.py
  python/djust/tests/test_codegen_identifier_validation.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_cache.py
  tests/test_bandit_skip_lists_agree.py
Due: pytest

docs: add release notes for djust 1.2 and 1.1.4
  changelog.d/release-notes-1.2.documentation.md
  docs/website/_config.yaml
  docs/website/releases/1.1.4.md
  docs/website/releases/1.2.md
Due: none

test: clear Engine.get_default when tests reset template engines (#2991)
  python/djust/tests/test_tag_bridge_object_parity_2731.py
  python/djust/tests/test_unsaved_model_list_2736.py
  python/tests/test_unknown_filter_parse_time_2419.py
  tests/test_rust_vdom_safe_diff_783.py
  tests/unit/test_template_inheritance.py
Due: pytest

docs: add release notes for djust 1.2 and 1.1.4 (#2994)
  changelog.d/release-notes-1.2.documentation.md
  docs/website/_config.yaml
  docs/website/releases/1.1.4.md
  docs/website/releases/1.2.md
Due: none

test: clear Engine.get_default when tests reset template engines (#2991) (#2995)
  python/djust/tests/test_tag_bridge_object_parity_2731.py
  python/djust/tests/test_unsaved_model_list_2736.py
  python/tests/test_unknown_filter_parse_time_2419.py
  tests/test_rust_vdom_safe_diff_783.py
  tests/unit/test_template_inheritance.py
Due: pytest

fix(vdom): keep the space between inline siblings (<b>A</b> <i>B</i>) (#2999)
  CLAUDE.md
  changelog.d/2999.fixed.md
  crates/djust_core/src/html_whitespace.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/test_inline_whitespace_2999.rs
  crates/djust_vdom/tests/test_loop_parse_cache_1970.rs
  docs/website/advanced/vdom-architecture.md
  python/djust/_rust.pyi
  python/djust/mixins/template.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/tests/test_inline_whitespace_2999.py
  python/djust/tests/test_ssr_render_normalization_1737.py
  python/djust/tests/test_strip_whitespace.py
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_inline_whitespace_2999.json
  tests/js/fixtures/vdom_diff_keyed_list_fuzz_2999.json
  tests/js/inline_whitespace_parity_2999.test.js
  tests/js/patch_sorting.test.js
  tests/livefixtures/inline_whitespace_view.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(vdom): address #3009 review — one patch-batch model, stale fast path, normalizer in Rust (#2999)
  changelog.d/2999.changed.md
  changelog.d/2999.fixed.md
  crates/djust_core/src/html_whitespace.rs
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/test_inline_whitespace_2999.rs
  docs/website/advanced/vdom-architecture.md
  python/djust/_rust.pyi
  python/djust/mixins/template.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/streaming.py
  python/djust/tests/test_inline_whitespace_2999.py
  python/djust/tests/test_inline_whitespace_fastpath_2999.py
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_if_for_fuzz_2999.json
  tests/js/fixtures/vdom_normalizer_corpus_2999.json
  tests/js/inline_whitespace_parity_2999.test.js
  tests/livefixtures/inline_whitespace_view.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(vdom): keep the space between inline siblings (<b>A</b> <i>B</i>) (#2999) (#3009)
  CLAUDE.md
  changelog.d/2999.changed.md
  changelog.d/2999.fixed.md
  crates/djust_core/src/html_whitespace.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/test_inline_whitespace_2999.rs
  crates/djust_vdom/tests/test_loop_parse_cache_1970.rs
  docs/website/advanced/vdom-architecture.md
  python/djust/_rust.pyi
  python/djust/mixins/template.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/streaming.py
  python/djust/tests/test_inline_whitespace_2999.py
  python/djust/tests/test_inline_whitespace_fastpath_2999.py
  python/djust/tests/test_ssr_render_normalization_1737.py
  python/djust/tests/test_strip_whitespace.py
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_if_for_fuzz_2999.json
  tests/js/fixtures/vdom_diff_inline_whitespace_2999.json
  tests/js/fixtures/vdom_diff_keyed_list_fuzz_2999.json
  tests/js/fixtures/vdom_normalizer_corpus_2999.json
  tests/js/inline_whitespace_parity_2999.test.js
  tests/js/patch_sorting.test.js
  tests/livefixtures/inline_whitespace_view.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

docs(roadmap): plan 1.2.1 as 13 non-breaking drain buckets; list 1.3 items
  ROADMAP.md
Due: none

docs(roadmap): plan 1.2.1 as 13 non-breaking drain buckets; list 1.3 items (#3015)
  ROADMAP.md
Due: none

fix(csrf): bind the browser's CSRF cookie on socket mounts; inject into the real <head>
  python/djust/mixins/post_processing.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/security/csrf.py
  python/djust/tests/test_csrf_socket_render_2998.py
  python/djust/websocket.py
  tests/unit/test_csrf_meta_injection.py
  tests/unit/test_sticky_preserve.py
Due: pytest

fix(components): CodeBlock copy, theme-paired labels, star contrast, hook warnings
  python/djust/components/components/alert.py
  python/djust/components/components/avatar.py
  python/djust/components/components/code_block.py
  python/djust/components/components/progress.py
  python/djust/components/static/djust_components/components-classes.css
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/countdown.js
  python/djust/components/static/djust_components/infinite-scroll.js
  python/djust/components/static/djust_components/markdown-textarea.js
  python/djust/components/static/djust_components/scroll-spy.js
  python/djust/components/tests/test_components_css_2996_2993_3008.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/templates/djust_theming/catalogue/detail.html
  tests/js/component_script_hooks_2985.test.js
Due: npm-test, pytest

docs: document unstyled Python components; changelog fragments for v1.2.1-12
  changelog.d/2985.fixed.md
  changelog.d/2993.documentation.md
  changelog.d/2996.fixed.md
  changelog.d/3008.fixed.md
  docs/website/guides/components.md
Due: none
