Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

test(actors): say what to do with the #2741 pin when the bug is fixed
  crates/djust_live/src/actors/view.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(actors): a ViewActor render on a tokio worker reads the RESOLVE_LAZY default, not the configured value (#2741) (#2751)
  crates/djust_live/src/actors/view.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(templates): the #2737 pins run their real predicates, and "every door" is derived from the file
  changelog.d/2737.changed.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  python/tests/test_state_shared_2737.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(adr): ADR-029 — consolidate value-boundary channels, explicit RenderEnv
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
Due: none

docs(adr): ADR-029 Gate 4 — cite the real ViewActor spawn (session.rs:259)
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
Due: none

docs(adr): rewrite ADR-029 as the ADR-027 addendum it should have been
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
  docs/adr/029-render-env-as-per-view-config.md
Due: none

docs(adr): ADR-029 Gate 4 — actor-path bug is now observed (PR #2751)
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
Due: none

docs(adr): ADR-029 Gate 4 — mark the actor-path bug as inferred, not observed
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
Due: none

docs(adr): strengthen ADR-029 Gate 4 verification and actor path rationale (#2741)
  docs/adr/029-consolidate-value-boundary-channels-and-render-env.md
Due: none

docs(templates): size the deserialize_msgpack rehash the #2737 hasher change adds
  changelog.d/2737.changed.md
Due: none

fix(tests): clear the Rust per-thread render env before each test (#2728)
  python/djust/test_isolation.py
  python/tests/test_temporal_add_values.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs: changelog fragment for #2728
  changelog.d/2728.fixed.md
Due: none

fix(tests): clear the Rust per-thread render env before each test (#2728) (#2752)
  changelog.d/2728.fixed.md
  python/djust/test_isolation.py
  python/tests/test_temporal_add_values.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

fix(tests): a live-handler spy no longer leaves a bound method shadowing render() (#2749)
  python/djust/test_isolation.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs(changelog): fragment for #2749
  changelog.d/2749.fixed.md
Due: none

docs(canon): a counting pin derives its count; a gate-off harness is bounded (#2727, #2730)
  CLAUDE.md
Due: none

refactor(rust_bridge): delete the context-narrowing filter that never fired (#2739)
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_dead_context_filter_removed_2739.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

docs(changelog): fragment for the deleted context-narrowing filter (#2739)
  changelog.d/2739.removed.md
Due: none

fix(components): ModalComponent defines the `dismiss` handler its close controls emit; footer is overridable (#2748)
  python/djust/components/ui/modal.py
  python/djust/tests/test_modal_dismiss_2748.py
Due: pytest

docs(changelog): fragments for the ModalComponent dismiss handler + footer (#2748)
  changelog.d/2748.added.md
  changelog.d/2748.fixed.md
Due: none

fix(templates): an inline-if COMPOUND condition reaches the node's deps (#2745)
  crates/djust_templates/src/parser.rs
  python/tests/test_inline_if_compound_deps_2745.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): fragment for #2745 (inline-if compound condition deps)
  changelog.d/2745.fixed.md
Due: none

fix(tests): a live-handler spy no longer leaves a bound method shadowing render() (#2749) (#2753)
  changelog.d/2749.fixed.md
  python/djust/test_isolation.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs(canon): a counting pin derives its count; a gate-off harness is bounded (#2727, #2730) (#2754)
  CLAUDE.md
Due: none

fix(components): decorate AlertComponent/BadgeComponent.dismiss and route the badge's close button to itself; package-wide handler pin (#2756)
  python/djust/components/ui/alert.py
  python/djust/components/ui/badge.py
  python/djust/tests/test_modal_dismiss_2748.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

docs(changelog): fragment for the ui dismiss-handler sweep (#2756)
  changelog.d/2756.fixed.md
Due: none

feat(tests): a run that loses collected items exits red, not green (#2746)
  .github/workflows/main-health.yml
  .github/workflows/test.yml
  .test_collected_floor
  CONTRIBUTING.md
  Makefile
  conftest.py
  tests/lost_items_guard.py
  tests/test_lost_items_guard.py
Due: pytest

docs(changelog): fragment for the lost-items guard (#2746)
  changelog.d/2746.added.md
Due: none

fix(components): ModalComponent defines the `dismiss` handler its close controls emit; footer overridable (#2748) (#2755)
  changelog.d/2748.added.md
  changelog.d/2748.fixed.md
  python/djust/components/ui/modal.py
  python/djust/tests/test_modal_dismiss_2748.py
Due: pytest

perf(templates): a render shares the view's state map instead of copying it (#2737) (#2744)
  changelog.d/2737.changed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/tests/test_state_shared_2737.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): fragment for the datetime live-handle pin (#2741)
  changelog.d/2741.fixed.md
Due: none

test(templates): pin that the datetime family carries a live handle (#2741)
  crates/djust_core/src/context.rs
  docs/architecture/VALUE_BOUNDARY.md
  python/tests/test_datetime_live_handle_2741.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tests): four i18n-bridge tests read the tag registries at their own backend's namespace (#2747)
  python/tests/test_i18n_tags_bridge_2558.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs(changelog): fragment for #2747
  changelog.d/2747.fixed.md
Due: none

refactor(rust_bridge): delete the context-narrowing filter that never fired (#2739) (#2757)
  changelog.d/2739.removed.md
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_dead_context_filter_removed_2739.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

fix(templates): an inline-if COMPOUND condition reaches the node's deps (#2745) (#2760)
  changelog.d/2745.fixed.md
  crates/djust_templates/src/parser.rs
  python/tests/test_inline_if_compound_deps_2745.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(scoreboard): ratchet per cell — a fix-5-break-5 swap is red with the ids named (#2722)
  .github/workflows/test.yml
  python/tests/test_django_template_suite_2517.py
  scripts/django-template-suite-baseline.json
  scripts/lib/django_template_suite/report.py
  scripts/run-django-template-suite.py
Due: pytest

docs(changelog): fragment for the per-cell scoreboard ratchet (#2722)
  changelog.d/2722.changed.md
Due: none
