Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Bump version to 0.4.0rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: handle True/False/None as literals in get_value()
  Cargo.lock
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test: add regression tests for boolean/None literal resolution in get_value()
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: handle True/False/None as literals in get_value() (#602)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Bump version to 0.4.0
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat: add descriptor protocol to LiveComponent (DEP-002)
  python/djust/components/base.py
Due: pytest

feat: render caching, dependency tracking, optimistic UI (DEP-002)
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/websocket.py
Due: npm-test, pytest

fix: resolve descriptors in get_context_data instead of raw class values
  python/djust/mixins/context.py
Due: pytest

fix: LiveComponent.mount() not called when instantiated with kwargs
  python/djust/components/base.py
Due: pytest

feat: close Rust template engine gaps (model attrs, custom tag fallback)
  Cargo.lock
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_liveview_include.py
  python/tests/test_template_edge_cases.py
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: add DEVELOPMENT.md with team development guidelines
  DEVELOPMENT.md
Due: none

docs: add DEVELOPMENT.md with team development guidelines
  Cargo.lock
  DEVELOPMENT.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/djust/components/base.py
  python/djust/mixins/context.py
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/websocket.py
  python/tests/test_liveview_include.py
  python/tests/test_template_edge_cases.py
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix: defer reinitAfterDOMUpdate to next frame on pre-rendered mount
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/mount-deferred-reinit.test.js
Due: npm-test

fix: sync input .value from attribute after innerHTML/VDOM patch
  python/djust/static/djust/client.js
Due: npm-test

fix: address PR review — extract helper, add guards, tests, changelog
  CHANGELOG.md
  python/djust/static/djust/client.js
  tests/js/preserve_form_values.test.js
Due: npm-test

fix: sync input .value from value attribute after VDOM patch (#625)
  CHANGELOG.md
  python/djust/static/djust/client.js
  tests/js/preserve_form_values.test.js
Due: npm-test

feat: add event_name kwarg to as_live_field for custom handler names
  python/djust/forms.py
  python/djust/frameworks.py
Due: pytest

fix: add data-field_name attr to all form inputs rendered by as_live_field
  python/djust/frameworks.py
Due: pytest

fix: correct has_ids attribute name in WebSocket mount response
  python/djust/websocket.py
  python/tests/test_websocket_has_ids.py
Due: pytest

fix: address PR review — add CHANGELOG entry, clarify substring test
  CHANGELOG.md
  python/tests/test_websocket_has_ids.py
Due: pytest

fix: correct has_ids attribute name in WebSocket mount response (#630)
  CHANGELOG.md
  python/djust/websocket.py
  python/tests/test_websocket_has_ids.py
Due: pytest

fix: render Django Form/BoundField to SafeString HTML in template context
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/tests/test_boundfield_rendering.py
Due: pytest

fix: address PR review — add CHANGELOG, extract render_form_value helper
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/template/serialization.py
Due: pytest

fix: render Django Form/BoundField to SafeString HTML in template context (#631)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/tests/test_boundfield_rendering.py
Due: pytest

feat: add WizardMixin for multi-step LiveView form wizards
  python/djust/__init__.py
  python/djust/wizard.py
  tests/unit/test_wizard_mixin.py
Due: pytest

fix: address PR review — add CHANGELOG, fix type hint, document MRO
  CHANGELOG.md
  python/djust/wizard.py
Due: pytest

docs: add WizardMixin guide and forms index reference
  docs/website/forms/index.md
  docs/website/guides/wizards.md
Due: none

feat: add WizardMixin for multi-step LiveView form wizards (#632)
  CHANGELOG.md
  docs/website/forms/index.md
  docs/website/guides/wizards.md
  python/djust/__init__.py
  python/djust/wizard.py
  tests/unit/test_wizard_mixin.py
Due: pytest

fix: scope debug panel CSS selectors to prevent style leakage (#633)
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/01-panel-ui.js
Due: npm-test

fix: scaffold defaults DEBUG=False and generates .env.example
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
Due: pytest

fix: enforce login_required on HTTP GET and call handle_params after mount
  python/djust/mixins/request.py
  python/tests/test_http_get_auth.py
Due: pytest

fix: address PR review — add CHANGELOG, remove unrelated debug panel commit
  CHANGELOG.md
Due: none

fix: enforce login_required on HTTP GET and call handle_params after mount (#636)
  CHANGELOG.md
  python/djust/mixins/request.py
  python/tests/test_http_get_auth.py
Due: pytest

fix: normalize Model instances in render_full_template before Rust
  python/djust/mixins/template.py
  python/tests/test_model_fk_rendering.py
Due: pytest

fix: address PR review — add CHANGELOG, fix no-op test
  CHANGELOG.md
  python/tests/test_model_fk_rendering.py
Due: pytest

fix: normalize Model instances in render_full_template before passing to Rust (#639)
  CHANGELOG.md
  python/djust/mixins/template.py
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/01-panel-ui.js
  python/tests/test_model_fk_rendering.py
Due: npm-test, pytest

chore: bump version to 0.4.1rc1
  pyproject.toml
Due: none

fix: dj-patch on <a> tags uses href when attribute value is empty
  python/djust/static/djust/client.js
  python/djust/static/djust/src/18-navigation.js
Due: npm-test

fix: address PR review — add CHANGELOG, regression tests for dj-patch href fallback
  CHANGELOG.md
  tests/js/navigation.test.js
Due: npm-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
