Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

test: restore the three #2448-driven test edits a checkout reverted
  python/tests/test_for_non_iterable_2382.py
  python/tests/test_int_argument_type_2366.py
  python/tests/test_timesince_comparison_instant_2344.py
Due: pytest

docs(changelog): rewrite #2448 / #2449 for the merged reality
  CHANGELOG.md
Due: none

fix(templates): json_script spells a datetime with DjangoJSONEncoder, and an absent variable stops refusing (#2448, #2449) (#2456)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/pprint.rs
  python/tests/test_for_non_iterable_2382.py
  python/tests/test_int_argument_type_2366.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_sequence_op_chokepoint_2451.py
  python/tests/test_timesince_comparison_instant_2344.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): bool(timedelta(0)) is False, and the falsiness rule has one definition (#2458)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): bool(timedelta(0)) is False, and the falsiness rule has one definition (#2458)
  CHANGELOG.md
Due: none

fix(templates): get_digit answers an int, not a one-character string (#2459); a non-finite Decimal stays permissive (#2460)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_special_render_decision_2460.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_sequence_op_chokepoint_2451.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): get_digit's return type and the Decimal-special decision (#2459, #2460)
  CHANGELOG.md
Due: none

fix(serialization): every datetime sink spells a value the way DjangoJSONEncoder does (#2462)
  python/djust/serialization.py
  python/djust/template/serialization.py
  python/tests/test_datetime_encoder_spelling_2462.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_template_serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

docs(changelog): every datetime sink spells a value the way DjangoJSONEncoder does (#2462)
  CHANGELOG.md
Due: none

fix(templates): bool(timedelta(0)) is False, and the falsiness rule has one definition (#2458) (#2464)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): get_digit answers an int (#2459); a non-finite Decimal stays permissive — decided (#2460) (#2465)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_special_render_decision_2460.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_sequence_op_chokepoint_2451.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(serialization): every datetime sink spells a value the way DjangoJSONEncoder does (#2462) (#2468)
  CHANGELOG.md
  python/djust/serialization.py
  python/djust/template/serialization.py
  python/tests/test_datetime_encoder_spelling_2462.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_template_serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

fix(templates): {% regroup %} refuses a non-iterable source, as {% for %} does (#2463)
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/regroup.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): {% regroup %} refuses a non-iterable source (#2463)
  CHANGELOG.md
Due: none

fix(tests): the differential can build a FALSY argument, and holds a timedelta (#2469)
  python/tests/test_differential_reachability_manifest_2345.py
  scripts/filter-parity-differential.py
Due: pytest

docs(changelog): the differential's falsy-argument and timedelta gap (#2469)
  CHANGELOG.md
Due: none

fix(templates): {% regroup %} refuses a non-iterable source, as {% for %} does (#2463) (#2470)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/regroup.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tests): the corpus's two INPUTS readers learn `datetime`, and #2451's counts follow (#2469)
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_sequence_op_chokepoint_2451.py
Due: pytest

fix(tests): the differential can build a FALSY argument, and holds a timedelta (#2469) (#2474)
  CHANGELOG.md
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_sequence_op_chokepoint_2451.py
  scripts/filter-parity-differential.py
Due: pytest

fix(serialization): the LiveView path carries a datetime to Rust instead of flattening it (#2467)
  python/djust/serialization.py
  python/djust/tests/test_async_result_serializer.py
  python/tests/test_datetime_encoder_spelling_2462.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_liveview_path_carries_datetime_2467.py
  python/tests/test_sequence_op_chokepoint_2451.py
  tests/unit/test_normalize_django_value.py
Due: pytest

docs(changelog): the LiveView path no longer flattens a datetime (#2467)
  CHANGELOG.md
Due: none

fix(templates): Value::Encoded compares, reprs and refuses int() as Python does (#2471, #2472, #2473)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(templates): the Encoded value-position suite, and the aware-time domain removed (#2471, #2472, #2473)
  crates/djust_core/src/lib.rs
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_encoded_value_position_2471_2472_2473.py
  python/tests/test_json_script_datetime_value_2448.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): invert three stale pins that #2472/#2473 closed
  python/tests/test_filter_arm_parity_2399_2401_2403.py
  python/tests/test_sequence_op_chokepoint_2451.py
Due: pytest

fix(tests): the nine pins that spelled a normalized datetime as a string (#2467)
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_state_tag_2252.py
  python/tests/test_serialization_hardening.py
  tests/unit/test_filter_literal_args_1081.py
Due: pytest

docs(changelog): what #2467 narrows in #2252's state-roundtrip no-op claim
  CHANGELOG.md
Due: none

test(2467): record the final gate-off numbers, including the group that must NOT redden
  python/tests/test_liveview_path_carries_datetime_2467.py
Due: pytest

test(2467): the parity sweep's carried-type rows are now definitional — assert the non-vacuous half (#1200)
  tests/unit/test_normalize_django_value.py
Due: pytest

test(templates): close two axes the randomized corpus was blind to (#2471)
  python/tests/test_encoded_value_position_2471_2472_2473.py
Due: pytest

fix(templates): bool(set()) is False, and the falsiness rule reaches the conversion (#2466)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the falsiness rule reaches the conversion (#2466)
  CHANGELOG.md
Due: none

docs(changelog): Value::Encoded value-position holes (#2471, #2472, #2473)
  CHANGELOG.md
Due: none

fix(templates): bool(set()) is False, and the falsiness rule reaches the conversion (#2466) (#2476)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_timesince_comparison_instant_2344.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(serialization): the LiveView path carries a datetime to Rust instead of flattening it (#2467) (#2475)
  CHANGELOG.md
  python/djust/serialization.py
  python/djust/tests/test_async_result_serializer.py
  python/tests/test_datetime_encoder_spelling_2462.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_state_tag_2252.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_liveview_path_carries_datetime_2467.py
  python/tests/test_sequence_op_chokepoint_2451.py
  python/tests/test_serialization_hardening.py
  tests/unit/test_filter_literal_args_1081.py
  tests/unit/test_normalize_django_value.py
Due: pytest

test(templates): prove the M11 gate-off's count of ONE is complete, not thin
  python/tests/test_encoded_value_position_2471_2472_2473.py
Due: pytest

test(differential): the truthiness axis enumerates conversion OUTCOMES, not `Value` variants (#2477)
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_json_script_ensure_ascii_and_element_id_2413.py
  python/tests/test_sequence_op_chokepoint_2451.py
  scripts/filter-parity-differential.py
Due: pytest

test(templates): invert the fourth stale pin, and record the new corpus numbers
  CHANGELOG.md
  python/tests/test_get_digit_returns_an_int_2459.py
Due: pytest

docs(changelog): the truthiness axis enumerates conversion outcomes (#2477)
  CHANGELOG.md
Due: none

test(templates): teach the 2459 class-extractor to read int_value_error's shape
  python/tests/test_get_digit_returns_an_int_2459.py
Due: pytest

test(core): pin Value::Encoded's POSITIONAL msgpack slots (#2471, #2472, #2466)
  CHANGELOG.md
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
