Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix: deliver contracts with child background renders
  changelog.d/child-background-parameter-contracts.fixed.md
  docs/adr/036-owner-contract-manifests.md
  docs/adr/component-conventions-implementation.md
  python/djust/_child_async.py
  python/djust/tests/test_exposure_child_async.py
  python/djust/tests/test_runtime_child_routing_1892.py
Due: pytest

feat: capture actor parameter contracts with render results
  changelog.d/actor-render-parameter-contracts.fixed.md
  crates/djust_live/src/actors/error.rs
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  docs/adr/036-owner-contract-manifests.md
  docs/adr/component-conventions-implementation.md
  python/djust/runtime.py
  python/djust/tests/test_actor_parameter_contracts.py
  python/djust/tests/test_strict_parameter_dispatch.py
  python/djust/tests/test_transport_actor_event_1901.py
  python/djust/websocket.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: deliver background renders after diff baseline loss
  changelog.d/background-html-fallback.fixed.md
  docs/adr/component-conventions-implementation.md
  python/djust/tests/test_background_html_fallback.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/tests/test_tick_skip_render_2822.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

feat: capture contracts with background WebSocket renders
  changelog.d/background-render-contracts.added.md
  docs/adr/036-owner-contract-manifests.md
  docs/adr/component-conventions-implementation.md
  python/djust/_background_render.py
  python/djust/tests/test_background_parameter_contracts.py
  python/djust/websocket.py
Due: pytest

fix: serialize debug renders with their parameter contracts
  changelog.d/debug-render-contracts.fixed.md
  docs/adr/036-owner-contract-manifests.md
  docs/adr/component-conventions-implementation.md
  python/djust/_background_render.py
  python/djust/_render_operation.py
  python/djust/tests/test_debug_render_contracts.py
  python/djust/websocket.py
  tests/js/request-correlation.test.js
Due: npm-test, pytest

fix: bind replay arguments before restoring state
  changelog.d/replay-parameter-contracts.fixed.md
  docs/adr/036-owner-contract-manifests.md
  docs/adr/036-strict-server-integration.md
  docs/adr/component-conventions-implementation.md
  python/djust/tests/test_replay_parameter_contracts.py
  python/djust/time_travel.py
Due: pytest

test: prove typed component output bindings with both checkers
  Makefile
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  scripts/check-component-binding-types.py
  tests/test_component_binding_type_proof.py
  tests/typing_component_bindings/README.md
  tests/typing_component_bindings/mypy.ini
  tests/typing_component_bindings/negative.py
  tests/typing_component_bindings/positive.py
  tests/typing_component_bindings/prototype.py
  tests/typing_component_bindings/pyrightconfig.json
Due: pytest

feat: validate component subscriptions before runtime dispatch
  changelog.d/component-subscription-contracts.added.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  pyproject.toml
  python/djust/_component_subscriptions.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/tests/test_component_subscriptions.py
  python/djust/websocket_utils.py
Due: pytest

feat: bind interactive dropdown outputs to native component instances
  changelog.d/concrete-interactive-bindings.added.md
  changelog.d/http-async-event-handlers.fixed.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  pyproject.toml
  python/djust/components/_interactive.py
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/tests/test_interactive_bindings.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
  scripts/check-component-binding-types.py
  tests/test_component_binding_type_proof.py
  tests/typing_component_bindings/README.md
  tests/typing_component_bindings/mypy.ini
  tests/typing_component_bindings/positive.py
  tests/typing_component_bindings/prototype.py
  tests/typing_component_bindings/pyrightconfig.json
  tests/typing_component_bindings/runtime_check.py
Due: pytest

fix: restore interactive debug state through its declared schema
  changelog.d/interactive-debug-state.fixed.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  python/djust/components/_interactive.py
  python/djust/live_view.py
  python/djust/tests/test_interactive_bindings.py
  python/djust/time_travel.py
  tests/typing_component_bindings/README.md
Due: pytest

feat: restore signed interactive bindings and verify real-view typing
  changelog.d/interactive-real-view-typing.fixed.md
  changelog.d/interactive-signed-bindings.fixed.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  pyproject.toml
  python/djust/_interactive_snapshots.py
  python/djust/components/_interactive.py
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/runtime.py
  python/djust/tests/test_interactive_snapshots.py
  python/djust/tests/test_ws_mount_prerender_divergence_1610.py
  python/djust/tests/test_ws_reconnect_state_1465.py
  tests/test_component_binding_type_proof.py
  tests/typing_component_bindings/README.md
  tests/typing_component_bindings/mypy.ini
Due: pytest

feat: stage client visibility observation contracts and noop dispatch
  changelog.d/interactive-observation-server.added.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  python/djust/components/_interactive.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/tests/test_interactive_observations.py
  tests/typing_component_bindings/README.md
  tests/typing_component_bindings/negative.py
Due: pytest

fix: claim observation cursors independently of application sessions
  changelog.d/interactive-observation-cursors.fixed.md
  docs/adr/034-typing-proof.md
  docs/adr/component-conventions-implementation.md
  python/djust/components/_interactive.py
  python/djust/state_backends/base.py
  python/djust/state_backends/memory.py
  python/djust/state_backends/redis.py
  python/djust/tests/test_interactive_observations.py
  python/djust/tests/test_observation_cursor_backends.py
Due: pytest

wip(components): ADR-034 C2 client observation bindings
  CLAUDE.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/native-dropdown-observations.test.js
Due: npm-test

fix(client): route native-observation readiness through findPageViewContainer
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/automount-embedded-root-2632.test.js
Due: npm-test

docs(adr): give ADRs 034-038 a terminal retirement gate
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/035-django-native-form-and-object-lifecycle.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/037-event-contract-checks-and-executable-documentation.md
  docs/adr/038-explicit-context-and-state-exposure.md
  docs/adr/component-conventions-implementation.md
Due: none

docs(adr): one ADR per number — move supporting notes to docs/adr/notes/
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/034-typing-proof.md
  docs/adr/notes/036-owner-contract-manifests.md
  docs/adr/notes/036-strict-client-collection.md
  docs/adr/notes/036-strict-contract-core.md
  docs/adr/notes/036-strict-server-integration.md
  docs/adr/notes/038-exposure-sink-inventory.md
  scripts/check-adr-status.py
  tests/test_check_adr_status.py
Due: pytest

test(adr-038): close the service-worker state-storage row of E1
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  tests/js/exposure_sw_state_storage.test.js
Due: npm-test

test(adr-038): inventory every backend writer and the bug-capture store
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_debug.py
Due: pytest

test(adr-038): pin the actor event refusal and classify actor sinks
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_actor_mount.py
Due: pytest

security(adr-038): redact presence and cursor hook failures for nonlegacy views
  changelog.d/explicit-consumer-hook-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/websocket.py
Due: pytest

security(adr-038): redact server_push handler failures for nonlegacy views
  changelog.d/explicit-consumer-hook-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/websocket.py
Due: pytest

security(adr-038): redact tick and db_notify hook failures for nonlegacy views
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/websocket.py
Due: pytest

docs(changelog): name the tick and db_notify hooks in the consumer-hook fragment
  changelog.d/explicit-consumer-hook-diagnostics.security.md
Due: none

test(adr-038): pin every exception-carrying log call in the consumer
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_consumer_log_exposure_pin.py
Due: pytest

security(adr-038): redact untrack_presence failures and settle disconnect sites
  changelog.d/explicit-consumer-hook-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_consumer_log_exposure_pin.py
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/websocket.py
Due: pytest

security(adr-038): keep mount_batch failures value-free for nonlegacy views
  changelog.d/explicit-mount-batch-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_consumer_log_exposure_pin.py
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/websocket.py
Due: pytest

security(adr-038): add log_failure and redact set_layout render failures
  changelog.d/explicit-layout-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/_exposure_diagnostics.py
  python/djust/runtime.py
  python/djust/tests/test_consumer_log_exposure_pin.py
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/websocket.py
Due: pytest

test(adr-038): pin runtime.py's exception-carrying log calls too
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

security(adr-038): redact deferred-callback failures in runtime and consumer
  changelog.d/explicit-deferred-callback-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/runtime.py
  python/djust/tests/test_defer.py
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest

security(adr-038): redact the consumer's set_layout render failures
  changelog.d/explicit-layout-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_consumer_hook_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest

security(adr-038): redact get_presence_key failures at mount
  changelog.d/explicit-presence-key-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/runtime.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

docs(adr): correct the open-site counts from the pin tables
  docs/adr/component-conventions-implementation.md
Due: none

security(adr-038): redact full_html_update receiver failures
  changelog.d/explicit-signal-receiver-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/runtime.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

test(adr-038): classify the re-auth catches as legacy-gated
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

security(adr-038): freshly authorize NOTIFY-released activity events
  changelog.d/explicit-activity-notify-auth.security.md
  docs/adr/component-conventions-implementation.md
  python/djust/tests/test_exposure_activity_notify_auth.py
  python/djust/websocket.py
Due: pytest

security(adr-038): redact NOTIFY-released event failures; pin a dropped start_async
  changelog.d/explicit-activity-notify-auth.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_activity_notify_auth.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest

test(adr-038): confirm the snapshot-emit catch is legacy-gated
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

security(adr-038): redact post-event state-save failures for nonlegacy views
  changelog.d/explicit-state-save-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/runtime.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

security(adr-038): redact time-travel push failures for nonlegacy views
  changelog.d/explicit-time-travel-push-diagnostics.security.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/038-exposure-sink-inventory.md
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest
