Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: support Jinja2-style inline conditionals in {{ }} expressions (#375)
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
  python/tests/test_inline_conditionals.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: include dj-if placeholder comments in getSignificantChildren (#369) (#373)
  python/djust/static/djust/client.js
Due: npm-test

fix: address code review findings on PR #377
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/sse.py
  python/djust/static/djust/client.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

security: address GitHub Advanced Security findings on PR #377
  python/djust/sse.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03b-sse.js
  python/tests/test_inline_conditionals.py
Due: npm-test, pytest

fix: cargo fmt, _has_mypy guard, and session_id log sanitization
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
  python/djust/sse.py
  python/tests/test_type_stubs.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: use pytest.importorskip for mypy to eliminate uninitialized-variable alert
  python/tests/test_type_checking_integration.py
Due: pytest

fix: use _MYPY_EXE in test_mypy_catches_missing_required_arg
  python/tests/test_type_stubs.py
Due: pytest

security: add DjustLogSanitizerFilter for global log injection protection
  python/djust/apps.py
  python/djust/security/__init__.py
  python/djust/security/error_handling.py
  python/djust/security/log_sanitizer.py
  python/djust/sse.py
  python/djust/websocket_utils.py
Due: pytest

fix: resolve CodeQL unused-variable and log-injection alerts
  python/djust/security/error_handling.py
  python/djust/tests/test_async_integration.py
  python/djust/tests/test_async_work.py
  python/tests/test_type_checking_integration.py
Due: pytest

security: restore callsite sanitize_for_log() to satisfy CodeQL taint analysis
  python/djust/security/error_handling.py
  python/djust/websocket_utils.py
Due: pytest

security: use canonical UUID string to break taint chain in SSE session_id echo
  python/djust/sse.py
Due: pytest

security: sanitize log_message parameter in handle_exception to fix log injection
  python/djust/security/error_handling.py
Due: pytest

fix: branch-aware div depth counting fixes template extraction for {% if/else %} (#365, #366)
  python/djust/mixins/template.py
  python/tests/test_find_closing_div_pos.py
Due: pytest

fix: replace desc.get/set.call(ws) with property access in _hookExistingWebSocket (#367)
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/11-integration.js
Due: npm-test

test: add regression test for pre-existing onmessage hook (#367); remove dead code; update CHANGELOG
  CHANGELOG.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/11-integration.js
  tests/js/debug_panel_harness.test.js
Due: npm-test

fix: replace desc.get/set.call(ws) with property access in _hookExistingWebSocket (#378)
  CHANGELOG.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/11-integration.js
  tests/js/debug_panel_harness.test.js
Due: npm-test

test: add caller-level regression tests; fix dead imports; add CHANGELOG entries (#365, #366)
  CHANGELOG.md
  python/tests/test_find_closing_div_pos.py
Due: pytest

fix: branch-aware div depth counting for {% if/else %} templates (#365, #366) (#379)
  CHANGELOG.md
  python/djust/mixins/template.py
  python/tests/test_find_closing_div_pos.py
Due: pytest

Bump version to 0.3.3rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

chore: ignore packages/ build output directory
  .gitignore
Due: none

security: bump django, cryptography, pyasn1, setuptools to patched versions
  uv.lock
Due: none

fix: suppress <!--dj-if--> inside HTML attribute values (#380)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: make is_inside_html_tag quote-context aware
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: suppress <!--dj-if--> inside HTML attribute values (#380) (#381)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: propagate in_tag_context through elif chains (#382)
  CHANGELOG.md
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: add Rust-level 3-elif-in-attribute regression test (#382)
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: propagate in_tag_context through elif chains (#382) (#383)
  CHANGELOG.md
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Bump version to 0.3.3rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

chore: ignore .playwright-mcp/ directory
  .gitignore
Due: none

Bump version to 0.3.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

security: fix XSS in playground — use sandboxed iframe instead of innerHTML
  examples/demo_project/templates/components-guide.html
Due: none

security: guard against prototype pollution in debug panel state clone
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/07-tab-state.js
Due: npm-test

security: add lgtm suppression comments for server-trust innerHTML patterns
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

security: convert debug panel stats from innerHTML to textContent
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/11-integration.js
Due: npm-test

security: fix CodeQL suppression syntax — lgtm[] → codeql[]
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

chore: exclude generated JS build artifacts from CodeQL analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

security: fix codeql suppression rule ID — js/xss-through-dom → js/xss
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

security: move codeql suppressions to preceding line (JS requirement)
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test

security: address CodeQL high-severity findings (#384)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  examples/demo_project/templates/components-guide.html
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/debug/07-tab-state.js
  python/djust/static/djust/src/debug/11-integration.js
Due: npm-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
