Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(theming): block-tag forms (theme_card_block, theme_alert_block, ...) for container components (#3342)
  changelog.d/2894.added.md
  changelog.d/2894.fixed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/tests/test_block_tag_registered_end_tag_extends_2894.rs
  docs/website/guides/components.md
  python/djust/template_libraries.py
  python/djust/tests/test_theme_init_example_renders_3141.py
  python/djust/tests/test_theming_block_tags_2894.py
  python/djust/tests/test_wrapper_tag_bridge_adr030.py
  python/djust/theming/management/commands/djust_theme.py
  python/djust/theming/manager.py
  python/djust/theming/templatetags/theme_components.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(client): re-arm the lazy-view container sweep after a confirmation
  changelog.d/3335.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/13b-view-slots.js
  python/djust/tests/test_multi_view_socket_3252.py
  tests/js/view_slots_3252.test.js
Due: npm-test, pytest

fix(client): bind dj-model inputs added after init
  changelog.d/3334.fixed.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/website/guides/model-binding.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/model_binding.test.js
Due: npm-test

docs: per-container grace period for slot unmount
  docs/website/guides/multiple-views.md
Due: none

fix(theming): gallery editor knows --destructive-text; Tailwind, demo and W001 follow-ups (#3344)
  changelog.d/3320-destructive-text.fixed.md
  changelog.d/3344.changed.md
  changelog.d/3344.fixed.md
  docs/website/guides/accessibility.md
  docs/website/guides/error-codes.md
  examples/demo_project/djust_rentals/templates/rentals/base.html
  python/djust/tests/test_theming_destructive_text_3320.py
  python/djust/tests/test_theming_destructive_text_followups_3344.py
  python/djust/theming/accessibility.py
  python/djust/theming/checks.py
  python/djust/theming/templates/djust_theming/gallery/editor.html
Due: pytest

fix(prefetch): dj-prefetch="false" also opts out of the service-worker hover prefetch (#3327)
  changelog.d/3327.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/22-prefetch.js
  tests/js/prefetch.test.js
Due: npm-test

docs(schema): sturdier pins and exact wording for the corrected directive descriptions (#3327)
  changelog.d/3327.changed.md
  docs/website/guides/loading-states.md
  docs/website/guides/prefetch.md
  python/djust/schema.py
  python/djust/tests/test_inert_api_claims.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

test(theming): pin the override-both and surface-limit docs (#3344)
  python/djust/tests/test_theming_destructive_text_followups_3344.py
Due: pytest

fix(state): the post-event session save merges djust's own keys instead of overwriting the whole session
  changelog.d/3347.fixed.md
  docs/website/guides/navigation.md
  docs/website/state/explicit-exposure.md
  python/djust/_child_state_index.py
  python/djust/_exposure_auth.py
  python/djust/_exposure_child_persistence.py
  python/djust/_exposure_sessions.py
  python/djust/_late_save.py
  python/djust/_session_merge.py
  python/djust/_tenant_state.py
  python/djust/runtime.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_session_merge_3347.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

fix(state): TrackedSessionData compares by content (CodeQL py/missing-equals)
  python/djust/_session_merge.py
Due: pytest

fix(client): bind dj-model inputs added after init; re-arm the lazy-view container sweep (#3350)
  changelog.d/3334.fixed.md
  changelog.d/3335.fixed.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/website/guides/model-binding.md
  docs/website/guides/multiple-views.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/13b-view-slots.js
  python/djust/tests/test_multi_view_socket_3252.py
  tests/js/model_binding.test.js
  tests/js/view_slots_3252.test.js
Due: npm-test, pytest

fix(theming): gallery editor knows --destructive-text; Tailwind, demo and W001 follow-ups (#3349)
  changelog.d/3320-destructive-text.fixed.md
  changelog.d/3344.changed.md
  changelog.d/3344.fixed.md
  docs/website/guides/accessibility.md
  docs/website/guides/error-codes.md
  examples/demo_project/djust_rentals/templates/rentals/base.html
  python/djust/tests/test_theming_destructive_text_3320.py
  python/djust/tests/test_theming_destructive_text_followups_3344.py
  python/djust/theming/accessibility.py
  python/djust/theming/checks.py
  python/djust/theming/templates/djust_theming/gallery/editor.html
Due: pytest

test(schema): second dj-target census, real trigger-action refusal check, drop unemitted stale phrases (#3327)
  python/djust/tests/test_inert_api_claims.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

feat: PersistentLiveView base class that opts views into state snapshots (#3348)
  changelog.d/persistent-liveview.added.md
  docs/website/api-reference/liveview.md
  docs/website/guides/error-codes.md
  docs/website/guides/scaling.md
  docs/website/guides/tutorial-deployment.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/tests/test_persistent_liveview.py
Due: pytest

fix(state): merging save keeps writes made during a save and references held across saves (#3347 review)
  changelog.d/3347.fixed.md
  docs/website/guides/navigation.md
  python/djust/_session_merge.py
  python/djust/tests/test_exposure_child_mount.py
  python/djust/tests/test_exposure_child_pruning.py
  python/djust/tests/test_session_merge_3347.py
Due: pytest

docs(schema): sturdier pins and exact wording for the corrected directive descriptions; dj-prefetch=false opts out of both prefetch layers (#3352)
  changelog.d/3327.changed.md
  changelog.d/3327.fixed.md
  docs/website/guides/loading-states.md
  docs/website/guides/prefetch.md
  python/djust/schema.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/22-prefetch.js
  python/djust/tests/test_inert_api_claims.py
  python/djust/tests/test_schema_directive_pins_3327.py
  tests/js/prefetch.test.js
Due: npm-test, pytest

fix(state): log the cached_db cache-write failure through log_failure (log-exposure ratchet)
  python/djust/_session_merge.py
Due: pytest

security: reauth_on_event re-check denies when it raises instead of allowing the event
  changelog.d/reauth-fail-closed.security.md
  python/djust/runtime.py
  python/djust/tests/test_reauth_fail_closed.py
Due: pytest

security: bind restored view state to the tenant
  changelog.d/tenant-state-binding.security.md
  docs/website/guides/multi-tenant.md
  python/djust/_tenant_state.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/runtime.py
  python/djust/security/state_snapshot.py
  python/djust/templatetags/live_tags.py
  python/djust/tenants/mixin.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_snapshot_token_tenant_backport.py
  python/djust/tests/test_tenant_session_state_backport.py
  python/djust/tests/test_tenant_state_keys_backport.py
  python/djust/tests/test_tenant_sticky_and_sse_backport.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

security: escape interpolated values in debug panel and client-dev toast
  changelog.d/debug-panel-escape.security.md
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/06-tab-components.js
  python/djust/static/djust/src/debug/08-tab-handlers.js
  python/djust/static/djust/src/debug/09-tab-variables.js
  python/djust/static/djust/src/debug/13-warnings.js
  python/djust/static/djust/src/debug/14-utils.js
  tests/js/debug_panel_xss_escape.test.js
Due: npm-test

security: re-check auth on server-originated turns when reauth_on_event is on
  changelog.d/push-path-reauth.security.md
  python/djust/config.py
  python/djust/tests/test_async_pending_flag_2963.py
  python/djust/tests/test_server_turn_reauth.py
  python/djust/websocket.py
Due: pytest

security: re-check auth on server-originated turns when reauth_on_event is on
  changelog.d/push-path-reauth.security.md
  python/djust/config.py
  python/djust/tests/test_server_turn_reauth.py
  python/djust/websocket.py
Due: pytest

docs(state): deep-copy cost and the identity-equality case of the merging save (#3347 review)
  docs/website/guides/navigation.md
  python/djust/_session_merge.py
  python/djust/tests/test_session_merge_3347.py
Due: pytest

docs(adr): ADR-041 pluggable state protection and a compliance profile (proposed) (#3346)
  docs/adr/041-pluggable-state-protection-and-compliance-profile.md
Due: none

fix(state): reconcile re-baselines replaced values, keeps in-place changes made in flight, carries session instance state (#3347 re-review)
  docs/website/guides/navigation.md
  python/djust/_session_merge.py
  python/djust/tests/test_session_merge_3347.py
Due: pytest

security: escape interpolated values in debug panel and client-dev toast
  CHANGELOG.md
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/06-tab-components.js
  python/djust/static/djust/src/debug/08-tab-handlers.js
  python/djust/static/djust/src/debug/09-tab-variables.js
  python/djust/static/djust/src/debug/13-warnings.js
  python/djust/static/djust/src/debug/14-utils.js
  tests/js/debug_panel_xss_escape.test.js
Due: npm-test

security: reauth_on_event re-check denies when it raises instead of allowing the event
  CHANGELOG.md
  python/djust/tests/test_reauth_fail_closed.py
  python/djust/websocket.py
Due: pytest

security: re-check auth on server-originated turns when reauth_on_event is on
  CHANGELOG.md
  python/djust/config.py
  python/djust/tests/test_event_reauth_1777.py
  python/djust/tests/test_server_turn_reauth.py
  python/djust/websocket.py
Due: pytest

security: bind restored view state to the tenant
  CHANGELOG.md
  docs/website/guides/multi-tenant.md
  python/djust/_tenant_state.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/security/state_snapshot.py
  python/djust/templatetags/live_tags.py
  python/djust/tenants/mixin.py
  python/djust/tests/test_snapshot_token_tenant_backport.py
  python/djust/tests/test_tenant_session_state_backport.py
  python/djust/tests/test_tenant_state_keys_backport.py
  python/djust/tests/test_tenant_sticky_backport.py
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

fix(state): the post-event session save merges djust's own keys instead of overwriting the whole session (#3354)
  changelog.d/3347.fixed.md
  docs/website/guides/navigation.md
  docs/website/state/explicit-exposure.md
  python/djust/_child_state_index.py
  python/djust/_exposure_auth.py
  python/djust/_exposure_child_persistence.py
  python/djust/_exposure_sessions.py
  python/djust/_late_save.py
  python/djust/_session_merge.py
  python/djust/_tenant_state.py
  python/djust/runtime.py
  python/djust/tests/test_exposure_child_mount.py
  python/djust/tests/test_exposure_child_pruning.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_session_merge_3347.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

security: reauth_on_event re-check denies when it raises instead of allowing the event
  changelog.d/reauth-fail-closed.security.md
  python/djust/runtime.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_reauth_fail_closed.py
Due: pytest

security: re-check auth on server-originated turns when reauth_on_event is on
  changelog.d/push-path-reauth.security.md
  python/djust/_view_slots.py
  python/djust/config.py
  python/djust/tests/test_server_turn_reauth.py
  python/djust/tests/test_server_turn_reauth_slots.py
  python/djust/websocket.py
Due: pytest

security: bind the state snapshot token to the tenant; chain super() in ModelFormMixin
  changelog.d/snapshot-token-tenant.security.md
  docs/SECURE_DEFAULTS.md
  docs/website/guides/multi-tenant.md
  python/djust/_tenant_state.py
  python/djust/forms.py
  python/djust/runtime.py
  python/djust/security/state_snapshot.py
  python/djust/tests/test_session_merge_tenant_binding.py
  python/djust/tests/test_snapshot_token_tenant_3328.py
  python/djust/tests/test_tenant_sticky_and_sse_3328.py
Due: pytest

fix: select and verify Python matrix interpreters in CI
  .github/workflows/test.yml
  changelog.d/ci-python-matrix.fixed.md
  scripts/check-ci-python.py
  tests/test_ci_python_interpreter.py
Due: pytest

fix: build through the verified virtualenv with supported maturin flags
  .github/workflows/test.yml
  tests/test_ci_python_interpreter.py
Due: pytest
