Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(security): floor-wrap models reached via any intermediary — Rust resolve chokepoint (#1986 re-review vector 6)
  crates/djust_core/src/context.rs
  python/djust/tests/test_template_auto_call_1985.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(security): document vector 6 (non-model intermediary) + Rust protect_sidecar chokepoint (#1986)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  docs/adr/024-template-callable-auto-call.md
Due: none

fix(security): route raw models through the denylist serializer at the value-conversion root (#1986 re-review vector 7)
  crates/djust_core/src/lib.rs
  python/djust/tests/test_template_auto_call_1985.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(security): document vector 7 + the two-chokepoint framing (#1986)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  docs/adr/024-template-callable-auto-call.md
Due: none

feat(templates): Django-parity callable auto-call in the sidecar walk (#1985, ADR-024) (#1986)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/renderer.rs
  docs/SECURE_DEFAULTS.md
  docs/adr/024-template-callable-auto-call.md
  docs/website/guides/template-cheatsheet.md
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
  python/djust/optimization/codegen.py
  python/djust/serialization.py
  python/djust/tests/test_template_auto_call_1985.py
  python/tests/test_codegen.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): add 19 open issues to v1.1.0-5 drain bucket
  ROADMAP.md
Due: none

fix(templates): resolve dict/list intermediates in the sidecar walk — Django parity (#1997)
  crates/djust_core/src/context.rs
  python/djust/tests/test_nested_resolve_1997.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): nested dict/list template resolution fix (#1997)
  CHANGELOG.md
Due: none

test(templates): route dict-key-wins test through the sidecar walk (#1997 review 🟡)
  python/djust/tests/test_nested_resolve_1997.py
Due: pytest

fix(deps): pin redis>=5.0.0,<8 — redis-py 8.x crashes channels_redis (#1995)
  pyproject.toml
  uv.lock
Due: none

docs(changelog): redis-py <8 pin (#1995)
  CHANGELOG.md
Due: none

fix(deps): pin redis>=5.0.0,<8 — redis-py 8.x crashes channels_redis (#1995) (#2006)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(security): TYPE-based serialization floor — always-drop BinaryField + encrypted-field types (#1987)
  python/djust/config.py
  python/djust/serialization.py
  python/djust/tests/test_field_type_exclusion_1987.py
Due: pytest

docs(security): document the #1987 TYPE serialization floor (SECURE_DEFAULTS + CHANGELOG)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(security): case-insensitive encrypted heuristic + one-shot drop breadcrumb (#1987 review M1/M2)
  python/djust/serialization.py
  python/djust/tests/test_field_type_exclusion_1987.py
Due: pytest

docs(security): #1987 heuristic is case-insensitive + one-shot breadcrumb; 18 tests
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(security): TYPE-based serialization floor — always-drop BinaryField + encrypted-field types (#1987) (#2007)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  python/djust/config.py
  python/djust/serialization.py
  python/djust/tests/test_field_type_exclusion_1987.py
Due: pytest

fix(state): zero-arg set_changed_keys() forces a re-render for DB-only changes (#1992)
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_set_changed_keys_zero_arg_1992.py
Due: pytest

docs(changelog): zero-arg set_changed_keys (#1992)
  CHANGELOG.md
Due: none

fix(state): zero-arg set_changed_keys() forces a re-render for DB-only changes (#1992) (#2008)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_set_changed_keys_zero_arg_1992.py
Due: pytest

fix(markdown): don't split a complete fence's closing ``` as a provisional paragraph (#1998)
  crates/djust_templates/src/markdown.rs
  python/djust/tests/test_markdown.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): #1998 markdown closing-fence provisional split
  CHANGELOG.md
Due: none

fix(config): honor DJUST_CONFIG as a LiveView-key fallback + fit default upload chunk under the frame limit (#1993)
  python/djust/config.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/15-uploads.js
  python/djust/tests/test_djust_config_fallback_1993.py
  tests/js/uploads.test.js
Due: npm-test, pytest

docs(changelog): #1993 DJUST_CONFIG fallback + upload chunk size
  CHANGELOG.md
Due: none

fix(markdown): don't split a complete fence's closing ``` as a provisional paragraph (#1998) (#2009)
  CHANGELOG.md
  crates/djust_templates/src/markdown.rs
  python/djust/tests/test_markdown.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: correct presence-record shape + djust_markdown backend + dj-transition-group CSS notes (#2000, #2004)
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/streaming-markdown.md
  python/djust/presence.py
Due: pytest

docs(changelog): #2000 + #2004 doc corrections
  CHANGELOG.md
Due: none

fix(state): re-hydrate private model attrs across the session round-trip as models, not dicts (#1994)
  python/djust/live_view.py
  python/djust/serialization.py
  python/djust/tests/test_private_model_roundtrip_1994.py
Due: pytest

docs(changelog): #1994 private-model round-trip fix
  CHANGELOG.md
Due: none

fix(events): warn (debug) on .lazy/.debounce suffix mis-applied to non-dj-model directives (#1999)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-input-modifier-warning-1999.test.js
Due: npm-test

docs(model-binding): #1999 .debounce/.lazy is dj-model-only; dj-input uses standalone dj-debounce
  CHANGELOG.md
  docs/website/guides/model-binding.md
Due: none

fix(state): re-hydrate private model attrs across the session round-trip as models, not dicts (#1994) (#2012)
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/serialization.py
  python/djust/tests/test_private_model_roundtrip_1994.py
Due: pytest

docs(tenants): document session-resolver WS persistence + set_tenant (#2003)
  CHANGELOG.md
  docs/website/guides/multi-tenant.md
Due: none

fix(tenants): add set_tenant() helper for WS-time tenant switching (#2003)
  python/djust/tenants/mixin.py
  python/djust/tenants/resolvers.py
  python/djust/tests/test_tenant_set_tenant.py
Due: pytest

fix(events): re-scan dj-window-*/dj-document-* scoped elements after patches (#1996)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-rescan-1996.test.js
Due: npm-test

docs(changelog): note dj-window-*/dj-document-* post-patch re-scan fix (#1996)
  CHANGELOG.md
Due: none

fix(tenants): add set_tenant() helper + document session-resolver WS persistence semantics (#2003) (#2014)
  CHANGELOG.md
  docs/website/guides/multi-tenant.md
  python/djust/tenants/mixin.py
  python/djust/tenants/resolvers.py
  python/djust/tests/test_tenant_set_tenant.py
Due: pytest

fix(demo/streaming): make markdown-stream demo genuinely stream + fix cancel name + coroutine async-work dispatch (#2001, #2002)
  examples/demo_project/djust_demos/templates/demos/markdown_stream_demo.html
  examples/demo_project/djust_demos/views/markdown_stream_demo.py
  python/djust/mixins/async_work.py
  python/djust/runtime.py
  python/djust/tests/test_markdown_stream_demo_2001_2002.py
Due: pytest

docs(streaming): rewrite streaming-markdown example to explicit stream_*, document dj-update=ignore + CHANGELOG (#2001, #2002)
  CHANGELOG.md
  docs/website/guides/streaming-markdown.md
  docs/website/guides/streaming.md
Due: none

docs(vdom): dj-virtual layout contract + live-data reconcile guide (#1988, #1989)
  CHANGELOG.md
  docs/website/guides/large-lists.md
  docs/website/guides/virtual-lists.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
