Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(roadmap): add v1.0.0rc6 open-issue drain milestone (#1541, #1543, #1545)
  ROADMAP.md
Due: none

fix(actors): remove skip_serializing_if on PatchResponse — leading-optional msgpack round-trip (#1541)
  crates/djust_live/src/actors/messages.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): #1541 PatchResponse msgpack round-trip fix
  CHANGELOG.md
Due: none

fix(actors): remove skip_serializing_if on PatchResponse — leading-optional msgpack round-trip (#1541) (#1546)
  CHANGELOG.md
  crates/djust_live/src/actors/messages.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(build): gate djust_live extension-module behind a Cargo feature (#1543)
  .github/workflows/test.yml
  Makefile
  crates/djust_live/Cargo.toml
Due: none

docs(changelog): #1543 djust_live cargo-test gate
  CHANGELOG.md
Due: none

fix(live_view): assign request=None in __init__ — silence ASGIRequest snapshot warning (#1545)
  python/djust/live_view.py
  python/tests/test_liveview_request_framework_attr_1545.py
Due: pytest

docs(changelog): #1545 LiveView.request framework-attr fix
  CHANGELOG.md
Due: none

docs(roadmap): mark v1.0.0rc6 drain complete (#1541, #1543, #1545 all merged)
  ROADMAP.md
Due: none

security(deps): bump idna 3.11 → 3.15 — patch CVE-2026-45409 (Dependabot #101)
  uv.lock
Due: none

docs(changelog): #101 idna 3.15 CVE-2026-45409 security bump
  CHANGELOG.md
Due: none

security(deps): bump idna 3.11 → 3.15 — CVE-2026-45409 (Dependabot #101) (#1549)
  CHANGELOG.md
  uv.lock
Due: none

docs(retro): milestone v1.0.0rc6 + action tracker update + v1.0.0rc6 canon
  CLAUDE.md
  RETRO.md
Due: none

Bump version to 1.0.0rc6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(strategy): add v1.1 portfolio brainstorm doc
  docs/strategy-sessions/2026-05-19-v1.1-brainstorm.md
Due: none

docs(roadmap): add post-rc6 bug reports to v1.1.0 (#1550, #1551, #1552)
  ROADMAP.md
Due: none

test(vdom): pin {% if/elif %}+include diff (#1552 hypothesis disconfirmed)
  crates/djust_vdom/tests/test_include_subtree_double_1552.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): preprocess multi-line {# ... #} comments for Django classical (#1551)
  python/djust/template/loaders.py
  python/djust/tests/test_multiline_comment_parity_1551.py
Due: pytest

docs(changelog): #1551 multi-line comment Rust↔Django parity fix
  CHANGELOG.md
Due: none

fix(templates): preprocess multi-line {# ... #} comments for Django classical (#1551) (#1554)
  CHANGELOG.md
  python/djust/template/loaders.py
  python/djust/tests/test_multiline_comment_parity_1551.py
Due: pytest

test(vdom): pin {% if/elif %}+include diff (#1552 hypothesis disconfirmed) (#1553)
  crates/djust_vdom/tests/test_include_subtree_double_1552.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(vdom): advance dj-id counter past last_vdom's max before parse (#1550, #1552)
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/test_id_counter_monotonicity_1550_1552.rs
  python/tests/test_if_elif_swap_e2e_1550_1552.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): #1550 + #1552 dj-id counter collision fix
  CHANGELOG.md
Due: none

fix(vdom): advance dj-id counter past last_vdom's max before parse (#1550, #1552) (#1555)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/test_id_counter_monotonicity_1550_1552.rs
  python/tests/test_if_elif_swap_e2e_1550_1552.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Bump version to 1.0.0rc7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(checks): add C014 — warn on multi-tenant ASGI without TENANT_LIMIT_SET_CALLS (#1556)
  python/djust/checks.py
  python/djust/tests/test_c014_multi_tenant_asgi.py
Due: pytest

docs(changelog): record djust.C014 multi-tenant ASGI system check (#1556)
  CHANGELOG.md
Due: none

docs(checks): C014 marks django-tenants deprecated, steers to djust.tenants (#1556 follow-up)
  python/djust/checks.py
  python/djust/tests/test_c014_multi_tenant_asgi.py
Due: pytest

docs(multi-tenant): mark django-tenants integration deprecated; file migration guide tracker (#1556, #1559)
  CHANGELOG.md
  docs/website/guides/multi-tenant.md
Due: none

docs(multi-tenant): drop stale 'placeholder until the issue is filed' parenthetical (PR #1560 review)
  docs/website/guides/multi-tenant.md
Due: none

docs(multi-tenant): deprecate django-tenants integration; rewrite strategy guide + C014 messaging (#1556 follow-up) (#1560)
  CHANGELOG.md
  docs/website/guides/multi-tenant.md
  python/djust/checks.py
  python/djust/tests/test_c014_multi_tenant_asgi.py
Due: pytest

feat(bug-capture): BugCapture data shape + encode/decode + scrub hook (B7 iter A, refs #1552)
  python/djust/bug_capture.py
  python/djust/tests/test_bug_capture.py
Due: pytest

docs(bug-capture): guide page + CHANGELOG entry + nav update (B7 iter A, refs #1552, #1561, #1562)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/bug-capture.md
  docs/website/index.md
Due: none

fix(bug-capture): caller-supplied patches; doc nits (PR #1563 Stage 11 fix-pass)
  CHANGELOG.md
  docs/website/guides/bug-capture.md
  python/djust/bug_capture.py
  python/djust/tests/test_bug_capture.py
Due: pytest

feat(bug-capture): BugCapture data shape + URL encode/decode + scrub hook (B7 iter A, refs #1552) (#1563)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/bug-capture.md
  docs/website/index.md
  python/djust/bug_capture.py
  python/djust/tests/test_bug_capture.py
Due: pytest

test(vdom): framework-level invariant pin for include-swap (#1552 investigation)
  python/tests/test_if_elif_include_swap_framework_pin_1552.py
Due: pytest

docs(changelog): record #1552 framework-pin investigation outcome
  CHANGELOG.md
Due: none

test(vdom): framework-level invariant pin for #1552 include-swap (investigation outcome — not a fix) (#1564)
  CHANGELOG.md
  python/tests/test_if_elif_include_swap_framework_pin_1552.py
Due: pytest

Bump version to 1.0.0rc8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(websocket): gate WS-mount LOAD on enable_state_snapshot — fixes wizard step-leak (#1552)
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
