Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

security(deps): bump @humanfs/node to 0.16.8 (GHSA-p498-v437-472g) (#2636)
  changelog.d/humanfs-node.security.md
  package-lock.json
Due: none

fix(templates): refuse malformed {% if %} operator grammar like Django's smartif (#2576)
  crates/djust_templates/src/parser.rs
  python/tests/test_if_operator_grammar_2576.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): refuse malformed {% url %} argument lists at parse time (#2577)
  crates/djust_templates/src/filter_lexer.rs
  crates/djust_templates/src/parser.rs
  python/tests/test_url_argument_grammar_2577.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): changelog fragment + re-measured suite scoreboard for #2577
  README.md
  changelog.d/2577.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): refuse malformed {{ … }} variable expressions (Django parity) (#2578)
  crates/djust_templates/src/parser.rs
  python/tests/test_numeric_path_segment_2371.py
  python/tests/test_template_edge_cases.py
  python/tests/test_template_variable_extraction.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): re-measure the Django scoreboard after #2578 variable-grammar refusal
  README.md
  changelog.d/2578.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

docs(templates): #2576 scoreboard 72.59%, changelog, empirical-canary swap
  README.md
  changelog.d/2576.fixed.md
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_variable_underscore_rule_2418.py
  scripts/django-template-suite-baseline.json
Due: pytest

fix(templates): refuse malformed {{ … }} variable expressions (Django parity) (#2578) (#2638)
  README.md
  changelog.d/2578.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_numeric_path_segment_2371.py
  python/tests/test_template_edge_cases.py
  python/tests/test_template_variable_extraction.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): scope #2577 to malformed argument LISTS, defer no-args to #2563
  crates/djust_templates/src/parser.rs
  python/tests/test_url_argument_grammar_2577.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): refuse malformed {% if %} conditions at parse time like Django smartif (#2576) (#2639)
  README.md
  changelog.d/2576.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_if_operator_grammar_2576.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_variable_underscore_rule_2418.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): refuse malformed {% include %} with/only argument forms (Django parity) (#2579)
  crates/djust_templates/src/parser.rs
  python/tests/test_include_argument_grammar_2579.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_variable_underscore_rule_2418.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): regenerate the #2579 scoreboard baseline + changelog fragment
  README.md
  changelog.d/2579.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): re-write the correct post-merge scoreboard (74.59%)
  README.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): refuse malformed include with/only argument forms (Django parity) (#2579) (#2641)
  README.md
  changelog.d/2579.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_include_argument_grammar_2579.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_variable_underscore_rule_2418.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): re-write the correct post-merge scoreboard (75.17%)
  README.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): refuse malformed {% url %} argument lists at parse time (#2577) (#2640)
  README.md
  changelog.d/2577.fixed.md
  crates/djust_templates/src/filter_lexer.rs
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_url_argument_grammar_2577.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): ten small parse-time grammar gaps across regroup/with/widthratio/cycle/endblock/verbatim/if/extends (#2580)
  crates/djust_templates/src/filter_lexer.rs
  crates/djust_templates/src/parser.rs
  python/tests/test_django_template_suite_2517.py
  python/tests/test_small_grammar_gaps_2580.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): #2580 scoreboard, changelog fragment (75.17% -> 76.50%)
  README.md
  changelog.d/2580.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): ten small parse-time grammar gaps (#2580) (#2643)
  README.md
  changelog.d/2580.fixed.md
  crates/djust_templates/src/filter_lexer.rs
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_small_grammar_gaps_2580.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): Django-verbatim TemplateSyntaxError message text for 7 cells (#2581)
  crates/djust_templates/src/parser.rs
  python/tests/test_django_verbatim_messages_2581.py
  python/tests/test_parse_time_template_syntax_error_2549.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): #2581 scoreboard, changelog fragment (76.50% -> 77.17%)
  README.md
  changelog.d/2581.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): Django-verbatim TemplateSyntaxError message text for 7 cells (#2581) (#2644)
  README.md
  changelog.d/2581.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_verbatim_messages_2581.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): implement {% ifchanged %} and bridge Django's static library
  README.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_libraries.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_ifchanged_2517.py
  python/tests/test_liveview_include.py
  python/tests/test_load_imports_django_libraries_2547.py
  scripts/django-template-suite-baseline.json
  scripts/generate-template-backend-lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: fix 30 doc-vs-implementation discrepancies from the 2026-09-03 audit (#2645)
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  MIGRATION.md
  QUICKSTART.md
  README.md
  changelog.d/doc-audit-2645.documentation.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/RUST_TEMPLATE_API.md
  docs/ai/forms.md
  docs/components/RUST_COMPONENTS.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/QUICKSTART.md
  docs/guides/css-frameworks.md
  docs/guides/mcp-server.md
  docs/guides/model-binding.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/guides/services.md
  docs/guides/turbonav-integration.md
  docs/guides/uploads.md
  docs/native-author-guide.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/testing/TESTING_PAGES.md
  docs/website/advanced/security.md
  docs/website/advanced/vdom-architecture.md
  docs/website/api-reference/liveview.md
  docs/website/core-concepts/events.md
  docs/website/core-concepts/templates.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/migration-from-standalone-packages.md
  docs/website/guides/reconnection.md
  docs/website/guides/service-worker.md
  docs/website/guides/template-cheatsheet.md
  python/djust/renderers/__init__.py
  python/djust/schema.py
Due: pytest

feat(templates): string_if_invalid, relative {% extends %}, dynamic include names
  README.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/tests/test_string_if_invalid_2517.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: restore the suite-claim figure this branch did not measure (#2645)
  README.md
Due: none

feat(templates): block.super, {% cache %}, and one inheritance path — 85.20%
  README.md
  changelog.d/2517-conformance.added.md
  changelog.d/2517-inheritance.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/djust/template_libraries.py
  python/tests/test_block_super_and_cache_2517.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_liveview_include.py
  python/tests/test_load_imports_django_libraries_2547.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_tag_operand_axis_2355_2356.py
  scripts/django-template-suite-baseline.json
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: fix 30 doc-vs-implementation discrepancies from the 2026-09-03 audit (#2645) (#2646)
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  MIGRATION.md
  QUICKSTART.md
  README.md
  changelog.d/doc-audit-2645.documentation.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/RUST_TEMPLATE_API.md
  docs/ai/forms.md
  docs/components/RUST_COMPONENTS.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/QUICKSTART.md
  docs/guides/css-frameworks.md
  docs/guides/mcp-server.md
  docs/guides/model-binding.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/guides/services.md
  docs/guides/turbonav-integration.md
  docs/guides/uploads.md
  docs/native-author-guide.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/testing/TESTING_PAGES.md
  docs/website/advanced/security.md
  docs/website/advanced/vdom-architecture.md
  docs/website/api-reference/liveview.md
  docs/website/core-concepts/events.md
  docs/website/core-concepts/templates.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/migration-from-standalone-packages.md
  docs/website/guides/reconnection.md
  docs/website/guides/service-worker.md
  docs/website/guides/template-cheatsheet.md
  python/djust/renderers/__init__.py
  python/djust/schema.py
Due: pytest

docs: correct twelve claims the #2645 sweep got wrong or half-swept
  CONTRIBUTING.md
  QUICKSTART.md
  changelog.d/doc-audit-followup-2646.documentation.md
  docs/SECURITY_GUIDELINES.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/QUICKSTART.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/guides/services.md
  docs/state-management/STATE_MANAGEMENT_API.md
Due: none

fix(templates): address the Stage 7 review — path containment, cache, block.super
  changelog.d/2517-conformance.added.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_libraries.py
  python/tests/test_block_super_and_cache_2517.py
  python/tests/test_ifchanged_2517.py
  python/tests/test_load_imports_django_libraries_2547.py
  python/tests/test_template_path_containment_2517.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): the Stage 8 re-review found my fixes regressed three things
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_block_super_and_cache_2517.py
  python/tests/test_ifchanged_2517.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(templates): a template name may not escape its search directory
  changelog.d/2653-path-containment.security.md
  crates/djust_templates/src/inheritance.rs
  python/tests/test_template_path_containment_2653.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): make the block.super walker exhaustive, not merely enumerated
  crates/djust_templates/src/inheritance.rs
  python/tests/test_block_super_and_cache_2517.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): close #2531 and #2518 — include-of-extending, backend OPTIONS
  changelog.d/2517-conformance.added.md
  crates/djust_templates/src/renderer.rs
  python/djust/template/backend.py
  python/tests/test_string_if_invalid_2517.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

perf(hooks): run the pre-push cargo test in debug, not --release
  changelog.d/2654-prepush-debug.changed.md
  scripts/pre-push-cargo-test.sh
Due: none

security(templates): a template name may not escape its search directory (#2653)
  changelog.d/2653-path-containment.security.md
  crates/djust_templates/src/inheritance.rs
  python/tests/test_template_path_containment_2653.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

perf(hooks): run the pre-push cargo test in debug, not --release (#2654)
  changelog.d/2654-prepush-debug.changed.md
  scripts/pre-push-cargo-test.sh
Due: none

chore(tests): fold the containment tests into the file #2653 landed
  changelog.d/2517-conformance.added.md
  python/tests/test_template_path_containment_2517.py
  python/tests/test_template_path_containment_2653.py
Due: pytest

docs: correct twelve claims the #2645 sweep got wrong or half-swept (#2651)
  CONTRIBUTING.md
  QUICKSTART.md
  changelog.d/doc-audit-followup-2646.documentation.md
  docs/SECURITY_GUIDELINES.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/QUICKSTART.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/guides/services.md
  docs/state-management/STATE_MANAGEMENT_API.md
Due: none

feat(templates): Django template conformance 77.17% -> 85.20% (ifchanged, cache, block.super, one inheritance path) (#2650)
  README.md
  changelog.d/2517-conformance.added.md
  changelog.d/2517-inheritance.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/djust/template_libraries.py
  python/tests/test_block_super_and_cache_2517.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_ifchanged_2517.py
  python/tests/test_liveview_include.py
  python/tests/test_load_imports_django_libraries_2547.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_string_if_invalid_2517.py
  python/tests/test_tag_operand_axis_2355_2356.py
  python/tests/test_template_path_containment_2653.py
  scripts/django-template-suite-baseline.json
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
