Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: address PR #447 review findings
  CHANGELOG.md
  packages/djust-theming/README.md
  packages/djust-theming/src/djust_theming/__init__.py
Due: pytest

chore: remove duplicate djust-theming from monorepo
  .github/workflows/publish-djust-theming.yml
  packages/djust-theming/CHANGELOG.md
  packages/djust-theming/README.md
  packages/djust-theming/pyproject.toml
  packages/djust-theming/src/djust_theming/__init__.py
  packages/djust-theming/src/djust_theming/apps.py
  packages/djust-theming/src/djust_theming/static/djust_theming/css/components.css
  packages/djust-theming/src/djust_theming/static/djust_theming/css/theme.css
  packages/djust-theming/src/djust_theming/static/djust_theming/css/utilities.css
  packages/djust-theming/src/djust_theming/static/djust_theming/js/theme-switcher.js
Due: npm-test, pytest

Merge development into main (#447)
  CHANGELOG.md
  README.md
  docs/website/advanced/vdom-architecture.md
  docs/website/core-concepts/templates.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/template-cheatsheet.md
  python/djust/deploy_cli.py
  python/djust/static/djust/djust.d.ts
  python/tests/test_deploy_cli.py
  python/tests/test_docs_completeness.py
  tests/js/checked_selected_property_sync.test.js
Due: npm-test, pytest

test: add morphElement/applySinglePatch parity regression tests for #422
  tests/js/morph_applypatch_parity.test.js
Due: npm-test

test: add morphElement/applySinglePatch parity regression tests for #422
  tests/js/morph_patch_parity.test.js
Due: npm-test

chore: apply ruff-format to test_docs_completeness.py
  python/tests/test_docs_completeness.py
Due: pytest

test: add morphElement/applySinglePatch parity regression tests for #422 (#448)
  python/tests/test_docs_completeness.py
  tests/js/morph_patch_parity.test.js
Due: npm-test, pytest

docs: fix wrong check ID (V003→V007) in BEST_PRACTICES.md
  docs/guides/BEST_PRACTICES.md
Due: none

fix: Python 3.14 support, PWA navigate cache bypass, SELECT VDOM guard (milestone batch)
  CHANGELOG.md
  Cargo.toml
  python/djust/pwa/service_worker.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/tests/test_pwa_service_worker.py
  tests/js/select_adjacent_if_insert.test.js
Due: npm-test, pytest

docs: fix wrong check ID (V003→V007) in BEST_PRACTICES.md (#451)
  docs/guides/BEST_PRACTICES.md
Due: none

fix: correct issue references in CHANGELOG (#416, #423, #417)
  CHANGELOG.md
Due: none

fix: Python 3.14 support, PWA navigate cache bypass, SELECT VDOM guard (#452)
  CHANGELOG.md
  Cargo.toml
  python/djust/pwa/service_worker.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/tests/test_pwa_service_worker.py
  tests/js/select_adjacent_if_insert.test.js
Due: npm-test, pytest

fix: bump PyO3 0.24→0.25 for Python 3.14 support (replaces abi3-py38)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Merge development into main (#453)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/guides/BEST_PRACTICES.md
  python/djust/pwa/service_worker.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/tests/test_pwa_service_worker.py
  tests/js/select_adjacent_if_insert.test.js
Due: npm-test, pytest

docs: clarify V006/V008 relationship and update V008 false positive note
  docs/system-checks.md
Due: none

docs: clarify V006/V008 relationship and update V008 false positive note (#454)
  docs/system-checks.md
Due: none

Merge development into main (#455)
  docs/system-checks.md
Due: none

Bump version to 0.3.6rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

docs: update ROADMAP.md to reflect current implementation status
  ROADMAP.md
Due: none

docs: add TurboNav integration guide and update roadmap
  ROADMAP.md
  docs/guides/turbonav-integration.md
Due: none

feat: add prefetch-on-hover and smart static asset caching (SW Phase 1)
  python/djust/management/commands/generate_sw.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/22-prefetch.js
  tests/js/prefetch.test.js
Due: npm-test, pytest

feat: add state size visualization and panel persistence to debug toolbar
  python/djust/mixins/post_processing.py
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/07-tab-state.js
  python/djust/static/djust/src/debug/11-integration.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/helpers/debug-panel-harness.js
Due: npm-test, pytest

perf: implement LIS optimization for large-list VDOM diffing
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/lis.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

chore: update Cargo.lock for 0.3.6-rc.1
  Cargo.lock
Due: none

fix: address PR review findings for SW Phase 1
  CHANGELOG.md
  python/djust/management/commands/generate_sw.py
  python/djust/static/djust/client.js
Due: npm-test, pytest

fix: remove unused beforeEach import in prefetch tests
  tests/js/prefetch.test.js
Due: npm-test

fix: address PR review findings for LIS optimization
  CHANGELOG.md
  ROADMAP.md
  crates/djust_vdom/src/diff.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: address PR review findings for debug toolbar features
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  python/djust/tests/test_debug_state_sizes.py
  tests/js/debug_panel_turbo_persistence.test.js
  tests/js/debug_state_size_viz.test.js
Due: npm-test, pytest

fix: remove unused vi import in TurboNav persistence tests
  tests/js/debug_panel_turbo_persistence.test.js
Due: npm-test

Bump version to 0.3.6rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: guard prefetch listener against non-Element targets (#264)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/22-prefetch.js
  tests/js/prefetch.test.js
Due: npm-test

fix: restore dj-params backward compatibility (silently dropped since 0.3.3)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/08-event-parsing.js
  tests/js/extractTypedParams.test.js
Due: npm-test

fix: restore dj-params backward compatibility (silently dropped since 0.3.3) (#469)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/08-event-parsing.js
  tests/js/extractTypedParams.test.js
Due: npm-test

fix: serialize model .id as native type, matching .pk behavior
  CHANGELOG.md
  docs/JIT_SERIALIZATION_PATTERN.md
  python/djust/serialization.py
  python/djust/template/rendering.py
  tests/unit/test_normalize_django_value.py
Due: pytest

fix: serialize model .id as native type, matching .pk behavior (#472)
  CHANGELOG.md
  docs/JIT_SERIALIZATION_PATTERN.md
  python/djust/serialization.py
  python/djust/template/rendering.py
  tests/unit/test_normalize_django_value.py
Due: pytest

fix: resolve SESSION_TTL=0, LazyObject session crash, and flex-between CSS (#395 #396 #397)
  CHANGELOG.md
  examples/demo_project/demo_app/static/css/utilities.css
  python/djust/state_backends/base.py
  python/djust/state_backends/memory.py
  python/djust/state_backends/redis.py
  python/djust/state_backends/registry.py
  python/djust/websocket.py
  python/tests/test_regression_395_396_397.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
