Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(transport): serialize handleMessage via _inflight Promise chain (closes #1098)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  tests/js/dj-cloak.test.js
  tests/js/handlemessage_serialization.test.js
  tests/js/hvr.test.js
  tests/js/sse-transport.test.js
  tests/js/sw_advanced.test.js
Due: npm-test

fix(transport): serialize handleMessage via _inflight Promise chain (closes #1098) (#1112)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  tests/js/dj-cloak.test.js
  tests/js/handlemessage_serialization.test.js
  tests/js/hvr.test.js
  tests/js/sse-transport.test.js
  tests/js/sw_advanced.test.js
Due: npm-test

feat(vdom): View Transitions API integration via opt-in wrap (PR-B / ADR-013)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/view-transitions.test.js
Due: npm-test

feat(vdom): View Transitions API integration via opt-in wrap (PR-B / ADR-013) (#1113)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/view-transitions.test.js
Due: npm-test

fix(framework-gaps): 4-issue v0.8.6 P2 drain (closes #1088, #1089, #1090, #1093)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  python/djust/checks.py
  python/djust/tests/test_defer.py
  python/tests/test_checks.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(framework-gaps): 4-issue v0.8.6 P2 drain (closes #1088, #1089, #1090, #1093) (#1115)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  python/djust/checks.py
  python/djust/tests/test_defer.py
  python/tests/test_checks.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(claude-md): canonicalize 7 process learnings from v0.8.5→v0.8.6 retro arc
  CHANGELOG.md
  CLAUDE.md
Due: none

docs(claude-md): canonicalize 7 process learnings from v0.8.5→v0.8.6 retro arc (#1116)
  CHANGELOG.md
  CLAUDE.md
Due: none

docs(roadmap): v0.8.6 extension — 3 nyc-claims data_table issues + async-hooks enhancement
  ROADMAP.md
Due: none

fix(components): DataTableMixin LiveView compat — pre-mount guard + @event_handler decoration (closes #1114)
  CHANGELOG.md
  python/djust/components/mixins/data_table.py
  python/tests/test_data_table_mixin_liveview.py
Due: pytest

fix(components): address Stage 11 docstring nit on PR #1117
  python/djust/components/mixins/data_table.py
Due: pytest

fix(components): DataTableMixin LiveView compat — pre-mount guard + @event_handler decoration (closes #1114) (#1117)
  CHANGELOG.md
  python/djust/components/mixins/data_table.py
  python/tests/test_data_table_mixin_liveview.py
Due: pytest

feat(data_table): link column type + row-level navigation (closes #1110, #1111)
  CHANGELOG.md
  python/djust/components/mixins/data_table.py
  python/djust/components/templates/djust_components/table.html
  python/djust/components/templatetags/djust_components.py
  python/tests/test_data_table_link_row_nav.py
Due: pytest

docs(data_table): address Stage 11 nits on PR #1119 — Phase 6 args, row_url XSS warning, CSP caveat
  CHANGELOG.md
  python/djust/components/templatetags/djust_components.py
Due: pytest

feat(data_table): link column type + row-level navigation (closes #1110, #1111) (#1119)
  CHANGELOG.md
  python/djust/components/mixins/data_table.py
  python/djust/components/templates/djust_components/table.html
  python/djust/components/templatetags/djust_components.py
  python/tests/test_data_table_link_row_nav.py
Due: pytest

feat(hooks)+docs: async-tolerant dj-hook dispatch + View Transitions guide (v0.8.6)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/hooks.md
  docs/website/guides/view-transitions.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/19-hooks.js
  tests/js/async_hooks.test.js
Due: npm-test

docs: correct CHANGELOG callsite count (9, not 8) per Stage 11 nit on PR #1120
  CHANGELOG.md
Due: none

fix(hooks): silence CodeQL js/tainted-format-string by parameterizing label
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/19-hooks.js
  tests/js/async_hooks.test.js
Due: npm-test

feat(theming): add docs theme pack
  python/djust/theming/presets.py
  python/djust/theming/theme_packs.py
  python/djust/theming/themes/docs.py
Due: pytest

feat(hooks)+docs: async-tolerant dj-hook dispatch + View Transitions guide (v0.8.6) (#1120)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/hooks.md
  docs/website/guides/view-transitions.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/19-hooks.js
  tests/js/async_hooks.test.js
Due: npm-test

docs(retro): v0.8.5 + v0.8.6 milestones + Action Tracker (8 PRs / 19 issues)
  RETRO.md
Due: none

Bump version to 0.8.6rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix(data_table)+docs: post-mount show_stats key + v0.8.6 retro canonicalizations
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  ROADMAP.md
  python/djust/components/mixins/data_table.py
  python/tests/test_data_table_mixin_liveview.py
  uv.lock
Due: pytest

docs: address Stage 11 findings on PR #1127
  CLAUDE.md
  ROADMAP.md
Due: none

fix(data_table)+docs: post-mount show_stats + v0.8.6 retro canonicalizations (#1127)
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  ROADMAP.md
  python/djust/components/mixins/data_table.py
  python/tests/test_data_table_mixin_liveview.py
  uv.lock
Due: pytest

Bump version to 0.8.7rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(sticky): {% live_render %} auto-detects preserved stickies (closes #1032)
  CHANGELOG.md
  docs/adr/014-sticky-liveview-autodetect.md
  docs/website/guides/sticky-liveviews.md
  examples/demo_project/sticky_demo/templates/sticky_demo/dashboard.html
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/unit/test_live_render_tag.py
Due: pytest

docs+test: address Stage 11 findings on PR #1128
  CHANGELOG.md
  docs/adr/014-sticky-liveview-autodetect.md
  python/djust/templatetags/live_tags.py
  tests/integration/test_sticky_redirect_flow.py
  tests/unit/test_live_render_tag.py
Due: pytest

feat(sticky): {% live_render %} auto-detects preserved stickies (closes #1032, ADR-014) (#1128)
  CHANGELOG.md
  docs/adr/014-sticky-liveview-autodetect.md
  docs/website/guides/sticky-liveviews.md
  examples/demo_project/sticky_demo/templates/sticky_demo/dashboard.html
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/integration/test_sticky_redirect_flow.py
  tests/unit/test_live_render_tag.py
Due: pytest

feat(theming): add docs theme pack — warm editorial dark with rust accent
  python/djust/theming/theme_packs.py
  python/djust/theming/themes/docs.py
Due: pytest

Bump version to 0.8.8rc1
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

feat(theming): docs theme pack + bump 0.8.8rc1 (#1129)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/theming/theme_packs.py
  python/djust/theming/themes/docs.py
  uv.lock
Due: pytest

fix(theming): register docs color preset in presets.py
  python/djust/theming/presets.py
Due: pytest

Bump version to 0.8.8rc2
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix(theming): register docs color preset + bump 0.8.8rc2 (#1130)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/theming/presets.py
  uv.lock
Due: pytest

docs(roadmap): break v0.9.0 #1043 into PR-A/B/C per ADR-015 split-foundation
  ROADMAP.md
Due: none

docs(guides): add search-as-you-type tutorial
  docs/website/guides/tutorial-search-as-you-type.md
Due: none

feat(streaming): async render path foundation — aget + ChunkEmitter (v0.9.0 PR-A, ADR-015)
  CHANGELOG.md
  docs/adr/015-phase-2-streaming.md
  docs/website/guides/streaming-render.md
  python/djust/http_streaming.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  tests/unit/test_async_render_path.py
Due: pytest

docs(guides): add real-time comment thread tutorial
  docs/website/guides/tutorial-real-time-comments.md
Due: none

docs(guides): add multi-step wizard tutorial
  docs/website/guides/tutorial-multi-step-wizard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
