Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: the serialization floor now covers all five channels, QuerySets included (#2688, #2685)
  changelog.d/2685.security.md
  changelog.d/2688.security.md
  docs/SECURE_DEFAULTS.md
Due: none

chore(client): delete the dead StateBus module
  CLAUDE.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  python/djust/decorators.py
  python/djust/schema.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/05-state-bus.js
Due: npm-test, pytest

chore(client): delete security.js, the documented global nothing loaded
  CONTRIBUTING.md
  docs/SECURITY_GUIDELINES.md
  docs/website/advanced/security.md
  eslint.config.js
  python/djust/static/djust/security.js
  tests/js/non-bundle-importers-2659.test.js
  tests/js/security.test.js
Due: npm-test

docs: changelog fragment for the client/form batch
  changelog.d/client-form-2667-2686-2680-2679.fixed.md
Due: none

fix(serialization): key the gate cache on the SET of names, not their order (#2688)
  changelog.d/2685.security.md
  crates/djust_live/src/lib.rs
  python/djust/optimization/codegen.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(2688): stop the WS test's user row escaping into the next test's DB
  python/djust/tests/test_property_shadow_parity_2614.py
Due: pytest

docs(codegen): the cache-key comment claimed a Rust sort that isn't there (#2688)
  python/djust/optimization/codegen.py
Due: pytest

fix: stop prescribing the APIs #2679/#2680 deleted; guard it mechanically
  .semgrep/djust-security.yaml
  README.md
  changelog.d/client-form-2667-2686-2680-2679.fixed.md
  docs/API_STABILITY.md
  docs/BEST_PRACTICES_AI.md
  docs/SECURITY_GUIDELINES.md
  docs/example-site/EXAMPLE_SITE_PHASE5_PLAN.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/mcp-server.md
  docs/llms.txt
  docs/state-management/IMPLEMENTATION_PHASE1.md
  docs/state-management/IMPLEMENTATION_PHASE5.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_EXAMPLES.md
  docs/state-management/STATE_MANAGEMENT_MIGRATION.md
  docs/state-management/STATE_MANAGEMENT_PATTERNS.md
  docs/state-management/STATE_MANAGEMENT_QUICKSTART.md
  docs/state-management/STATE_MANAGEMENT_TUTORIAL.md
  docs/website/api-reference/decorators.md
  docs/website/guides/mcp-server.md
  docs/website/state/index.md
  eslint.config.js
  examples/demo_project/djust_demos/templates/demos/index_design3.html
  examples/demo_project/djust_demos/templates/demos/smart_dashboard.html
  examples/demo_project/djust_demos/views/smart_dashboard.py
  examples/demo_project/djust_rentals/views/maintenance.py
  python/djust/forms.py
  python/djust/mcp/server.py
  python/djust/tests/test_decorators.py
  python/djust/tests/test_form_state_unmounted_2667.py
  python/djust/tests/test_inert_api_claims.py
  python/djust/tests/test_top_level_reexports_1489.py
  scripts/check-inert-api-claims.py
Due: npm-test, pytest

security(jit): route both JIT serializers — Python codegen and the Rust queryset path — through the serialization chokepoint (#2685, #2688) (#2687)
  changelog.d/2685.security.md
  changelog.d/2688.security.md
  crates/djust_live/src/lib.rs
  docs/SECURE_DEFAULTS.md
  python/djust/_rust.pyi
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
  python/djust/serialization.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): item sinks consume a one-shot iterator; an over-cap sequence keeps a live handle (#2674, #2670, #2678)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

refactor(templates): _is_user_raised means "arrived via PythonException", not a type allow-list (#2605)
  python/djust/template/rendering.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_url_noreversematch_2563.py
Due: pytest

docs(changelog): fragments for the engine follow-ups batch (#2669, #2674, #2670, #2678, #2657, #2605)
  changelog.d/2605.changed.md
  changelog.d/2657.fixed.md
  changelog.d/2669.fixed.md
  changelog.d/2670.fixed.md
  changelog.d/2674.fixed.md
  changelog.d/2678.fixed.md
Due: none

fix(templates): bound the shape whose length cannot be trusted, not every long collection (#2678, #2674)
  changelog.d/2670.fixed.md
  changelog.d/2674.fixed.md
  changelog.d/2678.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): {% cycle %} state is per included render, and the comment saying otherwise is gone (#2657)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_remaining_builtin_tags_2556.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): route all six TEMPLATE_CACHE inserters through one generation-gated helper (#2669)
  crates/djust_live/src/lib.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  python/tests/test_template_cache_generation_2668.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): give every {% include %} site its own dj-if marker-id path
  crates/djust_core/src/context.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_dj_if_markers_off_2519.rs
  crates/djust_templates/tests/test_if_markers.rs
  python/djust/tests/test_include_marker_id_namespace_2689.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(scripts): scope the inert-API marker to the mention, widen the scan, run the canary against a tree
  README.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  python/djust/decorators.py
  python/djust/tests/test_decorators.py
  python/djust/tests/test_inert_api_claims.py
  scripts/check-inert-api-claims.py
  tests/e2e/test_phase5_decorators.py
Due: pytest

docs: changelog fragment for the #2692 / #2689 / #2658 follow-up batch
  changelog.d/followups-2692-2689-2658.fixed.md
Due: none

fix(templates): resolve {% cache %} operands the way Django does
  python/djust/template_libraries.py
  python/tests/test_cache_tag_django_parity_2658.py
Due: pytest

fix(scripts): bound the inert-API block by dedent, and order the banner arm
  python/djust/schema.py
  python/djust/tests/test_inert_api_claims.py
  scripts/check-inert-api-claims.py
Due: pytest

fix: per-include-site dj-if marker ids, Django-parity {% cache %} operand resolution, and a scoped inert-API marker (#2689, #2658, #2692) (#2694)
  README.md
  changelog.d/followups-2692-2689-2658.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_dj_if_markers_off_2519.rs
  crates/djust_templates/tests/test_if_markers.rs
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  python/djust/decorators.py
  python/djust/schema.py
  python/djust/template_libraries.py
  python/djust/tests/test_decorators.py
  python/djust/tests/test_include_marker_id_namespace_2689.py
  python/djust/tests/test_inert_api_claims.py
  python/tests/test_cache_tag_django_parity_2658.py
  scripts/check-inert-api-claims.py
  tests/e2e/test_phase5_decorators.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: propose built-in declarative audio in ADR-028
  docs/adr/028-declarative-audio.md
Due: none

fix(scripts): the inert-API checker must not scan generated or vendored trees
  scripts/check-inert-api-claims.py
Due: pytest

style(scripts): make the wrapped prose concatenations explicit
  scripts/generate-template-backend-lists.py
Due: pytest

docs: correct the two stale scoreboard figures published in [1.2.0rc2] (#2619)
  changelog.d/2619.documentation.md
Due: none

fix(tests): stop crash-isolation fixtures generating macOS crash reports
  changelog.d/2699.fixed.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_no_reported_crash_signals_2699.py
Due: pytest

chore: renumber the crash-signal pin 2699 -> 2701 (its real issue)
  changelog.d/2699.fixed.md
  changelog.d/2701.fixed.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_no_reported_crash_signals_2701.py
Due: pytest

fix(templates): {% cache %} no longer renders its body on a hit (#2658)
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_libraries.py
  python/tests/test_cache_tag_django_parity_2658.py
  python/tests/test_lazy_body_block_protocol_2658.py
  python/tests/test_url_noreversematch_2563.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment for the {% cache %} lazy body (#2658)
  changelog.d/2658.fixed.md
Due: none

chore(ci): regenerate .test_durations and pin staleness + shard balance
  .test_durations
  changelog.d/2703.changed.md
  tests/test_ci_python_test_shards.py
Due: pytest

fix(templates): stop materialising a sized sequence at conversion (#2695)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): route dictsort through the one-shot iterator sink (#2693)
  crates/djust_templates/src/filters.rs
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_falsy_with_attributes_2478.py
  python/tests/test_sized_sequence_conversion_2695_2693.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment for #2695 and #2693
  changelog.d/2695-2693.fixed.md
Due: none

fix(docs-guard): fail a stale INERT claim about a wired decorator (#2700 review)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/05-handler-rate-limit.js
  python/djust/tests/test_inert_api_claims.py
  scripts/check-inert-api-claims.py
  tests/js/handler_rate_limit_2656.test.js
Due: npm-test, pytest

docs: correct the three stale INERT lines and the +584 B figure (#2700 review)
  changelog.d/2656.added.md
  docs/state-management/STATE_MANAGEMENT_API.md
  python/djust/decorators.py
Due: pytest

docs: remove the INERT caveats @debounce / @throttle no longer need (#2656, #2696)
  README.md
  changelog.d/2656.added.md
  docs/API_STABILITY.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/README.md
  docs/ai/events.md
  docs/example-site/EXAMPLE_SITE_PHASE5_PLAN.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/mcp-server.md
  docs/llms.txt
  docs/state-management/IMPLEMENTATION_PHASE1.md
  docs/state-management/IMPLEMENTATION_PHASE5.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_ARCHITECTURE.md
  docs/state-management/STATE_MANAGEMENT_COMPARISON.md
  docs/state-management/STATE_MANAGEMENT_EXAMPLES.md
  docs/state-management/STATE_MANAGEMENT_MIGRATION.md
  docs/state-management/STATE_MANAGEMENT_PATTERNS.md
  docs/state-management/STATE_MANAGEMENT_QUICKSTART.md
  docs/state-management/STATE_MANAGEMENT_TUTORIAL.md
  docs/website/api-reference/decorators.md
  docs/website/guides/mcp-server.md
  docs/website/state/index.md
  examples/demo_project/djust_demos/templates/demos/index_design3.html
  examples/demo_project/djust_demos/templates/demos/smart_dashboard.html
  examples/demo_project/djust_demos/views/smart_dashboard.py
  examples/demo_project/djust_rentals/views/maintenance.py
  python/djust/decorators.py
  python/djust/mcp/server.py
  python/djust/schema.py
  python/djust/tests/test_decorators.py
  python/djust/tests/test_inert_api_claims.py
  python/djust/tests/test_top_level_reexports_1489.py
  scripts/check-inert-api-claims.py
  tests/e2e/test_phase5_decorators.py
Due: pytest

feat(decorators): implement the client half of @debounce and @throttle (#2656)
  CLAUDE.md
  python/djust/runtime.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/05-handler-rate-limit.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/tests/test_handler_config_mount_frame_2656.py
  tests/js/handler_rate_limit_2656.test.js
  tests/js/strip_internal_params.test.js
Due: npm-test, pytest

fix(templates): do not decline an already-materialised sequence (#2695 review)
  crates/djust_core/src/lib.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
  python/tests/test_sized_sequence_conversion_2695_2693.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
