Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(runtime): WS-mount-spine grows + parity nets + flip gap-tests (#1911) (#1912)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_handle_mount_drains_queues.py
  python/djust/tests/test_transport_behavioral_parity.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
Due: pytest

feat(runtime): mount state-restore + signed-snapshot restore/emit + on_mount hooks into ViewRuntime (#1913, ADR-022 Iter 3 Phase 3.1)
  python/djust/live_view.py
  python/djust/runtime.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_runtime_mount_state_restore_1913.py
  python/djust/tests/test_transport_behavioral_parity.py
Due: pytest

docs(changelog): runtime mount state-restore + signed-snapshot restore/emit + on_mount hooks (#1913)
  CHANGELOG.md
Due: none

feat(runtime): dormant mount-hook scaffolding for the WS mount flip (#1915, ADR-022 Iter 3 Phase 3.2)
  python/djust/runtime.py
  python/djust/tests/test_transport_behavioral_parity.py
  python/djust/tests/test_transport_mount_hooks_1915.py
Due: pytest

docs(changelog): dormant mount-hook scaffolding (#1915, ADR-022 Iter 3 Phase 3.2)
  CHANGELOG.md
Due: none

feat(runtime): wire mount hooks into dispatch_mount — functional superset, pre-flip (#1917, ADR-022 Iter 3 Phase 3.3a)
  python/djust/runtime.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_transport_mount_hooks_1915.py
Due: pytest

docs(changelog): wire mount hooks into dispatch_mount (#1917, ADR-022 Iter 3 Phase 3.3a)
  CHANGELOG.md
Due: none

feat(runtime): wire mount hooks into dispatch_mount — functional superset, pre-flip (#1917) (#1918)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_transport_mount_hooks_1915.py
Due: pytest

feat(runtime): THE MOUNT FLIP — WS mounts route through ViewRuntime.dispatch_mount (#1919, ADR-022 Iter 3 Phase 3.3b)
  python/djust/runtime.py
  python/djust/tests/test_handle_mount_drains_queues.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_security_mount_validation.py
  python/djust/tests/test_state_snapshot_signing.py
  python/djust/tests/test_transport_behavioral_parity.py
  python/djust/tests/test_transport_mount_hooks_1915.py
  python/djust/tests/test_ws_mount_prerender_divergence_1610.py
  python/djust/tests/test_ws_receive_runtime_dispatch_1852.py
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  python/tests/test_http_fallback.py
  python/tests/test_websocket_has_ids.py
  tests/integration/test_sw_advanced_flow.py
  tests/unit/test_sw_advanced.py
Due: pytest

docs(changelog): THE MOUNT FLIP — WS mounts route through ViewRuntime.dispatch_mount (#1919)
  CHANGELOG.md
Due: none

feat(runtime): THE MOUNT FLIP — WS mounts route through ViewRuntime.dispatch_mount (#1919, ADR-022 Iter 3 Phase 3.3b)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_handle_mount_drains_queues.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_security_mount_validation.py
  python/djust/tests/test_state_snapshot_signing.py
  python/djust/tests/test_transport_behavioral_parity.py
  python/djust/tests/test_transport_mount_hooks_1915.py
  python/djust/tests/test_ws_mount_prerender_divergence_1610.py
  python/djust/tests/test_ws_receive_runtime_dispatch_1852.py
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  python/tests/test_http_fallback.py
  python/tests/test_websocket_has_ids.py
  tests/integration/test_sw_advanced_flow.py
  tests/unit/test_sw_advanced.py
Due: pytest

fix(runtime): post-convergence cleanup — DEBUG event-render residuals + dead _extract_* removal (#1908, #1921)
  python/djust/runtime.py
  python/djust/tests/test_ws_event_flip_parity_1896.py
  python/djust/websocket.py
Due: pytest

docs(changelog): post-convergence cleanup — DEBUG event-render residuals + dead _extract_* removal (#1908, #1921)
  CHANGELOG.md
Due: none

fix(runtime): post-convergence cleanup — DEBUG event-render residuals + dead _extract_* removal (#1908, #1921) (#1923)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_ws_event_flip_parity_1896.py
  python/djust/websocket.py
Due: pytest

fix(runtime): gate batched mount permission-denied close(4403) on not-in-batch (#1922, #291-consistency)
  python/djust/runtime.py
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest

docs(changelog): batched mount permission-denied close gated on not-in-batch (#1922)
  CHANGELOG.md
Due: none

fix(runtime): gate batched mount permission-denied close(4403) on not-in-batch (#1922, #291-consistency) (#1924)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest

docs(retro): v1.1.0-3 milestone retro (ADR-022 ViewRuntime convergence) + 6 canon rules
  CLAUDE.md
  RETRO.md
Due: none

ci: promote browser-smoke to a hard merge gate + flip the #1848 xfail (#1869)
  .github/workflows/test.yml
  tests/playwright/test_browser_smoke.py
Due: pytest

docs: CHANGELOG + RETRO for the browser-smoke hard-gate promotion (#1869)
  CHANGELOG.md
  RETRO.md
Due: none

fix(template): preserve <script>/<style> whitespace in the render normalizer (#1927)
  python/djust/mixins/template.py
  python/djust/tests/test_strip_whitespace.py
Due: pytest

docs: CHANGELOG ### Fixed entry for the #1927 inline-script whitespace fix
  CHANGELOG.md
Due: none

ci+fix: browser-smoke hard merge gate (#1869) + inline-<script> render normalizer fix (#1848 reopen / #1927)
  .github/workflows/test.yml
  CHANGELOG.md
  RETRO.md
  python/djust/mixins/template.py
  python/djust/tests/test_strip_whitespace.py
  tests/playwright/test_browser_smoke.py
Due: pytest

fix(tests): de-flake theme-tags handler-registration under -n auto (#1928, #1883-class settings-isolation)
  python/djust/test_isolation.py
  python/djust/tests/test_global_isolation_1883.py
Due: pytest

docs(changelog): note theme-tags handler-isolation de-flake (#1928)
  CHANGELOG.md
Due: none

fix(tests): de-flake theme-tags handler-registration under -n auto (#1928, #1883-class) (#1929)
  CHANGELOG.md
  python/djust/test_isolation.py
  python/djust/tests/test_global_isolation_1883.py
Due: pytest

Bump version to 1.1.0rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/019-liveview-native.md
  docs/adr/021-automatic-spa-navigation.md
  docs/adr/022-v1.1-code-quality-single-path-convergence.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(tests): own the clock in rate-limit tests — kill the wall-clock burst-refill flake (#1930)
  python/djust/rate_limit.py
  tests/unit/test_event_security.py
Due: pytest

docs(changelog): record rate-limit clock-deflake fix (#1930)
  CHANGELOG.md
Due: none

fix(tests): own the clock in rate-limit tests — kill the wall-clock burst-refill flake (#1930) (#1932)
  CHANGELOG.md
  python/djust/rate_limit.py
  tests/unit/test_event_security.py
Due: pytest

fix(tests): await async-work completion deterministically in mount-dispatch test (#1931)
  python/djust/tests/test_transport_behavioral_parity.py
Due: pytest

docs(changelog): record #1931 async-work mount-dispatch test deflake
  CHANGELOG.md
Due: none

fix(tests): await async-work mount-dispatch completion deterministically — kill scheduler-starvation flake (#1931) (#1933)
  CHANGELOG.md
  python/djust/tests/test_transport_behavioral_parity.py
Due: pytest

fix(client): live_redirect to a non-LiveView path falls back to full-page navigation (#1934)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  tests/js/navigation.test.js
Due: npm-test

docs(changelog): live_redirect non-LiveView full-page-nav fallback (#1934)
  CHANGELOG.md
Due: none

fix(client): live_redirect to a non-LiveView path falls back to full-page navigation (#1934) (#1935)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  tests/js/navigation.test.js
Due: npm-test

Bump version to 1.1.0rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(quality): enforce incremental type-checking — mypy gate + strict islands + _rust.pyi boundary
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  python/djust/_context_provider.py
  python/djust/permissions.py
  python/djust/rate_limit.py
  python/djust/schema.py
  python/djust/security/attribute_guard.py
  python/djust/security/log_sanitizer.py
  python/djust/security/state_snapshot.py
  python/djust/test_isolation.py
  python/tests/test_type_stubs.py
Due: pytest

docs(quality): ADR-023 + CHANGELOG for incremental type enforcement
  CHANGELOG.md
  docs/adr/023-incremental-type-enforcement.md
Due: none

feat(types): strict mypy on public-API quartet — live_view, component, decorators, forms (ADR-023 M2)
  pyproject.toml
  python/djust/components/base.py
  python/djust/decorators.py
  python/djust/forms.py
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/mixins/handlers.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
