Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: add event filtering controls to Debug Toolbar Events tab (#176) (#180)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/03-tab-events.js
  tests/js/debug_event_filter.test.js
Due: npm-test

feat: add event replay button to Debug Toolbar Events tab (#177)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  tests/js/debug_event_replay.test.js
Due: npm-test

feat: add event replay button to Debug Toolbar Events tab (#177) (#181)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  tests/js/debug_event_replay.test.js
Due: npm-test

feat: scope debug panel state persistence to current view (#178)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_state_persistence.test.js
Due: npm-test

feat: scope debug panel state persistence to current view (#178) (#182)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_state_persistence.test.js
Due: npm-test

feat: add expandable message body inspection to Network tab (#179)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/04-tab-network.js
  tests/js/debug_network_copy.test.js
Due: npm-test

feat: add expandable message body inspection to Network tab (#179) (#183)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/04-tab-network.js
  tests/js/debug_network_copy.test.js
Due: npm-test

feat: add test harness to exercise actual debug panel IIFE code (#184)
  CHANGELOG.md
  tests/js/debug_panel_harness.test.js
  tests/js/helpers/debug-panel-harness.js
Due: npm-test

Address review feedback on test harness
  tests/js/debug_panel_harness.test.js
  tests/js/helpers/debug-panel-harness.js
Due: npm-test

Move PANEL_SOURCE_PATH export to declaration site
  tests/js/helpers/debug-panel-harness.js
Due: npm-test

feat: add test harness for debug panel IIFE (#184) (#185)
  CHANGELOG.md
  tests/js/debug_panel_harness.test.js
  tests/js/helpers/debug-panel-harness.js
Due: npm-test

fix: capture received WebSocket messages and populate Events tab (#186, #187)
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/11-integration.js
  tests/js/debug_panel_harness.test.js
Due: npm-test

docs: add changelog entries for #186 and #187
  CHANGELOG.md
Due: none

fix: capture received WebSocket messages and populate Events tab (#186, #187) (#188)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/11-integration.js
  tests/js/debug_panel_harness.test.js
Due: npm-test

feat: include _debug payload in WebSocket responses when DEBUG=True
  python/djust/websocket.py
  python/tests/test_debug_panel.py
Due: pytest

fix: bootstrap debug panel tabs from DJUST_DEBUG_INFO on init (#189)
  CHANGELOG.md
  python/djust/static/djust/client-dev.js
  tests/js/debug_panel_harness.test.js
Due: npm-test

docs: add CHANGELOG entry for #190 debug WebSocket payload
  CHANGELOG.md
Due: none

docs: update changelog and debug panel docs for #190
  docs/DEBUG_PANEL.md
Due: none

docs: add changelog entry for #190
  CHANGELOG.md
Due: none

fix: bootstrap debug panel tabs and include _debug in WebSocket responses (#189, #190) (#191)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/static/djust/client-dev.js
  python/djust/websocket.py
  python/tests/test_debug_panel.py
  tests/js/debug_panel_harness.test.js
Due: npm-test, pytest

Fix debug panel runtime issues (#193, #194, #195, #196)
  python/djust/mixins/post_processing.py
  python/djust/static/djust/debug-panel.js
Due: npm-test, pytest

Update docs and changelog for debug panel fixes
  CHANGELOG.md
  docs/DEBUG_PANEL.md
Due: none

Remove unnecessary 'use strict' from debug-panel.js IIFE
  python/djust/static/djust/debug-panel.js
Due: npm-test

Add tests for debug panel fixes (#193, #194, #195, #196)
  python/tests/test_debug_panel.py
  tests/js/debug_panel_harness.test.js
Due: npm-test, pytest

Address review findings: tighten handler discovery, add WebSocket hook test
  python/djust/mixins/post_processing.py
  python/tests/test_debug_panel.py
  tests/js/debug_panel_harness.test.js
Due: npm-test, pytest

Match debug panel handler discovery to runtime event_security policy
  docs/DEBUG_PANEL.md
  python/djust/mixins/post_processing.py
  python/tests/test_debug_panel.py
Due: pytest

Fix debug panel runtime issues (#197)
  CHANGELOG.md
  docs/DEBUG_PANEL.md
  python/djust/mixins/post_processing.py
  python/djust/static/djust/debug-panel.js
  python/tests/test_debug_panel.py
  tests/js/debug_panel_harness.test.js
Due: npm-test, pytest

Update ROADMAP.md with debug panel progress from PR #197
  ROADMAP.md
Due: none

Add state offloading exploration to ROADMAP.md
  ROADMAP.md
Due: none

Bump version to v0.2.2rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
Due: pytest

Fix VDOM path fallback whitespace mismatch corrupting sibling elements
  python/djust/static/djust/client.js
  tests/js/path_fallback.test.js
Due: npm-test

Fix VDOM: preserve nbsp text nodes and sync IDs after diffing
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  python/djust/static/djust/client.js
  tests/js/path_fallback.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

Fix ESLint warnings: unused vars and object injection suppressions
  python/djust/static/djust/client.js
Due: npm-test

Add ESLint pre-commit hook for JS security linting
  .pre-commit-config.yaml
Due: none

Fix __successCount typo and remove extra blank line
  python/djust/static/djust/client.js
Due: npm-test

Update CHANGELOG and CONTRIBUTING for PR #199
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Fix VDOM path fallback whitespace mismatch (#199)
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  python/djust/static/djust/client.js
  tests/js/path_fallback.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

Fix duplicate event firing on rapid clicks (#201)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/14-init.js
  tests/js/duplicate_event_guard.test.js
Due: npm-test

Fix fuzz test overlapping ID assignment (#200)
  CHANGELOG.md
  crates/djust_vdom/tests/fuzz_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Fix fuzz test overlapping ID assignment (#200) (#203)
  CHANGELOG.md
  crates/djust_vdom/tests/fuzz_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
