Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(components): SignaturePad interaction and a safe signature decoder (#2985 batch 5) (#3399)
  changelog.d/2985-batch5-signature.added.md
  changelog.d/2985-signature-followup.fixed.md
  python/djust/components/components/signature_pad.py
  python/djust/components/rust_handlers.py
  python/djust/components/signature.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/signature-pad.js
  python/djust/components/templatetags/djust_components.py
  python/djust/tests/test_component_batch5_signature_2985.py
  python/djust/tests/test_signature_data_url_2985.py
  tests/js/component_batch5_signature_2985.test.js
  tests/playwright/README.md
  tests/playwright/test_component_batch5_signature_2985.py
Due: npm-test, pytest

feat(components): MapPicker interaction on a vendored Leaflet (#2985 batch 5) (#3393)
  .gitattributes
  changelog.d/2985-batch5-map-picker.added.md
  changelog.d/2985-map-routing.fixed.md
  docs/website/guides/hooks.md
  docs/website/guides/vendored-assets.md
  js/vendor/build.mjs
  js/vendor/bundles.mjs
  js/vendor/leaflet-entry.js
  js/vendor/package-lock.json
  js/vendor/package.json
  js/vendor/test/build.check.mjs
  python/djust/components/components/map_picker.py
  python/djust/components/djust_assets.json
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/map-picker.js
  python/djust/components/static/djust_components/vendor/leaflet/images/layers-2x.png
  python/djust/components/static/djust_components/vendor/leaflet/images/layers.png
  python/djust/components/static/djust_components/vendor/leaflet/images/marker-icon-2x.png
  python/djust/components/static/djust_components/vendor/leaflet/images/marker-icon.png
  python/djust/components/static/djust_components/vendor/leaflet/images/marker-shadow.png
  python/djust/components/static/djust_components/vendor/leaflet/leaflet.LICENSE.txt
  python/djust/components/static/djust_components/vendor/leaflet/leaflet.css
  python/djust/components/static/djust_components/vendor/leaflet/leaflet.js
  python/djust/components/templatetags/_advanced.py
  python/djust/djust.cdx.json
  python/djust/tests/test_assets_distribution.py
  python/djust/tests/test_component_batch5_map_picker_2985.py
  tests/js/component_batch5_map_picker_2985.test.js
  tests/playwright/README.md
  tests/playwright/test_component_batch5_map_picker_2985.py
Due: npm-test, pytest

fix(theming): neutralise script-bearing data-derived URLs instead of raising (#3407)
  changelog.d/theming-url-neutralise.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

fix(ci): give the retro-gate audit a verdict it cannot confuse (#3129)
  .github/workflows/retro-gate-audit.yml
  changelog.d/3129-retro-gate-audit.fixed.md
  scripts/audit-pipeline-bypass.py
  tests/test_retro_gate_audit_workflow_3129.py
Due: pytest

fix(ci): give the retro-gate audit a verdict it cannot confuse (#3129) (#3409)
  .github/workflows/retro-gate-audit.yml
  changelog.d/3129-retro-gate-audit.fixed.md
  scripts/audit-pipeline-bypass.py
  tests/test_retro_gate_audit_workflow_3129.py
Due: pytest

fix: spell a Decimal's refusal type name the way the running interpreter does (#3255)
  changelog.d/3255-decimal-type-name.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_and_none_values_2359.py
  python/tests/test_for_non_iterable_2382.py
  tests/cpython_scalar_names.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: spell a Decimal's refusal type name the way the running interpreter does (#3255) (#3410)
  changelog.d/3255-decimal-type-name.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_and_none_values_2359.py
  python/tests/test_for_non_iterable_2382.py
  tests/cpython_scalar_names.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: stop the regroup Decimal-name pin excluding the bare spelling (#3255)
  python/tests/test_regroup_non_iterable_2463.py
Due: pytest

test: stop the regroup Decimal-name pin excluding the bare spelling (#3255) (#3411)
  python/tests/test_regroup_non_iterable_2463.py
Due: pytest

fix: fill a lazy slot over the page-POST fallback (#3252)
  changelog.d/3252-http-fallback-lazy.fixed.md
  python/djust/mixins/request.py
  python/tests/test_lazy_slot_http_fallback_3252.py
Due: pytest

fix: fill a lazy slot over the page-POST fallback (#3252) (#3412)
  changelog.d/3252-http-fallback-lazy.fixed.md
  python/djust/mixins/request.py
  python/tests/test_lazy_slot_http_fallback_3252.py
Due: pytest

feat(#3252): register a page's authored dj-lazy containers
  changelog.d/3252-lazy-container-registration.added.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lazy_scope.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/mixins/request.py
  python/tests/test_lazy_container_registration_3252.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: emit each multiloop marker as one write so two loops cannot splice it
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

test: emit each multiloop marker as one write so two loops cannot splice it (#3414)
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

test: pin that a WebSocket reconnect does not bypass the login gate
  python/djust/tests/test_mount_security_sequence_1853.py
Due: pytest

test: pin that a WebSocket reconnect does not bypass the login gate (#3415)
  python/djust/tests/test_mount_security_sequence_1853.py
Due: pytest

docs: stop claiming the proxy-count coercion cannot widen trust
  python/djust/_client_ip.py
Due: pytest

docs: state the proxy-count coercion behaviour concisely
  python/djust/_client_ip.py
Due: pytest

docs: describe the proxy-count coercion from verified behaviour
  python/djust/_client_ip.py
Due: pytest

docs: stop claiming the proxy-count coercion cannot widen trust (#3416)
  python/djust/_client_ip.py
Due: pytest

chore(deps): vendor markup5ever_rcdom 0.40 and move the parser stack to 0.40 (#3011)
  Cargo.lock
  Cargo.toml
  crates/djust_templates/Cargo.toml
  crates/djust_vdom/src/parser.rs
  crates/markup5ever_rcdom_vendored/Cargo.toml
  crates/markup5ever_rcdom_vendored/LICENSE-APACHE
  crates/markup5ever_rcdom_vendored/LICENSE-MIT
  crates/markup5ever_rcdom_vendored/PROVENANCE.md
  crates/markup5ever_rcdom_vendored/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

chore(deps): regenerate the vendored SBOM for the 0.40 parser stack (#3011)
  python/djust/djust.cdx.json
Due: none

chore(deps): correct the vendored crate's provenance claim and compiler floor
  crates/markup5ever_rcdom_vendored/Cargo.toml
  crates/markup5ever_rcdom_vendored/PROVENANCE.md
Due: none

fix(assets): keep vendored third-party Rust in the distribution SBOM (#3011)
  crates/markup5ever_rcdom_vendored/Cargo.toml
  python/djust/assets/sbom.py
  python/djust/djust.cdx.json
  python/djust/tests/test_assets_sbom.py
Due: pytest

chore(deps): vendor markup5ever_rcdom 0.40 and move the parser stack to 0.40 (#3417)
  Cargo.lock
  Cargo.toml
  crates/djust_templates/Cargo.toml
  crates/djust_vdom/src/parser.rs
  crates/markup5ever_rcdom_vendored/Cargo.toml
  crates/markup5ever_rcdom_vendored/LICENSE-APACHE
  crates/markup5ever_rcdom_vendored/LICENSE-MIT
  crates/markup5ever_rcdom_vendored/PROVENANCE.md
  crates/markup5ever_rcdom_vendored/src/lib.rs
  python/djust/assets/sbom.py
  python/djust/djust.cdx.json
  python/djust/tests/test_assets_sbom.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(theming): escape the theme editor's inline JSON for its script block
  changelog.d/theming-gallery-json-script.security.md
  python/djust/tests/test_theming_editor_json_script.py
  python/djust/theming/gallery/views.py
Due: pytest

fix(theming): one denylist for data-derived URLs, object items, per-page pagination check
  changelog.d/theming-url-neutralise.security.md
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
Due: pytest

fix(theming): escape the theme editor's inline JSON for its script block (#3419)
  changelog.d/theming-gallery-json-script.security.md
  python/djust/tests/test_theming_editor_json_script.py
  python/djust/theming/gallery/views.py
Due: pytest

fix(theming): one denylist for data-derived URLs, object items, per-page pagination check (#3420)
  changelog.d/theming-url-neutralise.security.md
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
Due: pytest

fix(theming): neutralise script-bearing data-derived URLs in theming tags (1.2 backport)
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

fix(theming): neutralise script-bearing data-derived URLs in theming tags (1.1 backport)
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

docs(changelog): describe the 1.1 URL keyword checks accurately
  changelog.d/theming-url-scheme-guard.security.md
Due: none

fix(theming): neutralise script-bearing data-derived URLs in theming tags (1.2 backport) (#3421)
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

fix(theming): neutralise script-bearing data-derived URLs in theming tags (1.1 backport) (#3422)
  changelog.d/theming-url-scheme-guard.security.md
  python/djust/tests/test_theming_url_scheme_guard.py
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_pages.py
Due: pytest

fix(tests): git fixtures must not write into the real .git/config (1.2 backport of #3179)
  changelog.d/3179.fixed.md
  conftest.py
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_django_template_suite_2517.py
  tests/test_changelog_fragments.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_git_env_isolation_2608.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
  tests/unit/test_client_minified.py
  tests/unit/test_select_tests.py
Due: pytest

fix(tests): git fixtures must not write into the real .git/config (1.1 backport of #3179)
  changelog.d/3179.fixed.md
  conftest.py
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_deploy_cli.py
  tests/git_env.py
  tests/test_changelog_tagged_sections.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
Due: pytest

docs(changelog): describe what #3179's port changes on 1.1
  changelog.d/3179.fixed.md
Due: none

fix(tests): git fixtures must not write into the real .git/config (1.2 backport of #3179) (#3423)
  changelog.d/3179.fixed.md
  conftest.py
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_django_template_suite_2517.py
  tests/test_changelog_fragments.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_git_env_isolation_2608.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
  tests/unit/test_client_minified.py
  tests/unit/test_select_tests.py
Due: pytest

fix(tests): git fixtures must not write into the real .git/config (1.1 backport of #3179) (#3424)
  changelog.d/3179.fixed.md
  conftest.py
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_deploy_cli.py
  tests/git_env.py
  tests/test_changelog_tagged_sections.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
Due: pytest

feat(clocks): one shared clock per room, process-local (ADR-042 phases 1-3)
  changelog.d/3005.added.md
  docs/API_STABILITY.md
  docs/adr/042-shared-room-clock.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/clocks.md
  docs/website/guides/api-stability.md
  docs/website/guides/scaling-across-cores.md
  docs/website/guides/shared-room-clock.md
  docs/website/index.md
  python/djust/_clock_loops.py
  python/djust/_clock_testing.py
  python/djust/clocks.py
  python/djust/live_view.py
  python/djust/presence.py
  python/djust/testing.py
  python/djust/tests/test_shared_room_clock_3005.py
  python/djust/tests/test_shared_room_clock_ws_3005.py
  python/djust/websocket.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
