Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Bump version to 0.3.0rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

chore: update Cargo.lock for 0.3.0rc2
  Cargo.lock
Due: none

fix: support HTTP fallback protocol in post() method
  python/djust/mixins/request.py
  python/tests/test_http_fallback.py
Due: pytest

fix: address PR #270 review feedback
  CHANGELOG.md
  python/djust/mixins/request.py
  python/tests/test_http_fallback.py
Due: pytest

security: gate HTTP POST handler dispatch to @event_handler methods
  python/djust/mixins/request.py
  python/tests/test_http_fallback.py
  python/tests/test_vdom_patching_wrapper.py
  python/tests/test_vdom_replace.py
  python/tests/test_vdom_torture.py
Due: pytest

docs: add CHANGELOG entry for HTTP POST security hardening
  CHANGELOG.md
Due: none

refactor: remove _allowed_events backwards compatibility
  python/djust/config.py
  python/djust/mixins/post_processing.py
  python/djust/mixins/request.py
  python/djust/websocket_utils.py
  python/tests/test_debug_panel.py
  python/tests/test_http_fallback.py
  tests/unit/test_event_security.py
Due: pytest

docs: remove _allowed_events from all documentation
  CHANGELOG.md
  MIGRATION.md
  docs/DEBUG_PANEL.md
  docs/EVENT_HANDLERS.md
  docs/SECURITY_GUIDELINES.md
  docs/website/advanced/security.md
  tests/unit/test_event_security.py
Due: pytest

fix: add helpful error messages for missing LiveView configuration
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/14-init.js
  python/tests/test_checks.py
  tests/js/helpers/debug-panel-harness.js
Due: npm-test, pytest

fix: guard all console.log calls with djustDebug, add CHANGELOG entry
  CHANGELOG.md
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/14-init.js
Due: npm-test, pytest

test: add tests for {% url %} with dynamic loop variable arguments
  python/djust/template/rendering.py
  python/tests/test_template_url_tag.py
Due: pytest

fix: restore tag registry after tests to prevent test pollution
  tests/benchmarks/test_tag_registry.py
  tests/unit/test_tag_registry.py
Due: pytest

fix: address PR review — add explanatory comments, CHANGELOG entry
  CHANGELOG.md
  tests/benchmarks/test_tag_registry.py
  tests/unit/test_tag_registry.py
Due: pytest

fix: morph fallback when VDOM patches fail instead of page reload
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/websocket.py
Due: npm-test, pytest

fix: on-demand recovery HTML instead of sending with every patch response
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  tests/js/vdom_recovery.test.js
Due: npm-test, pytest

test: add Python tests for handle_request_html (#259)
  tests/unit/test_request_html.py
Due: pytest

chore: remove unused beforeEach import in vdom_recovery test
  tests/js/vdom_recovery.test.js
Due: npm-test

fix: resolve 4 medium-priority issues (#259, #260, #264, #265)
  CHANGELOG.md
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/mixins/request.py
  python/djust/routing.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/14-init.js
  python/tests/test_checks.py
  python/tests/test_http_fallback.py
Due: npm-test, pytest

fix: address PR review findings
  python/djust/routing.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/tests/test_http_fallback.py
Due: npm-test, pytest

fix: address review — remove duplicate import, add JS tests
  python/djust/mixins/request.py
  tests/js/http_only_mode.test.js
Due: npm-test, pytest

feat: resolve medium issues #258, #262, #266
  CHANGELOG.md
  python/djust/cli.py
  python/djust/serialization.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/14-init.js
  python/tests/test_cli_scaffold.py
  python/tests/test_jit_fixes.py
  tests/js/auto_stamp.test.js
Due: npm-test, pytest

fix: resolve PR #275 review findings
  python/djust/cli.py
  python/djust/serialization.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/14-init.js
  python/tests/test_cli_scaffold.py
Due: npm-test, pytest

security: read SECRET_KEY from env var in scaffold settings
  python/djust/cli.py
  python/tests/test_cli_scaffold.py
Due: pytest

fix: address remaining review findings
  python/djust/cli.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/14-init.js
  python/tests/test_cli_scaffold.py
  tests/js/auto_stamp.test.js
Due: npm-test, pytest

feat: resolve low-priority issues #267, #268, #269
  CHANGELOG.md
  python/djust/mixins/request.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  python/tests/test_http_fallback.py
  tests/js/dj-poll.test.js
  tests/js/extractTypedParams.test.js
Due: npm-test, pytest

fix: address PR #276 review findings
  python/djust/mixins/request.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
Due: npm-test, pytest

perf: short-circuit JIT serialization for non-DB views (#278)
  python/djust/mixins/context.py
Due: pytest

feat: add remaining 13 Django template filters (#254)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: add tests and address review findings for JIT short-circuit (#278)
  python/djust/mixins/context.py
  tests/unit/test_jit_short_circuit.py
Due: pytest

perf: batch sync_to_async calls in event handler (#277)
  python/djust/websocket.py
Due: pytest

perf: eliminate JSON encode/decode roundtrip in context serialization (#279)
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/serialization.py
  python/djust/template/rendering.py
Due: pytest

fix: add recursion depth guard and tests for normalize_django_value (#279)
  python/djust/serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

perf: cache resolved context processor functions (#281)
  python/djust/mixins/context.py
Due: pytest

fix: don't cache failed imports, add tests for processor caching (#281)
  python/djust/mixins/context.py
  python/tests/test_context_processors.py
  tests/unit/test_context_processor_caching.py
Due: pytest

fix: address non-blocking review findings for normalize_django_value
  python/djust/serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

security: HTML-escape urlize and unordered_list filter output
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: add setting_changed signal handler and repr fallback for processor caching
  python/djust/mixins/context.py
  tests/unit/test_context_processor_caching.py
Due: pytest

fix: address non-blocking review findings for batch sync_to_async
  python/djust/websocket.py
  tests/unit/test_batch_sync_to_async.py
Due: pytest

refactor: address review observations for template filters
  crates/djust_templates/src/filters.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: add template filters section to CLAUDE.md
  CLAUDE.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
