Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix: tear down replaced views and their legacy children on every transport path (#3244, #3245)
  python/djust/_child_lifecycle.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_view_replacement_teardown_3244_3245.py
  python/djust/websocket.py
  python/tests/test_adr027_characterization_net_2539.py
Due: pytest

docs: changelog fragments for the view-replacement teardown (#3244, #3245)
  changelog.d/3236.fixed.md
  changelog.d/3244.fixed.md
  changelog.d/3245.fixed.md
Due: none

fix: a late pool save re-checks its session before writing (#3247)
  changelog.d/3247.fixed.md
  docs/adr/038-explicit-context-and-state-exposure.md
  docs/website/state/explicit-exposure.md
  python/djust/_exposure_child_persistence.py
  python/djust/_exposure_sessions.py
  python/djust/_late_save.py
  python/djust/runtime.py
  python/djust/tests/test_exposure_child_pruning.py
  python/djust/tests/test_late_save_logout_3247.py
Due: pytest

fix: review follow-ups for #3246/#3247/#3248 (Y1-Y3)
  changelog.d/3246.fixed.md
  changelog.d/3247.fixed.md
  changelog.d/3248.fixed.md
  changelog.d/3248.security.md
  docs/adr/038-explicit-context-and-state-exposure.md
  python/djust/_late_save.py
  python/djust/live_view.py
  python/djust/runtime.py
  python/djust/tests/test_late_save_logout_3247.py
  python/djust/tests/test_private_state_framework_attrs_3248.py
Due: pytest

fix: per-view group records, presence untrack and revoked-root release (#3250 review)
  changelog.d/3244.fixed.md
  changelog.d/3245.fixed.md
  python/djust/_child_lifecycle.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_view_replacement_teardown_3244_3245.py
  python/djust/websocket.py
Due: pytest

fix: log the late-save lookup failure through log_failure (#3247)
  python/djust/_late_save.py
Due: pytest

fix: WebSocket view replacement teardown (Group X): #3244 #3245 (#3250)
  changelog.d/3236.fixed.md
  changelog.d/3244.fixed.md
  changelog.d/3245.fixed.md
  python/djust/_child_lifecycle.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_view_replacement_teardown_3244_3245.py
  python/djust/websocket.py
  python/tests/test_adr027_characterization_net_2539.py
Due: pytest

fix: an expired file session is gone, and the late-save lookup never writes (#3247)
  changelog.d/3247.fixed.md
  changelog.d/3248.fixed.md
  python/djust/_late_save.py
  python/djust/tests/test_late_save_logout_3247.py
Due: pytest

test: isolate the file-session storage path when the class has not cached one (#3247)
  python/djust/tests/test_late_save_logout_3247.py
Due: pytest

fix: state persistence edges drain (Group Y): #3246 #3247 #3248 (#3251)
  changelog.d/3246.fixed.md
  changelog.d/3247.fixed.md
  changelog.d/3248.fixed.md
  changelog.d/3248.security.md
  docs/adr/038-explicit-context-and-state-exposure.md
  docs/website/state/explicit-exposure.md
  python/djust/_exposure_child_persistence.py
  python/djust/_exposure_sessions.py
  python/djust/_late_save.py
  python/djust/live_view.py
  python/djust/runtime.py
  python/djust/tests/test_exposure_child_pruning.py
  python/djust/tests/test_late_save_logout_3247.py
  python/djust/tests/test_private_state_framework_attrs_3248.py
  python/djust/tests/test_skip_render_noop_snapshot_3246.py
Due: pytest

docs: stickiness never preserves a view's own state
  docs/website/guides/components.md
  docs/website/guides/tutorial-deployment.md
Due: none

docs: audit runtime guidance and examples (#3249)
  docs/BEST_PRACTICES_AI.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/api-reference/testing.md
  docs/website/guides/components.md
  docs/website/guides/tutorial-deployment.md
  docs/website/guides/tutorial-js-commands.md
Due: none

docs(readme): link Discord and the YouTube channel under Community (#3198)
  README.md
Due: none

docs: audit component API and examples
  docs/components/API_REFERENCE_COMPONENTS.md
  docs/components/BREADCRUMB_COMPONENT_SUMMARY.md
  docs/components/COMPONENTS.md
  docs/components/COMPONENT_BEST_PRACTICES.md
  docs/components/COMPONENT_EXAMPLES.md
  docs/components/COMPONENT_MIGRATION_GUIDE.md
  docs/components/COMPONENT_PERFORMANCE_OPTIMIZATION.md
  docs/components/COMPONENT_RENDERING_PERFORMANCE.md
  docs/components/COMPONENT_UNIFIED_DESIGN.md
  docs/components/DIVIDER_COMPONENT_SUMMARY.md
  docs/components/ICON_COMPONENT_IMPLEMENTATION.md
  docs/components/LISTGROUP_IMPLEMENTATION_SUMMARY.md
  docs/components/LIST_GROUP_COMPONENT.md
  docs/components/LIVECOMPONENT_ARCHITECTURE.md
  docs/components/NAVBAR_COMPONENT_REPORT.md
  docs/components/PAGINATION_COMPONENT_SUMMARY.md
  docs/components/RADIO_COMPONENT_SUMMARY.md
  docs/components/RANGE_COMPONENT_SUMMARY.md
  docs/components/RUST_COMPONENTS.md
  docs/components/TEXTAREA_COMPONENT_SUMMARY.md
  docs/components/TOAST_COMPONENT_REPORT.md
  docs/components/TOOLTIP_COMPONENT_REPORT.md
Due: none

test: wait for the expected WebSocket frame instead of a 0.3 s quiet window (#3256)
  python/djust/tests/_ws_frames.py
  python/djust/tests/test_legacy_component_snapshot_3237.py
  python/djust/tests/test_legacy_navigation_waiters_3236.py
  python/djust/tests/test_presence_templated_key_3202.py
  python/djust/tests/test_private_state_framework_attrs_3248.py
  python/djust/tests/test_skip_render_noop_snapshot_3246.py
  python/djust/tests/test_ws_frames_helper_3130.py
Due: pytest

feat(markdown-editor): table actions, selection/empty-line menus and window.djust.getHook
  js/vendor/package-lock.json
  js/vendor/package.json
  js/vendor/test/build.check.mjs
  js/vendor/test/visual.check.mjs
  js/vendor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/djust_assets.json
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.LICENSE.txt
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/components/templatetags/_dev_tools.py
  python/djust/djust.cdx.json
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/djust.d.ts
  python/djust/static/djust/src/19-hooks.js
  python/tests/test_markdown_editor_menus_3108.py
  tests/js/hooks.test.js
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test, pytest

refactor(markdown-editor): drop the bubble menu's redundant empty-selection check
  js/vendor/visual.js
  python/djust/components/djust_assets.json
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/djust.cdx.json
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test

docs(markdown-editor): table actions, menus, getHook/getEditor; changelog fragments
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  docs/components-markdown-editor.md
  docs/website/api-reference/components.md
  docs/website/forms/index.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/hooks.md
  docs/website/guides/markdown-editor.md
Due: none

test: wait for the expected WebSocket frame instead of a 0.3 s quiet window (#3256) (#3258)
  python/djust/tests/_ws_frames.py
  python/djust/tests/test_legacy_component_snapshot_3237.py
  python/djust/tests/test_legacy_navigation_waiters_3236.py
  python/djust/tests/test_presence_templated_key_3202.py
  python/djust/tests/test_private_state_framework_attrs_3248.py
  python/djust/tests/test_skip_render_noop_snapshot_3246.py
  python/djust/tests/test_ws_frames_helper_3130.py
Due: pytest

test(markdown-editor): poll for menu visibility instead of racing Tiptap's debounce
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test

docs: audit component documentation and examples
  docs/components/BREADCRUMB_COMPONENT_SUMMARY.md
  docs/components/COMPONENTS.md
  docs/components/ICON_COMPONENT_IMPLEMENTATION.md
  docs/components/LISTGROUP_IMPLEMENTATION_SUMMARY.md
  docs/components/NAVBAR_COMPONENT_REPORT.md
  docs/components/NAVBAR_QUICK_START.md
  docs/components/PAGINATION_COMPONENT_SUMMARY.md
  docs/components/RADIO_COMPONENT_SUMMARY.md
  docs/components/RADIO_VISUAL_EXAMPLES.md
  docs/components/RANGE_COMPONENT_SUMMARY.md
  docs/components/TEXTAREA_COMPONENT_SUMMARY.md
  docs/components/TOAST_COMPONENT_REPORT.md
  docs/components/TOOLTIP_COMPONENT_REPORT.md
Due: none

fix(markdown-editor): address #3260 review (M1-M3, pipe escaping, L1-L8)
  js/vendor/test/visual.check.mjs
  js/vendor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/djust_assets.json
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/djust.cdx.json
  python/tests/test_markdown_editor_menus_3108.py
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test, pytest

docs(markdown-editor): table guarantees, default-on selection menu, flag spellings
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  changelog.d/3108.changed.md
  docs/website/guides/markdown-editor.md
Due: none

fix(markdown-editor): address #3260 re-review (R1, R2, L9, L10, L12)
  js/vendor/visual.js
  python/djust/components/djust_assets.json
  python/djust/components/static/djust_components/markdown-visual.js
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test

chore(vendor): regenerate djust.cdx.json for the rebuilt markdown-visual bundle
  python/djust/djust.cdx.json
Due: none

docs(markdown-editor): table paste, Enter in cells, getEditor() block inserts refused
  changelog.d/3107.added.md
  docs/website/guides/markdown-editor.md
Due: none

docs(changelog): update markdown-visual gzip size after the re-review fixes
  changelog.d/3108.added.md
Due: none

fix: keep mixed pastes, drops and images in MarkdownEditor cells (#3107)
  js/vendor/visual.js
  python/djust/components/djust_assets.json
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/djust.cdx.json
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test

docs: document mixed paste, drop and images in MarkdownEditor cells (#3107)
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  docs/website/guides/markdown-editor.md
Due: none

fix: make images in MarkdownEditor table cells inline nodes (#3107)
  js/vendor/visual.js
  python/djust/components/djust_assets.json
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/djust.cdx.json
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test

docs: document inline images in MarkdownEditor table cells (#3107)
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  docs/website/guides/markdown-editor.md
Due: none

feat(markdown-editor): table actions, selection/empty-line menus, window.djust.getHook (#3107, #3108) (#3260)
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  changelog.d/3108.changed.md
  docs/components-markdown-editor.md
  docs/website/api-reference/components.md
  docs/website/forms/index.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/hooks.md
  docs/website/guides/markdown-editor.md
  js/vendor/package-lock.json
  js/vendor/package.json
  js/vendor/test/build.check.mjs
  js/vendor/test/visual.check.mjs
  js/vendor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/djust_assets.json
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.LICENSE.txt
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/components/templatetags/_dev_tools.py
  python/djust/djust.cdx.json
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/djust.d.ts
  python/djust/static/djust/src/19-hooks.js
  python/tests/test_markdown_editor_menus_3108.py
  tests/js/hooks.test.js
  tests/js/markdown_editor_tables_menus_3107_3108.test.js
Due: npm-test, pytest

chore(release): 1.3.0rc6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/3107.added.md
  changelog.d/3108.added.md
  changelog.d/3108.changed.md
  changelog.d/3225.fixed.md
  changelog.d/3227.fixed.md
  changelog.d/3228.fixed.md
  changelog.d/3230.fixed.md
  changelog.d/3231.fixed.md
  changelog.d/3232.fixed.md
  changelog.d/3236.fixed.md
  changelog.d/3237.fixed.md
  changelog.d/3239.fixed.md
  changelog.d/3244.fixed.md
  changelog.d/3245.fixed.md
  changelog.d/3246.fixed.md
  changelog.d/3247.fixed.md
  changelog.d/3248.fixed.md
  changelog.d/3248.security.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  python/djust/djust.cdx.json
  uv.lock
Due: pytest

feat: opt in to HTML comments in Markdown visual editor
  changelog.d/markdown-visual-comments.added.md
  docs/website/guides/markdown-editor.md
  js/vendor/test/visual.check.mjs
  js/vendor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/djust_assets.json
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/components/templatetags/_dev_tools.py
  python/djust/djust.cdx.json
  python/tests/test_markdown_editor_menus_3108.py
Due: npm-test, pytest

docs: correct Button inline fallback styling
  docs/components/RUST_COMPONENTS.md
Due: none

docs: refresh live runtime dispatch comments (#3264)
  python/djust/runtime.py
Due: pytest

test: drain deferred SSE saves before database teardown
  python/djust/tests/test_sse_save_teardown_3212.py
Due: pytest

test: preserve early tick observations during mount (#3259)
  python/djust/tests/test_event_loop_ceiling_3095.py
Due: pytest

test: diagnose UNIX socket restart failures (#3262)
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

fix: handle WebSocket auth redirects and refusal closes (#3265)
  changelog.d/3265.fixed.md
  docs/website/guides/authentication.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/auth-refusal-3265.test.js
  tests/js/handler_rate_limit_2656.test.js
Due: npm-test
