Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Bump version to 0.4.0rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: deliver flash and page_metadata over HTTP POST fallback
  python/djust/mixins/request.py
  python/djust/static/djust/client.js
Due: npm-test, pytest

feat: register dj_flash tag handler with Rust template engine
  python/djust/template_tags/__init__.py
  python/djust/template_tags/flash.py
Due: pytest

fix: serialize list/object tag args as JSON instead of [List]/[Object]
  Cargo.lock
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: add XSS sanitization, tests, and changelog for PR #590
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/flash.py
  python/djust/tests/test_flash_tag_handler.py
  python/tests/test_http_side_channels.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: sync src/ module with client.js and update flash docs
  docs/website/guides/flash-messages.md
  python/djust/static/djust/src/02-response-handler.js
Due: npm-test

feat: tag arg serialization, flash HTTP delivery, and dj_flash Rust tag (#590)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/renderer.rs
  docs/website/guides/flash-messages.md
  python/djust/mixins/request.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/template_tags/__init__.py
  python/djust/template_tags/flash.py
  python/djust/tests/test_flash_tag_handler.py
  python/tests/test_http_side_channels.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

feat: register dj_flash tag handler with Rust template engine
  python/djust/template_tags/flash.py
Due: pytest

fix: apply Django filters in custom tag arguments
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: restore XSS sanitization, add filter tests, update changelog
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/flash.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: apply Django filters in custom tag arguments (#591)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: remove unused whitenoise dependency (#584)
  CHANGELOG.md
  Dockerfile
  docs/guides/BEST_PRACTICES.md
  docs/guides/error-codes.md
  docs/system-checks.md
  examples/demo_project/demo_project/settings.py
  pyproject.toml
  python/djust/checks.py
  python/djust/cli.py
  python/djust/scaffolding/templates.py
  python/djust/schema.py
  python/tests/test_checks.py
  python/tests/test_cli_scaffold.py
  uv.lock
Due: pytest

chore: remove stale blank lines from whitenoise removal
  docs/system-checks.md
  examples/demo_project/demo_project/settings.py
  pyproject.toml
  python/djust/cli.py
  python/djust/scaffolding/templates.py
Due: pytest

fix: remove unused whitenoise dependency (#593)
  CHANGELOG.md
  Dockerfile
  docs/guides/BEST_PRACTICES.md
  docs/guides/error-codes.md
  docs/system-checks.md
  examples/demo_project/demo_project/settings.py
  pyproject.toml
  python/djust/checks.py
  python/djust/cli.py
  python/djust/scaffolding/templates.py
  python/djust/schema.py
  python/tests/test_checks.py
  python/tests/test_cli_scaffold.py
  uv.lock
Due: pytest

fix: move misplaced tests, fix flash XSS, export PageMetadataMixin, add SSE tests
  python/djust/__init__.py
  python/djust/template_tags/flash.py
  python/tests/test_flash.py
  python/tests/test_flash_tag_handler.py
  python/tests/test_management_doctor.py
  python/tests/test_page_metadata.py
  python/tests/test_websocket_errors.py
  tests/js/sse-transport.test.js
Due: npm-test, pytest

fix: resolve CodeQL alerts in moved/new files
  python/djust/template_tags/flash.py
  python/tests/test_management_doctor.py
  tests/js/sse-transport.test.js
Due: npm-test, pytest

fix: resolve all CodeQL review comments on PR #594
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  python/djust/checks.py
  python/djust/management/commands/djust_doctor.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/23-flash.js
  python/djust/static/djust/src/25-page-metadata.js
  python/djust/websocket.py
  tests/integration/test_gen_live.py
  tests/js/connection-state.test.js
  tests/js/dj-auto-recover.test.js
  tests/js/dj-target-param.test.js
  tests/js/flash.test.js
  tests/js/latency_sim.test.js
  tests/js/page-metadata.test.js
  tests/js/reconnect-backoff.test.js
  tests/js/vdom_if_block.test.js
  tests/js/vdom_patch_errors.test.js
Due: npm-test, pytest

fix: wrap demo ASGI app with ASGIStaticFilesHandler for static file serving
  examples/demo_project/demo_project/asgi.py
Due: pytest

fix: resolve playwright test failures and flaky uv install in CI
  .github/workflows/test.yml
  examples/demo_project/demo_app/templates/tests/loading_test.html
  examples/demo_project/djust_tests/templates/tests/loading_test.html
  tests/playwright/test_loading_attribute.py
Due: pytest

fix: rewrite playwright loading test to use JS evaluation instead of DOM queries
  tests/playwright/test_loading_attribute.py
Due: pytest

security: fix 19 dependabot alerts across Python and npm dependencies
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: none

security: fix 19 dependabot alerts across Python and npm dependencies (#596)
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: none

security: fix 25 CodeQL code-scanning alerts (XSS, prototype pollution, log injection)
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/debug/07-tab-state.js
Due: npm-test

security: address PR #597 review findings
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/vdom-unsafe-keys.test.js
Due: npm-test

security: exclude built client.js/debug-panel.js from CodeQL analysis
  .github/codeql/codeql-config.yml
Due: none

fix: keep JS in CodeQL analysis, exclude specific false-positive rules
  .github/codeql/codeql-config.yml
Due: none

security: fix 25 CodeQL code-scanning alerts (#597)
  .github/codeql/codeql-config.yml
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/debug/07-tab-state.js
  tests/js/vdom-unsafe-keys.test.js
Due: npm-test

fix: resolve 25 additional CodeQL alerts (unused code, defensive guards, missing await)
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/19-hooks.js
  python/djust/static/djust/src/20-model-binding.js
  python/djust/template/rendering.py
  python/djust/websocket.py
Due: npm-test, pytest

fix: resolve 25 remaining CodeQL alerts (unused code, defensive guards, missing await) (#598)
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/19-hooks.js
  python/djust/static/djust/src/20-model-binding.js
  python/djust/template/rendering.py
  python/djust/websocket.py
Due: npm-test, pytest

fix: resolve 25 CodeQL alerts (unused code, empty except, no-effect statements)
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/mixins/context.py
  python/djust/scaffolding/generator.py
  python/djust/schema.py
  python/djust/state_backends/base.py
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/14-utils.js
  python/djust/tenants/resolvers.py
Due: npm-test, pytest

fix: resolve 25 CodeQL alerts (unused code, empty except, no-effect statements) (#599)
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/mixins/context.py
  python/djust/scaffolding/generator.py
  python/djust/schema.py
  python/djust/state_backends/base.py
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/14-utils.js
  python/djust/tenants/resolvers.py
Due: npm-test, pytest

fix: resolve 30 CodeQL alerts (unused imports, empty except, no-effect, mixed returns)
  python/djust/__init__.py
  python/djust/backends/base.py
  python/djust/backends/redis.py
  python/djust/components/ui/tabs_simple.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/optimization/cache.py
  python/djust/performance.py
  python/djust/state_backends/base.py
  python/djust/state_backends/redis.py
  python/djust/uploads.py
  python/djust/websocket.py
Due: pytest

fix: resolve 30 CodeQL alerts (unused imports, empty except, no-effect, mixed returns) (#600)
  python/djust/__init__.py
  python/djust/backends/base.py
  python/djust/backends/redis.py
  python/djust/components/ui/tabs_simple.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/optimization/cache.py
  python/djust/performance.py
  python/djust/state_backends/base.py
  python/djust/state_backends/redis.py
  python/djust/uploads.py
  python/djust/websocket.py
Due: pytest

fix: resolve 3 CodeQL unused-import alerts on availability checks
  python/djust/mixins/context.py
  python/djust/state_backends/base.py
Due: pytest

fix: resolve 3 CodeQL unused-import alerts on availability checks (#601)
  python/djust/mixins/context.py
  python/djust/state_backends/base.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
