Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

Add per-IP connection limit and reconnection cooldown (#108)
  python/djust/config.py
  python/djust/rate_limit.py
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Update docs for per-IP connection limit and reconnection cooldown
  CHANGELOG.md
  docs/EVENT_HANDLERS.md
  docs/SECURITY_GUIDELINES.md
Due: none

Release v0.2.1a1: WebSocket security hardening
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

Document @event decorator requirement and add to all example handlers (#105)
  MIGRATION.md
  examples/demo_project/djust_demos/views/component_demo.py
  examples/demo_project/djust_demos/views/component_showcase.py
  examples/demo_project/djust_demos/views/components_demo.py
  examples/demo_project/djust_demos/views/components_only_demo.py
  examples/demo_project/djust_demos/views/counter_demo.py
  examples/demo_project/djust_demos/views/demos.py
  examples/demo_project/djust_demos/views/dropdown_demo.py
  examples/demo_project/djust_demos/views/kitchen_sink.py
  examples/demo_project/djust_demos/views/no_template_demo.py
  examples/demo_project/djust_demos/views/rust_components_demo.py
  examples/demo_project/djust_demos/views/smart_dashboard.py
  examples/demo_project/djust_demos/views/throttle_demo.py
Due: pytest

Fix broken imports: move @event import outside multi-line import blocks
  examples/demo_project/djust_demos/views/component_showcase.py
  examples/demo_project/djust_demos/views/components_only_demo.py
  examples/demo_project/djust_demos/views/dropdown_demo.py
  examples/demo_project/djust_demos/views/kitchen_sink.py
  examples/demo_project/djust_demos/views/no_template_demo.py
Due: pytest

Remove @event from LiveComponent.update() lifecycle methods
  examples/demo_project/djust_demos/views/component_demo.py
Due: pytest

Release v0.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Split state_backend.py into state_backends package
  python/djust/state_backends/__init__.py
  python/djust/state_backends/base.py
  python/djust/state_backends/memory.py
  python/djust/state_backends/redis.py
  python/djust/state_backends/registry.py
Due: pytest

Extract session_utils.py from live_view.py
  python/djust/session_utils.py
Due: pytest

Update state_backend.py to backward-compat shim
  python/djust/state_backend.py
Due: pytest

Split debug-panel.js into source modules
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/01-panel-ui.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/06-tab-components.js
  python/djust/static/djust/src/debug/07-tab-state.js
  python/djust/static/djust/src/debug/08-tab-handlers.js
  python/djust/static/djust/src/debug/09-tab-variables.js
  python/djust/static/djust/src/debug/10-logging.js
  python/djust/static/djust/src/debug/11-integration.js
  python/djust/static/djust/src/debug/12-performance.js
  python/djust/static/djust/src/debug/13-warnings.js
  python/djust/static/djust/src/debug/14-utils.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  scripts/build-client.sh
Due: npm-test

Split client.js into source modules with concat build
  Makefile
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/05-state-bus.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/07-form-data.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/10-loading-states.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/14-init.js
Due: npm-test

Extract session_utils.py from live_view.py
  python/djust/live_view.py
  python/djust/session_utils.py
Due: pytest

Fix debug module boundaries for end-of-file-fixer compatibility
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/01-panel-ui.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/03-tab-events.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/05-tab-patches.js
  python/djust/static/djust/src/debug/06-tab-components.js
  python/djust/static/djust/src/debug/07-tab-state.js
  python/djust/static/djust/src/debug/08-tab-handlers.js
  python/djust/static/djust/src/debug/09-tab-variables.js
  python/djust/static/djust/src/debug/12-performance.js
  python/djust/static/djust/src/debug/13-warnings.js
  python/djust/static/djust/src/debug/14-utils.js
Due: npm-test

Extract serialization.py from live_view.py
  python/djust/live_view.py
  python/djust/serialization.py
Due: pytest

Extract websocket_utils.py from websocket.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
  tests/unit/test_event_security.py
Due: pytest

Split template_backend.py into template package
  python/djust/template/__init__.py
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/djust/template_backend.py
Due: pytest

Re-export _check_event_security and _ensure_handler_rate_limit
  python/djust/websocket.py
Due: pytest

Extract LiveView mixins from live_view.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/handlers.py
  python/djust/mixins/jit.py
  python/djust/mixins/post_processing.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/streams.py
  python/djust/mixins/template.py
Due: pytest

Fix CodeQL unused import warning in state backend base module
  python/djust/state_backends/base.py
Due: pytest

Fix CodeQL warnings: remove unused imports and variables
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
Due: pytest

Fix CodeQL unused import warnings for backward-compat re-exports
  python/djust/live_view.py
Due: pytest

Add standalone auto_optimize() and annotate_counts() query helpers
  python/djust/optimization/__init__.py
  python/djust/optimization/query_optimizer.py
Due: pytest

Fix JIT serialization pipeline for M2M, nested dicts, and @property
  Cargo.lock
  crates/djust_templates/src/parser.rs
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
  python/djust/serialization.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Add JIT fix tests and performance optimizations
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/djust/serialization.py
  python/tests/test_codegen.py
  python/tests/test_jit_fixes.py
Due: pytest

Eliminate redundant queries: annotations, list[Model] re-fetch, property cache
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/optimization/query_optimizer.py
  python/djust/serialization.py
  python/tests/test_jit_fixes.py
  tests/test_query_optimizer.py
Due: pytest

Use codegen for list[Model] serialization, resolve template includes
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/tests/test_list_model_codegen.py
Due: pytest

Deprecate @event alias in favor of @event_handler
  AGENTS.md
  examples/demo_project/djust_demos/views/component_demo.py
  examples/demo_project/djust_demos/views/component_showcase.py
  examples/demo_project/djust_demos/views/components_demo.py
  examples/demo_project/djust_demos/views/components_only_demo.py
  examples/demo_project/djust_demos/views/counter_demo.py
  examples/demo_project/djust_demos/views/demos.py
  examples/demo_project/djust_demos/views/dropdown_demo.py
  examples/demo_project/djust_demos/views/kitchen_sink.py
  examples/demo_project/djust_demos/views/no_template_demo.py
  examples/demo_project/djust_demos/views/rust_components_demo.py
  examples/demo_project/djust_demos/views/smart_dashboard.py
  examples/demo_project/djust_demos/views/throttle_demo.py
  python/djust/decorators.py
  python/djust/tests/test_decorators.py
Due: pytest

Fix data-djust-replace not removing old children (#142)
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  python/djust/static/djust/client.js
  python/tests/test_vdom_replace.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

Resolve review findings: fix small-batch path, drop Cargo.lock noise
  Cargo.lock
  python/djust/static/djust/client.js
Due: npm-test

Document sort stability assumption and belt-and-suspenders rationale
  python/djust/static/djust/client.js
Due: npm-test

Fix data-djust-replace inserting children into wrong sibling parent
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  python/djust/static/djust/client.js
  python/tests/test_vdom_replace.py
  tests/js/patch_grouping.test.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

Address review: update docs/tests to use @event_handler, remove AGENTS.md
  AGENTS.md
  CHANGELOG.md
  MIGRATION.md
  ROADMAP.md
  docs/EVENT_HANDLERS.md
  docs/SECURITY_GUIDELINES.md
  python/djust/config.py
  python/djust/decorators.py
  python/djust/security/event_guard.py
  python/djust/websocket_utils.py
  tests/unit/test_event_security.py
Due: pytest

Fix view context precedence over context processors
  python/djust/mixins/context.py
  uv.lock
Due: pytest

Address PR #140 review findings
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
Due: pytest

Address PR #140 review findings (round 2)
  python/djust/mixins/jit.py
  python/djust/mixins/request.py
Due: pytest

Add explanatory comments to empty except clauses, update docs
  CHANGELOG.md
  docs/JIT_SERIALIZATION_PATTERN.md
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
  python/djust/serialization.py
Due: pytest

Release v0.2.2rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
Due: pytest
