Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

security: add type validation for LiveView mounting
  python/djust/websocket.py
  python/tests/test_security_mount_validation.py
Due: pytest

feat: add CSS framework support foundation
  docs/guides/css-frameworks.md
  python/djust/checks_css_proposal.py
  python/djust/management/commands/djust_setup_css.py
  python/djust/mixins/css_processing.py
Due: pytest

feat: integrate CSS framework checks and add tests
  python/djust/checks.py
  python/djust/mixins/css_processing.py
  python/tests/test_checks.py
Due: pytest

security: address CodeQL alerts in CSS framework checks
  python/djust/checks.py
  python/djust/checks_css_proposal.py
Due: pytest

security: establish pre-release security audit process
  .github/SECURITY_AUDIT_TEMPLATE.md
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/security-hotspot-check.yml
  .github/workflows/test.yml
  SECURITY_AUDIT.md
  SECURITY_FINDINGS.md
  crates/djust_templates/tests/test_xss_prevention.rs
  docs/PULL_REQUEST_CHECKLIST.md
  docs/SECURITY_GUIDELINES.md
  tests/unit/test_security_parameters.py
  tests/unit/test_security_uploads.py
  tests/unit/test_security_url_injection.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: update CHANGELOG.md with security audit process
  CHANGELOG.md
Due: none

fix: adjust security test coverage requirements
  .github/workflows/test.yml
Due: none

fix: auto-infer dj-root from dj-view on server side
  python/djust/checks.py
  python/djust/mixins/template.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
Due: npm-test, pytest

test: update T002 tests to expect DjustInfo and new message
  CHANGELOG.md
  python/tests/test_checks.py
Due: pytest

feat: add dj-confirm attribute (#302)
  examples/dj_confirm_demo.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-confirm.test.js
Due: npm-test, pytest

chore: bump version to 0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
Due: pytest

feat: re-add static_assigns for render optimization
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/mixins/rust_bridge.py
  python/djust/websocket.py
  python/tests/test_static_assigns.py
Due: pytest

perf: optimize get_context_data and VDOM diff for large pages
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/diff.rs
  python/djust/mixins/context.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore: bump version to 0.3.1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

chore: update uv.lock for 0.3.1
  uv.lock
Due: none

fix: strip client-only properties from params before sending to server
  python/djust/static/djust/client.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/dj-poll.test.js
  tests/js/strip_internal_params.test.js
Due: npm-test

fix: remove unused variable extractions and add CHANGELOG entry
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/11-event-handler.js
Due: npm-test

docs: add comprehensive Forms & Validation guide
  docs/website/guides/forms.md
Due: none

docs: rewrite forms guide to match manifesto principles
  docs/website/guides/forms.md
Due: none

refactor: deduplicate form adapters, fix XSS and dj-change syntax
  python/djust/__init__.py
  python/djust/forms.py
  python/djust/frameworks.py
  tests/unit/test_forms.py
  tests/unit/test_frameworks.py
Due: pytest

test: fix unused variable CodeQL warning in deprecation test
  tests/unit/test_forms.py
Due: pytest

docs: update CHANGELOG for forms refactor (#310)
  CHANGELOG.md
Due: none

chore: bump version to 0.3.2rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: dj-submit forms send empty params when created by VDOM patches
  python/djust/static/djust/client.js
  tests/js/dj-copy.test.js
  tests/js/dj-poll.test.js
  tests/js/dj-submit.test.js
  tests/js/double_bind.test.js
  tests/js/extractTypedParams.test.js
  tests/js/morph.test.js
Due: npm-test

docs: add CHANGELOG entry for dj-submit VDOM fix (#312)
  CHANGELOG.md
Due: none

docs: add loading states guide and document start_async, dj-loading.for
  docs/ai/components.md
  docs/ai/loading-states.md
  docs/state-management/LOADING_ATTRIBUTE_IMPROVEMENTS.md
  docs/website/guides/components.md
  docs/website/guides/loading-states.md
Due: none

feat: async_pending loading state for start_async() background work
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/10-loading-states.js
  python/djust/websocket.py
Due: npm-test, pytest

fix: address PR #314 review findings
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/tests/test_async_work.py
  python/djust/websocket.py
  tests/js/loading-states.test.js
Due: npm-test, pytest

fix: correct live_session() regex extraction for path() patterns
  python/djust/routing.py
Due: pytest

feat: add test_fuzz_handlers_succeed to detect handler exceptions
  IMPLEMENTATION_SUMMARY.md
  docs/HANDLER_EXCEPTION_DETECTION.md
  python/djust/testing.py
  python/tests/test_smoke_test.py
Due: pytest

docs: add comprehensive testing guide
  README.md
  docs/TESTING.md
Due: none

fix: mark VDOM-created elements as bound to prevent double-binding
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
Due: npm-test

test: add comprehensive XSS security tests for Component.render()
  python/djust/components/tests/__init__.py
  python/djust/components/tests/test_component_security.py
Due: pytest

security: fix XSS vulnerabilities in mark_safe(f"...") usage
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  examples/demo_project/djust_rentals/components/data_table.py
  examples/demo_project/djust_rentals/components/page_header.py
  examples/demo_project/djust_rentals/components/stat_card.py
  examples/demo_project/djust_rentals/components/status_badge.py
  examples/demo_project/djust_rentals/components/tests/__init__.py
  examples/demo_project/djust_rentals/components/tests/test_component_security.py
  python/djust/components/base.py
  python/djust/template/rendering.py
  python/tests/test_navigation.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security: fix mark_safe(f"...") XSS risks in components
  examples/demo_project/djust_rentals/components/data_table.py
  examples/demo_project/djust_rentals/components/page_header.py
  examples/demo_project/djust_rentals/components/stat_card.py
  examples/demo_project/djust_rentals/components/status_badge.py
  python/djust/components/base.py
  python/tests/test_components_security.py
Due: pytest

docs: expand navigation patterns anti-patterns in README
  README.md
Due: none

docs: add navigation anti-pattern warnings to guide docs
  docs/guides/navigation.md
  docs/website/guides/navigation.md
Due: none

chore: update Cargo.lock for v0.3.2-rc.1 release candidate
  Cargo.lock
Due: none

feat: add type stubs for LiveView and mixins
  CHANGELOG.md
  python/djust/live_view.pyi
  python/djust/mixins/navigation.pyi
  python/djust/mixins/push_events.pyi
  python/djust/mixins/streams.pyi
  python/djust/py.typed
  python/djust/streaming.pyi
  python/tests/test_type_stubs.py
Due: pytest

docs: fix quickstart critical errors and document issues found
  docs/guides/QUICKSTART.md
  docs/guides/QUICKSTART_ISSUES.md
Due: none
