Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: use default timezone for naive datetime formatting
  README.md
  changelog.d/template-naive-timezone.fixed.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/registry.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template_libraries.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_naive_datetime_timezone.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: honor local bindings in model sidecar lookups
  changelog.d/template-model-shadowing.fixed.md
  crates/djust_core/src/context.rs
  python/tests/test_model_sidecar_shadowing.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve typed regroup rows and named tuple results
  README.md
  changelog.d/template-regroup-typed-values.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_core/tests/test_named_tuple_codec.rs
  crates/djust_core/tests/test_none_missing_codec_2484.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_tags/regroup.py
  python/tests/test_namedtuple_template_values.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
  python/tests/test_regroup_typed_values.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
  python/tests/test_small_grammar_gaps_2580.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: traverse nested containers for template block overrides
  changelog.d/inheritance-container-traversal.fixed.md
  crates/djust_templates/src/inheritance.rs
  python/tests/test_inheritance_nested_containers.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: enforce datetime localization parity across filter branches
  python/tests/test_filter_arm_parity_2399_2401_2403.py
  python/tests/test_nullary_autocall_2485.py
Due: pytest

fix: match Django block parser diagnostics
  README.md
  changelog.d/parser-expected-terminators.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_parser_expected_terminators.py
  python/tests/test_template_debug_2557.py
  scripts/django-template-suite-baseline.json
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: retain protected model objects for backend template lookups
  README.md
  changelog.d/template-model-sidecar.fixed.md
  crates/djust_live/src/lib.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/rendering.py
  python/tests/test_backend_model_sidecar.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django block tag validation order
  README.md
  changelog.d/template-block-validation-order.fixed.md
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_libraries.py
  python/tests/test_block_tag_validation_order.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: carry resolved SafeString markers through template expressions
  changelog.d/template-resolved-safe-values.fixed.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_int_value_chokepoint_2435.py
  python/tests/test_mark_item_dead_branch_2337.py
  python/tests/test_regroup_non_iterable_2463.py
  python/tests/test_regroup_string_source_2385_2394.py
  python/tests/test_resolved_safe_string.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: require Django parity for safe object rendering
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_object_attribute_resolution_2501.py
Due: pytest

fix: preserve safe join separator arguments
  README.md
  changelog.d/template-safe-separator.fixed.md
  crates/djust_templates/src/filters.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_join_safe_separator.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve Django missing-template origin metadata
  README.md
  changelog.d/template-missing-origins.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/tests/test_missing_template_metadata.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: isolate ifchanged state across included template origins
  changelog.d/ifchanged-include-isolation.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_ifchanged_include_isolation.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: support compiled template operands and runtime source locations
  README.md
  changelog.d/template-runtime-objects.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/operands.py
  python/djust/template/rendering.py
  python/tests/test_compiled_template_operands.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_template_runtime_locations.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: follow template origin history during inheritance
  README.md
  changelog.d/template-loader-history.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_templates/src/inheritance.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/tests/test_template_loader_history.py
  scripts/django-template-suite-baseline.json
  scripts/lib/django_template_suite/adapter.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: resolve relative includes and template candidates like Django
  README.md
  changelog.d/relative-template-includes.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/rendering.py
  python/tests/test_include_candidate_parity.py
  python/tests/test_relative_include_parity.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: cover include candidate errors in shared type-name guard
  python/tests/test_sequence_op_chokepoint_2451.py
Due: pytest

fix: honor Django engine and context autoescape settings
  README.md
  changelog.d/engine-autoescape.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_engine_autoescape_parity.py
  python/tests/test_string_if_invalid_2517.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: retain source locations for loaded template compiler errors
  README.md
  changelog.d/loaded-template-debug-origin.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_templates/src/inheritance.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/tests/test_loaded_template_debug_origin.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: close template behavior gaps and document compatibility boundaries
  README.md
  changelog.d/template-compatibility-boundaries.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/djust/template/rendering.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_remaining_template_compatibility.py
  scripts/django-template-suite-baseline.json
  scripts/lib/django_template_suite/adapter.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: resolve template compatibility CI regressions
  changelog.d/template-ci-regressions.fixed.md
  examples/demo_project/djust_demos/templates/demos/browser_smoke.html
  python/djust/mixins/template.py
  python/djust/tests/test_render_full_template_djroot_substring_1746.py
  python/tests/test_date_time_locale_formats.py
  python/tests/test_django_template_suite_2517.py
Due: pytest

test: verify rendered inheritance shell instead of flattened source
  tests/integration/test_extends_head_initial_get_1801.py
Due: pytest

test: assert rendered LiveView shell in inheritance unit test
  tests/unit/test_live_view.py
Due: pytest

docs: teach dj-root alone as the root attribute; drop the false "both are required"
  QUICKSTART.md
  README.md
  changelog.d/2631.documentation.md
  docs/website/advanced/vdom-architecture.md
  docs/website/core-concepts/templates.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/reconnection.md
  docs/website/guides/sticky-liveviews.md
  docs/website/guides/template-cheatsheet.md
  docs/website/guides/tutorials.md
  docs/website/guides/wizards.md
Due: none

docs: teach dj-root alone as the root attribute; drop the false "both are required" (#2666)
  QUICKSTART.md
  README.md
  changelog.d/2631.documentation.md
  docs/website/advanced/vdom-architecture.md
  docs/website/core-concepts/templates.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/reconnection.md
  docs/website/guides/sticky-liveviews.md
  docs/website/guides/template-cheatsheet.md
  docs/website/guides/tutorials.md
  docs/website/guides/wizards.md
Due: none

chore(format): ruff-format 15 stale test files and add the missing trailing newline
  docs/DEBUG_PANEL_VISION.md
  python/tests/benchmark_serializer.py
  python/tests/test_boundfield_rendering.py
  python/tests/test_debug_panel.py
  python/tests/test_docs_completeness.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_http_fallback_auth.py
  python/tests/test_liveview_type_stubs.py
  python/tests/test_rapid_input_events.py
  python/tests/test_regression_395_396_397.py
  python/tests/test_regression_397.py
  python/tests/test_smoke_test.py
  python/tests/test_timing_metadata_gating.py
  python/tests/test_vdom_replace.py
  python/tests/test_vdom_torture.py
  python/tests/test_wait_for_event.py
Due: pytest

chore(ci): least-privilege permissions block; drop archived actions-rs/toolchain
  .github/workflows/test.yml
Due: none

chore(test): exclude the .django-src Django checkout from vitest discovery
  vitest.config.js
Due: npm-test

test(streaming): replace sleep-then-count batching asserts with ordering invariants
  python/tests/test_streaming.py
Due: pytest

fix(checks): pin the hand-written tag/filter support copies to the engine
  docs/system-checks.md
  python/djust/checks/templates.py
  python/djust/template_filters.py
  python/tests/test_checks.py
  tests/test_generate_template_backend_lists.py
Due: pytest

refactor(startup): warm the filter bridge without importing djust.mixins
  python/djust/apps.py
  python/djust/mixins/rust_bridge.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/test_isolation.py
  python/djust/tests/test_auto_hot_reload.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_unknown_filter_parse_time_2419.py
Due: pytest

fix(hot-reload): defer the djust.websocket import to the change event, gated on channels
  python/djust/__init__.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

docs: changelog fragment for the tech-debt batch (#2524, #2523, #2637, #2625, #2540, #2566, #2565)
  changelog.d/techdebt-batch-2524-2523-2637-2625-2540-2566-2565.changed.md
Due: none

test: ifchanged is no longer an unsupported tag (stale pin caught by the pre-push suite)
  python/tests/test_filtered_operands_and_slice_2325_2326.py
Due: pytest

fix(templates): typed literal fallbacks, one-shot iterators in {% for %}, dj-if loop path off the context, safe_join containment, {% static var %} (#2571, #2613, #2529, #2660)
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_forloop_parity_2402.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_template_semantics_2571_2613_2529_2660.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore: tech-debt batch — #2524 #2523 #2637 #2625 #2540 #2566 #2565 (#2671)
  .github/workflows/test.yml
  changelog.d/techdebt-batch-2524-2523-2637-2625-2540-2566-2565.changed.md
  docs/DEBUG_PANEL_VISION.md
  docs/system-checks.md
  python/djust/__init__.py
  python/djust/apps.py
  python/djust/checks/templates.py
  python/djust/mixins/rust_bridge.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/test_isolation.py
  python/djust/tests/test_auto_hot_reload.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/benchmark_serializer.py
  python/tests/test_boundfield_rendering.py
  python/tests/test_checks.py
  python/tests/test_debug_panel.py
  python/tests/test_docs_completeness.py
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_get_digit_returns_an_int_2459.py
  python/tests/test_http_fallback_auth.py
  python/tests/test_liveview_type_stubs.py
  python/tests/test_rapid_input_events.py
  python/tests/test_regression_395_396_397.py
  python/tests/test_regression_397.py
  python/tests/test_smoke_test.py
  python/tests/test_streaming.py
  python/tests/test_timing_metadata_gating.py
  python/tests/test_unknown_filter_parse_time_2419.py
  python/tests/test_vdom_replace.py
  python/tests/test_vdom_torture.py
  python/tests/test_wait_for_event.py
  tests/test_generate_template_backend_lists.py
  vitest.config.js
Due: npm-test, pytest

docs: changelog fragments for #2571, #2613, #2529, #2660
  changelog.d/2529.security.md
  changelog.d/2571-2613-2529-2660.fixed.md
Due: none

fix(templates): make the generation gate actually hit for {% load %} templates; cover filters
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  python/djust/_rust.pyi
  python/djust/template_libraries.py
  python/tests/test_template_cache_generation_2668.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): {% load x from lib %} must not re-bridge on every parse
  python/djust/template_libraries.py
  python/tests/test_template_cache_generation_2668.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
