Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(csrf): find head/body boundaries on a raw-text-masked copy
  python/djust/mixins/post_processing.py
  python/djust/security/csrf.py
  python/djust/tests/test_csrf_socket_render_2998.py
  tests/unit/test_csrf_meta_injection.py
Due: pytest

docs: changelog fragments and security guide note for #2998 / #2987
  changelog.d/2987.fixed.md
  changelog.d/2998.fixed.md
  docs/website/advanced/security.md
Due: none

fix(components): address review of #3016 (DjustHooks, CodeBlock ids, ribbon/scaffold labels)
  python/djust/components/components/code_block.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/countdown.js
  python/djust/components/static/djust_components/infinite-scroll.js
  python/djust/components/static/djust_components/markdown-textarea.js
  python/djust/components/static/djust_components/scroll-spy.js
  python/djust/components/tests/test_components_css_2996_2993_3008.py
  python/djust/theming/static/djust_theming/css/scaffold.css
  tests/js/component_script_hooks_2985.test.js
Due: npm-test, pytest

docs(changelog): update v1.2.1-12 fragments for the review fixes
  changelog.d/2985.fixed.md
  changelog.d/2996.fixed.md
  changelog.d/3008.fixed.md
Due: none

fix(csrf): keep the head/body tag scan linear when tags lack a ">"
  python/djust/mixins/post_processing.py
  tests/unit/test_csrf_meta_injection.py
Due: pytest

fix(components): CodeBlock copy, theme-paired labels, star contrast, hook warnings (v1.2.1-12) (#3016)
  changelog.d/2985.fixed.md
  changelog.d/2993.documentation.md
  changelog.d/2996.fixed.md
  changelog.d/3008.fixed.md
  docs/website/guides/components.md
  python/djust/components/components/alert.py
  python/djust/components/components/avatar.py
  python/djust/components/components/code_block.py
  python/djust/components/components/progress.py
  python/djust/components/static/djust_components/components-classes.css
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/countdown.js
  python/djust/components/static/djust_components/infinite-scroll.js
  python/djust/components/static/djust_components/markdown-textarea.js
  python/djust/components/static/djust_components/scroll-spy.js
  python/djust/components/tests/test_components_css_2996_2993_3008.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/static/djust_theming/css/scaffold.css
  python/djust/theming/templates/djust_theming/catalogue/detail.html
  tests/js/component_script_hooks_2985.test.js
Due: npm-test, pytest

fix(template): detect dj-root/dj-view on any element and however it is written (#2981, #2892)
  crates/djust_live/src/lib.rs
  python/djust/checks/components.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  python/djust/tests/test_root_detection_2892_2981.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(csrf): socket-rendered {% csrf_token %} matches the browser cookie; inject into the real <head> (#2998, #2987) (#3017)
  changelog.d/2987.fixed.md
  changelog.d/2998.fixed.md
  docs/website/advanced/security.md
  python/djust/mixins/post_processing.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/security/csrf.py
  python/djust/tests/test_csrf_socket_render_2998.py
  python/djust/websocket.py
  tests/unit/test_csrf_meta_injection.py
  tests/unit/test_sticky_preserve.py
Due: pytest

fix(template): keep V012 import lazy, guard __module__ read, repoint the masked-walk pin (#2892)
  python/djust/checks/components.py
  python/djust/mixins/template.py
  python/tests/test_find_closing_div_pos.py
Due: pytest

docs: dj-root may sit on any element inside <body>; changelog fragments (#2981, #2892)
  changelog.d/2892.fixed.md
  changelog.d/2981.fixed.md
  docs/system-checks.md
  docs/website/guides/template-requirements.md
Due: none

fix(templates): serialise React component props as encoded JSON
  changelog.d/react-props-json.fixed.md
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/post_processing.py
  python/djust/react.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/tests/test_react_props_serialization.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

docs(readme): simplify the README to what a newcomer needs
  README.md
Due: none

fix(template): root detection is quote-aware, so the dj-view stamp can't land in a value (#2981)
  crates/djust_live/src/lib.rs
  python/djust/checks/security.py
  python/djust/checks/templates.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  python/djust/testing.py
  python/djust/tests/test_root_detection_2892_2981.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: 2981 fragment — drop the placeholder claim, note value-text is ignored
  changelog.d/2981.fixed.md
Due: none

fix(websocket): server-originated turns and tick lifecycle (#3000, #2945, #3001, #2955, #2963)
  python/djust/mixins/async_work.py
  python/djust/runtime.py
  python/djust/tests/test_async_pending_flag_2963.py
  python/djust/tests/test_server_push_deferred_3001.py
  python/djust/tests/test_server_turn_start_async_2955.py
  python/djust/tests/test_tick_slow_mount_2945.py
  python/djust/tests/test_ws_zombie_session_3000.py
  python/djust/websocket.py
  tests/js/async_pending_ws_lifecycle_2963.test.js
  tests/unit/test_event_sequencing.py
Due: npm-test, pytest

fix(templates): serialise React component props as encoded JSON (#3021)
  changelog.d/react-props-json.fixed.md
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/post_processing.py
  python/djust/react.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/tests/test_react_props_serialization.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(websocket): coalesce deferred pushes, pin the tick to its own view (#3001, #2945, #3000)
  python/djust/runtime.py
  python/djust/tests/test_live_redirect_skip_render_1643.py
  python/djust/tests/test_server_push_deferred_3001.py
  python/djust/tests/test_server_turn_start_async_2955.py
  python/djust/tests/test_tick_slow_mount_2945.py
  python/djust/tests/test_ws_zombie_session_3000.py
  python/djust/websocket.py
  tests/unit/test_arm_recovery_helper_1645.py
Due: pytest

docs(readme): simplify the README to what a newcomer needs (#3022)
  README.md
Due: none

docs: server turns and tick lifecycle fixes (#3000, #2945, #3001, #2955, #2963)
  changelog.d/2945.fixed.md
  changelog.d/2955.fixed.md
  changelog.d/2963.fixed.md
  changelog.d/3000.fixed.md
  changelog.d/3001.fixed.md
  docs/server-push.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/guides/loading-states.md
Due: none

fix(templates): serialise React component props as encoded JSON
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/post_processing.py
  python/djust/react.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/tests/test_react_props_serialization.py
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(template): root patterns assert the tag closes first, so an unclosed tag is linear (#2892)
  python/djust/mixins/template.py
Due: pytest

test(js): ignore undici setTypeOfService EINVAL in vitest's unhandled-error filter
  vitest.config.js
Due: npm-test

test(js): ignore undici setTypeOfService EINVAL in vitest's unhandled-error filter (#3029)
  vitest.config.js
Due: npm-test

test: pin the unclosed-many-attributes ReDoS shape (#2892)
  python/djust/tests/test_root_detection_2892_2981.py
Due: pytest

fix(templates): serialise React component props as encoded JSON (1.1 backport of #3021) (#3032)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/post_processing.py
  python/djust/react.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/tests/test_react_props_serialization.py
  vitest.config.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(template): detect dj-root/dj-view on any element and however it is written (#2981, #2892) (#3023)
  changelog.d/2892.fixed.md
  changelog.d/2981.fixed.md
  crates/djust_live/src/lib.rs
  docs/system-checks.md
  docs/website/guides/template-requirements.md
  python/djust/checks/components.py
  python/djust/checks/security.py
  python/djust/checks/templates.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  python/djust/testing.py
  python/djust/tests/test_root_detection_2892_2981.py
  python/tests/test_find_closing_div_pos.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(retro): v1.2.1-3 dj-root/dj-view detection retro; mark the bucket's rows shipped
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): v1.2.1-3 dj-root/dj-view detection retro; mark the bucket's rows shipped (#3033)
  RETRO.md
  ROADMAP.md
Due: none

fix(runtime): listen() in mount joins NOTIFY, component skip_render, cancel_async_all, sticky kwargs warning, SQL capture in sync handlers (#2962, #2924, #2969, #2919, #2961)
  python/djust/live_view.py
  python/djust/mixins/async_work.py
  python/djust/observability/sql.py
  python/djust/runtime.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_runtime_lifecycle_v121_5.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

fix(websocket): address Code Review on #3035 (cancel settle, one render per push backlog, disconnect gap)
  changelog.d/2963.fixed.md
  changelog.d/3001.fixed.md
  docs/server-push.md
  docs/website/advanced/server-push.md
  python/djust/tests/test_async_pending_flag_2963.py
  python/djust/tests/test_server_push_deferred_3001.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/tests/test_ws_zombie_session_3000.py
  python/djust/websocket.py
Due: pytest

fix(realtime): ping refreshes presence, V004 skips push-only handle_*, schema drops phantom hooks, rate_limit documents 4429 (#2968, #3002, #3003, #3007)
  python/djust/checks/components.py
  python/djust/decorators.py
  python/djust/schema.py
  python/djust/tests/test_check_liveviews_urlconf_order_2559.py
  python/djust/tests/test_realtime_v121_6.py
  python/djust/websocket.py
  python/tests/test_checks.py
Due: pytest

fix(client): page-loading bar finishes, patched draft clears apply, snapshot keys carry the query, stream limit caps rows, dj-track-static sees deploys (#2965, #2971, #2949, #2964, #2966)
  docs/state-management/STATE_MANAGEMENT_TUTORIAL.md
  python/djust/drafts.py
  python/djust/mixins/streams.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/26-js-commands.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/static/djust/src/46-state-snapshot.js
  python/djust/tests/test_client_behaviour_v121_10.py
  tests/js/client-behaviour-v121-10.test.js
Due: npm-test, pytest

fix(websocket): re-check the view before every batched push hook (#3001)
  python/djust/websocket.py
Due: pytest

fix(uploads,pwa): resumable uploads survive a WebSocket drop, registered sync handlers run, generate_sw takes --sw-version (#2972, #2957, #2967)
  python/djust/management/commands/generate_sw.py
  python/djust/pwa/sync.py
  python/djust/tests/test_resumable_uploads_821.py
  python/djust/tests/test_upload_resume_owner_session.py
  python/djust/tests/test_uploads_v121_11.py
  python/djust/uploads/__init__.py
  python/djust/uploads/resumable.py
  python/djust/websocket.py
  tests/unit/test_pwa.py
Due: pytest

fix(websocket): server-originated turns and tick lifecycle (v1.2.1-2: #3000, #2945, #3001, #2955, #2963) (#3035)
  changelog.d/2945.fixed.md
  changelog.d/2955.fixed.md
  changelog.d/2963.fixed.md
  changelog.d/3000.fixed.md
  changelog.d/3001.fixed.md
  docs/server-push.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/guides/loading-states.md
  python/djust/mixins/async_work.py
  python/djust/runtime.py
  python/djust/tests/test_async_pending_flag_2963.py
  python/djust/tests/test_live_redirect_skip_render_1643.py
  python/djust/tests/test_server_push_deferred_3001.py
  python/djust/tests/test_server_turn_start_async_2955.py
  python/djust/tests/test_tick_slow_mount_2945.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/tests/test_ws_zombie_session_3000.py
  python/djust/websocket.py
  tests/js/async_pending_ws_lifecycle_2963.test.js
  tests/unit/test_arm_recovery_helper_1645.py
  tests/unit/test_event_sequencing.py
Due: npm-test, pytest

docs(retro): v1.2.1-2 server turns and tick lifecycle retro; mark the bucket's rows shipped
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): v1.2.1-2 server turns and tick lifecycle retro; mark the bucket's rows shipped (#3037)
  RETRO.md
  ROADMAP.md
Due: none

fix: address Self-Review and Security Check findings; move #2966 to 1.3
  python/djust/drafts.py
  python/djust/mixins/async_work.py
  python/djust/pwa/sync.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_behaviour_v121_10.py
  python/djust/tests/test_runtime_lifecycle_v121_5.py
  python/djust/tests/test_uploads_v121_11.py
  python/djust/uploads/__init__.py
  python/djust/uploads/resumable.py
  python/djust/websocket.py
  tests/js/client-behaviour-v121-10.test.js
Due: npm-test, pytest

docs: runtime and client batch (v1.2.1-5, -6, -10, -11) — guides, changelog fragments; retro entries for v1.2.1-1 and v1.2.1-12
  RETRO.md
  ROADMAP.md
  changelog.d/2919.fixed.md
  changelog.d/2924.fixed.md
  changelog.d/2949.fixed.md
  changelog.d/2957.fixed.md
  changelog.d/2961.fixed.md
  changelog.d/2962.fixed.md
  changelog.d/2964.fixed.md
  changelog.d/2965.fixed.md
  changelog.d/2967.fixed.md
  changelog.d/2968.fixed.md
  changelog.d/2969.fixed.md
  changelog.d/2971.fixed.md
  changelog.d/2972.fixed.md
  changelog.d/3002.fixed.md
  changelog.d/3003.documentation.md
  changelog.d/3007.fixed.md
  docs/state-management/STATE_MANAGEMENT_EXAMPLES.md
  docs/state-management/STATE_MANAGEMENT_PATTERNS.md
  docs/system-checks.md
  docs/website/api-reference/liveview.md
  docs/website/core-concepts/liveview.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/database-notifications.md
  docs/website/guides/error-codes.md
  docs/website/guides/js-commands.md
  docs/website/guides/large-lists.md
  docs/website/guides/mcp-server.md
  docs/website/guides/presence.md
  docs/website/guides/pwa.md
  docs/website/guides/sticky-liveviews.md
  docs/website/guides/testing.md
  docs/website/guides/uploads.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
