Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

review(hot-reload): address PR #1190 review findings
  CHANGELOG.md
  python/djust/apps.py
  python/djust/tests/test_auto_hot_reload.py
Due: pytest

feat(hot-reload): auto-enable HVR in DEBUG via DjustConfig.ready() (#1190)
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  docs/website/guides/hot-view-replacement.md
  examples/demo_project/demo_app/apps.py
  python/djust/__init__.py
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_auto_hot_reload.py
  uv.lock
Due: pytest

docs(roadmap): add v0.9.4 milestone (debug panel UI + post-rc3 polish)
  ROADMAP.md
Due: none

chore(test-infra): v0.9.4 polish — vitest filter narrow + gc.collect + perf bound
  CHANGELOG.md
  python/tests/test_template_variable_extraction.py
  tests/integration/test_chunks_overlap.py
  vitest.config.js
Due: npm-test, pytest

review(test-infra): tighten test_large_template prose accuracy
  python/tests/test_template_variable_extraction.py
Due: pytest

chore(test-infra): v0.9.4 polish — vitest filter narrow + gc.collect + perf bound (#1191)
  CHANGELOG.md
  python/tests/test_template_variable_extraction.py
  tests/integration/test_chunks_overlap.py
  vitest.config.js
Due: npm-test, pytest

docs(process): canonicalize 3 retro patterns from v0.9.x arc
  CHANGELOG.md
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

review(process): address PR #1192 review findings
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(process): canonicalize 3 retro patterns from v0.9.x arc (#1192)
  CHANGELOG.md
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

feat(time-travel): wire-protocol exposure for branched timelines + per-component scrubbing (PR-A for #1151)
  python/djust/live_view.py
  python/djust/time_travel.py
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
  tests/unit/test_time_travel.py
Due: pytest

docs(time-travel): CHANGELOG entry for #1151 PR-A wire-protocol
  CHANGELOG.md
Due: none

review(time-travel): address PR #1193 Stage 11 findings
  CHANGELOG.md
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
Due: pytest

feat(time-travel): wire-protocol exposure for branched timelines + per-component scrubbing (PR-A for #1151) (#1193)
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/time_travel.py
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
  tests/unit/test_time_travel.py
Due: pytest

feat(debug-panel): time-travel UI for branched timelines + per-component scrubber (PR-B for #1151)
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  tests/js/debug_panel_time_travel_ui.test.js
Due: npm-test

docs(debug-panel): CHANGELOG entry for #1151 PR-B (debug panel time-travel UI)
  CHANGELOG.md
Due: none

review(debug-panel): address PR #1194 Stage 11 findings
  CHANGELOG.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  tests/js/debug_panel_time_travel_ui.test.js
Due: npm-test

feat(debug-panel): time-travel UI for branched timelines + per-component scrubber (PR-B for #1151) (#1194)
  CHANGELOG.md
  python/djust/static/djust/debug-panel.css
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  tests/js/debug_panel_time_travel_ui.test.js
Due: npm-test

docs(retro): v0.9.4 milestone retrospective + Action Tracker update
  RETRO.md
Due: none

Bump version to 0.9.0rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

Bump version to 0.9.0rc4 (followup: __version__ files)
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

security: code-scanning cleanup batch (4 fixes + 15 FP dismissals)
  CHANGELOG.md
  package-lock.json
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
Due: npm-test, pytest

docs(migration): v0.9.0 upgrade notes (additive, no breaking changes)
  MIGRATION.md
Due: none

security: code-scanning cleanup batch (4 fixes + 15 FP dismissals) (#1201)
  CHANGELOG.md
  package-lock.json
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
Due: npm-test, pytest

docs(roadmap): add React 19 gap-closing items to post-1.0 backlog
  ROADMAP.md
Due: none

docs(roadmap): add Phoenix LiveView gap-closing items to post-1.0
  ROADMAP.md
Due: none

docs(roadmap): add v0.10.0 Rust polish milestone + post-1.0 Rust expansion
  ROADMAP.md
Due: none

docs(roadmap): add @djust/react bridge + JS/React ecosystem strategy (post-1.0)
  ROADMAP.md
Due: none

docs(roadmap): add Moonshots section — Path to #1 (post-1.0 strategic bets)
  ROADMAP.md
Due: none

fix(websocket): store _recovery_html after broadcast renders (#1202)
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

docs: generalize private-codebase references in public docs and code
  .pipeline-templates/README.md
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
  CHANGELOG.md
  CLAUDE.md
  IMPROVEMENTS_SUMMARY.md
  RETRO.md
  ROADMAP.md
  WORK_RECOVERY_GUIDE.md
  docs/guides/djust-audit.md
  docs/guides/error-codes.md
  python/djust/audit_ast.py
  python/djust/audit_live.py
  python/djust/permissions.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/fixtures/downstream_consumer_real_patches.json
  tests/js/tab_switch_real_repro.test.js
Due: npm-test, pytest

docs(roadmap): slim Moonshots section to technical-only
  ROADMAP.md
Due: none

fix(websocket): address review findings on #1203
  CHANGELOG.md
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

fix(websocket): store _recovery_html after broadcast renders (#1202) (#1203)
  CHANGELOG.md
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

Bump version to 0.9.0rc5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(time-travel): add forward replay, branched timelines, per-component snapshots (v0.9.0)
  docs/website/guides/time-travel-debugging.md
Due: none

docs: expand uploads guide — resumable uploads, state stores, failure modes
  docs/website/guides/uploads.md
Due: none

feat(rich-select): variant support, trigger tinting, onclick parity
  CHANGELOG.md
  python/djust/components/components/rich_select.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/templatetags/djust_components.py
  tests/unit/test_rich_select.py
Due: pytest

feat(rich-select): variant support, trigger tinting, onclick parity (#1204)
  CHANGELOG.md
  docs/website/guides/time-travel-debugging.md
  python/djust/components/components/rich_select.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/templatetags/djust_components.py
  tests/unit/test_rich_select.py
Due: pytest

docs(getting-started): polish — Rust note, dev-server warning, tutorial cross-links (#1137)
  docs/website/getting-started/core-concepts.md
  docs/website/getting-started/first-liveview.md
  docs/website/getting-started/installation.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
