Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: update CHANGELOG for text node targeting fix (#221)
  CHANGELOG.md
Due: none

feat: add mixed keyed/unkeyed interleave fuzz generator (#222)
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/fuzz_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: update CHANGELOG for mixed interleave fuzz generator (#222)
  CHANGELOG.md
Due: none

fix: resolve text node targeting after keyed moves in apply_patches (#221) (#223)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/fuzz_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: add child_d to MoveChild for ID-based client resolution (#225)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/move_child_id.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

Scope MoveChild querySelector to direct children only
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/12-vdom-patch.js
Due: npm-test

Revert client.js/debug-panel.js to main, apply only child_d change
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
Due: npm-test

fix: add child_d to MoveChild for ID-based client resolution (#226)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/move_child_id.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

fix: guard against None event_name in HTTP fallback (#227)
  python/djust/mixins/request.py
Due: pytest

Add warning log for missing event_name
  python/djust/mixins/request.py
Due: pytest

fix: guard against None event_name in HTTP fallback (#228)
  python/djust/mixins/request.py
Due: pytest

feat: add server-push API for background task → client updates (#230)
  CHANGELOG.md
  docs/server-push.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/push.py
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

fix: resolve review findings for server-push API (#230)
  python/djust/push.py
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

feat: server-push API for background task → client updates (#230) (#231)
  CHANGELOG.md
  docs/server-push.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/push.py
  python/djust/websocket.py
  tests/unit/test_server_push.py
Due: pytest

feat: add dj-hook, dj-model, and error overlay
  IMPROVEMENTS.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/model_binding.py
  python/djust/static/djust/client.js
  python/tests/test_model_binding.py
Due: npm-test, pytest

feat: implement push_event() — server-to-client JS events
  examples/demo_project/djust_demos/templates/demos/push_event_demo.html
  examples/demo_project/djust_demos/views/push_event_demo.py
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/push_events.py
  python/djust/push.py
  python/djust/static/djust/client.js
  python/djust/websocket.py
  python/tests/test_push_event.py
Due: npm-test, pytest

feat: implement file upload support (UploadMixin, binary WS frames, JS client)
  examples/upload-demo/templates/upload-demo/dragdrop.html
  examples/upload-demo/templates/upload-demo/multi.html
  examples/upload-demo/templates/upload-demo/profile.html
  examples/upload-demo/views.py
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/uploads.py
  python/tests/test_uploads.py
  uv.lock
Due: npm-test, pytest

feat: add dj-confirm, dj-transition, and dj-loading improvements
  IMPROVEMENTS.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/09b-transitions.js
  python/djust/static/djust/src/10-loading-states.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/transitions.css
  tests/js/confirm.test.js
  tests/js/loading_improvements.test.js
  tests/js/transitions.test.js
Due: npm-test

feat: Phoenix-style LiveViewTestClient with high-level testing API
  python/djust/testing.py
  python/tests/test_liveview_test_client.py
Due: pytest

Implement optimistic UI, universal debounce/throttle, and scoped updates
  IMPROVEMENTS.md
  examples/demo_project/djust_demos/demo_classes/presence.py
  examples/demo_project/djust_demos/templates/presence_demo.html
  python/djust/__init__.py
  python/djust/embedded.py
  python/djust/live_view.py
  python/djust/presence.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/16-optimistic-ui.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  python/tests/test_presence.py
  tests/js/optimistic_ui.test.js
  tests/js/scoped_updates.test.js
Due: npm-test, pytest

feat: streaming support for real-time partial DOM updates (LLM chat)
  IMPROVEMENTS.md
  examples/streaming_demo.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/streaming.py
  python/djust/websocket.py
  python/tests/test_streaming.py
Due: npm-test, pytest

feat: Implement presence tracking and live cursors system
  examples/demo_project/djust_demos/templates/live_cursor_demo.html
  python/tests/test_presence.py
Due: pytest

feat: LiveForm — standalone form validation with live inline feedback
  IMPROVEMENTS.md
  examples/live_form_demo.py
  python/djust/__init__.py
  python/djust/forms.py
  python/djust/static/djust/client.js
  python/tests/test_live_form.py
Due: npm-test, pytest

feat: Navigation & URL state — live_patch, live_redirect, handle_params
  IMPROVEMENTS.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/navigation.py
  python/djust/routing.py
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  python/tests/test_navigation.py
Due: npm-test, pytest

docs: add v0.3 changelog, migration guide, API reference, and update README
  API_REFERENCE.md
  CHANGELOG_v0.3.md
  MIGRATION_v0.2_to_v0.3.md
  README.md
Due: none

feat: support dj-value-* attribute syntax for event params
  crates/djust_vdom/src/diff.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj_value_params.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

feat: add djust.asgi.get_application() helper and startproject management command
  python/djust/asgi.py
  python/djust/management/commands/startproject.py
  python/tests/test_asgi_helper.py
Due: pytest

feat: Embedded LiveViews - full implementation with scoped rendering and tests
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/tests/test_embedded_liveviews.py
  python/djust/websocket.py
Due: npm-test, pytest

Add djust_check management command and WebSocket connection error overlay
  python/djust/management/commands/djust_check.py
  python/djust/static/djust/src/03-websocket.js
  python/djust/tests/test_djust_check.py
Due: npm-test, pytest

feat: add rate_limit_exceeded message type, client-side warning toast, and comprehensive tests
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  python/djust/websocket_utils.py
  tests/unit/test_rate_limit.py
Due: npm-test, pytest

feat: horizontal scaling support — Redis presence backend, pluggable backends, djust_check validation
  python/djust/backends/__init__.py
  python/djust/backends/base.py
  python/djust/backends/memory.py
  python/djust/backends/redis.py
  python/djust/backends/registry.py
  python/djust/docs/HORIZONTAL_SCALING.md
  python/djust/management/commands/djust_check.py
  python/djust/presence.py
  python/djust/tests/test_presence_backends.py
Due: pytest

Add Playwright smoke test framework for djust apps
  python/djust/management/commands/djust_smoke.py
  python/djust/testing/__init__.py
  python/djust/testing/__main__.py
  python/djust/testing/smoke_test.py
  python/djust/tests/test_smoke_test.py
Due: pytest

feat: auto-detect browser timezone for client-side local time rendering
  python/djust/static/djust/src/03-websocket.js
  python/djust/templatetags/djust_tz.py
  python/djust/tests/test_client_timezone.py
  python/djust/utils/__init__.py
  python/djust/utils/timezone.py
  python/djust/websocket.py
Due: npm-test, pytest

Fix all Python test failures: 1137 passing
  python/djust/testing/__init__.py
  python/djust/tests/test_djust_check.py
  python/djust/tests/test_presence_backends.py
  python/djust/tests/test_smoke_test.py
  python/djust/tests/test_template_inheritance_resolution.py
  python/tests/test_hotreload.py
  python/tests/test_navigation.py
  python/tests/test_presence.py
Due: pytest

Implement dj-hook client JS and dj-model two-way binding
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/19-hooks.js
  python/djust/static/djust/src/20-model-binding.js
Due: npm-test

Add beforeUpdate lifecycle and DjustHooks support to dj-hook
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/19-hooks.js
Due: npm-test

fix(dj-model): use params key and handleEvent for two-way data binding
  python/djust/static/djust/client.js
  python/djust/static/djust/src/20-model-binding.js
Due: npm-test

Add rich developer error overlay
  python/djust/static/djust/client.js
  python/djust/static/djust/src/21-error-overlay.js
Due: npm-test

feat(streaming): beef up JS client and add demo app
  examples/demo_project/djust_demos/demo_classes/streaming.py
  examples/demo_project/djust_demos/templates/demos/streaming_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/streaming_demo.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/streaming.py
  python/tests/test_streaming.py
Due: npm-test, pytest

Add demo apps for Navigation, LiveForm, and Uploads features
  examples/demo_project/djust_demos/templates/demos/live_form_demo.html
  examples/demo_project/djust_demos/templates/demos/navigation_demo.html
  examples/demo_project/djust_demos/templates/demos/uploads_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/live_form_demo.py
  examples/demo_project/djust_demos/views/navigation_demo.py
  examples/demo_project/djust_demos/views/uploads_demo.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
