Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(release): 1.2.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/2948.security.md
  changelog.d/2950.security.md
  changelog.d/3078.security.md
  changelog.d/3094.security.md
  changelog.d/assign-async-cancellation.fixed.md
  changelog.d/debug-panel-escape.security.md
  changelog.d/push-path-reauth.security.md
  changelog.d/reauth-fail-closed.security.md
  changelog.d/tenant-state-binding.security.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test: stop the re-auth tests leaking reauth_on_event into later tests
  python/djust/tests/test_runtime_reauth_async_1905.py
  python/djust/tests/test_server_turn_reauth.py
Due: pytest

chore(deps): bump pyjwt, urllib3 and undici to clear the release audit gate
  package-lock.json
  uv.lock
Due: none

chore(deps): bump pyjwt, urllib3 and undici to clear the release audit gate (#3361)
  package-lock.json
  uv.lock
Due: none

chore(deps): bump pyjwt, urllib3, undici, nanoid and brace-expansion in the locks
  package-lock.json
  uv.lock
Due: none

test: stop the re-auth tests leaking reauth_on_event and make the tick-throttle test deterministic
  python/djust/tests/test_runtime_reauth_async_1905.py
  python/djust/tests/test_server_turn_reauth.py
Due: pytest

chore(release): 1.1.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/2948.security.md
  changelog.d/2950.security.md
  changelog.d/3078.security.md
  changelog.d/3094.security.md
  changelog.d/debug-panel-escape.security.md
  changelog.d/push-path-reauth.security.md
  changelog.d/reauth-fail-closed.security.md
  changelog.d/tenant-state-binding.security.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test: drive server-turn ticks by hand instead of waiting on a real timer
  python/djust/tests/test_server_turn_reauth.py
Due: pytest

test: drive server-turn ticks by hand instead of waiting on a real timer (#3363)
  python/djust/tests/test_server_turn_reauth.py
Due: pytest

chore(deps): bump pyjwt, urllib3 and four high-severity npm packages; record the public index in uv.lock
  package-lock.json
  uv.lock
Due: none

test: stop the fail-closed tests leaking reauth_on_event and start server-turn ticks on demand
  python/djust/tests/test_reauth_fail_closed.py
  python/djust/tests/test_server_turn_reauth.py
Due: pytest

security: bind state snapshots to a keyed digest of the session key, not the key
  docs/SECURE_DEFAULTS.md
  python/djust/security/state_snapshot.py
  python/djust/tests/test_snapshot_token_tenant_backport.py
  python/djust/tests/test_state_snapshot_signing.py
Due: pytest

chore(release): 1.0.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test: keep the git-wrapper tests off the host repo's index
  tests/git_env.py
  tests/test_git_commit_with_precommit.py
  tests/test_run_with_venv_python.py
Due: pytest

chore: regenerate the minified source maps at the release build path
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
Due: none

test: keep tarball gitignore fixtures off the host repo's index
  python/tests/test_deploy_cli.py
Due: pytest

fix: make affected test selection fail closed and stage full checks
  AGENTS.md
  CLAUDE.md
  Makefile
  changelog.d/conservative-test-selection.fixed.md
  docs/testing-strategy.md
  scripts/pre-push-pytest.sh
  scripts/select-tests.py
  tests/unit/test_select_tests.py
Due: pytest

fix: write every schema directive into the generated AI-context files
  changelog.d/3353.fixed.md
  docs/website/guides/ai-guardrails.md
  python/djust/management/commands/djust_ai_context.py
  python/djust/tests/test_ai_context_every_directive_3353.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

docs: dj-input is debounced 300 ms by default, not per keystroke
  changelog.d/3356.documentation.md
  docs/ai/templates.md
  docs/llms-full.txt
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/dj-paste.md
  docs/website/guides/live-input.md
  docs/website/guides/template-cheatsheet.md
  docs/website/guides/tutorial-search-as-you-type.md
  python/djust/schema.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

feat(init): put DjustTemplateBackend first in an existing project's TEMPLATES (#2884)
  python/djust/scaffolding/init_project.py
  python/djust/scaffolding/templates.py
  python/djust/tests/fixtures/startproject_settings_django_4_2.txt
  python/djust/tests/fixtures/startproject_settings_django_5_2.txt
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_djust_init_templates_2884.py
Due: pytest

docs(init): describe the TEMPLATES block djust init adds (#2884)
  changelog.d/2884.changed.md
  docs/website/getting-started/installation.md
  docs/website/guides/scaffolding.md
Due: none

docs(adr): ADR-042 shared room clock (proposed)
  docs/adr/042-shared-room-clock.md
Due: none

test(init): the settings-block comment no longer needs to cite #2872 (#2884)
  tests/unit/test_scaffold_cli_config_v1_2_1_13.py
Due: pytest

docs(adr): revise ADR-042 after independent review
  docs/adr/042-shared-room-clock.md
Due: none

feat: add @push_handler, an explicit marker for server-push-only handlers
  changelog.d/3002.added.md
  docs/system-checks.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/guides/ai-guardrails.md
  docs/website/guides/error-codes.md
  python/djust/__init__.py
  python/djust/api/dispatch.py
  python/djust/checks/bindings.py
  python/djust/checks/components.py
  python/djust/decorators.py
  python/djust/mixins/request.py
  python/djust/schema.py
  python/djust/tests/test_push_handler_marker_3002.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

docs(adr): ADR-042 round 3: context idiom, tenant and logging policy, loop detection
  docs/adr/042-shared-room-clock.md
Due: none

feat: render the theme_context HTML lazily, keep the settings eager (#3028)
  changelog.d/3028.changed.md
  docs/website/guides/components.md
  docs/website/guides/error-codes.md
  pyproject.toml
  python/djust/tests/_eager_theme_context.py
  python/djust/tests/test_theme_context_memoize_1727.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/tests/test_theming_lazy_context_3028.py
  python/djust/theming/_lazy_html.py
  python/djust/theming/context_processors.py
Due: pytest

fix(init): report the TEMPLATES shape by default; --templates opts in (#2884)
  changelog.d/2884.changed.md
  docs/website/getting-started/installation.md
  docs/website/guides/scaffolding.md
  python/djust/cli.py
  python/djust/scaffolding/init_project.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_djust_init_templates_2884.py
  tests/unit/test_scaffold_cli_config_v1_2_1_13.py
Due: pytest

fix(init): tolerate a Namespace without the templates attribute
  python/djust/cli.py
Due: pytest

fix: review polish for the dj-input docs and the AI-context directive list
  NAMING_CONVENTION_PROPOSAL.md
  changelog.d/3353.fixed.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/tutorial-form-validation.md
  python/djust/management/commands/djust_ai_context.py
  python/djust/schema.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_ai_context_every_directive_3353.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

fix(runtime): stop asyncio logging an explicit save's late failure with its text on 3.14
  changelog.d/ci-python-matrix-patch-releases.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_sticky_child_persistence_1471.py
Due: pytest

test(striptags): record CPython 3.13.15 / 3.14.7 in the pinned reference
  crates/djust_templates/src/htmlparser.rs
  python/tests/fixtures/striptags_reference_2273.json
  python/tests/test_striptags_parity_2273.py
  scripts/gen-striptags-reference.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(title): pin the Unicode 16.0 code points the title tables do not know
  python/tests/test_truncate_slugify_parity_2262.py
Due: pytest

docs: drop contenteditable from the dj-input fallback list
  python/djust/schema.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

fix: make @push_handler fail closed across overrides, descriptors and tooling
  changelog.d/3002.added.md
  docs/API_STABILITY.md
  docs/system-checks.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/guides/ai-guardrails.md
  docs/website/guides/api-stability.md
  docs/website/guides/error-codes.md
  python/djust/api/dispatch.py
  python/djust/checks/bindings.py
  python/djust/checks/components.py
  python/djust/decorators.py
  python/djust/mixins/request.py
  python/djust/observability/views.py
  python/djust/schema.py
  python/djust/testing.py
  python/djust/tests/test_push_handler_marker_3002.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

docs(init): find the DjangoTemplates entry by BACKEND, note the differences predate init (#2884)
  changelog.d/2884.changed.md
  docs/website/getting-started/installation.md
  python/djust/scaffolding/init_project.py
  python/djust/tests/test_djust_init_templates_2884.py
Due: pytest

fix: close the review findings on the lazy theme_context chunks (#3028)
  changelog.d/3028.changed.md
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_theming_lazy_context_3028.py
  python/djust/theming/_lazy_html.py
  python/djust/theming/context_processors.py
Due: pytest

test: re-measure the striptags port-target figures, cite the CI run, reject aliased shield
  crates/djust_templates/src/htmlparser.rs
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/tests/test_striptags_parity_2273.py
  python/tests/test_truncate_slugify_parity_2262.py
  scripts/gen-striptags-reference.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: pin the lazy theme_context on every render path; document the non-str limits (#3028)
  changelog.d/3028.changed.md
  docs/website/guides/components.md
  python/djust/tests/_eager_theme_context_3028.py
  python/djust/tests/test_theming_lazy_context_3028.py
  python/djust/tests/test_theming_lazy_paths_3028.py
  python/djust/theming/_lazy_html.py
  python/djust/theming/rust_handlers.py
Due: pytest

fix: close the remaining push-only gaps (replay, discovery, V021) and pin every gate
  changelog.d/3002.added.md
  docs/system-checks.md
  python/djust/_parameter_metadata.py
  python/djust/checks/components.py
  python/djust/tests/test_adr037_shared_discovery.py
  python/djust/tests/test_push_handler_marker_3002.py
  python/djust/time_travel.py
  python/djust/websocket_utils.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
