Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(theming): make presets.get_preset() consult runtime registry first (closes #1595)
  python/djust/tests/test_theming_presets.py
  python/djust/theming/presets.py
Due: pytest

docs(changelog): record #1595 theming registry/static-dict divergence fix
  CHANGELOG.md
Due: none

test(theming): meta-invariant — every register_X() must be reachable via get_X() (closes #1597)
  python/djust/tests/test_theming_register_get_roundtrip_invariant.py
Due: pytest

docs(changelog): record #1597 theming register/get meta-invariant test
  CHANGELOG.md
Due: none

test(theming): meta-invariant — every register_X() must be reachable via get_X() (closes #1597) (#1598)
  CHANGELOG.md
  python/djust/tests/test_theming_register_get_roundtrip_invariant.py
Due: pytest

fix(navigation): guard against cross-origin pushState (closes #1599)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  tests/js/navigation.test.js
Due: npm-test

docs(changelog): record #1599 cross-origin pushState guard
  CHANGELOG.md
Due: none

fix(navigation): guard against cross-origin pushState (closes #1599) (#1600)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  tests/js/navigation.test.js
Due: npm-test

Bump version to 1.0.0rc11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(checks): honor suppress_checks for V001/V005 + add abstract opt-out
  python/djust/checks.py
  python/djust/live_view.py
  python/tests/test_checks_1604_1605.py
Due: pytest

docs(checks): document abstract=True opt-out + V001/V005 suppress fix
  CHANGELOG.md
  docs/guides/error-codes.md
  docs/system-checks.md
Due: none

fix(checks): honor suppress_checks for V001/V005 + add abstract opt-out (closes #1604, #1605) (#1606)
  CHANGELOG.md
  docs/guides/error-codes.md
  docs/system-checks.md
  python/djust/checks.py
  python/djust/live_view.py
  python/tests/test_checks_1604_1605.py
Due: pytest

fix(checks): honor suppress_checks for V002/V003/V004/V007/Q007 (closes #1607)
  python/djust/checks.py
  python/tests/test_checks_1607_suppress.py
Due: pytest

docs(checks): document suppress_checks for V002/V003/V004/V007/Q007
  CHANGELOG.md
  docs/system-checks.md
Due: none

fix(checks): honor suppress_checks for V002/V003/V004/V007/Q007 (closes #1607) (#1608)
  CHANGELOG.md
  docs/system-checks.md
  python/djust/checks.py
  python/tests/test_checks_1607_suppress.py
Due: pytest

Bump version to 1.0.0rc12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(presence): zero-config online_count + abstract opt-out + auto-broadcast
  python/djust/presence.py
  python/tests/test_presence.py
  python/tests/test_presence_mixin_dx_1611_1614.py
  python/tests/test_realtime_multiuser.py
  tests/unit/test_mixin_restoration_893_894.py
Due: pytest

docs(presence): zero-config online_count + auto-broadcast pattern
  CHANGELOG.md
  docs/website/guides/presence.md
Due: none

feat(presence): zero-config online_count + abstract opt-out + auto-broadcast (#1615)
  CHANGELOG.md
  docs/website/guides/presence.md
  python/djust/presence.py
  python/tests/test_presence.py
  python/tests/test_presence_mixin_dx_1611_1614.py
  python/tests/test_realtime_multiuser.py
  tests/unit/test_mixin_restoration_893_894.py
Due: pytest

fix(client): morph prerender DOM against WS-mount HTML so divergent state reaches the user
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/tests/test_ws_mount_prerender_divergence_1610.py
  tests/js/ws-mount-prerender-divergence-1610.test.js
Due: npm-test, pytest

docs(client): note WS-mount morph fix in CHANGELOG
  CHANGELOG.md
Due: none

fix(client): morph prerender DOM against WS-mount HTML so divergent state reaches the user (#1616)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/tests/test_ws_mount_prerender_divergence_1610.py
  tests/js/ws-mount-prerender-divergence-1610.test.js
Due: npm-test, pytest

fix(vdom): route SetText patches by byte position, not content equality
  crates/djust_live/src/lib.rs
  python/djust/tests/test_text_fast_path_misroute_1617.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(vdom): note byte-position SetText routing fix in CHANGELOG
  CHANGELOG.md
Due: none

fix(vdom): route SetText patches by byte position, not content equality (#1618)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  python/djust/tests/test_text_fast_path_misroute_1617.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): map dj_button variant=danger to btn-destructive class
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_dj_button_variant_1619.py
Due: pytest

docs(components): note dj_button variant=danger fix in CHANGELOG
  CHANGELOG.md
Due: none

fix(components): map dj_button variant=danger to btn-destructive class (#1620)
  CHANGELOG.md
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_dj_button_variant_1619.py
Due: pytest

feat(components): add dj_button confirm= kwarg for confirmation dialogs
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_dj_button_confirm_1621.py
Due: pytest

docs(components): note dj_button confirm= kwarg in CHANGELOG
  CHANGELOG.md
Due: none

feat(components): add dj_button confirm= kwarg for confirmation dialogs (#1622)
  CHANGELOG.md
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_dj_button_confirm_1621.py
Due: pytest

fix(checks): V008 no longer false-fires on stdlib primitive-returning builtins
  python/djust/checks.py
  python/tests/test_checks_v008_builtins_1609.py
Due: pytest

docs(checks): note V008 builtin false-positive fix in CHANGELOG
  CHANGELOG.md
Due: none

fix(checks): V008 no longer false-fires on stdlib primitive-returning builtins (#1623)
  CHANGELOG.md
  python/djust/checks.py
  python/tests/test_checks_v008_builtins_1609.py
Due: pytest

fix(theming): theme_head auto-loads djust-components's components.css
  python/djust/tests/test_theme_head_components_link_1624.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs(theming): note theme_head components.css auto-load in CHANGELOG
  CHANGELOG.md
Due: none

fix(theming): theme_head auto-loads djust-components's components.css (#1626)
  CHANGELOG.md
  python/djust/tests/test_theme_head_components_link_1624.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

fix(components): code_block installs MutationObserver for WS-patch-inserted code
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_code_block_observer_1625.py
Due: pytest

docs(components): note code_block MutationObserver fix in CHANGELOG
  CHANGELOG.md
Due: none

test(components): silence CodeQL incomplete-URL-substring-sanitization on #1625 test
  python/djust/components/tests/test_code_block_observer_1625.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
