Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(uploads): address PR #819 review — security fixes
  docs/website/guides/uploads.md
  python/djust/uploads.py
  tests/unit/test_upload_writer.py
Due: pytest

feat(uploads): UploadWriter — raw bytestream + direct-to-S3 streaming (v0.5.0 P2) (#819)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/uploads.md
  python/djust/uploads.py
  python/djust/websocket.py
  tests/unit/test_upload_writer.py
Due: pytest

feat(sw): service worker — instant page shell + reconnection bridge (v0.5.0 P3)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/service-worker.md
  docs/website/index.md
  python/djust/config.py
  python/djust/middleware.py
  python/djust/static/djust/client.js
  python/djust/static/djust/service-worker.js
  python/djust/static/djust/src/33-sw-registration.js
  tests/js/service_worker.test.js
  tests/unit/test_main_only_middleware.py
Due: npm-test, pytest

feat(sw): service worker — instant page shell + reconnection bridge (v0.5.0 P3) (#826)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/service-worker.md
  docs/website/index.md
  python/djust/config.py
  python/djust/middleware.py
  python/djust/static/djust/client.js
  python/djust/static/djust/service-worker.js
  python/djust/static/djust/src/33-sw-registration.js
  tests/js/service_worker.test.js
  tests/unit/test_main_only_middleware.py
Due: npm-test, pytest

docs(sw): GZipMiddleware ordering caveat (PR #826 review)
  docs/website/guides/service-worker.md
Due: none

docs: v0.5.0 feature-rollout retro + action tracker (PRs #784-#826)
  RETRO.md
Due: none

docs: v0.5.0 feature-rollout retro + action tracker (PRs #784-#826) (#831)
  RETRO.md
Due: none

docs: correct client.js size claims + scope pre-minified distribution for v0.6.0
  CLAUDE.md
  RETRO.md
  ROADMAP.md
Due: none

docs: correct client.js size claims + scope pre-minified distribution for v0.6.0 (#832)
  CLAUDE.md
  RETRO.md
  ROADMAP.md
Due: none

docs(roadmap): promote ADR-008 HTTP API to v0.7.0 headline
  ROADMAP.md
Due: none

docs(roadmap): promote ADR-008 HTTP API to v0.7.0 headline (#833)
  ROADMAP.md
Due: none

docs(roadmap): pull ADR-008 HTTP API forward to v0.5.1 (was v0.7.0)
  ROADMAP.md
Due: none

docs(roadmap): pull ADR-008 HTTP API forward to v0.5.1 (was v0.7.0) (#834)
  ROADMAP.md
Due: none

feat: auto-generated HTTP API from @event_handler (ADR-008, v0.5.1 headline)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/http-api.md
  docs/website/index.md
  python/djust/api/__init__.py
  python/djust/api/auth.py
  python/djust/api/dispatch.py
  python/djust/api/errors.py
  python/djust/api/openapi.py
  python/djust/api/registry.py
  python/djust/api/urls.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/management/commands/djust_audit.py
  python/djust/tests/test_api_dispatch.py
  python/djust/tests/test_api_openapi.py
  python/djust/tests/test_api_parity.py
  python/djust/tests/test_api_registry.py
Due: pytest

feat: auto-generated HTTP API from @event_handler (ADR-008, v0.5.1 headline) (#835)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/http-api.md
  docs/website/index.md
  python/djust/api/__init__.py
  python/djust/api/auth.py
  python/djust/api/dispatch.py
  python/djust/api/errors.py
  python/djust/api/openapi.py
  python/djust/api/registry.py
  python/djust/api/urls.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/management/commands/djust_audit.py
  python/djust/tests/test_api_dispatch.py
  python/djust/tests/test_api_openapi.py
  python/djust/tests/test_api_parity.py
  python/djust/tests/test_api_registry.py
Due: pytest

feat: state & computation primitives batch (v0.5.1 P2)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/tests/test_state_primitives.py
  python/djust/websocket.py
Due: pytest

fix(context): skip read-only framework properties from get_context_data
  python/djust/mixins/context.py
Due: pytest

fix(state-primitives): address PR #837 review findings
  python/djust/components/base.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/tests/test_state_primitives.py
Due: pytest

feat: state &amp; computation primitives batch (v0.5.1 P2) (#837)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/components/base.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/tests/test_state_primitives.py
  python/djust/websocket.py
Due: pytest

fix(ci): resolve playwright-tests E001 + security-tests coverage threshold
  examples/demo_project/demo_project/settings.py
  tests/unit/test_security_validation_hints.py
Due: pytest

fix(ci): resolve playwright-tests E001 + security-tests coverage threshold (#838)
  examples/demo_project/demo_project/settings.py
  tests/unit/test_security_validation_hints.py
Due: pytest

feat: form & submit polish batch (v0.5.1 P2)
  CHANGELOG.md
  python/djust/mixins/push_events.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/10-loading-states.js
  python/djust/static/djust/src/34-form-polish.js
  python/djust/tests/test_trigger_submit.py
  tests/js/form_polish.test.js
Due: npm-test, pytest

docs(roadmap): add plan to strip examples/demo_project to a test harness
  ROADMAP.md
  docs/plans/strip-demo-project-to-test-harness.md
Due: none

docs(roadmap): add plan to strip examples/demo_project to a test harness (#839)
  ROADMAP.md
  docs/plans/strip-demo-project-to-test-harness.md
Due: none

fix(form-polish): address Stage 11 code review findings
  python/djust/mixins/push_events.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/34-form-polish.js
  python/djust/tests/test_trigger_submit.py
  tests/js/form_polish.test.js
Due: npm-test, pytest

feat: form &amp; submit polish batch (v0.5.1 P2) (#840)
  CHANGELOG.md
  python/djust/mixins/push_events.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/10-loading-states.js
  python/djust/static/djust/src/34-form-polish.js
  python/djust/tests/test_trigger_submit.py
  tests/js/form_polish.test.js
Due: npm-test, pytest

Bump version to 0.5.1rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): mark djust-theming fold as shipped (v0.5.0 PR #772)
  ROADMAP.md
Due: none

docs(roadmap): mark WizardMixin, Error Boundaries, dj-lazy as shipped
  ROADMAP.md
Due: none

feat(theming): extract reusable scaffold CSS from a downstream app
  python/djust/theming/static/djust_theming/css/scaffold.css
Due: none

docs: CHANGELOG entry for scaffold.css extraction (#836)
  CHANGELOG.md
Due: none

feat(theming): extract reusable scaffold CSS from project base.css (#836)
  CHANGELOG.md
  python/djust/theming/static/djust_theming/css/scaffold.css
Due: none

feat(pipeline): djust-local templates + downstream-app name leak scan
  .gitignore
  .pipeline-templates/README.md
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
Due: none

fix(tests): resolve all pre-existing test failures (82 → 0)
  pyproject.toml
  python/djust/tests/test_strip_whitespace.py
  python/djust/tests/test_theming_critical_css.py
  python/djust/tests/test_theming_css_layers.py
  python/djust/tests/test_theming_css_prefix.py
  python/djust/tests/test_theming_layout_templates.py
  python/djust/tests/test_theming_page_templates.py
  python/djust/theming/component_css_generator.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/themes/ocean_deep.py
  tests/gallery_test_urls.py
  tests/test_critical_css.py
Due: pytest

fix(ci): scope mcp[cli] dev dep to Python 3.10+
  pyproject.toml
  python/djust/tests/test_mcp.py
Due: pytest

fix(theming): address Stage 7 review blockers on PR #841
  python/djust/tests/test_theming_critical_css.py
  python/djust/tests/test_theming_css_prefix.py
  python/djust/theming/component_css_generator.py
Due: pytest

fix(tests): resolve all pre-existing test failures (82 → 0) (#841)
  pyproject.toml
  python/djust/tests/test_mcp.py
  python/djust/tests/test_strip_whitespace.py
  python/djust/tests/test_theming_critical_css.py
  python/djust/tests/test_theming_css_layers.py
  python/djust/tests/test_theming_css_prefix.py
  python/djust/tests/test_theming_layout_templates.py
  python/djust/tests/test_theming_page_templates.py
  python/djust/theming/component_css_generator.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/themes/ocean_deep.py
  tests/gallery_test_urls.py
  tests/test_critical_css.py
Due: pytest

Bump version to 0.5.1rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

chore: update Cargo.lock for 0.5.1rc2
  Cargo.lock
Due: none

chore: sync Cargo.lock to 0.5.1rc2
  Cargo.lock
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
