Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(roadmap): link #2517/#2519 in v1.2.0-1 and record the baseline run's findings
  ROADMAP.md
Due: none

feat(templates): run Django's own template_tests against DjustTemplateBackend as the conformance scoreboard (#2517) (#2525)
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  Makefile
  ROADMAP.md
  docs/README.md
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_template_suite_2517.py
  scripts/django-template-suite-baseline.json
  scripts/lib/django_template_suite/__init__.py
  scripts/lib/django_template_suite/adapter.py
  scripts/lib/django_template_suite/child.py
  scripts/lib/django_template_suite/recorder.py
  scripts/lib/django_template_suite/report.py
  scripts/lib/django_template_suite/settings.py
  scripts/run-django-template-suite.py
Due: pytest

docs(roadmap): close v1.2.0-1 row 1 — #2517 shipped in PR #2525
  ROADMAP.md
Due: none

docs(roadmap): close v1.2.0-1 row 1 — #2517 shipped in PR #2525 (#2527)
  ROADMAP.md
Due: none

feat(templates): gate LiveView-only engine parts behind a liveview cargo feature and stop emitting dj-if markers on the plain-backend path (#2519)
  .github/workflows/test.yml
  Makefile
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_dj_if_markers_off_2519.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_dj_if_marker_plain_backend_2519.py
  python/tests/test_template_if_markers.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): retire the #2402 marker tripwire, pin the three new PYO3_PYTHON sites, note the loop-cache key invariant (#2519)
  crates/djust_templates/src/loop_cache.rs
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_forloop_parity_2402.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): document the liveview feature gate and the dj-if fix on the plain-backend path (#2519)
  CHANGELOG.md
  docs/TEMPLATE_BACKEND.md
Due: none

docs(roadmap): record #2531 among the v1.2.0-3 findings
  ROADMAP.md
Due: none

feat(templates): liveview cargo feature gate + stop emitting dj-if markers on the plain-backend path (#2519) (#2534)
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  ROADMAP.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_dj_if_markers_off_2519.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_dj_if_marker_plain_backend_2519.py
  python/tests/test_forloop_parity_2402.py
  python/tests/test_template_if_markers.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(adr): fix two ADR-027 citations and add the ADR-024 erratum on model-class auto-call (#2535)
  docs/adr/024-template-callable-auto-call.md
  docs/adr/027-template-variable-resolution-follows-django.md
Due: none

docs(changelog,roadmap): record ADR-027, close v1.2.0-1 row 2 (#2519 shipped in PR #2534), link #2532/#2533/#2535
  CHANGELOG.md
  ROADMAP.md
Due: none

docs(adr): ADR-027 — template variable resolution follows Django's lookup rules at one sink (#2535)
  docs/adr/027-template-variable-resolution-follows-django.md
Due: none

docs(adr): re-pin ADR-027 citations to main 5835bf97 after the #2534 rebase, fix two attributions (#2535)
  docs/adr/027-template-variable-resolution-follows-django.md
Due: none

docs(adr): ADR-027 — template variable resolution follows Django's lookup rules at one sink (#2535) (#2538)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/024-template-callable-auto-call.md
  docs/adr/027-template-variable-resolution-follows-django.md
Due: none

feat(bench): model-backed render benchmark — the five-bucket boundary profile ADR-027 is scored against (#2532)
  Makefile
  crates/djust_live/src/lib.rs
  tests/benchmarks/conftest.py
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/benchmarks/test_model_backed_table_2532.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(docs): generate the template backend's supported/unsupported tag and filter lists from the engine, with a check (#2533)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  docs/TEMPLATE_BACKEND.md
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: pytest

fix(docs): state library-filter bridging truthfully, add the generator→engine direction check and emitted-name validation (#2533 review)
  .pre-commit-config.yaml
  docs/TEMPLATE_BACKEND.md
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: pytest

fix(bench): restore the snapshot variant, remove the query hook on teardown, relabel the binary in-place fast path, widen the no-threshold pin (#2532 review)
  crates/djust_live/src/lib.rs
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/benchmarks/test_model_backed_table_2532.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the generated template-backend support lists (#2533)
  CHANGELOG.md
Due: none

docs(perf): record the model-backed benchmark's measurements and correct the sidecar cost model (#2532)
  CHANGELOG.md
  PERFORMANCE_BRAINSTORM.md
Due: none

docs(roadmap): close v1.2.0-2 row 1 (ADR-027 shipped in PR #2538), link #2539/#2542, note the #2532 measurement
  ROADMAP.md
Due: none

docs(perf): replace the section 7.1 table with a quiet-machine run (#2532)
  PERFORMANCE_BRAINSTORM.md
Due: none

feat(bench): model-backed render benchmark — the five-bucket boundary profile ADR-027 is scored against (#2532) (#2543)
  CHANGELOG.md
  Makefile
  PERFORMANCE_BRAINSTORM.md
  ROADMAP.md
  crates/djust_live/src/lib.rs
  tests/benchmarks/conftest.py
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/benchmarks/test_model_backed_table_2532.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(docs): generate the template backend's supported/unsupported tag and filter lists from the engine, with a check (#2533) (#2546)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  docs/TEMPLATE_BACKEND.md
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: pytest

test(core): ADR-027 movement 1 — characterization net for the sidecar class and the dormant Django-lookup sink (#2539)
  crates/djust_core/src/context.rs
  crates/djust_core/tests/test_django_lookup_sink_2539.rs
  python/tests/test_adr027_characterization_net_2539.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): tighten four pins in the ADR-027 characterization net (#2539)
  python/tests/test_adr027_characterization_net_2539.py
Due: pytest

docs(changelog): record ADR-027 movement 1 and close out the v1.2.0-1 rows (#2539)
  CHANGELOG.md
  ROADMAP.md
Due: none

docs(roadmap): cite PR #2553 on the #2539 movement-1 note
  ROADMAP.md
Due: none

docs(changelog): state the sink test and crash shapes precisely (#2539 review)
  CHANGELOG.md
Due: none

security(templates): a custom filter's is_safe=True no longer marks unsafe input safe (#2548)
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/djust/_rust.pyi
  python/tests/test_custom_filter_is_safe_requires_safe_input_2548.py
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(core): ADR-027 movement 1 — characterization net and the dormant Django-lookup sink (#2539) (#2553)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_core/src/context.rs
  crates/djust_core/tests/test_django_lookup_sink_2539.rs
  python/tests/test_adr027_characterization_net_2539.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): the is_safe source pin now rejects a precedence-shaped regression (#2548 review)
  python/tests/test_custom_filter_is_safe_requires_safe_input_2548.py
Due: pytest

docs(security): record the is_safe custom-filter fix and state Django's contract (#2548)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  docs/website/core-concepts/templates.md
Due: none

test(templates): the call-site pin scans every crate, not just djust_templates (#2548 review)
  python/tests/test_custom_filter_is_safe_requires_safe_input_2548.py
Due: pytest

docs(security): correct two citations in the #2548 entry and pattern 6
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

docs(security): add the missing sentence terminator in pattern 6 (#2548 re-review)
  docs/SECURE_DEFAULTS.md
Due: none

security(templates): a custom filter's is_safe=True no longer marks unsafe input safe (#2548) (#2554)
  CHANGELOG.md
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  docs/SECURE_DEFAULTS.md
  docs/website/core-concepts/templates.md
  python/djust/_rust.pyi
  python/tests/test_custom_filter_is_safe_requires_safe_input_2548.py
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(package): lazy package init so the template backend imports without the LiveView stack (#2559)
  python/djust/__init__.py
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

feat(checks): add C016/C017 system checks for the TEMPLATES shape (#2562)
  python/djust/checks/configuration.py
  python/djust/tests/test_c016_c017_templates_shape_2562.py
Due: pytest

refactor(checks): drop the C017 duplicate-NAME check as unobservable (#2562)
  python/djust/checks/configuration.py
  python/djust/tests/test_c016_templates_shape_2562.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
