Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

Bump version to 0.5.0rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

chore: update __version__ to 0.5.0rc1
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs: milestone retro v0.5.0 + action tracker update
  RETRO.md
Due: none

fix: _force_full_html bypasses change tracking for fresh Rust render (#774)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/tests/test_force_full_html.py
Due: pytest

fix: track container context values by equality, not id() (#774)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/tests/test_force_full_html.py
Due: pytest

fix: address code review findings — exception safety, comments, test rename
  Cargo.lock
  python/djust/mixins/rust_bridge.py
  python/tests/test_derived_context_sync.py
Due: pytest

fix: _force_full_html sends stale HTML from Rust VDOM cache (#774) (#779)
  CHANGELOG.md
  Cargo.lock
  python/djust/mixins/rust_bridge.py
  python/tests/test_derived_context_sync.py
Due: pytest

feat: add Bootstrap 4 adapter and theme-to-framework CSS bridge
  CHANGELOG.md
  python/djust/components/static/djust_components/components.css
  python/djust/config.py
  python/djust/frameworks.py
  python/djust/theming/manager.py
  python/djust/theming/pack_css_generator.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/templatetags/theme_tags.py
  python/djust/theming/theme_packs.py
Due: pytest

fix: address code review — select validation styling + CHANGELOG tag name
  CHANGELOG.md
  python/djust/frameworks.py
Due: pytest

feat: Bootstrap 4 adapter + theme-to-framework CSS bridge (#780)
  CHANGELOG.md
  python/djust/components/static/djust_components/components.css
  python/djust/config.py
  python/djust/frameworks.py
  python/djust/theming/manager.py
  python/djust/theming/pack_css_generator.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/templatetags/theme_tags.py
  python/djust/theming/theme_packs.py
Due: pytest

Bump version to 0.5.0rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix(admin_ext): add DEBUG logging + escapejs for redirect URLs (#775, #776)
  Cargo.lock
  python/djust/admin_ext/forms.py
  python/djust/admin_ext/options.py
  python/djust/admin_ext/sites.py
  python/djust/admin_ext/templates/djust_admin/model_delete.html
  python/djust/admin_ext/templates/djust_admin/model_detail.html
  python/djust/admin_ext/views.py
Due: pytest

fix(admin_ext): add DEBUG logging + escapejs for redirect URLs (#775, #776) (#781)
  Cargo.lock
  python/djust/admin_ext/forms.py
  python/djust/admin_ext/options.py
  python/djust/admin_ext/sites.py
  python/djust/admin_ext/templates/djust_admin/model_delete.html
  python/djust/admin_ext/templates/djust_admin/model_detail.html
  python/djust/admin_ext/views.py
Due: pytest

fix: add djust.theming and djust.admin_ext to demo project INSTALLED_APPS (#777)
  examples/demo_project/demo_project/settings.py
Due: pytest

fix: add djust.theming and djust.admin_ext to demo project INSTALLED_APPS (#777) (#782)
  examples/demo_project/demo_project/settings.py
Due: pytest

docs(roadmap): add #783 (safe HTML blob diff) to v0.5.0 milestone — P0
  ROADMAP.md
Due: none

docs(roadmap): mark #783 as fixed by #779 (closed without code)
  ROADMAP.md
Due: none

fix: _force_full_html must call set_changed_keys for Rust partial render (#783)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/tests/test_derived_context_sync.py
Due: pytest

fix(templates): propagate deps from nested Include/CustomTag/InlineIf (#783)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_templates/src/parser.rs
  tests/test_rust_vdom_safe_diff_783.py
  uv.lock
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): propagate deps from nested Include/CustomTag/InlineIf (#783) (#784)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_templates/src/parser.rs
  tests/test_rust_vdom_safe_diff_783.py
  uv.lock
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: add ADR-008 for auto-generated HTTP API from @event_handler
  ROADMAP.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
Due: none

test(templates): dep-extractor hardening — #783 follow-up (P0)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  python/djust/_rust.pyi
  tests/test_rust_vdom_safe_diff_783.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): dep-extractor hardening — #783 follow-up (P0) (#785)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  python/djust/_rust.pyi
  tests/test_rust_vdom_safe_diff_783.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(components): function components + declarative assigns + named slots
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/__init__.py
  python/djust/components/assigns.py
  python/djust/components/base.py
  python/djust/components/function_component.py
  python/djust/components/rust_handlers.py
  tests/unit/test_declarative_assigns.py
  tests/unit/test_function_components.py
  tests/unit/test_named_slots.py
Due: pytest

fix(components): address PR #788 review findings
  docs/website/guides/components.md
  python/djust/components/function_component.py
  tests/unit/test_function_components.py
  tests/unit/test_named_slots.py
Due: pytest

feat(components): function components + declarative assigns + named slots (v0.5.0 P1) (#788)
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/__init__.py
  python/djust/components/assigns.py
  python/djust/components/base.py
  python/djust/components/function_component.py
  python/djust/components/rust_handlers.py
  tests/unit/test_declarative_assigns.py
  tests/unit/test_function_components.py
  tests/unit/test_named_slots.py
Due: pytest

feat(async): assign_async + AsyncResult + {% dj_suspense %} (v0.5.0 P1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/loading-states.md
  python/djust/__init__.py
  python/djust/async_result.py
  python/djust/components/rust_handlers.py
  python/djust/components/suspense.py
  python/djust/mixins/async_work.py
  tests/unit/test_assign_async.py
  tests/unit/test_suspense.py
  tests/unit/test_temporary_assigns.py
Due: pytest

feat(async): assign_async + AsyncResult + {% dj_suspense %} (v0.5.0 P1) (#792)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/loading-states.md
  python/djust/__init__.py
  python/djust/async_result.py
  python/djust/components/rust_handlers.py
  python/djust/components/suspense.py
  python/djust/mixins/async_work.py
  tests/unit/test_assign_async.py
  tests/unit/test_suspense.py
  tests/unit/test_temporary_assigns.py
Due: pytest

feat(streams): large-list DOM perf — dj-virtual + dj-viewport-top/bottom (v0.5.0 P1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/large-lists.md
  python/djust/mixins/streams.py
  python/djust/mixins/streams.pyi
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  python/djust/static/djust/src/30-infinite-scroll.js
  tests/js/infinite_scroll.test.js
  tests/js/virtual_list.test.js
  tests/unit/test_stream_limit.py
Due: npm-test, pytest

fix(streams): address PR #796 review — handleEvent wiring + virtual list refresh
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/30-infinite-scroll.js
  tests/js/infinite_scroll.test.js
Due: npm-test

feat(streams): large-list DOM perf — dj-virtual + dj-viewport-top/bottom (v0.5.0 P1) (#796)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/large-lists.md
  python/djust/mixins/streams.py
  python/djust/mixins/streams.pyi
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  python/djust/static/djust/src/30-infinite-scroll.js
  tests/js/infinite_scroll.test.js
  tests/js/virtual_list.test.js
  tests/unit/test_stream_limit.py
Due: npm-test, pytest

feat(templates): Rust engine parity — getattr / attr-escape / assign tags (v0.5.0 P1)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  tests/unit/test_assign_tag.py
  tests/unit/test_attribute_escape.py
  tests/unit/test_model_attr_access.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): Rust engine parity — getattr / attr-escape / assign tags (v0.5.0 P1) (#802)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  tests/unit/test_assign_tag.py
  tests/unit/test_attribute_escape.py
  tests/unit/test_model_attr_access.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(db): PostgreSQL LISTEN/NOTIFY → LiveView push (v0.5.0 P1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/database-notifications.md
  python/djust/__init__.py
  python/djust/db/__init__.py
  python/djust/db/decorators.py
  python/djust/db/exceptions.py
  python/djust/db/notifications.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/notifications.py
  python/djust/websocket.py
  tests/integration/test_pg_notify_roundtrip.py
  tests/unit/test_db_notifications.py
Due: pytest

feat(db): PostgreSQL LISTEN/NOTIFY → LiveView push (v0.5.0 P1) (#807)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/database-notifications.md
  python/djust/__init__.py
  python/djust/db/__init__.py
  python/djust/db/decorators.py
  python/djust/db/exceptions.py
  python/djust/db/notifications.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/notifications.py
  python/djust/websocket.py
  tests/integration/test_pg_notify_roundtrip.py
  tests/unit/test_db_notifications.py
Due: pytest

feat(hooks): dj-ignore-attrs + {% colocated_hook %} (v0.5.0 P2)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/hooks.md
  python/djust/config.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/31-ignore-attrs.js
  python/djust/static/djust/src/32-colocated-hooks.js
  python/djust/templatetags/live_tags.py
  tests/js/colocated_hooks.test.js
  tests/js/ignore_attrs.test.js
  tests/unit/test_colocated_hook_tag.py
Due: npm-test, pytest

feat(hooks): dj-ignore-attrs + {% colocated_hook %} (v0.5.0 P2) (#814)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/hooks.md
  python/djust/config.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/31-ignore-attrs.js
  python/djust/static/djust/src/32-colocated-hooks.js
  python/djust/templatetags/live_tags.py
  tests/js/colocated_hooks.test.js
  tests/js/ignore_attrs.test.js
  tests/unit/test_colocated_hook_tag.py
Due: npm-test, pytest

feat(uploads): UploadWriter — raw bytestream + direct-to-S3 streaming (v0.5.0 P2)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/uploads.md
  python/djust/uploads.py
  python/djust/websocket.py
  tests/unit/test_upload_writer.py
Due: pytest
