Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(streaming): note Rust-path lazy=True support; CHANGELOG entry for #1145
  CHANGELOG.md
  docs/website/guides/streaming-render.md
Due: none

feat(rust): {% live_render %} lazy=True parity (closes #1145) (#1166)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  docs/website/guides/streaming-render.md
  python/djust/template_tags/__init__.py
  python/djust/template_tags/live_render.py
  tests/unit/test_rust_live_render_lazy_1145.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(theming): namespace cookie names per project (closes #1158)
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/js/theme.js
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
  tests/unit/test_theming_cookie_namespace_1158.py
Due: npm-test, pytest

docs(theming): document cookie_namespace + CHANGELOG entry
  CHANGELOG.md
  docs/website/guides/components.md
Due: none

feat(theming): namespace cookie names per project (closes #1158) (#1168)
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/js/theme.js
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
  tests/unit/test_theming_cookie_namespace_1158.py
Due: npm-test, pytest

feat(data_table): row-level navigation accessibility + nested-control guard (closes #1111)
  python/djust/components/static/djust_components/data-table-row-click.js
  python/djust/components/templates/djust_components/table.html
  python/tests/test_data_table_link_row_nav.py
  tests/js/data_table_row_click.test.js
  tests/unit/test_data_table_row_navigation_1111.py
Due: npm-test, pytest

docs(data_table): document row navigation accessibility + CHANGELOG entry (#1111)
  CHANGELOG.md
  docs/website/guides/components.md
Due: none

fix(data_table): close PR #1170 review 🔴 — open-redirect + auto-load script
  python/djust/components/static/djust_components/data-table-row-click.js
  python/djust/components/templates/djust_components/table.html
  tests/js/data_table_row_click.test.js
Due: npm-test

feat(data_table): row-level navigation accessibility + CSP-strict layer (closes #1111) (#1170)
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/components/static/djust_components/data-table-row-click.js
  python/djust/components/templates/djust_components/table.html
  python/tests/test_data_table_link_row_nav.py
  tests/js/data_table_row_click.test.js
  tests/unit/test_data_table_row_navigation_1111.py
Due: npm-test, pytest

docs(retro): v0.9.1 milestone retro + Action Tracker update
  RETRO.md
Due: none

docs(roadmap): add v0.9.2 milestone (10 follow-ups, ~7 PRs + 1 skill update)
  ROADMAP.md
Due: none

chore(pipeline): canonicalize two-commit shape + 3-clean-runs gate (closes #1173, #1174)
  .pipeline-templates/README.md
  .pipeline-templates/feature-state.json
Due: none

fix(pipeline): close PR #1176 review 🔴 — bugfix-state.json + ship symmetry
  .pipeline-templates/README.md
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/ship-state.json
Due: none

chore(pipeline): canonicalize two-commit shape + 3-clean-runs gate (#1176)
  .pipeline-templates/README.md
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/ship-state.json
Due: none

docs: canonicalize CSP-strict defaults for new client-side framework code
  CHANGELOG.md
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/guides/security.md
Due: none

fix(docs): correct marker-class examples per Stage 11 review
  docs/PULL_REQUEST_CHECKLIST.md
  docs/guides/security.md
Due: none

docs: canonicalize CSP-strict defaults for new client-side framework code (#1178)
  CHANGELOG.md
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/guides/security.md
Due: none

fix(rust): custom filter bridge polish — 6 sub-items (closes #1162)
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(rust-filters): note custom filter bridge polish in CHANGELOG
  CHANGELOG.md
Due: none

fix(rust): custom filter bridge polish — 6 sub-items (closes #1162) (#1179)
  CHANGELOG.md
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(v0.9.2): hygiene group — Redis docstring + caplog + descriptor doc + dev-env script
  docs/website/guides/components.md
  python/djust/components/base.py
  scripts/check-dev-env-imports.py
  tests/unit/test_dev_env_imports.py
  tests/unit/test_state_backend.py
  tests/unit/test_time_travel.py
Due: pytest

docs(hygiene): note v0.9.2 hygiene group changes in CHANGELOG
  CHANGELOG.md
Due: none

chore(v0.9.2): hygiene group — Redis docstring + caplog + descriptor doc + dev-env script (#1181)
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/components/base.py
  scripts/check-dev-env-imports.py
  tests/unit/test_dev_env_imports.py
  tests/unit/test_state_backend.py
  tests/unit/test_time_travel.py
Due: pytest

fix(rust): tag-registry test isolation + sidecar bridge extension (closes #1167)
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_tag_registry.py
  tests/unit/test_tag_sidecar_parity_1167.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(rust): note v0.9.2 tag-registry hardening + sidecar parity in CHANGELOG
  CHANGELOG.md
Due: none

fix(rust): tag-registry test isolation + sidecar bridge extension (closes #1167) (#1182)
  CHANGELOG.md
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_tag_registry.py
  tests/unit/test_tag_sidecar_parity_1167.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(theming): cookie namespace polish — 4 sub-items (closes #1169)
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/js/theme.js
  tests/js/theming_cookie_namespace_write.test.js
  tests/unit/test_theming_cookie_namespace_1158.py
Due: npm-test, pytest

docs(theming): note v0.9.2 cookie namespace polish in CHANGELOG
  CHANGELOG.md
Due: none

fix(theming): cookie namespace polish — 4 sub-items (closes #1169) (#1183)
  CHANGELOG.md
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/js/theme.js
  tests/js/theming_cookie_namespace_write.test.js
  tests/unit/test_theming_cookie_namespace_1158.py
Due: npm-test, pytest

fix(data_table): row navigation polish — 3 sub-items (closes #1171)
  python/djust/components/static/djust_components/data-table-row-click.js
  tests/js/data_table_row_click.test.js
  tests/unit/test_data_table_url_allowlist_1171.py
Due: npm-test, pytest

docs(data_table): note v0.9.2 row navigation polish in CHANGELOG
  CHANGELOG.md
Due: none

fix(data_table): row navigation polish — 3 sub-items (closes #1171) (#1184)
  CHANGELOG.md
  python/djust/components/static/djust_components/data-table-row-click.js
  tests/js/data_table_row_click.test.js
  tests/unit/test_data_table_url_allowlist_1171.py
Due: npm-test, pytest

docs(retro): v0.9.2 milestone retro + Action Tracker update
  RETRO.md
Due: none

docs(roadmap): add v0.9.3 milestone (test-infra cleanup, release-blocker for rc3)
  ROADMAP.md
Due: none

chore(test-infra): suppress unhandled errors in JS + Python test runtimes
  python/djust/mixins/template.py
  tests/integration/test_chunks_overlap.py
  vitest.config.js
Due: npm-test, pytest

docs(test-infra): note v0.9.3 test-runtime warning suppression in CHANGELOG
  CHANGELOG.md
Due: none

chore(test-infra): suppress unhandled errors in JS + Python test runtimes (#1187)
  CHANGELOG.md
  python/djust/mixins/template.py
  tests/integration/test_chunks_overlap.py
  vitest.config.js
Due: npm-test, pytest

Bump version to 0.9.0rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(hot-reload): auto-enable HVR in DEBUG via DjustConfig.ready()
  Cargo.lock
  examples/demo_project/demo_app/apps.py
  python/djust/__init__.py
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_auto_hot_reload.py
  uv.lock
Due: pytest

docs(hot-reload): document v0.9.0 HVR auto-enable in DEBUG
  CHANGELOG.md
  CLAUDE.md
  docs/website/guides/hot-view-replacement.md
Due: none
