Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(adr): ADR-026 — dj-virtual differ awareness (#2017 items 2-4)
  CHANGELOG.md
  docs/adr/026-dj-virtual-differ-awareness.md
Due: none

docs(adr): ADR-026 — dj-virtual differ awareness (#2017 items 2-4) (#2123)
  CHANGELOG.md
  docs/adr/026-dj-virtual-differ-awareness.md
Due: none

fix(streams): stream context captures must not alias the live list (#2119) (#2122)
  CHANGELOG.md
  python/djust/mixins/streams.py
  tests/unit/test_streams_capture_aliasing_2119.py
Due: pytest

security(deps): crossbeam-epoch 0.9.18 -> 0.9.20 (RUSTSEC-2026-0204)
  Cargo.lock
Due: none

docs(changelog): crossbeam-epoch RUSTSEC-2026-0204 bump
  CHANGELOG.md
Due: none

docs(changelog): merge the crossbeam entry into the existing Security section
  CHANGELOG.md
Due: none

security(deps): crossbeam-epoch 0.9.18 → 0.9.20 (RUSTSEC-2026-0204) (#2125)
  CHANGELOG.md
  Cargo.lock
Due: none

fix(vdom): use LIS for [dj-virtual] moves — one append emitted N moves (#2017)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): correct the LIS claim for #2017 iteration 1
  CHANGELOG.md
Due: none

docs(changelog): ADR-026 iteration 1 — dj-virtual keyed splice ops (#2017)
  CHANGELOG.md
Due: none

feat(vdom): keyed splice ops for [dj-virtual] parents, dark by default (#2017)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(vdom): [dj-virtual] ordering + content diff — two defects 11 tests missed (#2017)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(streams): route every dom_id through one chokepoint so a custom factory reaches delete (#2121)
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_custom_dom_id_2121.py
Due: pytest

docs(changelog): custom dom_id= factory reaches stream_delete (#2121)
  CHANGELOG.md
Due: none

fix(tests): drive the tick loop explicitly instead of racing a real timer (#2124)
  python/djust/runtime.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
  python/djust/websocket.py
Due: pytest

fix(vdom): close the four Stage 11 findings on [dj-virtual] keyed ops (#2017)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): correct scope, serde reasoning and counts for #2017 iteration 1
  CHANGELOG.md
Due: none

fix(streams): address Stage 11 findings on the dom_id chokepoint (#2121)
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_custom_dom_id_2121.py
Due: pytest

docs(changelog): correct the on-screen-impact claim for #2121
  CHANGELOG.md
Due: none

docs(changelog): deterministic tick-loop tests (#2124)
  CHANGELOG.md
Due: none

fix(streams): make the factory fallback delete-only (#2121)
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_custom_dom_id_2121.py
Due: pytest

docs(changelog): delete-only fallback + measured gate-off counts (#2121)
  CHANGELOG.md
Due: none

test(vdom): correct what the dj-if index pin proves; assert the msgpack asymmetry fully (#2017)
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): correct the 4th-finding description; cite #2130 (#2017)
  CHANGELOG.md
Due: none

test(tick): pin the mount WIRING, not just the opt-in rule (#2124)
  python/djust/tests/test_ws_mount_flip_parity_1911.py
  python/djust/tests/test_ws_send_version_1788.py
Due: pytest

docs(changelog): record the unpinned-wiring miss and correct the timings (#2124)
  CHANGELOG.md
Due: none

refactor(streams): one id expression in dom_id_for, not one per branch (#2121)
  python/djust/session_utils.py
Due: pytest

feat(vdom): keyed splice ops for [dj-virtual] parents, dark by default (#2017) (#2126)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(streams): route every dom_id through one chokepoint so a custom factory reaches delete (#2121) (#2127)
  CHANGELOG.md
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_custom_dom_id_2121.py
Due: pytest

fix(tests): drive the tick loop explicitly instead of racing a real timer (#2124) (#2128)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
Due: pytest

docs(roadmap): add 3 open issues to v1.1.0-13 milestone
  ROADMAP.md
Due: none

fix(streams): server-side deletion uses the same identity the dom_id does (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): server-side stream deletion identity (#2129)
  CHANGELOG.md
Due: none

fix(vdom): emit binary diffs as a named msgpack map so they can be read (#2130)
  crates/djust_live/src/lib.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/tests/test_binary_diff_msgpack_2130.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): named msgpack encoding for binary diffs (#2130)
  CHANGELOG.md
Due: none

fix(streams): compare raw factory keys, not formatted dom_id strings (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): correct the over-deletion regression and gate-off counts (#2129)
  CHANGELOG.md
Due: none

wip(client): key-addressed virtual pool ops + patcher arms (#2017 iter 2)
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
Due: npm-test

fix(streams): a None factory key is "no key", not a value to match on (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): second-round None-key finding and the full gate-off table (#2129)
  CHANGELOG.md
Due: none
