Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: one-line update and security-advisory notice (#2877)
  changelog.d/update-check.added.md
  docs/superpowers/plans/2026-09-16-update-check.md
  docs/superpowers/specs/2026-09-16-update-check-design.md
  docs/website/getting-started/installation.md
  docs/website/guides/update-check.md
  pyproject.toml
  python/djust/apps.py
  python/djust/checks/__init__.py
  python/djust/checks/updates.py
  python/djust/cli.py
  python/djust/config.py
  python/djust/tests/fixtures/advisories.json
  python/djust/tests/test_lazy_package_init_2559.py
  python/djust/tests/test_updates.py
  python/djust/updates.py
  uv.lock
Due: pytest

feat: draw the starter page from the theme pack and expose every pack
  changelog.d/scaffold-theme-packs.changed.md
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_setup_environment.py
Due: pytest

fix: style the quick-pick chips, drop dead CSS and an unused import
  docs/website/getting-started/installation.md
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_setup_environment.py
Due: pytest

feat: draw the starter page from the theme pack and expose every pack (#2879)
  changelog.d/scaffold-theme-packs.changed.md
  docs/website/getting-started/installation.md
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_setup_environment.py
Due: pytest

fix: make djust_theming.W001 warning-clean on shipped presets (#2874)
  python/djust/scaffolding/templates.py
  python/djust/tests/test_theming_contrast_all_presets_2060.py
  python/djust/tests/test_theming_w001_2874.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/checks.py
  python/djust/theming/themes/blue.py
  python/djust/theming/themes/default.py
  python/djust/theming/themes/shadcn.py
  python/djust/theming/themes/slate.py
  scripts/report_theme_contrast.py
Due: pytest

docs: add changelog fragment for #2874 W001 reconciliation
  changelog.d/theme-preset-contrast.fixed.md
Due: none

fix: DjustTemplateBackend.select_template for the admin's inclusion tags (#2872)
  python/djust/template/backend.py
  python/tests/test_admin_changelist_select_template_2872.py
Due: pytest

docs: changelog fragment for the admin select_template fix (#2872)
  changelog.d/2872.fixed.md
Due: none

fix(scaffolding): four djust new flags generated broken projects
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_flag_projects.py
Due: pytest

docs(scaffolding): changelog fragment for #2876
  changelog.d/2876.fixed.md
Due: none

fix: DjustTemplateBackend.select_template — admin changelist/change 500 (#2872) (#2881)
  changelog.d/2872.fixed.md
  python/djust/template/backend.py
  python/tests/test_admin_changelist_select_template_2872.py
Due: pytest

fix(scaffolding): four djust new flags generated broken projects (#2876) (#2880)
  changelog.d/2876.fixed.md
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_flag_projects.py
Due: pytest

fix: make djust_theming.W001 warning-clean on shipped presets (#2874) (#2886)
  changelog.d/theme-preset-contrast.fixed.md
  python/djust/scaffolding/templates.py
  python/djust/tests/test_theming_contrast_all_presets_2060.py
  python/djust/tests/test_theming_w001_2874.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/checks.py
  python/djust/theming/themes/blue.py
  python/djust/theming/themes/default.py
  python/djust/theming/themes/shadcn.py
  python/djust/theming/themes/slate.py
  scripts/report_theme_contrast.py
Due: pytest

feat: bridge wrapper-shaped raw block tags through the rendered-body path (ADR-030)
  python/djust/template_libraries.py
  python/djust/tests/test_wrapper_tag_bridge_adr030.py
  python/tests/lib2547/templatetags/lib2547_rawblock.py
  python/tests/test_load_imports_django_libraries_2547.py
Due: pytest

docs: describe the wrapper-tag bridge and its refusal reasons (ADR-030)
  changelog.d/adr-030-wrapper-block-tags.fixed.md
  docs/TEMPLATE_BACKEND.md
Due: none

fix: refuse wrappers that render their body in a modified context
  python/djust/template_libraries.py
  python/djust/tests/test_wrapper_tag_bridge_adr030.py
  python/tests/lib2547/templatetags/lib2547_rawblock.py
  python/tests/test_load_imports_django_libraries_2547.py
Due: pytest

docs: state the wrapper bridge's context rule and probe limits
  docs/TEMPLATE_BACKEND.md
Due: none

test: rotate the Django-suite canary to a context-pushing block tag
  python/tests/test_django_template_suite_2517.py
Due: pytest

feat: bridge wrapper-shaped raw block tags through the rendered-body path (ADR-030) (#2888)
  changelog.d/adr-030-wrapper-block-tags.fixed.md
  docs/TEMPLATE_BACKEND.md
  python/djust/template_libraries.py
  python/djust/tests/test_wrapper_tag_bridge_adr030.py
  python/tests/lib2547/templatetags/lib2547_rawblock.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_load_imports_django_libraries_2547.py
Due: pytest

feat(components): bind class-level components per view — events and registration (ADR-031 PR 1)
  python/djust/components/base.py
  python/djust/components/gallery/live_views.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_bound_component_adr031.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

docs(changelog): fragment for ADR-031 PR 1 (bound class-level components)
  changelog.d/adr-031-bound-component.added.md
Due: none

fix(components): route component_id on the HTTP POST path; harden BoundComponent forwarding (review of #2895)
  python/djust/components/base.py
  python/djust/components/descriptors/base.py
  python/djust/mixins/request.py
  python/djust/tests/test_bound_component_adr031.py
Due: pytest

feat(components): bind class-level components per view — events and registration (ADR-031 PR 1) (#2895)
  changelog.d/adr-031-bound-component.added.md
  python/djust/components/base.py
  python/djust/components/descriptors/base.py
  python/djust/components/gallery/live_views.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_bound_component_adr031.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

feat(components): render class-level components from {{ nav }} (ADR-031 PR 2)
  python/djust/components/base.py
  python/djust/serialization.py
  python/djust/tests/test_bound_component_adr031.py
  python/djust/tests/test_bound_component_render_adr031.py
Due: pytest

docs(components): class-level component section; retire the |safe advice and the .descriptor() workaround (ADR-031 S0/S3)
  changelog.d/adr-031-bound-component-render.added.md
  docs/website/guides/components.md
Due: none

fix(components): fingerprint a bound component by its State; hash a dict copy; honour instance template config (review of #2897)
  docs/website/guides/components.md
  python/djust/components/base.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_bound_component_render_adr031.py
Due: pytest

feat(components): render class-level components from {{ nav }} (ADR-031 PR 2) (#2897)
  changelog.d/adr-031-bound-component-render.added.md
  docs/website/guides/components.md
  python/djust/components/base.py
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/tests/test_bound_component_adr031.py
  python/djust/tests/test_bound_component_render_adr031.py
Due: pytest

fix(templates): spell a dict subclass as itself — {{ v }} is str(v), as Django renders (#2899)
  changelog.d/2899.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/djust/mixins/context.py
  python/djust/serialization.py
  python/tests/test_dict_subclass_spelling_2899.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_sequence_op_chokepoint_2451.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): a carried dict subclass compares as Python does; nested subclasses stay raw (review of #2901)
  changelog.d/2899.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/architecture/VALUE_BOUNDARY.md
  python/djust/mixins/context.py
  python/tests/test_dict_subclass_spelling_2899.py
  python/tests/test_opaque_collections_2477_2489.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): spell a dict subclass as itself — {{ v }} is str(v), as Django renders (#2899) (#2901)
  changelog.d/2899.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  docs/architecture/VALUE_BOUNDARY.md
  python/djust/mixins/context.py
  python/djust/serialization.py
  python/tests/test_dict_subclass_spelling_2899.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_sequence_op_chokepoint_2451.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(build): install-rust-ext.sh + make install-ext — replace a built _rust .so through a new, re-signed inode
  CLAUDE.md
  Makefile
  scripts/install-rust-ext.sh
Due: none

chore(build): install-rust-ext.sh — find the wheel's .so without parsing ls (SC2012)
  scripts/install-rust-ext.sh
Due: none

chore(build): install a built _rust .so through a new, re-signed inode (make install-ext) (#2910)
  CLAUDE.md
  Makefile
  scripts/install-rust-ext.sh
Due: none

fix(components): a class-level component's state change is seen by every change-detection snapshot (#2900)
  changelog.d/2900.fixed.md
  python/djust/change_detection.py
  python/djust/components/base.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_bound_component_skip_gate_2900.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/websocket.py
Due: pytest

fix(components): walk a State through dict.items; pin the fallback-sync path; changelog accuracy (review of #2911)
  changelog.d/2900.fixed.md
  python/djust/change_detection.py
  python/djust/tests/test_bound_component_skip_gate_2900.py
  python/djust/websocket.py
Due: pytest

fix(components): a class-level component's state change is seen by every change-detection snapshot (#2900) (#2911)
  changelog.d/2900.fixed.md
  python/djust/change_detection.py
  python/djust/components/base.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_bound_component_skip_gate_2900.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/websocket.py
Due: pytest

docs(changelog): fragment for the theming and component gallery fixes
  changelog.d/theming-gallery-defaults.fixed.md
Due: none

fix(gallery): theme the component gallery's chrome and adopt the project theme
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/components/gallery/views.py
  python/djust/tests/test_component_gallery_render.py
Due: pytest

fix(theming): restore the galleries' rendering, styling and theme defaults
  examples/demo_project/demo_project/settings.py
  python/djust/components/gallery/urls.py
  python/djust/components/gallery/views.py
  python/djust/tests/test_component_gallery_render.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/tests/test_theming_gallery_defaults.py
  python/djust/theming/context_processors.py
  python/djust/theming/gallery/views.py
  python/djust/theming/static/djust_theming/js/theme.js
  python/djust/theming/templates/djust_theming/gallery/diff.html
  python/djust/theming/templates/djust_theming/gallery/editor.html
  python/djust/theming/templates/djust_theming/gallery/gallery.html
  python/djust/theming/templates/djust_theming/gallery/storybook_base.html
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
  python/djust/theming/urls.py
Due: npm-test, pytest

fix(gallery): mount the components gallery's LiveViews and repair its links
  changelog.d/2893.fixed.md
  changelog.d/component-gallery-index-links.fixed.md
  python/djust/components/gallery/live_views.py
  python/djust/components/templates/djust_components/gallery/_base.html
  python/djust/components/templates/djust_components/gallery/category.html
  python/djust/components/templates/djust_components/gallery/index.html
  python/djust/tests/test_gallery_view_mount_path.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
