Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: #1642 — document assert_http_ws_djid_parity test harness
  CHANGELOG.md
  docs/website/guides/testing.md
Due: none

test(infra): assert_http_ws_djid_parity harness (#1642) (#1653)
  CHANGELOG.md
  docs/website/guides/testing.md
  python/djust/testing.py
  python/djust/tests/test_http_ws_djid_parity_1642.py
Due: pytest

docs(retro): milestone v1.0.0rc14 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

Bump version to 1.0.0rc14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(websocket): resolve live_redirect target view from URL, not client (#1647)
  python/djust/tests/test_live_redirect_mount_resolve_1647.py
  python/djust/websocket.py
  tests/redirect_mount_test_urls.py
Due: pytest

docs(changelog): #1647 — server-resolve live_redirect target view
  CHANGELOG.md
Due: none

fix(websocket): skip live_redirect view-override for back-nav state_snapshot (#1647)
  python/djust/tests/test_live_redirect_mount_resolve_1647.py
  python/djust/websocket.py
Due: pytest

fix(auth): wrap per-event check_handler_permission in sync_to_async (#1648)
  python/djust/websocket_utils.py
  tests/integration/test_handler_perm_async_wrap_1648.py
Due: pytest

docs(changelog): #1648 — handler-permission sync_to_async wrap
  CHANGELOG.md
Due: none

fix(auth): wrap per-event check_handler_permission in sync_to_async (#1648) (#1657)
  CHANGELOG.md
  python/djust/websocket_utils.py
  tests/integration/test_handler_perm_async_wrap_1648.py
Due: pytest

test(infra): empirical-canary for assert_http_ws_djid_parity (#1654)
  python/djust/tests/test_http_ws_djid_parity_1642.py
Due: pytest

test(infra): empirical-canary for assert_http_ws_djid_parity (#1654) (#1658)
  python/djust/tests/test_http_ws_djid_parity_1642.py
Due: pytest

test/refactor: strengthen drain guards — predicate, caller-count, deploy test (#1655)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/integration/test_scaffold_deploy_migrate_1655.py
  tests/js/significant_child_predicate_1655.test.js
  tests/unit/test_arm_recovery_helper_1645.py
Due: npm-test, pytest

test/refactor: strengthen drain guards — predicate, caller-count, deploy test (#1655) (#1659)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/integration/test_scaffold_deploy_migrate_1655.py
  tests/js/significant_child_predicate_1655.test.js
  tests/unit/test_arm_recovery_helper_1645.py
Due: npm-test, pytest

docs(roadmap): v1.1.0 backlog — #1660 (designed) + deferred enhancements
  ROADMAP.md
Due: none

Bump version to 1.0.0rc15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(theming): break cyclic-import SCC via leaf _config module (CodeQL #2351, #2357-#2362)
  python/djust/tests/test_theming_no_cyclic_import.py
  python/djust/theming/_config.py
  python/djust/theming/checks.py
  python/djust/theming/component_css_generator.py
  python/djust/theming/components.py
  python/djust/theming/css_generator.py
  python/djust/theming/manager.py
  python/djust/theming/pack_css_generator.py
  python/djust/theming/registry.py
  python/djust/theming/theme_css_generator.py
Due: pytest

feat(vdom): clean-room rebuild of diff.rs from test suite
  crates/djust_vdom/src/diff.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(vdom): harden diff.rs — duplicate keys, unkeyed moves, ref_d
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(vdom): pin known limitation — matched dj-if boundary not repositionable
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

vdom: clean-room rebuild of diff.rs from tests, hardened beyond the original (#1665)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(vdom): emit InsertChild.ref_d=None — positional guess mis-inserts under reorder
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(vdom): MoveSubtree — reposition matched dj-if boundaries (#1666)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/move_subtree_patch.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

feat(vdom): MoveSubtree — reposition matched dj-if boundaries (#1666) (#1668)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/test_diff_robustness_gaps.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/move_subtree_patch.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

test(vdom): apply-level regression pin for #1636 {% if %} 1/N patch failure
  CHANGELOG.md
  tests/js/insert_child_regular_comment_1636.test.js
Due: npm-test

test(vdom): apply-level regression pin for #1636 {% if %} 1/N patch failure (#1670)
  CHANGELOG.md
  tests/js/insert_child_regular_comment_1636.test.js
Due: npm-test

docs(roadmap): record #1669 VDOM compounding-reorder tail as accepted limitation
  ROADMAP.md
Due: none

docs(roadmap): record #1669 VDOM compounding-reorder tail as accepted limitation (#1671)
  ROADMAP.md
Due: none

fix(templates): honor runtime SafeString from custom filters (#1660)
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): #1660 runtime-SafeString filter fix + XSS hardening; drop from v1.1 backlog
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(templates): honor runtime SafeString from custom filters + XSS hardening (#1660) (#1673)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(dx): surface unallowlisted URL-routed LiveView at ship-time + runtime (#1674)
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/11-event-handler.js
  python/djust/testing.py
  python/djust/tests/checkviews_v005_1674.py
  python/djust/tests/test_assert_allowlisted_1674.py
  python/djust/tests/test_v005_routed_allowlist_1674.py
  tests/js/http_fallback_warning_1674.test.js
Due: npm-test, pytest

docs(changelog): #1674 unallowlisted routed-LiveView DX signal
  CHANGELOG.md
Due: none

fix(dx): surface unallowlisted URL-routed LiveView at ship-time + runtime (#1674) (#1675)
  CHANGELOG.md
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/11-event-handler.js
  python/djust/testing.py
  python/djust/tests/checkviews_v005_1674.py
  python/djust/tests/test_assert_allowlisted_1674.py
  python/djust/tests/test_v005_routed_allowlist_1674.py
  tests/js/http_fallback_warning_1674.test.js
Due: npm-test, pytest

Bump version to 1.0.0rc16
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

fix(client): keep function names in minified bundle to fix cross-module ReferenceError (#1676)
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/js/min_bundle_applypatches_1676.test.js
Due: npm-test

docs: #1676 changelog + v1.0.0rc17 post-rc16 bug-drain milestone
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(client): keep fnames in minified bundle — fixes prod ReferenceError (#1676) (#1679)
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/js/min_bundle_applypatches_1676.test.js
Due: npm-test

fix(components): emit dj-key anchors on kanban_board cards + columns (#1678)
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_kanban_djkey_1678.py
Due: pytest

docs(changelog): #1678 kanban_board dj-key anchors
  CHANGELOG.md
Due: none
