Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

security: guard template error details behind DEBUG in SimpleLiveView
  python/djust/simple_live_view.py
Due: pytest

security: remove exception string from error response in demo views_old
  examples/demo_project/demo_app/views_old.py
Due: pytest

security: add codeql suppression comments for server-trust false positives
  python/djust/mixins/request.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
Due: npm-test, pytest

security: address remaining CodeQL high and medium severity findings (#385)
  examples/demo_project/demo_app/views_old.py
  python/djust/mixins/request.py
  python/djust/simple_live_view.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
Due: npm-test, pytest

fix: add super().__init__() calls to all component and backend subclasses
  examples/demo_project/djust_rentals/components/data_table.py
  examples/demo_project/djust_rentals/components/page_header.py
  examples/demo_project/djust_rentals/components/stat_card.py
  examples/demo_project/djust_rentals/components/status_badge.py
  examples/demo_project/djust_shared/components/code_highlighting.py
  examples/demo_project/djust_shared/components/ui.py
  examples/marketing_site/marketing/components/code_block.py
  python/djust/tenants/backends.py
Due: pytest

fix: add super().__init__() calls to all component and backend subclasses (#386)
  examples/demo_project/djust_rentals/components/data_table.py
  examples/demo_project/djust_rentals/components/page_header.py
  examples/demo_project/djust_rentals/components/stat_card.py
  examples/demo_project/djust_rentals/components/status_badge.py
  examples/demo_project/djust_shared/components/code_highlighting.py
  examples/demo_project/djust_shared/components/ui.py
  examples/marketing_site/marketing/components/code_block.py
  python/djust/tenants/backends.py
Due: pytest

fix: remove unused import and fix render_full_template signature mismatch
  examples/demo_project/demo_app/views/no_template_demo.py
  examples/demo_project/djust_rentals/components/data_table.py
Due: pytest

fix: remove unused import and fix render_full_template signature mismatch (#387)
  examples/demo_project/demo_app/views/no_template_demo.py
  examples/demo_project/djust_rentals/components/data_table.py
Due: pytest

docs: add getting-started guide, VDOM architecture, template cheatsheet, and CSS framework guide
  Cargo.lock
  README.md
  docs/website/advanced/vdom-architecture.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/template-cheatsheet.md
  python/tests/test_docs_completeness.py
Due: pytest

fix: detect {% if %} inside attribute values to prevent VDOM path index shifts
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
  docs/RUST_TEMPLATE_API.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: remove compile-time rejection of {% if %} in attribute values
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

style: cargo fmt
  crates/djust_templates/tests/test_inline_conditionals.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat: security fixes, type stubs, docs improvements, and test isolation fixes (#390)
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
  docs/RUST_TEMPLATE_API.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: add system-checks reference doc (37 checks, C/V/S/T/Q)
  docs/README.md
  docs/system-checks.md
Due: none

fix(checks): reduce false positives in V004, T013, V008; document T011
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

docs: system checks reference + fix V004/T013/V008 false positives (#398)
  docs/README.md
  docs/system-checks.md
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

Bump version to 0.3.5rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

feat: add djust-deploy CLI for djustlive.com deployments
  CHANGELOG.md
  pyproject.toml
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix: make InsertChild/RemoveChild patches use ID-based resolution
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/insert_remove_child_id.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

fix: address PR review findings
  CHANGELOG.md
  Cargo.lock
  crates/djust_vdom/src/diff.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: resolve rebase conflicts and fix dj-id attribute name
  crates/djust_vdom/src/diff.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/insert_remove_child_id.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

fix: replace unused map with forEach in test
  tests/js/insert_remove_child_id.test.js
Due: npm-test

fix: ID-based resolution for InsertChild/RemoveChild patches (#411)
  CHANGELOG.md
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/insert_remove_child_id.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

Bump version to 0.3.5rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: address PR #405 review findings
  pyproject.toml
  python/djust/deploy_cli.py
Due: pytest

chore: update Cargo.lock after version bump
  Cargo.lock
Due: none

docs: add djust-deploy CLI guide
  docs/website/guides/djust-deploy.md
  docs/website/index.md
Due: none

refactor: remove --server flag from djust-deploy CLI
  CHANGELOG.md
  docs/website/guides/djust-deploy.md
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

feat: add djust-deploy CLI for djustlive.com deployments (#405)
  CHANGELOG.md
  Cargo.lock
  docs/website/guides/djust-deploy.md
  docs/website/index.md
  pyproject.toml
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix: remove compile-time rejection of {% if %} in attribute values
  crates/djust_templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: detect {% if %} inside attribute values to prevent VDOM path index shifts
  crates/djust_templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: reduce false positives in V008, Q010, and T013 system checks
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

fix: VDOM parser now finds dj-root in full-page templates during live_redirect
  CHANGELOG.md
  crates/djust_vdom/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: correct docs claiming {% if %} in attributes is a compile-time error
  CHANGELOG.md
  docs/RUST_TEMPLATE_API.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
Due: none

fix: use non-service names in V008 tests to avoid V006 dedup filter
  python/tests/test_checks.py
Due: pytest

style: cargo fmt parser.rs
  crates/djust_vdom/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: VDOM parser finds dj-root in full-page templates during live_redirect (#409)
  CHANGELOG.md
  crates/djust_vdom/src/parser.rs
  docs/RUST_TEMPLATE_API.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  python/djust/checks.py
  python/tests/test_checks.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: include dj-if placeholder comments in getSignificantChildren (#369) (#373)
  python/djust/static/djust/client.js
Due: npm-test

fix: handle #comment vnode in createNodeFromVNode (#374)
  python/djust/static/djust/client.js
Due: npm-test

chore: mark data.type nav fallback for deprecation and update CHANGELOG for #292 (#372)
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
