Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(cli): promote `djust deploy` to a first-class subcommand (#1347)
  pyproject.toml
  python/djust/cli.py
  python/djust/deploy_cli.py
Due: pytest

fix: address 2 real CodeQL findings (#1343)
  python/djust/deploy_cli.py
  python/djust/websocket.py
  tests/unit/test_sw_advanced.py
Due: pytest

docs(changelog): note CodeQL #1343 fixes (mixed-tuple-returns + empty-except)
  CHANGELOG.md
Due: none

fix: address 2 real CodeQL findings (#1343) (#1349)
  CHANGELOG.md
  python/djust/deploy_cli.py
  python/djust/websocket.py
  tests/unit/test_sw_advanced.py
Due: pytest

fix: explanatory comment on cli.py ImportError handler (#1343)
  python/djust/cli.py
Due: pytest

fix: explanatory comment on cli.py ImportError handler (#1343) (#1350)
  python/djust/cli.py
Due: pytest

docs(roadmap): mark v0.9.3-6 drain bucket complete ✅
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.3-6 + action tracker update
  RETRO.md
Due: none

Bump version to 0.9.3rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix(transitions): respect CSS transition-duration; await all transitionend events
  python/djust/static/djust/src/41-dj-transition.js
  python/djust/static/djust/src/42-dj-remove.js
Due: npm-test

docs(roadmap): commission v0.9.3-7 drain — state-backend safety pair (#1353 + #1354)
  ROADMAP.md
Due: none

fix: state-backend safety pair (#1353 + #1354)
  python/djust/mixins/rust_bridge.py
  python/djust/state_backends/registry.py
  python/djust/utils.py
  python/tests/test_rust_bridge_concurrent.py
  python/tests/test_state_backend_config.py
Due: pytest

docs(changelog): note state-backend safety pair fixes (#1353 + #1354)
  CHANGELOG.md
Due: none

fix: address Stage 11 findings — clone cached RustLiveView (#1353)
  python/djust/mixins/rust_bridge.py
  python/djust/state_backends/memory.py
  python/djust/utils.py
  python/tests/test_rust_bridge_concurrent.py
  python/tests/test_state_backend_config.py
Due: pytest

docs(changelog): revise #1353 entry to reflect address-findings fix
  CHANGELOG.md
Due: none

fix: state-backend safety pair (#1353 + #1354) (#1355)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/state_backends/memory.py
  python/djust/state_backends/registry.py
  python/djust/utils.py
  python/tests/test_rust_bridge_concurrent.py
  python/tests/test_state_backend_config.py
Due: pytest

docs(roadmap): mark v0.9.3-7 drain bucket complete ✅
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.3-7 + action tracker row #223
  RETRO.md
Due: none

fix(db.notifications): stop retrying permanent failures forever
  python/djust/db/notifications.py
  python/djust/tests/test_notifications_permanent_failure.py
Due: pytest

docs(changelog): note dj-transition (#1348) + db.notifications fixes
  CHANGELOG.md
Due: none

fix: db.notifications permanent-failure handling + dj-transition CSS-duration (#1348) (#1357)
  CHANGELOG.md
  python/djust/db/notifications.py
  python/djust/static/djust/src/41-dj-transition.js
  python/djust/static/djust/src/42-dj-remove.js
  python/djust/tests/test_notifications_permanent_failure.py
Due: npm-test, pytest

docs(roadmap): commission v0.9.3-8 — eslint warnings cleanup (#1351)
  ROADMAP.md
Due: none

docs(changelog): note bundle eslint cleanup (#1351)
  CHANGELOG.md
Due: none

docs(roadmap+retro): close v0.9.3-8 ✅ — eslint cleanup #1351 (PR #1359)
  RETRO.md
  ROADMAP.md
Due: none

docs(roadmap): commission v0.9.4-1 — keyed VDOM diff for conditional subtrees (#1358)
  ROADMAP.md
Due: none

feat: {% if %} blocks emit dj-if boundary markers (Foundation 1 of #1358)
  Cargo.lock
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_vdom/src/parser.rs
  python/tests/test_template_if_markers.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): note dj-if marker emission (Foundation 1 of #1358)
  CHANGELOG.md
Due: none

fix: address Stage 11 findings — ID prefix + csrf_token + client filter (#1358 Iter 1)
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_vdom/src/parser.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  python/tests/test_template_if_markers.py
  tests/js/dj_if_comment_predicate.test.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

docs(changelog): revise dj-if marker entry per Stage 11 findings (#1358 Iter 1)
  CHANGELOG.md
Due: none

feat: {% if %} blocks emit dj-if boundary markers (Foundation 1 of #1358) (#1363)
  CHANGELOG.md
  Cargo.lock
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_vdom/src/parser.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  python/tests/test_template_if_markers.py
  tests/js/dj_if_comment_predicate.test.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

docs(roadmap): mark v0.9.4-1 Iter 1 ✅ — dj-if marker emission shipped (PR #1363)
  ROADMAP.md
Due: none

feat(client): RemoveSubtree + InsertSubtree patch types (Foundation 2 of #1358)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj_if_subtree_patches.test.js
Due: npm-test

docs(changelog): note client patch types (Foundation 2 of #1358)
  CHANGELOG.md
Due: none

feat(client): RemoveSubtree + InsertSubtree patch types (Foundation 2 of #1358) (#1364)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj_if_subtree_patches.test.js
Due: npm-test

docs(roadmap): mark v0.9.4-1 Iter 2 ✅ — client patch types shipped (PR #1364)
  ROADMAP.md
Due: none

feat(vdom): keyed diff for {% if %} conditional subtrees (Capability of #1358)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/test_dj_if_keyed_diff_1358.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): keyed VDOM diff for {% if %} subtrees (#1358 capability)
  CHANGELOG.md
Due: none
