Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(components): TableComponent's sortable header is a decorated, routed handler; pin extended to every component package (#2776)
  python/djust/components/data/pagination.py
  python/djust/components/data/table.py
  python/djust/components/forms/foreign_key.py
  python/djust/components/layout/tabs.py
  python/djust/tests/test_table_sort_handler_2776.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

docs(changelog): fragment for #2776
  changelog.d/2776.fixed.md
Due: none

fix(components): TableComponent's sortable header is a decorated, routed handler; pin extended to every component package (#2776) (#2777)
  changelog.d/2776.fixed.md
  python/djust/components/data/pagination.py
  python/djust/components/data/table.py
  python/djust/components/forms/foreign_key.py
  python/djust/components/layout/tabs.py
  python/djust/tests/test_table_sort_handler_2776.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

fix(components): TableComponent selection is wired and routed; sortable headers say so; trigger_update reaches the parent render (#2779, #2778)
  docs/website/api-reference/components.md
  python/djust/components/base.py
  python/djust/components/data/table.py
  python/djust/components/icons.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/tests/test_table_selection_2779.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

docs(changelog): fragments for #2779 (table selection) and #2778 (sortable affordance)
  changelog.d/2778.added.md
  changelog.d/2779.fixed.md
Due: none

fix(components): TableComponent selection is wired and routed; sortable headers say so; trigger_update reaches the parent render (#2779, #2778) (#2780)
  changelog.d/2778.added.md
  changelog.d/2779.fixed.md
  docs/website/api-reference/components.md
  python/djust/components/base.py
  python/djust/components/data/table.py
  python/djust/components/icons.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/tests/test_table_selection_2779.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

feat(components): TableComponent filters — a global input and per-column inputs, mirroring DataTableMixin (#2782)
  python/djust/components/data/table.py
  python/djust/tests/test_table_filter_2782.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

docs(components): TableComponent filter section + changelog fragment (#2782)
  changelog.d/2782.added.md
  docs/website/api-reference/components.md
Due: none

feat(components): TableComponent filters — a global input and per-column inputs, mirroring DataTableMixin (#2782) (#2783)
  changelog.d/2782.added.md
  docs/website/api-reference/components.md
  python/djust/components/data/table.py
  python/djust/tests/test_table_filter_2782.py
  python/djust/tests/test_ui_dismiss_handlers_2756.py
Due: pytest

docs(changelog): select-tests.py manual-only-dir exclusion fixed (#2781)
  changelog.d/2781-select-tests.fixed.md
Due: none

fix(components): TableComponent row checkboxes carry identity via dj-value-row-id, not data-row-id (#2781)
  examples/demo_project/djust_demos/templates/demos/table_select.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/table_select_demo.py
  python/djust/components/data/table.py
  python/djust/tests/test_table_selection_2779.py
  tests/js/table_select_dj_value_2781.test.js
  tests/playwright/test_table_select.py
Due: npm-test, pytest

fix(ci): select-tests.py never names a tests/playwright or tests/js file (#2781)
  scripts/select-tests.py
  tests/unit/test_select_tests.py
Due: pytest

docs(changelog): TableComponent selectable checkboxes fixed (#2781)
  changelog.d/2781.fixed.md
Due: none

fix(components): test_table_filter_2782.py reads dj-value-row-id, not data-row-id (#2781)
  python/djust/tests/test_table_filter_2782.py
Due: pytest

fix(components): TableComponent row checkbox identity via dj-value-row-id, not data-row-id (#2781) (#2784)
  changelog.d/2781-select-tests.fixed.md
  changelog.d/2781.fixed.md
  examples/demo_project/djust_demos/templates/demos/table_select.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/table_select_demo.py
  python/djust/components/data/table.py
  python/djust/tests/test_table_filter_2782.py
  python/djust/tests/test_table_selection_2779.py
  scripts/select-tests.py
  tests/js/table_select_dj_value_2781.test.js
  tests/playwright/test_table_select.py
  tests/unit/test_select_tests.py
Due: npm-test, pytest

fix(tests): retire a tautological cross-backend registry-sharing test (#2785)
  python/tests/test_load_imports_django_libraries_2547.py
Due: pytest

docs(changelog): fragment for #2785
  changelog.d/2785.fixed.md
Due: none

test: reduce repeated build and exhaustive-render overhead
  .github/workflows/test.yml
  Makefile
  changelog.d/test-performance.fixed.md
  docs/development/CI_OPTIMIZATION.md
  python/tests/test_truncate_slugify_parity_2262.py
  tests/test_ci_python_test_roots.py
Due: pytest

test: preserve the single build through later CI steps
  .github/workflows/test.yml
  docs/development/CI_OPTIMIZATION.md
Due: none

fix(tests): retire a tautological cross-backend registry-sharing test (#2785) (#2786)
  changelog.d/2785.fixed.md
  python/tests/test_load_imports_django_libraries_2547.py
Due: pytest

fix(templates): break the backend/template_libraries import cycle CodeQL flags (#2847)
  python/djust/template/backend.py
  python/djust/template_libraries.py
  python/djust/tests/test_cyclic_import_2847.py
Due: pytest

docs(changelog): fragment for #2847
  changelog.d/2847.fixed.md
Due: none

test: run expensive local checks only before push
  .pre-commit-config.yaml
  changelog.d/test-performance.fixed.md
  docs/development/CI_OPTIMIZATION.md
Due: none

test: align scheduled CI with the single-build recipe
  .github/workflows/main-health.yml
  docs/development/CI_OPTIMIZATION.md
  tests/test_main_health_workflow_2139.py
Due: pytest

fix(templates): break the backend/template_libraries import cycle CodeQL flags (#2847) (#2789)
  changelog.d/2847.fixed.md
  python/djust/template/backend.py
  python/djust/template_libraries.py
  python/djust/tests/test_cyclic_import_2847.py
Due: pytest

test: eliminate duplicate native builds and batch exhaustive Unicode checks (#2787)
  .github/workflows/main-health.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  changelog.d/test-performance.fixed.md
  docs/development/CI_OPTIMIZATION.md
  python/tests/test_truncate_slugify_parity_2262.py
  tests/test_ci_python_test_roots.py
  tests/test_main_health_workflow_2139.py
Due: pytest

test: avoid repeated doctor builds and shard collections
  Makefile
  changelog.d/test-harness-performance.fixed.md
  docs/development/CI_OPTIMIZATION.md
  python/djust/tests/test_make_doctor_2061.py
  scripts/collect-test-shards.py
  tests/test_ci_python_test_shards.py
  tests/test_collect_test_shards.py
Due: pytest

test: avoid repeated doctor builds and shard collections (#2790)
  Makefile
  changelog.d/test-harness-performance.fixed.md
  docs/development/CI_OPTIMIZATION.md
  python/djust/tests/test_make_doctor_2061.py
  scripts/collect-test-shards.py
  tests/test_ci_python_test_shards.py
  tests/test_collect_test_shards.py
Due: pytest

test: share full corpus work across CI readers
  .test_durations
  Makefile
  changelog.d/corpus-sharing.fixed.md
  conftest.py
  docs/development/CI_OPTIMIZATION.md
  python/tests/conftest.py
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_refusal_collapsed_agreement_2454.py
  scripts/collect-test-shards.py
  tests/corpus_shards.py
  tests/test_ci_python_test_shards.py
  tests/test_corpus_shards.py
Due: pytest

test: budget occupied workers when balancing shared corpus
  .test_durations
  docs/development/CI_OPTIMIZATION.md
  tests/corpus_shards.py
  tests/test_ci_python_test_shards.py
  tests/test_corpus_shards.py
Due: pytest

test: share full corpus work across CI readers (#2791)
  .test_durations
  Makefile
  changelog.d/corpus-sharing.fixed.md
  conftest.py
  docs/development/CI_OPTIMIZATION.md
  python/tests/conftest.py
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_refusal_collapsed_agreement_2454.py
  scripts/collect-test-shards.py
  tests/corpus_shards.py
  tests/test_ci_python_test_shards.py
  tests/test_corpus_shards.py
Due: pytest

fix: preserve model data and scoped paths in JIT serialization
  changelog.d/jit-model-data.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  docs/JIT_SERIALIZATION_PATTERN.md
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
  python/djust/optimization/query_optimizer.py
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_jit_data_regressions.py
  python/tests/test_template_variable_extraction.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve form drafts across reconnect mounts
  changelog.d/2801.fixed.md
  docs/ai/forms.md
  docs/website/guides/forms.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/automount-embedded-root-2632.test.js
  tests/js/form-recovery.test.js
  tests/js/reconnect-mount-form-values-2801.test.js
Due: npm-test

test: isolate auth sockets from hot-reload broadcasts
  changelog.d/2788.fixed.md
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest

feat: add table captions footers and CSS class hooks
  changelog.d/2792.added.md
  docs/ai/components.md
  docs/website/api-reference/components.md
  python/djust/components/data/table.py
  python/djust/tests/test_table_presentation_2792.py
Due: pytest

fix: preserve model data and scoped paths in JIT serialization (#2806)
  changelog.d/jit-model-data.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  docs/JIT_SERIALIZATION_PATTERN.md
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
  python/djust/optimization/query_optimizer.py
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_jit_data_regressions.py
  python/tests/test_template_variable_extraction.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve form drafts across reconnect mounts (#2807)
  changelog.d/2801.fixed.md
  docs/ai/forms.md
  docs/website/guides/forms.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/automount-embedded-root-2632.test.js
  tests/js/form-recovery.test.js
  tests/js/reconnect-mount-form-values-2801.test.js
Due: npm-test

test: isolate auth sockets from hot-reload broadcasts (#2808)
  changelog.d/2788.fixed.md
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest
