Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(vdom): Match unkeyed children by relative position, not absolute index
  crates/djust_vdom/src/diff.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

dx: Warn developers about mixed keyed/unkeyed children
  crates/djust_vdom/src/diff.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

dx: Bridge debug_vdom Django config to Rust VDOM tracing
  python/djust/config.py
Due: pytest

docs: Update VDOM tracing guide for config bridge and relative matching
  docs/VDOM_TRACING.md
Due: none

fix: Address review findings for PR #97
  crates/djust_vdom/src/diff.rs
  docs/VDOM_TRACING.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: Stamp data-dj-id attrs on pre-rendered DOM instead of replacing innerHTML
  python/djust/static/djust/client.js
  tests/js/whitespace.test.js
Due: npm-test

fix(vdom): Never remove dj-* event handler attributes
  crates/djust_vdom/src/diff.rs
  python/djust/static/djust/client.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

deps: Upgrade vitest from 2.x to 4.x
  package-lock.json
  package.json
Due: none

deps: Upgrade html5ever from 0.27 to 0.36, markup5ever_rcdom from 0.3 to 0.36
  Cargo.lock
  Cargo.toml
Due: none

fix(templates): Add and/or boolean operator support in {% if %} conditions
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test: Add precedence and chaining tests for and/or operators
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(templates): Add "in" operator support for {% if %} conditions
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: Serialize lists of Model instances on GET requests
  python/djust/live_view.py
Due: pytest

chore: Release v0.2.0
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

feat(security): Add three-layer WebSocket event security hardening
  python/djust/__init__.py
  python/djust/config.py
  python/djust/decorators.py
  python/djust/rate_limit.py
  python/djust/security/__init__.py
  python/djust/security/event_guard.py
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Address PR review findings for WebSocket security hardening
  python/djust/rate_limit.py
  python/djust/security/event_guard.py
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Remove blocklist, rely on @event allowlist as primary access control
  python/djust/config.py
  python/djust/security/__init__.py
  python/djust/security/event_guard.py
  tests/unit/test_event_security.py
Due: pytest

Sanitize rate limit logs, fix message size check, extract helper
  python/djust/rate_limit.py
  python/djust/websocket.py
Due: pytest

Fix flaky test: accept Rust VDOM None for unchanged values
  python/tests/test_rapid_input_events.py
Due: pytest

Optimize message size check, fix first-call rate limiting, add tests
  python/djust/rate_limit.py
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Fix docstring and fallback default in event security helpers
  python/djust/websocket.py
Due: pytest

docs: Add WebSocket event security hardening documentation
  CHANGELOG.md
  docs/EVENT_HANDLERS.md
  docs/SECURITY_GUIDELINES.md
Due: none

docs: Mention _allowed_events in best practices checklist
  docs/EVENT_HANDLERS.md
Due: none

Add explanatory comment to empty except clause
  python/tests/test_rapid_input_events.py
Due: pytest

Apply rate limiting to all WebSocket message types
  python/djust/rate_limit.py
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

fix: Add @event_handler() to loading test view handlers
  examples/demo_project/demo_app/views/loading_test.py
  examples/demo_project/djust_tests/views/loading_test.py
Due: pytest

fix: Add @event_handler() to all test view handlers
  examples/demo_project/demo_app/views/cache_test.py
  examples/demo_project/demo_app/views/draft_mode_test.py
  examples/demo_project/djust_tests/views/cache_test.py
  examples/demo_project/djust_tests/views/draft_mode_test.py
Due: pytest

Fix message size check to use byte count, not char count (#111)
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

ci: Parallelize independent CI jobs and cache cargo-audit
  .github/workflows/test.yml
Due: none

Validate event_security and rate_limit config values on startup
  python/djust/config.py
  tests/unit/test_event_security.py
Due: pytest

Use tuple for deterministic log output, add production warning tests
  python/djust/config.py
  tests/unit/test_event_security.py
Due: pytest

Add comment to empty except clause in _safe_error
  python/djust/websocket.py
Due: pytest

Prevent WebSocket error messages from leaking internal details
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Show LiveView server errors in debug toolbar and fix toolbar on TurboNav
  python/djust/live_view.py
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/client.js
  python/tests/test_debug_panel.py
Due: npm-test, pytest

Fix client.js initialization when loaded dynamically via TurboNav
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/client.js
  python/djust/websocket.py
Due: npm-test, pytest

Fix actor path bypassing Python security checks (#106)
  python/djust/websocket.py
  tests/unit/test_event_security.py
Due: pytest

Extract shared _validate_event_security helper, add param validation to actor path
  python/djust/websocket.py
Due: pytest

docs: Add project roadmap
  ROADMAP.md
Due: none
