Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: RETRO #17 — document Path A decision (no PyPI publish for sibling shims)
  RETRO.md
Due: none

docs: dj-remove gotcha + dj-transition-group precedence + Django classifiers + dj-virtual guide (closes #902, #907, #912, #952)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/virtual-lists.md
  docs/website/index.md
  pyproject.toml
Due: none

docs: dj-remove gotcha + dj-transition-group precedence + Django classifiers + dj-virtual guide (closes #902, #907, #912, #952) (#954)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/virtual-lists.md
  docs/website/index.md
  pyproject.toml
Due: none

cleanup: hygiene batch — ruff bump + format drift + suspense nits + data-hook escape (closes #791, #794, #795, #818, #948)
  .pre-commit-config.yaml
  CHANGELOG.md
  python/djust/components/suspense.py
  python/djust/mixins/request.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_observability_dry_run.py
  python/djust/tests/test_tag_input_932.py
  python/djust/tests/test_template_resolution.py
  python/djust/tests/test_theming_cross_theme_qa.py
  python/djust/tests/test_theming_css_layers.py
  python/djust/tests/test_theming_manifest.py
  python/djust/tests/test_theming_palette.py
  python/djust/tests/test_websocket_lifecycle_hooks.py
  tests/test_query_optimizer_integration.py
  tests/test_rust_vdom_safe_diff_783.py
  tests/unit/test_assign_async.py
  tests/unit/test_client_minified.py
  tests/unit/test_colocated_hook_tag.py
  tests/unit/test_context_processor_caching.py
  tests/unit/test_forms.py
  tests/unit/test_jit_short_circuit.py
  tests/unit/test_serialize_model.py
  tests/unit/test_tenants.py
Due: pytest

cleanup: hygiene batch — ruff bump + format drift + suspense nits + data-hook escape (closes #791, #794, #795, #818, #948) (#955)
  .pre-commit-config.yaml
  CHANGELOG.md
  python/djust/components/suspense.py
  python/djust/mixins/request.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_observability_dry_run.py
  python/djust/tests/test_tag_input_932.py
  python/djust/tests/test_template_resolution.py
  python/djust/tests/test_theming_cross_theme_qa.py
  python/djust/tests/test_theming_css_layers.py
  python/djust/tests/test_theming_manifest.py
  python/djust/tests/test_theming_palette.py
  python/djust/tests/test_websocket_lifecycle_hooks.py
  tests/test_query_optimizer_integration.py
  tests/test_rust_vdom_safe_diff_783.py
  tests/unit/test_assign_async.py
  tests/unit/test_client_minified.py
  tests/unit/test_colocated_hook_tag.py
  tests/unit/test_context_processor_caching.py
  tests/unit/test_forms.py
  tests/unit/test_jit_short_circuit.py
  tests/unit/test_serialize_model.py
  tests/unit/test_tenants.py
Due: pytest

fix: tag_input JSON payload + dj-virtual data-key cache + shared JSDOM helpers (closes #949, #951, #953)
  CHANGELOG.md
  python/djust/components/components/tag_input.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/29-virtual-list.js
  python/djust/tests/test_tag_input_932.py
  scripts/build-client.sh
  tests/js/_helpers.js
  tests/js/dj_mutation.test.js
  tests/js/dj_remove.test.js
  tests/js/dj_transition_group.test.js
  tests/js/virtual_list.test.js
Due: npm-test, pytest

fix: tag_input JSON payload + dj-virtual data-key cache + shared JSDOM helpers (closes #949, #951, #953) (#956)
  CHANGELOG.md
  python/djust/components/components/tag_input.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/29-virtual-list.js
  python/djust/tests/test_tag_input_932.py
  scripts/build-client.sh
  tests/js/_helpers.js
  tests/js/dj_mutation.test.js
  tests/js/dj_remove.test.js
  tests/js/dj_transition_group.test.js
  tests/js/virtual_list.test.js
Due: npm-test, pytest

docs(roadmap): add v0.5.7 milestone — deployment ergonomics + upload features
  ROADMAP.md
Due: none

fix(framework): A010 proxy-trusted deployments + get_state() internal-attr filter (closes #762, #890)
  CHANGELOG.md
  docs/website/guides/deployment.md
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/post_processing.py
  python/djust/tests/test_a010_proxy_trusted_890.py
  python/djust/tests/test_get_state_filter_762.py
  python/djust/websocket.py
Due: pytest

fix(framework): A010 proxy-trusted deployments + get_state() internal-attr filter (closes #762, #890) (#957)
  CHANGELOG.md
  docs/website/guides/deployment.md
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/post_processing.py
  python/djust/tests/test_a010_proxy_trusted_890.py
  python/djust/tests/test_get_state_filter_762.py
  python/djust/websocket.py
Due: pytest

feat(uploads): S3 presigned PUT + GCS/Azure writers (v0.5.7 — closes #820, #822)
  CHANGELOG.md
  Cargo.lock
  pyproject.toml
  python/djust/contrib/__init__.py
  python/djust/contrib/uploads/__init__.py
  python/djust/contrib/uploads/azure.py
  python/djust/contrib/uploads/errors.py
  python/djust/contrib/uploads/gcs.py
  python/djust/contrib/uploads/s3_events.py
  python/djust/contrib/uploads/s3_presigned.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/15-uploads.js
  python/djust/tests/test_azure_upload_writer_822.py
  python/djust/tests/test_gcs_upload_writer_822.py
  python/djust/tests/test_presigned_s3_820.py
  python/djust/uploads.py
  uv.lock
Due: npm-test, pytest

feat(uploads): S3 presigned PUT + GCS/Azure writers (v0.5.7 — closes #820, #822) (#958)
  CHANGELOG.md
  Cargo.lock
  pyproject.toml
  python/djust/contrib/__init__.py
  python/djust/contrib/uploads/__init__.py
  python/djust/contrib/uploads/azure.py
  python/djust/contrib/uploads/errors.py
  python/djust/contrib/uploads/gcs.py
  python/djust/contrib/uploads/s3_events.py
  python/djust/contrib/uploads/s3_presigned.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/15-uploads.js
  python/djust/tests/test_azure_upload_writer_822.py
  python/djust/tests/test_gcs_upload_writer_822.py
  python/djust/tests/test_presigned_s3_820.py
  python/djust/uploads.py
  uv.lock
Due: npm-test, pytest

feat(uploads): resumable uploads across WebSocket disconnects (v0.5.7 — closes #821)
  CHANGELOG.md
  docs/adr/010-resumable-uploads.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/tests/test_resumable_uploads_821.py
  python/djust/uploads/__init__.py
  python/djust/uploads/resumable.py
  python/djust/uploads/storage.py
  python/djust/uploads/views.py
  python/djust/websocket.py
  tests/js/upload_resume.test.js
Due: npm-test, pytest

test(uploads): fix test_uploads.py import path after uploads.py → uploads/__init__.py
  python/tests/test_uploads.py
Due: pytest

fix: address PR #959 CI failures (coverage + CodeQL)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/15-uploads.js
  python/djust/uploads/__init__.py
  python/djust/uploads/storage.py
  python/djust/uploads/views.py
  tests/unit/test_security_error_handling.py
  tests/unit/test_security_upload_resumable.py
Due: npm-test, pytest

feat(uploads): resumable uploads across WebSocket disconnects (v0.5.7 — closes #821) (#959)
  CHANGELOG.md
  docs/adr/010-resumable-uploads.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/tests/test_resumable_uploads_821.py
  python/djust/uploads/__init__.py
  python/djust/uploads/resumable.py
  python/djust/uploads/storage.py
  python/djust/uploads/views.py
  python/djust/websocket.py
  python/tests/test_uploads.py
  tests/js/upload_resume.test.js
  tests/unit/test_security_error_handling.py
  tests/unit/test_security_upload_resumable.py
Due: npm-test, pytest

docs: milestone retro v0.5.7 + action tracker update (rows 100-104)
  RETRO.md
Due: none

Bump version to 0.5.7rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(animations): FLIP list-reorder + djust_skeleton shimmer placeholder (v0.6.0 phase 2d — animations milestone complete)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/loading-states.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/44-dj-flip.js
  python/djust/templatetags/live_tags.py
  tests/js/dj_flip.test.js
  tests/unit/test_djust_skeleton_tag.py
Due: npm-test, pytest

docs: sync CHANGELOG + ROADMAP test counts for PR #965 (address Stage 11 🟡)
  CHANGELOG.md
  ROADMAP.md
Due: none

feat(animations): FLIP list-reorder + djust_skeleton shimmer placeholder (v0.6.0 phase 2d — animations milestone complete) (#965)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/loading-states.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/44-dj-flip.js
  python/djust/templatetags/live_tags.py
  tests/js/dj_flip.test.js
  tests/unit/test_djust_skeleton_tag.py
Due: npm-test, pytest

feat(live-render): embedded LiveView primitive — {% live_render %} tag + StickyChildRegistry mixin (v0.6.0 Phase A of Sticky LiveViews)
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/45-child-view.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/js/child_view.test.js
  tests/unit/test_live_render_tag.py
  uv.lock
Due: npm-test, pytest

security(live-render): accept `</script\s*>` in masking regex (CodeQL py/bad-html-filtering-regexp on PR #966)
  python/djust/templatetags/live_tags.py
Due: pytest

security(live-render): accept full HTML5 script-close grammar `</script[^>]*>` (second CodeQL iteration)
  python/djust/templatetags/live_tags.py
Due: pytest

feat(live-render): embedded LiveView primitive — {% live_render %} tag + StickyChildRegistry mixin (v0.6.0 Phase A of Sticky LiveViews) (#966)
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/45-child-view.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/js/child_view.test.js
  tests/unit/test_live_render_tag.py
  uv.lock
Due: npm-test, pytest

feat(sticky): sticky LiveViews — preservation across live_redirect (v0.6.0 Phase B of Sticky LiveViews)
  CHANGELOG.md
  python/djust/auth/__init__.py
  python/djust/auth/core.py
  python/djust/live_view.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/24-page-loading.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/static/djust/src/45-child-view.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/integration/test_sticky_redirect_flow.py
  tests/js/child_view.test.js
  tests/js/sticky_preserve.test.js
  tests/unit/test_sticky_preserve.py
Due: npm-test, pytest

feat(sticky): sticky LiveViews — preservation across live_redirect (v0.6.0 Phase B of Sticky LiveViews) (#967)
  CHANGELOG.md
  python/djust/auth/__init__.py
  python/djust/auth/core.py
  python/djust/live_view.py
  python/djust/mixins/sticky.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/24-page-loading.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/static/djust/src/45-child-view.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/integration/test_sticky_redirect_flow.py
  tests/js/child_view.test.js
  tests/js/sticky_preserve.test.js
  tests/unit/test_sticky_preserve.py
Due: npm-test, pytest

feat(sticky): ADR-011 + user guide + demo + latent fixes (v0.6.0 Phase C — closes Sticky LiveViews milestone)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/011-sticky-liveviews.md
  docs/website/_config.yaml
  docs/website/guides/sticky-liveviews.md
  docs/website/index.md
  examples/demo_project/sticky_demo/README.md
  examples/demo_project/sticky_demo/__init__.py
  examples/demo_project/sticky_demo/apps.py
  examples/demo_project/sticky_demo/templates/sticky_demo/audio_player.html
  examples/demo_project/sticky_demo/templates/sticky_demo/base.html
  examples/demo_project/sticky_demo/templates/sticky_demo/dashboard.html
  examples/demo_project/sticky_demo/templates/sticky_demo/notification_center.html
  examples/demo_project/sticky_demo/templates/sticky_demo/reports.html
  examples/demo_project/sticky_demo/templates/sticky_demo/settings.html
  examples/demo_project/sticky_demo/urls.py
  examples/demo_project/sticky_demo/views.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  tests/js/sticky_preserve.test.js
  tests/unit/test_sticky_preserve.py
Due: npm-test, pytest

fix(sticky-demo): address Stage 11 findings on PR #969
  CHANGELOG.md
  ROADMAP.md
  docs/adr/011-sticky-liveviews.md
  examples/demo_project/sticky_demo/templates/sticky_demo/base.html
  examples/demo_project/sticky_demo/templates/sticky_demo/dashboard.html
Due: none

feat(sticky): ADR-011 + user guide + demo + latent fixes (v0.6.0 Phase C — closes Sticky LiveViews milestone) (#969)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/011-sticky-liveviews.md
  docs/website/_config.yaml
  docs/website/guides/sticky-liveviews.md
  docs/website/index.md
  examples/demo_project/sticky_demo/README.md
  examples/demo_project/sticky_demo/__init__.py
  examples/demo_project/sticky_demo/apps.py
  examples/demo_project/sticky_demo/templates/sticky_demo/audio_player.html
  examples/demo_project/sticky_demo/templates/sticky_demo/base.html
  examples/demo_project/sticky_demo/templates/sticky_demo/dashboard.html
  examples/demo_project/sticky_demo/templates/sticky_demo/notification_center.html
  examples/demo_project/sticky_demo/templates/sticky_demo/reports.html
  examples/demo_project/sticky_demo/templates/sticky_demo/settings.html
  examples/demo_project/sticky_demo/urls.py
  examples/demo_project/sticky_demo/views.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  tests/js/sticky_preserve.test.js
  tests/unit/test_sticky_preserve.py
Due: npm-test, pytest

feat(sw): VDOM cache + state snapshots + mount batching (v0.6.0 Group 3 service-worker advanced)
  CHANGELOG.md
  ROADMAP.md
  python/djust/checks.py
  python/djust/config.py
  python/djust/live_view.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/service-worker.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/33-sw-registration.js
  python/djust/static/djust/src/46-state-snapshot.js
  python/djust/websocket.py
  tests/integration/test_sw_advanced_flow.py
  tests/js/sw_advanced.test.js
  tests/unit/test_sticky_preserve.py
  tests/unit/test_sw_advanced.py
Due: npm-test, pytest

feat(sw): VDOM cache + state snapshots + mount batching (v0.6.0 Group 3 service-worker advanced) (#970)
  CHANGELOG.md
  ROADMAP.md
  python/djust/checks.py
  python/djust/config.py
  python/djust/live_view.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/service-worker.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/33-sw-registration.js
  python/djust/static/djust/src/46-state-snapshot.js
  python/djust/websocket.py
  tests/integration/test_sw_advanced_flow.py
  tests/js/sw_advanced.test.js
  tests/unit/test_sticky_preserve.py
  tests/unit/test_sw_advanced.py
Due: npm-test, pytest

feat(packaging): ADR-007 Phase 4 — sunset the consolidation, add auth/tenants extras, migration guide (v0.6.0 Group 4)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/007-package-taxonomy-and-consolidation.md
  docs/website/guides/migration-from-standalone-packages.md
  docs/website/index.md
  pyproject.toml
Due: none

fix(docs): migration guide accuracy — admin_ext module name, tenants-not-a-Django-app (address Stage 11 #971)
  docs/website/guides/migration-from-standalone-packages.md
Due: none

feat(packaging): ADR-007 Phase 4 — sunset the consolidation, add auth/tenants extras, migration guide (v0.6.0 Group 4) (#971)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/007-package-taxonomy-and-consolidation.md
  docs/website/guides/migration-from-standalone-packages.md
  docs/website/index.md
  pyproject.toml
Due: none

perf: v0.6.0 request-path profiling harness + timing report (P2 investigative)
  .gitignore
  CHANGELOG.md
  Makefile
  docs/performance/v0.6.0-profile.md
  scripts/profile-request-path.py
  tests/benchmarks/test_request_path.py
Due: pytest

fix(benchmarks): gracefully skip threshold assertions under pytest-xdist
  tests/benchmarks/test_request_path.py
Due: pytest

perf: v0.6.0 request-path profiling harness + timing report (P2 investigative) (#972)
  .gitignore
  CHANGELOG.md
  Makefile
  docs/performance/v0.6.0-profile.md
  scripts/profile-request-path.py
  tests/benchmarks/test_request_path.py
Due: pytest

docs(animations): CSS @starting-style guide section + ROADMAP strike (v0.6.0 closer)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
Due: none

docs(animations): CSS @starting-style guide section + ROADMAP strike (v0.6.0 closer) (#973)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
