Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(roadmap): mark #737 phases 1-3 complete (PR #738)
  ROADMAP.md
Due: none

docs(roadmap): close #737 phase 4 — lazy context already optimized
  ROADMAP.md
Due: none

perf(#737): text-fast-path + extends inheritance caching
  CHANGELOG.md
  ROADMAP.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lib.rs
  crates/djust_vdom/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf(#737): text-fast-path + extends inheritance caching (#739)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lib.rs
  crates/djust_vdom/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf: eliminate sync_to_async + deepcopy overhead in event handling
  python/djust/websocket.py
  python/djust/websocket_utils.py
  python/tests/test_changed_tracking.py
Due: pytest

perf: cache csrf_token + filter framework keys from change tracking
  python/djust/mixins/rust_bridge.py
Due: pytest

perf: optimize VNode construction in HTML parser
  crates/djust_vdom/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf: exclude temporary_assigns keys from change tracking
  python/djust/mixins/rust_bridge.py
Due: pytest

perf: filter auto-generated _count keys from change tracking
  python/djust/mixins/rust_bridge.py
Due: pytest

perf: trust explicit _changed_keys + skip double-sync
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
Due: pytest

perf: flatten {% block %} nodes for finer-grained partial rendering
  crates/djust_templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: detect in-place dict mutations inside list snapshots
  python/djust/websocket.py
Due: pytest

fix: handle unhashable dict values in list snapshot fingerprint
  python/djust/websocket.py
Due: pytest

fix: detect derived context values with changed id() in explicit path
  python/djust/mixins/rust_bridge.py
Due: pytest

fix: clear input value when name attribute changes during morph
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
Due: npm-test

fix: clear input value when name attribute changes via SetAttr patch
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
Due: npm-test

fix: address all code review findings from PR #740
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/websocket.py
  python/djust/websocket_utils.py
  python/tests/test_changed_tracking.py
  tests/js/vdom_input_name_change.test.js
Due: npm-test, pytest

perf: split sync_to_async — thread hop for get_context_data only
  python/djust/websocket.py
Due: pytest

revert: batch get_context_data + render back into single sync_to_async
  python/djust/websocket.py
Due: pytest

feat: Tier 2 async support — zero sync_to_async for async views
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/websocket.py
Due: pytest

feat: sync_safe flag to skip sync_to_async for pure-CPU views
  python/djust/websocket.py
Due: pytest

perf: text-region VDOM fast path for partial text changes in structural fragments
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf: binary-search text-node index for text-region fast path
  CHANGELOG.md
  crates/djust_live/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: sync derived immutable context values by value equality
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/tests/test_changed_tracking.py
Due: pytest

perf: restrict text-node index scan to dj-root interior
  CHANGELOG.md
  crates/djust_live/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: invalidate text_node_index when text-fast-path fires (review feedback)
  crates/djust_live/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf: text-region VDOM fast path (3.9x on real ExamplesView) (#741)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/parser.rs
  python/djust/mixins/rust_bridge.py
  python/tests/test_changed_tracking.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

Bump version to 0.4.5rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

chore: regenerate Cargo.lock after 0.4.5rc1 version bump
  Cargo.lock
Due: none

feat: djust.observability foundation (Phase 7.0)
  python/djust/observability/__init__.py
  python/djust/observability/middleware.py
  python/djust/observability/registry.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_foundation.py
  python/djust/websocket.py
Due: pytest

feat: djust.observability foundation (Phase 7.0) (#745)
  python/djust/observability/__init__.py
  python/djust/observability/middleware.py
  python/djust/observability/registry.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_foundation.py
  python/djust/websocket.py
Due: pytest

feat: get_view_assigns observability endpoint + MCP tool (Phase 7.1)
  python/djust/mcp/server.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_view_assigns.py
Due: pytest

feat: get_view_assigns observability endpoint + MCP tool (Phase 7.1) (#746)
  python/djust/mcp/server.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_view_assigns.py
Due: pytest

feat: get_last_traceback — ring-buffered exception capture (Phase 7.2)
  python/djust/mcp/server.py
  python/djust/observability/tracebacks.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/security/error_handling.py
  python/djust/tests/test_observability_tracebacks.py
Due: pytest

feat: get_last_traceback — ring-buffered exception capture (Phase 7.2) (#747)
  python/djust/mcp/server.py
  python/djust/observability/tracebacks.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/security/error_handling.py
  python/djust/tests/test_observability_tracebacks.py
Due: pytest

feat: tail_server_log — ring-buffered log capture (Phase 7.3)
  python/djust/apps.py
  python/djust/mcp/server.py
  python/djust/observability/log_handler.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_log_tail.py
Due: pytest

feat: tail_server_log — ring-buffered log capture (Phase 7.3) (#748)
  python/djust/apps.py
  python/djust/mcp/server.py
  python/djust/observability/log_handler.py
  python/djust/observability/urls.py
  python/djust/observability/views.py
  python/djust/tests/test_observability_log_tail.py
Due: pytest

feat(demo): wire djust.observability into demo_project
  examples/demo_project/demo_project/settings.py
  examples/demo_project/demo_project/urls.py
Due: pytest

feat(demo): wire djust.observability into demo_project (#749)
  examples/demo_project/demo_project/settings.py
  examples/demo_project/demo_project/urls.py
Due: pytest

fix: view_assigns uses per-attr fallback instead of all-or-nothing
  python/djust/observability/views.py
  python/djust/tests/test_observability_view_assigns.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
