Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: update README and CONTRIBUTING for complete filter support
  CONTRIBUTING.md
  README.md
Due: none

fix: prefix unused variables with underscore in batch sync tests
  tests/unit/test_batch_sync_to_async.py
Due: pytest

fix: add explanatory comment to empty except ImportError clause
  python/djust/serialization.py
Due: pytest

fix: use content-based cache key, add size cap and tests (#280)
  python/djust/mixins/jit.py
  tests/unit/test_cache_template_extraction.py
Due: pytest

perf: cache Rust template variable extraction per view class (#280)
  python/djust/mixins/context.py
  python/djust/mixins/jit.py
Due: pytest

fix: remove redundant extract_template_variables guard in JIT methods
  python/djust/mixins/jit.py
Due: pytest

Bump version to 0.3.0rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: suppress error overlay on intentional WebSocket disconnect
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
Due: npm-test

fix: parse inline args for dj-change/input/blur/focus and detect in-place mutations
  python/djust/static/djust/client.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/tests/test_strip_whitespace.py
  python/djust/websocket.py
Due: npm-test, pytest

perf: slim debug payload on event responses (~68% smaller)
  python/djust/mixins/post_processing.py
  python/djust/mixins/request.py
  python/djust/websocket.py
  python/tests/test_debug_panel.py
  python/tests/test_http_fallback.py
Due: pytest

feat: add `djust mcp install` CLI subcommand
  python/djust/cli.py
Due: pytest

feat: use `claude mcp add` CLI when available, fallback to .mcp.json
  python/djust/cli.py
Due: pytest

docs: consolidate changelog for v0.3.0 release
  CHANGELOG.md
Due: none

feat: add MCP server module and management command
  python/djust/management/commands/djust_mcp.py
  python/djust/mcp/__init__.py
  python/djust/mcp/__main__.py
  python/djust/mcp/server.py
Due: pytest

feat: add scaffolding and schema modules
  python/djust/management/commands/djust_new.py
  python/djust/management/commands/djust_schema.py
  python/djust/scaffolding/__init__.py
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/djust/schema.py
Due: pytest

feat: enhance system checks with fix_hints and auto-fix
  python/djust/checks.py
  python/djust/management/commands/djust_check.py
Due: pytest

docs: add MCP server guide, AI context, website docs, and llms.txt
  docs/README.md
  docs/ai/README.md
  docs/ai/events.md
  docs/ai/forms.md
  docs/ai/jit.md
  docs/ai/lifecycle.md
  docs/ai/security.md
  docs/ai/templates.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/mcp-server.md
  docs/llms-full.txt
  docs/llms.txt
  docs/website/_config.yaml
  docs/website/advanced/debug-panel.md
  docs/website/advanced/server-push.md
  docs/website/advanced/vdom-architecture.md
  docs/website/guides/deployment.md
  docs/website/guides/hooks.md
  docs/website/guides/mcp-server.md
  docs/website/guides/model-binding.md
  docs/website/guides/multi-tenant.md
  docs/website/guides/navigation.md
  docs/website/guides/presence.md
  docs/website/guides/pwa.md
  docs/website/guides/streaming.md
  docs/website/guides/uploads.md
  python/djust/management/commands/djust_ai_context.py
Due: pytest

chore: update Cargo.lock and uv.lock
  Cargo.lock
  uv.lock
Due: none

docs: add MCP server, schema, AI docs, and auto-fix to changelog
  CHANGELOG.md
Due: none

Bump version to 0.3.0rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

feat: add static_assigns for render optimization
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/mixins/rust_bridge.py
  python/djust/websocket.py
  python/tests/test_static_assigns.py
Due: pytest

feat: automatic change tracking replaces manual static_assigns
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/mixins/rust_bridge.py
  python/djust/websocket.py
  python/tests/test_changed_tracking.py
  python/tests/test_static_assigns.py
Due: pytest

fix: debug panel Events tab not capturing events
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/debug/11-integration.js
Due: npm-test

chore: update Cargo.lock for 0.3.0rc4 and fix changelog
  CHANGELOG.md
  Cargo.lock
Due: none

Bump version to 0.3.0rc5
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

test: add comprehensive tests for CSS system checks (C010, C011, C012)
  python/tests/test_checks.py
Due: pytest

fix: convert PosixPath to str in template_dirs display
  python/djust/management/commands/djust_setup_css.py
Due: pytest

feat: add CSS framework support with checks, fallback, and CLI helper
  Cargo.lock
  python/djust/checks.py
  python/djust/mixins/post_processing.py
  uv.lock
Due: pytest

docs: add CSS framework setup guide and update CHANGELOG
  CHANGELOG.md
  docs/guides/css-frameworks.md
Due: none

docs: add Common Pitfalls section to Best Practices guide
  docs/guides/BEST_PRACTICES.md
Due: none

docs: add CSS framework support internal documentation
  CSS_FEATURE_COMPLETE.md
  CSS_FRAMEWORK_IMPROVEMENTS.md
  CSS_SUPPORT_IMPLEMENTATION.md
  python/djust/checks_css_proposal.py
Due: pytest

docs: update README and State Management docs for CSS setup
  README.md
  docs/state-management/STATE_MANAGEMENT_API.md
Due: none

docs: add comprehensive documentation audit report
  DOCUMENTATION_AUDIT_COMPLETE.md
Due: none

chore: bump version to 0.3.0rc6
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

feat: add # noqa comment support to AST-based system checks
  python/djust/checks.py
Due: pytest

fix: add window.DEBUG_MODE for debug toolbar initialization
  python/djust/mixins/post_processing.py
Due: pytest

feat: improve DX based on lessons learned from real-world usage
  Cargo.lock
  IMPROVEMENTS_SUMMARY.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/README.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/error-codes.md
  docs/guides/services.md
  docs/guides/template-requirements.md
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mcp/server.py
  python/djust/schema.py
  python/djust/tests/test_mcp.py
  python/djust/websocket.py
  python/tests/test_checks.py
  tests/unit/test_state_serialization.py
  uv.lock
Due: pytest

refactor: remove unrelated CSS features and internal tracking docs
  CSS_FEATURE_COMPLETE.md
  CSS_FRAMEWORK_IMPROVEMENTS.md
  CSS_SUPPORT_IMPLEMENTATION.md
  DOCUMENTATION_AUDIT_COMPLETE.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/css-frameworks.md
  python/djust/checks.py
  python/djust/checks_css_proposal.py
  python/djust/management/commands/djust_setup_css.py
  python/djust/mixins/post_processing.py
  python/tests/test_checks.py
Due: pytest

fix: remove PostProcessingMixin import after deleting the file
  python/djust/mixins/__init__.py
Due: pytest
