Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(actors): leave mount state on its HashMap; order only event params
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(adr): record actor order fix, compaction and rerun evidence
  docs/adr/component-conventions-implementation.md
Due: none

feat(contracts): dj-auto-recover handlers stay legacy under strict (ADR-036 R1)
  changelog.d/adr-036-recovery-legacy.changed.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/notes/036-strict-client-collection.md
  docs/system-checks.md
  docs/website/guides/error-codes.md
  docs/website/guides/reconnection.md
  python/djust/checks/parameters.py
  python/djust/tests/test_recovery_handler_policy.py
  python/djust/validation.py
Due: pytest

docs(adr): record ADR-036 R1 evidence in the ledger
  docs/adr/component-conventions-implementation.md
Due: none

fix(contracts): hot reload and push_state frames carry parameter contracts; close P2
  changelog.d/adr-036-producer-contracts.fixed.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/036-owner-contract-manifests.md
  docs/adr/notes/036-strict-server-integration.md
  python/djust/_background_render.py
  python/djust/streaming.py
  python/djust/tests/test_producer_parameter_contracts.py
  python/djust/websocket.py
Due: pytest

docs(adr): record P2 closure run results
  docs/adr/component-conventions-implementation.md
Due: none

feat(contracts): discover dj-auto-recover targets from the rendered HTML (R1)
  changelog.d/adr-036-recovery-legacy.changed.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/component-conventions-implementation.md
  docs/system-checks.md
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  python/djust/tests/test_recovery_handler_policy.py
  python/djust/validation.py
Due: pytest

docs(adr): record the rendered-HTML recovery discovery run
  docs/adr/component-conventions-implementation.md
Due: none

docs(validation): point the recovery template scan at the rendered-HTML discovery
  python/djust/validation.py
Due: pytest

docs(adr): ADR-036 P3 acceptance; executed strict-policy examples; status Accepted
  changelog.d/adr-036-accepted.documentation.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/component-conventions-implementation.md
  docs/ai/events.md
  docs/ai/forms.md
  docs/system-checks.md
  docs/website/core-concepts/events.md
  docs/website/guides/error-codes.md
  docs/website/guides/forms.md
  docs/website/guides/live-input.md
  docs/website/guides/reconnection.md
  docs/website/guides/template-cheatsheet.md
  python/djust/_parameter_contract.py
  python/djust/decorators.py
  python/djust/tests/test_adr036_documented_examples.py
  tests/js/adr036_documented_examples.test.js
Due: npm-test, pytest

docs(adr): record ADR-036 P3 full-suite results
  docs/adr/component-conventions-implementation.md
Due: none

fix(presence): wait for a half-imported djust.tenants.mixin instead of reading it (#3079)
  python/djust/presence.py
  tests/unit/test_presence_tenant_import_race_3079.py
Due: pytest

fix(state): InMemoryStateBackend applies its TTL at runtime (#3080)
  python/djust/state_backends/memory.py
  python/tests/test_memory_state_backend_ttl_3080.py
Due: pytest

perf(performance): probe for psutil once at import, not per event
  python/djust/performance.py
  python/tests/test_memory_tracker_psutil_probe.py
Due: pytest

docs: v1.3.0-2 roadmap bucket, in-memory backend TTL and memory notes, changelog fragments (#3079, #3080)
  ROADMAP.md
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  docs/website/guides/deployment.md
Due: none

fix(state): coerce a non-int SESSION_TTL instead of failing every mount; say what an entry holds (#3080 review)
  changelog.d/3080.fixed.md
  docs/website/guides/deployment.md
  python/djust/state_backends/memory.py
  python/tests/test_memory_state_backend_ttl_3080.py
Due: pytest

feat(forms): ADR-035 F1 managed edit object: resolve, authorize, bind
  changelog.d/adr-035-managed-object.added.md
  docs/adr/035-django-native-form-and-object-lifecycle.md
  docs/adr/component-conventions-implementation.md
  docs/system-checks.md
  python/djust/auth/core.py
  python/djust/checks/security.py
  python/djust/forms.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/tests/test_model_form_lifecycle_adr035.py
Due: pytest

fix: presence import race (#3079), in-memory state backend TTL never applied (#3080), per-event psutil probe (#3083)
  ROADMAP.md
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  docs/website/guides/deployment.md
  python/djust/performance.py
  python/djust/presence.py
  python/djust/state_backends/memory.py
  python/tests/test_memory_state_backend_ttl_3080.py
  python/tests/test_memory_tracker_psutil_probe.py
  tests/unit/test_presence_tenant_import_race_3079.py
Due: pytest

fix: presence import race (#3079), in-memory state backend TTL never applied (#3080), per-event psutil probe [backport of #3083 to 1.2]
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  docs/website/guides/deployment.md
  python/djust/performance.py
  python/djust/presence.py
  python/djust/state_backends/memory.py
  python/tests/test_memory_state_backend_ttl_3080.py
  python/tests/test_memory_tracker_psutil_probe.py
  tests/unit/test_presence_tenant_import_race_3079.py
Due: pytest

fix: presence import race (#3079), in-memory state backend TTL never applied (#3080), per-event psutil probe [backport of #3083 to 1.2] (#3084)
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  docs/website/guides/deployment.md
  python/djust/performance.py
  python/djust/presence.py
  python/djust/state_backends/memory.py
  python/tests/test_memory_state_backend_ttl_3080.py
  python/tests/test_memory_tracker_psutil_probe.py
  tests/unit/test_presence_tenant_import_race_3079.py
Due: pytest

docs(retro): v1.3.0-2 thread race + memory growth retro; mark the bucket's rows shipped (#3083)
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): v1.3.0-2 thread race + memory growth retro; mark the bucket's rows shipped (#3083) (#3085)
  RETRO.md
  ROADMAP.md
Due: none

test(forms): ADR-035 F2 form acceptance and browser matrix
  docs/adr/component-conventions-implementation.md
  examples/demo_project/djust_demos/templates/demos/model_form.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/model_form_demo.py
  python/djust/tests/test_model_form_acceptance_adr035.py
  tests/playwright/README.md
  tests/playwright/test_model_form.py
Due: pytest

fix: keep context-processor values out of the state normalizer (#3061) [backport of #3070 to 1.2]
  changelog.d/3061.fixed.md
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/tests/test_full_template_context_processors_3061.py
Due: pytest

fix: keep context-processor values out of the state normalizer (#3061) [backport of #3070 to 1.2] (#3086)
  changelog.d/3061.fixed.md
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/tests/test_full_template_context_processors_3061.py
Due: pytest

docs(forms): teach ModelFormMixin (djust 1.3); ADR-035 accepted
  changelog.d/adr-035-accepted.documentation.md
  docs/adr/035-django-native-form-and-object-lifecycle.md
  docs/adr/component-conventions-implementation.md
  docs/ai/forms.md
  docs/website/guides/forms.md
  python/djust/tests/test_adr035_documented_examples.py
Due: pytest

perf(rust): release the GIL in RustLiveView.render_with_diff (#3074)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  python/djust/tests/test_render_with_diff_gil_3074.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment for the render GIL release; v1.3.0-3 multi-core ROADMAP section (#3074)
  ROADMAP.md
  changelog.d/3074-gil.changed.md
Due: none

docs(adr): record ADR-035 F2 full-suite results
  docs/adr/component-conventions-implementation.md
Due: none

docs(adr): ADR-035 publication decision, FR scheduling, pending generators
  docs/adr/035-django-native-form-and-object-lifecycle.md
  docs/adr/component-conventions-implementation.md
Due: none

fix(rust): keep the render_with_diff panic boundary on the Python entry; no attach when no library loader is installed (#3074)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/registry.rs
  python/djust/tests/test_render_env_per_view_2741.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): legacy Meta.event alias resolves only its own type (#3078)
  changelog.d/3078.fixed.md
  python/djust/components/base.py
  python/djust/tests/test_legacy_component_alias_3078.py
Due: pytest

test: make the GIL-release tests fail without the detach (#3074 review)
  crates/djust_live/src/lib.rs
  python/djust/tests/test_render_with_diff_gil_3074.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: note the same-instance borrow change; qualify the opt-in rule for row 1 (#3074 review)
  ROADMAP.md
  changelog.d/3074-gil.changed.md
Due: none

chore(release): 1.2.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/3061.fixed.md
  changelog.d/3079.fixed.md
  changelog.d/3080.fixed.md
  changelog.d/memorytracker-psutil.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

perf(rust): release the GIL in RustLiveView.render_with_diff (#3074 1/7) (#3087)
  ROADMAP.md
  changelog.d/3074-gil.changed.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  python/djust/tests/test_render_env_per_view_2741.py
  python/djust/tests/test_render_with_diff_gil_3074.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(components): ADR-034 C1 public interactive import, V020 and Q004
  changelog.d/adr-034-interactive-dropdown.added.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/component-conventions-implementation.md
  docs/adr/notes/034-typing-proof.md
  docs/system-checks.md
  python/djust/checks/components.py
  python/djust/checks/quality.py
  python/djust/components/_interactive.py
  python/djust/components/interactive.py
  python/djust/tests/test_interactive_public_api_c1.py
  tests/typing_component_bindings/prototype.py
Due: pytest

perf: opt-in pinned session worker pool, LIVEVIEW_CONFIG["worker_threads"] (#3074)
  python/djust/checks/configuration.py
  python/djust/config.py
  python/djust/tests/test_worker_pool_3074.py
  python/djust/websocket.py
  python/djust/worker_pool.py
Due: pytest

fix: make shared state safe for concurrent sessions (#3074)
  python/djust/components/base.py
  python/djust/mixins/jit.py
  python/djust/presence.py
  python/djust/serialization.py
  python/djust/tenants/backends.py
  python/djust/tests/test_worker_pool_thread_safety_3074.py
  python/djust/utils.py
Due: pytest

docs: worker_threads deployment section and C021; changelog; PR 1/7 retro and ROADMAP row (#3074)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-thread-safety.fixed.md
  changelog.d/3074-worker-pool.added.md
  docs/website/guides/deployment.md
  docs/website/guides/error-codes.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
