Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(client): packaging + render-shell batch — sourcemap ref, autoMount root pick, dead JS, dj-root-in-script (#2662, #2632, #2659, #2663) (#2675)
  CONTRIBUTING.md
  changelog.d/client-packaging-2662-2632-2659-2663.fixed.md
  crates/djust_live/src/lib.rs
  docs/guides/pwa.md
  docs/state-management/IMPLEMENTATION_PHASE5.md
  docs/testing/TESTING_JAVASCRIPT.md
  eslint.config.js
  python/djust/mixins/template.py
  python/djust/pwa/__init__.py
  python/djust/pwa/storage.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/decorators.js
  python/djust/static/djust/js/pwa.js
  python/djust/static/djust/react-client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/05-state-bus.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/46-state-snapshot.js
  python/tests/test_find_closing_div_pos.py
  scripts/build-client.sh
  tests/integration/test_dj_root_in_script_comment_2663.py
  tests/js/auto_navigate_1734.test.js
  tests/js/automount-embedded-root-2632.test.js
  tests/js/cache.test.js
  tests/js/client_state.test.js
  tests/js/debounce.test.js
  tests/js/draft-manager.test.js
  tests/js/loading.test.js
  tests/js/non-bundle-importers-2659.test.js
  tests/js/optimistic.test.js
  tests/js/throttle.test.js
  tests/unit/test_client_minified.py
  vitest.config.js
Due: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

fix(liveview): detect in-place mutation of state with one structural fingerprint (#2664)
  python/djust/change_detection.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_in_place_mutation_2664.py
  python/djust/tests/test_set_changed_keys_1981.py
  python/djust/tests/test_set_changed_keys_zero_arg_1992.py
  python/djust/websocket.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

fix(checks): T013 refuses dj-view="{{ dj_view_id }}" and the other phantom names (#2631)
  python/djust/checks/templates.py
  python/djust/tests/test_dj_view_stamping_2631.py
  python/tests/test_checks.py
Due: pytest

test: shift the setattr-chokepoint whitelist +20 for the #2664 framework-attrs block
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

docs: changelog fragment + nested-state guide for #2631 / #2664 / #2602
  changelog.d/liveview-runtime-2631-2664-2602.fixed.md
  docs/website/guides/state-primitives.md
Due: none

fix(templates): {% load %} sees a templatetags module added while the server runs (#2602)
  python/djust/__init__.py
  python/djust/template_libraries.py
  python/tests/test_late_templatetags_2602.py
Due: pytest

fix(liveview): #2682 review — keep _action_state in the snapshot, walk tuples, warn once per attribute
  python/djust/change_detection.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_in_place_mutation_2664.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/websocket.py
  python/tests/test_changed_tracking.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

chore: process/CI/docs batch — blocking scoreboard ratchet, review-verdict gate, fragment migration, py_render markers, {{ component }} sweep (#2681)
  .github/workflows/test.yml
  PERFORMANCE_BRAINSTORM.md
  changelog.d/process-batch-2612-2522-2634-2537-2661-2603-2545.changed.md
  crates/djust_templates/src/lib.rs
  docs/PULL_REQUEST_CHECKLIST.md
  docs/components/API_REFERENCE_COMPONENTS.md
  docs/components/COMPONENTS.md
  docs/components/COMPONENT_BEST_PRACTICES.md
  docs/components/COMPONENT_MIGRATION_GUIDE.md
  docs/components/COMPONENT_PERFORMANCE_OPTIMIZATION.md
  docs/components/COMPONENT_UNIFIED_DESIGN.md
  docs/components/DIVIDER_COMPONENT_SUMMARY.md
  docs/components/LIVECOMPONENT_ARCHITECTURE.md
  docs/components/NAVBAR_COMPONENT_REPORT.md
  docs/components/NAVBAR_QUICK_START.md
  docs/components/PAGINATION_COMPONENT_SUMMARY.md
  docs/example-site/TEMPLATE_CONVERSION_GUIDE.md
  docs/state-management/IMPLEMENTATION_PHASE4.md
  docs/website/guides/components.md
  python/tests/test_component_spelling_2634.py
  python/tests/test_dj_if_marker_plain_backend_2519.py
  scripts/changelog-fragments.py
  scripts/check-pr-review-verdict.sh
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
  tests/test_changelog_fragments.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(serialization): refuse a @property that shadows a sensitive model-method name on BOTH channels via one chokepoint (#2614)
  python/djust/serialization.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: pytest

fix(actors): mount use_actors=True views on the view's own template (#2599)
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  python/djust/runtime.py
  python/djust/tests/test_actor_mount_template_2599.py
  python/djust/tests/test_transport_mount_hooks_1915.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: update caller ledgers for the new render sites and clear the template-dirs cache in the new fixtures
  python/djust/runtime.py
  python/djust/tests/test_component_template_name_markers_2530.py
  python/djust/tests/test_get_shell_sidecar_2589.py
  python/tests/test_actor_state_retains_full_context_2592.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_update_state_removes_absent_keys_2564.py
Due: pytest

docs: changelog fragments for #2536, #2530, #2599, #2589
  changelog.d/2530.fixed.md
  changelog.d/2536.fixed.md
  changelog.d/2589.fixed.md
  changelog.d/2599.fixed.md
Due: none

test: give the #2660 template-semantics module a per-xdist-worker template dir
  python/tests/test_template_semantics_2571_2613_2529_2660.py
Due: pytest

fix(components): render template_name LiveComponents through the LiveView engine entry (#2530)
  python/djust/components/base.py
  python/djust/tests/test_component_template_name_markers_2530.py
Due: pytest

fix(liveview): give the GET page shell the same raw-Python sidecar as the WS render (#2589)
  python/djust/mixins/template.py
  python/djust/tests/test_get_shell_sidecar_2589.py
  python/tests/test_adr027_characterization_net_2539.py
Due: pytest

fix(liveview): stop re-querying a static list[Model] on every event (#2536)
  python/djust/mixins/context.py
  python/djust/tests/test_static_list_requery_2536.py
Due: pytest

docs: SECURE_DEFAULTS Pattern 1 — document the _attr_is_serializable chokepoint + changelog fragment (#2614)
  changelog.d/2614.security.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(liveview): #2682 re-review — keep _dirty_baseline out of the snapshot, bump a version counter instead
  python/djust/live_view.py
  python/djust/tests/test_in_place_mutation_2664.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

security(serialization): refuse a @property that shadows a sensitive model-method name on both channels via one chokepoint (#2614) (#2683)
  changelog.d/2614.security.md
  docs/SECURE_DEFAULTS.md
  python/djust/serialization.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: pytest

fix(actors): normalize + extract the actor mount html like the non-actor frame; tighten the #2536 fetch-count pin (#2599 review)
  python/djust/runtime.py
  python/djust/tests/test_actor_mount_template_2599.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_static_list_requery_2536.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
Due: pytest

fix(liveview): in-place mutation re-renders, T013 phantom dj-view names, late templatetags seen by {% load %} (#2664, #2631, #2602) (#2682)
  changelog.d/liveview-runtime-2631-2664-2602.fixed.md
  docs/website/guides/state-primitives.md
  python/djust/__init__.py
  python/djust/change_detection.py
  python/djust/checks/templates.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/template_libraries.py
  python/djust/tests/test_dj_view_stamping_2631.py
  python/djust/tests/test_in_place_mutation_2664.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_set_changed_keys_1981.py
  python/djust/tests/test_set_changed_keys_zero_arg_1992.py
  python/djust/websocket.py
  python/tests/test_changed_tracking.py
  python/tests/test_checks.py
  python/tests/test_late_templatetags_2602.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

fix(liveview): runtime batch 2 — static-list re-query, component dj-if markers, actor template, GET-shell sidecar (#2536, #2530, #2599, #2589) (#2684)
  changelog.d/2530.fixed.md
  changelog.d/2536.fixed.md
  changelog.d/2589.fixed.md
  changelog.d/2599.fixed.md
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  python/djust/components/base.py
  python/djust/mixins/context.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/djust/tests/test_actor_mount_template_2599.py
  python/djust/tests/test_component_template_name_markers_2530.py
  python/djust/tests/test_get_shell_sidecar_2589.py
  python/djust/tests/test_runtime_mount_parity_1917.py
  python/djust/tests/test_static_list_requery_2536.py
  python/djust/tests/test_transport_mount_hooks_1915.py
  python/djust/tests/test_ws_mount_flip_parity_1911.py
  python/tests/test_actor_state_retains_full_context_2592.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_template_semantics_2571_2613_2529_2660.py
  python/tests/test_update_state_removes_absent_keys_2564.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: codegen is a pinned caller of the serialization chokepoint (#2685)
  changelog.d/2685.security.md
  docs/SECURE_DEFAULTS.md
Due: none

security(jit): route the JIT codegen serializer through the serialization chokepoint (#2685)
  python/djust/optimization/codegen.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: pytest

fix(forms): FormMixin entry points survive a view whose mount() never ran
  python/djust/forms.py
  python/djust/tests/test_form_state_unmounted_2667.py
Due: pytest

fix(components): namespace dj-if marker ids per component instance
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/components/base.py
  python/djust/tests/test_component_marker_id_namespace_2686.py
  python/djust/tests/test_component_template_name_markers_2530.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(serialization): gate the Rust queryset serializer on the same floor, and make the gate cheap (#2688, #2685)
  crates/djust_live/src/lib.rs
  python/djust/_rust.pyi
  python/djust/mixins/jit.py
  python/djust/optimization/codegen.py
  python/djust/serialization.py
  python/djust/tests/test_property_shadow_parity_2614.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit
