Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(security): embedded-child render errors — escape + DEBUG-gate (F18) (#166)
  CHANGELOG.md
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_embedded_child_error_escape_f18.py
  python/djust/websocket.py
Due: pytest

fix(security): client navigation scheme/origin guard — shared safeNavigationTarget at all location.href sinks (F16) (#168)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/02b-safe-nav.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/18-navigation.js
  tests/js/safe_nav.test.js
Due: npm-test

fix(security): reject browser-executable upload active-content (SVG/HTML) by default (F20) (#167)
  CHANGELOG.md
  python/djust/tests/test_upload_active_content_f20.py
  python/djust/uploads/__init__.py
Due: pytest

fix(security): WS transport — server_push safe_setattr + binary-frame rate accounting (F21+F17) (#169)
  CHANGELOG.md
  python/djust/config.py
  python/djust/rate_limit.py
  python/djust/tests/test_ws_transport_hardening_f21_f17.py
  python/djust/websocket.py
Due: pytest

fix(security): SSE session principal-binding + creation caps (F24+F25) (#170)
  CHANGELOG.md
  python/djust/sse.py
  python/djust/tests/test_sse_csrf_origin.py
  python/djust/tests/test_sse_session_binding_f24_f25.py
  python/tests/test_sse.py
Due: pytest

fix(security): mount-path consolidation — shared validate_mount_url + safe view resolution across WS/runtime/SSE (F22+F23) (#171)
  CHANGELOG.md
  python/djust/_view_resolution.py
  python/djust/runtime.py
  python/djust/security/__init__.py
  python/djust/security/mount.py
  python/djust/sse.py
  python/djust/tests/test_mount_consolidation_f22_f23.py
  python/djust/tests/test_security_view_import_failclosed.py
  python/djust/websocket.py
  python/tests/test_security_mount_validation.py
Due: pytest

test(security): transport-parity + mount-chokepoint anti-drift enforcement net (WU1) (#172)
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_transport_parity_security.py
Due: pytest

docs(roadmap): add v1.0.7-4 transport/API hardening drain milestone
  ROADMAP.md
Due: none

fix(security): gate the OpenAPI schema endpoint (F29) (#174)
  CHANGELOG.md
  python/djust/api/openapi.py
  python/djust/tests/test_openapi_gate_f29.py
Due: pytest

fix(security): WS/runtime live path resolves the same tenant as HTTP (F26) (#175)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_ws_host_tenant_f26.py
  python/djust/websocket.py
Due: pytest

fix(security): shared per-caller @rate_limit bucket across WS/SSE/API (F27 + F28) (#176)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/rate_limit.py
  python/djust/tests/test_api_dispatch.py
  python/djust/tests/test_ratelimit_per_caller_f27_f28.py
  python/djust/websocket_utils.py
Due: pytest

Bump version to 1.0.7 (GA release prep — STAGED, held for coordinated disclosure)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(retro): v1.0.7-3 + v1.0.7-4 security-audit drain retro + canon
  CLAUDE.md
  RETRO.md
Due: none

docs(roadmap): add v1.0.8-1 security-drift prevention milestone
  ROADMAP.md
Due: none

test(security): extend anti-drift nets — transport parity axes + mount-orchestration pin (#1850, #1851)
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_transport_parity_security.py
Due: pytest

docs(changelog): anti-drift net parity axes + mount-orchestration pin (#1850, #1851)
  CHANGELOG.md
Due: none

test(security): drop tautological cross-transport agree assertions for converged controls (#1851 review nit)
  python/djust/tests/test_transport_parity_security.py
Due: pytest

test(security): extend anti-drift nets — transport parity axes + mount-orchestration pin (#1850, #1851) (#1859)
  CHANGELOG.md
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_transport_parity_security.py
Due: pytest

refactor(ws): route receive() url_change through ViewRuntime.dispatch_message (#1852)
  python/djust/tests/test_ws_receive_runtime_dispatch_1852.py
  python/djust/websocket.py
Due: pytest

docs(changelog): WS receive() routes url_change through dispatch_message (#1852)
  CHANGELOG.md
Due: none

refactor(ws): make RUNTIME_OWNED_VERBS drive receive() routing (review nit, #1852)
  python/djust/tests/test_ws_receive_runtime_dispatch_1852.py
  python/djust/websocket.py
Due: pytest

refactor(ws): route receive() url_change through ViewRuntime.dispatch_message + load-bearing RUNTIME_OWNED_VERBS (#1852) (#1860)
  CHANGELOG.md
  python/djust/tests/test_ws_receive_runtime_dispatch_1852.py
  python/djust/websocket.py
Due: pytest

refactor(security): single-source the shared mount-auth sequence across WS + runtime (#1853)
  python/djust/auth/__init__.py
  python/djust/auth/core.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_mount_security_sequence_1853.py
  python/djust/websocket.py
Due: pytest

docs(changelog): single-sourced pre-mount auth sequence (#1853)
  CHANGELOG.md
Due: none

refactor(security): single-source the shared mount-auth sequence across WS + runtime + SSE (#1853) (#1861)
  CHANGELOG.md
  python/djust/auth/__init__.py
  python/djust/auth/core.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_mount_security_sequence_1853.py
  python/djust/websocket.py
Due: pytest

fix(security): enforce object-permission on the HTTP-API + SSE-legacy mount paths (#1857)
  python/djust/api/dispatch.py
  python/djust/sse.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_object_perm_api_sse_paths.py
Due: pytest

docs(changelog): object-permission now enforced on HTTP-API + SSE-legacy mount paths (#1857)
  CHANGELOG.md
Due: none

fix(security): enforce object-permission on the HTTP-API + SSE-legacy mount paths (#1857) (#1863)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/sse.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_object_perm_api_sse_paths.py
Due: pytest

feat(checks): S009 event-handler-auth + S011 inline-script/CSP system checks (#1854)
  python/djust/checks/security.py
  python/tests/test_checks.py
Due: pytest

docs(checks): document S009 + S011 system checks (#1854)
  CHANGELOG.md
  docs/system-checks.md
Due: none

feat(checks): S009 event-handler-auth + S011 inline-script/CSP system checks (#1854) (#1864)
  CHANGELOG.md
  docs/system-checks.md
  python/djust/checks/security.py
  python/tests/test_checks.py
Due: pytest

ci(security): bandit blocks new high-severity + browser-smoke canary (#1855, #1849)
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  examples/demo_project/djust_demos/templates/demos/browser_smoke.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/smoke_demo.py
  tests/playwright/test_browser_smoke.py
Due: pytest

docs(changelog): bandit high-sev gate + browser-smoke canary (#1855, #1849)
  CHANGELOG.md
Due: none

ci(security): bandit blocks new high-severity + browser-smoke canary for runtime breaks (#1855, #1849) (#1866)
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  CHANGELOG.md
  examples/demo_project/djust_demos/templates/demos/browser_smoke.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/smoke_demo.py
  tests/playwright/test_browser_smoke.py
Due: pytest

docs(security): SECURE_DEFAULTS.md pattern catalog + PR-checklist secure-defaults subsection + audit cadence (#1856)
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/README.md
  docs/SECURE_DEFAULTS.md
Due: none

docs(changelog): add SECURE_DEFAULTS.md + PR-checklist secure-defaults entry (#1856)
  CHANGELOG.md
Due: none

docs(security): correct SECURE_DEFAULTS Pattern-1 serialization precedence — allowlist wins over floor (#1867 review, refs #1868)
  docs/SECURE_DEFAULTS.md
Due: none

docs(security): SECURE_DEFAULTS.md pattern catalog + PR-checklist secure-defaults + audit cadence (#1856) (#1867)
  CHANGELOG.md
  CLAUDE.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/README.md
  docs/SECURE_DEFAULTS.md
Due: none

docs(retro): milestone v1.0.8-1 (security-drift prevention) + action tracker
  CLAUDE.md
  RETRO.md
Due: none

docs(roadmap): add v1.0.8-2 drain bucket — 5 open issues (#1858, #1848, #1868, #1862, #1865)
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
