Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(bug-capture): declarative PII scrub + the V014 check (#1561)
  python/djust/bug_capture.py
  python/djust/checks/components.py
  python/djust/live_view.py
  python/djust/tests/test_bug_capture_pii_scrub.py
Due: pytest

docs(bug-capture): time_travel_excluded_fields + the V014 check (#1561)
  CHANGELOG.md
  docs/system-checks.md
  docs/website/guides/bug-capture.md
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

fix(tests): make the replay-CLI urlconf test hermetic (#1561)
  python/djust/tests/test_replay_cli.py
Due: pytest

feat(cli): `djust replay` — open, inspect, or diff a bug capture (#1561) (#2498)
  CHANGELOG.md
  docs/website/guides/bug-capture.md
  python/djust/cli.py
  python/djust/tests/test_replay_cli.py
Due: pytest

feat(bug-capture): declarative PII scrub + the V014 check (#1561) (#2499)
  CHANGELOG.md
  docs/system-checks.md
  docs/website/guides/bug-capture.md
  python/djust/bug_capture.py
  python/djust/checks/components.py
  python/djust/live_view.py
  python/djust/tests/test_bug_capture_pii_scrub.py
  python/djust/tests/test_mount_chokepoint_structural.py
Due: pytest

fix(quality): close six CodeQL code-quality alerts
  python/djust/cli.py
  python/djust/components/function_component.py
  scripts/filter-parity-differential.py
Due: pytest

fix(quality): close six CodeQL code-quality alerts (#2500)
  python/djust/cli.py
  python/djust/components/function_component.py
  scripts/filter-parity-differential.py
Due: pytest

chore(release): bump version to 1.2.0rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test(templates): failing reproducer for object attribute resolution (#2501)
  python/tests/test_object_attribute_resolution_2501.py
Due: pytest

fix(templates): resolve object attributes on the three non-LiveView render paths (#2501)
  crates/djust_live/src/lib.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/tests/test_encoded_attributes_2481.py
  python/tests/test_nullary_autocall_2485.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): cover the sidecar on every render path, and re-pin what #2501 moved
  python/djust/mixins/rust_bridge.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
  python/tests/test_type_checking_integration.py
Due: pytest

fix(templates): reach the sidecar from bound names, and catch Django's exception sets (#2501)
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  python/djust/serialization.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
  python/tests/test_type_checking_integration.py
  tests/unit/test_model_attr_access.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(security): descend the sidecar floor into containers, and refuse component mutators (#2501)
  python/djust/_context_provider.py
  python/djust/_template_guards.py
  python/djust/components/base.py
  python/djust/decorators.py
  python/djust/serialization.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: pytest

docs(templates): CHANGELOG + components-guide note for object attribute resolution (#2501)
  CHANGELOG.md
  docs/website/guides/components.md
Due: none

fix(templates): render silent lookup failures empty, keep exception types, bound the floor walk (#2501)
  crates/djust_core/src/context.rs
  crates/djust_core/src/errors.rs
  python/djust/components/base.py
  python/djust/config.py
  python/djust/serialization.py
  python/djust/simple_live_view.py
  python/djust/template/rendering.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): record the #2508 review fixes and what they do not close (#2501)
  CHANGELOG.md
Due: none

fix(templates): complete the dispatch set, fix arity-1 namedtuples, make the cycle guard reachable (#2501)
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/djust/tests/test_template_auto_call_1985.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: pytest

docs(templates): correct two CHANGELOG claims the re-review measured as wrong (#2501)
  CHANGELOG.md
Due: none

fix(templates): resolve object attributes on the non-LiveView render paths (#2501) (#2508)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/errors.rs
  crates/djust_live/src/lib.rs
  docs/website/guides/components.md
  python/djust/_context_provider.py
  python/djust/_rust.pyi
  python/djust/_template_guards.py
  python/djust/components/base.py
  python/djust/config.py
  python/djust/decorators.py
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/simple_live_view.py
  python/djust/template/rendering.py
  python/djust/tests/test_template_auto_call_1985.py
  python/tests/test_encoded_attributes_2481.py
  python/tests/test_nullary_autocall_2485.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
  python/tests/test_type_checking_integration.py
  tests/unit/test_model_attr_access.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): remove the LiveView-path wrapper-dict special-case (#2503)
  python/djust/mixins/rust_bridge.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: pytest

docs(components): {{ component }} is now the recommended spelling (#2511, #2503)
  CHANGELOG.md
  docs/website/api-reference/components.md
  docs/website/core-concepts/components.md
  docs/website/guides/components.md
Due: none

fix(components): remove the same wrapper-dict bug from the page-shell render path (#2503)
  python/djust/mixins/template.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: pytest

docs(changelog): record the page-shell twin bug and the WS-reconnect render cost
  CHANGELOG.md
Due: none

fix(components): remove the LiveView-path wrapper-dict special-case (#2503) (#2512)
  CHANGELOG.md
  docs/website/api-reference/components.md
  docs/website/core-concepts/components.md
  docs/website/guides/components.md
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: pytest

fix(core): stop iterating a live dict during recursive Value extraction (#2510)
  crates/djust_core/src/lib.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the #2510 dict-mutation-during-iteration panic fix
  CHANGELOG.md
Due: none

fix(core): fix three more sites of the #2510 bug class in djust_live
  crates/djust_live/src/actors/component.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  crates/djust_live/src/model_serializer.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): correct the #2510 completeness claim, record the 3 additional sites
  CHANGELOG.md
Due: none

fix(core): fix a fourth site of the #2510 bug class, in the same file
  crates/djust_live/src/model_serializer.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the fourth #2510 site
  CHANGELOG.md
Due: none

fix(core): fix the literal original #2510 trigger, still live at the top level
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/registry.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the top-level #2510 fix and the two more hand-written-loop sites
  CHANGELOG.md
Due: none

docs(roadmap): open the v1.2.0 template-engine conformance arc
  ROADMAP.md
Due: none

docs(roadmap): open the v1.2.0 template-engine conformance arc (#2515)
  ROADMAP.md
Due: none

test(core): pin the #2510 snapshot contract and reach the four untested sites
  crates/djust_live/src/lib.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): state the #2510 snapshot contract
  CHANGELOG.md
Due: none

fix(core): stop iterating a live dict during recursive Value extraction (#2510) (#2514)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_live/src/actors/component.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  crates/djust_live/src/model_serializer.rs
  crates/djust_templates/src/registry.rs
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): run Django's own template_tests against DjustTemplateBackend as the conformance scoreboard (#2517)
  .github/workflows/test.yml
  .gitignore
  Makefile
  python/tests/test_django_template_suite_2517.py
  scripts/django-template-suite-baseline.json
  scripts/lib/django_template_suite/__init__.py
  scripts/lib/django_template_suite/adapter.py
  scripts/lib/django_template_suite/child.py
  scripts/lib/django_template_suite/recorder.py
  scripts/lib/django_template_suite/report.py
  scripts/lib/django_template_suite/settings.py
  scripts/run-django-template-suite.py
Due: pytest

fix(templates): harden the Django-suite runner — tag/label validation, checkout-path normalisation, crash attribution message (#2517 review)
  .github/workflows/test.yml
  python/tests/test_django_template_suite_2517.py
  scripts/lib/django_template_suite/child.py
  scripts/lib/django_template_suite/recorder.py
  scripts/run-django-template-suite.py
Due: pytest

docs(templates): document the Django test-suite conformance scoreboard (#2517)
  CHANGELOG.md
  docs/README.md
  docs/TEMPLATE_BACKEND.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
