Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(ws): skip a session's own push_to_view self-broadcast to stop recovery storm (#1677)
  python/djust/push.py
  python/djust/websocket.py
  tests/unit/test_push_self_broadcast_1677.py
  tests/unit/test_server_push.py
Due: pytest

docs(changelog): #1677 push_to_view self-broadcast suppression
  CHANGELOG.md
Due: none

fix(ws): skip own push_to_view self-broadcast to stop recovery storm (#1677) (#1681)
  CHANGELOG.md
  python/djust/push.py
  python/djust/websocket.py
  tests/unit/test_push_self_broadcast_1677.py
  tests/unit/test_server_push.py
Due: pytest

Bump version to 1.0.0rc17
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(vdom): preserve dj-if boundary markers when stripping comments (#1678)
  python/djust/mixins/template.py
  python/tests/test_djif_marker_preservation_1678.py
Due: pytest

docs(changelog): note dj-if marker-preservation fix (#1678, contributing)
  CHANGELOG.md
Due: none

fix(vdom): order InsertSubtree after MoveSubtree for nested boundaries (#1678 layer-2)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  scripts/gen_vdom_diff_fixtures.py
  tests/js/_significant_tree.js
  tests/js/fixtures/vdom_diff_kanban_tabs_1678.json
  tests/js/fixtures/vdom_diff_live_kanban_1678.json
  tests/js/patch_sorting.test.js
  tests/js/vdom_client_faithful_diff.test.js
  tests/livefixtures/__init__.py
  tests/livefixtures/kanban_tabs_view.py
  vitest.config.js
Due: npm-test, pytest

docs(changelog): #1678 fully fixed — nested-boundary patch ordering + markers
  CHANGELOG.md
Due: none

Bump version to 1.0.0rc18
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(renderers): Renderer Protocol + HtmlRenderer — LVN-I PR-1 (#1577) (#1583)
  python/djust/mixins/template.py
  python/djust/renderers/__init__.py
  python/djust/renderers/base.py
  python/djust/renderers/html.py
  python/djust/tests/test_renderer_protocol.py
Due: pytest

chore(pipeline): target `1.1` instead of `main` in project-local templates (#1576)
  .pipeline-templates/README.md
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
Due: none

feat(renderers): native template variant resolver — LVN-II PR-3 (#1578) (#1588)
  python/djust/renderers/template_resolver.py
  python/djust/tests/test_template_resolver.py
Due: pytest

feat(websocket): handshake selects renderer via ?platform= — LVN-I PR-3 (#1577) (#1585)
  python/djust/renderers/__init__.py
  python/djust/tests/test_renderer_handshake.py
  python/djust/websocket.py
Due: pytest

feat(runtime): ViewRuntime accepts renderer_factory kwarg — LVN-I PR-2 (#1577) (#1584)
  python/djust/runtime.py
  python/djust/tests/test_runtime_renderer_param.py
Due: pytest

feat(renderers): NativeRenderer wires variant resolver — LVN-II PR-4 (#1578) (#1589)
  python/djust/renderers/native.py
  python/djust/tests/test_native_renderer_scaffold.py
Due: pytest

docs(roadmap): reference LVN tracking issues (#1577-#1581) (#1582)
  ROADMAP.md
Due: none

feat(renderers): NativeRenderer scaffold + native registry entries — LVN-II PR-2 (#1578) (#1587)
  python/djust/renderers/__init__.py
  python/djust/renderers/native.py
  python/djust/tests/test_native_renderer_scaffold.py
  python/djust/tests/test_renderer_handshake.py
Due: pytest

feat(renderers): freeze widget vocabulary spec — LVN-II PR-1 (#1578) (#1586)
  docs/native-widget-vocabulary.md
  python/djust/renderers/widgets.py
  python/djust/tests/test_widget_vocabulary.py
Due: pytest

feat(renderers): wire native renderer dispatch end-to-end (POC) (#1594)
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/djust/websocket.py
Due: pytest

docs(roadmap): all 5 LVN tracking issues closed; 24 PRs landed in /pipeline-run (#1592)
  ROADMAP.md
Due: none

docs(roadmap): mark LVN-I+II structurally complete, LVN-III+IV scaffolded (#1591)
  ROADMAP.md
Due: none

feat(renderers): NativeRenderer POC walker emits real widget VNodes (#1593)
  python/djust/renderers/native.py
  python/djust/tests/test_native_renderer_poc.py
  python/djust/tests/test_native_renderer_scaffold.py
Due: pytest

chore(changelog): restore LVN [Unreleased] entries after rebase onto rc18
  CHANGELOG.md
Due: none

test(renderers): fix LVN dispatch gate test — set view._djust_renderer = None
  python/djust/tests/test_renderer_protocol.py
Due: pytest

Bump version to 1.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(checks): V004 no longer false-fires on framework-invoked lifecycle hooks (#1684)
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

docs(changelog): note V004 lifecycle-allowlist fix (#1684)
  CHANGELOG.md
Due: none

docs: de-AI README — strip emoji, cut hype, dedup setup, fix roadmap
  README.md
Due: none

docs: de-AI README — strip emoji, cut hype, dedup setup, fix roadmap (#1686)
  README.md
Due: none

docs(roadmap): add v1.0.1 milestone — drain 7 post-1.0 issues
  ROADMAP.md
Due: none

fix(client): #1688 — reference globalThis.djust.applyPatches, not bare symbol
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/45-child-view.js
  tests/js/child_view.test.js
  tests/js/min_bundle_applypatches_1688.test.js
  tests/js/sticky_preserve.test.js
Due: npm-test

docs(changelog): #1688 — applyPatches cross-IIFE fix entry
  CHANGELOG.md
Due: none

fix(client): #1688 — applyPatches cross-IIFE ReferenceError in client.min.js (#1690)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/45-child-view.js
  tests/js/child_view.test.js
  tests/js/min_bundle_applypatches_1688.test.js
  tests/js/sticky_preserve.test.js
Due: npm-test

fix(templates): #1672 — honor runtime SafeString in firstof/cycle get_value path
  crates/djust_templates/src/renderer.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): #1672 — firstof/cycle runtime-SafeString entry
  CHANGELOG.md
Due: none

fix(templates): #1672 — honor runtime SafeString in firstof/cycle get_value path (#1691)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(examples): #1683 — migrate dead @click/@input/etc to dj-* in demos
  examples/demo_project/DEPENDENCY_MANAGEMENT.md
  examples/demo_project/FORM_PATTERNS_COMPARISON.md
  examples/demo_project/REACT_TO_DJUST_TRANSLATION.md
  examples/demo_project/demo_app/views/cache_demo.py
  examples/demo_project/demo_app/views/component_demo.py
  examples/demo_project/demo_app/views/components_demo.py
  examples/demo_project/demo_app/views/components_only_demo.py
  examples/demo_project/demo_app/views/debounce_demo.py
  examples/demo_project/demo_app/views/homepage.py
  examples/demo_project/demo_app/views/no_template_demo.py
  examples/demo_project/demo_app/views/optimistic_counter_demo.py
  examples/demo_project/demo_app/views/optimistic_todo_demo.py
  examples/demo_project/demo_app/views_old.py
  examples/demo_project/djust_demos/demo_classes/cache.py
  examples/demo_project/djust_demos/demo_classes/counter.py
  examples/demo_project/djust_demos/demo_classes/debounce.py
  examples/demo_project/djust_demos/demo_classes/dropdown.py
  examples/demo_project/djust_demos/views/component_demo.py
  examples/demo_project/djust_demos/views/components_demo.py
  examples/demo_project/djust_demos/views/components_only_demo.py
  examples/demo_project/djust_demos/views/counter_demo.py
  examples/demo_project/djust_demos/views/no_template_demo.py
  examples/demo_project/djust_demos/views/optimistic_counter_demo.py
  examples/demo_project/djust_demos/views/optimistic_todo_demo.py
  examples/demo_project/djust_homepage/views.py
  examples/demo_project/djust_shared/components/ui.py
  examples/range_component_demo.py
  examples/rust_components_demo.py
  python/djust/templatetags/live_tags.py
  python/djust/validation.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

docs(changelog): #1683 — demo dj-click migration entry
  CHANGELOG.md
Due: none

fix(examples): #1683 — migrate dead @click/@input/etc to dj-* in demos (#1693)
  CHANGELOG.md
  examples/demo_project/DEPENDENCY_MANAGEMENT.md
  examples/demo_project/FORM_PATTERNS_COMPARISON.md
  examples/demo_project/REACT_TO_DJUST_TRANSLATION.md
  examples/demo_project/demo_app/views/cache_demo.py
  examples/demo_project/demo_app/views/component_demo.py
  examples/demo_project/demo_app/views/components_demo.py
  examples/demo_project/demo_app/views/components_only_demo.py
  examples/demo_project/demo_app/views/debounce_demo.py
  examples/demo_project/demo_app/views/homepage.py
  examples/demo_project/demo_app/views/no_template_demo.py
  examples/demo_project/demo_app/views/optimistic_counter_demo.py
  examples/demo_project/demo_app/views/optimistic_todo_demo.py
  examples/demo_project/demo_app/views_old.py
  examples/demo_project/djust_demos/demo_classes/cache.py
  examples/demo_project/djust_demos/demo_classes/counter.py
  examples/demo_project/djust_demos/demo_classes/debounce.py
  examples/demo_project/djust_demos/demo_classes/dropdown.py
  examples/demo_project/djust_demos/views/component_demo.py
  examples/demo_project/djust_demos/views/components_demo.py
  examples/demo_project/djust_demos/views/components_only_demo.py
  examples/demo_project/djust_demos/views/counter_demo.py
  examples/demo_project/djust_demos/views/no_template_demo.py
  examples/demo_project/djust_demos/views/optimistic_counter_demo.py
  examples/demo_project/djust_demos/views/optimistic_todo_demo.py
  examples/demo_project/djust_homepage/views.py
  examples/demo_project/djust_shared/components/ui.py
  examples/range_component_demo.py
  examples/rust_components_demo.py
  python/djust/templatetags/live_tags.py
  python/djust/validation.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

fix(theming): #1662 — break registry↔theme_packs/manifest import cycle
  python/djust/tests/test_theming_installable_packages.py
  python/djust/tests/test_theming_no_cyclic_import.py
  python/djust/theming/_registry_accessor.py
  python/djust/theming/apps.py
  python/djust/theming/checks.py
  python/djust/theming/gallery/views.py
  python/djust/theming/loaders.py
  python/djust/theming/management/commands/djust_theme.py
  python/djust/theming/manager.py
  python/djust/theming/manifest.py
  python/djust/theming/presets.py
  python/djust/theming/registry.py
  python/djust/theming/theme_packs.py
Due: pytest
