Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(templates): localize rendered numbers the way Django does (#2221) (#2222)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_core/src/locale.rs
  crates/djust_core/tests/test_number_localization_2221.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/djust/render_env.py
  python/djust/simple_live_view.py
  python/djust/tests/test_number_localization_2221.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/timezone_bridge.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): #2221 piece 1 shipped (PR #2222)
  ROADMAP.md
Due: none

test(serialization): guard the dead-special-case class behind #2212 and #2214
  crates/djust_live/src/lib.rs
  python/djust/serialization.py
  python/tests/test_dead_special_case_converters_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): dead-special-case guard (#2214)
  CHANGELOG.md
Due: none

test(serialization): guard the dead-special-case class behind #2212 and #2214 (#2224)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  python/djust/serialization.py
  python/tests/test_dead_special_case_converters_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): push per-render settings from the Django-template backend (#2223)
  python/djust/template/rendering.py
  python/djust/tests/test_backend_render_env_2223.py
  python/djust/tests/test_timezone_render_2209.py
Due: pytest

docs(changelog): backend render-env handoff (#2223)
  CHANGELOG.md
Due: none

fix(templates): push per-render settings from the Django-template backend (#2223) (#2225)
  CHANGELOG.md
  python/djust/template/rendering.py
  python/djust/tests/test_backend_render_env_2223.py
  python/djust/tests/test_timezone_render_2209.py
Due: pytest

docs(roadmap): #2214 guard shipped (issue stays open), #2223 shipped
  ROADMAP.md
Due: none

fix(templates): format a bare datetime.time instead of echoing it (#2216)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_time_only_filters_2216.rs
  python/djust/tests/test_time_only_render_2216.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): time-only filter formatting (#2216)
  CHANGELOG.md
Due: none

fix(templates): format a bare datetime.time instead of echoing it (#2216) (#2226)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_time_only_filters_2216.rs
  python/djust/tests/test_time_only_render_2216.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): #2216 time half shipped, drain #2227
  ROADMAP.md
Due: none

fix(templates): one shared datetime parser for timesince/timeuntil (#2227)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_duration_filters_2227.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): shared datetime parser for the duration filters (#2227)
  CHANGELOG.md
Due: none

fix(templates): one shared datetime parser for timesince/timeuntil (#2227) (#2229)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_duration_filters_2227.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(roadmap): #2227 shipped, drain #2228
  ROADMAP.md
Due: none

fix(templates): port Django's timesince output shape (#2228)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_duration_filters_2227.rs
  crates/djust_templates/tests/test_timesince_shape_2228.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): Django-parity timesince output (#2228)
  CHANGELOG.md
Due: none

fix(templates): port Django's timesince output shape (#2228) (#2230)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_duration_filters_2227.rs
  crates/djust_templates/tests/test_timesince_shape_2228.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(roadmap): #2228 shipped — the datetime-filter chain is closed
  ROADMAP.md
Due: none

fix(templates): implement every Django date format code (#2217)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_all_date_format_codes_2217.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): full date format-code parity (#2217)
  CHANGELOG.md
Due: none

fix(templates): implement every Django date format code (#2217) (#2231)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_all_date_format_codes_2217.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(roadmap): #2217 shipped — all 38 date format codes match Django
  ROADMAP.md
Due: none

fix(retro): tick Open Items whose issues have all closed (#2200)
  CHANGELOG.md
  RETRO.md
  scripts/check-action-tracker.py
  tests/test_action_tracker_drift_2143.py
Due: pytest

fix(retro): tick Open Items whose issues have all closed (#2200) (#2232)
  CHANGELOG.md
  RETRO.md
  scripts/check-action-tracker.py
  tests/test_action_tracker_drift_2143.py
Due: pytest

fix(views): make SimpleLiveView render, and stop it shadowing LiveView (#2219)
  CHANGELOG.md
  python/djust/simple_live_view.py
  python/djust/tests/test_number_localization_2221.py
  python/djust/tests/test_simple_live_view_2219.py
  python/djust/tests/test_timezone_render_2209.py
Due: pytest

fix(views): make SimpleLiveView render, and stop it shadowing LiveView (#2219) (#2233)
  CHANGELOG.md
  python/djust/simple_live_view.py
  python/djust/tests/test_number_localization_2221.py
  python/djust/tests/test_simple_live_view_2219.py
  python/djust/tests/test_timezone_render_2209.py
Due: pytest

docs(roadmap): #2200 and #2219 shipped; #2163 closed as a policy decision
  ROADMAP.md
Due: none

docs(retro): milestone v1.1.1-2 + four canon rules + action tracker
  CLAUDE.md
  RETRO.md
Due: none

security: stop SimpleLiveView render errors exposing exception detail (#2596)
  python/djust/simple_live_view.py
  python/djust/tests/test_simple_live_view_2219.py
Due: pytest

docs(changelog): SimpleLiveView stack-trace exposure (#2596)
  CHANGELOG.md
Due: none

security: stop SimpleLiveView render errors exposing exception detail (#2596) (#2235)
  CHANGELOG.md
  python/djust/simple_live_view.py
  python/djust/tests/test_simple_live_view_2219.py
Due: pytest

fix(tests): reset Django's language/timezone thread-locals between tests (#2234)
  python/djust/test_isolation.py
  tests/test_reset_fixture_hygiene_2234.py
  tests/unit/test_live_view.py
Due: pytest

docs(changelog): reset-fixture audit and thread-local normalisation (#2234)
  CHANGELOG.md
Due: none

fix(tests): address Stage 11 findings — guard completeness + the third root (#2234)
  python/djust/test_isolation.py
  python/tests/conftest.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs(changelog): Stage 11 findings for the reset-fixture audit (#2234)
  CHANGELOG.md
Due: none

fix(tests): replace the hand-rolled prose scanner with tokenize (#2234)
  python/djust/test_isolation.py
  python/djust/tests/conftest.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

docs(changelog): correct the case count for the reset-fixture audit (#2234)
  CHANGELOG.md
Due: none
