Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(hooks): attribute pre-push failures to the branch's own base, and block only on its own
  scripts/pre-push-pytest.sh
Due: none

fix(tests): fixture repos must not inherit the host repository's git state
  python/djust/tests/test_make_doctor_2061.py
  tests/git_env.py
  tests/test_check_shared_git_config.py
  tests/test_git_commit_with_precommit.py
  tests/test_run_with_venv_python.py
Due: pytest

fix(hooks): the base re-check must be able to see order-dependent failures
  scripts/pre-push-pytest.sh
Due: none

fix(tests): the hook's own spec fixture was the last writer of the host index
  tests/test_red_main_attribution_behaviour_2139.py
Due: pytest

fix(security): enforce all three authorization layers on the HTTP POST transport (1.1 backport)
  changelog.d/post-transport-authz.fixed.md
  python/djust/mixins/request.py
  python/djust/tests/test_make_doctor_2061.py
  python/tests/test_http_post_authz.py
  scripts/pre-push-pytest.sh
  tests/git_env.py
  tests/test_check_shared_git_config.py
  tests/test_git_commit_with_precommit.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
Due: pytest

chore(release): bump to 1.1.3
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(changelog): fold the 1.1.3 entry into a versioned section
  CHANGELOG.md
  changelog.d/post-transport-authz.fixed.md
Due: none

fix(security): enforce all three authorization layers on the HTTP POST fallback
  python/djust/mixins/request.py
  python/tests/test_http_post_authz.py
Due: pytest

docs(security): add changelog fragment for HTTP POST authz fix
  changelog.d/http-post-authz.security.md
Due: none

fix(security): enforce all three authorization layers on the HTTP POST fallback (#2853)
  changelog.d/http-post-authz.security.md
  python/djust/mixins/request.py
  python/tests/test_http_post_authz.py
Due: pytest

fix: rebuild dj-shortcut / dj-click-away closures when the attribute value changes on a surviving element (#2845)
  CLAUDE.md
  PERFORMANCE_BRAINSTORM.md
  README.md
  ROADMAP.md
  docs/TEMPLATE_BACKEND.md
  docs/guides/sw-enhancements.md
  docs/llms-full.txt
  docs/llms.txt
  docs/website/core-concepts/templates.md
  docs/website/getting-started/core-concepts.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/template-cheatsheet.md
  examples/demo_project/FORM_PATTERNS_COMPARISON.md
  examples/demo_project/REACT_TO_DJUST_TRANSLATION.md
  examples/demo_project/demo_app/forms_djust_example.py
  examples/demo_project/demo_app/templates/forms/status_change_djust.html
  examples/demo_project/djust_demos/templates/demos/index_design3.html
  examples/demo_project/djust_demos/templates/demos/index_design_hybrid.html
  examples/demo_project/djust_demos/templates/demos/index_shadcn.html
  examples/demo_project/djust_docs/templates/docs/docs.html
  examples/demo_project/djust_forms/templates/forms/status_change_djust.html
  examples/demo_project/djust_homepage/templates/homepage/index.html
  examples/demo_project/templates/docs.html
  examples/demo_project/templates/index.html
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/stale-scoped-listeners-2845.test.js
Due: npm-test, pytest

docs: add changelog fragment for #2845 stale scoped-listener closure fix
  changelog.d/2845.fixed.md
Due: none

fix(runtime): serialize async-result handlers on the render lock; force wins on the deferred re-dispatch twins
  python/djust/runtime.py
  python/djust/tests/test_async_result_render_lock_2840.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/websocket.py
Due: pytest

docs(changelog): add fragments for #2840 and #2847
  changelog.d/2840.fixed.md
  changelog.d/2847.fixed.md
Due: none

fix: rebuild dj-shortcut / dj-click-away closures when the attribute value changes on a surviving element (#2845) (#2855)
  CLAUDE.md
  PERFORMANCE_BRAINSTORM.md
  README.md
  ROADMAP.md
  changelog.d/2845.fixed.md
  docs/TEMPLATE_BACKEND.md
  docs/guides/sw-enhancements.md
  docs/llms-full.txt
  docs/llms.txt
  docs/website/core-concepts/templates.md
  docs/website/getting-started/core-concepts.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/template-cheatsheet.md
  examples/demo_project/FORM_PATTERNS_COMPARISON.md
  examples/demo_project/REACT_TO_DJUST_TRANSLATION.md
  examples/demo_project/demo_app/forms_djust_example.py
  examples/demo_project/demo_app/templates/forms/status_change_djust.html
  examples/demo_project/djust_demos/templates/demos/index_design3.html
  examples/demo_project/djust_demos/templates/demos/index_design_hybrid.html
  examples/demo_project/djust_demos/templates/demos/index_shadcn.html
  examples/demo_project/djust_docs/templates/docs/docs.html
  examples/demo_project/djust_forms/templates/forms/status_change_djust.html
  examples/demo_project/djust_homepage/templates/homepage/index.html
  examples/demo_project/templates/docs.html
  examples/demo_project/templates/index.html
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/stale-scoped-listeners-2845.test.js
Due: npm-test, pytest

fix: stamp dotted event attrs on embedded views; warn on inert keyboard modifiers
  CLAUDE.md
  PERFORMANCE_BRAINSTORM.md
  README.md
  ROADMAP.md
  docs/TEMPLATE_BACKEND.md
  docs/guides/sw-enhancements.md
  docs/llms-full.txt
  docs/llms.txt
  docs/website/core-concepts/templates.md
  docs/website/getting-started/core-concepts.md
  docs/website/getting-started/first-liveview.md
  docs/website/guides/template-cheatsheet.md
  examples/demo_project/FORM_PATTERNS_COMPARISON.md
  examples/demo_project/REACT_TO_DJUST_TRANSLATION.md
  examples/demo_project/demo_app/forms_djust_example.py
  examples/demo_project/demo_app/templates/forms/status_change_djust.html
  examples/demo_project/djust_demos/templates/demos/index_design3.html
  examples/demo_project/djust_demos/templates/demos/index_design_hybrid.html
  examples/demo_project/djust_demos/templates/demos/index_shadcn.html
  examples/demo_project/djust_docs/templates/docs/docs.html
  examples/demo_project/djust_forms/templates/forms/status_change_djust.html
  examples/demo_project/djust_homepage/templates/homepage/index.html
  examples/demo_project/templates/docs.html
  examples/demo_project/templates/index.html
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/templatetags/live_tags.py
  tests/js/keydown_key_warning_2842.test.js
  tests/unit/test_live_render_tag.py
Due: npm-test, pytest

docs: add changelog fragments for #2841 and #2842
  changelog.d/2841.fixed.md
  changelog.d/2842.fixed.md
Due: none

fix(runtime): serialize async-result handlers on the render lock; force wins on the deferred re-dispatch twins (#2856)
  changelog.d/2840.fixed.md
  changelog.d/2847.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_async_result_render_lock_2840.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/websocket.py
Due: pytest

docs(multi-tenant): document tenant-aware presence
  docs/website/guides/multi-tenant.md
Due: none

docs: repoint references to the four deleted legacy guides
  docs/README.md
  docs/guides/security.md
  docs/guides/sw-enhancements.md
Due: none

docs(model-binding): fold in the two examples the live page lacked
  docs/website/guides/model-binding.md
Due: none

docs: delete the four legacy guides whose content moved to website/guides/
  docs/guides/css-frameworks.md
  docs/guides/model-binding.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
Due: none

docs(pwa): replace a phantom config block, and document offline storage
  docs/website/guides/pwa.md
Due: none

docs(css-frameworks): add pitfalls, CI recipes, and the real adapter API
  docs/website/guides/css-frameworks.md
Due: none

chore: drop the deleted legacy guides from check-doc-api-references
  scripts/check-doc-api-references.py
Due: pytest

docs: merge the five duplicated guide pairs, delete the four now redundant (#2860)
  docs/README.md
  docs/guides/css-frameworks.md
  docs/guides/model-binding.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/guides/security.md
  docs/guides/sw-enhancements.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/model-binding.md
  docs/website/guides/multi-tenant.md
  docs/website/guides/pwa.md
  scripts/check-doc-api-references.py
Due: pytest

fix(checks): count only statement-position it(/test( in JS test-count check
  scripts/check-changelog-test-counts.py
  tests/test_changelog_test_counts.py
Due: pytest

docs: add changelog fragment for #2839 test-count regex fix
  changelog.d/2839.fixed.md
Due: none

fix: detect release tags with no CHANGELOG section; verify section before tagging (#2854)
  Makefile
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix: exclude dots from the stamp matcher's modifier class (ReDoS)
  python/djust/templatetags/live_tags.py
  tests/unit/test_live_render_tag.py
Due: pytest

fix: resolve changelog.d fragment path/class references against the tree (#2849)
  .pre-commit-config.yaml
  scripts/check-changelog-fragment-references.py
  tests/test_changelog_fragment_references.py
Due: pytest

docs: add changelog fragment for the changelog-gates fixes
  changelog.d/2854-changelog-gates.fixed.md
Due: none

fix: dotted event attributes — embedded-view stamping (#2841) + inert-modifier warning (#2842) (#2857)
  CLAUDE.md
  changelog.d/2841.fixed.md
  changelog.d/2842.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/templatetags/live_tags.py
  tests/js/keydown_key_warning_2842.test.js
  tests/unit/test_live_render_tag.py
Due: npm-test, pytest

fix: changelog gate blind spots — sectionless release tags + unchecked fragment references (#2854, #2849) (#2861)
  .pre-commit-config.yaml
  Makefile
  changelog.d/2854-changelog-gates.fixed.md
  scripts/check-changelog-fragment-references.py
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_fragment_references.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix(checks): count only statement-position it(/test( in the JS test-count check (#2839) (#2863)
  changelog.d/2839.fixed.md
  scripts/check-changelog-test-counts.py
  tests/test_changelog_test_counts.py
Due: pytest

fix(checks): catch deletion of a shipped CHANGELOG section in the tagged-sections pin
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

docs(changelog): add fragment for the CHANGELOG deletion-detection fix
  changelog.d/changelog-deletion-gap.fixed.md
Due: none

fix(checks): catch deletion of a shipped CHANGELOG section in the tagged-sections pin (#2864)
  changelog.d/changelog-deletion-gap.fixed.md
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix(checks): catch a full CHANGELOG wipe in the tagged-sections pin (#2865)
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

docs(changelog): fragment for the #2865 wipe-detection fix
  changelog.d/changelog-fail-open.fixed.md
Due: none
