Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(changelog): dj-window-* root-element scan fix (#2097)
  CHANGELOG.md
Due: none

perf(client): scan root without allocating per-bind arrays (#2107 review)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-root-scan-2097.test.js
Due: npm-test

docs(changelog): record #2107 review outcomes (guard pin, zero-alloc, #2108)
  CHANGELOG.md
Due: none

fix(client): scan the root element itself for dj-window-*/dj-document-* (#2097) (#2107)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-root-scan-2097.test.js
Due: npm-test

fix(client): refresh scoped-attr registry entries on value change (#2108)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-stale-handler-2108.test.js
Due: npm-test

docs(changelog): scoped-attr stale-handler refresh (#2108)
  CHANGELOG.md
Due: none

fix(client): refresh scoped-attr registry entries on value change (#2108) (#2109)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-stale-handler-2108.test.js
Due: npm-test

fix(client): scan EVERY LiveView root; keep sweep and scan scope-symmetric (#2110)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-scope-symmetry-2110.test.js
Due: npm-test

docs(changelog): scope symmetry for scoped-attr scan/sweep (#2110)
  CHANGELOG.md
Due: none

perf(client): scan only OUTERMOST roots — nesting cost was quadratic (#2111 review)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
Due: npm-test

docs(changelog): correct the #2110 perf claim + document scope widening
  CHANGELOG.md
Due: none

fix(client): scan EVERY LiveView root; keep sweep and scan scope-symmetric (#2110) (#2111)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-scope-symmetry-2110.test.js
Due: npm-test

feat(client): name dj-virtual when a patch misses an off-window item (#2017 item 5)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/dj-virtual-patch-miss-diagnostic-2017.test.js
Due: npm-test

docs(changelog): dj-virtual patch-miss diagnostic (#2017 item 5)
  CHANGELOG.md
Due: none

fix(client): scope the dj-virtual diagnosis to the patch root + throttle it (#2114 review)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/dj-virtual-patch-miss-diagnostic-2017.test.js
Due: npm-test

docs(changelog): record #2114 review outcomes (root-scoping, throttle, guard pins)
  CHANGELOG.md
Due: none

feat(client): name dj-virtual when a patch misses an off-window item (#2017 item 5) (#2114)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/dj-virtual-patch-miss-diagnostic-2017.test.js
Due: npm-test

fix(client): do not path-fallback a patch whose dj-id is held detached (#2113)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj-virtual-path-fallback-2113.test.js
Due: npm-test

docs(changelog): path-fallback wrong-node fix (#2113)
  CHANGELOG.md
Due: none

fix(streams): expose sync stream data to the template context (#2112)
  python/djust/mixins/context.py
  tests/unit/test_streams_context_2112.py
Due: pytest

docs(changelog): sync stream context wiring (#2112)
  CHANGELOG.md
Due: none

fix(client): gate the #2113 guard on WHERE the fallback lands (#2115 review)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj-virtual-path-fallback-2113.test.js
Due: npm-test

docs(changelog): correct the #2113 fix shape after review
  CHANGELOG.md
Due: none

fix(streams): expose under the documented streams.<name> namespace, not top level
  python/djust/mixins/context.py
  tests/unit/test_streams_context_2112.py
Due: pytest

docs(changelog): correct #2112 to the documented streams.<name> shape
  CHANGELOG.md
Due: none

fix(streams): Stream.delete now matches dict items (#2116)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_dict_2116.py
Due: pytest

docs(changelog): Stream.delete dict-item matching (#2116)
  CHANGELOG.md
Due: none

fix(client): do not path-fallback a patch whose dj-id is held detached (#2113) (#2115)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj-virtual-path-fallback-2113.test.js
Due: npm-test

fix(streams): cure the identity drift at ALL THREE sites (#2118 review)
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_delete_dict_2116.py
Due: pytest

docs(streams): correct the false _deleted_ids claim (#2118 review)
  CHANGELOG.md
  python/djust/session_utils.py
Due: pytest

fix(streams): stop the self-poisoning loop; live streams win (#2117 review)
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  tests/unit/test_streams_context_2112.py
Due: pytest

docs(changelog): record the #2112 self-poisoning fix and precedence reversal
  CHANGELOG.md
Due: none

fix(streams): expose sync stream data to the template context (#2112) (#2117)
  CHANGELOG.md
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  tests/unit/test_streams_context_2112.py
Due: pytest

feat(streams): route stream ops through the dj-virtual item pool (#2017 item 1)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/stream-ops-dj-virtual-2017.test.js
Due: npm-test

docs(changelog): stream ops through the dj-virtual pool (#2017 item 1)
  CHANGELOG.md
Due: none

fix(streams): treat id=None as absent — presence-only collided dom_ids (#2118 re-review)
  CHANGELOG.md
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_delete_dict_2116.py
Due: pytest

feat(streams): route stream ops through the dj-virtual item pool (#2017 item 1) (#2120)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/stream-ops-dj-virtual-2017.test.js
Due: npm-test

fix(streams): stream context captures must not alias the live list (#2119)
  python/djust/mixins/streams.py
  tests/unit/test_streams_capture_aliasing_2119.py
Due: pytest

docs(changelog): stream context capture aliasing (#2119)
  CHANGELOG.md
Due: none

fix(streams): Stream.delete now matches dict items (#2116) (#2118)
  CHANGELOG.md
  python/djust/mixins/streams.py
  python/djust/session_utils.py
  tests/unit/test_stream_delete_dict_2116.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
