Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(templates): resolve bare-identifier built-in filter args as context variables (#2202) (#2204)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  python/djust/tests/test_template_auto_call_1985.py
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

perf(ci): run the pre-push suite in parallel, keeping definition order in main-health
  .github/workflows/main-health.yml
  scripts/pre-push-pytest.sh
  tests/test_suite_ordering_coverage_2187.py
Due: pytest

docs(changelog): parallel pre-push suite, definition order kept in main-health
  CHANGELOG.md
Due: none

perf(ci): run the pre-push suite in parallel, keeping definition order in main-health (#2205)
  .github/workflows/main-health.yml
  CHANGELOG.md
  scripts/pre-push-pytest.sh
  tests/test_suite_ordering_coverage_2187.py
Due: pytest

perf(ci): drop LTO for the test builds, keeping it for the shipped wheel
  .github/workflows/test.yml
  tests/test_ci_cargo_profile_overrides.py
Due: pytest

docs(changelog): CI test builds drop LTO, shipped wheel keeps it
  CHANGELOG.md
Due: none

perf(ci): scope the LTO override to rust-tests, per the CI measurement
  .github/workflows/test.yml
  CHANGELOG.md
  tests/test_ci_cargo_profile_overrides.py
Due: pytest

perf(ci): drop LTO for the test builds, keeping it for the shipped wheel (#2206)
  .github/workflows/test.yml
  CHANGELOG.md
  tests/test_ci_cargo_profile_overrides.py
Due: pytest

perf(ci): merge the two Python test steps into one invocation
  .github/workflows/test.yml
  tests/test_ci_python_test_roots.py
Due: pytest

docs(changelog): merge the two CI Python test steps
  CHANGELOG.md
Due: none

perf(ci): merge the two Python test steps into one invocation (#2207)
  .github/workflows/test.yml
  CHANGELOG.md
  tests/test_ci_python_test_roots.py
Due: pytest

fix(templates): date/time on datetimes, Django's ellipsis, and add's real semantics (#2203)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): cover the datetime-local form shape and stop add overflowing (#2203 self-review)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): date/time datetime parsing, Django ellipsis, add semantics (#2203)
  CHANGELOG.md
Due: none

fix(templates): microseconds, quoted-float add, and the _html twins (#2203 review)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): correct the #2203 premise, add semantics, and variant count after review
  CHANGELOG.md
Due: none

fix(templates): date/time on datetimes, Django's ellipsis, and add's real semantics (#2203) (#2208)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): Django-parity value rendering, behind django_value_repr (#2203)
  Cargo.lock
  Cargo.toml
  crates/djust_core/Cargo.toml
  crates/djust_core/benches/context.rs
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/serialization.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/benches/loop_render_cache.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_rust_renderer_str_key.py
  python/tests/test_csrf_user_survive_ws_1779.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(core): cover the django_value_repr OFF path (#2203)
  crates/djust_core/tests/test_display_django_parity_2203.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): Django-parity value rendering behind django_value_repr (#2203)
  CHANGELOG.md
Due: none

fix(templates): == None, default_if_none, a test race and __dict__ order (#2203 review)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): Django-parity value rendering, behind django_value_repr (#2203) (#2211)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/djust_core/Cargo.toml
  crates/djust_core/benches/context.rs
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/serialization.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/benches/loop_render_cache.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
  crates/djust_templates/tests/test_builtin_filter_arg_resolution_2202.rs
  crates/djust_templates/tests/test_dj_if_loop_unique_marker_id_1832.rs
  crates/djust_templates/tests/test_if_markers.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_cache_value_keys_2203.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_rust_renderer_str_key.py
  python/tests/test_csrf_user_survive_ws_1779.py
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): drain #2212 and #2200 into the v1.1.1 buckets
  ROADMAP.md
Due: none

docs: add PERFORMANCE_BRAINSTORM.md, the source the v1.1.1-2 bucket cites
  PERFORMANCE_BRAINSTORM.md
Due: none

fix(serialization): check bool before i64 in serialize_python_value (#2212)
  crates/djust_live/src/lib.rs
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_template_serialization.py
  scripts/check-doc-snippets.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): bool-before-i64 in serialize_python_value (#2212)
  CHANGELOG.md
Due: none

fix(tests): repair the #2212 structural guard's own parser (#2213 review)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_template_serialization.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(serialization): check bool before i64 in serialize_python_value (#2212) (#2213)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  python/tests/test_bool_before_int_converters_2212.py
  python/tests/test_template_serialization.py
  scripts/check-doc-snippets.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): mark #2212 shipped, drain #2214 and #2215 into v1.1.1-2
  ROADMAP.md
Due: none

fix(templates): render timestamps in settings.TIME_ZONE, as Django does (#2209)
  Cargo.lock
  Cargo.toml
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/timezone.rs
  crates/djust_templates/tests/test_timezone_parity_2209.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_timezone_render_2209.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): timezone-aware timestamp rendering (#2209)
  CHANGELOG.md
Due: none

fix(templates): converge both render paths onto one timezone handoff (#2209)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/simple_live_view.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/timezone_bridge.py
Due: pytest

fix(templates): render timestamps in settings.TIME_ZONE, as Django does (#2209) (#2218)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/timezone.rs
  crates/djust_templates/tests/test_timezone_parity_2209.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/djust/simple_live_view.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/timezone_bridge.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): mark #2209 shipped, drain #2216/#2217/#2219 into v1.1.1-2
  ROADMAP.md
Due: none

fix(sessions): honour settings.SESSION_ENGINE on synthesized requests (#2210)
  CHANGELOG.md
  python/djust/admin_ext/decorators.py
  python/djust/admin_ext/options.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/djust/testing.py
  python/djust/tests/test_session_engine_2210.py
  python/djust/utils.py
  python/djust/websocket.py
Due: pytest

fix(sessions): honour settings.SESSION_ENGINE on synthesized requests (#2210) (#2220)
  CHANGELOG.md
  python/djust/admin_ext/decorators.py
  python/djust/admin_ext/options.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/djust/testing.py
  python/djust/tests/test_session_engine_2210.py
  python/djust/utils.py
  python/djust/websocket.py
Due: pytest

docs(roadmap): mark #2210 shipped
  ROADMAP.md
Due: none

docs(roadmap): file the l10n row as #2221 with the Stage-4 fold decision
  ROADMAP.md
Due: none

fix(templates): localize rendered numbers the way Django does (#2221)
  crates/djust_core/src/lib.rs
  crates/djust_core/src/locale.rs
  crates/djust_core/tests/test_number_localization_2221.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/mixins/rust_bridge.py
  python/djust/render_env.py
  python/djust/simple_live_view.py
  python/djust/tests/test_number_localization_2221.py
  python/djust/tests/test_timezone_render_2209.py
  python/djust/timezone_bridge.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): locale-aware number rendering (#2221)
  CHANGELOG.md
Due: none
