Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(testing): address PR #842 follow-ups (#843/#844)
  CHANGELOG.md
  python/djust/testing.py
  python/djust/tests/test_testing_utilities.py
Due: pytest

ci(security-tests): include test_upload_writer.py in coverage run
  .github/workflows/test.yml
Due: none

fix(uploads): address PR #819 follow-ups (#823/#824/#825) (#864)
  .github/workflows/test.yml
  CHANGELOG.md
  python/djust/uploads.py
  tests/unit/test_upload_writer.py
Due: pytest

fix(streams, virtual): address PR #796 follow-ups (#798/#799/#801)
  CHANGELOG.md
  python/djust/mixins/streams.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual_list.test.js
  tests/unit/test_stream_limit.py
Due: npm-test, pytest

fix(db-notify): address PR #807 follow-ups (#810/#811/#812/#813)
  CHANGELOG.md
  python/djust/db/decorators.py
  python/djust/db/notifications.py
  python/djust/websocket.py
  tests/unit/test_db_notifications.py
Due: pytest

fix(testing): address PR #842 follow-ups (#843/#844) (#865)
  CHANGELOG.md
  python/djust/testing.py
  python/djust/tests/test_testing_utilities.py
Due: pytest

fix(streams, virtual): address PR #796 follow-ups (#798/#799/#801) (#866)
  CHANGELOG.md
  python/djust/mixins/streams.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual_list.test.js
  tests/unit/test_stream_limit.py
Due: npm-test, pytest

fix(db-notify): address PR #807 follow-ups (#810/#811/#812/#813) (#867)
  CHANGELOG.md
  python/djust/db/decorators.py
  python/djust/db/notifications.py
  python/djust/websocket.py
  tests/unit/test_db_notifications.py
Due: pytest

docs(roadmap): flip v0.5.1 Parity Tracker rows to shipped (#855)
  ROADMAP.md
Due: none

docs(roadmap): fold pre-v0.6.0 unfinished items forward (#858)
  ROADMAP.md
Due: none

docs(retro): tech-debt drain session entry + Action Tracker updates
  RETRO.md
Due: none

test(dep-extractor): broaden partial-render correctness harness (#786)
  tests/test_rust_vdom_safe_diff_783.py
Due: pytest

fix(rust): warn when assign tag handler returns non-dict (#805)
  crates/djust_templates/src/registry.rs
  tests/unit/test_assign_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): render_slot works end-to-end via Rust engine (#861)
  python/djust/components/function_component.py
  tests/unit/test_named_slots.py
Due: pytest

docs(retro): tech-debt drain session entry + Action Tracker updates (#868)
  RETRO.md
Due: none

test(dep-extractor): broaden partial-render correctness harness (#786) (#869)
  tests/test_rust_vdom_safe_diff_783.py
Due: pytest

fix(rust): warn when assign tag handler returns non-dict (#805) (#870)
  crates/djust_templates/src/registry.rs
  tests/unit/test_assign_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): render_slot works end-to-end via Rust engine (#861) (#871)
  python/djust/components/function_component.py
  tests/unit/test_named_slots.py
Due: pytest

feat: pre-minified client.js distribution (v0.6.0 P1)
  CHANGELOG.md
  ROADMAP.md
  eslint.config.js
  package-lock.json
  package.json
  python/djust/checks.py
  python/djust/mixins/post_processing.py
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/unit/test_client_minified.py
Due: npm-test, pytest

fix: template dep-tracking for filter args (#787) + for-iterable getattr walk (#806)
  CHANGELOG.md
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_template_dep_tracking_787_806.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat: pre-minified client.js distribution (v0.6.0 P1) (#872)
  CHANGELOG.md
  ROADMAP.md
  eslint.config.js
  package-lock.json
  package.json
  python/djust/checks.py
  python/djust/mixins/post_processing.py
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/unit/test_client_minified.py
Due: npm-test, pytest

feat(db): add djust.db.untrack() for @notify_on_save receiver cleanup (#809)
  CHANGELOG.md
  python/djust/db/__init__.py
  python/djust/db/decorators.py
  tests/unit/test_db_notifications.py
Due: pytest

fix: template dep-tracking for filter args (#787) + for-iterable getattr walk (#806) (#873)
  CHANGELOG.md
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  tests/unit/test_template_dep_tracking_787_806.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(db): guard PostgresNotifyListener against cross-loop use (#808)
  CHANGELOG.md
  python/djust/db/notifications.py
  tests/unit/test_db_notifications.py
Due: pytest

feat(db): add djust.db.untrack() for @notify_on_save receiver cleanup (#809) (#874)
  CHANGELOG.md
  python/djust/db/__init__.py
  python/djust/db/decorators.py
  tests/unit/test_db_notifications.py
Due: pytest

fix(db): guard PostgresNotifyListener against cross-loop use (#808) (#875)
  CHANGELOG.md
  python/djust/db/notifications.py
  tests/unit/test_db_notifications.py
Due: pytest

docs: surface block-handler nesting + loader-access constraints (#803, #804)
  CHANGELOG.md
  crates/djust_templates/src/registry.rs
  python/djust/_rust.pyi
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: assign_async concurrent same-name cancellation (#793)
  CHANGELOG.md
  python/djust/mixins/async_work.py
  tests/unit/test_assign_async.py
Due: pytest

docs: surface block-handler nesting + loader-access constraints (#803, #804) (#877)
  CHANGELOG.md
  crates/djust_templates/src/registry.rs
  python/djust/_rust.pyi
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: assign_async concurrent same-name cancellation (#793) (#876)
  CHANGELOG.md
  python/djust/mixins/async_work.py
  tests/unit/test_assign_async.py
Due: pytest

feat: declarative UX attributes — dj-mutation, dj-sticky-scroll, dj-track-static (v0.6.0)
  .pre-commit-config.yaml
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/declarative-ux-attrs.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/37-dj-mutation.js
  python/djust/static/djust/src/38-dj-sticky-scroll.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/templatetags/live_tags.py
  scripts/build-client.sh
  tests/js/dj_mutation.test.js
  tests/js/dj_sticky_scroll.test.js
  tests/js/dj_track_static.test.js
  tests/unit/test_djust_track_static_tag.py
Due: npm-test, pytest

feat: declarative UX attributes — dj-mutation, dj-sticky-scroll, dj-track-static (v0.6.0) (#878)
  .pre-commit-config.yaml
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/declarative-ux-attrs.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/37-dj-mutation.js
  python/djust/static/djust/src/38-dj-sticky-scroll.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/templatetags/live_tags.py
  scripts/build-client.sh
  tests/js/dj_mutation.test.js
  tests/js/dj_sticky_scroll.test.js
  tests/js/dj_track_static.test.js
  tests/unit/test_djust_track_static_tag.py
Due: npm-test, pytest

feat: WebSocket per-message compression toggle (v0.6.0)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/deployment.md
  python/djust/config.py
  python/djust/mixins/post_processing.py
  tests/unit/test_ws_compression_config.py
Due: pytest

feat: WebSocket per-message compression toggle (v0.6.0) (#883)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/deployment.md
  python/djust/config.py
  python/djust/mixins/post_processing.py
  tests/unit/test_ws_compression_config.py
Due: pytest

Bump version to 0.5.2rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  tests/js/dj_mutation.test.js
Due: npm-test, pytest

feat: runtime layout switching — self.set_layout(path) (v0.6.0)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/layouts.md
  docs/website/index.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/layout.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/websocket.py
  tests/js/dj_layout.test.js
  tests/unit/test_layout_switching.py
Due: npm-test, pytest

fix: address Stage 11 review findings on #884
  docs/website/guides/layouts.md
  python/djust/websocket.py
  tests/unit/test_layout_switching.py
Due: pytest

feat: runtime layout switching — self.set_layout(path) (v0.6.0) (#884)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/layouts.md
  docs/website/index.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/layout.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/websocket.py
  tests/js/dj_layout.test.js
  tests/unit/test_layout_switching.py
Due: npm-test, pytest

Bump version to 0.5.3rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat: dj-transition — declarative CSS enter/leave transitions (v0.6.0 Animations phase 1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/41-dj-transition.js
  tests/js/dj_transition.test.js
Due: npm-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
