Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(v0.4.0): add manage.py djust_gen_live scaffolding generator (v2) (#571)
  CHANGELOG.md
  docs/README.md
  docs/guides/scaffolding.md
  python/djust/management/commands/djust_gen_live.py
  python/djust/scaffolding/__init__.py
  python/djust/scaffolding/gen_live.py
  python/djust/scaffolding/gen_live_templates.py
  tests/integration/test_gen_live.py
Due: pytest

feat: priority-aware event queue for broadcast and async updates
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/websocket.py
  tests/js/event_sequencing.test.js
  tests/unit/test_event_sequencing.py
Due: npm-test, pytest

docs: add event sequencing docs for priority-aware broadcast/async updates
  ROADMAP.md
  docs/server-push.md
  docs/website/advanced/server-push.md
  python/djust/websocket.py
Due: pytest

chore: update lockfiles and gitignore for transition-priority feature
  .gitignore
  Cargo.lock
  docs/PULL_REQUEST_CHECKLIST.md
  uv.lock
Due: none

feat: priority-aware event queue for broadcast and async updates (#572)
  .gitignore
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/server-push.md
  docs/website/advanced/server-push.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/websocket.py
  tests/js/event_sequencing.test.js
  tests/unit/test_event_sequencing.py
  uv.lock
Due: npm-test, pytest

feat: add _target param, dj-disable-with, dj-lock, and dj-mounted event attributes
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-disable-with.test.js
  tests/js/dj-lock.test.js
  tests/js/dj-mounted.test.js
  tests/js/dj-target-param.test.js
Due: npm-test

docs: add documentation for _target, dj-disable-with, dj-lock, dj-mounted
  ROADMAP.md
  docs/EVENT_HANDLERS.md
  docs/website/core-concepts/events.md
  docs/website/guides/loading-states.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat: add _target, dj-disable-with, dj-lock, and dj-mounted event attributes (#573)
  CHANGELOG.md
  ROADMAP.md
  docs/EVENT_HANDLERS.md
  docs/website/core-concepts/events.md
  docs/website/guides/loading-states.md
  docs/website/guides/template-cheatsheet.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-disable-with.test.js
  tests/js/dj-lock.test.js
  tests/js/dj-mounted.test.js
  tests/js/dj-target-param.test.js
Due: npm-test

feat: add dj-window-*/dj-document-* event scoping, dj-click-away, and dj-shortcut attributes
  CHANGELOG.md
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj-click-away.test.js
  tests/js/dj-shortcut.test.js
  tests/js/dj-window-events.test.js
Due: npm-test, pytest

docs: add window/document events, dj-click-away, and dj-shortcut to user-facing guides
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat: scoping attributes (window/document events, dj-click-away, dj-shortcut) (#574)
  CHANGELOG.md
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
  python/djust/checks.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/dj-click-away.test.js
  tests/js/dj-shortcut.test.js
  tests/js/dj-window-events.test.js
Due: npm-test, pytest

feat: add UI feedback attributes (connection CSS, dj-cloak, page loading bar, dj-scroll-into-view)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/24-page-loading.js
  tests/js/connection-state.test.js
  tests/js/dj-cloak.test.js
  tests/js/dj-scroll-into-view.test.js
  tests/js/page-loading.test.js
Due: npm-test

docs: add UI feedback attributes to guides, cheatsheet, and roadmap
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat: UI feedback attributes (connection CSS, dj-cloak, page loading, scroll-into-view) (#575)
  CHANGELOG.md
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/24-page-loading.js
  tests/js/connection-state.test.js
  tests/js/dj-cloak.test.js
  tests/js/dj-scroll-into-view.test.js
  tests/js/page-loading.test.js
Due: npm-test

feat: add dj-copy enhancements, dj-auto-recover, and dj-debounce/dj-throttle attributes
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-auto-recover.test.js
  tests/js/dj-copy.test.js
  tests/js/dj-debounce-throttle.test.js
Due: npm-test

docs: update guides and roadmap for dj-copy enhancements, dj-auto-recover, dj-debounce/dj-throttle
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat: add dj-copy, dj-auto-recover, dj-debounce/dj-throttle utility attrs (#576)
  CHANGELOG.md
  ROADMAP.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-auto-recover.test.js
  tests/js/dj-copy.test.js
  tests/js/dj-debounce-throttle.test.js
Due: npm-test

feat: add page_title/page_meta dynamic document metadata
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/page_metadata.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/25-page-metadata.js
  python/djust/tests/test_page_metadata.py
  python/djust/websocket.py
  tests/js/page-metadata.test.js
Due: npm-test, pytest

docs: add document metadata guide and update ROADMAP
  ROADMAP.md
  docs/website/api-reference/liveview.md
  docs/website/core-concepts/events.md
  docs/website/guides/document-metadata.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat(v0.4.0): add page_title/page_meta dynamic document metadata (#577)
  CHANGELOG.md
  ROADMAP.md
  docs/website/api-reference/liveview.md
  docs/website/core-concepts/events.md
  docs/website/guides/document-metadata.md
  docs/website/guides/template-cheatsheet.md
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/page_metadata.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/25-page-metadata.js
  python/djust/tests/test_page_metadata.py
  python/djust/websocket.py
  tests/js/page-metadata.test.js
Due: npm-test, pytest

feat: form recovery on reconnect and backoff with jitter
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/form-recovery.test.js
  tests/js/reconnect-backoff.test.js
Due: npm-test

docs: add reconnection guide and update cheatsheet/roadmap for form recovery
  ROADMAP.md
  docs/website/guides/reconnection.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat(v0.4.0): reconnection resilience with backoff jitter and form recovery (#578)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/reconnection.md
  docs/website/guides/template-cheatsheet.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/form-recovery.test.js
  tests/js/reconnect-backoff.test.js
Due: npm-test

feat(v0.4.0): developer tooling — djust_doctor, error messages, latency simulator
  CHANGELOG.md
  python/djust/config.py
  python/djust/management/commands/djust_doctor.py
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/14a-debug-warnings.js
  python/djust/static/djust/src/debug/14b-latency-sim.js
  python/djust/tests/test_management_doctor.py
  python/djust/tests/test_websocket_errors.py
  python/djust/websocket.py
  tests/js/latency_sim.test.js
  tests/js/vdom_patch_errors.test.js
Due: npm-test, pytest

fix: guard console.log with djustDebug and replace bare except with logging
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/websocket.py
Due: npm-test, pytest

docs: add developer-tools guide and mark tooling items complete in ROADMAP
  ROADMAP.md
  docs/website/guides/developer-tools.md
Due: none

feat(v0.4.0): developer tooling — djust_doctor, error messages, latency simulator (#579)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/developer-tools.md
  python/djust/config.py
  python/djust/management/commands/djust_doctor.py
  python/djust/static/djust/client.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/04-tab-network.js
  python/djust/static/djust/src/debug/14a-debug-warnings.js
  python/djust/static/djust/src/debug/14b-latency-sim.js
  python/djust/tests/test_management_doctor.py
  python/djust/tests/test_websocket_errors.py
  python/djust/websocket.py
  tests/js/latency_sim.test.js
  tests/js/vdom_patch_errors.test.js
Due: npm-test, pytest

Bump version to 0.3.8
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

chore: update Cargo.lock for 0.3.8
  Cargo.lock
Due: none

Bump version to 0.4.0rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat: add navigation lifecycle events and CSS class for page transitions
  python/djust/static/djust/client.js
  python/djust/static/djust/src/24-page-loading.js
Due: npm-test

fix: address PR review — guard finish(), add tests, update CHANGELOG
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/24-page-loading.js
  tests/js/page-loading.test.js
Due: npm-test

docs: add navigation lifecycle events to page loading bar docs
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
Due: none

feat: navigation lifecycle events and CSS class for page transitions (#586)
  CHANGELOG.md
  docs/website/core-concepts/events.md
  docs/website/guides/template-cheatsheet.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/24-page-loading.js
  tests/js/page-loading.test.js
Due: npm-test

fix: scan all preceding tokens for in_tag_context detection (#580)
  Cargo.lock
  crates/djust_templates/src/parser.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: add CHANGELOG entry for in_tag_context fix (#580)
  CHANGELOG.md
Due: none

chore: update Cargo.lock after rebase onto release/v0.4.0
  Cargo.lock
Due: none

fix: scan all preceding tokens for in_tag_context detection (#587)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/parser.rs
  crates/djust_templates/tests/test_inline_conditionals.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

chore: run test suites in parallel for 3x speedup
  Makefile
Due: none

chore: run test suites in parallel for 3x speedup (#588)
  Makefile
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
