Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(testing): LiveView testing utilities (v0.5.1 P2)
  docs/website/guides/testing.md
  python/djust/testing.py
  python/djust/tests/test_testing_utilities.py
Due: pytest

docs+refactor: address Stage 7 review for testing utilities
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/testing.md
  docs/website/index.md
  python/djust/testing.py
  python/djust/tests/test_testing_utilities.py
Due: pytest

docs: tighten assert_push_event docstring (PR #842 review)
  python/djust/testing.py
Due: pytest

feat: LiveView testing utilities (v0.5.1 P2) (#842)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/testing.md
  docs/website/index.md
  python/djust/testing.py
  python/djust/tests/test_testing_utilities.py
Due: pytest

feat(js): dj-dialog — native <dialog> modal integration (v0.5.1 P2)
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/35-dj-dialog.js
  tests/js/dj_dialog.test.js
Due: npm-test

feat(formsets): {% inputs_for %} tag + FormSetHelpersMixin (v0.5.1 P2)
  CHANGELOG.md
  ROADMAP.md
  python/djust/formsets.py
  python/djust/templatetags/djust_formsets.py
  python/djust/tests/test_formsets.py
Due: pytest

feat(js): dj-dialog — native <dialog> modal integration (v0.5.1 P2) (#845)
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/35-dj-dialog.js
  tests/js/dj_dialog.test.js
Due: npm-test

fix(formsets): address Stage 11 review findings on PR #846
  python/djust/formsets.py
  python/djust/templatetags/djust_formsets.py
  python/djust/tests/test_formsets.py
Due: pytest

docs: record inputs_for nested formsets shipping in v0.5.1
  CHANGELOG.md
  ROADMAP.md
Due: none

docs: record inputs_for nested formsets shipping in v0.5.1 (#847)
  CHANGELOG.md
  ROADMAP.md
Due: none

feat(js): dev-mode error overlay (v0.5.1 P2)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/error-overlay.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/36-error-overlay.js
  tests/js/error_overlay.test.js
Due: npm-test

feat(js): dev-mode error overlay (v0.5.1 P2) (#848)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/error-overlay.md
  docs/website/index.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/36-error-overlay.js
  tests/js/error_overlay.test.js
Due: npm-test

feat: type-safe template validation — manage.py djust_typecheck (v0.5.1 P2)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/typecheck.md
  docs/website/index.md
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
Due: pytest

fix(typecheck): address Stage 11 findings — AnnAssign support + test coverage
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
Due: pytest

docs(roadmap): mark remaining v0.5.1rc1 items as shipped
  ROADMAP.md
Due: none

feat: type-safe template validation — manage.py djust_typecheck (v0.5.1 P2) (#849)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/typecheck.md
  docs/website/index.md
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
Due: pytest

Bump version to 0.5.1rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(retro): v0.5.1 milestone retrospective
  RETRO.md
Due: none

docs(retro): v0.5.1 milestone retrospective (#854)
  RETRO.md
Due: none

Bump version to 0.5.1rc3 (#853)
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): flip v0.5.1 Parity Tracker rows to shipped
  ROADMAP.md
Due: none

docs(roadmap): correct v0.5.2 — components fold shipped in v0.5.0
  ROADMAP.md
Due: none

docs: add transport-conditional API returns pattern to ADR-008 + ROADMAP
  ROADMAP.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
Due: none

feat(api): api_response() convention + @event_handler(serialize=...) override
  CHANGELOG.md
  ROADMAP.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
  docs/website/guides/http-api.md
  python/djust/api/dispatch.py
  python/djust/decorators.py
  python/djust/tests/test_api_response.py
Due: pytest

fix(api): address Stage 11 findings on PR #856
  Cargo.lock
  docs/website/guides/http-api.md
  python/djust/api/dispatch.py
  python/djust/tests/test_api_response.py
  uv.lock
Due: pytest

feat(api): api_response() convention + @event_handler(serialize=...) override (#856)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
  docs/website/guides/http-api.md
  python/djust/api/dispatch.py
  python/djust/decorators.py
  python/djust/tests/test_api_response.py
  uv.lock
Due: pytest

Bump version to 0.5.1rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

Bump version to 0.5.1rc4 (#857)
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): fold pre-v0.6.0 unfinished items forward
  ROADMAP.md
Due: none

feat(typecheck): address #850/#851/#852 — tag support, MRO walk, shared helpers
  CHANGELOG.md
  python/djust/management/_introspect.py
  python/djust/management/commands/djust_audit.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
Due: pytest

fix(typecheck): address Stage 11 findings on PR #859
  Cargo.lock
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  uv.lock
Due: pytest

fix(sw, middleware): address PR #826 follow-ups (#827/#828/#829/#830)
  CHANGELOG.md
  python/djust/middleware.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/33-sw-registration.js
  tests/js/service_worker.test.js
  tests/unit/test_main_only_middleware.py
Due: npm-test, pytest

feat(typecheck): address #850/#851/#852 — tag support, MRO walk, shared helpers (#859)
  CHANGELOG.md
  Cargo.lock
  python/djust/management/_introspect.py
  python/djust/management/commands/djust_audit.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  uv.lock
Due: pytest

fix(sw): address Stage 11 findings on PR #860
  python/djust/static/djust/client.js
  python/djust/static/djust/src/33-sw-registration.js
  tests/js/service_worker.test.js
  tests/unit/test_main_only_middleware.py
Due: npm-test, pytest

fix(sw, middleware): address PR #826 follow-ups (#827/#828/#829/#830) (#860)
  CHANGELOG.md
  python/djust/middleware.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/33-sw-registration.js
  tests/js/service_worker.test.js
  tests/unit/test_main_only_middleware.py
Due: npm-test, pytest

test(slots): coverage for #789 (slot-in-for-loop) and #790 (dotted path)
  tests/unit/test_named_slots.py
Due: pytest

test(slots): coverage for #789 (slot-in-for-loop) and #790 (dotted path) (#862)
  tests/unit/test_named_slots.py
Due: pytest

fix(vdom, hooks): address PR #814 follow-ups (#815/#816/#817)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/31-ignore-attrs.js
  tests/js/ignore_attrs.test.js
  tests/unit/test_colocated_hook_tag.py
Due: npm-test, pytest

fix(vdom, hooks): address PR #814 follow-ups (#815/#816/#817) (#863)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/31-ignore-attrs.js
  tests/js/ignore_attrs.test.js
  tests/unit/test_colocated_hook_tag.py
Due: npm-test, pytest

fix(uploads): address PR #819 follow-ups (#823/#824/#825)
  CHANGELOG.md
  python/djust/uploads.py
  tests/unit/test_upload_writer.py
Due: pytest
