Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: v0.6.0 milestone retro + action tracker update
  RETRO.md
Due: none

docs(roadmap): defer 4 v0.6.0 items to v0.6.1 (pre-rc cut scope split)
  ROADMAP.md
Due: none

Bump version to 0.6.0rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

Bump version to 0.6.0rc1 (__init__ follow-up)
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(hot-reload): Hot View Replacement — state-preserving dev-mode class swap (v0.6.1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/hot-view-replacement.md
  docs/website/index.md
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/config.py
  python/djust/hot_view_replacement.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/47-hvr.js
  python/djust/websocket.py
  tests/integration/test_hvr_flow.py
  tests/js/hvr.test.js
  tests/unit/test_hot_view_replacement.py
Due: npm-test, pytest

feat(hot-reload): Hot View Replacement — state-preserving dev-mode class swap (v0.6.1) (#974)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/hot-view-replacement.md
  docs/website/index.md
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/config.py
  python/djust/hot_view_replacement.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/47-hvr.js
  python/djust/websocket.py
  tests/integration/test_hvr_flow.py
  tests/js/hvr.test.js
  tests/unit/test_hot_view_replacement.py
Due: npm-test, pytest

feat(http): streaming initial render — chunked HTTP response (v0.6.1 Group 2 Phase 1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/streaming-render.md
  docs/website/index.md
  python/djust/live_view.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  tests/integration/test_streaming_flow.py
  tests/unit/test_streaming_render.py
Due: pytest

fix(streaming): CodeQL py/bad-html-filtering-regexp on _SCRIPT_BLOCK_RE + doc accuracy (address Stage 11 PR #975)
  CHANGELOG.md
  docs/website/guides/streaming-render.md
  python/djust/mixins/template.py
Due: pytest

feat(http): streaming initial render — chunked HTTP response (v0.6.1 Group 2 Phase 1) (#975)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/streaming-render.md
  docs/website/index.md
  python/djust/live_view.py
  python/djust/mixins/request.py
  python/djust/mixins/template.py
  tests/integration/test_streaming_flow.py
  tests/unit/test_streaming_render.py
Due: pytest

feat(debug): time-travel debugging — state-history ring buffer + debug panel tab (v0.6.1)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/time-travel-debugging.md
  docs/website/index.md
  python/djust/checks.py
  python/djust/config.py
  python/djust/live_view.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  python/djust/time_travel.py
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
  tests/js/time_travel_tab.test.js
  tests/unit/test_time_travel.py
Due: npm-test, pytest

fix(time-travel): snapshot aliasing + dead WS path + frame size cap (Stage 11 PR #976)
  docs/website/guides/time-travel-debugging.md
  python/djust/live_view.py
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
  tests/js/time_travel_tab.test.js
  tests/unit/test_time_travel.py
Due: npm-test, pytest

feat(debug): time-travel debugging — state-history ring buffer + debug panel tab (v0.6.1 Group 3) (#976)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/time-travel-debugging.md
  docs/website/index.md
  python/djust/checks.py
  python/djust/config.py
  python/djust/live_view.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  python/djust/time_travel.py
  python/djust/websocket.py
  tests/integration/test_time_travel_flow.py
  tests/js/time_travel_tab.test.js
  tests/unit/test_time_travel.py
Due: npm-test, pytest

docs: milestone retro v0.6.1 + action tracker update
  RETRO.md
Due: none

Bump version to 0.6.1rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(v0.7.0): navigation & RPC primitives — dj-prefetch on hover/intent + @server_function RPC
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/prefetch.md
  docs/website/guides/server-functions.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/demo_project/urls.py
  examples/demo_project/djust_demos/templates/demos/server_function_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/server_function_demo.py
  python/djust/__init__.py
  python/djust/api/__init__.py
  python/djust/api/dispatch.py
  python/djust/api/registry.py
  python/djust/api/urls.py
  python/djust/decorators.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/22-prefetch.js
  python/djust/static/djust/src/48-server-functions.js
  python/djust/tests/test_server_functions.py
  tests/js/prefetch_intent.test.js
  tests/js/server_functions.test.js
Due: npm-test, pytest

fix(api): serialize server_function return in try/except + TODO for FORCE_SCRIPT_NAME
  python/djust/api/dispatch.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/48-server-functions.js
  python/djust/tests/test_server_functions.py
Due: npm-test, pytest

feat(v0.7.0): dj-prefetch + @server_function (navigation & RPC primitives) (#986)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/prefetch.md
  docs/website/guides/server-functions.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/demo_project/urls.py
  examples/demo_project/djust_demos/templates/demos/server_function_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/server_function_demo.py
  python/djust/__init__.py
  python/djust/api/__init__.py
  python/djust/api/dispatch.py
  python/djust/api/registry.py
  python/djust/api/urls.py
  python/djust/decorators.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/22-prefetch.js
  python/djust/static/djust/src/48-server-functions.js
  python/djust/tests/test_server_functions.py
  tests/js/prefetch_intent.test.js
  tests/js/server_functions.test.js
Due: npm-test, pytest

docs(retro): Action Tracker #123 (FORCE_SCRIPT_NAME) + lockfile drift from v0.7.0 batch 1
  Cargo.lock
  RETRO.md
  uv.lock
Due: none

feat(v0.7.0): Keep-Alive / {% dj_activity %} block tag + ActivityMixin (React 19.2 Activity parity)
  CHANGELOG.md
  docs/adr/011-sticky-liveviews.md
  docs/website/_config.yaml
  docs/website/guides/activity.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/djust_demos/templates/demos/activity_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/activity_demo.py
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/activity.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/49-activity.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/js/activity.test.js
  tests/unit/test_activity.py
Due: npm-test, pytest

docs(activity): tighten security-model wording to match two-phase auth (address PR #988 review)
  docs/website/guides/activity.md
  python/djust/mixins/activity.py
  python/djust/websocket.py
Due: pytest

feat(v0.7.0): {% dj_activity %} block tag + ActivityMixin (React 19.2 Activity parity) (#988)
  CHANGELOG.md
  docs/adr/011-sticky-liveviews.md
  docs/website/_config.yaml
  docs/website/guides/activity.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/djust_demos/templates/demos/activity_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/activity_demo.py
  python/djust/checks.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/activity.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/49-activity.js
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/js/activity.test.js
  tests/unit/test_activity.py
Due: npm-test, pytest

docs(retro): Action Tracker #124 (doc-claim-verbatim TDD upgrade of #116)
  RETRO.md
Due: none

feat(v0.7.0): Django admin widgets + bulk-action progress (DjustModelAdmin slots + BulkActionProgressWidget)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/admin-widgets.md
  docs/website/index.md
  examples/demo_project/demo_project/djust_admin.py
  examples/demo_project/demo_project/urls.py
  examples/demo_project/templates/djust_admin/demo/progress_widget.html
  python/djust/admin_ext/__init__.py
  python/djust/admin_ext/options.py
  python/djust/admin_ext/progress.py
  python/djust/admin_ext/sites.py
  python/djust/admin_ext/templates/djust_admin/_change_form_widgets.html
  python/djust/admin_ext/templates/djust_admin/_change_list_widgets.html
  python/djust/admin_ext/templates/djust_admin/bulk_progress.html
  python/djust/admin_ext/templates/djust_admin/model_detail.html
  python/djust/admin_ext/templates/djust_admin/model_list.html
  python/djust/admin_ext/views.py
  python/djust/checks.py
  python/djust/tests/test_admin_widgets_per_page.py
  python/djust/tests/test_bulk_progress.py
  python/tests/test_checks.py
Due: pytest

fix(admin): WS redirect, LRU lock, DJUST_ASGI_WORKERS coercion, action_label cap (address PR #989 review)
  python/djust/admin_ext/progress.py
  python/djust/admin_ext/views.py
  python/djust/tests/test_bulk_progress.py
  python/tests/test_checks.py
Due: pytest

fix(admin): drop lazy BulkActionProgressView from __all__ to close py/undefined-export CodeQL alert
  python/djust/admin_ext/progress.py
Due: pytest

feat(v0.7.0): Django admin widgets + bulk-action progress (DjustModelAdmin slots) (#989)
  CHANGELOG.md
  ROADMAP.md
  docs/website/_config.yaml
  docs/website/guides/admin-widgets.md
  docs/website/index.md
  examples/demo_project/demo_project/djust_admin.py
  examples/demo_project/demo_project/urls.py
  examples/demo_project/templates/djust_admin/demo/progress_widget.html
  python/djust/admin_ext/__init__.py
  python/djust/admin_ext/options.py
  python/djust/admin_ext/progress.py
  python/djust/admin_ext/sites.py
  python/djust/admin_ext/templates/djust_admin/_change_form_widgets.html
  python/djust/admin_ext/templates/djust_admin/_change_list_widgets.html
  python/djust/admin_ext/templates/djust_admin/bulk_progress.html
  python/djust/admin_ext/templates/djust_admin/model_detail.html
  python/djust/admin_ext/templates/djust_admin/model_list.html
  python/djust/admin_ext/views.py
  python/djust/checks.py
  python/djust/tests/test_admin_widgets_per_page.py
  python/djust/tests/test_bulk_progress.py
  python/tests/test_checks.py
Due: pytest

docs(retro): Action Tracker #125 (Stage 7 user-flow trace upgrade) + #124 status update
  RETRO.md
Due: none

feat(v0.7.0): streaming markdown renderer — {% djust_markdown %} + djust.render_markdown
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/markdown.rs
  docs/website/_config.yaml
  docs/website/guides/streaming-markdown.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/djust_demos/templates/demos/markdown_stream_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/markdown_stream_demo.py
  python/djust/__init__.py
  python/djust/_rust.pyi
  python/djust/checks.py
  python/djust/markdown.py
  python/djust/template_tags/__init__.py
  python/djust/template_tags/markdown.py
  python/djust/tests/test_markdown.py
  python/tests/test_checks.py
  tests/unit/test_markdown_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): correct test count; lock no-autolinks behavior via regression test (address PR #990 review)
  CHANGELOG.md
  crates/djust_templates/src/markdown.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(v0.7.0): streaming markdown renderer (pulldown-cmark + {% djust_markdown %}) (#990)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/markdown.rs
  docs/website/_config.yaml
  docs/website/guides/streaming-markdown.md
  docs/website/guides/template-cheatsheet.md
  docs/website/index.md
  examples/demo_project/djust_demos/templates/demos/markdown_stream_demo.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/markdown_stream_demo.py
  python/djust/__init__.py
  python/djust/_rust.pyi
  python/djust/checks.py
  python/djust/markdown.py
  python/djust/template_tags/__init__.py
  python/djust/template_tags/markdown.py
  python/djust/tests/test_markdown.py
  python/tests/test_checks.py
  tests/unit/test_markdown_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(retro): Action Tracker #126/#127/#128 (flaky perf test, Stage 9 test-count recount, crate doc.rs discipline)
  RETRO.md
Due: none

docs(retro): v0.7.0 milestone retro + Islands → v0.7.1
  RETRO.md
  ROADMAP.md
Due: none

Bump version to 0.7.0rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(v0.7.1): FORCE_SCRIPT_NAME / sub-path mount support for JS clients (closes #987)
  CHANGELOG.md
  RETRO.md
  ROADMAP.md
  docs/website/guides/http-api.md
  docs/website/guides/server-functions.md
  examples/demo_project/templates/base.html
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/48-server-functions.js
  python/djust/template_tags/__init__.py
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/api_test_urls_custom.py
  tests/api_test_urls_default.py
  tests/api_test_urls_unmounted.py
  tests/js/api_prefix.test.js
  tests/js/server_functions.test.js
Due: npm-test, pytest

test(v0.7.1): dual-engine parity test for {% djust_client_config %} (address PR #993 review)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/00-namespace.js
  python/djust/template_tags/client_config.py
  python/djust/tests/test_client_config_tag.py
Due: npm-test, pytest

feat(v0.7.1): FORCE_SCRIPT_NAME support for JS clients (closes #987) (#993)
  CHANGELOG.md
  RETRO.md
  ROADMAP.md
  docs/website/guides/http-api.md
  docs/website/guides/server-functions.md
  examples/demo_project/templates/base.html
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/48-server-functions.js
  python/djust/template_tags/__init__.py
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/api_test_urls_custom.py
  tests/api_test_urls_default.py
  tests/api_test_urls_unmounted.py
  tests/js/api_prefix.test.js
  tests/js/server_functions.test.js
Due: npm-test, pytest

docs(retro): close #123, add #129 for PR #993 v0.7.1 retro
  RETRO.md
Due: none

feat(dx): make ci-mirror — run exact CI pytest invocations locally (closes #960)
  CONTRIBUTING.md
  Makefile
Due: none

feat(dx): make ci-mirror — run exact CI pytest invocations locally (closes #960) (#995)
  CONTRIBUTING.md
  Makefile
Due: none

refactor(tests): replace hand-rolled Redis mock with fakeredis (closes #961)
  pyproject.toml
  tests/unit/test_security_upload_resumable.py
  uv.lock
Due: pytest
