Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(dx): make doctor — dev-environment self-diagnosis (#2061)
  Makefile
  python/djust/tests/test_make_doctor_2061.py
  scripts/doctor.sh
Due: pytest

docs(changelog): note make doctor dev-env self-diagnosis (#2061)
  CHANGELOG.md
Due: none

feat(dx): make doctor — dev-environment self-diagnosis (#2061) (#2065)
  CHANGELOG.md
  Makefile
  python/djust/tests/test_make_doctor_2061.py
  scripts/doctor.sh
Due: pytest

feat(checks): warn on HTTP-only dispatch/get/post overrides on LiveViews (#2059)
  python/djust/checks/components.py
  python/djust/tests/test_check_ws_parity_2059.py
Due: pytest

docs(changelog): #2059 entry
  CHANGELOG.md
  docs/system-checks.md
Due: none

feat(theming): enforce design-system style vocabularies at construction (#2057)
  python/djust/tests/test_theming_style_vocab_2057.py
  python/djust/theming/_types.py
  python/djust/theming/themes/candy.py
  python/djust/theming/themes/dashboard.py
  python/djust/theming/themes/docs.py
  python/djust/theming/themes/forest_floor.py
  python/djust/theming/themes/legal.py
  python/djust/theming/themes/magazine.py
  python/djust/theming/themes/medical.py
  python/djust/theming/themes/mission_control.py
  python/djust/theming/themes/retro_computing.py
  python/djust/theming/themes/swiss.py
Due: pytest

docs(changelog): #2057 entry
  CHANGELOG.md
Due: none

feat(theming): WCAG contrast gate over all presets with documented exemptions (#2060)
  python/djust/tests/test_theming_contrast_all_presets_2060.py
  python/djust/theming/a11y_exemptions.py
  scripts/report_theme_contrast.py
Due: pytest

docs(changelog): WCAG contrast gate over all presets (#2060)
  CHANGELOG.md
Due: none

feat(checks): system check for HTTP-only mixin overrides on LiveViews (WS-path parity) (#2066)
  CHANGELOG.md
  docs/system-checks.md
  python/djust/checks/components.py
  python/djust/tests/test_check_ws_parity_2059.py
Due: pytest

feat(client): DEBUG-mode warning for non-executed scripts inserted by morph/patch (#2058)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/33-sw-registration.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/static/djust/src/50-lazy-fill.js
  tests/js/dead-script-warning-2058.test.js
Due: npm-test

docs(changelog): dead-script DEBUG warning (#2058)
  CHANGELOG.md
Due: none

feat(theming): enforce design-system style vocabularies at construction (#2057) (#2068)
  CHANGELOG.md
  python/djust/tests/test_theming_style_vocab_2057.py
  python/djust/theming/_types.py
  python/djust/theming/themes/candy.py
  python/djust/theming/themes/dashboard.py
  python/djust/theming/themes/docs.py
  python/djust/theming/themes/forest_floor.py
  python/djust/theming/themes/legal.py
  python/djust/theming/themes/magazine.py
  python/djust/theming/themes/medical.py
  python/djust/theming/themes/mission_control.py
  python/djust/theming/themes/retro_computing.py
  python/djust/theming/themes/swiss.py
Due: pytest

feat(theming): extend WCAG contrast gate to all built-in presets (#2060) (#2069)
  CHANGELOG.md
  python/djust/tests/test_theming_contrast_all_presets_2060.py
  python/djust/theming/a11y_exemptions.py
  scripts/report_theme_contrast.py
Due: pytest

feat(client): DEBUG-mode warning for non-executed scripts inserted by morph/patch (#2058) (#2071)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
  python/djust/static/djust/src/33-sw-registration.js
  python/djust/static/djust/src/40-dj-layout.js
  python/djust/static/djust/src/50-lazy-fill.js
  tests/js/dead-script-warning-2058.test.js
Due: npm-test

docs(roadmap): v1.1.0-10 drain results — 5/6 merged, #2062 blocked on #2067
  ROADMAP.md
Due: none

fix(templates): fold For-node body identity into the loop-cache key — sibling same-var loops no longer cross-render (#2067)
  CHANGELOG.md
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  python/djust/tests/test_loop_cache_cross_loop_2067.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): update loop-cache module/struct docs for the #2067 body-identity key (review nit)
  crates/djust_templates/src/loop_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): fold For-node body identity into the loop-cache key — sibling same-var loops no longer cross-render (#2067) (#2073)
  CHANGELOG.md
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_cache_cross_loop_2067.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  python/djust/tests/test_loop_cache_cross_loop_2067.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

perf(templates): loop render+parse cache default-ON (#2062)
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_loop_cache_default_on_2062.py
  python/djust/tests/test_loop_render_cache_1967.py
Due: pytest

docs(changelog): #2062 default-ON graduation entry
  CHANGELOG.md
Due: none

docs(roadmap): v1.1.0-10 complete 6/6 — #2062 shipped via #2073+#2075
  ROADMAP.md
Due: none

docs(roadmap): add v1.1.0-11 hygiene drain bucket (#2053/#2054/#2055/#2070/#2072/#1562)
  ROADMAP.md
Due: none

build: stop committing compressed bundle siblings — kill cross-toolchain churn (#2054)
  .gitignore
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/unit/test_client_minified.py
Due: pytest

docs(changelog): note compressed-artifact churn fix (#2054)
  CHANGELOG.md
Due: none

fix(checks): reallocate duplicated S004 check ID + uniqueness canary (#2070)
  python/djust/checks/security.py
  python/djust/tests/test_check_id_uniqueness_2070.py
  python/djust/tests/test_ws_django_auth_bypass.py
  python/tests/test_checks.py
Due: pytest

docs(checks): document S012 reallocation + CHANGELOG (#2070)
  CHANGELOG.md
  docs/system-checks.md
Due: none

fix(test-infra): re-assert built-in assign-tag handlers on global reset — regroup xdist pollution (#2053)
  python/djust/template_tags/__init__.py
  python/djust/test_isolation.py
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_regroup_tag.py
  tests/benchmarks/test_tag_registry.py
  tests/unit/test_tag_registry.py
Due: pytest

docs(changelog): note regroup xdist pollution fix (#2053)
  CHANGELOG.md
Due: none

build: stop committing compressed bundle siblings — kill cross-toolchain churn (#2054) (#2076)
  .gitignore
  CHANGELOG.md
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  scripts/build-client.sh
  tests/unit/test_client_minified.py
Due: pytest

docs(hooks): modernize to typed values, reserved-names note, fresh d.ts header (#2055)
  CHANGELOG.md
  docs/website/guides/hooks.md
  python/djust/static/djust/djust.d.ts
Due: none

fix(hooks): resolve an embeddable interpreter for PYO3_PYTHON — uv-standalone cannot be embedded (#2072)
  .pre-commit-config.yaml
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  scripts/doctor.sh
  scripts/embeddable-python.sh
Due: pytest

docs(changelog): note the embeddable-python-hook fix (#2072)
  CHANGELOG.md
Due: none

fix(checks): reallocate duplicated S004 check ID + uniqueness canary (#2070) (#2077)
  CHANGELOG.md
  docs/system-checks.md
  python/djust/checks/security.py
  python/djust/tests/test_check_id_uniqueness_2070.py
  python/djust/tests/test_ws_django_auth_bypass.py
  python/tests/test_checks.py
Due: pytest

fix(test-infra): re-assert built-in assign-tag handlers on global reset — regroup xdist pollution (#2053) (#2078)
  CHANGELOG.md
  python/djust/template_tags/__init__.py
  python/djust/test_isolation.py
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_regroup_tag.py
  tests/benchmarks/test_tag_registry.py
  tests/unit/test_tag_registry.py
Due: pytest

docs(hooks): modernize to typed values, reserved-names note, fresh d.ts header (#2055) (#2079)
  CHANGELOG.md
  docs/website/guides/hooks.md
  python/djust/static/djust/djust.d.ts
Due: none

fix(hooks): resolve an embeddable interpreter for PYO3_PYTHON — uv-standalone cannot be embedded (#2072) (#2080)
  .pre-commit-config.yaml
  CHANGELOG.md
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  scripts/doctor.sh
  scripts/embeddable-python.sh
Due: pytest

feat(bug-capture): iter B — read-only replay viewer + debug-panel Share button (#1562)
  CHANGELOG.md
  docs/website/guides/bug-capture.md
  pyproject.toml
  python/djust/bug_capture_views.py
  python/djust/config.py
  python/djust/static/djust/bug_capture_replay.js
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  python/djust/templates/djust/bug_capture/replay.html
  python/djust/tests/test_bug_capture_urls.py
  python/djust/tests/test_bug_capture_views.py
  python/djust/urls.py
  python/djust/websocket.py
  tests/integration/test_bug_capture_share.py
  tests/js/bug_capture_share.test.js
Due: npm-test, pytest

feat(bug-capture): iter B — read-only replay viewer + debug-panel Share button (#1562) (#2083)
  CHANGELOG.md
  docs/website/guides/bug-capture.md
  pyproject.toml
  python/djust/bug_capture_views.py
  python/djust/config.py
  python/djust/static/djust/bug_capture_replay.js
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/debug/02-tab-system.js
  python/djust/static/djust/src/debug/09a-tab-time-travel.js
  python/djust/templates/djust/bug_capture/replay.html
  python/djust/tests/test_bug_capture_urls.py
  python/djust/tests/test_bug_capture_views.py
  python/djust/urls.py
  python/djust/websocket.py
  tests/integration/test_bug_capture_share.py
  tests/js/bug_capture_share.test.js
Due: npm-test, pytest
