Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: state how the client consumed a ref-less push noop (#3034)
  changelog.d/3034.changed.md
Due: none

fix: keep LiveView configuration defaults out of legacy template context (#2960)
  changelog.d/2960.fixed.md
  python/djust/mixins/context.py
  python/djust/tests/test_legacy_context_framework_config_2960.py
Due: pytest

fix: refresh a legacy view's signed back-navigation snapshot after events (#3098)
  changelog.d/3098.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_legacy_event_signed_snapshot_3098.py
Due: pytest

fix: walk embedded-child spans with finditer over the masked copy (#3155)
  python/djust/mixins/template.py
Due: pytest

fix: skip embedded live_render children when locating the page root (#3155)
  changelog.d/3155.fixed.md
  python/djust/mixins/template.py
  python/djust/tests/test_embedded_child_root_fallback_3155.py
Due: pytest

fix: dj-track-static detects a deploy via a server-side manifest check (#2966)
  changelog.d/2966.fixed.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/_track_static.py
  python/djust/runtime.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/tests/test_track_static_stale_2966.py
  tests/js/dj_track_static.test.js
Due: npm-test, pytest

feat: @rate_limit(on_exceed="drop") drops without counting toward 4429 (#3003)
  changelog.d/3003.added.md
  docs/website/advanced/security.md
  docs/website/api-reference/decorators.md
  docs/website/guides/BEST_PRACTICES.md
  python/djust/decorators.py
  python/djust/tests/test_rate_limit_on_exceed_drop_3003.py
  python/djust/websocket_utils.py
Due: pytest

security: djust tags and instance templates no longer reopen the R1 render fallback (#3127)
  changelog.d/3127.security.md
  docs/adr/036-typed-event-parameter-contracts.md
  python/djust/_template_bindings.py
  python/djust/tests/test_recovery_handler_policy.py
  python/djust/validation.py
Due: pytest

fix: WizardMixin draws a callable field initial once per step (#3063)
  changelog.d/3063.fixed.md
  docs/website/guides/wizards.md
  python/djust/tests/test_wizard_callable_initial_pinned_3063.py
  python/djust/wizard.py
Due: pytest

fix: turn the loop render cache off for a view whose loops keep missing (#3071)
  changelog.d/3071.fixed.md
  python/djust/config.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/tests/test_loop_cache_adaptive_bypass_3071.py
Due: pytest

test: two tenants in the same presence room stay isolated end to end (#2973)
  tests/unit/test_tenant_presence_2973.py
Due: pytest

docs: CLAUDE.md names the pytest detection ready() uses (#3157)
  CLAUDE.md
Due: none

fix: drain B — theme example template, release tag target, dead checks module (#3141, #3148, #3149) (#3160)
  CLAUDE.md
  Makefile
  RELEASING.md
  changelog.d/3141.fixed.md
  changelog.d/3148.removed.md
  changelog.d/3149.changed.md
  pyproject.toml
  python/djust/checks_css_proposal.py
  python/djust/tests/test_theme_init_example_renders_3141.py
  python/djust/theming/management/commands/djust_theme.py
  scripts/check-release-tag-target.py
  scripts/check-template-comments.py
  tests/integration/test_scaffold_boot_1787.py
  tests/test_release_tag_target_3149.py
  tests/unit/test_check_template_comments_3141.py
Due: pytest

fix: Code Review findings — test forced exit and max-requests stop (#3128)
  python/djust/cli.py
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

docs: multi-loop guide — per-loop limits, monotonic times across loops (#3128)
  changelog.d/3128.added.md
  docs/website/guides/scaling-across-cores.md
Due: none

fix: review of #3161 — one-class selectors, collected tests, changelog scope
  changelog.d/2996.changed.md
  changelog.d/3025.fixed.md
  changelog.d/3109.changed.md
  changelog.d/3109.fixed.md
  docs/website/guides/components.md
  python/djust/components/components/avatar.py
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_component_css_coverage_3025_2993.py
  python/djust/tests/test_markdown_editor_css_vars_3109.py
Due: pytest

fix: mask once when locating embedded-child spans (#3155 review I2)
  python/djust/mixins/template.py
  python/djust/tests/test_embedded_child_root_fallback_3155.py
Due: pytest

fix: return after a forced exit even if a loop is stuck closing (#3128)
  python/djust/multiloop.py
Due: pytest

fix: carry dj-track-static URLs on the SSE stream GET (#2966 review I1, M1-M3, M9)
  changelog.d/2966.fixed.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/_track_static.py
  python/djust/sse.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/tests/test_track_static_stale_2966.py
  tests/js/dj_track_static.test.js
Due: npm-test, pytest

fix: SQL capture and child-render scopes no longer pin a disconnected session (#3116)
  changelog.d/3116.fixed.md
  python/djust/_child_rendering.py
  python/djust/observability/sql.py
  python/djust/tests/test_turn_context_copies_release_3116.py
Due: pytest

fix: pin a multi-value callable initial as a list, not its repr (#3063)
  python/djust/tests/test_wizard_callable_initial_pinned_3063.py
  python/djust/wizard.py
Due: pytest

test: drop-mode test waits on frames, not a quiet window, and asserts the handler never ran (#3003)
  python/djust/tests/test_rate_limit_on_exceed_drop_3003.py
Due: pytest

docs: the loop-cache bypass lasts for the view instance; output is identical per view (#3071)
  changelog.d/3071.fixed.md
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
Due: pytest

fix: ready() logs why it skipped work under pytest; HVR guide says so (#3157)
  docs/website/guides/hot-view-replacement.md
  python/djust/apps.py
  python/djust/tests/test_auto_hot_reload.py
Due: pytest

fix: navigation and state-snapshot drain (#3155, #2960, #3098, #2966) (#3163)
  changelog.d/2960.fixed.md
  changelog.d/2966.fixed.md
  changelog.d/3098.fixed.md
  changelog.d/3155.fixed.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/_track_static.py
  python/djust/mixins/context.py
  python/djust/mixins/template.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/39-dj-track-static.js
  python/djust/tests/test_embedded_child_root_fallback_3155.py
  python/djust/tests/test_legacy_context_framework_config_2960.py
  python/djust/tests/test_legacy_event_signed_snapshot_3098.py
  python/djust/tests/test_track_static_stale_2966.py
  tests/js/dj_track_static.test.js
Due: npm-test, pytest

test: find the consumer by type(), not isinstance, so a stray lazy user is not evaluated (#3116)
  python/djust/tests/test_turn_context_copies_release_3116.py
Due: pytest

test: stop the #1905 reauth tests leaking reauth_on_event into later WS tests
  python/djust/tests/test_runtime_reauth_async_1905.py
Due: pytest

fix: drain group I — runtime hardening (#3157, #3116, #3034, #3003, #3063, #3071) (#3167)
  CLAUDE.md
  changelog.d/3003.added.md
  changelog.d/3034.changed.md
  changelog.d/3063.fixed.md
  changelog.d/3071.fixed.md
  changelog.d/3116.fixed.md
  changelog.d/3157.fixed.md
  docs/website/advanced/security.md
  docs/website/api-reference/decorators.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/hot-view-replacement.md
  docs/website/guides/wizards.md
  python/djust/_child_rendering.py
  python/djust/_exposure_diagnostics.py
  python/djust/apps.py
  python/djust/config.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
  python/djust/observability/sql.py
  python/djust/tests/test_auto_hot_reload.py
  python/djust/tests/test_diagnostic_owner_slots_weak_3116.py
  python/djust/tests/test_loop_cache_adaptive_bypass_3071.py
  python/djust/tests/test_push_skip_render_no_noop_3034.py
  python/djust/tests/test_rate_limit_on_exceed_drop_3003.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/tests/test_turn_context_copies_release_3116.py
  python/djust/tests/test_wizard_callable_initial_pinned_3063.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
  python/djust/wizard.py
  tests/unit/test_tenant_presence_2973.py
Due: pytest

fix: ADR-035/036/037 review follow-ups (#3103, #3125, #3126, #3127, #3104 partial) (#3159)
  changelog.d/3103.fixed.md
  changelog.d/3104.fixed.md
  changelog.d/3125.fixed.md
  changelog.d/3126.changed.md
  changelog.d/3127.security.md
  docs/adr/035-django-native-form-and-object-lifecycle.md
  docs/adr/036-typed-event-parameter-contracts.md
  docs/adr/037-event-contract-checks-and-executable-documentation.md
  docs/adr/component-conventions-implementation.md
  docs/website/api-reference/testing.md
  docs/website/guides/forms.md
  docs/website/testing/index.md
  python/djust/_template_bindings.py
  python/djust/forms.py
  python/djust/mixins/navigation.py
  python/djust/mixins/navigation.pyi
  python/djust/mixins/post_processing.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/testing.py
  python/djust/tests/test_debug_info_properties_3103.py
  python/djust/tests/test_http_embedded_view_id_3104.py
  python/djust/tests/test_model_form_route_change_3125.py
  python/djust/tests/test_recovery_handler_policy.py
  python/djust/tests/test_recovery_scan_cost_3122.py
  python/djust/tests/test_runtime_reauth_async_1905.py
  python/djust/tests/test_smoke_unfuzzed_3126.py
  python/djust/validation.py
  tests/playwright/test_embedded_directives.py
Due: pytest

fix: component styles, djust preset AA, presence/markdown docs (#3025, #2993, #2996, #3109) (#3161)
  changelog.d/2993.fixed.md
  changelog.d/2996.changed.md
  changelog.d/3025.fixed.md
  changelog.d/3109.changed.md
  changelog.d/3109.fixed.md
  docs/adr/002-backend-driven-ui-automation.md
  docs/adr/005-consent-envelope-for-remote-control.md
  docs/website/guides/components.md
  docs/website/guides/markdown-editor.md
  python/djust/components/components/alert.py
  python/djust/components/components/avatar.py
  python/djust/components/components/markdown_editor.py
  python/djust/components/components/progress.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_badge_unstyled_3025.py
  python/djust/components/tests/test_components_css_2996_2993_3008.py
  python/djust/presence.py
  python/djust/tests/test_component_css_coverage_3025_2993.py
  python/djust/tests/test_djust_preset_contrast_2996.py
  python/djust/tests/test_markdown_editor_css_vars_3109.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/templates/djust_theming/catalogue/detail.html
  python/djust/theming/themes/djust.py
  python/tests/test_presence_mro_3109.py
Due: pytest

docs: final multi-loop measurements and the v1.3.0-6 retro (#3128)
  RETRO.md
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

feat: several asyncio event loops per process on free-threaded Python, opt-in (#3128) (#3162)
  .github/workflows/test.yml
  RETRO.md
  ROADMAP.md
  changelog.d/3128.added.md
  docs/website/guides/deployment.md
  docs/website/guides/scaling-across-cores.md
  python/djust/cli.py
  python/djust/db/notifications.py
  python/djust/layers.py
  python/djust/multiloop.py
  python/djust/sse.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_multiloop_layer_3128.py
  python/djust/tests/test_multiloop_serve_3128.py
  python/djust/tests/test_multiloop_sessions_3128.py
Due: pytest

docs: multi-loop follow-up — room tasks stop under the lock too; snake row done (#3128)
  RETRO.md
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

docs: rule 2 records the request time under the lock; row notes not deployed (review)
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

docs: multi-loop follow-up — room tasks stop under the lock too; snake row done (#3128) (#3168)
  RETRO.md
  ROADMAP.md
  docs/website/guides/scaling-across-cores.md
Due: none

fix(audio): make the per-view manifest cache safe under free-threaded concurrency
  .github/workflows/test.yml
  python/djust/audio.py
  python/djust/tests/test_audio_manifest_thread_safety.py
Due: pytest

docs: fix search input next-step link
  docs/website/getting-started/first-liveview.md
Due: none

fix(templates): native {% djust_audio %} rejects a None manifest like the Python tag
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: audio changelog covers thread safety and None parity; ROADMAP v1.3.0-7 row
  ROADMAP.md
  changelog.d/audio-native-tag.changed.md
Due: none

fix: snapshot class namespaces before walking them on free-threaded CPython (#3151)
  .github/workflows/test.yml
  python/djust/_class_snapshot.py
  python/djust/_component_subscriptions.py
  python/djust/_exposure.py
  python/djust/_exposure_providers.py
  python/djust/_parameter_contract.py
  python/djust/_parameter_metadata.py
  python/djust/components/mixins/base.py
  python/djust/forms.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/post_processing.py
  python/djust/runtime.py
  python/djust/security/mount.py
  python/djust/serialization.py
  python/djust/session_utils.py
  python/djust/simple_live_view.py
  python/djust/tests/test_free_threaded_class_caches_3151.py
  python/djust/websocket_utils.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
