Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(canon): 8 retro-filed canon items + emit_one_shot_class_warning helper (#1399)
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  CHANGELOG.md
  CLAUDE.md
  docs/website/guides/authorization.md
  python/djust/live_view.py
  python/djust/utils.py
  python/djust/websocket.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

docs(retro): milestone v0.9.5-2 + action tracker update
  RETRO.md
Due: none

Bump version to 0.9.5rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): stage v0.9.5-3 drain bucket — 8 in-repo cleanup items
  ROADMAP.md
Due: none

fix(security): sanitize_for_log cache_key on HTTP path (#1368)
  python/djust/mixins/rust_bridge.py
Due: pytest

docs(changelog): #1368 sanitize_for_log HTTP cache_key entry
  CHANGELOG.md
Due: none

fix(security): sanitize_for_log cache_key on HTTP path (#1368) (#1401)
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
Due: pytest

fix(templates): Node::Include round-trip no longer double-quotes path (#1396)
  Cargo.lock
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): #1396 Include round-trip fix entry
  CHANGELOG.md
Due: none

fix(templates): Node::Include round-trip no longer double-quotes path (#1396) (#1402)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(state-backends): remove dead InMemoryStateBackend.get_and_update (#1356)
  python/djust/state_backends/memory.py
Due: pytest

docs(changelog): #1356 dead-method removal entry
  CHANGELOG.md
Due: none

fix(state-backends): remove dead InMemoryStateBackend.get_and_update (#1356) (#1403)
  CHANGELOG.md
  python/djust/state_backends/memory.py
Due: pytest

feat(static): JS micro-cleanup — dedupe transition helpers + tighten routeMap (#1360, #1361)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/40a-transition-helpers.js
  python/djust/static/djust/src/41-dj-transition.js
  python/djust/static/djust/src/42-dj-remove.js
  python/djust/static/djust/src/46-state-snapshot.js
Due: npm-test

docs(changelog): #1360 + #1361 JS micro-cleanup entry
  CHANGELOG.md
Due: none

test(navigation): #1361 prototype-pollution regression — Object.prototype keys must not match
  tests/js/navigation.test.js
Due: npm-test

feat(static): JS micro-cleanup — dedupe transition helpers + tighten routeMap (#1360, #1361) (#1404)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/40a-transition-helpers.js
  python/djust/static/djust/src/41-dj-transition.js
  python/djust/static/djust/src/42-dj-remove.js
  python/djust/static/djust/src/46-state-snapshot.js
  tests/js/navigation.test.js
Due: npm-test

feat(scripts): bundle-init-order structural lint (#1372)
  .pre-commit-config.yaml
  Makefile
  scripts/check-bundle-init-order.mjs
Due: npm-test

docs(changelog): #1372 bundle-init-order lint entry
  CHANGELOG.md
Due: none

fix(scripts): rescope #1372 lint to direct-read TDZ subclass; file #1406 follow-up
  CHANGELOG.md
  scripts/check-bundle-init-order.mjs
Due: npm-test

feat(scripts): bundle-init-order structural lint (#1372) (#1405)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  scripts/check-bundle-init-order.mjs
Due: npm-test

docs(canon): extend filter-migration grep to symbol removals (#1400)
  CLAUDE.md
Due: none

docs(canon): extend filter-migration grep to symbol removals (#1400) (#1407)
  CLAUDE.md
Due: none

Bump version to 0.9.5rc3
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix(vdom): make sync_ids dj-if-boundary-aware (#1408)
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_sync_ids_dj_if_1408.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): add #1408 sync_ids dj-if-boundary-aware entry
  CHANGELOG.md
Due: none

fix(vdom): make sync_ids dj-if-boundary-aware (#1408) (#1411)
  CHANGELOG.md
  Cargo.lock
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_sync_ids_dj_if_1408.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(vdom): multi-cycle sync_ids round-trip torture (#1412)
  crates/djust_vdom/tests/torture_round_trip_with_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): add #1412 multi-cycle torture entry
  CHANGELOG.md
Due: none

test(vdom): multi-cycle sync_ids round-trip torture (#1412) (#1414)
  CHANGELOG.md
  crates/djust_vdom/tests/torture_round_trip_with_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(vdom): extract shared dj-if + sync_ids test harness (#1415)
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/test_dj_if_keyed_diff_1358.rs
  crates/djust_vdom/tests/test_sync_ids_dj_if_1408.rs
  crates/djust_vdom/tests/torture_round_trip_with_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(vdom): extract shared dj-if + sync_ids test harness (#1415) (#1421)
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/test_dj_if_keyed_diff_1358.rs
  crates/djust_vdom/tests/test_sync_ids_dj_if_1408.rs
  crates/djust_vdom/tests/torture_round_trip_with_sync.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Bump version to 0.9.5rc4
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

Bump version to 0.9.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(deploy): resolve project slug from pyproject.toml + prompt-and-save
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix(deploy): more accurate error when djust.deploy_cli import fails
  python/djust/cli.py
Due: pytest

feat(deploy): guided onboarding — login + project-create inline
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix(deploy): route bare \`djust deploy\` to the guided flow
  python/djust/cli.py
Due: pytest

feat(deploy): replace email/password login with OAuth browser flow
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix(deploy): address Stage 11-class self-review + security findings
  Cargo.lock
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest
