Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix: address code review findings on PR #377
  CHANGELOG.md
Due: none

security: address GitHub Advanced Security findings on PR #377
  python/djust/static/djust/client.js
Due: npm-test

fix: call updateHooks() after live_redirect_mount to initialize dj-hook elements
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/19-hooks.js
  tests/js/hooks.test.js
Due: npm-test

style: cargo fmt and ruff format after rebase
  python/djust/mixins/template.py
  python/djust/security/log_sanitizer.py
  python/djust/sse.py
  python/djust/static/djust/client.js
  python/djust/tests/test_async_work.py
  python/tests/test_find_closing_div_pos.py
  python/tests/test_inline_conditionals.py
  python/tests/test_type_stubs.py
Due: npm-test, pytest

fix: add updateHooks() calls to source files after mount handlers
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
Due: npm-test

fix: call updateHooks() after live_redirect_mount to initialize dj-hook elements (#408)
  CHANGELOG.md
  python/djust/mixins/template.py
  python/djust/security/log_sanitizer.py
  python/djust/sse.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/19-hooks.js
  python/djust/tests/test_async_work.py
  python/tests/test_find_closing_div_pos.py
  python/tests/test_inline_conditionals.py
  python/tests/test_type_stubs.py
  tests/js/hooks.test.js
Due: npm-test, pytest

fix: log full exception details in production mode for event handler errors
  CHANGELOG.md
  python/djust/security/error_handling.py
  python/djust/websocket.py
Due: pytest

fix: log full exception details in production mode for event handler errors (#415)
  CHANGELOG.md
  python/djust/security/error_handling.py
  python/djust/websocket.py
Due: pytest

Bump version to 0.3.5
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

fix: quote-aware tag argument parsing in Rust lexer (#288)
  CHANGELOG.md
  crates/djust_templates/src/lexer.rs
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: auto-reload page on unrecoverable VDOM state instead of showing confusing error
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  tests/unit/test_request_html.py
Due: npm-test, pytest

style: cargo fmt for split_tag_args test
  Cargo.lock
  crates/djust_templates/src/lexer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: quote-aware tag argument parsing in Rust lexer (#288) (#419)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/lexer.rs
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: add CHANGELOG entry for auto-reload on unrecoverable VDOM state
  CHANGELOG.md
Due: none

fix: auto-reload on unrecoverable VDOM state (#421)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/websocket.py
  tests/unit/test_request_html.py
Due: npm-test, pytest

fix: preserve {% load %} tags through template inheritance so inclusion tags render correctly
  CHANGELOG.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/pwa.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

style: ruff format
  tests/unit/test_tag_registry.py
Due: pytest

docs: move {% load %} CHANGELOG entry to [Unreleased]
  CHANGELOG.md
Due: none

fix: preserve {% load %} tags through template inheritance (#418)
  CHANGELOG.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/pwa.py
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: sync checked/selected DOM properties in VDOM patch application (#422)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/checkbox_checked_patch.test.js
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

fix: sync checked/selected DOM properties in VDOM patch application (#422) (#424)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/checkbox_checked_patch.test.js
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

test: document activeElement guard difference between checked and value in SetAttr
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

test: document activeElement guard difference between checked and value in SetAttr (#427)
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

test: add RemoveAttr checked test for focused checkbox (activeElement)
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

test: add RemoveAttr checked test for focused checkbox (activeElement) (#429)
  tests/js/checked_selected_property_sync.test.js
Due: npm-test

docs: improve getting-started guide, VDOM explanation, and doc cross-links
  Cargo.lock
  README.md
  docs/website/advanced/vdom-architecture.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/template-cheatsheet.md
  python/tests/test_docs_completeness.py
Due: pytest

docs: improve getting-started guide, VDOM explanation, and doc cross-links (#430)
  Cargo.lock
  README.md
  docs/website/advanced/vdom-architecture.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/template-cheatsheet.md
  python/tests/test_docs_completeness.py
Due: pytest

fix: update djust.d.ts streaming types to match JS implementation
  python/djust/static/djust/djust.d.ts
Due: none

feat: TypeScript definitions and Python type stubs for public API (#158) (#434)
  .github/workflows/publish-djust-theming.yml
  packages/djust-theming/CHANGELOG.md
  packages/djust-theming/README.md
  packages/djust-theming/pyproject.toml
  packages/djust-theming/src/djust_theming/__init__.py
  packages/djust-theming/src/djust_theming/apps.py
  packages/djust-theming/src/djust_theming/static/djust_theming/css/components.css
  packages/djust-theming/src/djust_theming/static/djust_theming/css/theme.css
  packages/djust-theming/src/djust_theming/static/djust_theming/css/utilities.css
  packages/djust-theming/src/djust_theming/static/djust_theming/js/theme-switcher.js
  python/djust/static/djust/djust.d.ts
Due: npm-test, pytest

feat: add --server flag and server_url to deploy CLI credentials
  CHANGELOG.md
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

feat: add --server flag and server_url to deploy CLI credentials (#437)
  CHANGELOG.md
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

fix: revert Cargo.lock crate versions from 0.3.3-rc.2 to 0.3.5
  Cargo.lock
Due: none

fix: revert Cargo.lock crate versions from 0.3.3-rc.2 to 0.3.5 (#439)
  Cargo.lock
Due: none

fix: add security comment to custom adapter example in docs
  docs/website/guides/css-frameworks.md
Due: none

fix: add security comment to custom adapter example in docs (#440)
  docs/website/guides/css-frameworks.md
Due: none

docs: add Django migration note for urlize safe filter behavior
  README.md
Due: none

docs: add Django migration note for urlize safe filter behavior (#441)
  README.md
Due: none

docs: clarify urlize safe_output_filters behavior vs standard Django
  README.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
Due: none

docs: clarify urlize safe_output_filters behavior vs standard Django (#445)
  README.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
Due: none

test: add morphElement/applySinglePatch parity regression tests for #422
  tests/js/morph_applypatch_parity.test.js
Due: npm-test
