Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(tooling): NUL-delimited paths + per-file restage in wrapper (#1464 Stage 13)
  scripts/git-commit-with-precommit.sh
  tests/test_git_commit_with_precommit.py
Due: pytest

docs(changelog): note Stage 13 fixes for #1464 wrapper
  CHANGELOG.md
Due: none

feat(tooling): pre-commit auto-restage commit wrapper (#1464) (#1470)
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  scripts/git-commit-with-precommit.sh
  tests/test_git_commit_with_precommit.py
Due: pytest

docs(canon): #1467 investigation finding + close as Option C
  CLAUDE.md
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.7-3 + Action Tracker updates
  RETRO.md
Due: none

docs(retro): milestone v0.9.7-3 + Action Tracker updates (#1474)
  RETRO.md
Due: none

docs(checklist): NUL-delimited reads for shell tools processing git output (#1473)
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(checklist): NUL-delimited reads for shell tools processing git output (#1473) (#1476)
  docs/PULL_REQUEST_CHECKLIST.md
Due: none

docs(retro): close Action #256 — landed via PR #1476
  RETRO.md
Due: none

fix(websocket): gate WS-event save block on enable_state_snapshot (#1475)
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

docs(changelog): note WS-save gate for #1475 (P0)
  CHANGELOG.md
Due: none

test(websocket): replace timeout test with end-to-end WS communicator test (#1475 Stage 13)
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

fix(websocket): gate WS-event save on enable_state_snapshot (#1475 P0) (#1478)
  CHANGELOG.md
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

Bump version to 0.9.7rc3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

Bump version to 0.9.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): mark 50 audited entries shipped, 1 partial; fix stale labels
  ROADMAP.md
Due: none

docs(roadmap): mark 50 audited entries shipped, 1 partial; fix stale labels (#1484)
  ROADMAP.md
Due: none

docs(roadmap): scope the v1.0.0 milestone — strategy session 2026-05-17
  RETRO.md
  ROADMAP.md
  docs/strategy-sessions/2026-05-17-v1.0.0-readiness.md
Due: none

docs(roadmap): scope the v1.0.0 milestone — strategy session 2026-05-17 (#1485)
  RETRO.md
  ROADMAP.md
  docs/strategy-sessions/2026-05-17-v1.0.0-readiness.md
Due: none

fix(templates): support Django `is` / `is not` identity operators (#1483)
  Cargo.lock
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record `is` / `is not` operator fix (#1483)
  CHANGELOG.md
  docs/RUST_TEMPLATE_API.md
  docs/TEMPLATE_BACKEND.md
Due: none

fix(templates): support Django `is` / `is not` identity operators (#1483) (#1486)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/src/renderer.rs
  docs/RUST_TEMPLATE_API.md
  docs/TEMPLATE_BACKEND.md
  python/tests/test_template_conditions.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(deprecation): consistent `warn_deprecated` helper + correct stacklevels (v1.0.0)
  python/djust/_deprecation.py
  python/djust/decorators.py
  python/djust/forms.py
  python/djust/tests/test_deprecation.py
  python/djust/theming/themes/_legacy.py
Due: pytest

docs(api-stability): publish the 1.0 API-stability + deprecation policy
  CHANGELOG.md
  docs/API_STABILITY.md
  docs/README.md
  docs/website/_config.yaml
  docs/website/guides/api-stability.md
  docs/website/index.md
Due: none

docs(api-stability): cite the F3 follow-up issue (#1489)
  docs/API_STABILITY.md
Due: none

feat(v1.0.0): API-stability + deprecation policy (milestone unit 2) (#1488)
  CHANGELOG.md
  docs/API_STABILITY.md
  docs/README.md
  docs/website/_config.yaml
  docs/website/guides/api-stability.md
  docs/website/index.md
  python/djust/_deprecation.py
  python/djust/decorators.py
  python/djust/forms.py
  python/djust/tests/test_deprecation.py
  python/djust/theming/themes/_legacy.py
Due: pytest

security(deps): pre-1.0 dependency security refresh (v1.0.0 unit 3)
  uv.lock
Due: none

docs(changelog): record the pre-1.0 security sweep (v1.0.0 unit 3)
  CHANGELOG.md
Due: none

feat(a11y): accessibility check category + component ARIA support (v1.0.0)
  python/djust/checks.py
  python/djust/components/templates/djust_components/pagination.html
  python/djust/components/templates/djust_components/table.html
  python/djust/components/templates/djust_components/toast.html
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_component_aria.py
  python/djust/tests/test_accessibility_checks.py
  tests/unit/test_data_table_row_navigation_1111.py
Due: pytest

docs(a11y): accessibility guide + system-checks Y category (v1.0.0 unit 4)
  CHANGELOG.md
  docs/system-checks.md
  docs/website/_config.yaml
  docs/website/guides/accessibility.md
  docs/website/index.md
Due: none

feat(v1.0.0): framework-wide Accessibility (ARIA/WCAG) — milestone unit 4 (#1491)
  CHANGELOG.md
  docs/system-checks.md
  docs/website/_config.yaml
  docs/website/guides/accessibility.md
  docs/website/index.md
  python/djust/checks.py
  python/djust/components/templates/djust_components/pagination.html
  python/djust/components/templates/djust_components/table.html
  python/djust/components/templates/djust_components/toast.html
  python/djust/components/templatetags/djust_components.py
  python/djust/components/tests/test_component_aria.py
  python/djust/tests/test_accessibility_checks.py
  tests/unit/test_data_table_row_navigation_1111.py
Due: pytest

docs(adr): reconcile ADR statuses against shipped reality (v1.0.0 unit 5)
  docs/adr/002-backend-driven-ui-automation.md
  docs/adr/003-llm-provider-abstraction.md
  docs/adr/004-undo-for-llm-driven-actions.md
  docs/adr/005-consent-envelope-for-remote-control.md
  docs/adr/006-ai-generated-uis-with-capture-and-promote.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
  docs/adr/013-view-transitions-api-integration.md
  docs/adr/014-sticky-liveview-autodetect.md
  docs/adr/016-transport-runtime-interface.md
  docs/adr/017-object-permission-lifecycle.md
Due: none

docs(v1.0.0): 1.0 documentation pass (milestone unit 6)
  CHANGELOG.md
  README.md
  docs/README.md
  docs/website/_config.yaml
  docs/website/guides/upgrade-to-1.0.md
  docs/website/index.md
Due: none

docs(v1.0.0): 1.0 documentation pass (milestone unit 6) (#1494)
  CHANGELOG.md
  README.md
  docs/README.md
  docs/website/_config.yaml
  docs/website/guides/upgrade-to-1.0.md
  docs/website/index.md
Due: none

Bump version to 1.0.0rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

deps: migrate to markup5ever_rcdom + html5ever 0.39 (supersedes #1427)
  Cargo.lock
  Cargo.toml
Due: none

deps: migrate to markup5ever_rcdom + html5ever 0.39 (supersedes #1427) (#1503)
  Cargo.lock
  Cargo.toml
Due: none

fix(deploy): wire TARBALL_EXCLUDES into _create_tarball; document empty except (#1495)
  python/djust/checks.py
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs(changelog): record #1495 CodeQL note-alert fixes
  CHANGELOG.md
Due: none

feat(adr): ADR status/version-line audit + reconcile stale Target-version lines (#1493, #1501)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  docs/adr/002-backend-driven-ui-automation.md
  docs/adr/003-llm-provider-abstraction.md
  docs/adr/004-undo-for-llm-driven-actions.md
  docs/adr/005-consent-envelope-for-remote-control.md
  docs/adr/006-ai-generated-uis-with-capture-and-promote.md
  docs/adr/007-package-taxonomy-and-consolidation.md
  docs/adr/008-auto-generated-http-api-from-event-handlers.md
  docs/adr/013-view-transitions-api-integration.md
  docs/adr/014-sticky-liveview-autodetect.md
  docs/adr/015-phase-2-streaming.md
  docs/adr/016-transport-runtime-interface.md
  docs/adr/017-object-permission-lifecycle.md
  scripts/check-adr-status.py
  tests/test_check_adr_status.py
Due: pytest
