Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(checks): _get_project_app_dirs() no longer excludes projects under a /djust/ path (#1865)
  python/djust/checks/utils.py
  python/tests/test_checks_app_dir_discovery_1865.py
Due: pytest

docs(changelog): note #1865 _get_project_app_dirs /djust/ path fix
  CHANGELOG.md
Due: none

fix(security): make _ALWAYS_EXCLUDED_FIELDS serialization floor unconditional (#1868)
  python/djust/serialization.py
  python/djust/tests/test_serializer_field_exposure_f19.py
Due: pytest

fix(client): re-execute classic <script> on the #1610 mount morph (#1848)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  tests/js/mount-morph-script-exec-1848.test.js
Due: npm-test

docs(changelog): #1848 inline-script-after-mount-morph fix
  CHANGELOG.md
Due: none

fix(ws): stamp consumer-owned wire version on url_change/dj-patch frames (#1858)
  python/djust/runtime.py
  python/djust/tests/test_object_perm_render_paths.py
  python/djust/tests/test_url_change_wire_version_1858.py
Due: pytest

docs(security): flip SECURE_DEFAULTS Pattern 1 to unconditional floor + CHANGELOG (#1868)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

docs(changelog): note url_change wire-version fix (#1858)
  CHANGELOG.md
Due: none

fix(checks): _get_project_app_dirs() no longer excludes projects under a /djust/ path (#1865) (#1870)
  CHANGELOG.md
  python/djust/checks/utils.py
  python/tests/test_checks_app_dir_discovery_1865.py
Due: pytest

fix(security): make _ALWAYS_EXCLUDED_FIELDS serialization floor unconditional (#1868) (#1872)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  python/djust/serialization.py
  python/djust/tests/test_serializer_field_exposure_f19.py
Due: pytest

fix(ws): stamp consumer-owned wire version on url_change/dj-patch frames (#1858) (#1873)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/test_object_perm_render_paths.py
  python/djust/tests/test_url_change_wire_version_1858.py
Due: pytest

fix(client): re-execute classic <script> on the #1610 mount morph (#1848) (#1871)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  tests/js/mount-morph-script-exec-1848.test.js
Due: npm-test

fix(tests): stop urlconf-state pollution breaking TestDemoRegistration under -n auto (#1862)
  python/tests/test_checks.py
  tests/unit/test_demo_views.py
Due: pytest

docs(changelog): note #1862 urlconf test-pollution fix under [Unreleased] Fixed
  CHANGELOG.md
Due: none

fix(tests): stop urlconf-state pollution breaking TestDemoRegistration under -n auto (#1862) (#1874)
  CHANGELOG.md
  python/tests/test_checks.py
  tests/unit/test_demo_views.py
Due: pytest

fix(deps): security bumps — msgpack 1.2.1, ujson 5.13.0, pydantic-settings 2.14.2, undici 7.28.0
  package-lock.json
  uv.lock
Due: none

docs(changelog): note 9 Dependabot security bumps (msgpack/ujson/pydantic-settings/undici)
  CHANGELOG.md
Due: none

fix(security): harden logging against 6 CodeQL alerts (clear-text + log-injection + cleanups)
  python/djust/_client_ip.py
  python/djust/api/openapi.py
  python/djust/checks/utils.py
  python/djust/observability/views.py
  python/djust/runtime.py
  python/djust/tests/test_codeql_log_hardening.py
Due: pytest

docs(changelog): note the CodeQL log-hardening pass (alerts 2421/2422/2423 + 2418/2463/2464)
  CHANGELOG.md
Due: none

fix(security): resolve 6 CodeQL alerts (clear-text logging + log-injection + cleanups) (#1877)
  CHANGELOG.md
  python/djust/_client_ip.py
  python/djust/api/openapi.py
  python/djust/checks/utils.py
  python/djust/observability/views.py
  python/djust/runtime.py
  python/djust/tests/test_codeql_log_hardening.py
Due: pytest

fix(security): give sanitize_for_log a CodeQL-recognized CR/LF barrier (#2465/#2466)
  python/djust/_log_utils.py
  python/djust/tests/test_log_sanitization.py
Due: pytest

docs(changelog): note the sanitize_for_log CodeQL CR/LF barrier (#2465/#2466)
  CHANGELOG.md
Due: none

fix(security): give sanitize_for_log a CodeQL-recognized CR/LF barrier (#2465/#2466) (#1878)
  CHANGELOG.md
  python/djust/_log_utils.py
  python/djust/tests/test_log_sanitization.py
Due: pytest

Bump version to 1.0.8rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

chore(deps): bump dev tooling + actions/checkout v7 (supersedes #1842-#1847)
  .github/workflows/codeql.yml
  .github/workflows/pr-workflow.yml
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/retro-gate-audit.yml
  .github/workflows/security-hotspot-check.yml
  .github/workflows/test.yml
  .github/workflows/weekly-cloud-uploads.yml
  package-lock.json
  package.json
Due: none

chore(deps): bump dev tooling (vitest/eslint/happy-dom) + actions/checkout v7 (supersedes #1842-#1847) (#1879)
  .github/workflows/codeql.yml
  .github/workflows/pr-workflow.yml
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/retro-gate-audit.yml
  .github/workflows/security-hotspot-check.yml
  .github/workflows/test.yml
  .github/workflows/weekly-cloud-uploads.yml
  package-lock.json
  package.json
Due: none

docs(strategy): v1.1 headline = code-quality / single-path convergence (ADR-022)
  RETRO.md
  ROADMAP.md
  docs/adr/022-v1.1-code-quality-single-path-convergence.md
  docs/strategy-sessions/2026-06-23-v1.1-code-quality.md
Due: none

fix(checks): V004 no longer false-fires on framework-invoked lifecycle hooks (#1684)
  python/djust/checks/components.py
  python/tests/test_checks.py
Due: pytest

docs(changelog): note V004 lifecycle-hook false-positive fix (#1684)
  CHANGELOG.md
Due: none

fix(checks): V004 no longer false-fires on framework-invoked lifecycle hooks (#1684) (#1880)
  CHANGELOG.md
  python/djust/checks/components.py
  python/tests/test_checks.py
Due: pytest

feat(navigation): default auto_navigate ON in v1.1 — native dj-navigate canonical (ADR-021 Stage 3)
  python/djust/config.py
  python/djust/tests/test_client_config_tag.py
Due: pytest

docs(retro): reconcile 6 stale Action Tracker rows to Closed (#1360/#1648/#1368/#1356/#1152/#1153)
  RETRO.md
Due: none

test(ws): de-flake test_mount_batch_with_login_view_does_not_close_shared_socket under -n auto (#1875)
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest

docs(changelog): note #1875 de-flake under [Unreleased] Fixed
  CHANGELOG.md
Due: none

test(ws): de-flake test_mount_batch_with_login_view_does_not_close_shared_socket under -n auto (#1875) (#1881)
  CHANGELOG.md
  python/djust/tests/test_ws_auth_close_socket.py
Due: pytest

test(infra): autouse fixture resets djust process-globals — retires the shared-global flaky class (#1883, #1882)
  python/djust/test_isolation.py
  python/djust/tests/conftest.py
  python/djust/tests/test_global_isolation_1883.py
  tests/conftest.py
Due: pytest

docs(changelog): systemic test-isolation fixture (#1883, #1882)
  CHANGELOG.md
Due: none

docs(retro): reconcile 2 stale Action Tracker rows to Closed (#1307/#1308)
  RETRO.md
Due: none

docs(adr): refine ADR-022 convergence sequencing after Stage-4 scoping (v1.1.0-3)
  docs/adr/022-v1.1-code-quality-single-path-convergence.md
Due: none

feat(runtime): ViewRuntime Iter 0 — object-perm + flush-queue parity + behavioral nets (#1885)
  python/djust/runtime.py
  python/djust/tests/test_transport_behavioral_parity.py
Due: pytest
