Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: track HTML sizes for full_html_update diagnostics
  python/djust/mixins/template.py
Due: pytest

docs: add Flask/FastAPI portability analysis to roadmap
  ROADMAP.md
Due: none

chore: unique demo cookie names + bump version to 0.3.0rc1
  examples/demo_project/demo_project/settings.py
  uv.lock
Due: pytest

feat: add DJUST_VDOM_TRACE hint and DJE codes to VDOM error messages
  crates/djust_vdom/src/diff.rs
  python/djust/websocket.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: add DJE-053 warning to full HTML update fallback path
  python/djust/websocket.py
Due: pytest

docs: add DX-005 data-dj-* parameter naming trap
  docs/DX_ISSUES.md
Due: none

fix: strip dj_ prefix from data-dj-* event parameters
  docs/DX_ISSUES.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/08-event-parsing.js
Due: npm-test

docs: update EVENT_HANDLERS.md to use data-dj-* convention
  docs/EVENT_HANDLERS.md
Due: none

security: add auto-escaping to Rust template engine
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template/rendering.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore: standardize on Python 3.12
  .python-version
Due: none

feat: add djust_audit management command
  python/djust/management/commands/djust_audit.py
  python/tests/test_audit_command.py
Due: pytest

fix: auto-detect SafeString values for Rust auto-escaping
  python/djust/template/rendering.py
Due: pytest

docs: add security model guide for LiveView vs API comparison
  docs/guides/security.md
Due: none

feat: add exposed state analysis to djust_audit command
  docs/guides/security.md
  python/djust/management/commands/djust_audit.py
  python/tests/test_audit_command.py
Due: pytest

feat: add opinionated auth system for LiveViews
  docs/guides/authentication.md
  docs/guides/security.md
  python/djust/__init__.py
  python/djust/auth.py
  python/djust/checks.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/management/commands/djust_audit.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
  python/tests/test_audit_command.py
  python/tests/test_auth.py
  python/tests/test_auth_integration.py
Due: pytest

feat: LiveViewTestClient.render() uses Rust engine by default
  python/djust/testing.py
Due: pytest

docs: add auth system references across documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/SECURITY_GUIDELINES.md
  docs/state-management/STATE_MANAGEMENT_API.md
Due: none

fix: detect dispatch-based auth mixins in djust_audit and S005 check
  python/djust/checks.py
  python/djust/management/commands/djust_audit.py
  python/tests/test_audit_command.py
Due: pytest

security: propagate SafeString to RustLiveView for auto-escaping
  crates/djust_live/src/lib.rs
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat: add LiveViewSmokeTest mixin for automated smoke + fuzz testing
  python/djust/testing.py
  python/djust/tests/test_decorators.py
Due: pytest

docs: update security documentation for auto-escaping and fuzz testing
  docs/BEST_PRACTICES_AI.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/SECURITY_GUIDELINES.md
  docs/TEMPLATE_BACKEND.md
Due: none

fix: improve LiveViewSmokeTest reliability for real-world apps
  python/djust/testing.py
Due: pytest

fix: add diagnostic context to DJE-053 signals for better debugging
  python/djust/signals.py
  python/djust/websocket.py
Due: pytest

refactor: replace print() with logger.debug() in rust_bridge and template mixins
  python/djust/mixins/rust_bridge.py
  python/djust/mixins/template.py
Due: pytest

fix: skip HttpRequest in render_full_template serialization, standardize on Python 3.12
  pyproject.toml
  python/djust/mixins/template.py
Due: pytest

fix: use stable cache key for context processors to prevent test pollution
  python/djust/mixins/context.py
Due: pytest

feat: auto-detect unchanged assigns to eliminate DJE-053
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/tests/test_strip_whitespace.py
  python/djust/websocket.py
Due: npm-test, pytest

fix: address PR review findings — auth 403, dj-copy stale value, console guards
  CHANGELOG.md
  docs/DX_ISSUES.md
  docs/guides/authentication.md
  python/djust/auth.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/testing.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
  python/tests/test_auth.py
  python/tests/test_auth_integration.py
  tests/js/morph.test.js
  tests/js/preserve_form_values.test.js
Due: npm-test, pytest

fix: address CodeQL review findings on PR #251
  ROADMAP.md
  python/djust/checks.py
  python/djust/management/commands/djust_audit.py
  python/djust/management/commands/djust_check.py
  python/djust/testing.py
  python/tests/test_audit_command.py
  tests/js/cursor-overlay.test.js
Due: npm-test, pytest

fix: address PR review blocking issues — CI Python version, duplicate classifier, console guards
  .github/workflows/test.yml
  pyproject.toml
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
Due: npm-test

test: address PR review non-blocking findings — add missing tests, expand check coverage, update CLAUDE.md
  CLAUDE.md
  python/tests/test_checks.py
  python/tests/test_smoke_test.py
  tests/js/dj-copy.test.js
Due: npm-test, pytest

docs: add LiveViewSmokeTest developer guide
  docs/testing/TESTING_SMOKE_FUZZ.md
Due: none

fix: address CodeQL findings — unused variable, redundant assignment
  python/tests/test_smoke_test.py
  tests/js/cursor-overlay.test.js
Due: npm-test, pytest

fix: CI python-tests and playwright-tests wheel install failure
  .github/workflows/test.yml
Due: none

fix: remove broken pre-built wheel pipeline from CI
  .github/workflows/test.yml
Due: none

fix: use override_settings for template dir patching in xdist
  python/tests/test_liveview_include.py
Due: pytest

feat: improve error messages for common LiveView event handler mistakes (#248)
  python/djust/websocket_utils.py
  python/tests/test_error_messages.py
Due: pytest

fix: pin jsdom to v26 for vitest v4 compatibility
  package-lock.json
  package.json
Due: none

feat: add 11 built-in template filters (#246)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_template_filters.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: address PR #253 review feedback
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  docs/RUST_TEMPLATE_API.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
