Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(roadmap): mark v1.1.0-11 hygiene drain COMPLETE 6/6
  ROADMAP.md
Due: none

fix(websocket): drop sends on a closed socket instead of raising
  CHANGELOG.md
  python/djust/tests/test_ws_send_after_close.py
  python/djust/websocket.py
Due: pytest

fix(codeql): remove always-true _warnDeadScripts guards + unused _MISSING sentinel
  python/djust/bug_capture_views.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test, pytest

docs(changelog): note the CodeQL dead-guard / unused-sentinel cleanup (#2572-#2578)
  CHANGELOG.md
Due: none

fix(codeql): remove always-true _warnDeadScripts guards + unused _MISSING sentinel (#2572–#2578) (#2086)
  CHANGELOG.md
  python/djust/bug_capture_views.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/17-streaming.js
Due: npm-test, pytest

test(websocket): disconnect-parity coverage + connect() init; fix CHANGELOG placement
  CHANGELOG.md
  python/djust/tests/test_ws_send_after_close.py
  python/djust/websocket.py
Due: pytest

fix(websocket): drop sends on a closed socket instead of raising (#2084)
  CHANGELOG.md
  python/djust/tests/test_ws_send_after_close.py
  python/djust/websocket.py
Due: pytest

perf(serialization): memoize the #1987 TYPE-floor verdict per (field class, config)
  CHANGELOG.md
  python/djust/serialization.py
  python/djust/tests/test_field_type_exclusion_1987.py
Due: pytest

perf(serialization): memoize the #1987 TYPE-floor verdict per (field class, config) (#2085)
  CHANGELOG.md
  python/djust/serialization.py
  python/djust/tests/test_field_type_exclusion_1987.py
Due: pytest

docs(retro): milestone v1.1.0-11 + action tracker rows #324/#325
  RETRO.md
Due: none

docs(roadmap): add v1.1.0-12 follow-up drain bucket (#2081, #2082)
  ROADMAP.md
Due: none

fix(test): convert dj_transition 're-runs the sequence' to controllable-rAF stub
  tests/js/dj_transition.test.js
Due: npm-test

docs(changelog): note dj_transition rAF-flake fix (#2081)
  CHANGELOG.md
Due: none

fix(build): route Makefile cargo targets through embeddable-python.sh (#2082)
  Makefile
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
Due: pytest

docs(changelog): note the Makefile PYO3_PYTHON embeddable-python fix (#2082)
  CHANGELOG.md
Due: none

fix(test): convert dj_transition 're-runs the sequence' to controllable-rAF stub (#2081) (#2092)
  CHANGELOG.md
  tests/js/dj_transition.test.js
Due: npm-test

fix(build): route Makefile cargo targets through embeddable-python.sh (#2082) (#2093)
  CHANGELOG.md
  Makefile
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
Due: pytest

docs(roadmap): mark v1.1.0-12 follow-up drain COMPLETE 2/2
  ROADMAP.md
Due: none

perf(templates): cache parsed {% include %} bodies for stable loop-cache identity (#2074)
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): note #2074 include-loop-cache fix
  CHANGELOG.md
Due: none

docs: clarify #2074 invariant scope + mtime-granularity tradeoff
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

perf(templates): cache parsed {% include %} bodies for stable loop-cache identity (#2074) (#2094)
  CHANGELOG.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_include_loop_cache_2074.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

security(deps): bump mcp/daphne/django/brace-expansion to patched versions (#127-#133)
  package-lock.json
  uv.lock
Due: none

docs(changelog): note the Dependabot security bumps (#127-#133)
  CHANGELOG.md
Due: none

security(deps): resolve 7 Dependabot alerts — mcp/daphne/django/brace-expansion (#127–#133) (#2095)
  CHANGELOG.md
  package-lock.json
  uv.lock
Due: none

feat(docs-infra): machine-readable surface manifest + parity canaries (#2064)
  pyproject.toml
  python/djust/management/commands/djust_surface_manifest.py
  python/djust/schema.py
  python/djust/tests/test_surface_manifest_2064.py
Due: pytest

docs: surface manifest guide + CHANGELOG entry (#2064)
  CHANGELOG.md
  docs/internal/SURFACE_MANIFEST.md
Due: none

fix: cover attribute-equality binding shape in directive canary + doc/CHANGELOG corrections (review)
  CHANGELOG.md
  docs/internal/SURFACE_MANIFEST.md
  python/djust/management/commands/djust_surface_manifest.py
  python/djust/tests/test_surface_manifest_2064.py
Due: pytest

feat(docs-infra): machine-readable surface manifest + parity canaries (#2064) (#2096)
  CHANGELOG.md
  docs/internal/SURFACE_MANIFEST.md
  pyproject.toml
  python/djust/management/commands/djust_surface_manifest.py
  python/djust/schema.py
  python/djust/tests/test_surface_manifest_2064.py
Due: pytest

security(deps): bump pyasn1 0.6.4 + setuptools 83.0.0 (#134, #135, #136)
  pyproject.toml
  uv.lock
Due: none

docs(changelog): note the pyasn1/setuptools Dependabot bumps (#134–#136)
  CHANGELOG.md
Due: none

security(deps): bump pyasn1 0.6.4 + setuptools 83.0.0 (#134, #135, #136) (#2098)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(ecosystem): dj-chart official adapter — user brings the library (#2063)
  python/djust/checks/configuration.py
  python/djust/extensions.py
  python/djust/mixins/post_processing.py
  python/djust/static/djust/ext/dj-chart.js
  tests/js/dj_chart_adapter.test.js
  tests/unit/test_extensions_2063.py
Due: npm-test, pytest

fix(ecosystem): correct dj-chart recipe — dj-update=ignore would freeze values
  python/djust/static/djust/ext/dj-chart.js
  tests/js/dj_chart_adapter.test.js
Due: npm-test

docs(ecosystem): official-adapters guide + CHANGELOG for dj-chart (#2063)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/official-adapters.md
  docs/website/index.md
Due: none

fix(ecosystem): address Stage 11 review findings on dj-chart (#2063)
  CHANGELOG.md
  docs/website/guides/official-adapters.md
  python/djust/static/djust/ext/dj-chart.js
  tests/js/dj_chart_adapter.test.js
  tests/unit/test_extensions_2063.py
Due: npm-test, pytest

feat(ecosystem): dj-chart official adapter — user brings the library (#2063) (#2105)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/official-adapters.md
  docs/website/index.md
  python/djust/checks/configuration.py
  python/djust/extensions.py
  python/djust/mixins/post_processing.py
  python/djust/static/djust/ext/dj-chart.js
  tests/js/dj_chart_adapter.test.js
  tests/unit/test_extensions_2063.py
Due: npm-test, pytest

security(deps): bump postcss 8.5.16 -> 8.5.20 (GHSA-r28c-9q8g-f849, #137)
  CHANGELOG.md
  package-lock.json
Due: none

security(deps): bump postcss 8.5.16 -> 8.5.20 (GHSA-r28c-9q8g-f849, #137) (#2106)
  CHANGELOG.md
  package-lock.json
Due: none

fix(client): scan the root element itself for dj-window-*/dj-document-* (#2097)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-window-root-scan-2097.test.js
Due: npm-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
