Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(changelog): keyed loop-item render cache (#1967)
  CHANGELOG.md
Due: none

fix(rust): loop render cache only for item-only bodies — outer-context reads are non-cacheable (#1967 review 🔴)
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  python/djust/tests/test_loop_render_cache_1967.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): narrow #1967 loop render cache correctness note (item-only bodies)
  CHANGELOG.md
Due: none

perf(rust): keyed loop-item render cache for large-list render_with_diff (#1967, flag-gated default-off) (#1969)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/benches/loop_render_cache.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_loop_render_cache_1967.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

perf(rust): cache parsed VNode subtrees for unchanged loop items (#1970, flag-gated)
  Cargo.lock
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/test_loop_parse_cache_1970.rs
  python/djust/tests/test_loop_render_cache_1967.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog,roadmap): parsed VNode subtree cache for loop items (#1970)
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(rust): per-render nonce on loop parse-cache sentinel — unforgeable by |safe content (#1970)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/test_loop_parse_cache_1970.rs
  python/djust/tests/test_loop_render_cache_1967.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): note the per-render nonce sentinel security fix (#1970)
  CHANGELOG.md
Due: none

perf(rust): cache parsed VNode subtrees for unchanged loop items (#1970, flag-gated) (#1973)
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_loop_render_cache_1967.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/test_loop_parse_cache_1970.rs
  python/djust/tests/test_loop_render_cache_1967.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore: track 1.1.0 on main (version bump 1.0.8 → 1.1.0) + correct #1970 ROADMAP bucket
  Cargo.lock
  Cargo.toml
  ROADMAP.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

chore: track 1.1.0 on main (version bump 1.0.8 → 1.1.0) + correct #1970 ROADMAP bucket (#1974)
  Cargo.lock
  Cargo.toml
  ROADMAP.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

Bump version to 1.1.0rc4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

Bump version to 1.1.0rc4 (#1975)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

revert: restore main to the 0116ea4a tree — undo the unintended #1974/#1975 restructure
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(roadmap): correct the #1970 bucket — v1.0.8-3 → v1.1.0-1 (1.0.8 was already shipped)
  ROADMAP.md
Due: none

docs(roadmap): correct the #1970 bucket label v1.0.8-3 → v1.1.0-1 (#1976)
  ROADMAP.md
Due: none

test(vdom): make client-faithful harness dj-id resolution case-sensitive (#1977)
  tests/js/_significant_tree.js
  tests/js/harness_djid_case_sensitivity.test.js
Due: npm-test

test(vdom): pin the dj-id-selector surface the case-sensitivity shim serves
  tests/js/harness_djid_case_sensitivity.test.js
Due: npm-test

test(vdom): make client-faithful harness dj-id resolution case-sensitive (#1977 follow-up) (#1978)
  tests/js/_significant_tree.js
  tests/js/harness_djid_case_sensitivity.test.js
Due: npm-test

test(vdom): refresh stale #1678 diff fixture + add a CI freshness gate (#1979)
  .github/workflows/test.yml
  Makefile
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_kanban_tabs_1678.json
Due: pytest

test(vdom): address #1980 review — cite #1981, catch untracked fixtures
  .github/workflows/test.yml
  scripts/gen_vdom_diff_fixtures.py
Due: pytest

fix(ci): generator self-migrates an isolated DB so the freshness gate runs (#1980)
  scripts/gen_vdom_diff_fixtures.py
Due: pytest

security(script): use mkdtemp not mktemp for the fixture generator's temp DB
  scripts/gen_vdom_diff_fixtures.py
Due: pytest

test(vdom): refresh stale #1678 diff fixture + add a CI freshness gate (#1979) (#1980)
  .github/workflows/test.yml
  Makefile
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_kanban_tabs_1678.json
Due: pytest

fix(state): add LiveView.set_changed_keys escape hatch + fix #1678 fixture (#1981)
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_set_changed_keys_1981.py
  python/djust/websocket.py
  scripts/gen_vdom_diff_fixtures.py
  tests/js/fixtures/vdom_diff_kanban_tabs_1678.json
  tests/livefixtures/kanban_tabs_view.py
Due: pytest

docs(state): document set_changed_keys + in-place-mutation caveat (#1981)
  CHANGELOG.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/website/guides/state-primitives.md
Due: none

fix(state): address #1982 review — true mechanism isolation + tick/deferred parity
  python/djust/live_view.py
  python/djust/mixins/rust_bridge.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_set_changed_keys_1981.py
  python/djust/websocket.py
Due: pytest

docs(changelog): correct set_changed_keys mechanism text (#1982 review)
  CHANGELOG.md
Due: none

fix(scaffold): read DJUST_SQLITE_PATH for the DB so `djust new` deploys on a read-only rootfs
  CHANGELOG.md
  python/djust/scaffolding/templates.py
  python/djust/tests/test_scaffold_db_path.py
Due: pytest

docs(adr): ADR-024 — template callable auto-call, Django parity in the sidecar walk
  docs/adr/024-template-callable-auto-call.md
Due: none

docs(adr): ADR-024 — template callable auto-call, Django parity in the sidecar walk (#1984)
  docs/adr/024-template-callable-auto-call.md
Due: none

feat(templates): Django-parity callable auto-call in the sidecar walk (#1985, ADR-024)
  crates/djust_core/src/context.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/config.py
  python/djust/mixins/rust_bridge.py
  python/djust/optimization/codegen.py
  python/djust/serialization.py
  python/djust/tests/test_template_auto_call_1985.py
  python/tests/test_codegen.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): document callable auto-call — cheatsheet, SECURE_DEFAULTS, CHANGELOG (#1985)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
  docs/adr/024-template-callable-auto-call.md
  docs/website/guides/template-cheatsheet.md
Due: none

fix(security): enforce serialization floor on the template getattr sidecar (#1986 review)
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/tests/test_template_auto_call_1985.py
Due: pytest

docs(security): document the sidecar serialization-floor fix (#1986)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(security): close manager-traversal + for-loop + _meta sidecar floor bypasses (#1986 re-review)
  crates/djust_core/src/lib.rs
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/tests/test_template_auto_call_1985.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(security): document the full multi-vector sidecar floor fix (#1986)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(security): refuse .values()/.values_list() projections in the sidecar (#1986 re-review vector 5)
  python/djust/serialization.py
  python/djust/tests/test_template_auto_call_1985.py
Due: pytest

docs(security): document vector 5 (values/values_list projection refusal) (#1986)
  CHANGELOG.md
  docs/SECURE_DEFAULTS.md
Due: none
