Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(tests): the #1817 render-send pin counted prose, not call sites (#2238) (#2245)
  CHANGELOG.md
  python/djust/tests/_source_scan.py
  python/djust/tests/test_source_scan_2238.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

fix(core): localize a scientific-form number's coefficient (#2242) (#2251)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_core/src/locale.rs
  crates/djust_core/tests/test_scientific_localization_2242.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_scientific_localization_2242.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(core): carry a Decimal exactly through the Python converters too (#2239) (#2254)
  CHANGELOG.md
  ROADMAP.md
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_async_result_serializer.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_serialization_hardening.py
  python/tests/test_template_serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

docs(roadmap): close v1.1.1-3 and open v1.1.1-4 for its chain links
  ROADMAP.md
Due: none

fix(templates): a bool compares as the integer Python says it is (#2244)
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_numeric_comparison_2244.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): a bool compares as its integer in {% if %} (#2244)
  CHANGELOG.md
Due: none

test: structural pins stop counting prose in Rust and in Python (#2249, #2246)
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  python/djust/tests/_source_scan.py
  python/djust/tests/test_bug_capture_views.py
  python/djust/tests/test_source_scan_2238.py
  python/tests/test_json_script_escaping_2241.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the #2249/#2246 structural-pin fixes
  CHANGELOG.md
Due: none

fix(templates): a bool compares as the integer Python says it is (#2244) (#2255)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_bool_numeric_comparison_2244.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: structural pins stop counting prose in Rust and in Python (#2249, #2246) (#2256)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  python/djust/tests/_source_scan.py
  python/djust/tests/test_bug_capture_views.py
  python/djust/tests/test_source_scan_2238.py
  python/tests/test_json_script_escaping_2241.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the #2250 stringfilter coercion, with its measured residues
  CHANGELOG.md
Due: none

fix(templates): string filters see str(Decimal), not its numberformat rendering (#2250)
  crates/djust_templates/src/filters.rs
  python/tests/test_scientific_localization_2242.py
  python/tests/test_string_filter_stringification_2250.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): string filters see str(Decimal), not its numberformat rendering (#2250) (#2267)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_scientific_localization_2242.py
  python/tests/test_string_filter_stringification_2250.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the tagged Decimal state round trip (#2252)
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(state): a Decimal survives the session and snapshot round trip (#2252)
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_decimal_state_tag_runtime_2252.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/time_travel.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_state_tag_2252.py
  tests/unit/test_normalize_django_value.py
Due: pytest

docs(roadmap): open v1.1.1-5 for the filter-parity divergences the #2250 sweep found
  ROADMAP.md
Due: none

fix(templates): floatformat and add on exact decimal digits (#2253)
  crates/djust_core/src/decimal.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/locale.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_scientific_localization_2242.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): run the u-suffix gap instead of asserting it (#2253, #2266)
  CHANGELOG.md
  crates/djust_templates/src/floatformat.rs
  python/tests/test_floatformat_parity_2253.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): floatformat's negative, g and u argument forms (#2253)
  CHANGELOG.md
  docs/RUST_TEMPLATE_API.md
Due: none

refactor(core): share the as_tuple digit definition, fix a self-review citation
  crates/djust_core/src/decimal.rs
  crates/djust_core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

refactor(state): tidy two #2252 decode sites
  python/djust/mixins/request.py
  python/djust/time_travel.py
Due: pytest

fix(tests): rebase onto #2267 — update its blocker characterization, de-dup CHANGELOG
  CHANGELOG.md
  python/tests/test_string_filter_stringification_2250.py
Due: pytest

fix(state): a Decimal survives the session and snapshot round trip (#2252) (#2268)
  CHANGELOG.md
  ROADMAP.md
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_decimal_state_tag_runtime_2252.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/time_travel.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_state_tag_2252.py
  tests/unit/test_normalize_django_value.py
Due: pytest

test: retake #2252's measurement now that #2263 closed the floatformat gap
  CHANGELOG.md
  python/tests/test_decimal_state_tag_2252.py
Due: pytest

fix(templates): floatformat and add on exact decimal digits (#2253) (#2263)
  CHANGELOG.md
  crates/djust_core/src/decimal.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/locale.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  docs/RUST_TEMPLATE_API.md
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_decimal_state_tag_2252.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_scientific_localization_2242.py
  python/tests/test_string_filter_stringification_2250.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): reconcile v1.1.1-5 — nine rows, #2257 shipped inside #2263
  ROADMAP.md
Due: none

fix(templates): filesizeformat, floatformat u/gu and linebreaks emit Django's bytes
  crates/djust_core/src/locale.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/render_env.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
  python/tests/test_string_filter_stringification_2250.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): filesizeformat / floatformat u-gu / linebreaks output shapes
  CHANGELOG.md
Due: none

fix(templates): filesizeformat, floatformat u/gu and linebreaks emit Django's bytes (#2269)
  CHANGELOG.md
  crates/djust_core/src/locale.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  crates/djust_templates/src/renderer.rs
  python/djust/_rust.pyi
  python/djust/render_env.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
  python/tests/test_string_filter_stringification_2250.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the numeric-representation fixes (#2260, #2258, #2265)
  CHANGELOG.md
Due: none

fix(templates): a number survives its Value representation (#2260, #2258, #2265)
  crates/djust_core/src/decimal.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_bigint_value_2260.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_core/tests/test_float_display_2258.rs
  crates/djust_core/tests/value_repr_flag/mod.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_bigint_loop_cache_2260.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  crates/djust_templates/tests/test_stringformat_int_2265.rs
  python/tests/test_big_int_value_2260.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_float_display_2258.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_stringformat_int_2265.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): pin json_script's big-int literal guard (#2260)
  crates/djust_templates/tests/test_bigint_json_script_2260.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): filesizeformat and the linebreaks NaN pin, after #2269 (#2260, #2258)
  crates/djust_templates/src/filters.rs
  python/tests/test_big_int_value_2260.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): correct two stale variant-set citations (#2260)
  crates/djust_templates/src/renderer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(core): scope the BigInt JSON-arm rationale to what actually reads it (#2260)
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_bigint_value_2260.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): a number survives its Value representation (#2260, #2258, #2265) (#2271)
  CHANGELOG.md
  crates/djust_core/src/decimal.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_bigint_value_2260.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_core/tests/test_display_django_parity_2203.rs
  crates/djust_core/tests/test_float_display_2258.rs
  crates/djust_core/tests/value_repr_flag/mod.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_bigint_json_script_2260.rs
  crates/djust_templates/tests/test_bigint_loop_cache_2260.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  crates/djust_templates/tests/test_stringformat_int_2265.rs
  python/tests/test_big_int_value_2260.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_float_display_2258.py
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
  python/tests/test_stringformat_int_2265.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): port Truncator, slugify, title and urlencode from Django (#2262, #2261)
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/truncate.rs
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_template_filters.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the seven Django filter-algorithm divergences (#2262, #2261)
  CHANGELOG.md
Due: none

fix(templates): pprint and json_script spell a float with Python's repr (#2270)
  crates/djust_templates/src/filters.rs
  python/tests/test_pprint_json_script_float_2270.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): pprint/json_script float repr — the last two #2258 sinks (#2270)
  CHANGELOG.md
Due: none
