Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(sticky): html_recovery preserves embedded sticky-child state + prerender dj-id parity (#1813)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_sticky_child_recovery_1813.py
  python/djust/websocket.py
  tests/js/ws-mount-prerender-divergence-1813-sticky-djid.test.js
Due: npm-test, pytest

docs(sticky): changelog + in-connection continuity note for #1813
  CHANGELOG.md
  docs/website/guides/sticky-child-persistence.md
Due: none

fix(sticky): restore view_path in _render_sticky_child_html error message (#1813 review 🟡)
  python/djust/templatetags/live_tags.py
Due: pytest

fix(sticky): html_recovery preserves embedded sticky-child state + prerender dj-id parity (#1813) (#1814)
  CHANGELOG.md
  docs/website/guides/sticky-child-persistence.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_sticky_child_recovery_1813.py
  python/djust/websocket.py
  tests/js/ws-mount-prerender-divergence-1813-sticky-djid.test.js
Due: npm-test, pytest

Bump version to 1.0.5rc5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test: replace flaky wall-clock ratio with deterministic interval-overlap proof (#1795)
  tests/integration/test_chunks_overlap.py
Due: pytest

docs(changelog): note flaky wall-clock test hardening (#1795)
  CHANGELOG.md
Due: none

test: deterministic interval-overlap proof for parallel render (#1795) (#1815)
  CHANGELOG.md
  tests/integration/test_chunks_overlap.py
Due: pytest

Bump version to 1.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(retro): milestone v1.0.5-4 + v1.0.5-5 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

docs(roadmap): add #1788 to v1.0.6-1 (consumer-owned VDOM send-version)
  ROADMAP.md
Due: none

fix(websocket): consumer-owned monotonic VDOM send-version (#1788)
  python/djust/streaming.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  python/tests/test_hotreload.py
  tests/unit/test_arm_recovery_helper_1645.py
  tests/unit/test_async_recovery_html_1636.py
  tests/unit/test_server_push.py
Due: pytest

docs(changelog): consumer-owned monotonic VDOM send-version (#1788)
  CHANGELOG.md
Due: none

docs(roadmap): add #1819/#1820/#1821 to v1.0.6-2 security drain (#1822 separate)
  ROADMAP.md
Due: none

feat(checks): S007 flags client_name|safe stored-XSS pattern (#1821)
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

docs(checks): document S007 client_name|safe stored-XSS check (#1821)
  CHANGELOG.md
  docs/guides/error-codes.md
  docs/system-checks.md
Due: none

security(validation): pin type-coercion edge-case behavior (#1820)
  python/tests/test_validation.py
Due: pytest

security: validate mount URL against path traversal / CRLF (#1819)
  python/djust/tests/test_security_mount_validation.py
  python/djust/websocket.py
Due: pytest

docs(security): document audited type-coercion contract (#1820)
  CHANGELOG.md
  SECURITY_AUDIT.md
Due: none

docs(changelog): note mount-URL validation security fix (#1819)
  CHANGELOG.md
  SECURITY_AUDIT.md
Due: none

fix(security): decode mount URL before traversal check — close %2e%2e bypass (#1819 review)
  python/djust/tests/test_security_mount_validation.py
  python/djust/websocket.py
Due: pytest

feat(checks): S007 flags client_name|safe stored-XSS pattern (#1821) (#1823)
  CHANGELOG.md
  docs/guides/error-codes.md
  docs/system-checks.md
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

security: validate mount URL against path traversal / CRLF (#1819) (#1825)
  CHANGELOG.md
  SECURITY_AUDIT.md
  python/djust/tests/test_security_mount_validation.py
  python/djust/websocket.py
Due: pytest

security(validation): audit + pin type-coercion edge cases (#1820) (#1824)
  CHANGELOG.md
  SECURITY_AUDIT.md
  python/tests/test_validation.py
Due: pytest

Bump version to 1.0.6rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

test(benchmarks): assert perf SLA on median, not outlier-sensitive mean
  tests/benchmarks/conftest.py
Due: pytest

docs(retro): milestone v1.0.6-1 + v1.0.6-2 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

fix(vdom): dj-if MoveSubtree fires on relative position, not absolute offset (#1826)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_dj_if_loop_spurious_move_1826.rs
  python/djust/tests/test_diff_html_if_marker_rows_1826.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record #1826 dj-if MoveSubtree relative-position fix
  CHANGELOG.md
Due: none

fix(vdom): dj-if MoveSubtree fires on relative position, not absolute offset (#1826) (#1828)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/tests/test_dj_if_loop_spurious_move_1826.rs
  python/djust/tests/test_diff_html_if_marker_rows_1826.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: correct #1826 framing — latent since v1.0.0 (#1666), not a 1.0.6rc1 regression
  CHANGELOG.md
  ROADMAP.md
Due: none

test(vdom): JS-client apply coverage for dj-if MoveSubtree (#1826 follow-up)
  tests/js/dj_if_movesubtree_client_apply_1826.test.js
Due: npm-test

docs(changelog): note JS-client apply coverage for dj-if MoveSubtree (#1826)
  CHANGELOG.md
Due: none

test(vdom): JS-client apply coverage for dj-if MoveSubtree (#1826 follow-up) (#1829)
  CHANGELOG.md
  tests/js/dj_if_movesubtree_client_apply_1826.test.js
Due: npm-test

Bump version to 1.0.6rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

security(deps): bump cryptography/pyjwt/python-multipart/starlette (12 Dependabot advisories)
  uv.lock
Due: none

docs(changelog): record Dependabot security bumps (12 advisories)
  CHANGELOG.md
Due: none

security(deps): bump 4 transitive deps to clear 12 Dependabot advisories (#1831)
  CHANGELOG.md
  uv.lock
Due: none

docs(roadmap): add v1.0.6-4 milestone — checks.py modularization (#1822)
  ROADMAP.md
Due: none

refactor(checks): modularize checks.py into a checks/ package (#1822)
  CLAUDE.md
  python/djust/checks.py
  python/djust/checks/__init__.py
  python/djust/checks/accessibility.py
  python/djust/checks/components.py
  python/djust/checks/configuration.py
  python/djust/checks/integrations.py
  python/djust/checks/quality.py
  python/djust/checks/security.py
  python/djust/checks/templates.py
  python/djust/checks/utils.py
  python/tests/test_checks_package_structure_1822.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
