Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

security(deps): bump pyo3 0.25 → 0.29 (GHSA-36hh-v3qg-5jq4 + GHSA-chgr-c6px-7xpp) [#103, #104] (#1770)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/djust_components/src/python.rs
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/actors/component.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  crates/djust_live/src/model_serializer.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_vdom/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(isolation): restore app-registered tag handlers in _isolate_tag_registries (#1771)
  tests/unit/test_tag_registry.py
Due: pytest

fix(deploy): deploy doctor honors env-derived DATABASES, not just DATABASE_URL (#1768)
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs(changelog): deploy doctor env-derived DATABASES fix (#1768)
  CHANGELOG.md
Due: none

test(isolation): restore app-registered tag handlers in _isolate_tag_registries (#1771) (#1772)
  tests/unit/test_tag_registry.py
Due: pytest

fix(deploy): deploy doctor honors env-derived DATABASES, not just DATABASE_URL (#1768) (#1773)
  CHANGELOG.md
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs(best-practices): add Deployment section (platform env contract + deploy doctor)
  docs/BEST_PRACTICES_AI.md
  docs/guides/BEST_PRACTICES.md
Due: none

docs(best-practices): add Deployment section (platform env contract + deploy doctor) (#1774)
  docs/BEST_PRACTICES_AI.md
  docs/guides/BEST_PRACTICES.md
Due: none

fix(routing): auth-filter the client route map (#1758, ADR-021 Stage 2)
  python/djust/routing.py
  python/djust/tests/test_route_map_auth_filter_1758.py
  tests/route_map_auth_test_urls.py
Due: pytest

docs(adr,changelog): route-map auth-hardening (#1758, ADR-021 Stage 2)
  CHANGELOG.md
  docs/adr/021-automatic-spa-navigation.md
Due: none

fix(routing): also detect Django auth mixins in route-map gating (#1758 review)
  python/djust/routing.py
  python/djust/tests/test_route_map_auth_filter_1758.py
  tests/route_map_auth_test_urls.py
Due: pytest

docs(changelog): note mixin detection in #1758 route-map auth filter
  CHANGELOG.md
Due: none

fix(routing): auth-filter the client route map (#1758, ADR-021 Stage 2) (#1775)
  CHANGELOG.md
  docs/adr/021-automatic-spa-navigation.md
  python/djust/routing.py
  python/djust/tests/test_route_map_auth_filter_1758.py
  tests/route_map_auth_test_urls.py
Due: pytest

feat(nav): opt-in auto_navigate link interception (#1734, ADR-021 Stage 2)
  python/djust/config.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/js/auto_navigate_1734.test.js
Due: npm-test, pytest

docs(nav): document auto_navigate + reframe TurboNav as interop (#1734, #1735)
  CHANGELOG.md
  docs/guides/turbonav-integration.md
  docs/website/guides/navigation.md
Due: none

feat(nav): opt-in auto_navigate link interception (#1734, #1735, ADR-021 Stage 2) (#1776)
  CHANGELOG.md
  docs/guides/turbonav-integration.md
  docs/website/guides/navigation.md
  python/djust/config.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/js/auto_navigate_1734.test.js
Due: npm-test, pytest

fix(websocket): close the socket on auth/hook mount redirects (auth bypass, T1/T2)
  python/djust/tests/test_ws_auth_close_socket.py
  python/djust/websocket.py
Due: pytest

docs(security): WS auth threat model + CHANGELOG for the auth-bypass fix (T1/T2)
  CHANGELOG.md
  docs/audits/websocket-auth-2026-06.md
Due: none

fix(websocket): don't close the shared socket on a redirect inside mount_batch (review)
  python/djust/tests/test_ws_auth_close_socket.py
  python/djust/websocket.py
Due: pytest

fix(websocket): close socket on auth/hook mount redirects — auth bypass (threat model T1/T2) (#1780)
  CHANGELOG.md
  docs/audits/websocket-auth-2026-06.md
  python/djust/tests/test_ws_auth_close_socket.py
  python/djust/websocket.py
Due: pytest

feat(websocket): opt-in per-event auth re-check (#1777, threat model T3)
  python/djust/config.py
  python/djust/tests/test_event_reauth_1777.py
  python/djust/websocket.py
Due: pytest

docs(security): CHANGELOG + threat-model T3 → mitigated opt-in (#1777)
  CHANGELOG.md
  docs/audits/websocket-auth-2026-06.md
Due: none

docs(changelog): note reauth_on_event updates request.user for handlers (#1781 review)
  CHANGELOG.md
Due: none

feat(websocket): opt-in per-event auth re-check (#1777, threat model T3) (#1781)
  CHANGELOG.md
  docs/audits/websocket-auth-2026-06.md
  python/djust/config.py
  python/djust/tests/test_event_reauth_1777.py
  python/djust/websocket.py
Due: pytest

docs(security): recommend setting LIVEVIEW_ALLOWED_MODULES (#1778, threat model T4)
  CHANGELOG.md
  docs/SECURITY_GUIDELINES.md
  docs/audits/websocket-auth-2026-06.md
  docs/guides/security.md
Due: none

docs(security): recommend setting LIVEVIEW_ALLOWED_MODULES (#1778, threat model T4) (#1782)
  CHANGELOG.md
  docs/SECURITY_GUIDELINES.md
  docs/audits/websocket-auth-2026-06.md
  docs/guides/security.md
Due: none

test(security): pin csrf_token + {{ user }} survive WS re-renders (#1779, T9)
  python/tests/test_csrf_user_survive_ws_1779.py
Due: pytest

test(security): pin csrf_token + {{ user }} survive WS re-renders (#1779, T9) (#1783)
  python/tests/test_csrf_user_survive_ws_1779.py
Due: pytest

docs(retro): v1.1.0 security & navigation milestone + action tracker #291/#292
  CLAUDE.md
  RETRO.md
Due: none

Bump version to 1.0.4rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RETRO.md
  docs/adr/021-automatic-spa-navigation.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

Bump version to 1.0.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/021-automatic-spa-navigation.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(roadmap): add 5 open issues to v1.0.5-1 milestone
  ROADMAP.md
Due: none

fix(websocket): arm recovery on the html_update (DJE-053) fallback path (#1785)
  python/djust/tests/test_ws_recovery_html_update_1785.py
  python/djust/websocket.py
  tests/unit/test_arm_recovery_helper_1645.py
Due: pytest

docs(changelog): WS html_update recovery-arming fix (#1785)
  CHANGELOG.md
Due: none

fix(websocket): arm recovery on the html_update (DJE-053) fallback path (#1785) (#1789)
  CHANGELOG.md
  python/djust/tests/test_ws_recovery_html_update_1785.py
  python/djust/websocket.py
  tests/unit/test_arm_recovery_helper_1645.py
Due: pytest

Bump version to 1.0.5rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix(cli): scaffold boots on uvicorn+ASGI (ASGIStaticFilesHandler, drop daphne) + load .env (#1787)
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  tests/integration/test_scaffold_boot_1787.py
Due: pytest

docs(changelog): add #1787 scaffold-boot fix entry
  CHANGELOG.md
Due: none

fix(cli): scaffold boots on uvicorn+ASGI (ASGIStaticFilesHandler, drop daphne) + load .env (#1787) (#1790)
  CHANGELOG.md
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  tests/integration/test_scaffold_boot_1787.py
Due: pytest

fix(templates): embedded {% live_render %} server-renders on initial HTTP GET (#1784)
  examples/demo_project/demo_project/settings.py
  examples/demo_project/demo_project/urls.py
  python/djust/mixins/template.py
  python/djust/templatetags/live_tags.py
  tests/integration/test_sticky_http_get_1784.py
Due: pytest
