Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat(checks): sticky-child persistence opt-in enforcement + guide (ADR-018 18c, #1471) (#1528)
  CHANGELOG.md
  docs/website/_config.yaml
  docs/website/guides/sticky-child-persistence.md
  docs/website/index.md
  python/djust/checks.py
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/checkviews_v011.py
  python/djust/websocket.py
  tests/unit/test_checks_v011_sticky_optin.py
  tests/unit/test_sticky_optin_runtime_warning.py
Due: pytest

docs(roadmap): mark v1.0.0rc4 milestone shipped (ADR-018 #1471)
  ROADMAP.md
Due: none

docs(roadmap): fold #1432/#1489/#1522/#1523 into v1.0.0rc4 Phase 2
  ROADMAP.md
Due: none

fix(vdom): claim each text node once in build_fragment_text_map (#1529)
  crates/djust_live/src/lib.rs
  tests/unit/test_vdom_settext_mispath_1529.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record #1529 VDOM diff SetText mis-pathing fix
  CHANGELOG.md
Due: none

feat(a11y): keyboard-nav module + djust_audit --a11y mode
  python/djust/management/commands/djust_audit.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/51-keyboard-nav.js
  python/tests/test_audit_command.py
  tests/js/keyboard_nav.test.js
Due: npm-test, pytest

docs(a11y): document keyboard-nav layer + djust_audit --a11y mode (#1522, #1523)
  CHANGELOG.md
  docs/website/guides/accessibility.md
Due: none

fix(a11y): focus-restore falls back to body when opener removed
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/51-keyboard-nav.js
  tests/js/keyboard_nav.test.js
Due: npm-test

feat: declare djust._rust free-threaded-safe (gil_used = false)
  crates/djust_live/src/lib.rs
  crates/djust_templates/tests/free_threaded_safety.rs
  crates/djust_vdom/tests/free_threaded_safety.rs
  python/djust/tests/test_rust_module_thread_safety.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record #1432 free-threaded-safe declaration
  CHANGELOG.md
Due: none

chore(test): drop gitignored plan-path refs from free-threaded test docstrings
  crates/djust_templates/tests/free_threaded_safety.rs
  crates/djust_vdom/tests/free_threaded_safety.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat: declare djust._rust free-threaded-safe (gil_used = false) (#1432) (#1535)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/tests/free_threaded_safety.rs
  crates/djust_vdom/tests/free_threaded_safety.rs
  python/djust/tests/test_rust_module_thread_safety.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat: re-export optimistic/cache/client_state/background from djust top level
  python/djust/__init__.py
  python/djust/tests/test_top_level_reexports_1489.py
Due: pytest

docs: record #1489 top-level re-exports + resolve API_STABILITY F3
  CHANGELOG.md
  docs/API_STABILITY.md
Due: none

feat: re-export optimistic/cache/client_state/background from djust top level (#1489) (#1536)
  CHANGELOG.md
  docs/API_STABILITY.md
  python/djust/__init__.py
  python/djust/tests/test_top_level_reexports_1489.py
Due: pytest

docs(roadmap): mark v1.0.0rc4 Phase-2 drain complete
  ROADMAP.md
Due: none

docs(roadmap): add #1531 ThemeMixin theme-head bug to v1.0.0rc4 Phase 2
  ROADMAP.md
Due: none

fix(theming): route ThemeMixin theme_head through shared context builder
  python/djust/tests/test_theming_context_cache.py
  python/djust/theming/mixins.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs(changelog): record #1531 ThemeMixin theme-head context fix
  CHANGELOG.md
Due: none

fix(theming): build theme_head with a shared full-context builder (#1531) (#1537)
  CHANGELOG.md
  python/djust/tests/test_theming_context_cache.py
  python/djust/theming/mixins.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs(roadmap): mark #1531 fixed — v1.0.0rc4 Phase-2 drain complete (5 PRs)
  ROADMAP.md
Due: none

docs(roadmap): pull #1533 + #1534 into v1.0.0rc4 Phase 2
  ROADMAP.md
Due: none

fix(keyboard-nav): route arrow/Esc keys to a dropdown nested in a dialog
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/51-keyboard-nav.js
  tests/js/keyboard_nav.test.js
Due: npm-test

docs(changelog): record #1533 dropdown-in-dialog keyboard routing fix
  CHANGELOG.md
Due: none

feat: free-threaded hardening — dead-code removal, frozen pyclasses, RwLock registries, 3.14t CI leg
  .github/workflows/test.yml
  crates/djust_components/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/tests/free_threaded_safety.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): record #1534 free-threaded hardening bucket
  CHANGELOG.md
Due: none

fix(ci): free-threaded job installs djust core only, not the [dev] extra
  .github/workflows/test.yml
Due: none

fix(ci): activate the 3.14t venv directly — uv run was wiping it
  .github/workflows/test.yml
Due: none

docs(roadmap): v1.0.0rc4 Phase-2 drain complete — #1533 + #1534 merged
  ROADMAP.md
Due: none

docs(roadmap): add #1538 VNode msgpack round-trip bug to v1.0.0rc4 Phase 2
  ROADMAP.md
Due: none

fix: add serde(default) to VNode.djust_id for msgpack deserialize
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/tests/test_serialization_hardening.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record #1538 VNode msgpack round-trip fix
  CHANGELOG.md
Due: none

docs(roadmap): #1538 merged — v1.0.0rc4 Phase-2 drain complete (8 PRs / 9 issues)
  ROADMAP.md
Due: none

docs(retro): milestone v1.0.0rc4 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

Bump version to 1.0.0rc4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/018-sticky-child-state-persistence.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(audit): classify sync_to_async sites for native-async-ORM (#1434)
  docs/audits/async-orm-2026-05.md
  scripts/bench_sync_to_async_overhead.py
Due: pytest

docs(changelog): record #1434 async-ORM audit + v1.0.0rc5 milestone
  CHANGELOG.md
  ROADMAP.md
Due: none

docs(audit): fix stale RUST count + get_context_data consistency
  docs/audits/async-orm-2026-05.md
Due: none

docs(audit): native-async-ORM / sync_to_async migration-surface audit (#1434) (#1544)
  CHANGELOG.md
  ROADMAP.md
  docs/audits/async-orm-2026-05.md
  scripts/bench_sync_to_async_overhead.py
Due: pytest

docs(roadmap): correct v1.0.0rc5 status — merged, release held
  ROADMAP.md
Due: none
