Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix: address the #3229 re-review (R1 start bound and stuck clock, R2 mounted view)
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_exposure_live_redirect_user_3212.py
  python/djust/tests/test_state_save_pool_3212.py
  python/djust/websocket.py
Due: pytest

docs: #3212 changelog after the #3229 re-review
  changelog.d/3212.fixed.md
Due: none

fix: SSE and explicit-exposure follow-ups (#3211, #3212, #3221) (#3229)
  changelog.d/3211.fixed.md
  changelog.d/3212.fixed.md
  changelog.d/3221.fixed.md
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_exposure_live_redirect_user_3212.py
  python/djust/tests/test_exposure_runtime_log_diagnostics.py
  python/djust/tests/test_exposure_snapshot_opt_in_3211.py
  python/djust/tests/test_exposure_sse_close_3221.py
  python/djust/tests/test_legacy_save_deadline_3212.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_sse_save_teardown_3212.py
  python/djust/tests/test_state_save_pool_3212.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/djust/tests/test_ws_reconnect_state_1465.py
  python/djust/websocket.py
Due: pytest

chore(release): 1.3.0rc5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/3112.fixed.md
  changelog.d/3164.fixed.md
  changelog.d/3165.fixed.md
  changelog.d/3166.fixed.md
  changelog.d/3170.fixed.md
  changelog.d/3171.fixed.md
  changelog.d/3172.fixed.md
  changelog.d/3173.documentation.md
  changelog.d/3178.fixed.md
  changelog.d/3184.fixed.md
  changelog.d/3186.fixed.md
  changelog.d/3187.fixed.md
  changelog.d/3195.added.md
  changelog.d/3199.added.md
  changelog.d/3200.fixed.md
  changelog.d/3201.fixed.md
  changelog.d/3202.fixed.md
  changelog.d/3203.fixed.md
  changelog.d/3208.fixed.md
  changelog.d/3209.fixed.md
  changelog.d/3211.fixed.md
  changelog.d/3212.fixed.md
  changelog.d/3216.documentation.md
  changelog.d/3217.fixed.md
  changelog.d/3218.fixed.md
  changelog.d/3219.documentation.md
  changelog.d/3221.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  python/djust/djust.cdx.json
  uv.lock
Due: pytest

fix: send a stream's queued update before stream_done/stream_error (#3227)
  python/djust/streaming.py
  python/djust/tests/test_stream_terminal_flush_3227.py
  python/tests/test_streaming.py
Due: pytest

docs: drop the stream_done sleep workaround from the streaming AI tutorial (#3227)
  changelog.d/3227.fixed.md
  docs/website/guides/tutorial-streaming-ai.md
Due: none

fix(checks): T002 and T012 agree on templates that never connect (#3225)
  changelog.d/3225.fixed.md
  docs/system-checks.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/error-codes.md
  docs/website/guides/template-requirements.md
  python/djust/checks/templates.py
  python/tests/test_checks.py
  python/tests/test_checks_t002_t012_3225.py
Due: pytest

fix: refresh the signed client snapshot on component-event frames (#3231)
  python/djust/runtime.py
  python/djust/tests/test_exposure_component_snapshot_3231.py
Due: pytest

docs: changelog fragment for #3231
  changelog.d/3231.fixed.md
Due: none

fix: actor shutdown waits for the actor to stop and drops Python objects attached (#3228)
  crates/djust_live/src/actors/component.rs
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/mod.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/view.rs
  python/djust/tests/test_actor_parameter_contracts.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment for actor shutdown (#3228, #3222)
  changelog.d/3228.fixed.md
Due: none

test: make the actor-teardown deadlock test block for real (#3228)
  crates/djust_live/src/actors/view.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: dispose a legacy view when its SSE stream closes (#3232)
  python/djust/sse.py
  python/djust/tests/test_sse_legacy_close_3232.py
Due: pytest

docs: changelog fragment for #3232
  changelog.d/3232.fixed.md
Due: none

fix: a terminal stream op does not inherit the flush task's send error (#3227)
  python/djust/streaming.py
Due: pytest

fix(components): plain .btn is readable with components.css loaded (#3230)
  changelog.d/3230.fixed.md
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_theme_button_hover_contrast_3209.py
Due: pytest

fix(checks): build the T012 directive set lazily (#3225)
  python/djust/checks/templates.py
  python/tests/test_checks_t002_t012_3225.py
Due: pytest

fix: an immediate stream op no longer overtakes the stream's queued op (#3227)
  python/djust/streaming.py
  python/djust/tests/test_stream_terminal_flush_3227.py
  python/tests/test_streaming.py
Due: pytest

fix: an SSE close lets a legacy view's background work finish, as the WebSocket does (#3232)
  python/djust/sse.py
  python/djust/tests/test_sse_legacy_close_3232.py
Due: pytest

docs: changelog fragments for the #3234 review fixes
  changelog.d/3227.fixed.md
  changelog.d/3232.fixed.md
Due: none

fix: runtime follow-ups to #3229 (#3227, #3231, #3232) (#3234)
  changelog.d/3227.fixed.md
  changelog.d/3231.fixed.md
  changelog.d/3232.fixed.md
  docs/website/guides/tutorial-streaming-ai.md
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/streaming.py
  python/djust/tests/test_exposure_component_snapshot_3231.py
  python/djust/tests/test_sse_legacy_close_3232.py
  python/djust/tests/test_stream_terminal_flush_3227.py
  python/tests/test_streaming.py
Due: pytest

fix: don't wait for actor shutdown inside an actor's own loop (#3228 review)
  crates/djust_live/src/actors/mod.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/supervisor.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs: changelog notes unmount and component removal do not wait (#3228)
  changelog.d/3228.fixed.md
Due: none

fix: actor shutdown waits for the actor to stop and drops Python objects attached (#3228, #3222) (#3235)
  changelog.d/3228.fixed.md
  crates/djust_live/src/actors/component.rs
  crates/djust_live/src/actors/messages.rs
  crates/djust_live/src/actors/mod.rs
  crates/djust_live/src/actors/session.rs
  crates/djust_live/src/actors/supervisor.rs
  crates/djust_live/src/actors/view.rs
  crates/djust_live/src/lib.rs
  python/djust/tests/test_actor_parameter_contracts.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): layer only the .btn paint, keep its box model unlayered (#3230)
  changelog.d/3230.fixed.md
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_theme_button_hover_contrast_3209.py
Due: pytest

fix(checks): T002/T012 read the parsed page, not text (#3225)
  changelog.d/3225.fixed.md
  docs/system-checks.md
  docs/website/guides/error-codes.md
  python/djust/checks/templates.py
  python/tests/test_checks_t002_t012_3225.py
Due: pytest

test: classify the T002/T012 parser's debug log calls (#3225)
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

perf(checks): load and parse each template once per T002/T012 run (#3225)
  changelog.d/3225.fixed.md
  changelog.d/3230.fixed.md
  docs/system-checks.md
  python/djust/checks/templates.py
  python/djust/tests/test_log_exposure_pin.py
  python/tests/test_checks_t002_t012_3225.py
Due: pytest

fix: checks and theming drain (Group T): #3225 #3230 (#3238)
  changelog.d/3225.fixed.md
  changelog.d/3230.fixed.md
  docs/system-checks.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/error-codes.md
  docs/website/guides/template-requirements.md
  python/djust/checks/templates.py
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_theme_button_hover_contrast_3209.py
  python/tests/test_checks.py
  python/tests/test_checks_t002_t012_3225.py
Due: pytest

fix: cancel a replaced legacy view's waiters and release an explicit view's live handles on SSE close (#3236, #3239)
  changelog.d/3236.fixed.md
  changelog.d/3239.fixed.md
  python/djust/_child_lifecycle.py
  python/djust/sse.py
  python/djust/tests/test_exposure_sse_close_3221.py
  python/djust/tests/test_legacy_navigation_waiters_3236.py
  python/djust/websocket.py
Due: pytest

fix: refresh a legacy opt-in view's back-navigation snapshot on component events (#3237)
  changelog.d/3237.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_legacy_component_snapshot_3237.py
Due: pytest

test: age only the save under test past the stuck cap (#3240)
  python/djust/tests/test_explicit_save_deadline_3200.py
Due: pytest

test: wait for deferred saves before the database flush (#3241)
  python/djust/tests/test_state_save_pool_3212.py
Due: pytest

test: deterministic stuck-cap and save-pool teardown tests (#3240, #3241) (#3243)
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_state_save_pool_3212.py
Due: pytest

fix: close a discarded legacy view to late waiters; deterministic #3236 tests (#3242 review H1, M1, M2)
  changelog.d/3236.fixed.md
  python/djust/_child_lifecycle.py
  python/djust/live_view.py
  python/djust/mixins/waiters.py
  python/djust/sse.py
  python/djust/tests/test_legacy_navigation_waiters_3236.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest

fix: save a legacy opt-in view to the session on every component event (#3242 review H2, #3237)
  changelog.d/3237.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_legacy_component_snapshot_3237.py
Due: pytest

fix: runtime lifecycle drain (Group V): #3236 #3237 #3239 (#3242)
  changelog.d/3236.fixed.md
  changelog.d/3237.fixed.md
  changelog.d/3239.fixed.md
  python/djust/_child_lifecycle.py
  python/djust/live_view.py
  python/djust/mixins/waiters.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_exposure_sse_close_3221.py
  python/djust/tests/test_legacy_component_snapshot_3237.py
  python/djust/tests/test_legacy_navigation_waiters_3236.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/websocket.py
Due: pytest

fix: private-state save and restore honour the framework-internal list (#3248)
  changelog.d/3248.fixed.md
  python/djust/live_view.py
  python/djust/tests/test_private_state_framework_attrs_3248.py
Due: pytest

fix: a legacy skip-render noop refreshes the snapshot token after a state change (#3246)
  changelog.d/3246.fixed.md
  python/djust/live_view.py
  python/djust/runtime.py
  python/djust/tests/test_skip_render_noop_snapshot_3246.py
Due: pytest

docs: audit runtime guidance and examples
  docs/BEST_PRACTICES_AI.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/api-reference/testing.md
  docs/website/guides/components.md
  docs/website/guides/tutorial-deployment.md
  docs/website/guides/tutorial-js-commands.md
Due: none
