Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(tests): reset Django's language/timezone thread-locals between tests (#2234) (#2236)
  CHANGELOG.md
  python/djust/test_isolation.py
  python/djust/tests/conftest.py
  python/tests/conftest.py
  tests/test_reset_fixture_hygiene_2234.py
  tests/unit/test_live_view.py
Due: pytest

test(ws): assert the #1817 invariant, and relocate the stray-bump signal (#2215)
  python/djust/tests/test_recovery_version_staleness_1817.py
Due: pytest

docs(changelog): wire-version flake resilience + relocated signal (#2215)
  CHANGELOG.md
Due: none

fix(websocket): stop a suppressed hot-reload broadcast consuming a wire version
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_recovery_version_staleness_1817.py
  python/djust/websocket.py
Due: pytest

docs(changelog): the #2215 root cause, replacing a falsified narrowing claim
  CHANGELOG.md
Due: none

fix(ws): tell a stray hot-reload frame from an event's own by ref, not by type
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_recovery_version_staleness_1817.py
  python/djust/websocket.py
Due: pytest

docs(changelog): record the guard removal, the ref filter, and the relaxation
  CHANGELOG.md
Due: none

fix(websocket): a suppressed hot-reload broadcast consumed a wire version (#2215, #1882) (#2237)
  CHANGELOG.md
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_recovery_version_staleness_1817.py
  python/djust/websocket.py
Due: pytest

fix(core): carry Decimal as exact digits instead of a binary float
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  python/djust/serialization.py
  python/tests/test_dead_special_case_converters_2214.py
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the Decimal precision fix and its breaking wire change
  CHANGELOG.md
Due: none

fix(core): tag Decimal in binary encodings and expand its exponent form
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_live/src/lib.rs
  crates/djust_live/src/model_serializer.rs
  crates/djust_templates/src/loop_cache.rs
  python/djust/serialization.py
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): six converters, the binary tag, and the exponent expansion
  CHANGELOG.md
Due: none

fix(templates): restore the Decimal loop-cache hash and finish the exponent rules
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  python/djust/serialization.py
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the loop-cache hash, the two exponent rules, and the escaper
  CHANGELOG.md
Due: none

fix(core): count Decimal digits the way as_tuple does, not the string form
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  python/djust/serialization.py
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the as_tuple digit count, and citation/nit corrections
  CHANGELOG.md
Due: none

fix(core): pin both expansion guards and the zero floor, and correct three claims
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: pin the loop-cache tag against a constructed Float collision
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): keep the equality widening off the plain-float path, saturate exponent math
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): three f64-precision limits, not two
  CHANGELOG.md
Due: none

test: pin the other half of is_decimal_pair and make the overflow test profile-independent
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: pin the dictsort int/float half and the legacy Display expansion
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the dictsort mixed int/float improvement
  CHANGELOG.md
Due: none

fix(core): carry Decimal as exact digits instead of a binary float (#2214) (#2240)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/test_decimal_value_2214.rs
  crates/djust_live/src/lib.rs
  crates/djust_live/src/model_serializer.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_decimal_loop_cache_2214.rs
  python/djust/serialization.py
  python/tests/test_dead_special_case_converters_2214.py
  python/tests/test_decimal_precision_2214.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): add the five #2214 Decimal follow-ups as v1.1.1-3
  ROADMAP.md
Due: none

fix(templates): route json_script's object keys through the one escaper (#2241)
  crates/djust_templates/src/filters.rs
  python/tests/test_json_script_escaping_2241.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tests): the #1817 render-send pin counted prose, not call sites (#2238)
  python/djust/tests/_source_scan.py
  python/djust/tests/test_source_scan_2238.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  tests/test_reset_fixture_hygiene_2234.py
Due: pytest

fix(templates): compare a float to an integer literal exactly, as Django does
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_precision_2214.py
  python/tests/test_float_int_equality_2243.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the #1817 pin now counts code, not prose (#2238)
  CHANGELOG.md
Due: none

docs(changelog): the json_script object-key escaper fix (#2241)
  CHANGELOG.md
Due: none

docs(changelog): record the exact mixed int/float equality fix (#2243)
  CHANGELOG.md
Due: none

fix(templates): route json_script's object keys through the one escaper (#2241) (#2247)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_json_script_escaping_2241.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(tests): state that the #2238 stripper is Python-only, and pin it (#2249)
  python/djust/tests/_source_scan.py
  python/djust/tests/test_source_scan_2238.py
Due: pytest

fix(core): localize a scientific-form number's coefficient (#2242)
  crates/djust_core/src/locale.rs
  crates/djust_core/tests/test_scientific_localization_2242.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_scientific_localization_2242.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the #2242 scientific-coefficient fix and its residue
  CHANGELOG.md
  ROADMAP.md
Due: none

test(core): drop a no-op `.replace("+", "+")` in the #2242 exponent assertion
  python/tests/test_scientific_localization_2242.py
Due: pytest

fix(templates): compare a float to an integer literal exactly, as Django does (#2243) (#2248)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_decimal_precision_2214.py
  python/tests/test_float_int_equality_2243.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(core): carry a Decimal exactly through the Python converters too (#2239)
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/request.py
  python/djust/mixins/sticky.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_async_result_serializer.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/tests/test_decimal_converters_2239.py
  python/tests/test_decimal_precision_2214.py
  python/tests/test_serialization_hardening.py
  python/tests/test_template_serialization.py
  tests/unit/test_normalize_django_value.py
Due: pytest

docs(tests): the Rust pins' prose-blindness has a direction (#2249)
  python/djust/tests/_source_scan.py
Due: pytest

docs(changelog): the Decimal converter fix, its residue, and two follow-ups (#2239)
  CHANGELOG.md
  ROADMAP.md
  python/djust/serialization.py
  python/tests/test_decimal_converters_2239.py
Due: pytest
