Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: list the Several LiveViews on One Page guide in the docs nav
  changelog.d/3333.documentation.md
  docs/website/_config.yaml
Due: none

fix(client): draft mode and dj-model keep working for elements a patch adds (#3351, #3355) (#3377)
  CLAUDE.md
  changelog.d/3351.fixed.md
  changelog.d/3355.fixed.md
  docs/website/guides/model-binding.md
  docs/website/state/index.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/13b-view-slots.js
  python/djust/static/djust/src/20-model-binding.js
  tests/js/draft-mode-after-init-3351.test.js
  tests/js/model_binding.test.js
  tests/playwright/test_draft_model_after_patch_3351.py
Due: npm-test, pytest

test: the hot-reload dispatcher test waits on the watcher, not on a sleep and the shared cache (#3359)
  python/tests/test_late_templatetags_2602.py
Due: pytest

test: the UDS restart test waits for the server to report running before it signals (#3128)
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

test: make the #2858 stale-closure cases wait for the effect, not a fixed sleep (#3378)
  tests/js/stale-closures-2858.test.js
Due: npm-test

docs: add the AI Guardrails and Multiple Views guides to the docs nav (#3329) (#3379)
  changelog.d/3329.documentation.md
  changelog.d/3333.documentation.md
  docs/website/_config.yaml
  docs/website/index.md
Due: none

test: drop the unobserved re-warming-broadcast mechanism from the #3359 test
  python/tests/test_late_templatetags_2602.py
Due: pytest

test: the UDS restart test signals only after the handlers exist (#3128)
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

test: de-flake the hot-reload dispatcher and UDS restart tests (#3359) (#3380)
  python/djust/tests/test_multiloop_serve_3128.py
  python/tests/test_late_templatetags_2602.py
Due: pytest

docs: say the shutdown never removes a socket path it did not create
  changelog.d/multiloop-sigterm-window.fixed.md
  python/djust/multiloop.py
Due: pytest

fix(serve): install the signal handlers before binding the UNIX socket
  changelog.d/multiloop-sigterm-window.fixed.md
  python/djust/multiloop.py
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

fix(serve): install the signal handlers before binding the UNIX socket (#3381)
  changelog.d/multiloop-sigterm-window.fixed.md
  python/djust/multiloop.py
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

docs(templates): document where striptags differs from Django on newer CPython
  changelog.d/striptags-parser-differences.documentation.md
  docs/TEMPLATE_BACKEND.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
  python/tests/test_striptags_parity_2273.py
  scripts/gen-striptags-reference.py
Due: pytest

docs(templates): correct the striptags parser boundary to 3.12.12 and tighten the notes
  changelog.d/striptags-parser-differences.documentation.md
  docs/TEMPLATE_BACKEND.md
  docs/website/core-concepts/templates.md
  python/tests/test_striptags_parity_2273.py
Due: pytest

feat(theming): derived --primary-text/--brand-text/--info-text/--success-text/--warning-text (#2885)
  changelog.d/2885-text-tokens.added.md
  changelog.d/2885-text-tokens.fixed.md
  docs/website/core-concepts/components.md
  docs/website/guides/accessibility.md
  docs/website/guides/error-codes.md
  python/djust/auth/static/djust_auth/auth.css
  python/djust/components/components/expandable_text.py
  python/djust/components/components/markdown.py
  python/djust/components/static/djust_components/components-classes.css
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_djust_preset_contrast_2996.py
  python/djust/tests/test_theming_alert_info_role_3280.py
  python/djust/tests/test_theming_checks.py
  python/djust/tests/test_theming_contrast_coverage_3281.py
  python/djust/tests/test_theming_derived_text_2885.py
  python/djust/theming/_types.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/accessibility.py
  python/djust/theming/checks.py
  python/djust/theming/css_generator.py
  python/djust/theming/design_tokens.py
  python/djust/theming/inspector.py
  python/djust/theming/pack_css_generator.py
  python/djust/theming/static/djust_theming/css/catalogue.css
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/static/djust_theming/css/pages.css
  python/djust/theming/static/djust_theming/css/scaffold.css
  python/djust/theming/tailwind.py
  python/djust/theming/templates/djust_theming/gallery/editor.html
  python/djust/theming/types.d.ts
  scripts/fix_theme_text_contrast.py
Due: pytest

feat(templates): keep dict-style block.super reads as a deprecated compatibility path (#2918)
  changelog.d/2918.deprecated.md
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  docs/API_STABILITY.md
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/tests/test_block_super_bridge_lazy_2918.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: views beside the page view keep their own saved state and snapshots (#3252)
  python/djust/_exposure_auth.py
  python/djust/_exposure_sessions.py
  python/djust/runtime.py
  python/djust/tests/test_multi_view_state_isolation_3252.py
Due: pytest

feat: views mounted beside the page view over SSE (#3252)
  python/djust/_sse_slots.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_sse_target_view_3252.py
  python/djust/tests/test_sse_view_slots_3252.py
Due: pytest

feat: the client mounts and addresses views beside the page view over SSE (#3252)
  CLAUDE.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/13-lazy-hydration.js
  tests/js/sse.test.js
  tests/js/sse_view_slots_3252.test.js
Due: npm-test

docs(scripts): the striptags generator docstring names 3.12.12 as the parser rewrite
  scripts/gen-striptags-reference.py
Due: pytest

test: lifecycle hooks of views beside the page view over SSE (#3252, #3007)
  python/djust/tests/test_sse_view_slots_3252.py
Due: pytest

fix: dj-hook pushEvent works over SSE, addressed to its own view (#3252)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/19-hooks.js
  tests/js/sse_view_slots_3252.test.js
Due: npm-test

docs: transport matrix for views beside the page view; browser test over SSE and HTTP-only (#3252)
  changelog.d/3252.added.md
  docs/sse-transport.md
  docs/website/guides/http-only-mode.md
  docs/website/guides/multiple-views.md
  tests/playwright/README.md
  tests/playwright/test_multi_view_sse_http.py
Due: pytest

test: pin what is still open on #3252 as strict expected failures
  python/djust/tests/test_multi_view_open_gaps_3252.py
Due: pytest

fix(theming): keep the status dots on the fill; test the currentColor class of leak (#2885)
  changelog.d/2885-text-tokens.added.md
  changelog.d/2885-text-tokens.fixed.md
  docs/website/guides/accessibility.md
  python/djust/components/static/djust_components/components-classes.css
  python/djust/tests/test_theming_derived_text_2885.py
  python/djust/tests/test_theming_destructive_text_3320.py
Due: pytest

docs(theming): changelog names the danger dot; recount the currentColor allow-list (#2885)
  changelog.d/2885-text-tokens.fixed.md
  python/djust/tests/test_theming_derived_text_2885.py
Due: pytest

fix(templates): recognise a wrapped Django resolver and djust's Rust resolver as non-legacy block readers (#2918)
  changelog.d/2918.deprecated.md
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  docs/API_STABILITY.md
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/tests/test_block_super_bridge_lazy_2918.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: rate-limit SSE slot mount/unmount; unambiguous slot binding route (#3252)
  changelog.d/3252.added.md
  docs/website/guides/multiple-views.md
  python/djust/_exposure_sessions.py
  python/djust/sse.py
  python/djust/tests/test_sse_view_slots_3252.py
Due: pytest

fix(templates): recognise Django's resolver frame by its module globals (#2918)
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  python/tests/test_block_super_bridge_lazy_2918.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: make the SSE slot rate-limit tests deterministic (#3252)
  python/djust/tests/test_sse_view_slots_3252.py
Due: pytest

chore: add the missing test ids to .test_durations (#2885)
  .test_durations
Due: none

docs: document where striptags differs from Django by Python version (#3366 follow-up) (#3382)
  changelog.d/striptags-parser-differences.documentation.md
  docs/TEMPLATE_BACKEND.md
  docs/website/core-concepts/templates.md
  docs/website/guides/template-cheatsheet.md
  python/tests/test_striptags_parity_2273.py
  scripts/gen-striptags-reference.py
Due: pytest

feat(templates): dict-style block.super reads are a deprecated compat path through 1.3 (#2918) (#3383)
  changelog.d/2918.deprecated.md
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  docs/API_STABILITY.md
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/tests/test_block_super_bridge_lazy_2918.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(theming): derived readable *_text colours for primary, brand, info, success and warning (#2885) (#3384)
  .test_durations
  changelog.d/2885-text-tokens.added.md
  changelog.d/2885-text-tokens.fixed.md
  docs/website/core-concepts/components.md
  docs/website/guides/accessibility.md
  docs/website/guides/error-codes.md
  python/djust/auth/static/djust_auth/auth.css
  python/djust/components/components/expandable_text.py
  python/djust/components/components/markdown.py
  python/djust/components/static/djust_components/components-classes.css
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_djust_preset_contrast_2996.py
  python/djust/tests/test_theming_alert_info_role_3280.py
  python/djust/tests/test_theming_checks.py
  python/djust/tests/test_theming_contrast_coverage_3281.py
  python/djust/tests/test_theming_derived_text_2885.py
  python/djust/tests/test_theming_destructive_text_3320.py
  python/djust/theming/_types.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/accessibility.py
  python/djust/theming/checks.py
  python/djust/theming/css_generator.py
  python/djust/theming/design_tokens.py
  python/djust/theming/inspector.py
  python/djust/theming/pack_css_generator.py
  python/djust/theming/static/djust_theming/css/catalogue.css
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/static/djust_theming/css/pages.css
  python/djust/theming/static/djust_theming/css/scaffold.css
  python/djust/theming/tailwind.py
  python/djust/theming/templates/djust_theming/gallery/editor.html
  python/djust/theming/types.d.ts
  scripts/fix_theme_text_contrast.py
Due: pytest

fix(keyboard-nav): Escape in a dialog only uses an explicit close control (Part of #3300)
  changelog.d/keyboard-nav-escape.fixed.md
  docs/website/guides/accessibility.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-keyboard-nav.js
  tests/js/keyboard_nav.test.js
  tests/playwright/README.md
  tests/playwright/test_keyboard_nav_escape.py
Due: npm-test, pytest

feat(keyboard-nav): say once in the console when Escape has no explicit close control to press (Part of #3300)
  changelog.d/keyboard-nav-escape.fixed.md
  docs/website/guides/accessibility.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-keyboard-nav.js
  tests/js/keyboard_nav.test.js
Due: npm-test

feat: independent multi-view support over SSE and HTTP-only, batch 1: state isolation, SSE slots (#3252) (#3385)
  CLAUDE.md
  changelog.d/3252.added.md
  docs/sse-transport.md
  docs/website/guides/http-only-mode.md
  docs/website/guides/multiple-views.md
  python/djust/_exposure_auth.py
  python/djust/_exposure_sessions.py
  python/djust/_sse_slots.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/19-hooks.js
  python/djust/tests/test_multi_view_open_gaps_3252.py
  python/djust/tests/test_multi_view_state_isolation_3252.py
  python/djust/tests/test_sse_target_view_3252.py
  python/djust/tests/test_sse_view_slots_3252.py
  tests/js/sse.test.js
  tests/js/sse_view_slots_3252.test.js
  tests/playwright/README.md
  tests/playwright/test_multi_view_sse_http.py
Due: npm-test, pytest

test: drive the batch 2 hooks in a real browser
  tests/playwright/test_component_batch2_2985.py
Due: pytest

fix(components): FileTree state by name path, ResizablePanel RTL, shared lightbox scroll lock (#2985)
  changelog.d/2985-batch2.added.md
  python/djust/components/components/file_tree.py
  python/djust/components/components/image_lightbox.py
  python/djust/components/components/resizable_panel.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/file-tree.js
  python/djust/components/static/djust_components/image-lightbox.js
  python/djust/components/static/djust_components/resizable-panel.js
  python/djust/tests/test_component_batch2_2985.py
  tests/js/component_batch2_2985.test.js
  tests/playwright/test_component_batch2_2985.py
Due: npm-test, pytest

feat(components): ImageLightbox, FileTree, ResizablePanel and AnimatedNumber interactions (#2985)
  changelog.d/2985-batch2.added.md
  python/djust/components/components/animated_number.py
  python/djust/components/components/file_tree.py
  python/djust/components/components/image_lightbox.py
  python/djust/components/components/resizable_panel.py
  python/djust/components/static/djust_components/animated-number.js
  python/djust/components/static/djust_components/file-tree.js
  python/djust/components/static/djust_components/image-lightbox.js
  python/djust/components/static/djust_components/resizable-panel.js
  python/djust/tests/test_component_batch2_2985.py
  tests/js/component_batch2_2985.test.js
Due: npm-test, pytest
