Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: changelog fragment for the free-threaded class-namespace fix (#3151)
  changelog.d/3151.fixed.md
Due: none

test: allow djust._class_snapshot in the backend import footprint (#3151)
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

test(audio): the stripe test fails when builds share one lock
  python/djust/audio.py
  python/djust/tests/test_audio_manifest_thread_safety.py
Due: pytest

docs(retro): v1.3.0-7 audio render-cost bucket retro; mark the row shipped (#3175)
  RETRO.md
  ROADMAP.md
Due: none

fix: address #3176 review — subscriptions localns, Rust dir() probe, gate (#3151)
  crates/djust_core/src/context.rs
  python/djust/_component_subscriptions.py
  python/djust/tests/test_free_threaded_class_caches_3151.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment covers the review fixes (#3151)
  changelog.d/3151.fixed.md
Due: none

perf(audio): render {% djust_audio %} natively and build the manifest once per view (#3175)
  .github/workflows/test.yml
  RETRO.md
  ROADMAP.md
  changelog.d/audio-native-tag.changed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/audio.py
  python/djust/tests/test_audio_manifest_thread_safety.py
  tests/unit/test_audio.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(tests): git fixtures must not write into the real .git/config (#3179)
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_django_template_suite_2517.py
  tests/test_changelog_fragments.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_git_env_isolation_2608.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
  tests/unit/test_client_minified.py
  tests/unit/test_select_tests.py
Due: pytest

docs: changelog fragment for the git-fixture config leak (#3179)
  changelog.d/3179.fixed.md
Due: none

fix: snapshot class namespaces before walking them on free-threaded CPython (#3151) (#3176)
  .github/workflows/test.yml
  changelog.d/3151.fixed.md
  crates/djust_core/src/context.rs
  python/djust/_class_snapshot.py
  python/djust/_component_subscriptions.py
  python/djust/_exposure.py
  python/djust/_exposure_providers.py
  python/djust/_parameter_contract.py
  python/djust/_parameter_metadata.py
  python/djust/components/mixins/base.py
  python/djust/forms.py
  python/djust/live_view.py
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/post_processing.py
  python/djust/runtime.py
  python/djust/security/mount.py
  python/djust/serialization.py
  python/djust/session_utils.py
  python/djust/simple_live_view.py
  python/djust/tests/test_free_threaded_class_caches_3151.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/djust/websocket_utils.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: ROADMAP v1.3.0-8 row and RETRO entry for the free-threaded class-cache fix (#3151)
  RETRO.md
  ROADMAP.md
Due: none

docs: ROADMAP v1.3.0-8 row and RETRO entry for the free-threaded class-cache fix (#3151) (#3182)
  RETRO.md
  ROADMAP.md
Due: none

fix(tests): widen the git-env guard and strip GIT_* for every test (#3179 review)
  conftest.py
  tests/test_check_shared_git_config.py
  tests/test_git_env_guard_3179.py
Due: pytest

docs: fragment mentions the root conftest catch-all (#3179)
  changelog.d/3179.fixed.md
Due: none

fix(tests): git fixtures must not write into the real .git/config (#3179) (#3180)
  changelog.d/3179.fixed.md
  conftest.py
  python/djust/tests/test_embeddable_python_2072.py
  python/djust/tests/test_make_doctor_2061.py
  python/djust/tests/test_makefile_pyo3_embeddable_2082.py
  python/tests/test_django_template_suite_2517.py
  tests/test_changelog_fragments.py
  tests/test_check_lockfile_registry.py
  tests/test_check_shared_git_config.py
  tests/test_client_size_manifest_2138.py
  tests/test_git_commit_with_precommit.py
  tests/test_git_env_guard_3179.py
  tests/test_git_env_isolation_2608.py
  tests/test_red_main_attribution_behaviour_2139.py
  tests/test_run_with_venv_python.py
  tests/unit/test_client_minified.py
  tests/unit/test_select_tests.py
Due: pytest

docs: ROADMAP v1.3.0-9 row and RETRO entry for the test git-env isolation fix (#3179)
  RETRO.md
  ROADMAP.md
Due: none

docs: ROADMAP v1.3.0-9 row and RETRO entry for the test git-env isolation fix (#3179) (#3183)
  RETRO.md
  ROADMAP.md
Due: none

chore(release): SBOM version 1.3.0rc4
  python/djust/djust.cdx.json
Due: none

fix(#3190): docs(forms): forms/index.md says 'form.as_live'; as_live() is on the view
  docs/website/forms/index.md
Due: none

fix(#3189): docs(forms): guides/forms.md state table omits success_message, error_message, form_choices
  docs/website/guides/forms.md
Due: none

fix(#3188): docs(forms): guides/forms.md says form_instance is in the template; it isn't
  docs/website/guides/forms.md
Due: none

fix(checks): allow dj-root to satisfy T012 and update hint (#3171)
  changelog.d/3171.fixed.md
  docs/website/guides/error-codes.md
  python/djust/checks/templates.py
  python/tests/test_checks.py
Due: pytest

feat(deploy): add `djust deploy logs` to print a deployment's build log
  python/djust/cli.py
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs(deploy): document `djust deploy logs` and add its changelog fragment
  changelog.d/3195.added.md
  docs/website/guides/djust-deploy.md
Due: none

fix(deploy): make `djust deploy logs --follow` survive transient errors
  changelog.d/3195.added.md
  docs/website/guides/djust-deploy.md
  python/djust/cli.py
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

docs: link the djust YouTube channel in the README
  README.md
Due: none

docs(readme): link Discord and the YouTube channel under Community
  README.md
Due: none

feat(deploy): add `djust deploy logs` to print a deployment's build log (#3196)
  changelog.d/3195.added.md
  docs/website/guides/djust-deploy.md
  python/djust/cli.py
  python/djust/deploy_cli.py
  python/tests/test_deploy_cli.py
Due: pytest

test(deploy): reuse _write_bearer_creds in the logs refresh test
  python/tests/test_deploy_cli.py
Due: pytest

fix(init): report check warnings and label dry-run rows as planned
  changelog.d/3170.fixed.md
  changelog.d/3172.fixed.md
  python/djust/scaffolding/init_project.py
  python/djust/tests/test_djust_init.py
Due: pytest

fix(presence): join the presence group after mount() so a templated presence_key is formatted (#3202)
  changelog.d/3202.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_presence_templated_key_3202.py
Due: pytest

test: isolate Django's system-check registry between tests (#3177)
  conftest.py
  tests/check_registry.py
  tests/test_check_registry_isolation_3177.py
Due: pytest

fix(presence): make RedisPresenceBackend.list() two pipelined commands and throttle its cleanup (#3203)
  changelog.d/3203.fixed.md
  python/djust/backends/redis.py
  python/djust/tests/test_redis_presence_list_cost_3203.py
Due: pytest

fix(exposure): mount an explicit view fresh when its session no longer exists (#3201)
  python/djust/_exposure_auth.py
  python/djust/runtime.py
  python/djust/tests/test_exposure_stale_session_mount_3201.py
Due: pytest

fix(release): fail the version-sync check when the SBOM names another version
  .pre-commit-config.yaml
  Makefile
  changelog.d/3184.fixed.md
  scripts/check-lockfile-versions.py
  tests/test_check_lockfile_versions.py
Due: pytest

test: namespace gate catches f(**vars(X)) and f(*vars(X)) unpacking (#3181)
  python/djust/tests/test_free_threaded_class_caches_3151.py
Due: pytest

docs(forms): match FormMixin template-variable docs to FORM_PROVIDER.rendered
  docs/website/forms/index.md
  docs/website/guides/forms.md
Due: none

docs(checks): describe T012 as 'no dj-root or dj-view' in system-checks.md
  docs/system-checks.md
Due: none

fix(exposure): time an explicit save by its storage work, not its thread queueing (#3200)
  python/djust/_exposure_sessions.py
  python/djust/checks/configuration.py
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_exposure_child_events.py
  python/djust/tests/test_exposure_root_background_turns.py
  python/djust/tests/test_sticky_child_persistence_1471.py
Due: pytest
