Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Bump version to 0.9.3rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: @reactive __set_name__ validation + @background return-value docs (#1287, #1288)
  CHANGELOG.md
  ROADMAP.md
  python/djust/decorators.py
  python/djust/tests/test_skip_render_private_state.py
  python/tests/test_background_return_value_docs.py
  python/tests/test_decorator_reactive_requires_update.py
Due: pytest

fix: @reactive __set_name__ validation + @background return-value docs (#1287, #1288) (#1328)
  CHANGELOG.md
  ROADMAP.md
  python/djust/decorators.py
  python/djust/tests/test_skip_render_private_state.py
  python/tests/test_background_return_value_docs.py
  python/tests/test_decorator_reactive_requires_update.py
Due: pytest

fix: @computed memoized cache is now thread-safe (#1289)
  CHANGELOG.md
  ROADMAP.md
  python/djust/decorators.py
  python/tests/test_decorator_computed_thread_safety.py
Due: pytest

fix: @computed memoized cache is now thread-safe (#1289) (#1329)
  CHANGELOG.md
  ROADMAP.md
  python/djust/decorators.py
  python/tests/test_decorator_computed_thread_safety.py
Due: pytest

feat: handler-contracts linter cross-references tag-emit defaults (#1290)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  ROADMAP.md
  scripts/check-handler-contracts.py
  tests/test_check_handler_contracts.py
Due: pytest

feat: handler-contracts linter cross-references tag-emit defaults (#1290) (#1330)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  ROADMAP.md
  scripts/check-handler-contracts.py
  tests/test_check_handler_contracts.py
Due: pytest

docs(roadmap): commission v0.9.3-4 drain — audit & process soak (#1315, #1316, #1309-#1313, #1259, #1264, #1325)
  ROADMAP.md
Due: none

fix: make sendEvent return Promise for dj-form-pending WS path (#1315)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/dj-form-pending.test.js
Due: npm-test

docs(changelog): add #1315 dj-form-pending WS path fix entry
  CHANGELOG.md
Due: none

fix: make sendEvent return Promise for dj-form-pending WS path (#1315)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/dj-form-pending.test.js
Due: npm-test

fix: remove hard-coded auth check in @server_function dispatch (#1316)
  python/djust/api/dispatch.py
  python/djust/tests/test_server_functions.py
Due: pytest

docs: add #1316 @server_function auth fix to CHANGELOG
  CHANGELOG.md
Due: none

fix: remove hard-coded auth check in @server_function dispatch (#1316) (#1332)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/tests/test_server_functions.py
Due: pytest

fix: add review-when trigger annotation to all 🟡 audit rows (#1309)
  docs/audits/bidirectional-binding-2026-05.md
  docs/audits/decorator-contract-2026-05.md
  docs/audits/lifecycle-2026-05.md
Due: none

fix: add review-when trigger annotation to all 🟡 audit rows (#1309) (#1333)
  docs/audits/bidirectional-binding-2026-05.md
  docs/audits/decorator-contract-2026-05.md
  docs/audits/lifecycle-2026-05.md
Due: none

fix: document OUT-OF-REPO Action Tracker status convention (#1310)
  RETRO.md
Due: none

fix: document OUT-OF-REPO Action Tracker status convention (#1310) (#1334)
  RETRO.md
Due: none

fix: add tautology check (Action #1200) to Stage 7 self-review (#1311)
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
Due: none

fix: add tautology check (Action #1200) to Stage 7 self-review (#1311) (#1335)
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
  .pipeline-templates/ship-state.json
Due: none

fix: elevate single-script-transform pattern to canon for bulk renames (#1312)
  CLAUDE.md
Due: none

fix: elevate single-script-transform pattern to canon for bulk renames (#1312) (#1336)
  CLAUDE.md
Due: none

fix: add behavior-change migration block to Stage 9 checklist (#1313)
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
Due: none

fix: add behavior-change migration block to Stage 9 checklist (#1313) (#1337)
  .pipeline-templates/bugfix-state.json
  .pipeline-templates/feature-state.json
Due: none

fix: move test_skip_render_private_state.py to python/tests/ for CI coverage (#1325)
  python/tests/test_skip_render_private_state.py
Due: pytest

docs(changelog): add #1325 entry for test file move to CI coverage
  CHANGELOG.md
Due: none

fix: move test_skip_render_private_state.py to python/tests/ for CI coverage (#1325) (#1338)
  CHANGELOG.md
  python/tests/test_skip_render_private_state.py
Due: pytest

docs(roadmap): mark v0.9.3-4 drain bucket as complete ✅
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.3-4 + action tracker update
  RETRO.md
Due: none

docs(roadmap): commission v0.9.3-5 drain (2 retro-filed process items)
  ROADMAP.md
Due: none

fix: add python/djust/tests/ to CI + check-test-coverage target (#1339)
  Makefile
  scripts/check-test-coverage.py
Due: pytest

docs(changelog): add #1339 check-test-coverage entry
  CHANGELOG.md
Due: none

fix: remove unused subprocess import from check-test-coverage.py
  scripts/check-test-coverage.py
Due: pytest

fix: add python/djust/tests/ to CI + check-test-coverage target (#1339) (#1341)
  CHANGELOG.md
  Makefile
  scripts/check-test-coverage.py
Due: pytest

ci: add concurrency block to CodeQL workflow (#1340)
  .github/workflows/codeql.yml
Due: none

docs(retro): correct CodeQL stale-check-run misdiagnosis (#1340)
  CHANGELOG.md
  RETRO.md
  ROADMAP.md
Due: none

ci: CodeQL concurrency block + correct v0.9.3-4 retro misdiagnosis (#1340) (#1344)
  .github/workflows/codeql.yml
  CHANGELOG.md
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.3-5 + action tracker update
  RETRO.md
Due: none

feat(cli): promote `djust deploy` to a first-class subcommand
  pyproject.toml
  python/djust/cli.py
  python/djust/deploy_cli.py
Due: pytest

docs(roadmap): commission v0.9.3-6 drain — CodeQL triage + dependabot + #1347
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
