Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

refactor(tests): replace hand-rolled Redis mock with fakeredis (closes #961) (#996)
  pyproject.toml
  tests/unit/test_security_upload_resumable.py
  uv.lock
Due: pytest

fix(sse): FORCE_SCRIPT_NAME / sub-path support for SSE client (closes #992)
  examples/demo_project/templates/base.html
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/api_test_urls_default.py
Due: npm-test, pytest

fix(sse): FORCE_SCRIPT_NAME / sub-path support for SSE client (closes #992) (#997)
  examples/demo_project/templates/base.html
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  tests/api_test_urls_default.py
Due: npm-test, pytest

docs: milestone retro v0.7.1 + action tracker update
  RETRO.md
Due: none

Bump version to 0.7.1rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(retro): reconcile v0.7.1 retro post-rc1 + file Action #132
  RETRO.md
Due: none

docs(roadmap): add v0.7.2 milestone + triage 6 open issues
  ROADMAP.md
Due: none

fix(dev_server): module importable without watchdog (closes #994)
  CHANGELOG.md
  python/djust/dev_server.py
  python/djust/tests/test_dev_server_watchdog_missing.py
Due: pytest

chore: sync uv.lock with v0.7.1rc1 version bump
  uv.lock
Due: none

fix(dev_server): module importable without watchdog (closes #994) (#998)
  CHANGELOG.md
  python/djust/dev_server.py
  python/djust/tests/test_dev_server_watchdog_missing.py
Due: pytest

fix(rust): honor __str__ key in Value::Object Display (closes #968)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  python/djust/tests/test_rust_renderer_str_key.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(rust): honor __str__ key in Value::Object Display (closes #968) (#999)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  python/djust/tests/test_rust_renderer_str_key.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(s3_events): document key_template UUID convention + debug-warn on fallback (closes #964)
  CHANGELOG.md
  docs/website/guides/uploads.md
  python/djust/contrib/uploads/s3_events.py
  python/djust/tests/test_presigned_s3_820.py
Due: pytest

docs(s3_events): document key_template UUID convention + debug-warn on fallback (closes #964) (#1000)
  CHANGELOG.md
  docs/website/guides/uploads.md
  python/djust/contrib/uploads/s3_events.py
  python/djust/tests/test_presigned_s3_820.py
Due: pytest

ci: weekly real-cloud integration matrix for upload writers (closes #963)
  .github/workflows/weekly-cloud-uploads.yml
  CHANGELOG.md
  tests/cloud_integration/__init__.py
  tests/cloud_integration/conftest.py
  tests/cloud_integration/test_azure_real.py
  tests/cloud_integration/test_gcs_real.py
  tests/cloud_integration/test_s3_real.py
Due: pytest

ci: weekly real-cloud integration matrix for upload writers (closes #963) (#1001)
  .github/workflows/weekly-cloud-uploads.yml
  CHANGELOG.md
  tests/cloud_integration/__init__.py
  tests/cloud_integration/conftest.py
  tests/cloud_integration/test_azure_real.py
  tests/cloud_integration/test_gcs_real.py
  tests/cloud_integration/test_s3_real.py
Due: pytest

docs(adr-012): framework-internal attrs — filter, not rename (closes #962)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/012-framework-internal-attrs-filter-vs-rename.md
Due: none

docs(adr-012): framework-internal attrs — filter, not rename (closes #962) (#1002)
  CHANGELOG.md
  ROADMAP.md
  docs/adr/012-framework-internal-attrs-filter-vs-rename.md
Due: none

docs: announce docs.djust.org dedicated documentation site
  CHANGELOG.md
  README.md
Due: none

feat(forms): inline radio buttons via [data-dj-inline] CSS contract (closes #991)
  CHANGELOG.md
  docs/website/guides/forms.md
  python/djust/static/djust/djust-forms.css
  python/djust/tests/test_inline_radios_991.py
Due: pytest

feat(forms): inline radio buttons via [data-dj-inline] CSS contract (closes #991) (#1007)
  CHANGELOG.md
  docs/website/guides/forms.md
  python/djust/static/djust/djust-forms.css
  python/djust/tests/test_inline_radios_991.py
Due: pytest

docs: milestone retro v0.7.2 + Action Tracker #133/#134/+#122 reinforcement
  RETRO.md
Due: none

Bump version to 0.7.2rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): add v0.7.3 milestone + triage 3 open issues
  ROADMAP.md
Due: none

fix(checks): C011 catches stale/placeholder output.css (closes #1003)
  CHANGELOG.md
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

fix(checks): C011 catches stale/placeholder output.css (closes #1003) (#1008)
  CHANGELOG.md
  python/djust/checks.py
  python/tests/test_checks.py
Due: pytest

fix(checks): A070 no longer false-positives on {% verbatim %}-wrapped examples (closes #1004)
  CHANGELOG.md
  python/djust/checks.py
  python/tests/test_a070_verbatim_fp_1004.py
Due: pytest

fix(checks): A070 no longer false-positives on {% verbatim %}-wrapped examples (closes #1004) (#1014)
  CHANGELOG.md
  python/djust/checks.py
  python/tests/test_a070_verbatim_fp_1004.py
Due: pytest

feat(theming): W001 contrast-checks active preset only by default (closes #1005)
  CHANGELOG.md
  python/djust/tests/test_theming_checks.py
  python/djust/theming/checks.py
Due: pytest

feat(theming): W001 contrast-checks active preset only by default (closes #1005) (#1015)
  CHANGELOG.md
  python/djust/tests/test_theming_checks.py
  python/djust/theming/checks.py
Due: pytest

Bump version to 0.7.3rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

chore: sync Cargo.lock + uv.lock with v0.7.3rc1 version bump
  Cargo.lock
  uv.lock
Due: none

docs: milestone retro v0.7.3 + Action Tracker #135/#136/#137 + #122 6th reinforcement
  RETRO.md
Due: none

docs(retro): backfill v0.5.2-v0.5.5 RC churn (PRs #868-#883)
  RETRO.md
Due: none

docs: file 5 retro follow-ups as GitHub issues + add v0.7.4 milestone
  RETRO.md
  ROADMAP.md
Due: none

fix(tests): py3.14 timing-sensitive CI flake class (closes #1016)
  CHANGELOG.md
  python/tests/test_hotreload.py
  python/tests/test_realtime_multiuser.py
Due: pytest

docs(guides): close documentation gaps for v0.5.0–v0.7.0 features
  docs/website/guides/css-frameworks.md
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/service-worker.md
  docs/website/guides/typecheck.md
Due: none

fix(tests): py3.14 timing-sensitive CI flake class (closes #1016) (#1021)
  CHANGELOG.md
  python/tests/test_hotreload.py
  python/tests/test_realtime_multiuser.py
Due: pytest

docs: PR-checklist + check-authoring guide v0.7.4 follow-ups (closes #1017, #1018, #1019, #1020)
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/development/check-authoring.md
Due: none

docs(guides): state primitives + MCP observability tools
  docs/website/guides/mcp-server.md
  docs/website/guides/state-primitives.md
Due: none
