Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: DRY up JS event context, WS checks, and optimistic cleanup (#557)
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/13-lazy-hydration.js
  python/djust/static/djust/src/15-uploads.js
  python/djust/static/djust/src/18-navigation.js
Due: npm-test

refactor: DRY up Python config access, backend registries, and model list checks (#558)
  CHANGELOG.md
  python/djust/backends/registry.py
  python/djust/config.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/pwa/manifest.py
  python/djust/pwa/mixins.py
  python/djust/pwa/service_worker.py
  python/djust/pwa/storage.py
  python/djust/state_backends/registry.py
  python/djust/tenants/backends.py
  python/djust/tenants/mixin.py
  python/djust/tenants/resolvers.py
  python/djust/utils.py
Due: pytest

Bump version to 0.3.7rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

Bump version to 0.3.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: WS cache key collision, canvas morph clear, and dj-patch WS navigation
  Cargo.lock
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/websocket.py
  uv.lock
Due: npm-test, pytest

fix: address PR #561 review findings
  CHANGELOG.md
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/02-response-handler.js
  python/tests/test_vdom_cache_key.py
  tests/js/morph.test.js
Due: npm-test, pytest

fix: remove unnecessary 'use strict' from IIFE in 18-navigation.js
  python/djust/static/djust/client.js
  python/djust/static/djust/src/18-navigation.js
Due: npm-test

fix: resolve ESLint warnings for unused vars/args
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/05-state-bus.js
  python/djust/static/djust/src/07-form-data.js
Due: npm-test

fix: WS cache key collision, canvas morph clear, and dj-patch WS navigation (#561)
  CHANGELOG.md
  Cargo.lock
  python/djust/mixins/rust_bridge.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/01-dom-helpers-turbo.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/05-state-bus.js
  python/djust/static/djust/src/07-form-data.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/websocket.py
  python/tests/test_vdom_cache_key.py
  tests/js/morph.test.js
  uv.lock
Due: npm-test, pytest

fix: skip render on no-op tick to prevent VDOM version mismatch
  CHANGELOG.md
  python/djust/websocket.py
  tests/unit/test_tick_skip.py
Due: pytest

fix: skip render on no-op tick to prevent VDOM version mismatch (#562)
  CHANGELOG.md
  python/djust/websocket.py
  tests/unit/test_tick_skip.py
Due: pytest

Bump version to 0.3.8rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs: refresh roadmap with Phoenix 1.0 parity analysis and React 19 patterns
  ROADMAP.md
Due: none

fix: include comment nodes in VDOM child index resolution (#559)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/vdom_if_block.test.js
Due: npm-test

fix: include comment nodes in VDOM child index resolution (#559) (#563)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/vdom_if_block.test.js
Due: npm-test

docs: refresh roadmap with priority matrix, milestones, and v0.5.0 scope split
  ROADMAP.md
Due: none

docs: mark VDOM structural patching (#559) as completed in roadmap
  ROADMAP.md
Due: none

fix(v0.4.0): preserve focus, selection, and scroll position across VDOM patches
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/focus_preservation.test.js
Due: npm-test

fix(v0.4.0): preserve focus, selection, and scroll position across VDOM patches (#564)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/focus_preservation.test.js
Due: npm-test

feat(v0.4.0): add dj-value-* static event parameters (Phoenix phx-value-* parity)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj_value_params.test.js
Due: npm-test

feat(v0.4.0): add dj-value-* static event parameters (Phoenix phx-value-* parity) (#565)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/08-event-parsing.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj_value_params.test.js
Due: npm-test

fix(v0.4.0): prevent tick/event version mismatch with render lock and event sequencing (#560)
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/websocket.py
  tests/js/event_sequencing.test.js
  tests/unit/test_event_sequencing.py
Due: npm-test, pytest

docs: mark event sequencing (#560) as completed in roadmap (PR #566)
  .pipeline-status.md
  ROADMAP.md
Due: none

fix(v0.4.0): add ref type validation and CHANGELOG entry for #560
  CHANGELOG.md
  python/djust/websocket.py
Due: pytest

fix(v0.4.0): prevent tick/event version mismatch with render lock and event sequencing (#560)
  .pipeline-status.md
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/websocket.py
  tests/js/event_sequencing.test.js
  tests/unit/test_event_sequencing.py
Due: npm-test, pytest

feat(v0.4.0): call handle_params() after mount() on initial render (Phoenix parity)
  CHANGELOG.md
  python/djust/mixins/navigation.py
  python/djust/mixins/navigation.pyi
  python/djust/websocket.py
  python/tests/test_navigation.py
Due: pytest

feat(v0.4.0): call handle_params() on initial mount (Phoenix parity) (#567)
  CHANGELOG.md
  python/djust/mixins/navigation.py
  python/djust/mixins/navigation.pyi
  python/djust/websocket.py
  python/tests/test_navigation.py
Due: pytest

docs: mark handle_params callback as completed in ROADMAP (PR #567)
  ROADMAP.md
Due: none

docs: mark focus preservation and dj-value-* as completed in ROADMAP priority matrix
  ROADMAP.md
Due: none

feat(v0.4.0): add flash messages with put_flash/clear_flash (Phoenix parity)
  docs/README.md
  docs/website/api-reference/liveview.md
  docs/website/guides/flash-messages.md
  docs/website/index.md
  python/djust/mixins/flash.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/23-flash.js
  python/djust/templatetags/djust_flash.py
  python/djust/tests/test_flash.py
  tests/js/flash.test.js
Due: npm-test, pytest

fix(v0.4.0): wire FlashMixin into LiveView, WebSocket consumer, and JS routing
  CHANGELOG.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/websocket.py
Due: npm-test, pytest

feat(v0.4.0): add flash messages with put_flash/clear_flash (Phoenix parity) (#568)
  CHANGELOG.md
  docs/README.md
  docs/website/api-reference/liveview.md
  docs/website/guides/flash-messages.md
  docs/website/index.md
  python/djust/__init__.py
  python/djust/live_view.py
  python/djust/mixins/__init__.py
  python/djust/mixins/flash.py
  python/djust/static/djust/client.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/23-flash.js
  python/djust/templatetags/djust_flash.py
  python/djust/tests/test_flash.py
  python/djust/websocket.py
  tests/js/flash.test.js
Due: npm-test, pytest

feat(v0.4.0): add on_mount hooks for cross-cutting mount logic (Phoenix parity)
  CHANGELOG.md
  docs/README.md
  docs/website/api-reference/liveview.md
  docs/website/guides/on-mount-hooks.md
  docs/website/index.md
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/decorators.py
  python/djust/hooks.py
  python/djust/live_view.py
  python/djust/websocket.py
  python/tests/test_checks.py
  python/tests/test_on_mount_hooks.py
Due: pytest

fix(v0.4.0): add on_mount hooks to HTTP request path
  python/djust/mixins/request.py
  python/tests/test_on_mount_hooks.py
Due: pytest

feat(v0.4.0): add on_mount hooks for cross-cutting mount logic (Phoenix parity) (#569)
  CHANGELOG.md
  docs/README.md
  docs/website/api-reference/liveview.md
  docs/website/guides/on-mount-hooks.md
  docs/website/index.md
  python/djust/__init__.py
  python/djust/checks.py
  python/djust/decorators.py
  python/djust/hooks.py
  python/djust/live_view.py
  python/djust/mixins/request.py
  python/djust/websocket.py
  python/tests/test_checks.py
  python/tests/test_on_mount_hooks.py
Due: pytest

feat(v0.4.0): add manage.py djust_gen_live scaffolding generator
  CHANGELOG.md
  docs/README.md
  docs/guides/scaffolding.md
  python/djust/management/commands/djust_gen_live.py
  python/djust/scaffolding/gen_live.py
  python/djust/scaffolding/gen_live_templates.py
  python/djust/tests/test_debug_state_sizes.py
  python/djust/tests/test_gen_live.py
Due: pytest

fix: resolve code review issues in djust_gen_live
  Cargo.lock
  python/djust/scaffolding/gen_live_templates.py
  tests/integration/test_gen_live.py
Due: pytest

feat(v0.4.0): add manage.py djust_gen_live scaffolding generator (#570)
  CHANGELOG.md
  Cargo.lock
  docs/README.md
  docs/guides/scaffolding.md
  python/djust/management/commands/djust_gen_live.py
  python/djust/scaffolding/gen_live.py
  python/djust/scaffolding/gen_live_templates.py
  python/djust/tests/test_debug_state_sizes.py
  tests/integration/test_gen_live.py
Due: pytest

Revert "feat(v0.4.0): add manage.py djust_gen_live scaffolding generator (#570)"
  CHANGELOG.md
  Cargo.lock
  docs/README.md
  docs/guides/scaffolding.md
  python/djust/management/commands/djust_gen_live.py
  python/djust/scaffolding/gen_live.py
  python/djust/scaffolding/gen_live_templates.py
  python/djust/tests/test_debug_state_sizes.py
  tests/integration/test_gen_live.py
Due: pytest

feat(v0.4.0): add manage.py djust_gen_live scaffolding generator (v2)
  CHANGELOG.md
  docs/README.md
  docs/guides/scaffolding.md
  python/djust/management/commands/djust_gen_live.py
  python/djust/scaffolding/__init__.py
  python/djust/scaffolding/gen_live.py
  python/djust/scaffolding/gen_live_templates.py
  tests/integration/test_gen_live.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
