Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: correct the changelog fragment for the #2695 review
  changelog.d/2695-2693.fixed.md
  python/tests/test_sized_sequence_conversion_2695_2693.py
Due: pytest

docs(tests): state the already-materialised exemption in the #2678 comment
  python/tests/test_engine_followups_2674_2670_2678_2657.py
Due: pytest

docs: the list/QuerySet exemption is a trade, not a free lunch (#2717)
  changelog.d/2695-2693.fixed.md
  crates/djust_core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): a sized sequence is no longer materialised at conversion, and dictsort consumes a one-shot iterator (#2695, #2693) (#2706)
  changelog.d/2695-2693.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_falsy_with_attributes_2478.py
  python/tests/test_sized_sequence_conversion_2695_2693.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): confine loader paths and retire legacy inheritance
  changelog.d/2708-2713.fixed.md
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/djust/tests/test_template_inheritance_resolution.py
  python/tests/test_backend_loader_containment_2708.py
Due: pytest

refactor(templates): share exhaustive AST child traversal
  changelog.d/2712.fixed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): isolate backend registries and cache entries
  changelog.d/2709-2711.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/registry_scope.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  docs/templates/ENGINE_REGISTRY_ISOLATION.md
  python/djust/_rust.pyi
  python/djust/template/backend.py
  python/djust/template_libraries.py
  python/tests/test_backend_registry_isolation_2709.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): preserve registry bindings through compiled inheritance
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry_scope.rs
  crates/djust_templates/src/renderer.rs
  docs/templates/ENGINE_REGISTRY_ISOLATION.md
  python/djust/_rust.pyi
  python/djust/template_libraries.py
  python/tests/test_backend_registry_isolation_2709.py
  python/tests/test_load_imports_django_libraries_2547.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): distinguish owned registrations from global fallbacks
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/registry_scope.rs
  python/djust/_rust.pyi
  python/djust/template_libraries.py
  python/tests/test_backend_registry_isolation_2709.py
  python/tests/test_compile_backend_context.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): distinguish AST match patterns from constructors
  python/tests/test_parse_time_template_syntax_error_2549.py
Due: pytest

fix(templates): {% cache %} no longer renders its body on a hit — a lazy-body block-handler protocol (#2658) (#2702)
  changelog.d/2658.fixed.md
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_libraries.py
  python/tests/test_cache_tag_django_parity_2658.py
  python/tests/test_lazy_body_block_protocol_2658.py
  python/tests/test_url_noreversematch_2563.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): confine loader paths and retire legacy inheritance (#2714)
  changelog.d/2708-2713.fixed.md
  python/djust/template/backend.py
  python/djust/template/rendering.py
  python/djust/tests/test_template_inheritance_resolution.py
  python/tests/test_backend_loader_containment_2708.py
Due: pytest

refactor(templates): share AST traversal and discover nested model fields (#2715)
  changelog.d/2712.fixed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  python/tests/test_parse_time_template_syntax_error_2549.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): isolate engine bindings and compile caches (#2716)
  changelog.d/2709-2711.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/registry_scope.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  docs/templates/ENGINE_REGISTRY_ISOLATION.md
  python/djust/_rust.pyi
  python/djust/template/backend.py
  python/djust/template_libraries.py
  python/tests/test_backend_registry_isolation_2709.py
  python/tests/test_compile_backend_context.py
  python/tests/test_load_imports_django_libraries_2547.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): reassert cache handlers in their owning backend
  python/tests/test_cache_tag_django_parity_2658.py
Due: pytest

fix(tooling): protect the newest shipped changelog section
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix(templates): retain lazy block handlers across body rendering
  changelog.d/2707.fixed.md
  crates/djust_templates/src/registry.rs
  python/tests/test_lazy_body_handler_identity_2707.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): reassert cache handlers in their owning backend (#2718)
  python/tests/test_cache_tag_django_parity_2658.py
Due: pytest

fix(tooling): protect the newest shipped changelog section (#2719)
  scripts/check-changelog-tagged-sections.py
  tests/test_changelog_tagged_sections.py
Due: pytest

fix(templates): retain lazy block handlers across body rendering (#2720)
  changelog.d/2707.fixed.md
  crates/djust_templates/src/registry.rs
  python/tests/test_lazy_body_handler_identity_2707.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(client): ignore stale socket close callbacks
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/handler_rate_limit_2656.test.js
Due: npm-test

fix(client): flush pending edits and reset per-mount event state
  changelog.d/2705.fixed.md
  python/djust/decorators.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/05-handler-rate-limit.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/handler_rate_limit_2656.test.js
  tests/js/strip_internal_params.test.js
Due: npm-test, pytest

fix(client): cancel pending timers at navigation disconnect
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  tests/js/handler_rate_limit_2656.test.js
  tests/js/sse.test.js
Due: npm-test

fix(client): reset per-mount state on the page view's mount only
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/05-handler-rate-limit.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/handler_rate_limit_2656.test.js
Due: npm-test

docs(client): scope the teardown/reset claims to what actually holds
  changelog.d/2705.fixed.md
  python/djust/decorators.py
Due: pytest

chore(ci): balance the pytest shards on the runner's own timings (#2584)
  .github/workflows/test.yml
  Makefile
  scripts/merge-test-durations.py
  tests/test_ci_python_test_shards.py
  tests/unit/test_merge_test_durations.py
Due: pytest

chore(scoreboard): --write-baseline retargets the doc claims too (#2615)
  python/tests/test_django_template_suite_2517.py
  scripts/lib/django_template_suite/report.py
  scripts/run-django-template-suite.py
Due: pytest

docs: where the suite's time goes, and how the scoreboard moves (#2526)
  CONTRIBUTING.md
  changelog.d/2615-2584-2526.changed.md
  docs/TEMPLATE_BACKEND.md
Due: none

fix(client): flush pending edits and reset per-mount event state (#2721)
  changelog.d/2705.fixed.md
  python/djust/decorators.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/04-cache.js
  python/djust/static/djust/src/05-handler-rate-limit.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/handler_rate_limit_2656.test.js
  tests/js/sse.test.js
  tests/js/strip_internal_params.test.js
Due: npm-test, pytest

fix(templates): spell a non-list sequence as itself, at every length (#2704)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_engine_followups_2674_2670_2678_2657.py
  python/tests/test_json_script_refusal_decision_2429.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_sized_sequence_conversion_2695_2693.py
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
  tests/unit/test_normalize_django_value.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: two tests that depended on which xdist worker they landed on
  python/tests/test_presence.py
  python/tests/test_template_cache_generation_2668.py
Due: pytest

fix(ci): the durations upload was green and uploaded nothing (#2584)
  .github/workflows/test.yml
  tests/test_ci_python_test_shards.py
Due: pytest

chore(ci): record .test_durations on the runner that uses it (#2584)
  .test_durations
Due: none

fix(templates): render block.super when it is evaluated, not when the block is entered (#2710)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/free_threaded_safety.rs
  crates/djust_templates/tests/test_dj_if_markers_off_2519.rs
  crates/djust_templates/tests/test_if_markers.rs
  python/tests/test_block_super_lazy_2710.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: changelog fragment for #2704 and #2710
  changelog.d/2704-2710.fixed.md
Due: none

docs: re-measure the tail against the runner-recorded durations
  CONTRIBUTING.md
  changelog.d/2615-2584-2526.changed.md
Due: none

chore(ci): balance the pytest shards on the runner's timings, and move the scoreboard from one command (#2724)
  .github/workflows/test.yml
  .test_durations
  CONTRIBUTING.md
  Makefile
  changelog.d/2615-2584-2526.changed.md
  docs/TEMPLATE_BACKEND.md
  python/tests/test_django_template_suite_2517.py
  python/tests/test_presence.py
  python/tests/test_template_cache_generation_2668.py
  scripts/lib/django_template_suite/report.py
  scripts/merge-test-durations.py
  scripts/run-django-template-suite.py
  tests/test_ci_python_test_shards.py
  tests/unit/test_merge_test_durations.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
