Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

feat: add table captions footers and CSS class hooks (#2809)
  changelog.d/2792.added.md
  docs/ai/components.md
  docs/website/api-reference/components.md
  python/djust/components/data/table.py
  python/djust/tests/test_table_presentation_2792.py
Due: pytest

Bump version to 1.2.0rc5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/2788.fixed.md
  changelog.d/2792.added.md
  changelog.d/2801.fixed.md
  changelog.d/jit-model-data.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix: preserve temporal values in queryset template contexts
  changelog.d/2810.fixed.md
  crates/djust_live/src/lib.rs
  docs/JIT_SERIALIZATION_PATTERN.md
  python/tests/test_queryset_temporal_2810.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: align Vitest 5 packages and restore browser storage mocks
  .github/dependabot.yml
  changelog.d/vitest5.changed.md
  package-lock.json
  package.json
  tests/js/draft-manager.test.js
  tests/js/helpers/debug-panel-harness.js
Due: npm-test

fix: preserve temporal values in queryset template contexts (#2811)
  changelog.d/2810.fixed.md
  crates/djust_live/src/lib.rs
  docs/JIT_SERIALIZATION_PATTERN.md
  python/tests/test_queryset_temporal_2810.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: attribute dynamic JavaScript coverage to source modules
  .github/workflows/test.yml
  .gitignore
  Makefile
  changelog.d/2812.fixed.md
  docs/TESTING.md
  docs/testing/JAVASCRIPT_COVERAGE.md
  docs/testing/TESTING_JAVASCRIPT.md
  package-lock.json
  package.json
  scripts/prepare-js-coverage.mjs
  tests/js/coverage-support/collect.js
  tests/js/coverage-support/instrument.js
  tests/js/coverage-support/instrumentation.test.js
  tests/js/coverage-support/setup.js
  tests/js/draft-manager.test.js
  tests/js/navigation.test.js
  tests/js/safe_nav.test.js
  tests/js/strip_internal_params.test.js
  vitest.config.js
  vitest.coverage.config.js
Due: npm-test

test: attribute dynamic JavaScript coverage to source modules (#2813)
  .github/workflows/test.yml
  .gitignore
  Makefile
  changelog.d/2812.fixed.md
  docs/TESTING.md
  docs/testing/JAVASCRIPT_COVERAGE.md
  docs/testing/TESTING_JAVASCRIPT.md
  package-lock.json
  package.json
  scripts/prepare-js-coverage.mjs
  tests/js/coverage-support/collect.js
  tests/js/coverage-support/instrument.js
  tests/js/coverage-support/instrumentation.test.js
  tests/js/coverage-support/setup.js
  tests/js/draft-manager.test.js
  tests/js/navigation.test.js
  tests/js/safe_nav.test.js
  tests/js/strip_internal_params.test.js
  vitest.config.js
  vitest.coverage.config.js
Due: npm-test

Bump version to 1.2.0rc6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/2810.fixed.md
  changelog.d/2812.fixed.md
  changelog.d/vitest5.changed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs: teach native application conventions and agent discovery
  AGENTS.md
  CLAUDE.md
  README.md
  changelog.d/ai-conventions.documentation.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/ai/README.md
  docs/ai/conventions.md
  docs/guides/scaffolding.md
  docs/llms-full.txt
  docs/llms.txt
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/tests/test_scaffold_agent_guidance.py
Due: pytest

docs: teach native application conventions and agent discovery (#2814)
  AGENTS.md
  CLAUDE.md
  README.md
  changelog.d/ai-conventions.documentation.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/ai/README.md
  docs/ai/conventions.md
  docs/guides/scaffolding.md
  docs/llms-full.txt
  docs/llms.txt
  python/djust/scaffolding/generator.py
  python/djust/scaffolding/templates.py
  python/tests/test_scaffold_agent_guidance.py
Due: pytest

fix: handle audio loader teardown and register optional assets
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-audio-loader.js
  python/djust/tests/test_lazy_package_init_2559.py
  tests/js/non-bundle-importers-2659.test.js
Due: npm-test, pytest

docs: make audio guide discoverable and document troubleshooting
  docs/README.md
  docs/website/_config.yaml
  docs/website/guides/audio.md
  docs/website/index.md
Due: none

test: update audio import footprint counts
  python/djust/tests/test_lazy_package_init_2559.py
Due: pytest

feat: add declarative short audio effects for LiveViews
  .gitignore
  changelog.d/declarative-audio.added.md
  docs/TEMPLATE_BACKEND.md
  docs/adr/028-declarative-audio.md
  docs/website/guides/audio.md
  python/djust/audio.py
  python/djust/audio.pyi
  python/djust/checks/__init__.py
  python/djust/checks/audio.py
  python/djust/runtime.py
  python/djust/static/djust/audio.css
  python/djust/static/djust/audio.js
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-audio-loader.js
  python/djust/template_tags/__init__.py
  python/djust/template_tags/audio.py
  python/djust/templatetags/live_tags.py
  python/djust/websocket.py
  tests/js/audio.test.js
  tests/unit/test_audio.py
Due: npm-test, pytest

docs: align audio feature status with main rebase
  docs/adr/028-declarative-audio.md
  docs/website/guides/audio.md
Due: none

test: classify generated audio manifest in surface checks
  python/djust/tests/test_surface_manifest_2064.py
Due: pytest

security: remove DOM-controlled audio asset URLs
  docs/website/guides/audio.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-audio-loader.js
  python/djust/templatetags/live_tags.py
  tests/js/audio.test.js
  tests/unit/test_audio.py
Due: npm-test, pytest

feat: add visual Markdown editing through native djust forms
  .github/workflows/markdown-editor.yml
  Makefile
  changelog.d/markdown-editor.fixed.md
  docs/ai/README.md
  docs/ai/forms.md
  docs/components-markdown-editor.md
  js/markdown-editor/.gitignore
  js/markdown-editor/build.mjs
  js/markdown-editor/package-lock.json
  js/markdown-editor/package.json
  js/markdown-editor/test/visual.check.mjs
  js/markdown-editor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.LICENSE.txt
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/components/templatetags/_dev_tools.py
  python/tests/test_markdown_editor_preview.py
  tests/js/markdown_editor.test.js
Due: npm-test, pytest

feat: add declarative short audio effects for LiveViews (#2815)
  .gitignore
  changelog.d/declarative-audio.added.md
  docs/README.md
  docs/TEMPLATE_BACKEND.md
  docs/adr/028-declarative-audio.md
  docs/website/_config.yaml
  docs/website/guides/audio.md
  docs/website/index.md
  python/djust/audio.py
  python/djust/audio.pyi
  python/djust/checks/__init__.py
  python/djust/checks/audio.py
  python/djust/runtime.py
  python/djust/static/djust/audio.css
  python/djust/static/djust/audio.js
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/51-audio-loader.js
  python/djust/template_tags/__init__.py
  python/djust/template_tags/audio.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/djust/tests/test_surface_manifest_2064.py
  python/djust/websocket.py
  tests/js/audio.test.js
  tests/js/non-bundle-importers-2659.test.js
  tests/unit/test_audio.py
Due: npm-test, pytest

docs: publish markdown editor guide in website navigation
  docs/ai/README.md
  docs/ai/forms.md
  docs/components-markdown-editor.md
  docs/website/_config.yaml
  docs/website/api-reference/components.md
  docs/website/forms/index.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/markdown-editor.md
  docs/website/index.md
Due: none

feat: add reusable Visual and Markdown editor modes (#2817)
  .github/workflows/markdown-editor.yml
  Makefile
  changelog.d/markdown-editor.fixed.md
  docs/ai/README.md
  docs/ai/forms.md
  docs/components-markdown-editor.md
  docs/website/_config.yaml
  docs/website/api-reference/components.md
  docs/website/forms/index.md
  docs/website/guides/components.md
  docs/website/guides/forms.md
  docs/website/guides/markdown-editor.md
  docs/website/index.md
  js/markdown-editor/.gitignore
  js/markdown-editor/build.mjs
  js/markdown-editor/package-lock.json
  js/markdown-editor/package.json
  js/markdown-editor/test/visual.check.mjs
  js/markdown-editor/visual.js
  python/djust/components/components/markdown_editor.py
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/markdown-editor.css
  python/djust/components/static/djust_components/markdown-editor.js
  python/djust/components/static/djust_components/markdown-visual.LICENSE.txt
  python/djust/components/static/djust_components/markdown-visual.js
  python/djust/components/templates/djust_components/markdown_controls.html
  python/djust/components/templatetags/_dev_tools.py
  python/tests/test_markdown_editor_preview.py
  tests/js/markdown_editor.test.js
Due: npm-test, pytest

fix: invoke beforeUpdate hooks before DOM mutation
  changelog.d/2816.fixed.md
  docs/website/guides/hooks.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/before-update-2816.test.js
Due: npm-test

fix: invoke beforeUpdate hooks before DOM mutation (#2818)
  changelog.d/2816.fixed.md
  docs/website/guides/hooks.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/before-update-2816.test.js
Due: npm-test

Bump version to 1.2.0rc7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  changelog.d/2816.fixed.md
  changelog.d/ai-conventions.documentation.md
  changelog.d/declarative-audio.added.md
  changelog.d/markdown-editor.fixed.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

fix: avoid numeric sequence directory scans in templates
  changelog.d/template-sequence-lookup.fixed.md
  crates/djust_core/src/context.rs
  docs/performance/sequence-lookup-2026-09-13.md
  python/tests/test_builtin_sequence_lookup_perf.py
  tests/benchmarks/test_template_render.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: avoid numeric sequence directory scans in templates (#2819)
  changelog.d/template-sequence-lookup.fixed.md
  crates/djust_core/src/context.rs
  docs/performance/sequence-lookup-2026-09-13.md
  python/tests/test_builtin_sequence_lookup_perf.py
  tests/benchmarks/test_template_render.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

refactor: serialize hydrated VDOM with a shared buffer
  crates/djust_vdom/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

refactor: reuse immutable temporal values after protection
  crates/djust_core/src/context.rs
  python/tests/test_temporal_lookup_reuse.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

refactor: scope filesystem include selection to each render
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  python/tests/test_include_render_cache.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

refactor: reduce lazy tag binding conversion overhead
  python/djust/template_libraries.py
  python/tests/test_lazy_namedtuple_bindings.py
Due: pytest

test: benchmark and document template pipeline improvements
  changelog.d/template-pipeline-performance.fixed.md
  docs/performance/template-pipeline-2026-09-13.md
  tests/benchmarks/test_template_render.py
Due: pytest

test: isolate include cache generation checks
  crates/djust_templates/src/inheritance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: reduce template rendering and hydrated update overhead (#2820)
  changelog.d/template-pipeline-performance.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lib.rs
  crates/djust_vdom/src/lib.rs
  docs/performance/template-pipeline-2026-09-13.md
  python/djust/template_libraries.py
  python/tests/test_include_render_cache.py
  python/tests/test_lazy_namedtuple_bindings.py
  python/tests/test_temporal_lookup_reuse.py
  tests/benchmarks/test_template_render.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: honor _skip_render on the WS tick path (#2822)
  python/djust/tests/test_tick_skip_render_2822.py
  python/djust/websocket.py
Due: pytest

docs: add changelog fragment for #2822
  changelog.d/2822.fixed.md
Due: none

fix: honor _skip_render on the WS tick path (#2822) (#2826)
  changelog.d/2822.fixed.md
  python/djust/tests/test_tick_skip_render_2822.py
  python/djust/websocket.py
Due: pytest

feat(checks): add T018 — undefined template variable detection (#2824)
  docs/system-checks.md
  python/djust/checks/templates.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  python/tests/test_checks_t018_undefined_template_vars_2824.py
Due: pytest

docs: add changelog fragment for T018 undefined template variable check (#2824)
  changelog.d/2824.added.md
Due: none

feat(checks): add T018 — undefined template variable detection (#2824) (#2828)
  changelog.d/2824.added.md
  docs/system-checks.md
  python/djust/checks/templates.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  python/tests/test_checks_t018_undefined_template_vars_2824.py
Due: pytest

fix: mount the test client via the WebSocket path and raise on a missing handler (#2821, #2823)
  changelog.d/2821.fixed.md
  changelog.d/2823.fixed.md
  python/djust/testing.py
  python/djust/tests/test_testclient_send_event_raises_2823.py
  python/djust/tests/test_testclient_websocket_fidelity_2821.py
  python/tests/test_testing_utils.py
Due: pytest
