Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(changelog): drop the two superseded claims in the #2129 entry
  CHANGELOG.md
Due: none

wip(client): iteration-2 tests green + two self-inflicted bugs fixed (#2017)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: npm-test

fix(streams): bound the factory arm to one row instead of patching values (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): the at-most-one-row invariant and the corrected gate-off table (#2129)
  CHANGELOG.md
Due: none

docs: reconcile the three client-size figures, which had drifted apart (#2133)
  CLAUDE.md
  README.md
Due: none

test(vdom): pin the trailing-field invariant by array WIDTH, not round-trip (#2130)
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/tests/test_binary_diff_msgpack_2130.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): correct the djust_core::Value attribution and add the compression caveat (#2130)
  CHANGELOG.md
Due: none

docs: reconcile the three client-size figures, which had drifted apart (#2133) (#2134)
  CLAUDE.md
  README.md
Due: none

docs(changelog): ADR-026 iteration 2 — client applies the keyed splice ops (#2017)
  CHANGELOG.md
Due: none

style(client): avoid the object-injection sink in indexOfKey (#2017)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/29-virtual-list.js
Due: npm-test

docs(schema): document dj-key, which nothing had (#2017)
  python/djust/schema.py
Due: pytest

fix(client): address the Stage 11 findings on the keyed-op applier (#2017)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: npm-test

docs(changelog): record the index-addressed content-patch gap as blocking for iteration 3 (#2017)
  CHANGELOG.md
Due: none

test(client): pin the anchor-miss log and note the seam test's coupling (#2017)
  tests/js/virtual-keyed-ops-2017.test.js
Due: npm-test

docs(changelog): correct three stale counts and add the new gate-offs (#2017)
  CHANGELOG.md
Due: none

fix(vdom): emit binary diffs as a named msgpack map so they can be read (#2130) (#2132)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/tests/test_binary_diff_msgpack_2130.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(client): apply the [dj-virtual] keyed splice ops — ADR-026 iteration 2 (#2017) (#2135)
  CHANGELOG.md
  python/djust/schema.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: npm-test, pytest

fix(streams): a delete is identity OR factory, never both (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): the identity-OR-factory rule and the errors-not-failures harness fix (#2129)
  CHANGELOG.md
Due: none

fix(streams): snapshot items before the scan so an appending factory cannot hang (#2129)
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(changelog): the appending-factory hang (#2129)
  CHANGELOG.md
Due: none

fix(streams): server-side deletion uses the same identity the dom_id does (#2129) (#2131)
  CHANGELOG.md
  python/djust/session_utils.py
  tests/unit/test_stream_delete_server_identity_2129.py
Due: pytest

docs(roadmap): mark v1.1.0-13 drain COMPLETE 3/3
  ROADMAP.md
Due: none

docs(retro): milestone v1.1.0-13 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

docs(roadmap): add 5 open issues to v1.1.0-14 milestone
  ROADMAP.md
Due: none

fix(forms): validate_field accepts the key the client actually sends (#2137)
  python/djust/admin_ext/forms.py
  python/djust/forms.py
  tests/unit/test_validate_field_wire_contract_2137.py
Due: pytest

docs(changelog): validate_field wire-contract mismatch (#2137)
  CHANGELOG.md
Due: none

docs(retro): backfill v1.1.0-12 and v1.1.0-12b milestone entries (#2140)
  RETRO.md
Due: none

fix(forms): real admin coverage, corrected mechanism claim, doc fix (#2137)
  docs/website/guides/forms.md
  python/djust/forms.py
  python/djust/wizard.py
  tests/unit/test_validate_field_wire_contract_2137.py
Due: pytest

docs(changelog): correct the mechanism claim, record the admin fix and #2144 (#2137)
  CHANGELOG.md
Due: none

test(forms): assert the adapter shape against ADMIN, not FormMixin (#2137)
  tests/unit/test_validate_field_wire_contract_2137.py
Due: pytest

fix(forms): validate_field accepts the key the client actually sends (#2137) (#2141)
  CHANGELOG.md
  docs/website/guides/forms.md
  python/djust/admin_ext/forms.py
  python/djust/forms.py
  python/djust/wizard.py
  tests/unit/test_validate_field_wire_contract_2137.py
Due: pytest

fix(vdom): key-address [dj-virtual] content updates so they land on the right row (#2136)
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

docs(changelog): key-addressed dj-virtual content updates (#2136)
  CHANGELOG.md
Due: none

fix(vdom): swap the pool entry for a root Replace, and cover every inner-patch kind (#2136)
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

docs(changelog): the root-Replace pool-swap defect and its coverage (#2136)
  CHANGELOG.md
Due: none

test(client): pin the re-render that makes the pool swap visible (#2136)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: npm-test

fix(vdom): key-address [dj-virtual] content updates so they land on the right row (#2136) (#2146)
  CHANGELOG.md
  crates/djust_vdom/src/diff.rs
  crates/djust_vdom/src/lib.rs
  crates/djust_vdom/src/patch.rs
  crates/djust_vdom/tests/common/mod.rs
  crates/djust_vdom/tests/integration_test.rs
  crates/djust_vdom/tests/virtual_keyed_ops_2017.rs
  crates/djust_vdom/tests/wire_protocol_snapshot.rs
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/29-virtual-list.js
  tests/js/virtual-keyed-ops-2017.test.js
Due: cargo-fmt, cargo-clippy, npm-test, cargo-test, cargo-audit

fix(build): generate the client-size figures instead of asserting them (#2138)
  CLAUDE.md
  Makefile
  README.md
  python/djust/static/djust/client-sizes.json
  scripts/build-client.sh
  scripts/check-doc-snippets.py
  tests/test_client_size_manifest_2138.py
Due: pytest

docs(changelog): generated client-size manifest (#2138)
  CHANGELOG.md
Due: none
