Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: address Stage 11 review findings on #885
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/41-dj-transition.js
  tests/js/dj_transition.test.js
Due: npm-test

fix(tests): skip 2 flaky dj-transition tests under vitest parallel load
  tests/js/dj_transition.test.js
Due: npm-test

feat: dj-transition — declarative CSS enter/leave transitions (v0.6.0 Animations, phase 1) (#885)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/41-dj-transition.js
  tests/js/dj_transition.test.js
Due: npm-test

fix(uploads): rebuild UploadManager on WS state restoration (#889)
  CHANGELOG.md
  python/djust/uploads.py
  python/djust/websocket.py
  tests/unit/test_upload_restoration_889.py
Due: pytest

fix(uploads): rebuild UploadManager on WS state restoration (#889) (#891)
  CHANGELOG.md
  python/djust/uploads.py
  python/djust/websocket.py
  tests/unit/test_upload_restoration_889.py
Due: pytest

fix(mixins): replay PresenceMixin + NotificationMixin side effects on WS state restoration (#893, #894)
  CHANGELOG.md
  python/djust/mixins/notifications.py
  python/djust/presence.py
  python/djust/websocket.py
  tests/unit/test_mixin_restoration_893_894.py
Due: pytest

docs(changelog): clarify PresenceManager.join_presence idempotency wording (addresses #895 review)
  CHANGELOG.md
Due: none

fix(mixins): replay PresenceMixin + NotificationMixin side effects on WS state restoration (#893, #894) (#895)
  CHANGELOG.md
  python/djust/mixins/notifications.py
  python/djust/presence.py
  python/djust/websocket.py
  tests/unit/test_mixin_restoration_893_894.py
Due: pytest

Bump version to 0.5.4rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(animations): dj-remove — exit animations before element removal (v0.6.0 phase 2a)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/42-dj-remove.js
  tests/js/dj_remove.test.js
Due: npm-test

feat(animations): dj-remove — exit animations before element removal (v0.6.0 phase 2a) (#898)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/42-dj-remove.js
  tests/js/dj_remove.test.js
Due: npm-test

fix: handle PEP 604 union types in get_handler_signature_info (#899)
  python/djust/validation.py
  python/tests/test_validation.py
Due: pytest

feat(animations): dj-transition-group — coordinated enter/leave for list items (v0.6.0 phase 2c)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/43-dj-transition-group.js
  tests/js/dj_transition_group.test.js
Due: npm-test

fix: address review findings — docstring, exact asserts, more tests
  python/djust/validation.py
  python/tests/test_validation.py
Due: pytest

fix: handle PEP 604 union types in get_handler_signature_info (#899) (#903)
  python/djust/validation.py
  python/tests/test_validation.py
Due: pytest

fix(animations): dj-transition-group — uninstall per-parent observer on attribute strip
  CHANGELOG.md
  ROADMAP.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/43-dj-transition-group.js
  tests/js/dj_transition_group.test.js
Due: npm-test

Bump version to 0.5.5rc1
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
Due: pytest

feat(animations): dj-transition-group — coordinated enter/leave for list items (v0.6.0 phase 2c) (#904)
  CHANGELOG.md
  ROADMAP.md
  docs/website/guides/declarative-ux-attrs.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/43-dj-transition-group.js
  tests/js/dj_transition_group.test.js
Due: npm-test

security(deps): refresh uv.lock for 13 CVEs across 8 packages
  CHANGELOG.md
  Cargo.lock
  pyproject.toml
  uv.lock
Due: none

security(deps): refresh uv.lock for 13 CVEs across 8 packages (#909)
  CHANGELOG.md
  Cargo.lock
  pyproject.toml
  uv.lock
Due: none

security(logging): sanitize user-controlled values in log calls
  CHANGELOG.md
  python/djust/_log_utils.py
  python/djust/api/dispatch.py
  python/djust/tests/test_log_sanitization.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

security(logging): sanitize user-controlled values in log calls (#913)
  CHANGELOG.md
  python/djust/_log_utils.py
  python/djust/api/dispatch.py
  python/djust/tests/test_log_sanitization.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

chore(deps): drop black — ruff format is the canonical formatter
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(contributing): update formatter instructions from black → ruff format
  CONTRIBUTING.md
Due: none

chore(deps): drop black — ruff format is the canonical formatter (#917)
  CHANGELOG.md
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: none

security(xss): escape user input in gallery 404 responses & theme options
  CHANGELOG.md
  python/djust/components/gallery/views.py
  python/djust/tests/test_gallery_xss.py
  python/djust/theming/gallery/views.py
Due: pytest

security(xss): escape category_slug in components gallery Http404 + cleanup _resolve_theme taint
  python/djust/components/gallery/views.py
  python/djust/tests/test_gallery_xss.py
Due: pytest

security(xss): escape user input in gallery 404 responses & theme options (6 py/reflective-xss alerts) (#918)
  CHANGELOG.md
  python/djust/components/gallery/views.py
  python/djust/tests/test_gallery_xss.py
  python/djust/theming/gallery/views.py
Due: pytest

security(info-disclosure): drop exception details from API error responses
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/observability/views.py
  python/djust/tests/test_stack_trace_exposure.py
  python/djust/theming/inspector.py
Due: pytest

security(info-disclosure): drop exception details from API error responses (#919)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/observability/views.py
  python/djust/tests/test_stack_trace_exposure.py
  python/djust/theming/inspector.py
Due: pytest

security: open-redirect + path-traversal fixes + dismiss FP clear-text alerts
  CHANGELOG.md
  python/djust/admin_ext/views.py
  python/djust/auth/views.py
  python/djust/tests/test_security_redirects_paths.py
  python/djust/theming/gallery/storybook.py
Due: pytest

security: refactor to CodeQL-recognized sanitization patterns
  python/djust/admin_ext/views.py
  python/djust/auth/views.py
  python/djust/theming/gallery/storybook.py
Due: pytest

security: open-redirect + path-traversal fixes + dismiss clear-text CodeQL false-positives (7 alerts) (#920)
  CHANGELOG.md
  python/djust/admin_ext/views.py
  python/djust/auth/views.py
  python/djust/tests/test_security_redirects_paths.py
  python/djust/theming/gallery/storybook.py
Due: pytest

fix: 3 real bugs caught by CodeQL scanning
  CHANGELOG.md
  python/djust/components/gallery/views.py
  python/djust/tests/test_codeql_bugfixes.py
  python/djust/theming/accessibility.py
  python/djust/theming/build_themes.py
Due: pytest

fix: 3 real bugs caught by CodeQL scanning (#923)
  CHANGELOG.md
  python/djust/components/gallery/views.py
  python/djust/tests/test_codeql_bugfixes.py
  python/djust/theming/accessibility.py
  python/djust/theming/build_themes.py
Due: pytest

fix: close 21 py/undefined-export via TYPE_CHECKING eager imports
  CHANGELOG.md
  python/djust/auth/__init__.py
  python/djust/tenants/__init__.py
  python/djust/tests/test_lazy_import_resolution.py
Due: pytest

fix: close 21 py/undefined-export via TYPE_CHECKING eager imports (#924)
  CHANGELOG.md
  python/djust/auth/__init__.py
  python/djust/tenants/__init__.py
  python/djust/tests/test_lazy_import_resolution.py
Due: pytest

security(js): XSS in markdown-textarea preview + SW origin check
  CHANGELOG.md
  python/djust/components/static/djust_components/markdown-textarea.js
  python/djust/static/djust/service-worker.js
  tests/js/markdown_textarea_xss.test.js
  tests/js/service_worker.test.js
Due: npm-test

security(js): XSS in markdown-textarea preview + SW origin check (#925)
  CHANGELOG.md
  python/djust/components/static/djust_components/markdown-textarea.js
  python/djust/static/djust/service-worker.js
  tests/js/markdown_textarea_xss.test.js
  tests/js/service_worker.test.js
Due: npm-test

fix: drop dead conditional in theme_form_tags label-visibility check
  CHANGELOG.md
  python/djust/theming/templatetags/theme_form_tags.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
