Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(serialization): AsyncResult emits dict via to_dict() (#1274) (#1302)
  CHANGELOG.md
  python/djust/async_result.py
  python/djust/serialization.py
  python/djust/tests/test_async_result_serializer.py
Due: pytest

fix(submit): form submit flushes pending dj-input debounces (#1278) (#1303)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj_submit_debounce_flush.test.js
Due: npm-test

fix(dj-dialog): native close (ESC/backdrop) syncs back to server (#1267) (#1304)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/35-dj-dialog.js
  tests/js/dj_dialog.test.js
Due: npm-test

fix(sse): EventSource sends Django session cookie (#1277) (#1305)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03b-sse.js
  tests/js/sse-transport.test.js
Due: npm-test

docs(roadmap): close v0.9.2-6 ✅ — 5 PRs merged, v0.9.2 stable cuttable
  ROADMAP.md
Due: none

docs(roadmap): close v0.9.2-6 ✅ — 5 PRs merged, v0.9.2 stable cuttable (#1306)
  ROADMAP.md
Due: none

docs(retro): milestone v0.9.2-6 + action tracker rows #211, #212
  RETRO.md
Due: none

docs(retro): milestone v0.9.2-4 + action tracker rows #213, #214 + close #206-209
  RETRO.md
Due: none

docs(retro): milestone v0.9.2-5 + action tracker rows #215, #216, #217
  RETRO.md
Due: none

docs(deployment): fix broken anchor #production-checklist (#1266) + open/close v0.9.2-7
  ROADMAP.md
  docs/website/guides/deployment.md
Due: none

docs(deployment): fix broken anchor #production-checklist (#1266) + open/close v0.9.2-7 (#1314)
  ROADMAP.md
  docs/website/guides/deployment.md
Due: none

Bump version to 0.9.2rc2
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

fix: move markdown and nh3 from optional to core dependencies
  CHANGELOG.md
  pyproject.toml
Due: none

Bump version to 0.9.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(roadmap): release v0.9.2 + open v0.9.3-1 drain bucket (#1299-#1308)
  ROADMAP.md
Due: none

fix(decorators): document @background + @action interaction contract (#1299)
  python/djust/decorators.py
  python/djust/tests/test_action_decorator_contract.py
Due: pytest

fix(websocket): preserve mount-time push events in batch mount path (#1295)
  python/djust/websocket.py
  tests/unit/test_sw_advanced.py
Due: pytest

fix(components): update stale emit-name defaults to on_table_* convention (#1296, #1297)
  python/djust/components/components/data_table.py
  python/tests/test_data_table_link_row_nav.py
Due: pytest

fix(dispatch): add WS-level integration smoke test for renamed on_table_* handlers (#1298)
  python/djust/tests/test_data_table_handler_contracts.py
Due: pytest

docs(conventions): canonicalize opt-in framework-design pattern (#1307)
  docs/conventions/opt-in-extensions.md
Due: none

docs(audit): inventory bidirectional-binding gaps across HTML5 elements (#1308)
  docs/audits/bidirectional-binding-2026-05.md
Due: none

docs(roadmap): update v0.9.3-1 status — all 7 issues have PRs (#1295-#1322)
  ROADMAP.md
Due: none

fix(websocket): preserve mount-time push events in batch mount path (#1295) (#1319)
  python/djust/websocket.py
  tests/unit/test_sw_advanced.py
Due: pytest

fix(components, dispatch): emit-name audit-B fixes + WS dispatch smoke test (#1296, #1297, #1298) (#1320)
  python/djust/components/components/data_table.py
  python/djust/tests/test_data_table_handler_contracts.py
  python/tests/test_data_table_link_row_nav.py
Due: pytest

docs(conventions): canonicalize opt-in framework-design pattern (#1307) (#1321)
  docs/conventions/opt-in-extensions.md
Due: none

docs(audit): inventory bidirectional-binding gaps across HTML5 elements (#1308) (#1322)
  docs/audits/bidirectional-binding-2026-05.md
Due: none

docs(roadmap): ship v0.9.3-1, open v0.9.3-2 with #1281 headliner
  ROADMAP.md
Due: none

fix: _snapshot_assigns uses _framework_attrs membership instead of blanket _ prefix check (#1281)
  CHANGELOG.md
  python/djust/tests/test_skip_render_private_state.py
  python/djust/tests/test_strip_whitespace.py
  python/djust/websocket.py
  python/tests/test_changed_tracking.py
  python/tests/test_static_assigns.py
  tests/unit/test_tick_skip.py
Due: pytest

fix: _snapshot_assigns uses _framework_attrs membership instead of blanket _ prefix check (#1281) (#1323)
  CHANGELOG.md
  ROADMAP.md
  python/djust/tests/test_skip_render_private_state.py
  python/djust/tests/test_strip_whitespace.py
  python/djust/websocket.py
  python/tests/test_changed_tracking.py
  python/tests/test_static_assigns.py
  tests/unit/test_tick_skip.py
Due: pytest

fix: _action_state persists across WS reconnects (#1284)
  CHANGELOG.md
  python/djust/live_view.py
  python/tests/test_action_state_reconnect.py
Due: pytest

fix: _action_state persists across WS reconnects (#1284) (#1324)
  CHANGELOG.md
  python/djust/live_view.py
  python/tests/test_action_state_reconnect.py
Due: pytest

fix(serialization): emit one-shot warning when snapshot fingerprint is truncated for large containers (#1285)
  CHANGELOG.md
  python/djust/websocket.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

docs(roadmap): mark #1281 + #1284 complete; update #1285 to PR #1326
  ROADMAP.md
Due: none

fix(serialization): emit one-shot warning when snapshot fingerprint is truncated for large containers (#1285) (#1326)
  CHANGELOG.md
  ROADMAP.md
  python/djust/websocket.py
  python/tests/test_snapshot_truncation_warning.py
Due: pytest

fix(serialization): unify identity snapshots to use _framework_attrs instead of k.startswith("_") (#1286)
  CHANGELOG.md
  python/djust/websocket.py
  python/tests/test_change_detection_unified.py
Due: pytest

docs(roadmap): mark #1286 in PR #1327; update v0.9.3-2 status
  ROADMAP.md
Due: none

fix(serialization): unify identity snapshots to use _framework_attrs instead of k.startswith("_") (#1286) (#1327)
  CHANGELOG.md
  ROADMAP.md
  python/djust/websocket.py
  python/tests/test_change_detection_unified.py
Due: pytest

docs(roadmap): ship v0.9.3-2 — all 4 audit-A Phase 2 items closed
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
