Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(guides): close older-release coverage gaps
  docs/guides/scaffolding.md
  docs/website/core-concepts/events.md
  docs/website/guides/css-frameworks.md
  docs/website/guides/error-overlay.md
  docs/website/guides/mcp-server.md
  docs/website/guides/template-cheatsheet.md
Due: none

docs: PR-checklist + check-authoring guide v0.7.4 follow-ups (closes #1017, #1018, #1019, #1020) (#1022)
  CHANGELOG.md
  docs/PULL_REQUEST_CHECKLIST.md
  docs/development/check-authoring.md
Due: none

docs: milestone retro v0.7.4 + close Action Tracker #133-#137 + #122 7th reinforcement
  RETRO.md
Due: none

Bump version to 0.7.4rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

feat(forms): dj-form-pending — React 19 useFormStatus equivalent (v0.8.0 iter 1)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-form-pending.test.js
Due: npm-test

feat(forms): dj-form-pending — React 19 useFormStatus equivalent (v0.8.0 iter 1) (#1023)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/09-event-binding.js
  tests/js/dj-form-pending.test.js
Due: npm-test

feat(actions): @action decorator — React 19 Server Actions equivalent (v0.8.0 iter 2)
  CHANGELOG.md
  python/djust/__init__.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/tests/test_action_decorator.py
Due: pytest

feat(actions): @action decorator — React 19 Server Actions equivalent (v0.8.0 iter 2) (#1024)
  CHANGELOG.md
  python/djust/__init__.py
  python/djust/decorators.py
  python/djust/live_view.py
  python/djust/mixins/context.py
  python/djust/tests/test_action_decorator.py
Due: pytest

docs: milestone retro v0.8.0 (PRs #1023, #1024) + #122 8th reinforcement
  RETRO.md
Due: none

Bump version to 0.8.0rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
Due: pytest

docs(retro): close Action #122 — post-commit verification landed in pipeline-run skill
  RETRO.md
Due: none

docs(retro): reconcile v0.8.0 retro post-rc1 + Action #122 closure
  RETRO.md
Due: none

docs(guides): server-actions guide for v0.8.0 @action + dj-form-pending
  docs/website/guides/server-actions.md
Due: none

docs(retro): reconcile v0.8.0 — synthesize per-PR retros (#1023, #1024) into milestone
  RETRO.md
Due: none

docs(changelog): bulk-add See-doc citations from coverage audit
  CHANGELOG.md
Due: none

docs(retro): full reconcile — Stage 3.5 gate + Action Tracker → GitHub issue parity
  RETRO.md
Due: none

docs(roadmap): v0.8.1 milestone — 15 reconcile-drain issues curated
  ROADMAP.md
Due: none

docs: codeql taint-flow cheat sheet + cProfile snapshot disclaimer
  docs/internal/codeql-patterns.md
  docs/performance/v0.6.0-profile.md
Due: none

docs: fix PR citations in codeql-patterns.md (Stage 11 review fix-pass)
  docs/internal/codeql-patterns.md
Due: none

docs: codeql cheat sheet + cProfile snapshot disclaimer (closes #1029, #1035) (#1064)
  docs/internal/codeql-patterns.md
  docs/performance/v0.6.0-profile.md
Due: none

feat(tooling): make roadmap-lint + pre-push hook for noqa F822 (closes #1057, #1061)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  scripts/check-noqa-f822.sh
  scripts/roadmap-lint.py
Due: pytest

chore(scripts): address Stage 11 cosmetic review notes
  scripts/check-noqa-f822.sh
  scripts/roadmap-lint.py
Due: pytest

feat(tooling): make roadmap-lint + pre-push noqa-F822 hook (closes #1057, #1061) (#1065)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  scripts/check-noqa-f822.sh
  scripts/roadmap-lint.py
Due: pytest

refactor(tests): test-infra cleanup batch (closes #1027, #1028, #1034, #1036)
  CHANGELOG.md
  python/djust/tests/conftest.py
  python/djust/tests/test_admin_widgets_per_page.py
  python/djust/tests/test_bulk_progress.py
  python/djust/tests/test_stack_trace_exposure.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_request_path.py
Due: pytest

refactor(tests): test-infra cleanup batch (closes #1027, #1028, #1034, #1036) (#1066)
  CHANGELOG.md
  python/djust/tests/conftest.py
  python/djust/tests/test_admin_widgets_per_page.py
  python/djust/tests/test_bulk_progress.py
  python/djust/tests/test_stack_trace_exposure.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_request_path.py
Due: pytest

security(api)+chore(js): JSON-parse error consistency + websocket cache log (closes #1026, #1030)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
Due: npm-test, pytest

security(api)+chore(js): JSON-parse error consistency + websocket cache log (closes #1026, #1030) (#1067)
  CHANGELOG.md
  python/djust/api/dispatch.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
Due: npm-test, pytest

feat(ws): mount_batch fallback for old-server compat (closes #1031)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  tests/js/mount-batch-fallback.test.js
Due: npm-test

feat(ws): mount_batch fallback for old-server compat (closes #1031) (#1068)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/13-lazy-hydration.js
  tests/js/mount-batch-fallback.test.js
Due: npm-test

docs(roadmap): v0.9.0 backlog for 5 deferred-feature issues from v0.8.1 reconcile
  ROADMAP.md
Due: none

docs(roadmap): v0.9.0 backlog for 5 deferred-feature issues from v0.8.1 reconcile (#1069)
  ROADMAP.md
Due: none

docs(retro): v0.8.1 milestone retro + Action Tracker update
  RETRO.md
Due: none

docs(roadmap): v0.8.2 milestone — theming polish + docs cleanup (5 issues)
  ROADMAP.md
Due: none

docs(roadmap): v0.8.2 milestone — theming polish + docs cleanup (5 issues) (#1073)
  ROADMAP.md
Due: none

feat(theming)+fix(css): theming polish batch (closes #1009, #1011, #1012, #1013)
  CHANGELOG.md
  python/djust/tests/test_theming_v082_drain.py
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/static/djust_theming/css/prose.css
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

feat(theming)+fix(css): theming polish batch (closes #1009, #1011, #1012, #1013) (#1074)
  CHANGELOG.md
  python/djust/tests/test_theming_v082_drain.py
  python/djust/theming/manager.py
  python/djust/theming/static/djust_theming/css/components.css
  python/djust/theming/static/djust_theming/css/prose.css
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs: fix 4 stale .md refs in RUST_COMPONENTS.md (closes #1010)
  docs/components/RUST_COMPONENTS.md
Due: none

docs: fix 4 stale .md refs in RUST_COMPONENTS.md (closes #1010) (#1076)
  docs/components/RUST_COMPONENTS.md
Due: none

docs(retro): v0.8.2 milestone retro + Action Tracker update
  RETRO.md
Due: none

Bump version to 0.8.2rc1
  CHANGELOG.md
  Cargo.toml
  pyproject.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
