Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(templates): correct three doc-comment citations in the #2270 float sink pin
  crates/djust_templates/src/filters.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): port Truncator, slugify, title and urlencode from Django (#2262, #2261) (#2272)
  CHANGELOG.md
  Cargo.lock
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/truncate.rs
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_template_filters.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): pprint and json_script spell a float with Python's repr (#2270) (#2275)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_pprint_json_script_float_2270.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): close v1.1.1-5 (9/9) and open v1.1.1-6 for its four chain links
  ROADMAP.md
Due: none

fix(core): a tuple keeps its identity across the state round trip
  crates/djust_core/src/lib.rs
  python/tests/test_tuple_roundtrip_2276.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the tuple round trip, and the two premises that were false
  CHANGELOG.md
Due: none

fix(core): a tuple keeps its identity across the state round trip (#2276) (#2278)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  python/tests/test_tuple_roundtrip_2276.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): |safe survives an is_safe=True filter (#2274)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/tests/test_safe_survives_is_safe_filter_2274.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): |safe surviving an is_safe filter, and the unearned safe grant it exposed (#2274)
  CHANGELOG.md
Due: none

fix(templates): |safe survives an is_safe=True filter (#2274) (#2285)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/tests/test_safe_survives_is_safe_filter_2274.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): port striptags from Django's MLStripper (#2273)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/htmlparser.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/truncate.rs
  python/tests/test_striptags_parity_2273.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): striptags ported from Django's MLStripper (#2273)
  CHANGELOG.md
Due: none

fix(templates): track CPython's current html.parser, and pin the reference (#2273)
  crates/djust_templates/src/htmlparser.rs
  python/tests/fixtures/striptags_reference_2273.json
  python/tests/test_striptags_parity_2273.py
  scripts/check-striptags-version-stability.py
  scripts/gen-striptags-reference.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): cover the four ported mechanisms the gate-off found bare (#2273)
  crates/djust_templates/src/htmlparser.rs
  scripts/check-striptags-version-stability.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the port targets current CPython, and the pin (#2273)
  CHANGELOG.md
  python/tests/test_striptags_parity_2273.py
Due: pytest

fix(templates): port striptags from Django's MLStripper (#2273) (#2282)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/htmlparser.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/truncate.rs
  python/tests/fixtures/striptags_reference_2273.json
  python/tests/test_striptags_parity_2273.py
  scripts/check-striptags-version-stability.py
  scripts/gen-striptags-reference.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(roadmap): close v1.1.1-6 and open v1.1.1-7, recording the shipped XSS
  ROADMAP.md
Due: none

fix(templates): needs_autoescape's SafeData term, the half that is reachable (#2284)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_needs_autoescape_2284.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): needs_autoescape's SafeData term (#2284)
  CHANGELOG.md
Due: none

docs(templates): the linebreaks header claim is now narrower than the code (#2284)
  crates/djust_templates/src/filters.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

test(templates): make the apply_filter_full pin whitespace-insensitive (#2284)
  python/tests/test_needs_autoescape_2284.py
Due: pytest

test(templates): pin the SECOND arm of the SAFE_OUTPUT_FILTERS contract in Rust (#2284)
  crates/djust_templates/src/filters.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog): record the Rust-side second-arm pins (#2284)
  CHANGELOG.md
Due: none

fix(templates): needs_autoescape's SafeData term, the half that is reachable (#2284) (#2288)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_needs_autoescape_2284.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): length counts code points, pprint wraps at width 80 (#2279, #2277)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/pprint.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_striptags_parity_2273.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): length code points and pprint wrapping (#2279, #2277)
  CHANGELOG.md
Due: none

test(templates): cover py_repr_string's container caller, and label the known-wrong pins
  crates/djust_core/src/lib.rs
  python/tests/test_length_pprint_parity_2279_2277.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): name the {{ list }} path the shared repr helper also changed
  CHANGELOG.md
Due: none

fix(templates): length counts code points, pprint wraps at width 80 (#2279, #2277) (#2295)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/pprint.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_striptags_parity_2273.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): linenumbers escaping fix (#2291)
  CHANGELOG.md
Due: none

security(templates): escape inside linenumbers so a trailing |safe cannot expose its input (#2291)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_linenumbers_escaping_2291.py
  python/tests/test_needs_autoescape_2284.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(templates): escape inside linenumbers so a trailing |safe cannot expose its input (#2291) (#2297)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_linenumbers_escaping_2291.py
  python/tests/test_needs_autoescape_2284.py
  python/tests/test_output_shape_parity_2264_2266_2259.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): check in the two-build filter-parity differential (#2281, #2283)
  scripts/filter-parity-differential.py
Due: pytest

fix(templates): escape is eager, and sequence filters iterate a string (#2281, #2283)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_needs_autoescape_2284.py
  python/tests/test_safe_survives_is_safe_filter_2274.py
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_striptags_parity_2273.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): escape is eager, and sequence filters iterate a string (#2281, #2283)
  CHANGELOG.md
Due: none

fix(templates): dictsort's failure branch, and join's separator (#2281, #2283 review)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): dictsort failure branch and join separator (#2281, #2283 review)
  CHANGELOG.md
Due: none

fix(templates): escape is eager, and sequence filters iterate a string (#2281, #2283) (#2296)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_needs_autoescape_2284.py
  python/tests/test_safe_survives_is_safe_filter_2274.py
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_striptags_parity_2273.py
  python/tests/test_truncate_slugify_parity_2262.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): htmlparser.rs header says 3.12.10+/3.13, and a test keeps it true (#2289)
  crates/djust_templates/src/htmlparser.rs
  python/tests/test_htmlparser_header_accuracy_2289.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): htmlparser header accuracy (#2289)
  CHANGELOG.md
Due: none
