Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: one ownership-aware root selection rule for the Python render and the Rust VDOM (#3031)
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/parser.rs
  python/djust/mixins/template.py
  python/djust/tests/test_root_locator_parity_3030.py
  python/djust/tests/test_root_selection_3031.py
  python/tests/fixtures/root_selection_3031.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: state the one root-selection rule (#3031)
  changelog.d/3031.fixed.md
  docs/website/guides/template-requirements.md
Due: none

feat(components): ship the hooks for SortableList, SortableGrid, JsonViewer and LogViewer
  changelog.d/2985.added.md
  python/djust/components/components/json_viewer.py
  python/djust/components/components/log_viewer.py
  python/djust/components/components/sortable_grid.py
  python/djust/components/components/sortable_list.py
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/json-viewer.js
  python/djust/components/static/djust_components/log-viewer.js
  python/djust/components/static/djust_components/sortable-grid.js
  python/djust/components/static/djust_components/sortable-list.js
  python/djust/components/templatetags/_dev_tools.py
  python/djust/components/templatetags/djust_components.py
  python/djust/tests/test_catalogue_contract_truth.py
  python/djust/tests/test_component_interactions_2985.py
  python/djust/theming/gallery/component_registry.py
  tests/js/component_interactions_2985.test.js
Due: npm-test, pytest

test: drive the SortableList, SortableGrid, JsonViewer and LogViewer hooks in a real browser
  tests/playwright/README.md
  tests/playwright/test_component_interactions_2985.py
Due: pytest

feat: connected() and disconnected() LiveView hooks (#3007)
  changelog.d/3007.added.md
  python/djust/_child_lifecycle.py
  python/djust/runtime.py
  python/djust/schema.py
  python/djust/sse.py
  python/djust/tests/test_lifecycle_contract_3007.py
  python/djust/tests/test_realtime_v121_6.py
  python/djust/websocket.py
Due: pytest

docs: lifecycle contract for connected() and disconnected() (#3007)
  docs/website/api-reference/liveview.md
Due: none

fix: refuse an async def connected()/disconnected() hook (#3007)
  changelog.d/3007.added.md
  docs/website/api-reference/liveview.md
  python/djust/_child_lifecycle.py
  python/djust/tests/test_lifecycle_contract_3007.py
Due: pytest

fix(templates): hand bridged tags a lazy block.super instead of rendering the parent per call (#2918)
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/tests/test_block_super_bridge_lazy_2918.py
  python/tests/test_block_super_lazy_2710.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(theming): move link_hover with link, hold documented-hex tokens, tighten the ratchet (#2885)
  changelog.d/2885.fixed.md
  python/djust/tests/test_theming_text_contrast_2885.py
  python/djust/theming/a11y_exemptions.py
  python/djust/theming/themes/adaptive.py
  python/djust/theming/themes/amber.py
  python/djust/theming/themes/art_deco.py
  python/djust/theming/themes/ayu.py
  python/djust/theming/themes/candy.py
  python/djust/theming/themes/cyberdeck.py
  python/djust/theming/themes/cyberpunk.py
  python/djust/theming/themes/docs.py
  python/djust/theming/themes/ember.py
  python/djust/theming/themes/forest.py
  python/djust/theming/themes/github.py
  python/djust/theming/themes/green.py
  python/djust/theming/themes/ink.py
  python/djust/theming/themes/medical.py
  python/djust/theming/themes/monokai.py
  python/djust/theming/themes/natural20.py
  python/djust/theming/themes/neon_noir.py
  python/djust/theming/themes/nord.py
  python/djust/theming/themes/notion.py
  python/djust/theming/themes/ocean_deep.py
  python/djust/theming/themes/orange.py
  python/djust/theming/themes/poimandres.py
  python/djust/theming/themes/purple.py
  python/djust/theming/themes/retro_computing.py
  python/djust/theming/themes/rose.py
  python/djust/theming/themes/rose_pine.py
  python/djust/theming/themes/solarized.py
  python/djust/theming/themes/solarpunk.py
  python/djust/theming/themes/stripe.py
  python/djust/theming/themes/sunrise.py
  python/djust/theming/themes/tailwind.py
  scripts/fix_theme_text_contrast.py
Due: pytest

fix: tolerant lifecycle hook resolution and cancel-safe release (#3007)
  python/djust/_child_lifecycle.py
  python/djust/mcp/server.py
  python/djust/runtime.py
  python/djust/sse.py
  python/djust/tests/test_lifecycle_contract_3007.py
  python/djust/websocket.py
Due: pytest

docs: lifecycle contract ordering across connections and hook shape (#3007)
  changelog.d/3007.added.md
  docs/website/api-reference/liveview.md
Due: none

fix(components): review fixes for the #2985 hooks (patch during a grab, O(1) log append, JsonViewer colours, order contract)
  docs/website/guides/hooks.md
  python/djust/components/components/json_viewer.py
  python/djust/components/components/log_viewer.py
  python/djust/components/components/sortable_grid.py
  python/djust/components/components/sortable_list.py
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/json-viewer.js
  python/djust/components/static/djust_components/log-viewer.js
  python/djust/components/static/djust_components/sortable-grid.js
  python/djust/components/static/djust_components/sortable-list.js
  python/djust/components/templatetags/djust_components.py
  python/djust/components/utils.py
  python/djust/tests/test_component_interactions_2985.py
  python/djust/tests/test_json_viewer_css_2985.py
  tests/js/component_interactions_2985.test.js
Due: npm-test, pytest

test: corpus cases for text/RCDATA contexts, SVG and void wrappers; pin known leftovers (#3031)
  crates/djust_live/src/lib.rs
  python/djust/tests/test_root_selection_3031.py
  python/tests/fixtures/root_selection_3031.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: cover a patch during a grab, order validation, colours and a long stream in the browser
  tests/playwright/test_component_interactions_2985.py
Due: pytest

docs: say what the root-selection change alters through the page pipeline (#3031)
  changelog.d/3031.fixed.md
Due: none

docs: changelog fragment for the JsonViewer value colour fix (#2985)
  changelog.d/2985.fixed.md
Due: none

fix(templates): scope the lazy block to its bridged call and keep Django's exception classes (#2918)
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/tests/test_block_super_bridge_lazy_2918.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(components): LogViewer keeps following a fast stream; unkeyable sortable lists stay inert (#2985)
  changelog.d/2985.added.md
  python/djust/components/components/sortable_grid.py
  python/djust/components/components/sortable_list.py
  python/djust/components/static/djust_components/log-viewer.js
  python/djust/components/static/djust_components/sortable-grid.js
  python/djust/components/static/djust_components/sortable-list.js
  tests/js/component_interactions_2985.test.js
  tests/playwright/test_component_interactions_2985.py
Due: npm-test, pytest

docs(templates): record two remaining block.super differences from Django (#2918)
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
Due: none

fix: green the supported-Python matrix on CPython 3.13.15 and 3.14.7 (#3366)
  changelog.d/ci-python-matrix-patch-releases.fixed.md
  crates/djust_templates/src/htmlparser.rs
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/tests/fixtures/striptags_reference_2273.json
  python/tests/test_striptags_parity_2273.py
  python/tests/test_truncate_slugify_parity_2262.py
  scripts/gen-striptags-reference.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: write every schema directive into the generated AI-context files; correct dj-input timing docs (#3367)
  NAMING_CONVENTION_PROPOSAL.md
  changelog.d/3353.fixed.md
  changelog.d/3356.documentation.md
  docs/ai/templates.md
  docs/llms-full.txt
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/ai-guardrails.md
  docs/website/guides/dj-paste.md
  docs/website/guides/live-input.md
  docs/website/guides/template-cheatsheet.md
  docs/website/guides/tutorial-form-validation.md
  docs/website/guides/tutorial-search-as-you-type.md
  python/djust/management/commands/djust_ai_context.py
  python/djust/schema.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_ai_context_every_directive_3353.py
  python/djust/tests/test_schema_directive_pins_3327.py
Due: pytest

feat(init): report the djust-first TEMPLATES shape; --templates adds it (#2884) (#3368)
  changelog.d/2884.changed.md
  docs/website/getting-started/installation.md
  docs/website/guides/scaffolding.md
  python/djust/cli.py
  python/djust/scaffolding/init_project.py
  python/djust/scaffolding/templates.py
  python/djust/tests/fixtures/startproject_settings_django_4_2.txt
  python/djust/tests/fixtures/startproject_settings_django_5_2.txt
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_djust_init_templates_2884.py
  tests/unit/test_scaffold_cli_config_v1_2_1_13.py
Due: pytest

feat: render the theme_context HTML lazily, keep the settings eager (#3028) (#3369)
  changelog.d/3028.changed.md
  docs/website/guides/components.md
  docs/website/guides/error-codes.md
  pyproject.toml
  python/djust/mixins/rust_bridge.py
  python/djust/tests/_eager_theme_context.py
  python/djust/tests/_eager_theme_context_3028.py
  python/djust/tests/test_theme_context_memoize_1727.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/tests/test_theming_lazy_context_3028.py
  python/djust/tests/test_theming_lazy_paths_3028.py
  python/djust/theming/_lazy_html.py
  python/djust/theming/rust_handlers.py
Due: pytest

feat: add @push_handler, an explicit marker for server-push-only handlers (#3370)
  changelog.d/3002.added.md
  docs/API_STABILITY.md
  docs/system-checks.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/decorators.md
  docs/website/guides/ai-guardrails.md
  docs/website/guides/api-stability.md
  docs/website/guides/error-codes.md
  python/djust/__init__.py
  python/djust/_parameter_metadata.py
  python/djust/api/dispatch.py
  python/djust/checks/bindings.py
  python/djust/checks/components.py
  python/djust/decorators.py
  python/djust/mixins/request.py
  python/djust/observability/views.py
  python/djust/schema.py
  python/djust/testing.py
  python/djust/tests/test_adr037_shared_discovery.py
  python/djust/tests/test_push_handler_marker_3002.py
  python/djust/time_travel.py
  python/djust/websocket.py
  python/djust/websocket_utils.py
Due: pytest

docs(adr): ADR-042 shared room clock (proposed) (#3371)
  docs/adr/042-shared-room-clock.md
Due: none

feat: connected() and disconnected() LiveView hooks, with a documented lifecycle contract (#3373)
  changelog.d/3007.added.md
  docs/website/api-reference/liveview.md
  python/djust/_child_lifecycle.py
  python/djust/mcp/server.py
  python/djust/runtime.py
  python/djust/schema.py
  python/djust/sse.py
  python/djust/tests/test_lifecycle_contract_3007.py
  python/djust/tests/test_realtime_v121_6.py
  python/djust/websocket.py
Due: pytest

fix: one ownership-aware root selection rule for the Python render and the Rust VDOM (#3031) (#3374)
  changelog.d/3031.fixed.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/parser.rs
  docs/website/guides/template-requirements.md
  python/djust/mixins/template.py
  python/djust/tests/test_root_locator_parity_3030.py
  python/djust/tests/test_root_selection_3031.py
  python/tests/fixtures/root_selection_3031.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: wait for the effect in the #2858 stale-closure cases instead of a fixed sleep
  tests/js/stale-closures-2858.test.js
Due: npm-test

fix(client): a slot that is removed and comes back mounts as new for its draft (#3351)
  docs/website/state/index.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/13b-view-slots.js
  tests/js/draft-mode-after-init-3351.test.js
Due: npm-test

fix(client): dj-model follow-ups, per-view debounce key, contenteditable, cheaper rescan (#3355)
  CLAUDE.md
  changelog.d/3355.fixed.md
  docs/website/guides/model-binding.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/20-model-binding.js
  tests/js/model_binding.test.js
Due: npm-test

fix(client): a control inside a contenteditable container sends its own value (#3355)
  docs/website/guides/model-binding.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/20-model-binding.js
  tests/js/model_binding.test.js
  tests/playwright/test_draft_model_after_patch_3351.py
Due: npm-test, pytest

fix(client): scope the draft re-restore, merge saves, rename-safe restore (#3351)
  changelog.d/3351.fixed.md
  docs/website/state/index.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/06-draft-manager.js
  tests/js/draft-mode-after-init-3351.test.js
Due: npm-test

fix(client): draft mode saves and restores fields that arrive after init (#3351)
  CLAUDE.md
  changelog.d/3351.fixed.md
  docs/website/state/index.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/draft-mode-after-init-3351.test.js
  tests/playwright/test_draft_model_after_patch_3351.py
Due: npm-test, pytest

fix(client): restore a slot's draft on its first mount only; a rename forgets edits (#3351)
  changelog.d/3351.fixed.md
  docs/website/state/index.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/06-draft-manager.js
  python/djust/static/djust/src/13b-view-slots.js
  tests/js/draft-mode-after-init-3351.test.js
Due: npm-test

feat(components): SortableList, SortableGrid, JsonViewer and LogViewer interactions (#2985) (#3375)
  changelog.d/2985.added.md
  changelog.d/2985.fixed.md
  docs/website/guides/hooks.md
  python/djust/components/components/json_viewer.py
  python/djust/components/components/log_viewer.py
  python/djust/components/components/sortable_grid.py
  python/djust/components/components/sortable_list.py
  python/djust/components/rust_handlers.py
  python/djust/components/static/djust_components/components.css
  python/djust/components/static/djust_components/json-viewer.js
  python/djust/components/static/djust_components/log-viewer.js
  python/djust/components/static/djust_components/sortable-grid.js
  python/djust/components/static/djust_components/sortable-list.js
  python/djust/components/templatetags/_dev_tools.py
  python/djust/components/templatetags/djust_components.py
  python/djust/components/utils.py
  python/djust/tests/test_catalogue_contract_truth.py
  python/djust/tests/test_component_interactions_2985.py
  python/djust/tests/test_json_viewer_css_2985.py
  python/djust/theming/gallery/component_registry.py
  tests/js/component_interactions_2985.test.js
  tests/playwright/README.md
  tests/playwright/test_component_interactions_2985.py
Due: npm-test, pytest

test(core): make the lazy block unit test independent of Django (#2918)
  crates/djust_core/src/context.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): lazy block.super for Python-bridged tags (#2918) (#3376)
  changelog.d/2918.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_COMPATIBILITY_LIMITS.md
  python/djust/_rust.pyi
  python/tests/test_block_super_bridge_lazy_2918.py
  python/tests/test_block_super_lazy_2710.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: list the AI Guardrails guide in the docs nav and the guides index
  changelog.d/3329.documentation.md
  docs/website/_config.yaml
  docs/website/index.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
