Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(templates): htmlparser.rs header says 3.12.10+/3.13, and a test keeps it true (#2289) (#2298)
  CHANGELOG.md
  crates/djust_templates/src/htmlparser.rs
  python/tests/test_htmlparser_header_accuracy_2289.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): a custom filter sees Django's SafeData markers (#2290)
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_registry_isolated.rs
  python/tests/test_custom_filter_safedata_2290.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): custom filters see Django's SafeData markers (#2290)
  CHANGELOG.md
Due: none

fix(templates): a custom filter sees Django's SafeData markers (#2290) (#2302)
  CHANGELOG.md
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_registry_isolated.rs
  python/tests/test_custom_filter_safedata_2290.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): record the #2287 context item-safety fix
  CHANGELOG.md
Due: none

fix(templates): seed item safety from the context, so join/unordered_list honour mark_safe'd elements (#2287)
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_needs_autoescape_2284.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): pin the #2290 interaction a context-sourced item grant creates
  crates/djust_templates/src/filter_registry.rs
  python/tests/test_context_item_safety_2287.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): re-measure #2287 against the post-#2302 baseline and record the interaction
  CHANGELOG.md
Due: none

fix(templates): seed item safety from the context, so join/unordered_list honour mark_safe'd elements (#2287) (#2304)
  CHANGELOG.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_needs_autoescape_2284.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(live): a safe-key grant must not outlive the value it was granted for (#2300)
  crates/djust_live/src/lib.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_stale_safe_grant_2300.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): stale safe-key grant (#2300)
  CHANGELOG.md
Due: none

fix(templates): match Django unordered list indentation
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

security(live): a safe-key grant must not outlive the value it was granted for (#2300) (#2307)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_stale_safe_grant_2300.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): match Django unordered list indentation (#2306)
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): item grant reaches the extractors and a marked tuple (#2299, #2305)
  CHANGELOG.md
Due: none

fix(templates): the item grant reaches the extractors, and a tuple carrying it (#2299, #2305)
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): the item grant reaches first/last/random, and a tuple carrying it (#2299, #2305) (#2316)
  CHANGELOG.md
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): |safe stringifies a scalar, and a randomised sweep pins unordered_list nesting (#2303, #2301)
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_custom_filter_safedata_2290.py
  python/tests/test_safe_stringifies_scalars_2303.py
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_unordered_list_indent_2301.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): |safe scalar stringify, and credit #2306 for the unordered_list indent (#2303, #2301)
  CHANGELOG.md
Due: none

fix(templates): |safe stringifies a scalar, and a randomised sweep pins unordered_list nesting (#2303) (#2318)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_context_item_safety_2287.py
  python/tests/test_custom_filter_safedata_2290.py
  python/tests/test_safe_stringifies_scalars_2303.py
  python/tests/test_string_filter_stringification_2250.py
  python/tests/test_unordered_list_indent_2301.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(ci): gate external PRs on a maintainer approval, and add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/external-pr-gate.yml
Due: none

chore(ci): gate external PRs on a maintainer approval, and add CODEOWNERS (#2323)
  .github/CODEOWNERS
  .github/workflows/external-pr-gate.yml
Due: none

fix(templates): stringformat %Ns width, center's tie-break and dict length (#2294)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_measuring_filter_parity_2294.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): stringformat %Ns width, center tie-break, dict length (#2294)
  CHANGELOG.md
Due: none

fix(templates): stringformat %Ns width, center's tie-break and dict length (#2294) (#2320)
  CHANGELOG.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_measuring_filter_parity_2294.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the tuple-shape rule, its enumeration and the three gaps it left (#2317, #2321)
  CHANGELOG.md
Due: none

fix(templates): a sequence filter returns the shape it was given (#2317, #2321)
  crates/djust_templates/src/filters.rs
  python/tests/test_sequence_shape_preservation_2317_2321.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): a sequence filter returns the shape it was given (#2317, #2321) (#2327)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  python/tests/test_sequence_shape_preservation_2317_2321.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): wordwrap is textwrap.TextWrapper, not a greedy re-joiner (#2293)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/textwrap.rs
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_wordwrap_parity_2293.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): CHANGELOG and filter-table entry for the wordwrap port (#2293)
  CHANGELOG.md
  docs/RUST_TEMPLATE_API.md
Due: none

fix(templates): wordwrap is textwrap.TextWrapper, not a greedy re-joiner (#2293) (#2329)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/textwrap.rs
  docs/RUST_TEMPLATE_API.md
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_wordwrap_parity_2293.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): escape non-ASCII non-printables, NFC-normalize truncatechars, NFKD-fold slugify (#2292, #2319)
  Cargo.lock
  Cargo.toml
  crates/djust_core/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/truncate.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_measuring_filter_parity_2294.py
  python/tests/test_py_repr_isprintable_table_2292.py
  python/tests/test_truncate_nfc_slugify_fold_2319.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the Unicode-tables decision for #2292 and #2319
  CHANGELOG.md
Due: none

fix(templates): the Unicode-tables decision — escape non-ASCII non-printables (#2292), NFC/NFKD for truncate and slugify (#2319) (#2330)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/djust_core/src/lib.rs
  crates/djust_templates/Cargo.toml
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/truncate.rs
  python/tests/test_length_pprint_parity_2279_2277.py
  python/tests/test_measuring_filter_parity_2294.py
  python/tests/test_py_repr_isprintable_table_2292.py
  python/tests/test_truncate_nfc_slugify_fold_2319.py
  python/tests/test_truncate_slugify_parity_2262.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): filtered tag operands and Python slice semantics (#2325, #2326)
  CHANGELOG.md
Due: none

fix(templates): resolve filtered tag operands, and slice by Python's rules (#2325, #2326)
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): name the follow-up issues in the adjacent-divergence pins (#2325)
  python/tests/test_filtered_operands_and_slice_2325_2326.py
Due: pytest

fix(templates): resolve filtered tag operands, and slice by Python's rules (#2325, #2326) (#2332)
  CHANGELOG.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): safeseq stringifies its items (#2324)
  CHANGELOG.md
Due: none

docs(tests): point the mark_item reachability note at #2337 (#2324)
  python/tests/test_context_item_safety_2287.py
  python/tests/test_custom_filter_safedata_2290.py
Due: pytest
