Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

ci: don't fail Security Hot Spot Check on a fork PR's read-only GITHUB_TOKEN
  .github/workflows/security-hotspot-check.yml
Due: none

fix(templates): regroup shadow-attr warning + docstring/comment accuracy (review)
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/__init__.py
  python/djust/template_tags/regroup.py
  python/djust/tests/test_regroup_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): add {% regroup %} feature entry under [Unreleased] (review #2023 blocking)
  CHANGELOG.md
Due: none

feat(templates): support Django {% regroup %} via built-in assign-tag handler (#2023)
  .github/workflows/security-hotspot-check.yml
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/checks/templates.py
  python/djust/template_tags/__init__.py
  python/djust/template_tags/regroup.py
  python/djust/test_isolation.py
  python/djust/tests/test_regroup_tag.py
  python/tests/test_checks.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(live): early, actionable error when ORM objects are stored in LiveView state (#2022)
  CHANGELOG.md
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/runtime.py
  python/djust/tests/test_mount_chokepoint_structural.py
  python/djust/tests/test_state_snapshot_orm_early_validation.py
Due: pytest

docs(debug-panel): document dockable panel + CHANGELOG entry
  CHANGELOG.md
  docs/website/advanced/debug-panel.md
Due: none

feat(debug-panel): dockable dev toolbar — bottom/left/right dock + drag resize
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/01-panel-ui.js
  python/djust/static/djust/src/debug/14c-panel-dock.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_panel_dock.test.js
Due: npm-test

feat(debug-panel): dockable dev toolbar — bottom/left/right dock + drag resize (#2040)
  CHANGELOG.md
  docs/website/advanced/debug-panel.md
  python/djust/static/djust/debug-panel.js
  python/djust/static/djust/debug-panel.min.js
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/debug/00-panel-core.js
  python/djust/static/djust/src/debug/01-panel-ui.js
  python/djust/static/djust/src/debug/14c-panel-dock.js
  python/djust/static/djust/src/debug/15-panel-controls.js
  tests/js/debug_panel_dock.test.js
Due: npm-test

refactor(templates): route CustomTag/AssignTag/BlockCustomTag arg resolution through one shared value_to_arg_string (#2042)
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

docs(changelog,roadmap): #2042 shared arg helper + open v1.1.0-9 bucket
  CHANGELOG.md
  ROADMAP.md
Due: none

refactor(templates): shared value_to_arg_string across all 3 tag-dispatch paths (#2042) (#2043)
  CHANGELOG.md
  ROADMAP.md
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_block_custom_tag_arg_json_2042.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix(templates): pass assign-tag keyword/name operands unresolved so a context key can't shadow regroup's <attr> (#2041)
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_tags/__init__.py
  python/djust/template_tags/regroup.py
  python/djust/tests/test_regroup_tag.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): #2041 durable regroup operand-shadow fix
  CHANGELOG.md
Due: none

security(theming): sanitize cookie-derived values before debug logging
  python/djust/tests/test_theming_log_injection.py
  python/djust/theming/manager.py
Due: pytest

docs(changelog): note theming log-injection sanitization (#2563-#2569)
  CHANGELOG.md
Due: none

fix(scaffold): read DJUST_SQLITE_PATH for the DB so `djust new` deploys on a read-only rootfs (#1983)
  CHANGELOG.md
  python/djust/tests/test_scaffold_db_path.py
Due: pytest

docs(changelog): restore shipped [1.1.0rc5] section corrupted by merge=union (#2028)
  CHANGELOG.md
Due: none

Bump version to 1.1.0rc7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(adr): ADR-025 — JS extension sockets (JS.ext.* custom commands + hardened dj-hook values/targets)
  docs/adr/025-js-extension-sockets.md
Due: none

feat(js-commands): JS.ext.* dynamic factory for custom command ops (ADR-025)
  python/djust/js.py
  python/djust/tests/test_js_ext_commands.py
Due: pytest

feat(js-commands): client registry + dispatch for ext.* custom commands (ADR-025)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/26-js-commands.js
  tests/js/js_ext_commands.test.js
Due: npm-test

docs(js-commands): custom commands guide section + CHANGELOG (ADR-025)
  CHANGELOG.md
  docs/website/guides/js-commands.md
Due: none

fix(js-commands): enforce snake_case for JS.ext names + typed Callable return (ADR-025 review)
  python/djust/js.py
  python/djust/tests/test_js_ext_commands.py
Due: pytest

feat(js-commands): JS.ext.* user-registered custom commands (ADR-025) (#2051)
  CHANGELOG.md
  docs/website/guides/js-commands.md
  python/djust/js.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/debug-panel.min.js.br
  python/djust/static/djust/debug-panel.min.js.gz
  python/djust/static/djust/debug-panel.min.js.map
  python/djust/static/djust/src/26-js-commands.js
  python/djust/tests/test_js_ext_commands.py
  tests/js/js_ext_commands.test.js
Due: npm-test, pytest

feat(hooks): typed values (dj-hook-value-*) + scoped targets (dj-hook-target) on hook instances (ADR-025)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/19-hooks.js
  tests/js/hook_values_targets.test.js
Due: npm-test

feat(types): ship djust.d.ts — ambient declarations for the public window.djust surface (ADR-025)
  python/djust/static/djust/djust.d.ts
Due: none

fix(types): declare beforeUpdate hook lifecycle + checkJs usage note in djust.d.ts (ADR-025 review)
  python/djust/static/djust/djust.d.ts
Due: none

docs(hooks): typed values & targets guide + TS support note + CHANGELOG (ADR-025)
  CHANGELOG.md
  docs/website/guides/hooks.md
Due: none

fix(types): restore shipped djust.d.ts and graft ADR-025 additions instead of replacing it
  python/djust/static/djust/djust.d.ts
Due: none

docs(hooks): correct d.ts claims — file pre-existed, ADR-025 additions are grafts (review)
  CHANGELOG.md
  docs/website/guides/hooks.md
Due: none

test(types): pin ADR-025 d.ts grafts + document values non-enumerability + drop dead import (review)
  docs/website/guides/hooks.md
  python/djust/static/djust/djust.d.ts
  python/tests/test_typescript_definitions.py
  tests/js/hook_values_targets.test.js
Due: npm-test, pytest

docs(examples): ADR-025 recipes — custom-command patterns + typed-values/targets recipes
  docs/website/guides/hooks.md
  docs/website/guides/js-commands.md
Due: none

feat(hooks): typed values, scoped targets, djust.d.ts grafts (ADR-025) (#2052)
  CHANGELOG.md
  docs/website/guides/hooks.md
  docs/website/guides/js-commands.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/djust.d.ts
  python/djust/static/djust/src/19-hooks.js
  python/tests/test_typescript_definitions.py
  tests/js/hook_values_targets.test.js
Due: npm-test, pytest

feat(theming): five new built-in themes — sakura, obsidian, dune, mission_control, art_nouveau
  python/djust/tests/test_theming_new_themes_v11.py
  python/djust/tests/test_theming_no_cyclic_import.py
  python/djust/theming/_builtin_presets.py
  python/djust/theming/theme_packs.py
  python/djust/theming/themes/art_nouveau.py
  python/djust/theming/themes/dune.py
  python/djust/theming/themes/mission_control.py
  python/djust/theming/themes/obsidian.py
  python/djust/theming/themes/sakura.py
Due: pytest

docs(changelog): five new built-in themes entry
  CHANGELOG.md
Due: none

fix(theming): review fixes — card_hover vocab, icon weight vocab, distinctness docstring, muted AA threshold (PR #2056 review)
  python/djust/tests/test_theming_new_themes_v11.py
  python/djust/theming/themes/art_nouveau.py
  python/djust/theming/themes/obsidian.py
  python/djust/theming/themes/sakura.py
Due: pytest

feat(theming): five new built-in themes — Sakura, Obsidian, Dune, Mission Control, Art Nouveau (#2056)
  CHANGELOG.md
  python/djust/tests/test_theming_new_themes_v11.py
  python/djust/tests/test_theming_no_cyclic_import.py
  python/djust/theming/_builtin_presets.py
  python/djust/theming/theme_packs.py
  python/djust/theming/themes/art_nouveau.py
  python/djust/theming/themes/dune.py
  python/djust/theming/themes/mission_control.py
  python/djust/theming/themes/obsidian.py
  python/djust/theming/themes/sakura.py
Due: pytest

Bump version to 1.1.0rc8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/025-js-extension-sockets.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(internal): July 2026 improvement brainstorm — 18 grounded ideas across 8 categories
  docs/internal/IMPROVEMENT_BRAINSTORM-2026-07.md
Due: none

docs(roadmap): add v1.1.0-10 brainstorm-shortlist drain bucket (#2057–#2062)
  ROADMAP.md
Due: none
