Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: worker_pool logs the invalid value, not the exception (log-exposure pin) (#3074)
  python/djust/worker_pool.py
Due: pytest

docs: C021 row and entry in system-checks.md (#3074)
  docs/system-checks.md
Due: none

fix: worker pool review — instance _depth, cursor lock only for the local cache, outer-context debug log; crash/outer-context tests (#3074)
  python/djust/presence.py
  python/djust/serialization.py
  python/djust/tests/test_worker_pool_3074.py
  python/djust/worker_pool.py
Due: pytest

docs: worker_threads — head-of-line blocking, and only claims the measurements support (#3074 review)
  docs/website/guides/deployment.md
Due: none

chore: mark the DjangoJSONEncoder instance _depth setter as a compatibility accessor (#3074)
  python/djust/serialization.py
Due: pytest

feat: scoped server push, push_to_view(..., scope=) and LiveView.push_scope (#3004)
  python/djust/live_view.py
  python/djust/push.py
  python/djust/runtime.py
  python/djust/tests/test_scoped_push_3004.py
  python/djust/websocket.py
Due: pytest

docs: scoped push in the server-push guide and LiveView reference; changelog (#3004)
  changelog.d/3004.added.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/liveview.md
Due: none

test: pin the instance spelling of DjangoJSONEncoder._depth (#3074 re-review)
  python/djust/tests/test_worker_pool_thread_safety_3074.py
Due: pytest

docs: the knee moved with 3.14t, not with the pool alone; fragment counts (#3074 re-review)
  changelog.d/3074-thread-safety.fixed.md
  changelog.d/3074-worker-pool.added.md
  docs/website/guides/deployment.md
Due: none

feat(components): ADR-034 C2 dropdown pilot in a real browser; SSE/HTTP transport fixes
  changelog.d/adr-034-transport-fixes.fixed.md
  docs/adr/component-conventions-implementation.md
  examples/demo_project/djust_demos/templates/demos/interactive_dropdown.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/interactive_dropdown_demo.py
  python/djust/mixins/request.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/11-event-handler.js
  python/djust/tests/test_http_zero_patch_version.py
  tests/js/dj-cloak.test.js
  tests/js/dj-input-click-widgets.test.js
  tests/js/http-request-correlation.test.js
  tests/js/native-dropdown-observations.test.js
  tests/js/sse-mount-prerender-morph.test.js
  tests/js/ws-mount-prerender-divergence-1610.test.js
  tests/js/ws-mount-prerender-divergence-1813-sticky-djid.test.js
  tests/playwright/README.md
  tests/playwright/_transports.py
  tests/playwright/test_interactive_dropdown.py
  tests/playwright/test_model_form.py
  tests/playwright/test_strict_parameters.py
Due: npm-test, pytest

perf: opt-in pinned session worker pool, LIVEVIEW_CONFIG["worker_threads"] (#3074 2/7) (#3091)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-thread-safety.fixed.md
  changelog.d/3074-worker-pool.added.md
  docs/system-checks.md
  docs/website/guides/deployment.md
  docs/website/guides/error-codes.md
  python/djust/checks/configuration.py
  python/djust/components/base.py
  python/djust/config.py
  python/djust/mixins/jit.py
  python/djust/presence.py
  python/djust/serialization.py
  python/djust/tenants/backends.py
  python/djust/tests/test_worker_pool_3074.py
  python/djust/tests/test_worker_pool_thread_safety_3074.py
  python/djust/utils.py
  python/djust/websocket.py
  python/djust/worker_pool.py
Due: pytest

docs(retro): #3074 PR 2/7 retro entry; mark its ROADMAP row shipped
  RETRO.md
  ROADMAP.md
Due: none

docs(adr): record ordered HTTP events decision and #3097
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/component-conventions-implementation.md
Due: none

fix: scoped push review — list/tuple/set only (max 64), no sync for a replaced view, sync after tick and handle_info, retry a failed leave (#3004)
  python/djust/live_view.py
  python/djust/push.py
  python/djust/runtime.py
  python/djust/tests/test_scoped_push_3004.py
  python/djust/websocket.py
Due: pytest

docs: scoped push — accepted types, the 64-scope cap, which turns move a session, restore (#3004 review)
  changelog.d/3004.added.md
  docs/website/advanced/server-push.md
Due: none

perf: move per-frame work off the event loop when the worker pool is on (#3074)
  python/djust/_background_render.py
  python/djust/runtime.py
  python/djust/tests/test_event_loop_offload_3074.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  python/djust/worker_pool.py
Due: pytest

fix: warn once for an invalid push_scope; tests for the tick, handle_info, retry and warn-once paths (#3004 re-review)
  changelog.d/3004.added.md
  python/djust/push.py
  python/djust/tests/test_scoped_push_3004.py
Due: pytest

feat: scoped server push, push_to_view(..., scope=) and LiveView.push_scope (#3004, #3074 3/7) (#3096)
  RETRO.md
  ROADMAP.md
  changelog.d/3004.added.md
  docs/website/advanced/server-push.md
  docs/website/api-reference/liveview.md
  python/djust/live_view.py
  python/djust/push.py
  python/djust/runtime.py
  python/djust/tests/test_scoped_push_3004.py
  python/djust/websocket.py
Due: pytest

feat(components): ADR-034 C3 keyed DropdownMenu collections
  changelog.d/adr-034-collections.added.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/component-conventions-implementation.md
  examples/demo_project/djust_demos/templates/demos/interactive_collection.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/interactive_collection_demo.py
  python/djust/_exposure_providers.py
  python/djust/_interactive_snapshots.py
  python/djust/components/_interactive.py
  python/djust/components/base.py
  python/djust/live_view.py
  python/djust/live_view.pyi
  python/djust/mixins/components.py
  python/djust/mixins/context.py
  python/djust/mixins/request.py
  python/djust/runtime.py
  python/djust/serialization.py
  python/djust/tests/test_adr034_delegated_rows.py
  python/djust/tests/test_bound_component_adr031.py
  python/djust/tests/test_interactive_collections_c3.py
  tests/playwright/README.md
  tests/playwright/test_interactive_collection.py
  tests/typing_component_bindings/negative.py
  tests/typing_component_bindings/positive.py
Due: pytest

fix: the offloaded push turn syncs push_scope like the stock turn (#3004 + #3074)
  python/djust/tests/test_event_loop_offload_3074.py
  python/djust/websocket.py
Due: pytest

docs: event-loop offload in the worker_threads section; changelog; PR 3/7 retro and ROADMAP row (#3074)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-offload.changed.md
  docs/website/guides/deployment.md
Due: none

perf: djust.layers.InMemoryChannelLayer, a rate-limited expiry sweep (#3074)
  python/djust/layers.py
  python/djust/tests/test_inmemory_layer_3074.py
Due: pytest

docs: recommend djust.layers.InMemoryChannelLayer for single-process deployments; changelog (#3074)
  changelog.d/3074-layer.added.md
  docs/website/guides/deployment.md
Due: none

ci: free-threaded cp314t wheels in the release matrix; a blocking 3.14t job that runs the multi-core subset with the GIL asserted off (#3074)
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
  python/djust/tests/test_free_threaded_contract_3074.py
Due: pytest

test(components): ADR-034 C4 acceptance matrix; HTTP fallback reports djust:error
  changelog.d/http-fallback-error-event.fixed.md
  docs/adr/component-conventions-implementation.md
  examples/demo_project/djust_demos/templates/demos/interactive_acceptance.html
  examples/demo_project/djust_demos/templates/demos/interactive_nav.html
  examples/demo_project/djust_demos/urls.py
  examples/demo_project/djust_demos/views/__init__.py
  examples/demo_project/djust_demos/views/interactive_acceptance_demo.py
  examples/demo_project/djust_demos/views/interactive_nav_demo.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/http-fallback-error-event.test.js
  tests/playwright/README.md
  tests/playwright/test_interactive_acceptance.py
  tests/playwright/test_interactive_navigation.py
Due: npm-test, pytest

docs(components): ADR-034 C4 interactive components guide and generated reference; ADR-034 accepted
  .pre-commit-config.yaml
  Makefile
  changelog.d/adr-034-docs.documentation.md
  docs/adr/034-component-scoped-events-and-bindings.md
  docs/adr/component-conventions-implementation.md
  docs/ai/components.md
  docs/website/_config.yaml
  docs/website/api-reference/components.md
  docs/website/core-concepts/components.md
  docs/website/guides/interactive-components.md
  python/djust/components/_interactive.py
  python/djust/tests/test_adr034_documented_examples.py
  scripts/generate-interactive-reference.py
  tests/js/interactive-nested-ownership.test.js
  tests/test_generate_interactive_reference.py
Due: npm-test, pytest

docs(adr): record ADR-034 C4 full-suite results
  docs/adr/component-conventions-implementation.md
Due: none

docs(adr): track the legacy signed-snapshot finding as #3098
  docs/adr/component-conventions-implementation.md
Due: none

fix: offloaded push turn review — a render error still dispatches queued work; the connection check sits inside the lock-releasing try; per-hook view check (#3074)
  changelog.d/3074-offload.changed.md
  python/djust/tests/test_event_loop_offload_3074.py
  python/djust/websocket.py
Due: pytest

fix: sync push_scope before surfacing a render error in the offloaded push turn (#3074 re-review nit)
  python/djust/websocket.py
Due: pytest

refactor(adr-037): one class-level handler discovery for dispatch and checks
  docs/adr/037-event-contract-checks-and-executable-documentation.md
  python/djust/_parameter_metadata.py
  python/djust/checks/parameters.py
  python/djust/tests/test_adr037_shared_discovery.py
Due: pytest

refactor(adr-037)!: retire djust.V007
  changelog.d/adr-037-v007-retired.removed.md
  docs/system-checks.md
  docs/website/guides/BEST_PRACTICES.md
  docs/website/guides/error-codes.md
  python/djust/checks/components.py
  python/djust/tests/test_parameter_contract_checks.py
  python/tests/test_checks.py
  python/tests/test_checks_1607_suppress.py
Due: pytest

refactor(adr-037): djust_audit and the AI schema list handlers through the shared discovery
  python/djust/management/commands/djust_audit.py
  python/djust/tests/test_adr037_shared_discovery.py
Due: pytest

perf: move per-frame work off the event loop when the worker pool is on (#3074 4/7) (#3100)
  RETRO.md
  ROADMAP.md
  changelog.d/3074-offload.changed.md
  docs/website/guides/deployment.md
  python/djust/_background_render.py
  python/djust/runtime.py
  python/djust/tests/test_event_loop_offload_3074.py
  python/djust/tests/test_ws_send_version_1788.py
  python/djust/websocket.py
  python/djust/worker_pool.py
Due: pytest

docs(retro): #3074 PR 4/7 retro entry; mark its ROADMAP row shipped
  RETRO.md
  ROADMAP.md
Due: none

docs(adr-037): legacy form-event handlers still need a catch-all
  docs/website/guides/BEST_PRACTICES.md
Due: none

test: write fixture templates to tmp_path, not the watched demo template tree (#3099)
  python/djust/tests/test_object_perm_render_paths.py
  tests/integration/test_dj_root_in_script_comment_2663.py
Due: pytest

docs: changelog for the cp314t wheels and the blocking 3.14t CI job (#3074)
  changelog.d/3074-cp314t.added.md
Due: none

docs: state that an expired message may still be delivered within clean_interval (#3074 review)
  docs/website/guides/deployment.md
  python/djust/layers.py
Due: pytest

feat(adr-037): check template event bindings against their owners (T019-T022)
  changelog.d/adr-037-binding-checks.added.md
  docs/system-checks.md
  docs/website/guides/error-codes.md
  python/djust/_template_bindings.py
  python/djust/checks/__init__.py
  python/djust/checks/bindings.py
  python/djust/management/commands/djust_check.py
  python/djust/tests/test_adr037_binding_checks.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
