Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs(roadmap): add 8 review-filed issues to the v1.2.0-6 drain bucket
  ROADMAP.md
Due: none

fix: consume a deferred tick/async patch's version at buffer time (#2829)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/tick_buffer_version_desync_2829.test.js
Due: npm-test

docs: changelog fragment for #2829
  changelog.d/2829.fixed.md
Due: none

fix: address #2835 review — presence identity, synthetic id, WS-shaped instance
  python/djust/presence.py
  python/djust/testing.py
  python/djust/tests/test_testclient_websocket_fidelity_2821.py
Due: pytest

docs: changelog fragment — presence identity, and recount the new cases
  changelog.d/2821.fixed.md
Due: none

fix: address #2836 review — contiguity guard, and strip on every transport
  CLAUDE.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/sse.test.js
  tests/js/tick_buffer_version_desync_2829.test.js
Due: npm-test

docs: changelog fragment — contiguity guard, per-transport strip, recount
  changelog.d/2829.fixed.md
Due: none

fix: the declined-version decision must survive to the flush (#2836 re-review)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/tick_buffer_version_desync_2829.test.js
Due: npm-test

docs: changelog fragment — the noop-close path, and recount to 7
  changelog.d/2829.fixed.md
Due: none

test: restore the SSE security suite, and make the caller-set pin durable
  tests/js/safe_nav.test.js
  tests/js/tick_buffer_version_desync_2829.test.js
Due: npm-test

fix: the async-work render path must serialise on _render_lock (#2830)
  python/djust/tests/test_async_work_render_lock_2830.py
  python/djust/websocket.py
Due: pytest

docs: changelog fragment for #2830
  changelog.d/2830.fixed.md
Due: none

fix: the async-work ERROR arm must hold the render lock too (#2830 review)
  python/djust/tests/test_async_work_render_lock_2830.py
  python/djust/websocket.py
Due: pytest

docs: changelog fragment — both async render arms, recount to 2
  changelog.d/2830.fixed.md
Due: none

fix: dispatch every dotted dj-keydown/dj-keyup binding on the path (#2831)
  CLAUDE.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/keydown_dotted_modifier_2831.test.js
Due: npm-test

docs: changelog fragment for #2831
  changelog.d/2831.fixed.md
Due: none

fix: mount LiveViewTestClient via the WebSocket path, and raise on a missing handler (#2821, #2823)
  changelog.d/2821.fixed.md
  changelog.d/2823.fixed.md
  python/djust/presence.py
  python/djust/testing.py
  python/djust/tests/test_testclient_send_event_raises_2823.py
  python/djust/tests/test_testclient_websocket_fidelity_2821.py
  python/tests/test_testing_utils.py
Due: pytest

fix: a buffered tick/async patch must not desync the VDOM version (#2829)
  CLAUDE.md
  changelog.d/2829.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/02-response-handler.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/11-event-handler.js
  tests/js/safe_nav.test.js
  tests/js/sse.test.js
  tests/js/tick_buffer_version_desync_2829.test.js
Due: npm-test

fix: the async-work render path must serialise on _render_lock (#2830)
  changelog.d/2830.fixed.md
  python/djust/tests/test_async_work_render_lock_2830.py
  python/djust/websocket.py
Due: pytest

fix: dotted dj-keydown/dj-keyup modifiers never fired (#2831)
  CLAUDE.md
  changelog.d/2831.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/keydown_dotted_modifier_2831.test.js
Due: npm-test

fix: route both scoped-listener paths through one eviction predicate (#2832)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/stale-scoped-listeners-2832.test.js
Due: npm-test

docs: add changelog fragment for #2832
  changelog.d/2832.fixed.md
Due: none

fix: resolve _skip_render vs _force_full_html identically on every render path (#2834)
  python/djust/runtime.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/websocket.py
Due: pytest

docs: add changelog fragment for the shared skip-render decision (#2834)
  changelog.d/2834.fixed.md
Due: none

fix: shard-collection probe must preserve the ambient PYTHONPATH, not clobber it
  tests/test_ci_python_test_shards.py
Due: pytest

fix: V008 annotation escape hatch reachability and T018 mixin-context/extends-skip visibility (#2825, #2827, #2833)
  python/djust/checks/components.py
  python/djust/checks/templates.py
  python/djust/forms.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  python/tests/test_checks_t018_extends_skip_info_2833.py
  python/tests/test_checks_v008_escape_hatch_2825.py
Due: pytest

docs: correct T018 coverage claim and document the reported extends skip; changelog fragments (#2825, #2827, #2833)
  changelog.d/2825.fixed.md
  changelog.d/2827.fixed.md
  changelog.d/2833.fixed.md
  docs/system-checks.md
Due: none

fix: route both scoped-listener paths through one eviction predicate (#2832)
  changelog.d/2832.fixed.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/09-event-binding.js
  tests/js/stale-scoped-listeners-2832.test.js
Due: npm-test

fix: V008 annotation escape hatch reachability + T018 mixin context and extends-skip visibility
  changelog.d/2825.fixed.md
  changelog.d/2827.fixed.md
  changelog.d/2833.fixed.md
  docs/system-checks.md
  python/djust/checks/components.py
  python/djust/checks/templates.py
  python/djust/forms.py
  python/djust/management/commands/djust_typecheck.py
  python/djust/tests/test_djust_typecheck.py
  python/tests/test_checks_t018_extends_skip_info_2833.py
  python/tests/test_checks_v008_escape_hatch_2825.py
Due: pytest

fix: resolve _skip_render vs _force_full_html identically on every render path (#2834)
  changelog.d/2834.fixed.md
  python/djust/runtime.py
  python/djust/tests/test_skip_render_force_parity_2834.py
  python/djust/websocket.py
  tests/test_ci_python_test_shards.py
Due: pytest

docs(retro): milestone v1.2.0-6 + action tracker update
  CLAUDE.md
  RETRO.md
  ROADMAP.md
Due: none

docs(retro): backfill 14 un-retro'd drain buckets (v1.1.0-9 .. v1.2.0-5)
  RETRO.md
Due: none

docs(patterns,retro,checks): pattern wiki, 14-bucket retro backfill, and milestone coverage enforcement
  .pre-commit-config.yaml
  CLAUDE.md
  RETRO.md
  docs/patterns/README.md
  docs/patterns/TEMPLATE.md
  docs/patterns/parallel-path-drift.md
  docs/patterns/unverified-claim.md
  scripts/check-retro-coverage.py
Due: pytest

docs(patterns,retro,checks): pattern wiki, 14-bucket retro backfill, and milestone coverage enforcement (#2850)
  .pre-commit-config.yaml
  CLAUDE.md
  RETRO.md
  docs/patterns/README.md
  docs/patterns/TEMPLATE.md
  docs/patterns/parallel-path-drift.md
  docs/patterns/unverified-claim.md
  scripts/check-retro-coverage.py
Due: pytest

fix(security): enforce all three authorization layers on the HTTP POST transport
  changelog.d/post-transport-authz.fixed.md
  python/djust/mixins/request.py
  python/tests/test_http_post_authz.py
Due: pytest

docs: fix broken links, dead anchors, and two phantom APIs
  docs/website/api-reference/decorators.md
  docs/website/getting-started/core-concepts.md
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/dj-paste.md
  docs/website/guides/http-api.md
  docs/website/guides/js-commands.md
  docs/website/guides/loading-states.md
  docs/website/guides/migrating-from-django-tenants.md
  docs/website/guides/server-driven-ui.md
  docs/website/guides/service-worker.md
  docs/website/guides/time-travel-debugging.md
  docs/website/guides/tutorials.md
  docs/website/state/index.md
Due: none

feat: export the theming model and add LiveComponentTestClient
  changelog.d/live-component-test-client.added.md
  changelog.d/theming-request-helpers.added.md
  python/djust/testing.py
  python/djust/tests/test_live_component_test_client.py
  python/djust/tests/test_theming_request_helpers.py
  python/djust/theming/__init__.py
  python/djust/theming/api.py
  python/djust/theming/context_processors.py
  python/djust/theming/manager.py
Due: pytest

fix(docs): un-hide the scaffolding guide, ignored since April
  .gitignore
  docs/website/guides/scaffolding.md
Due: none

docs: merge the project-scaffolding sections into the scaffolding guide
  docs/website/guides/scaffolding.md
Due: none

docs: un-hide a page ignored since April, fix 20+ documented defects, export the theming model (#2851)
  .gitignore
  changelog.d/live-component-test-client.added.md
  changelog.d/theming-request-helpers.added.md
  docs/website/api-reference/decorators.md
  docs/website/getting-started/core-concepts.md
  docs/website/guides/declarative-ux-attrs.md
  docs/website/guides/dj-paste.md
  docs/website/guides/http-api.md
  docs/website/guides/js-commands.md
  docs/website/guides/loading-states.md
  docs/website/guides/migrating-from-django-tenants.md
  docs/website/guides/scaffolding.md
  docs/website/guides/server-driven-ui.md
  docs/website/guides/service-worker.md
  docs/website/guides/time-travel-debugging.md
  docs/website/guides/tutorials.md
  docs/website/state/index.md
  python/djust/testing.py
  python/djust/tests/test_live_component_test_client.py
  python/djust/tests/test_theming_request_helpers.py
  python/djust/theming/__init__.py
  python/djust/theming/api.py
  python/djust/theming/context_processors.py
  python/djust/theming/manager.py
Due: pytest
