Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

fix(ci): add the benchmark job conftest.py has always claimed exists (#2156)
  .github/workflows/test.yml
  tests/benchmarks/conftest.py
  tests/test_benchmark_enforcement_2156.py
Due: pytest

docs(changelog): the benchmark job now exists (#2156)
  CHANGELOG.md
Due: none

fix(ci): make the promotion pin able to see the state it guards (#2156)
  .github/workflows/test.yml
  tests/benchmarks/conftest.py
  tests/test_benchmark_enforcement_2156.py
Due: pytest

docs(changelog): Stage 11 findings on the promotion pin (#2156)
  CHANGELOG.md
Due: none

fix(ci): add the benchmark job conftest.py has always claimed exists (#2156) (#2159)
  .github/workflows/test.yml
  CHANGELOG.md
  tests/benchmarks/conftest.py
  tests/test_benchmark_enforcement_2156.py
Due: pytest

fix(test): stop asserting a time-bounded save as if it were guaranteed (#2154)
  python/djust/runtime.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

docs(changelog): time-bounded save assertions (#2154)
  CHANGELOG.md
Due: none

fix(test): cover the whole save-timeout class, and pin both handlers (#2154)
  python/djust/tests/conftest.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/djust/tests/test_sticky_child_restore_1471_18b.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

docs(changelog): the save-timeout class is 13 tests (#2154)
  CHANGELOG.md
Due: none

fix(test): stop asserting a time-bounded save as if it were guaranteed (#2154) (#2161)
  CHANGELOG.md
  python/djust/runtime.py
  python/djust/tests/conftest.py
  python/djust/tests/test_runtime_state_save_tt_1894.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  python/djust/tests/test_sticky_child_restore_1471_18b.py
  python/djust/tests/test_ws_reconnect_state_1465.py
Due: pytest

ci: promote the benchmarks job to a blocking merge gate (#2160)
  .github/workflows/test.yml
  tests/test_benchmark_enforcement_2156.py
Due: pytest

docs(changelog): promote the benchmarks gate (#2160)
  CHANGELOG.md
Due: none

ci: say what the promotion actually buys (#2160)
  .github/workflows/test.yml
  tests/benchmarks/conftest.py
  tests/test_benchmark_enforcement_2156.py
Due: pytest

docs(changelog): correct the merge-gate claim (#2160, #2163)
  CHANGELOG.md
Due: none

ci: promote the benchmarks job to fail the aggregate check (#2160) (#2162)
  .github/workflows/test.yml
  CHANGELOG.md
  tests/benchmarks/conftest.py
  tests/test_benchmark_enforcement_2156.py
Due: pytest

Bump version to 1.1.0rc9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/026-dj-virtual-differ-awareness.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

feat(vdom): give virtual_keyed_ops a Python switch — default stays OFF (#2017)
  crates/djust_live/src/lib.rs
  examples/demo_project/djust_tests/templates/djust_tests/virtual_keyed_demo.html
  examples/demo_project/djust_tests/urls.py
  examples/demo_project/djust_tests/views/virtual_keyed_demo.py
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(adr): record the #2017 browser-gate result in ADR-026 (#2164)
  docs/adr/026-dj-virtual-differ-awareness.md
  python/djust/config.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: pytest

docs(changelog): virtual_keyed_ops config switch, default OFF (#2017, #2164)
  CHANGELOG.md
Due: none

test: read the comment block, not a byte window (#2017)
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: pytest

fix(vdom): correct the #2017 gate's recorded cause — it was not windowing (#2164)
  crates/djust_vdom/src/diff.rs
  examples/demo_project/djust_tests/templates/tests/virtual_keyed_demo.html
  examples/demo_project/djust_tests/urls.py
  examples/demo_project/djust_tests/views/__init__.py
  examples/demo_project/djust_tests/views/test_index.py
  examples/demo_project/djust_tests/views/virtual_keyed_demo.py
  python/djust/apps.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): the #2017 gate's real finding — client applier, not windowing (#2164)
  CHANGELOG.md
Due: none

docs(adr): ADR-026 records the client applier as the blocker, not windowing
  docs/adr/026-dj-virtual-differ-awareness.md
Due: none

feat(vdom): give virtual_keyed_ops a Python switch — default stays OFF (#2017) (#2165)
  CHANGELOG.md
  crates/djust_live/src/lib.rs
  crates/djust_vdom/src/diff.rs
  docs/adr/026-dj-virtual-differ-awareness.md
  examples/demo_project/djust_tests/templates/tests/virtual_keyed_demo.html
  examples/demo_project/djust_tests/urls.py
  examples/demo_project/djust_tests/views/__init__.py
  examples/demo_project/djust_tests/views/test_index.py
  examples/demo_project/djust_tests/views/virtual_keyed_demo.py
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(config): read Django settings, not the import-time singleton (#2164)
  python/djust/apps.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: pytest

docs(changelog): settings-vs-singleton config read at startup (#2164, #2166)
  CHANGELOG.md
Due: none

fix(config): recover the settings load at startup, not per call site (#2164, #2166)
  examples/demo_project/demo_project/asgi.py
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_config_settings_recovery_2166.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: pytest

docs(changelog): correct the #2164 mechanism and scope, name the four other inert flags
  CHANGELOG.md
Due: none

fix(config): recover the settings load at startup, not per call site (#2164, #2166) (#2167)
  CHANGELOG.md
  examples/demo_project/demo_project/asgi.py
  python/djust/apps.py
  python/djust/config.py
  python/djust/tests/test_config_settings_recovery_2166.py
  python/djust/tests/test_virtual_keyed_config_2017.py
Due: pytest

fix(ci): move CI to Node 24 so jsdom 30 can land, closing 5 undici advisories
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/25-page-metadata.js
Due: npm-test

docs(changelog): CI Node 24 unblocks jsdom 30, closing 5 undici advisories (#2169)
  CHANGELOG.md
Due: none

security(deps): cryptography 49.0.0 -> 50.0.0, pyOpenSSL 26.3.0 -> 26.4.0 (#146)
  uv.lock
Due: none

docs(changelog): cryptography 50 / pyOpenSSL 26.4 security bump (#146)
  CHANGELOG.md
Due: none

security(validation): cap the client-supplied parameter name in the near-miss warning (#2579)
  python/djust/tests/test_swallowed_kwargs_warning_2144.py
  python/djust/validation.py
Due: pytest

docs(changelog): unbounded client-controlled parameter name in the near-miss log (#2579)
  CHANGELOG.md
Due: none

security(deps): cryptography 49.0.0 → 50.0.0, pyOpenSSL 26.3.0 → 26.4.0 (#146) (#2174)
  CHANGELOG.md
  uv.lock
Due: none

security(validation): cap the client-supplied parameter name in the near-miss warning (#2579) (#2175)
  CHANGELOG.md
  python/djust/tests/test_swallowed_kwargs_warning_2144.py
  python/djust/validation.py
Due: pytest

security(deps): postcss 8.5.20 -> 8.5.25 — source-map path traversal (#147)
  CHANGELOG.md
  package-lock.json
Due: none

deps: jsdom 30.0.0 -> 30.0.1, matching the refiled dependabot bump (#2178)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(ci): move CI to Node 24 so jsdom 30 can land, closing 5 undici advisories (#2169) (#2173)
  .github/workflows/pre-release-security-audit.yml
  .github/workflows/test.yml
  CHANGELOG.md
  package-lock.json
  package.json
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/25-page-metadata.js
Due: npm-test
