Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(vdom): morph whitespace-separated SSR children in place on first hydration (#1724)
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/ssr_hydration_morph_1724.test.js
Due: npm-test

docs(changelog): SSR hydration whitespace-misalignment morph fix (#1724)
  CHANGELOG.md
Due: none

fix(vdom): morph whitespace-separated SSR children in place on first hydration (#1724) (#1725)
  CHANGELOG.md
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/client.min.js.br
  python/djust/static/djust/client.min.js.gz
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/12-vdom-patch.js
  tests/js/ssr_hydration_morph_1724.test.js
Due: npm-test

fix(templates): propagate context-processor vars into {% include %} (#1722)
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/rust_bridge.py
  python/tests/test_context_processors_in_includes_1722.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): note context-processor vars in {% include %} fix (#1722)
  CHANGELOG.md
Due: none

fix(templates): propagate context-processor vars into {% include %} (#1722) (#1726)
  CHANGELOG.md
  crates/djust_templates/src/renderer.rs
  python/djust/mixins/rust_bridge.py
  python/tests/test_context_processors_in_includes_1722.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(theming): register theme tags as Rust tag handlers so {% theme_panel %} works (#1721)
  python/djust/tests/test_theme_tags_rust_engine_1721.py
  python/djust/theming/apps.py
  python/djust/theming/rust_handlers.py
Due: pytest

docs(theming): document {% theme_X %} tag form works in Rust engine + CHANGELOG (#1721)
  CHANGELOG.md
  docs/website/guides/components.md
Due: none

fix(theming): register theme tags as Rust tag handlers so {% theme_panel %} works (#1721) (#1728)
  CHANGELOG.md
  docs/website/guides/components.md
  python/djust/tests/test_theme_tags_rust_engine_1721.py
  python/djust/theming/apps.py
  python/djust/theming/rust_handlers.py
Due: pytest

fix(build): generalize cross-IIFE guard to top-level-module refs (#1716)
  scripts/check-cross-iife-refs.mjs
  tests/js/check-cross-iife-refs-1706.test.js
Due: npm-test

docs(changelog): note cross-IIFE guard top-level generalization (#1716)
  CHANGELOG.md
Due: none

fix(build): generalize cross-IIFE guard to top-level-module refs (#1716) (#1729)
  CHANGELOG.md
  scripts/check-cross-iife-refs.mjs
  tests/js/check-cross-iife-refs-1706.test.js
Due: npm-test

ci: promote demo djust_check dogfood to a blocking demo-checks job (#1713)
  .github/workflows/test.yml
  scripts/ci_djust_check_demo.py
  tests/test_ci_djust_check_demo.py
Due: pytest

docs: changelog for #1713 demo-checks blocking gate promotion
  CHANGELOG.md
Due: none

ci: promote demo djust_check dogfood to a blocking demo-checks job (#1713) (#1730)
  .github/workflows/test.yml
  CHANGELOG.md
  scripts/ci_djust_check_demo.py
  tests/test_ci_djust_check_demo.py
Due: pytest

chore(js): resolve 33 eslint warnings + re-add --max-warnings ceiling (#1719)
  .pre-commit-config.yaml
  package.json
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/decorators.js
  python/djust/static/djust/js/pwa.js
  python/djust/static/djust/react-client.js
  python/djust/static/djust/security.js
  python/djust/static/djust/service-worker.js
Due: npm-test

docs(changelog): note #1719 eslint warnings → 0 + --max-warnings ceiling
  CHANGELOG.md
Due: none

chore(js): resolve 33 eslint warnings + re-add --max-warnings ceiling (#1719) (#1731)
  .pre-commit-config.yaml
  CHANGELOG.md
  package.json
  python/djust/static/djust/client-dev.js
  python/djust/static/djust/decorators.js
  python/djust/static/djust/js/pwa.js
  python/djust/static/djust/react-client.js
  python/djust/static/djust/security.js
  python/djust/static/djust/service-worker.js
Due: npm-test

docs(roadmap): mark v1.0.2 milestone COMPLETE (6/6 merged)
  ROADMAP.md
Due: none

docs(retro): milestone v1.0.2 + action tracker update
  CLAUDE.md
  RETRO.md
Due: none

docs(roadmap): add #1727 to v1.0.3 milestone (theming perf follow-up)
  ROADMAP.md
Due: none

docs(roadmap): fold #1727 into v1.0.2 (not a separate 1.0.3)
  ROADMAP.md
Due: none

perf(theming): request-scope memoize theme_context tag bodies (#1727)
  python/djust/tests/test_theme_context_memoize_1727.py
  python/djust/theming/context_processors.py
Due: pytest

docs(changelog): note theme_context request-scope memoization (#1727)
  CHANGELOG.md
Due: none

perf(theming): request-scope memoize theme_context tag bodies (#1727) (#1732)
  CHANGELOG.md
  python/djust/tests/test_theme_context_memoize_1727.py
  python/djust/theming/context_processors.py
Due: pytest

docs: mark v1.0.2 COMPLETE (7/7) — #1727 merged into the patch
  RETRO.md
  ROADMAP.md
Due: none

Bump version to 1.0.2rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(strategy): auto-navigation session → ADR-021 + v1.0.2-1 nav foundation
  RETRO.md
  ROADMAP.md
  docs/adr/021-automatic-spa-navigation.md
  docs/strategy-sessions/2026-06-05-auto-navigation.md
Due: none

feat(nav): auto-derive + auto-emit dj-navigate route map (#1733)
  python/djust/checks.py
  python/djust/routing.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  python/djust/tests/test_route_map_derivation.py
  python/tests/test_checks.py
  python/tests/test_navigation.py
  tests/js/navigation.test.js
  tests/route_map_test_urls.py
Due: npm-test, pytest

docs(nav): document zero-wiring dj-navigate + fix SPA-nav mislabel (#1733)
  CHANGELOG.md
  docs/website/guides/navigation.md
Due: none

feat(nav): auto-derive + auto-emit dj-navigate route map — zero-wiring SPA nav (#1733) (#1736)
  CHANGELOG.md
  docs/website/guides/navigation.md
  python/djust/checks.py
  python/djust/routing.py
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js.map
  python/djust/static/djust/src/18-navigation.js
  python/djust/template_tags/client_config.py
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  python/djust/tests/test_route_map_derivation.py
  python/tests/test_checks.py
  python/tests/test_navigation.py
  tests/js/navigation.test.js
  tests/route_map_test_urls.py
Due: npm-test, pytest

docs(roadmap): mark v1.0.2-1 nav foundation COMPLETE (PR #1736)
  ROADMAP.md
Due: none

Bump version to 1.0.2rc2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/adr/021-automatic-spa-navigation.md
  pyproject.toml
  python/djust/__init__.py
  python/djust/components/__init__.py
  uv.lock
Due: pytest

docs(roadmap): add #1737 + #1738 to v1.0.2-2 drain bucket
  ROADMAP.md
Due: none

docs(changelog): add #1737 SSR render normalization fix entry
  CHANGELOG.md
Due: none

fix(render): normalize initial SSR dj-root to match render_with_diff — kills first-hydration flash (#1737)
  python/djust/mixins/template.py
  python/djust/tests/test_ssr_render_normalization_1737.py
  python/djust/tests/test_strip_whitespace.py
  python/tests/test_csp_nonce_support.py
  tests/js/ssr_hydration_morph_1724.test.js
Due: npm-test, pytest

docs(hooks): integrating third-party libraries (Chart.js) via client hooks (#1738)
  CHANGELOG.md
  docs/website/guides/hooks.md
  docs/website/guides/navigation.md
Due: none

docs(roadmap): mark v1.0.2-2 COMPLETE (PRs #1739, #1740)
  ROADMAP.md
Due: none

docs(retro): v1.0.2 navigation arc (v1.0.2-1 + v1.0.2-2) + action tracker
  RETRO.md
Due: none

docs(roadmap): add #1741 + #1742 to v1.0.2-3 drain bucket
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
