Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: correct 25 medium-severity findings from the #2646 review (#2652)
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  changelog.d/2652-med-doc-findings.documentation.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/components/RUST_COMPONENTS.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/website/core-concepts/templates.md
  docs/website/guides/pwa.md
  docs/website/guides/service-worker.md
  python/djust/decorators.py
  python/djust/schema.py
Due: pytest

docs: address Stage 7 review of #2655 — 8 HIGH, 9 MED, 3 LOW
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  changelog.d/2652-med-doc-findings.documentation.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/README.md
  docs/ai/events.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_ARCHITECTURE.md
  docs/website/api-reference/decorators.md
  docs/website/core-concepts/templates.md
  docs/website/guides/service-worker.md
  docs/website/state/index.md
  python/djust/decorators.py
  python/djust/mcp/server.py
  python/djust/schema.py
Due: pytest

docs: replace phantom PWA API in website/guides/pwa.md with the real surface
  docs/website/guides/pwa.md
Due: none

docs: address Stage 8 re-review — and add the check that stops this recurring
  CONTRIBUTING.md
  changelog.d/2652-med-doc-findings.documentation.md
  docs/README.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/website/guides/pwa.md
  python/djust/mcp/server.py
  python/djust/schema.py
  scripts/check-doc-api-references.py
Due: pytest

docs: make the API-reference check see bullet lists, and fail loudly when blind
  changelog.d/2652-med-doc-findings.documentation.md
  docs/README.md
  scripts/check-doc-api-references.py
Due: pytest

chore: enforce the doc API-reference check as a pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: close the two coverage holes the round-4 checker still had
  .pre-commit-config.yaml
  scripts/check-doc-api-references.py
Due: pytest

fix: parse the hook config with YAML so the scope guard cannot fail open
  scripts/check-doc-api-references.py
Due: pytest

docs: correct 25 medium-severity findings from the #2646 review (#2655)
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  changelog.d/2652-med-doc-findings.documentation.md
  docs/BEST_PRACTICES_AI.md
  docs/JIT_SERIALIZATION_PATTERN.md
  docs/README.md
  docs/ai/events.md
  docs/components/RUST_COMPONENTS.md
  docs/guides/BEST_PRACTICES.md
  docs/guides/multi-tenant.md
  docs/guides/pwa.md
  docs/state-management/STATE_MANAGEMENT_API.md
  docs/state-management/STATE_MANAGEMENT_ARCHITECTURE.md
  docs/website/api-reference/decorators.md
  docs/website/core-concepts/templates.md
  docs/website/guides/pwa.md
  docs/website/guides/service-worker.md
  docs/website/state/index.md
  python/djust/decorators.py
  python/djust/mcp/server.py
  python/djust/schema.py
  scripts/check-doc-api-references.py
Due: pytest

fix: preserve Django verbatim and multiline lexer semantics
  README.md
  changelog.d/2626.fixed.md
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_template_lexer_parity.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: resolve complete extends filter expressions
  README.md
  changelog.d/extends-filter-expression.fixed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_extends_filter_expression.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: cover extends compile failures in differential corpus
  changelog.d/extends-refusal-corpus.fixed.md
  python/tests/test_extends_filter_expression.py
  scripts/filter-parity-differential.py
Due: pytest

fix: validate templates in the compiling backend context
  README.md
  changelog.d/compile-backend-context.fixed.md
  crates/djust_live/src/lib.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/tests/test_compile_backend_context.py
  python/tests/test_load_imports_django_libraries_2547.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: retain typed operands in the add filter
  README.md
  changelog.d/add-typed-operands.fixed.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/tests/test_filter_django_parity_2203.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_add_typed_operands.py
  python/tests/test_int_value_chokepoint_2435.py
  python/tests/test_sequence_shape_preservation_2317_2321.py
  python/tests/test_template_builtins_2347.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve Python types in backend render context
  README.md
  changelog.d/backend-render-value-types.fixed.md
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/tests/test_backend_render_value_types.py
  scripts/django-template-suite-baseline.json
Due: pytest

fix: localize native date and time filter formats
  README.md
  changelog.d/azure-open-guard.fixed.md
  changelog.d/date-time-locale-formats.fixed.md
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/registry.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/contrib/uploads/azure.py
  python/djust/template_libraries.py
  python/djust/tests/test_azure_upload_writer_822.py
  python/tests/test_date_time_locale_formats.py
  python/tests/test_i18n_tags_bridge_2558.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: update assertions for fixed template compatibility gaps
  changelog.d/compatibility-regression-expectations.fixed.md
  python/tests/test_floatformat_parity_2253.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_variable_underscore_rule_2418.py
Due: pytest

fix: resolve URL tags in their render scope
  README.md
  changelog.d/url-render-scope.fixed.md
  crates/djust_templates/src/inheritance.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/djust/template_tags/url.py
  python/tests/test_block_super_nested_overrides.py
  python/tests/test_url_argument_grammar_2577.py
  python/tests/test_url_noreversematch_2563.py
  python/tests/test_url_render_scope_2616.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django parser diagnostics and inline comments
  README.md
  changelog.d/parser-diagnostic-parity.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_if_operator_grammar_2576.py
  python/tests/test_parser_diagnostic_parity.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: align Django template semantics and library compilation
  README.md
  changelog.d/template-semantics.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/errors.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/template/rendering.py
  python/djust/template_libraries.py
  python/tests/test_library_tag_compile_validation.py
  python/tests/test_template_debug_2557.py
  python/tests/test_template_exception_identity.py
  python/tests/test_template_tag_semantics.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django built-in tags and URL quoting
  README.md
  changelog.d/template-builtin-url-parity.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/src/urlquote.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_tags/__init__.py
  python/djust/template_tags/_builtin.py
  python/djust/template_tags/now.py
  python/djust/template_tags/static.py
  python/tests/test_django_verbatim_messages_2581.py
  python/tests/test_for_unpack_arity_2387.py
  python/tests/test_for_unpack_comma_spelling_2377.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_static_now_django_parity.py
  python/tests/test_template_runtime_error_types.py
  python/tests/test_urlize_url_quoting.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django invalid parent resolution
  README.md
  changelog.d/extends-invalid-parent.fixed.md
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_extends_invalid_parent.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve backend options in Django library tags
  changelog.d/library-render-options.fixed.md
  python/djust/template_libraries.py
  python/tests/test_library_render_engine_options.py
Due: pytest

fix: reject duplicate template block declarations
  README.md
  changelog.d/duplicate-template-blocks.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_duplicate_template_blocks.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django inheritance diagnostics and template metadata
  README.md
  changelog.d/template-inheritance-diagnostics.fixed.md
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/tests/test_extends_first_diagnostic.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: resolve included inheritance in its scoped context
  changelog.d/include-inheritance-context.fixed.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_include_inheritance_context.py
  python/tests/test_liveview_include.py
  python/tests/test_template_edge_cases.py
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve temporal types for arithmetic and localized rendering
  README.md
  changelog.d/template-temporal-arithmetic.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_libraries.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_encoded_attributes_2481.py
  python/tests/test_encoded_truthiness_2458.py
  python/tests/test_encoded_value_position_2471_2472_2473.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_json_script_datetime_value_2448.py
  python/tests/test_liveview_path_carries_datetime_2467.py
  python/tests/test_temporal_add_values.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve named tuples in lazy library bindings
  changelog.d/template-namedtuple-bindings.fixed.md
  python/djust/template_libraries.py
  python/tests/test_lazy_namedtuple_bindings.py
Due: pytest

fix: preserve actual safety of firstof assignments
  changelog.d/template-firstof-bound-safety.fixed.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_firstof_bound_safety.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve temporal metadata in date and time filters
  README.md
  changelog.d/template-temporal-metadata.fixed.md
  crates/djust_templates/src/filters.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_liveview_path_carries_datetime_2467.py
  python/tests/test_temporal_format_metadata.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve safety of object string conversion
  README.md
  changelog.d/template-safe-string-conversion.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_core/tests/safe_display_wire.rs
  crates/djust_core/tests/test_encoded_wire_positions_2471_2472.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/safe_display_cache.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_safe_string_conversion.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: cover named tuple values in template differential corpus
  changelog.d/template-namedtuple-differential.fixed.md
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_escape_chain_and_sequence_filters_2281_2283.py
  python/tests/test_sequence_op_chokepoint_2451.py
  scripts/filter-parity-differential.py
Due: pytest

fix: isolate configured template libraries by backend
  changelog.d/template-backend-library-isolation.fixed.md
  python/djust/template_libraries.py
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_backend_library_isolation.py
  python/tests/test_bool_and_none_values_2359.py
Due: pytest

fix: preserve Django template context scopes
  README.md
  changelog.d/template-context-scopes.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/tests/context_scopes.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/tests/test_global_isolation_1883.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/djust/tests/test_regroup_tag.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_context_scope_parity.py
  python/tests/test_filtered_operands_and_slice_2325_2326.py
  python/tests/test_subpath_grant_across_a_binding_2375.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: invalidate partial output after template assignments
  changelog.d/template-partial-assignment-cache.fixed.md
  crates/djust_templates/src/renderer.rs
  python/tests/test_partial_render.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve context formatting flags through template libraries
  README.md
  changelog.d/template-context-format-flags.fixed.md
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/djust/template_libraries.py
  python/tests/test_library_context_format_flags.py
  scripts/django-template-suite-baseline.json
Due: pytest

fix: preserve Django URL argument and namespace semantics
  README.md
  changelog.d/url-django-argument-resolution.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_libraries.py
  python/djust/template_tags/url.py
  python/tests/test_url_builtin_resolution.py
  python/tests/test_url_noreversematch_2563.py
  scripts/django-template-suite-baseline.json
  tests/unit/test_tag_registry.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: match Django filter names and syntax error ordering
  README.md
  changelog.d/template-filter-diagnostics.fixed.md
  crates/djust_templates/src/filter_lexer.rs
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/rendering.py
  python/tests/test_filter_arity_2400.py
  python/tests/test_filter_diagnostic_parity.py
  python/tests/test_filter_lexer_2409.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_tag_operand_parse_time_2411.py
  python/tests/test_unknown_filter_parse_time_2419.py
  scripts/django-template-suite-baseline.json
  tests/unit/test_rust_custom_filters_1121.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix: preserve per-element SafeString semantics in templates
  README.md
  changelog.d/template-safe-values.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_core/src/object_key.rs
  crates/djust_core/tests/safe_string_wire.rs
  crates/djust_core/tests/test_none_missing_codec_2484.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/floatformat.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/pprint.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/src/stringformat.rs
  crates/djust_templates/tests/safe_string_cache.rs
  docs/TEMPLATE_BACKEND.md
  python/tests/test_context_item_safety_2287.py
  python/tests/test_differential_reachability_manifest_2345.py
  python/tests/test_safe_string_value_parity.py
  python/tests/test_subpath_grant_across_a_binding_2375.py
  scripts/django-template-suite-baseline.json
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test: account for named tuples in value safety assertions
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_mark_item_dead_branch_2337.py
Due: pytest
