Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: state the autoescape policy reversal; changelog for the #2665 review fixes
  changelog.d/2665-autoescape.security.md
  changelog.d/2665-review.fixed.md
  docs/SECURE_DEFAULTS.md
  python/djust/_rust.pyi
Due: none

test: give the no-demote case its own subset key so its gate-off holds in file order
  python/tests/test_template_cache_generation_2668.py
Due: pytest

docs: retract the autoescape "policy reversal" — there was none
  changelog.d/2665-autoescape.security.md
  docs/SECURE_DEFAULTS.md
Due: none

fix(templates): address review of #2665 — JIT starvation, per-request re-parse, hot-path lookups
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  python/djust/mixins/jit.py
  python/djust/template/rendering.py
  python/tests/test_review_2665_fixes.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore: export the two #2668 test probes in _rust.pyi __all__
  python/djust/_rust.pyi
Due: none

fix(templates): the idempotent bridge must consult the registry, not just _loaded
  python/djust/template_libraries.py
  python/tests/test_template_cache_generation_2668.py
Due: pytest

test: scoreboard-parity accepts the post-#2665 state (0 unsupported tags)
  tests/test_generate_template_backend_lists.py
Due: pytest

test: scoreboard-parity — an empty board is the steady state since #2665
  tests/test_generate_template_backend_lists.py
Due: pytest

fix(templates): typed literal fallbacks, one-shot iterators in {% for %}, dj-if loop path off the context, safe_join containment (#2571, #2613, #2529, #2660) (#2672)
  changelog.d/2529.security.md
  changelog.d/2571-2613-2529-2660.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_falsy_conversion_2466.py
  python/tests/test_forloop_parity_2402.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_template_semantics_2571_2613_2529_2660.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): the bridge guard must check tag OWNERSHIP, not presence
  python/djust/template_libraries.py
  python/tests/test_template_cache_generation_2668.py
Due: pytest

fix(templates): re-land the #2665 review fixes — JIT starvation, per-request re-parse, hot-path lookups (#2668)
  changelog.d/2665-review.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filter_registry.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/registry_generation_pin.rs
  python/djust/_rust.pyi
  python/djust/mixins/jit.py
  python/djust/template/rendering.py
  python/djust/template_libraries.py
  python/tests/test_review_2665_fixes.py
  python/tests/test_template_cache_generation_2668.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(core): three whole-process failures in Value conversion (#2555, #2624, #2572)
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/djust/config.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(core): declare MAX_CONVERSION_DEPTH in the _rust stub (#2624)
  python/djust/_rust.pyi
Due: none

docs: changelog fragment for the Value-conversion crash fixes (#2555, #2624, #2572)
  changelog.d/2555-2624-2572.fixed.md
Due: none

chore(client): delete the two JS files that were tested or shipped but never bundled
  CONTRIBUTING.md
  docs/guides/pwa.md
  docs/testing/TESTING_JAVASCRIPT.md
  eslint.config.js
  python/djust/pwa/storage.py
  python/djust/static/djust/decorators.js
  python/djust/static/djust/js/pwa.js
  tests/js/cache.test.js
  tests/js/client_state.test.js
  tests/js/debounce.test.js
  tests/js/draft_mode.test.js
  tests/js/loading.test.js
  tests/js/non-bundle-importers-2659.test.js
  tests/js/optimistic.test.js
  tests/js/throttle.test.js
  vitest.config.js
Due: npm-test, pytest

fix(client): stop referencing the unshipped source map from the minified bundles
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.min.js
  python/djust/static/djust/debug-panel.min.js
  scripts/build-client.sh
  tests/unit/test_client_minified.py
Due: npm-test, pytest

fix(render): a tag-like string inside <script>/<style>/<!-- --> never selects or unbalances the dj-root
  crates/djust_live/src/lib.rs
  python/djust/mixins/template.py
  python/tests/test_find_closing_div_pos.py
  tests/integration/test_dj_root_in_script_comment_2663.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(client): autoMount selects the page container, never a valueless dj-view
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03-websocket.js
  tests/js/automount-embedded-root-2632.test.js
Due: npm-test

docs(changelog): fragment for the client-packaging batch (#2662, #2632, #2659, #2663)
  changelog.d/client-packaging-2662-2632-2659-2663.fixed.md
Due: none

fix(client): route EVERY page-container lookup through findPageViewContainer (#2632 review item 1)
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/static/djust/src/05-state-bus.js
  python/djust/static/djust/src/09-event-binding.js
  python/djust/static/djust/src/12-vdom-patch.js
  python/djust/static/djust/src/14-init.js
  python/djust/static/djust/src/18-navigation.js
  python/djust/static/djust/src/46-state-snapshot.js
  tests/js/auto_navigate_1734.test.js
  tests/js/automount-embedded-root-2632.test.js
Due: npm-test

chore(client): make the non-bundle allowlist honest — delete react-client.js, cite #2679 for security.js (#2659 review item 2)
  CONTRIBUTING.md
  python/djust/static/djust/react-client.js
  tests/js/non-bundle-importers-2659.test.js
Due: npm-test

test(client): port the DraftManager + form-data cases to the bundle modules (#2659 review item 3)
  tests/js/draft-manager.test.js
Due: npm-test

test(render): count-pin every dj-root locator through _search_dj_root_open (#2663 review item 4)
  python/tests/test_find_closing_div_pos.py
Due: pytest

docs: drop the last dj-offline value-form and decorators.js references (#2659 review item 5)
  docs/state-management/IMPLEMENTATION_PHASE5.md
  python/djust/pwa/__init__.py
Due: pytest

fix(core): re-derive the conversion ceiling, replace surrogates per code point (#2673 review)
  changelog.d/2555-2624-2572.fixed.md
  crates/djust_core/src/lib.rs
  python/djust/_rust.pyi
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(changelog): fragment for the tz-filter bridge and querystring as-var binding (#2541, #2591, #2558)
  changelog.d/2558-2541-2591.fixed.md
Due: none

fix(templates): bridge the tz filters verbatim and bind {% querystring … as var %} (#2541, #2591; #2558 verified)
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_filters.py
  python/djust/template_libraries.py
  python/djust/template_tags/querystring.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_library_loading_2558_2541_2591.py
  python/tests/test_remaining_builtin_tags_2556.py
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): rotate the scoreboard's "djust refuses" canary off the tz filters (#2541)
  python/tests/test_django_template_suite_2517.py
Due: pytest

fix(templates): `I` on a tz-filter-pinned datetime reads the value's own dst(), not the active zone's rule (#2541)
  crates/djust_templates/src/filters.rs
  python/tests/test_library_loading_2558_2541_2591.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(core): pin the ceiling tests to CPython's DEFAULT recursion limit, not the ambient one
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
Due: pytest

fix(templates): bridge the tz filters verbatim and bind {% querystring … as var %} (#2541, #2591; #2558 verified shipped) (#2676)
  changelog.d/2558-2541-2591.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_templates/src/filters.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template_filters.py
  python/djust/template_libraries.py
  python/djust/template_tags/querystring.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_i18n_tags_bridge_2558.py
  python/tests/test_library_loading_2558_2541_2591.py
  python/tests/test_remaining_builtin_tags_2556.py
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(core): three whole-process failures in Value conversion (#2555, #2624, #2572) (#2673)
  changelog.d/2555-2624-2572.fixed.md
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/djust/_rust.pyi
  python/djust/config.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_value_conversion_crashes_2555_2624_2572.py
  scripts/filter-parity-differential.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

chore(process): add scripts/check-pr-review-verdict.sh — the pre-merge gate reads the verdict, not the shape
  docs/PULL_REQUEST_CHECKLIST.md
  scripts/check-pr-review-verdict.sh
Due: none

fix(benchmarks): bucket 2 no longer double-counts the nested proxy re-wrap time
  PERFORMANCE_BRAINSTORM.md
  tests/benchmarks/model_backed_profile_2532.py
  tests/benchmarks/test_model_backed_render_2532.py
Due: pytest

fix(scripts): changelog-fragments accepts migrating an [Unreleased] entry into a fragment
  scripts/changelog-fragments.py
  tests/test_changelog_fragments.py
Due: pytest

fix(templates): Template::py_render switches dj-if markers off like every Python-facing entry
  crates/djust_templates/src/lib.rs
  python/tests/test_dj_if_marker_plain_backend_2519.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs: teach `{{ component }}` as the canonical spelling (26 `.render` occurrences swept)
  docs/components/API_REFERENCE_COMPONENTS.md
  docs/components/COMPONENTS.md
  docs/components/COMPONENT_BEST_PRACTICES.md
  docs/components/COMPONENT_MIGRATION_GUIDE.md
  docs/components/COMPONENT_PERFORMANCE_OPTIMIZATION.md
  docs/components/COMPONENT_UNIFIED_DESIGN.md
  docs/components/DIVIDER_COMPONENT_SUMMARY.md
  docs/components/LIVECOMPONENT_ARCHITECTURE.md
  docs/components/NAVBAR_COMPONENT_REPORT.md
  docs/components/NAVBAR_QUICK_START.md
  docs/components/PAGINATION_COMPONENT_SUMMARY.md
  docs/example-site/TEMPLATE_CONVERSION_GUIDE.md
  docs/state-management/IMPLEMENTATION_PHASE4.md
  docs/website/guides/components.md
  python/tests/test_component_spelling_2634.py
Due: pytest

docs: changelog fragment for the process/CI batch
  changelog.d/process-batch-2612-2522-2634-2537-2661-2603-2545.changed.md
Due: none

fix(templates): feature-guard the py_render marker test; note verdict retraction in the checklist
  crates/djust_templates/src/lib.rs
  docs/PULL_REQUEST_CHECKLIST.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

chore(ci): promote the Django template_tests scoreboard to a blocking ratchet
  .github/workflows/test.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
