Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

test(templates): keep the #2558 module's German thread-locals inside it
  python/tests/test_i18n_tags_bridge_2558.py
Due: pytest

docs(templates): re-measure the #2558 scoreboard on top of #2563
  changelog.d/2558.added.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

docs(templates): re-measure the scoreboard on the merged tree — 55.68% engine (#2556)
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

feat(templates): five remaining built-in tags — filter, cycle/resetcycle, lorem, debug, querystring (#2556) (#2596)
  CHANGELOG.md
  changelog.d/2556-mvd-floor.security.md
  changelog.d/2556-querydict-lookups.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_xss_prevention.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/checks/templates.py
  python/djust/mixins/context.py
  python/djust/mixins/rust_bridge.py
  python/djust/serialization.py
  python/djust/template/rendering.py
  python/djust/template/serialization.py
  python/djust/template_tags/__init__.py
  python/djust/template_tags/_django_expr.py
  python/djust/template_tags/debug.py
  python/djust/template_tags/lorem.py
  python/djust/template_tags/querystring.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_checks.py
  python/tests/test_context_item_safety_2287.py
  python/tests/test_remaining_builtin_tags_2556.py
  python/tests/test_tag_operand_axis_2355_2356.py
  scripts/django-template-suite-baseline.json
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
  tests/unit/test_rust_custom_filters_1121.py
  tests/unit/test_rust_firstof_cycle_named_safe_1692.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

fix(templates): the two blocktranslate raw-body residues, both silent mangles (#2558)
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  python/djust/template_libraries.py
  python/tests/test_i18n_tags_bridge_2558.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): flip template_resolve_lazy to default ON (ADR-027 movement 3) (#2539)
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  python/djust/_rust.pyi
  python/djust/config.py
  python/djust/render_env.py
  python/tests/adr027_flag.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
  python/tests/test_encoded_attributes_2481.py
  python/tests/test_falsy_with_attributes_2478.py
  python/tests/test_json_script_refusal_decision_2429.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): retarget the generated-list canaries after five tags left the unsupported set (#2556)
  tests/test_generate_template_backend_lists.py
Due: pytest

docs(templates): re-measure the #2558 scoreboard on the merged tree (#2558)
  ROADMAP.md
  changelog.d/2558.added.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

test(templates): cover the two mechanisms the main merge introduced (#2556)
  python/tests/test_autoescape_tag_2556.py
Due: pytest

docs(templates): re-measure the #2556 scoreboard on the merged tree
  changelog.d/2556-autoescape-merge.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): guard all four scope arms on the panic path, and pin the renderer's use of the guards
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_scope_guard_pins_2597.rs
  python/tests/test_i18n_tags_bridge_2558.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): correct three counts to what a recount measures, and name the verbatim change
  ROADMAP.md
  changelog.d/2558.added.md
  docs/TEMPLATE_BACKEND.md
Due: none

feat(templates): implement the {% autoescape %} tag on the Rust engine (#2556) (#2595)
  CHANGELOG.md
  changelog.d/2556-autoescape-merge.fixed.md
  crates/djust_core/src/context.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/checks/templates.py
  python/djust/template_libraries.py
  python/djust/template_tags/__init__.py
  python/tests/lib2556/__init__.py
  python/tests/lib2556/templatetags/__init__.py
  python/tests/lib2556/templatetags/ae2556_lib.py
  python/tests/test_autoescape_tag_2556.py
  python/tests/test_django_template_suite_2517.py
  python/tests/test_needs_autoescape_2284.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  scripts/django-template-suite-baseline.json
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(adr-027): step-status table, movement-3 erratum, and register the flag in the default-consistency pin (#2539)
  docs/adr/027-template-variable-resolution-follows-django.md
  scripts/check-flag-default-consistency.py
Due: pytest

test(config): cover the reader's own fail-to-default arm, found by gate-off (#2539)
  python/djust/config.py
  python/tests/test_adr027_wiring_security_2539.py
Due: pytest

fix(scripts): read the production source when pinning documented flag defaults (#2539)
  scripts/check-flag-default-consistency.py
Due: pytest

docs(templates): document the ADR-027 flip, regenerate the scoreboard baseline (#2539)
  ROADMAP.md
  changelog.d/2539.changed.md
  docs/TEMPLATE_BACKEND.md
  docs/website/guides/template-cheatsheet.md
  scripts/django-template-suite-baseline.json
Due: none

docs(templates): the combined scoreboard, and retire the residue the merge closed
  ROADMAP.md
  changelog.d/2558.added.md
Due: none

docs(templates): name the pins that actually protect the Rust default (#2539)
  crates/djust_core/src/lib.rs
  python/tests/test_adr027_characterization_net_2539.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

feat(templates): implement i18n tags and named cycle state advancement (#2558) (#2597)
  .pre-commit-config.yaml
  ROADMAP.md
  changelog.d/2558.added.md
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/filters.rs
  crates/djust_templates/src/inheritance.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/loop_cache.rs
  crates/djust_templates/src/parser.rs
  crates/djust_templates/src/registry.rs
  crates/djust_templates/src/renderer.rs
  crates/djust_templates/tests/test_scope_guard_pins_2597.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/_rust.pyi
  python/djust/apps.py
  python/djust/render_env.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/template_libraries.py
  python/djust/template_tags/__init__.py
  python/djust/tests/test_lazy_package_init_2559.py
  python/tests/test_i18n_tags_2558.py
  python/tests/test_i18n_tags_bridge_2558.py
  scripts/django-template-suite-baseline.json
  scripts/filter-parity-differential.py
  scripts/generate-template-backend-lists.py
  tests/test_generate_template_backend_lists.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): re-measure the flip against main's post-#2597 base (#2539)
  ROADMAP.md
  changelog.d/2539.changed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

docs(templates): point the held-cell sets at their tracking issue (#2621)
  changelog.d/2539.changed.md
  docs/adr/027-template-variable-resolution-follows-django.md
  python/tests/test_adr027_characterization_net_2539.py
Due: pytest

fix(templates): carry token positions out of the parser so a template error has a template_debug (#2557)
  crates/djust_core/src/errors.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  python/djust/template/exceptions.py
  python/djust/template/rendering.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_template_debug_2557.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): document the template_debug contract and re-measure the scoreboard (#2557)
  changelog.d/2557.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

test(templates): falsify the ADR-027 direction claim; cover the third default literal (#2539)
  python/djust/render_env.py
  python/tests/test_adr027_wiring_security_2539.py
  python/tests/test_json_script_refusal_decision_2429.py
Due: pytest

docs(templates): the ADR-027 flip changes disclosure SHAPE, not size (#2539)
  changelog.d/2539.changed.md
  docs/adr/027-template-variable-resolution-follows-django.md
  docs/website/guides/template-cheatsheet.md
  python/djust/config.py
Due: pytest

docs(config): the sink narrows the segfault path, it does not remove it (#2539)
  python/djust/config.py
Due: pytest

fix(templates): move the empty-tag refusal to Django's own layer and locate a multi-line token (#2557)
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/parser.rs
  python/djust/template/exceptions.py
  python/tests/test_template_debug_2557.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): correct the empty-tag claim, document the multi-line locate, re-measure (#2557)
  changelog.d/2557.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

feat(templates): flip template_resolve_lazy to default ON (ADR-027 movement 3) (#2539) (#2620)
  ROADMAP.md
  changelog.d/2539.changed.md
  crates/djust_core/src/context.rs
  crates/djust_core/src/lib.rs
  crates/djust_live/src/lib.rs
  docs/TEMPLATE_BACKEND.md
  docs/adr/027-template-variable-resolution-follows-django.md
  docs/website/guides/template-cheatsheet.md
  python/djust/_rust.pyi
  python/djust/config.py
  python/djust/render_env.py
  python/tests/adr027_flag.py
  python/tests/test_adr027_characterization_net_2539.py
  python/tests/test_adr027_wiring_security_2539.py
  python/tests/test_dict_mutation_during_iteration_panic_2510.py
  python/tests/test_encoded_attributes_2481.py
  python/tests/test_falsy_with_attributes_2478.py
  python/tests/test_json_script_refusal_decision_2429.py
  python/tests/test_object_attribute_resolution_2501.py
  python/tests/test_opaque_collections_2477_2489.py
  python/tests/test_sidecar_on_all_render_paths_2501.py
  scripts/check-flag-default-consistency.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

docs(templates): re-measure the scoreboard against post-#2620 main (#2557)
  changelog.d/2557.fixed.md
  docs/TEMPLATE_BACKEND.md
  scripts/django-template-suite-baseline.json
Due: none

fix(templates): template errors carry Django's template_debug — name, line and source excerpt on the 500 page (#2557) (#2623)
  changelog.d/2557.fixed.md
  crates/djust_core/src/errors.rs
  crates/djust_live/src/lib.rs
  crates/djust_templates/src/lexer.rs
  crates/djust_templates/src/lib.rs
  crates/djust_templates/src/parser.rs
  docs/TEMPLATE_BACKEND.md
  python/djust/template/exceptions.py
  python/djust/template/rendering.py
  python/tests/test_parse_time_template_syntax_error_2549.py
  python/tests/test_template_debug_2557.py
  scripts/django-template-suite-baseline.json
Due: cargo-fmt, cargo-clippy, pytest, cargo-test, cargo-audit

test(templates): generalize the doc-claim pin to every doc quoting the scoreboard (#2561)
  python/tests/test_django_template_suite_2517.py
Due: pytest

docs(readme): a headline section for the plain-Django template backend (#2561)
  README.md
  changelog.d/2561.documentation.md
Due: none

docs(readme): a headline section for the plain-Django template backend (#2561) (#2629)
  README.md
  changelog.d/2561.documentation.md
  python/tests/test_django_template_suite_2517.py
Due: pytest

docs(roadmap): mark v1.2.0's remaining rows shipped and close the tracking issues
  ROADMAP.md
Due: none

docs(roadmap): mark v1.2.0's remaining rows shipped and close the tracking issues (#2630)
  ROADMAP.md
Due: none

docs(roadmap): add v1.2.0-5 — the discussion #2437 cluster
  ROADMAP.md
Due: none

security(deps): bump @humanfs/node to 0.16.8 (GHSA-p498-v437-472g)
  changelog.d/humanfs-node.security.md
  package-lock.json
Due: none

docs(roadmap): add v1.2.0-5 — the discussion #2437 cluster (#2635)
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
