Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for djust
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix]
        files: ^(python/|tests/)
      # Formatter
      - id: ruff-format
        files: ^(python/|tests/)

  # Rust - Formatting and linting
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all, --check]

      # Rust linting (clippy)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Security - Python security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        # Skip expected patterns in this codebase:
        # B703/B308: mark_safe - expected in templates
        # B324: MD5 - used for non-security cache keys
        # B301: pickle - used for JIT function caching
        # B102: exec - used for JIT code generation
        args: ["-ll", "-ii", "-x", "tests/,python/tests/,python/djust/tests/", "-s", "B703,B308,B324,B301,B102"]
        files: ^python/

  # JavaScript - Test and lint
  - repo: local
    hooks:
      - id: npm-test
        name: npm test
        entry: npm test
        language: system
        types: [javascript]
        pass_filenames: false

  # Security - Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  # Pre-push hooks (slower checks that run before git push)
  - repo: local
    hooks:
      # Python tests
      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

      # Rust tests
      - id: cargo-test
        name: cargo test
        entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

      # Rust dependency audit
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

docs: explicit-exposure save deadline, transient state_error, fresh mount (#3200, #3201)
  changelog.d/3200.fixed.md
  changelog.d/3201.fixed.md
  docs/system-checks.md
  docs/website/guides/error-codes.md
  docs/website/state/explicit-exposure.md
Due: none

feat(checks): add djust.C023 for channels_redis at redis-py 8's 5 s socket timeout
  python/djust/checks/configuration.py
  python/djust/tests/test_c023_redis_socket_timeout_3199.py
Due: pytest

docs(deploy): give channels_redis hosts socket_timeout > 5 s; document C023
  changelog.d/3199.added.md
  docs/system-checks.md
  docs/website/advanced/server-push.md
  docs/website/guides/deployment.md
  docs/website/guides/error-codes.md
  docs/website/guides/scaling-across-cores.md
Due: none

fix(components): style the Python Toast class's type, message and dismiss classes
  python/djust/components/components/toast.py
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_component_css_coverage_3025_2993.py
Due: pytest

docs(components): note the Toast class's classes and --dj-toast-* properties
  changelog.d/3166.fixed.md
  docs/website/guides/components.md
Due: none

fix(theming): darken the djust preset's light-mode link colour to pass AA
  changelog.d/3165.fixed.md
  python/djust/tests/test_djust_preset_link_contrast_3165.py
  python/djust/theming/themes/djust.py
Due: pytest

refactor(exposure): call the explicit save bodies at their use site (#3200)
  python/djust/runtime.py
Due: pytest

fix(presence): leave presence groups on live_redirect and after batch mounts; tenant Redis list() (#3202, #3203)
  changelog.d/3202.fixed.md
  changelog.d/3203.fixed.md
  python/djust/backends/redis.py
  python/djust/backends/registry.py
  python/djust/presence.py
  python/djust/runtime.py
  python/djust/tenants/backends.py
  python/djust/tests/test_presence_templated_key_3202.py
  python/djust/tests/test_redis_presence_list_cost_3203.py
  python/djust/websocket.py
  tests/unit/test_tenant_presence_2973.py
Due: pytest

fix(presence): keep duck-typed presence joins; skip only TenantMixin-only views (#3202)
  python/djust/runtime.py
  python/djust/tests/test_presence_templated_key_3202.py
Due: pytest

fix(render): ignore a dj-root tag inside a Django template comment (#3187)
  changelog.d/3187.fixed.md
  python/djust/mixins/template.py
  python/djust/tests/test_extends_double_document_3187.py
Due: pytest

fix(client): open the WebSocket under the script prefix (#3186)
  changelog.d/3186.fixed.md
  docs/website/guides/deployment.md
  docs/website/guides/server-functions.md
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/djust.d.ts
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  python/djust/tests/test_ws_path_script_name_3186.py
  tests/js/ws_path_script_name_3186.test.js
Due: npm-test, pytest

fix(layout): render set_layout swaps in one sync_to_async hop (#3178)
  changelog.d/3178.fixed.md
  python/djust/mixins/layout.py
  python/djust/runtime.py
  python/djust/tests/test_layout_render_off_loop_3178.py
  python/djust/websocket.py
Due: pytest

fix(checks): harden C023 and probe dict hosts in djust doctor (#3207 review)
  python/djust/checks/configuration.py
  python/djust/management/commands/djust_doctor.py
  python/djust/tests/test_c023_redis_socket_timeout_3199.py
  python/tests/test_management_doctor.py
Due: pytest

docs: C023 precedence and limits, Toast tag scope, #3165 count (#3207 review)
  changelog.d/3165.fixed.md
  changelog.d/3199.added.md
  docs/system-checks.md
  docs/website/guides/components.md
  docs/website/guides/error-codes.md
Due: none

fix(templates): bridge custom filters into the global Rust registry (#3208)
  changelog.d/3208.fixed.md
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/test_isolation.py
  python/djust/tests/test_filter_bridge_global_registry_3208.py
Due: pytest

fix(sse): guard session-id reuse and reserve cap slots before mount (#3164)
  changelog.d/3164.fixed.md
  python/djust/sse.py
  python/djust/tests/test_sse_registry_3164.py
Due: pytest

fix(doctor): redact Redis passwords, probe localhost for empty hosts; fix C023 Method line
  docs/system-checks.md
  python/djust/management/commands/djust_doctor.py
  python/tests/test_management_doctor.py
Due: pytest

fix(presence): MRO-aware TenantMixin skip; reject non-finite cleanup interval (#3202, #3203)
  python/djust/backends/redis.py
  python/djust/runtime.py
  python/djust/tests/test_presence_templated_key_3202.py
  python/djust/tests/test_redis_presence_list_cost_3203.py
Due: pytest

fix(exposure): address #3206 review: ordered saves, catch-up turn, terminal mount deferral, narrower replacement sessions (#3200, #3201)
  python/djust/_exposure_auth.py
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_exposure_child_events.py
  python/djust/tests/test_exposure_stale_session_mount_3201.py
  python/djust/tests/test_sticky_child_persistence_1471.py
Due: pytest

docs: explicit-exposure save ordering, catch-up turn and replacement-session limits (#3200, #3201)
  changelog.d/3200.fixed.md
  changelog.d/3201.fixed.md
  docs/website/state/explicit-exposure.md
Due: none

test: multiloop test app counts failed startups under a lock (#3215)
  python/djust/tests/test_multiloop_serve_3128.py
Due: pytest

fix(presence): join the formatted presence group after mount; two-command Redis presence list (#3202, #3203) (#3205)
  changelog.d/3202.fixed.md
  changelog.d/3203.fixed.md
  python/djust/backends/redis.py
  python/djust/backends/registry.py
  python/djust/presence.py
  python/djust/runtime.py
  python/djust/tenants/backends.py
  python/djust/tests/test_presence_templated_key_3202.py
  python/djust/tests/test_redis_presence_list_cost_3203.py
  python/djust/websocket.py
  tests/unit/test_tenant_presence_2973.py
Due: pytest

fix: address the #3213 review (filter re-bridge, race, and nits)
  changelog.d/3208.fixed.md
  python/djust/scaffolding/init_project.py
  python/djust/template_filters.py
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_filter_bridge_global_registry_3208.py
  python/djust/tests/test_multiloop_serve_3128.py
  scripts/check-lockfile-versions.py
  tests/check_registry.py
  tests/test_check_lockfile_versions.py
  tests/test_check_registry_isolation_3177.py
Due: pytest

test: classify the #3208 re-bridge log call in the log-exposure pin
  python/djust/tests/test_log_exposure_pin.py
Due: pytest

fix(config): reload djust's config when LIVEVIEW_CONFIG/DJUST_CONFIG change (#3217)
  changelog.d/3217.fixed.md
  python/djust/config.py
  python/djust/tests/test_config_follows_override_settings_3217.py
  python/djust/tests/test_runtime_reauth_async_1905.py
Due: pytest

fix: address the #3214 review (SSE owner-change reconnect, ack leak, WS upgrade path, lexer-exact masking)
  changelog.d/3164.fixed.md
  changelog.d/3186.fixed.md
  changelog.d/3187.fixed.md
  docs/website/guides/deployment.md
  python/djust/mixins/template.py
  python/djust/sse.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/djust.d.ts
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  python/djust/tests/test_extends_double_document_3187.py
  python/djust/tests/test_sse_registry_3164.py
  python/djust/tests/test_sse_session_binding_f24_f25.py
  tests/js/connection-state.test.js
  tests/js/sse-transport.test.js
  tests/js/sse_fresh_id_retry_3164.test.js
  tests/js/ws_path_script_name_3186.test.js
Due: npm-test, pytest

fix(sse): use a start deadline, not a GC finalizer, for never-started streams (#3164)
  changelog.d/3164.fixed.md
  python/djust/sse.py
  python/djust/tests/test_sse_registry_3164.py
  python/djust/tests/test_sse_session_binding_f24_f25.py
Due: pytest

fix(config): keep code-set config across reloads, swap atomically (#3213 re-review)
  changelog.d/3217.fixed.md
  python/djust/config.py
  python/djust/template_filters.py
  python/djust/tests/test_config_follows_override_settings_3217.py
  python/djust/tests/test_filter_bridge_global_registry_3208.py
Due: pytest

fix(exposure): address #3206 re-review: one bounded catch-up, escalation, SSE background turns (#3200, #3201)
  python/djust/_exposure_auth.py
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_exposure_child_events.py
  python/djust/tests/test_exposure_sse_resilience_3200.py
  tests/playwright/test_exposure_matrix.py
Due: pytest

docs: explicit-exposure catch-up bounds, escalation, SSE replacement lifetime (#3200, #3201)
  changelog.d/3200.fixed.md
  changelog.d/3201.fixed.md
  docs/website/state/explicit-exposure.md
Due: none

fix: address the #3214 re-review (provisional WS root fallback, C025, SSE abandon cleanup)
  CLAUDE.md
  changelog.d/3164.fixed.md
  changelog.d/3186.fixed.md
  docs/system-checks.md
  docs/website/guides/deployment.md
  docs/website/guides/error-codes.md
  python/djust/checks/configuration.py
  python/djust/sse.py
  python/djust/static/djust/client-sizes.json
  python/djust/static/djust/client.js
  python/djust/static/djust/client.min.js
  python/djust/static/djust/src/00-namespace.js
  python/djust/static/djust/src/03-websocket.js
  python/djust/static/djust/src/03b-sse.js
  python/djust/templatetags/live_tags.py
  python/djust/tests/test_client_config_tag.py
  python/djust/tests/test_sse_registry_3164.py
  tests/js/sse_fresh_id_retry_3164.test.js
  tests/js/ws_path_script_name_3186.test.js
Due: npm-test, pytest

test: derive the #3208 restore expectation from loader ownership
  python/djust/tests/test_filter_bridge_global_registry_3208.py
Due: pytest

fix(exposure): detach child and legacy background tasks from the finished SSE request (#3097, #3200)
  changelog.d/3200.fixed.md
  python/djust/_child_async.py
  python/djust/runtime.py
  python/djust/tests/test_exposure_sse_resilience_3200.py
Due: pytest

refactor(sse): name the start-deadline callback deadline_expired (#3164)
  python/djust/sse.py
Due: pytest

docs: add a Scaling djust guide with multi-pod requirements and measured numbers (#3216)
  changelog.d/3216.documentation.md
  docs/website/_config.yaml
  docs/website/guides/deployment.md
  docs/website/guides/scaling-across-cores.md
  docs/website/guides/scaling.md
Due: none

fix: tooling and test health drain (Group J): #3170 #3172 #3177 #3184 #3181 #3208 (#3213)
  .pre-commit-config.yaml
  Makefile
  changelog.d/3170.fixed.md
  changelog.d/3172.fixed.md
  changelog.d/3184.fixed.md
  changelog.d/3208.fixed.md
  changelog.d/3217.fixed.md
  conftest.py
  python/djust/config.py
  python/djust/scaffolding/init_project.py
  python/djust/template/rendering.py
  python/djust/template_filters.py
  python/djust/test_isolation.py
  python/djust/tests/test_config_follows_override_settings_3217.py
  python/djust/tests/test_djust_init.py
  python/djust/tests/test_filter_bridge_global_registry_3208.py
  python/djust/tests/test_free_threaded_class_caches_3151.py
  python/djust/tests/test_log_exposure_pin.py
  python/djust/tests/test_multiloop_serve_3128.py
  python/djust/tests/test_runtime_reauth_async_1905.py
  scripts/check-lockfile-versions.py
  tests/check_registry.py
  tests/test_check_lockfile_versions.py
  tests/test_check_registry_isolation_3177.py
Due: pytest

docs: address review of the Scaling djust guide (#3216)
  docs/website/guides/scaling.md
Due: none

fix(exposure): explicit-exposure resilience: save deadline excludes queueing; fresh mount for a lost session (#3200, #3201) (#3206)
  changelog.d/3200.fixed.md
  changelog.d/3201.fixed.md
  docs/system-checks.md
  docs/website/guides/error-codes.md
  docs/website/state/explicit-exposure.md
  python/djust/_child_async.py
  python/djust/_exposure_auth.py
  python/djust/_exposure_sessions.py
  python/djust/checks/configuration.py
  python/djust/runtime.py
  python/djust/tests/test_explicit_save_deadline_3200.py
  python/djust/tests/test_exposure_child_events.py
  python/djust/tests/test_exposure_root_background_turns.py
  python/djust/tests/test_exposure_sse_resilience_3200.py
  python/djust/tests/test_exposure_stale_session_mount_3201.py
  python/djust/tests/test_sticky_child_persistence_1471.py
  tests/playwright/test_exposure_matrix.py
Due: pytest

test(sse): wait for the thread-safe deadline cancel instead of one yield (#3164)
  python/djust/tests/test_sse_registry_3164.py
Due: pytest

docs: note that #3200 and #3201 are fixed on main in the Scaling guide
  docs/website/guides/scaling.md
Due: none
