Repository djust-org/djust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, npm-test, pytest, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --check

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

npm-test:
  name: npm test
  entry: npm test
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'PYTHONPATH=. .venv/bin/python -m pytest tests/ python/tests/ -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-test:
  name: cargo test
  entry: bash -c 'PYO3_PYTHON=$(pwd)/.venv/bin/python cargo test --workspace --exclude djust_live --release -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(storybook): answer every preview event, style the unstyled, fill empty examples
  changelog.d/storybook-audit-cleanup.fixed.md
  python/djust/components/static/djust_components/components.css
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/live_views.py
Due: pytest

feat(gallery): give 106 components a preview on their storybook page
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/theming/gallery/component_registry.py
Due: pytest

docs(adr): ADR-031 — Accepted, citations re-pinned, the four doc defects recorded as fixed
  docs/adr/031-class-level-component-rendering.md
Due: none

docs(adr): rewrite ADR-030 around the rendered-body bridge that already exists
  docs/adr/030-raw-block-tag-registration-kind.md
Due: none

fix(storybook): read a descriptor's state through its BoundComponent
  changelog.d/storybook-bound-component-state.fixed.md
  python/djust/tests/test_storybook_liveview.py
  python/djust/tests/test_storybook_preview_fidelity.py
  python/djust/theming/gallery/live_views.py
Due: pytest

fix(gallery): persist the preset choice instead of only the URL
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/theming/templates/djust_theming/gallery/gallery.html
Due: none

fix(gallery): three component previews rendered nothing, silently
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/tests/test_gallery_component_sweep.py
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(gallery): sanitize cookie-derived values before logging
  python/djust/components/gallery/views.py
Due: pytest

docs(adr): ADR-031 M9 — name the two Rust entry points, and the divergence beside them
  docs/adr/031-class-level-component-rendering.md
Due: none

fix(mount): percent-decoded URL kwargs made LiveView pages visible but inert
  changelog.d/url-kwargs-percent-encoded.fixed.md
  python/djust/runtime.py
  python/djust/websocket.py
Due: pytest

fix(meter): give segments a default fill so the bar is visible
  python/djust/components/static/djust_components/components.css
Due: none

feat(theming): make tabs, dropdown and modal server-driven
  changelog.d/theming-components-server-driven.changed.md
  python/djust/runtime.py
  python/djust/tests/test_theming_batch1_components.py
  python/djust/tests/test_theming_storybook.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/urls.py
  python/djust/theming/static/djust_theming/js/components.js
  python/djust/theming/templates/djust_theming/components/dropdown.html
  python/djust/theming/templates/djust_theming/components/modal.html
  python/djust/theming/templates/djust_theming/components/tabs.html
  python/djust/theming/templates/djust_theming/themes/ios/components/tabs.html
  python/djust/theming/templatetags/theme_components.py
Due: npm-test, pytest

test(gallery): update the two expectations the last two commits invalidated
  python/djust/tests/test_theming_storybook.py
  python/djust/theming/templates/djust_theming/gallery/gallery.html
Due: pytest

fix: make storybook previews show the component they document
  changelog.d/storybook-preview-fidelity.fixed.md
  changelog.d/storybook-source-and-styles.added.md
  changelog.d/storybook-usage-snippet.changed.md
  python/djust/components/components/model_selector.py
  python/djust/components/components/segmented_progress.py
  python/djust/components/gallery/views.py
  python/djust/components/static/djust_components/components-classes.css
  python/djust/components/static/djust_components/components.css
  python/djust/components/templates/djust_components/gallery/_base.html
  python/djust/tests/test_storybook_preview_fidelity.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/context.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/storybook.py
  python/djust/theming/management/commands/djust_theme.py
  python/djust/theming/templates/djust_theming/components/card.html
  python/djust/theming/templates/djust_theming/gallery/editor.html
  python/djust/theming/templates/djust_theming/gallery/gallery.html
  python/djust/theming/templates/djust_theming/gallery/storybook_base.html
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
  python/djust/theming/templatetags/theme_components.py
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

fix(storybook): put the LiveView mount on a div so patches resolve
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/tests/test_storybook_liveview.py
  python/djust/theming/templates/djust_theming/gallery/storybook_base.html
Due: pytest

fix(components): style the last element and variant classes
  python/djust/components/static/djust_components/components.css
Due: none

docs(adr): ADR-031 M12 — cite the gate and the stringify lines, not their neighbours
  docs/adr/031-class-level-component-rendering.md
Due: none

feat(gallery): make the storybook a real djust app, without bespoke JavaScript
  changelog.d/storybook-liveview-pages.changed.md
  python/djust/components/gallery/live_views.py
  python/djust/components/templates/djust_components/gallery/_base.html
  python/djust/components/templates/djust_components/gallery/category.html
  python/djust/tests/test_gallery_view_mount_path.py
  python/djust/tests/test_storybook_liveview.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/urls.py
  python/djust/theming/templates/djust_theming/gallery/storybook_base.html
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
  python/djust/theming/templates/djust_theming/gallery/storybook_index.html
Due: pytest

fix(storybook): give the last data-driven components examples with content
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(storybook): give fifteen more components examples with content
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(storybook): answer the events the richer examples emit, and style data_table
  python/djust/components/static/djust_components/components.css
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/live_views.py
Due: pytest

fix(storybook): give the layout containers content to hold
  python/djust/theming/gallery/component_registry.py
Due: pytest

fix(split_pane): render it on the Rust engine via Django's own node
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/components/rust_handlers.py
  python/djust/tests/test_split_pane_rust_engine.py
Due: pytest

fix(components): style the progress ring, segmented progress, badge and status dot
  python/djust/components/static/djust_components/components.css
Due: none

fix(storybook): repair six component previews and cache-bust theming assets
  changelog.d/storybook-component-preview-fixes.fixed.md
  python/djust/components/components/code_snippet.py
  python/djust/components/components/spinner.py
  python/djust/components/static/djust_components/components.css
  python/djust/tests/test_code_snippet_copy_button.py
  python/djust/tests/test_theming_context_cache.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/context.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/storybook.py
  python/djust/theming/templates/djust_theming/theme_head.html
  python/djust/theming/templatetags/theme_tags.py
Due: pytest

docs(adr): ADR-031 — a class-level LiveComponent's State renders
  docs/adr/031-class-level-component-rendering.md
Due: none

docs(adr): rewrite ADR-030 — native handlers first, bridge second
  docs/adr/030-raw-block-tag-registration-kind.md
Due: none

fix(storybook): ten more previews that rendered empty with a populated example
  python/djust/theming/gallery/component_registry.py
Due: pytest

test(storybook): assert every interactive component answers its event
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/tests/test_storybook_liveview.py
Due: pytest

docs(adr): ADR-031 — record M12, the LiveView path drops an opaque class-level value
  docs/adr/031-class-level-component-rendering.md
Due: none

docs(runtime): the descriptor fall-through explains the case that still reaches it
  python/djust/runtime.py
Due: pytest

fix(storybook): render template-component previews instead of printing them
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/tests/test_storybook_component_imports.py
  python/djust/theming/gallery/storybook.py
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
Due: pytest

feat(storybook): make the component previews a real djust view
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/tests/test_storybook_liveview.py
  python/djust/tests/urls_theming.py
  python/djust/theming/gallery/live_views.py
  python/djust/theming/gallery/urls.py
  python/djust/theming/templates/djust_theming/gallery/storybook_base.html
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
Due: pytest

fix(gallery): make the preset switcher apply the whole preset
  .pre-commit-config.yaml
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/theming/templates/djust_theming/gallery/gallery.html
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
  scripts/check-template-comments.py
Due: pytest

docs(adr): ADR-030 — raw block-consuming tags render through the library's own node
  docs/adr/030-raw-block-tag-registration-kind.md
Due: none

docs(adr): rewrite ADR-031 — a class-level component is bound per view
  docs/adr/031-class-level-component-rendering.md
Due: none

fix(storybook): document an import that actually imports
  changelog.d/theming-gallery-defaults.fixed.md
  python/djust/components/__init__.py
  python/djust/components/server_event_toast.py
  python/djust/tests/test_storybook_component_imports.py
  python/djust/theming/gallery/component_registry.py
  python/djust/theming/gallery/storybook.py
  python/djust/theming/templates/djust_theming/gallery/storybook_detail.html
Due: pytest

test(storybook): drop the #2900 xfail — the upstream fix landed
  python/djust/tests/test_storybook_liveview.py
Due: pytest

perf(storybook): the sidebar's unfiltered list is not a template value
  python/djust/theming/gallery/live_views.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  npm-test: any of: \.(js|mjs|cjs)$
  pytest: any of: \.py$
  cargo-test: any of: \.rs$
  cargo-audit: any of: \.rs$
